{% extends "support_layout.html" %}
{% block title_block %}Credits{% endblock %}
{% block screen_name_block %}Credits{% endblock %}
{% block header_content %}{% endblock %}

{% block page_head_block %}
  <style>
    .support-header {
      text-align: center;
      border-bottom: 1px solid white;
    }

    .credits-block {
      font-size: 18px;
      margin: 16px 0;
    }
    .credits-large { font-size: 20px; }
    
    .credits-name {
      font-variant: small-caps;
    }
    
    .credits-stack+.credits-stack {
      margin-top: 1em;
    }
    .credits-stack>.credits-role {
      text-align: center;
      margin-bottom: 0.2em;
    }
    .credits-stack>.credits-name {
      text-align: center;
    }
    .credits-stack>.credits-name+.credits-name {
      margin-top: 0.2em;
    }
    
    .credits-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
    }
    .credits-row+.credits-row {
      margin-top: 2px;
    }
    .credits-row>.credits-role {
      text-align: right;
      margin-right: 0.5em;
      flex: 0 0 50%;
    }
    .credits-row>.credits-name {
      margin-left: 0.5em;
      flex: 0 0 50%;
    }
    
    .credits-list>.credits-role {
      text-align: center;
    }
    .credits-list>.credits-names {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
    }
    .credits-list>.credits-names>.credits-name {
      flex: 0 0 25%;
      text-align: center;
      margin-top: 2px;
    }
    
    .credits-blurb {
      text-align: center;
    }
    
  </style>
{% endblock %}

{% block page_body %}
<div class="support-section">
  <div class="support-header">Header</div>
  <div class="credits-block credits-large">
    <div class="credits-stack">
      <div class="credits-role">Role</div>
      <div class="credits-name">Name</div>
      <div class="credits-name">Name</div>
    </div>
  </div>
</div>

<div class="support-section">
  <div class="support-header">Header</div>
  <div class="credits-block">
    <div class="credits-row">
      <div class="credits-role">Role</div>
      <div class="credits-name">Name</div>
    </div>
    <div class="credits-row">
      <div class="credits-role"></div>
      <div class="credits-name">Name</div>
    </div>
  </div>
  <div class="credits-block">
    <div class="credits-list">
      <div class="credits-role">Role</div>
      <div class="credits-names">
        <div class="credits-name">Name</div>
        <div class="credits-name">Name</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
