{% extends "support_layout.html" %}
{% block title_block %}Errata{% endblock %}
{% block screen_name_block %}Errata{% endblock %}
{% block header_content %}{% endblock %}

{% block page_head_block %}
{% endblock %}


{% block page_body %}
{% set target = 'full_puzzle' if session.usertype == 'writingteam' else 'puzzle' %}
<!-- Format example -->
<!-- <p><b>Puzzle title:</b> An erratum was published for this puzzle at 6:55 PM EST 01/12/2018. Please see the <a href="{{ url_for(target, puzzle_id='puzzle_id') }}">puzzle page</a> for additional information.</p> -->

<p>There are no published errata at this time.</p>

<p>This is not a puzzle.</p>
{% endblock %}
