{% extends "support_layout.html" %}
{% block title_block %}FAQ{% endblock %}
{% block screen_name_block %}FAQ{% endblock %}
{% block header_content %}{% endblock %}

{% block page_head_block %}
<style>
  #main-page-content .faq-bullet {
    list-style-type: none;
    padding-left: 0;
  }
</style>
{% endblock %}


{% block page_body %}
<div class="support-section">
  <div class="support-header">Scheduling</div>
  <ul>
    <li>[When is kickoff?]</li>
    <li>[When are puzzles live?]</li>
    <li>[When does HQ close?]</li>
    <li>[When is wrapup?]</li>
  </ul>
</div>

<div class="support-section">
  <div class="support-header">Q&amp;A</div>
<!--
  Format example
  <ul class="faq-bullet">
    <li><b>Q</b>: Question text</li>
    <li><b>A</b>: Answer text</li>
  </ul>
-->

</div>

<p>More questions? Contact HQ.</p>
{% endblock %}
