{% macro generate_puzzle_styles(puzzle) %}
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
  {{ set_icon_styles(puzzle.puzzleId=='games-supermeta') }}
  
{% endmacro %}

{% macro set_icon_styles(includeRobber) %}
  {%- if includeRobber -%}
    <link rel="stylesheet" type="text/css" href="{{ asset_url_for('rounds/games/styles/robber.css') }}"/>
  {%- endif -%}
  <script>
  $(window).on('load', function() {
    var cap = 100;
    var mid = 240;
    $('.puzzle-container').height(Math.ceil(($('.puzzle-container').height()-2*cap)/mid)*mid+2*cap)  
  });
  </script>
{% endmacro %}

{% set tile_colors = {
  'back': '#5b518a',
  'back-alt': '#a12e31',
  'field': '#e4b46f',
  'forest': '#2a4f27',
  'mountain': '#43627a',
  'hill': '#b4442d',
  'pasture': '#bdd86d',
  'desert': '#95a36c',
  'water': '#29a8e0',
  'robber': '#f8f8f8',
} -%}

{% macro generate_puzzle_asset(special, num) %}
  {%- set puzzle_link_action = 'full_puzzle' if session.usertype == 'writingteam' else 'puzzle' -%}
  {%- set puzzle_id = 'games-'+special if special in ['supermeta','antemeta'] else ('games-' + num|string) -%}
  {%- if puzzle_id in puzzle_visibilities and puzzle_visibilities[puzzle_id].status in ['UNLOCKED','SOLVED'] -%}
    {%- set status = puzzle_visibilities[puzzle_id].status -%}
    {%- set answer = puzzle_visibilities[puzzle_id].solvedAnswers|join(', ') if status=='SOLVED' else none -%}
    {%- set props = puzzle_properties[puzzle_id].get('puzzleProperties', {}) -%}
    {%- set link_puzzle_id = props.get('DisplayIdProperty', {}).get('displayId', puzzle_id) -%}
    {%- set display_name = props.get('DisplayNameProperty', {}).get('displayName', puzzle_id) -%}
    {%- set roads = props.get('RoadsProperty', {}).get('roads', []) -%}
    {%- set tile = props.get('TileProperty', {}).get('tile', '') -%}
    {%- set chit = props.get('ChitProperty', {}).get('chit', none) -%}
   
    {%- set link = url_for(puzzle_link_action, puzzle_id=link_puzzle_id) -%}

    {%- if special=='supermeta' -%}
      {{ generate_robber(status, link, display_name, answer) }}
    {%- else -%}
      <div class="tile-container">
        <svg class="tile-water" viewBox="-200 -200 400 400" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <polygon style = "fill: {{tile_colors['water']}}" {{hexpoints()}} />
        </svg>
        {{ generate_hex(special, tile, status, link, display_name, answer) }}
        {%- for road in roads|sort -%}
          <div class="road {{road|lower}}"></div>
        {%- endfor -%}
        {%- if status == 'SOLVED' and chit is not none -%}
          <div class="chit">{{chit}}</div>
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- else -%} 
    {%- if not isRobber -%}
      {# Have to generate empties #}
      <div class="tile-container none"></div>
    {%- endif -%}
  {%- endif -%}
{% endmacro %}

{% macro generate_hex(special, tile, status, link=none, title=none, answer=none) %}
  {%- if special == 'supermeta' -%}
    {%- set tile_image = 'robber.svg' if status == 'SOLVED' else 'robber-back.svg' -%}
    {%- set border_color = tile_colors['robber'] -%}
  {%- else -%}
    {%- set tile_name = tile if status == 'SOLVED' else 'back-alt' if special=='antemeta' else 'back' -%}
    {%- set border_color = tile_colors[tile_name] -%}
    {%- set tile_image = 'tiles/' + tile_name + '.svg' -%}
  {%- endif -%}
  <svg class="tile {{status|lower}}" viewBox="-200 -200 400 400" xmlns="http://www.w3.org/2000/svg" version="1.1"
    {% if link is not none %} 
      data-toggle="tooltip"
      data-placement="center"
      title="{{title}}"
      {% if answer is not none %} data-answer="{{answer}}" {% endif %}
    {% endif %}
  >
    <defs>
      <clipPath id="card-image-mask">
        <polygon {{hexpoints()}} />
      </clipPath>
    </defs>
    {% call conditional_xlink(link, title, answer) %}
      <g clip-path="url(#card-image-mask)">
        {%- if special == 'supermeta' -%}
          <polygon class="tile-border" style="fill:#ffffff; stroke:{{border_color}};" {{hexpoints()}} />
          <image class="robber-image" x="-150" y="-150" width="300" height="300" xlink:href="{{ asset_url_for('rounds/games/images/' + tile_image) }}" />
        {%- else -%}
          <image x="-200" y="-200" width="400" height="400" xlink:href="{{ asset_url_for('rounds/games/images/' + tile_image) }}" />
        {%- endif -%}
        <polygon class="tile-border" style="fill:none; stroke:{{border_color}};" {{hexpoints()}} />
      </g>
    {% endcall %}
  </svg>
{% endmacro %}

{% macro hexpoints() %}
  points="0,-200 173.2050807568877,-100 173.2050807568877,100 0,200 -173.2050807568877,100 -173.2050807568877,-100"
{% endmacro %}

{% macro conditional_xlink(link=none, title=none, answer=none) %}
  {% if link is not none %}
    <a xlink:href="{{link}}">
      {{ caller() }}
    </a>
  {% else %}
    {{ caller() }}
  {% endif %}
{% endmacro %}

{% macro generate_robber(status, link=none, title=none, answer=none) %}
  {# Can't use an image map because want the desert anchor to be clickable in the unmapped areas #}
  {%- set robber_asset = 'robber.svg' if status=='SOLVED' else 'robber-back.svg' -%}
  <div class="robber {{status|lower}}">
    <img {{ img_src_for('rounds/games/images/' + robber_asset) }} />
    {%- if link is not none -%}
    <svg viewBox="0 0 120 77" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <a xlink:href="{{link}}"
        data-toggle="tooltip"
        data-placement="track"
        title="{{title}}"
        {% if answer is not none %} data-answer="{{answer}}" {% endif %}
      >
        <polygon style="fill:transparent;" points="25,69,35,56,46,54,64,57,75,66,84,68,95,66,105,58,117,61,99,45,95,52,89,56,81,55,72,47,76,44,73,41,77,36,75,30,70,25,66,22,73,21,69,15,63,17,57,20,47,20,45,18,48,8,44,5,38,3,30,3,27,5,27,17,23,22,23,32,15,30,11,21,18,19,17,13,20,9,14,12,9,11,6,18,2,21,2,30,7,39,13,43,21,44,29,42,35,40,41,44,45,44,52,42,52,48,39,46,30,48,21,52,15,57,14,62,4,62,26,73"/>
      </a>
    </svg>
    {%- endif -%}
  </div>
{% endmacro %}

{% macro generate_puzzle_page_icon(puzzle) %}
  {%- set puzzle_id = puzzle.puzzleId -%}
  {%- set status = puzzle_visibility.status -%}
  {%- if puzzle_id == 'games-supermeta' -%}
    {{ generate_hex('supermeta', none, status) }}
  {%- else -%}
    {%- set tile = puzzle.puzzleProperties.get('TileProperty', {}).get('tile', '') -%}
    {%- set special = 'antemeta' if puzzle_id == 'games-antemeta' else '' -%}
    {{ generate_hex(special, tile, status) }}
  {%- endif -%}
{% endmacro %}
