{% import "/shared_macros.html" as shared_macros with context %}

{% macro generate_puzzle_asset(phase, step) %}
  {%- set puzzle_link_action = 'full_puzzle' if session.usertype == 'writingteam' else 'puzzle' -%}
  {%- set puzzle_id = 'hacking-supermeta' if phase=='flee' else ('hacking-' + phase + '-' + step) -%}
  {%- if puzzle_id in puzzle_visibilities -%}
    {%- set status = puzzle_visibilities[puzzle_id].status -%}
    {%- set answer = puzzle_visibilities[puzzle_id].solvedAnswers|join(', ') if status=='SOLVED' else none -%}
    {%- set props = puzzle_properties[puzzle_id].get('puzzleProperties', {}) -%}
    {%- set link_puzzle_id = props.get('DisplayIdProperty', {}).get('displayId', puzzle_id) -%}
    {%- set display_name = props.get('DisplayNameProperty', {}).get('displayName', puzzle_id) -%}
    {%- set symbol = props.get('SymbolProperty', {}).get('symbol', none) -%}
    
    {%- set link = url_for(puzzle_link_action, puzzle_id=link_puzzle_id) -%}
    
    {%- if status in ['UNLOCKED','SOLVED'] -%}
      {%- if phase=='flee' or step=='meta' -%}
        {# Ladder #}
        {%- set areas = {
          'scout': ('poly','542,0,373,150,374,164,556,337,615,337,615,348,432,519,432,532,516,532,700,359,700,346,641,346,641,323,468,161,626,12,626,0'),
          'build': ('rect','198,0,239,437'),
          'deploy': ('poly','360,292,540,292,540,297,532,309,352,309,352,304'),
          'flee': ('poly','71,1165,111,1166,111,1137,116,1081,128,1032,147,980,172,924,192,879,205,832,210,789,212,753,209,704,201,660,189,619,172,578,156,543,144,502,137,458,138,421,140,389,145,364,154,330,169,291,187,259,198,242,156,242,141,264,127,299,115,332,105,366,100,391,98,415,98,442,98,476,106,514,115,537,129,574,145,609,159,654,169,700,171,756,169,807,160,856,146,895,131,929,115,962,100,996,87,1030,78,1074,73,1103,71,1137'),
        } -%}
        {%- set area = areas[phase] -%}
        <area href="{{link}}"
          class="ladder"
          shape="{{area[0]}}"
          coords="{{area[1]}}"
          data-toggle="tooltip"
          data-placement="track"
          title="{{display_name}}"
          {% if answer is not none %} data-answer="{{answer}}" {% endif %}
        />
      {%- else -%}
        {# Regular puzzle or exit sign #}
        <a href="{{link}}"
          class="{{'exit' if step=='runaround' else 'sign-box'}}"
          data-toggle="tooltip"
          data-placement="bottom"
          title="{{display_name}}"
          {% if answer is not none %} data-answer="{{answer}}" {% endif %}
        >
          {{ generate_icon_helper(phase, step, symbol, status) }}
        </a>
      {%- endif -%}
    {%- endif -%}
  {%- endif %}
{% endmacro %}

{% macro generate_icon_helper(phase, special, symbol, status) %}
  {%- set classes = "symbol " + phase + " " + status|lower -%}
  {%- if phase=='flee' or special=='meta' -%}
    {%- set filename = phase + '.svg' -%}
  {%- elif special=='runaround' -%}
    {%- set filename = 'exit.svg' -%}
  {%- elif symbol is not none -%}
    {%- set filename = phase + '-' + symbol + '.svg' -%}
  {%- endif -%}
  <img class="{{classes}}" {{img_src_for('rounds/hacking/images/icons/' + filename)}}/>
{% endmacro %}

{% macro generate_puzzle_page_icon(puzzle) %}
  {%- set puzzle_id = puzzle.puzzleId -%}
  {%- set status = shared_macros.puzzle_display_state() -%}
  {%- if (puzzle_id == 'hacking-supermeta') -%}
    {{ generate_icon_helper('flee', none, 'm', status) }}
  {%- else -%}
    {%- set id_parts = puzzle_id.split('-') -%}
    {%- set parsed = id_parts|length == 3 and id_parts[0] == 'hacking' -%}
    {%- if parsed -%}
      {%- set symbol = puzzle.puzzleProperties.get('SymbolProperty', {}).get('symbol', none) -%}
      {{ generate_icon_helper(id_parts[1], id_parts[2], symbol, status) }}
    {%- endif -%}
  {%- endif -%}
{% endmacro %}

{% macro generate_puzzle_styles(puzzle) %}
  <link href="https://fonts.googleapis.com/css?family=Six+Caps" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ asset_url_for('rounds/hacking/styles/' + phase(puzzle) + '.css') }}"/>
{% endmacro %}

{% macro phase(puzzle) %}
  {%- set puzzle_id = puzzle.puzzleId -%}
  {%- if (puzzle_id == 'hacking-supermeta') -%}
    flee
  {%- else -%}
    {%- set id_parts = puzzle_id.split('-') -%}
    {%- set parsed = id_parts|length == 3 and id_parts[0] == 'hacking' -%}
    {{id_parts[1]|lower if parsed else ''}}
  {%- endif -%}
{% endmacro %}
