{%- set mapData = {
  'scout': {
    'message': 'We scouted a deployment site on top of the dome, but we&rsquo;ve only been able to locate the top level of the blueprints.  We&rsquo;ll have to find the other levels to plan our escape.',
    'level': 'Level 3 of 3',
    'map': [
      [none, none, none, none, none, none, none, none, none, none, none],
      [none, none, none, none, none, 'stairs', none, none, none, none, none],
      [none, none, none, 'microphone', 'motion', 'combination', 'camera', 'combination', none, none, none],
      [none, none, 'stairs', 'rfid', 'keycode', 'thumbprint', 'rfid', 'stairs', 'keycode', none, none],
      [none, none, 'camera', 'lasers', 'thumbprint', 'motion', 'combination', 'motion', 'lasers', none, none],
      [none, 'stairs', 'lasers', 'rfid', 'combination', 'start', 'camera', 'rfid', 'thumbprint', 'microphone', none],
      [none, none, 'thumbprint', 'camera', 'motion', 'thumbprint', 'combination', 'lasers', 'stairs', none, none],
      [none, none, 'microphone', 'stairs', 'keycode', 'camera', 'rfid', 'keycode', 'microphone', none, none],
      [none, none, none, 'keycode', 'lasers', 'stairs', 'thumbprint', 'microphone', none, none, none],
      [none, none, none, none, none, 'motion', none, none, none, none, none],
      [none, none, none, none, none, none, none, none, none, none, none]
    ],
  },
  'build': {
    'message': '',
    'level': 'Level 2 of 3',
    'map': [
      [none, none, none, none, none, none, none, none, none, none, none],
      [none, none, none, 'saw', 'drill', 'stairs', 'hammer', 'screwdriver', none, none, none],
      [none, none, 'iron', 'wrench', 'iron', 'micrometer', 'screwdriver', 'drill', 'iron', none, none],
      [none, 'wrench', 'stairs', 'micrometer', 'iron', 'wrench', 'micrometer', 'stairs', 'pliers', 'hammer', none],
      [none, 'pliers', 'drill', 'drill', 'stairs', 'wrench', 'pliers', 'saw', 'hammer', 'micrometer', none],
      [none, 'stairs', 'hammer', 'pliers', 'drill', 'hammer', 'stairs', 'screwdriver', 'saw', 'pliers', none],
      [none, 'micrometer', 'hammer', 'micrometer', 'iron', 'iron', 'iron', 'wrench', 'stairs', 'hammer', none],
      [none, 'screwdriver', 'drill', 'stairs', 'wrench', 'screwdriver', 'saw', 'drill', 'hammer', 'screwdriver', none],
      [none, none, 'iron', 'drill', 'pliers', 'stairs', 'saw', 'screwdriver', 'micrometer', none, none],
      [none, none, none, 'saw', 'wrench', 'saw', 'pliers', 'stairs', none, none, none],
      [none, none, none, none, none, none, none, none, none, none, none]
    ],
  },
  'deploy': {
    'message': 'We&rsquo;ll need to make it to the extraction point at the base of the dome to meet the heli.',
    'level': 'Level 1 of 3',
    'map': [
      [none, none, none, 'cow', 'flyer', 'car', 'car', 'lem', none, none, none],
      [none, none, 'lem', 'tardis', 'firetruck', 'stairs', 'tardis', 'lem', 'lem', none, none],
      [none, 'firetruck', 'lem', 'firetruck', 'tardis', 'cow', 'flyer', 'tardis', 'firetruck', 'car', none],
      ['car', 'cow', 'stairs', 'firetruck', 'flyer', 'cow', 'flyer', 'firetruck', 'firetruck', 'tardis', 'car'],
      ['lem', 'lem', 'firetruck', 'car', 'stairs', 'tardis', 'firetruck', 'tardis', 'flyer', 'flyer', 'tardis'],
      ['car', 'stairs', 'flyer', 'flyer', 'firetruck', 'car', 'stairs', 'cow', 'cow', 'cow', 'firetruck'],
      ['tardis', 'lem', 'cow', 'flyer', 'tardis', 'tardis', 'flyer', 'car', 'stairs', 'car', 'firetruck'],
      ['flyer', 'car', 'cow', 'stairs', 'cow', 'flyer', 'flyer', 'tardis', 'firetruck', 'lem', 'lem'],
      [none, 'lem', 'lem', 'cow', 'cow', 'flyer', 'lem', 'cow', 'car', 'tardis', none],
      [none, none, 'tardis', 'car', 'flyer', 'tardis', 'car', 'stairs', 'cow', none, none],
      [none, none, none, 'car', 'lem', 'finish', 'firetruck', 'firetruck', none, none, none]
    ],
  },
} -%}

{% macro generate_map(phase) %}
  <div class="map-page">
    <div class="map-info">
      <div>MIT Great Dome</div>
      <div>{{ mapData[phase]['level'] }}</div>
    </div>
    <div class="map-writing">
      {{ mapData[phase]['message'] | safe }}
    </div>
    <div class="map">
      {%- set map = mapData[phase]['map'] -%}
      {%- for row in map -%}
        <div class="map-row">
          {%- for cell in row -%}
            {%- if cell is none -%}
              <div class="map-cell map-cell-empty"></div>
            {%- elif cell in ['stairs','start','finish'] -%}
              <div class="map-cell map-cell-special">
                <img {{ img_src_for('rounds/hacking/images/map/%s.svg' % cell) }}/>
              </div>
            {%- else -%}
              <div class="map-cell map-cell-icon">
                <img {{ img_src_for('rounds/hacking/images/icons/%s-%s.svg' % (phase, cell)) }} />
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
{% endmacro %}
