{% extends "overall_layout.html" %}

{% block title_block %}Main{% endblock %}

{% block styling_block %}

{% endblock %}

{% block overall_layout_body %}
<div id="main-page-content">
  
  {% set puzzle_link_action = 'full_puzzle' if session.usertype == 'writingteam' else 'puzzle' %}
  
  <p>
    Index page!
  </p>

  <ul>
    {%- for puzzle_id in puzzle_properties -%}
      {%- if puzzle_id in puzzle_visibilities -%}
      {% set status = puzzle_visibilities[puzzle_id].status %}
        <li>
          {% if status == 'VISIBLE' -%}
            ????
          {%- elif status == 'UNLOCKED' -%}
            <a href="{{ url_for(puzzle_link_action, puzzle_id=puzzle_id) }}">
              {{ puzzle_properties[puzzle_id].puzzleProperties.DisplayNameProperty.displayName }}
            </a>
          {%- elif status == 'SOLVED' -%}
            <a href="{{ url_for(puzzle_link_action, puzzle_id=puzzle_id) }}">
              {{ puzzle_properties[puzzle_id].puzzleProperties.DisplayNameProperty.displayName }}
            </a>
            <span>{{ puzzle_visibilities[puzzle_id].solvedAnswers|join(', ') }}
          {%- endif %}
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>

</div>
{% endblock %}
