{% extends "support_layout.html" %}
{% block title_block %}Head Hunters{% endblock %}

{% block screen_name_block %}Head Hunters{% endblock %}

{% block page_body %}
  <p>
    <b>Operation: Headhunters</b> will commence at 1300 hours.
    Commander Buzzy has prepared a dossier of your
    <a class="standard-link" href="{{ url_for('objectives') }}">Mission Objectives</a>,
    which will be updated as the operation proceeds.  Cadets are strongly encouraged
    to review it frequently.  This is also where Fear's training event schedule can be found.
  </p>
  <p>
    Cranium Command advises that all cadets review the
    <a class="standard-link" href="{{ url_for('safety') }}">Health and Safety Guidelines</a>
    for this operation.  Cadets may also wish to read the list of
    <a class="standard-link" href="{{ url_for('faq') }}">Frequently Asked Questions</a>.
  </p>
  <p>
    Good luck Cadets!  We&rsquo;re all counting on you.
  </p>
{% endblock %}
