{% extends "support_layout.html" %}
{% block title_block %}Sponsors{% endblock %}
{% block screen_name_block %}Sponsors{% endblock %}
{% block header_content %}{% endblock %}

{% block page_head_block %}
<style>
  .support-section img {
    display: block;
    width: 360px;
    padding: 6px;
    background-color: white;
    border-radius:6px;
    margin-bottom: 6px;
  }
</style>
{% endblock %}

{% block page_body %}
<div class="support-section">
  General thanks!
</div>

<div class="support-section">
  <div class="support-header">Sponsor section</div>
  Some text about a sponsor.
</div>

{% endblock %}
