{% extends "support_layout.html" %}
{% block title_block %}Sponsors{% endblock %}
{% block screen_name_block %}Sponsors{% endblock %}
{% block header_content %}{% endblock %}

{% block page_head_block %}
<style>
  .support-section img {
    display: block;
    width: 360px;
    padding: 6px;
    background-color: white;
    border-radius:6px;
    margin-bottom: 6px;
  }
</style>
{% endblock %}

{% block page_body %}
<div class="support-section">
  We are immensely grateful for the support we've received from sponsors of the 2018 MIT Mystery Hunt.
</div>

<div class="support-section">
  <div class="support-header">Premiere Sponsor</div>
  <img {{img_src_for("images/sponsors/stripe-logo.svg")}}>
  <p>Stripe builds powerful and flexible tools for internet commerce. Whether you&rsquo;re creating a subscription service, an on-demand marketplace, an e-commerce store, or a crowdfunding platform, Stripe&rsquo;s meticulously-designed APIs and unmatched functionality help you create the best possible product for your users.</p>
</div>

<div class="support-section">
  <div class="support-header">In-Kind Sponsors</div>
  <img {{img_src_for("images/sponsors/google-cloud-platform.svg")}}>
  <img {{img_src_for("images/sponsors/garment-district.png")}}>
</div>

<div class="support-section">
  <div class="support-header">Other Sponsors</div>
  <img {{img_src_for("images/sponsors/mit-ua-finboard.png")}}>
</div>

{% endblock %}
