apache-libcloud==2.0.0
asn1crypto==0.22.0
boto==2.47.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
click==6.7
cryptography==1.9
enum34==1.1.6
Flask==0.12.2
futures==3.1.1
greenlet==0.4.12
httplib2==0.18.0
idna==2.5
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.13.0
oauth2client==4.1.2
pkg-resources==0.0.0
pyasn1==0.2.3
pyasn1-modules==0.1.4
pycparser==2.17
pyformance==0.3.4
PyJWT==1.5.3
pytz==2017.2
PyYAML==3.12
requests==2.17.3
requests-futures==0.9.7
rsa==3.4.2
shyaml==0.5.0
six==1.10.0
urllib3==1.21.1
uWSGI==2.0.15
Werkzeug==0.12.2
gunicorn==19.7.1
gevent==1.2.2
