{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
Sometimes you cross paths with someone in the same colors.
{% endblock %}

{% block puzzle_head_block %}
<link rel="stylesheet" type="text/css" href="{{ asset_url_for('styles/blanks.css') }}">
<style>
  .puzzle-content table {
    margin: 0 auto;
    border-collapse: collapse;
  }

  .puzzle-content table td {
    height: 1.25em;
    width: 1.25em;
  }

  .puzzle-content table td.box {
    background-color: white;
    border: 1px black solid;
  }

  .puzzle-content .spaces {
    text-align: center;
  }

  .puzzle-content .images {
    text-align: center;
  }

  .puzzle-content .images img {
    width: 30%;
    margin: 0.25em;
    page-break-inside: avoid;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<table class="grid">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
    <td class="box"></td>
  </tr>
</table>


<p class="spaces">{% call puzzle_macros.blanks() %}______, ___ ______{% endcall %}</p>

<div class="images">
  <img src="{{ asset_url_for('puzzles/aka/01.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/02.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/03.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/04.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/05.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/06.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/07.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/08.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/09.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/10.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/11.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/12.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/13.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/14.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/15.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/16.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/17.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/18.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/19.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/20.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/21.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/22.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/23.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/24.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/25.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/26.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/27.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/28.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/29.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/30.png') }}"/>
  <img src="{{ asset_url_for('puzzles/aka/31.png') }}"/>
</div>
{% endblock %}
