{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
Every answer begins in a numbered square and takes exactly one right-angled turn. Every square is used in exactly two clued entries.
{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content .flexbox {
    display: flex;
    justify-content: space-between;
  }

  .puzzle-content .list {
    width: 270px;
  }

  .puzzle-content table {
    background-color: #3ab503;
    font-size: 8pt;
  }

  .puzzle-content table, .puzzle-content td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .puzzle-content td {
    height: 25px;
    width: 25px;

    vertical-align: top;
  }

  @media print {
    .puzzle-content table {
      background-color: white;
    }
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<div class="flexbox">
  <div class="list">
    <div><b>1S</b> Like revealing dresses</div>
    <div><b>2W</b> Dolphin capability</div>
    <div><b>3S</b> Furnace</div>
    <div><b>4W</b> Just okay</div>
    <div><b>5S</b> What Johnny Cash has got, and what you are in this puzzle</div>
    <div><b>6S</b> Henry or Kraft</div>
    <div><b>7E</b> Caramel candy</div>
    <div><b>8N</b> Sounds of disapproval</div>
    <div><b>8S</b> You, once</div>
    <div><b>9N</b> Conclave site patron</div>
    <div><b>10E</b> Celebrated a home run, perhaps (hyph.)</div>
    <div><b>10S</b> ___ puppies</div>
    <div><b>11N</b> Key O.J. evidence</div>
    <div><b>12E</b> Diner entry requirement</div>
    <div><b>13S</b> Keats’ favorite container</div>
    <div><b>14E</b> Ambidextrously, for example</div>
    <div><b>15S</b> Boozer</div>
    <div><b>16E</b> Sainted French king (2 wds)</div>
    <div><b>17E</b> Like a Penrose tiling</div>
    <div><b>18N</b> Parking result?</div>
    <div><b>19W</b> First prize in Pyeongchang</div>
    <div><b>20E</b> World Series game</div>
    <div><b>21E</b> Giraffe relative</div>
    <div><b>22S</b> Uncertain which is better</div>
    <div><b>23S</b> Kansas and RAF goal</div>
    <div><b>24S</b> ADA requirement</div>
    <div><b>25W</b> Beat back</div>
    <div><b>26W</b> Dominican dance music</div>
    <div><b>27N</b> Like rich soil</div>
    <div><b>28S</b> Run out of clothes?</div>
    <div><b>29S</b> Cause of constipation</div>
    <div><b>30W</b> Part of BYOB</div>
    <div><b>31N</b> Party that could be BYOB</div>
    <div><b>31S</b> Feature of 31N party</div>
    <div><b>32E</b> Finding ___</div>
    <div><b>33S</b> Well-versed lady?</div>
    <div><b>34S</b> Obama’s sign</div>
    <div><b>35E</b> Caltech, to MIT</div>
    <div><b>35S</b> Supremes headliner</div>
    <div><b>36N</b> Like a sphere (hyph.)</div>
    <div><b>36E</b> Sloth descriptor (hyph.)</div>
    <div><b>37N</b> Many Dunkin’ Donuts offerings</div>
    <div><b>38S</b> Prague patron (2 wds)</div>
    <div><b>39E</b> Many adoptable pets</div>
    <div><b>40S</b> Arthur, for one</div>
    <div><b>41S</b> Units of sound intensity</div>
    <div><b>42N</b> Gospel author</div>
    <div><b>43S</b> Coffee with milk</div>
    <div><b>44N</b> ___ do well</div>
    <div><b>45N</b> Adjust sails</div>
    <div><b>46E</b> Elephant features</div>
    <div><b>47N</b> Torn asunder</div>
    <div><b>48E</b> In a violent frenzy</div>
    <div><b>48W</b> Sustained fight</div>
    <div><b>49S</b> Navratilova-Shriver Australian Open feat (hyph.)</div>
  </div>

  <div class="list">
    <div><b>50E</b> Roadside trees</div>
    <div><b>51W</b> Car dealership creation (2 wds)</div>
    <div><b>52N</b> Joint-largest Adriatic island</div>
    <div><b>52S</b> Leafy cabbage</div>
    <div><b>53S</b> What you edit in Vim</div>
    <div><b>54N</b> Son of Anchises</div>
    <div><b>55S</b> Hear the news (2 wds)</div>
    <div><b>56N</b> VC investment goal</div>
    <div><b>57W</b> Vicksburg tactic</div>
    <div><b>58E</b> Viking tale</div>
    <div><b>59W</b> Bite-size cake (2 wds)</div>
    <div><b>60N</b> Jamaican dancehall music genre</div>
    <div><b>61W</b> Canadian novelist</div>
    <div><b>62E</b> Yan Hui and colleagues (2 wds)</div>
    <div><b>63N</b> Bath salts variety</div>
    <div><b>64E</b> Line connecting constant magnetic declination</div>
    <div><b>65E</b> Important concerns, to a dietician? (2 wds)</div>
    <div><b>65N</b> Flogging result</div>
    <div><b>66E</b> Get rid of, slangily (hyph.)</div>
    <div><b>67E</b> Particles such as B, D, and K</div>
    <div><b>68W</b> Domino’s Pizza ad villain</div>
    <div><b>69E</b> Irish county</div>
  </div>

  <table>
    <tr>
      <td>1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td></td>
      <td></td>
      <td>5</td>
    </tr>
    <tr>
      <td>6</td>
      <td>7</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>8</td>
      <td>9</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>10</td>
      <td></td>
      <td>11</td>
      <td></td>
      <td></td>
      <td>12</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>13</td>
      <td></td>
      <td></td>
      <td>14</td>
      <td>15</td>
      <td>16</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>17</td>
      <td>18</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
      <td></td>
      <td>22</td>
    </tr>
    <tr>
      <td></td>
      <td>23</td>
      <td></td>
      <td></td>
      <td></td>
      <td>24</td>
      <td></td>
      <td>25</td>
      <td></td>
      <td>26</td>
    </tr>
    <tr>
      <td>27</td>
      <td>28</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>29</td>
      <td></td>
      <td>30</td>
    </tr>
    <tr>
      <td>31</td>
      <td></td>
      <td>32</td>
      <td></td>
      <td>33</td>
      <td></td>
      <td></td>
      <td>34</td>
      <td>35</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>36</td>
      <td>37</td>
      <td></td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>39</td>
      <td></td>
      <td>40</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>41</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>42</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>43</td>
      <td></td>
      <td>44</td>
      <td></td>
      <td>45</td>
      <td>46</td>
      <td></td>
      <td></td>
      <td></td>
      <td>47</td>
    </tr>
    <tr>
      <td></td>
      <td>48</td>
      <td></td>
      <td></td>
      <td>49</td>
      <td>50</td>
      <td></td>
      <td></td>
      <td>51</td>
      <td>52</td>
    </tr>
    <tr>
      <td></td>
      <td>53</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>56</td>
      <td>57</td>
      <td>58</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>59</td>
      <td></td>
      <td>60</td>
      <td></td>
      <td>61</td>
    </tr>
    <tr>
      <td></td>
      <td>62</td>
      <td></td>
      <td></td>
      <td></td>
      <td>63</td>
      <td>64</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>65</td>
      <td>66</td>
      <td></td>
      <td>67</td>
      <td></td>
      <td></td>
      <td></td>
      <td>68</td>
      <td>69</td>
      <td></td>
    </tr>
  </table>
</div>
{% endblock %}
