{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}


{% block puzzle_content_block %}
<div>Backs of ideal Iraqi hijab drape pretty evenly (3)</div>
<div>Bravo. Sheer speed (9)</div>
<div>Common type of owl, I heard, doesn&rsquo;t have a tail (3)</div>
<div>Company nurse took back adage about sick (4)</div>
<div>Cook taking out the stuffing is received in praise (8)</div>
<div>Dissident loses a pound but gains one hundred, about (2)</div>
<div>Drunken bowlers win (2)</div>
<div>End of Federer&rsquo;s current match is not commencing (3)</div>
<div>Gray and snowy yard (8)</div>
<div>Greeting circled around cast (4)</div>
<div>Hermione loses weight (2)</div>
<div>Oman unit transformed young man (5)</div>
<div>Producers start to hire to hold position (6)</div>
<div>Row trendy disheveled vegans around Robert (1)</div>
<div>Short flute note bearing piece of Idomeneo (5)</div>
<div>Two consecutive elements stuck into succulent (7)</div>
{% endblock %}
