{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_content_block %}
<p>Donkey culpability (7)</p>
<p>It might be found in the third Vice President’s magic lamp (7)</p>
<p>Vote Perry or Santorum into office (8)</p>
<p>Zales purchase by J.J. Watt (9)</p>
<p>Jousting or Cnapan, for example (6)</p>
<p>Lovely evening (6)</p>
<p>Nagging soreness for a Jedi overexerting their powers (7)</p>
<p>A diatribe about animal skin (7)</p>
<p>Queasy or otherwise ailing bird of prey (7)</p>
<p>Mythological rascals listed in a will (7)</p>
<p>X-axis (or something similarly straight) produced by a fountain pen (7)</p>
<p>Uglify an item that lets you in (7)</p>
<p>Ceremony that has more beef than another one (9)</p>
<p>Haze-caused involuntary laughing reaction (8)</p>
<p>Whinny whinny whinny whiiiiiiiiinny, to Samuel Horse? (4)</p>
<p>Recognized buzzing insects (7)</p>
<p>Yamu, Memphis, Thebes, and Aswan, in a sequence (8)</p>
<p>Fare paid for a bus after a certain hour (7)</p>
<p>Ewing, Starks, Bradley, and Anthony, once (3)</p>
<p>Tiny pieces of a rock containing valuable minerals (6)</p>
<p>Spirit or vigor from a sunbeam (7)</p>
<p>Kingly casual shirts (9)</p>
<p>One who neuters a female pushpin (8)</p>
<p>Great British heroes such as Sir Ulfius and Sir Uriens (6)</p>
<p>Boarding house run by hippies (5)</p>
<p>Powerfully voice an expression of surprise (6)</p>
{% endblock %}
