{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
  <style>
    .puzzle-container img {
      width: 100%;
    }
  </style>
{% endblock %}

{% block puzzle_content_block %}
  <a href="{{ asset_url_for('puzzles/bark_ode/puzzle.png') }}" target="_blank">
    <img {{ img_src_for('puzzles/bark_ode/puzzle.png') }}>
  </a>
{% endblock %}
