{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content .letters-block {
    display: flex;
    justify-content: space-around;
  }

  .puzzle-content .images {
    margin-top: 20px;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<div class="letters-block">
  <div>
    <div>JUS</div>
    <div>TUR</div>
    <div>COU</div>
    <div>CMD</div>
    <div>CHR</div>
    <div>FIN</div>
    <div>BOY</div>
    <div>ALP</div>
    <div>AM</div>
    <div>BBL</div>
    <div>BOV</div>
    <div>CHR</div>
    <div>CIA</div>
  </div>
  <div>
    <div>CON</div>
    <div>DLI</div>
    <div>EBO</div>
    <div>ECH</div>
    <div>ENT</div>
    <div>EPE</div>
    <div>ER</div>
    <div>ERC</div>
    <div>FE</div>
    <div>FSE</div>
    <div>HER</div>
    <div>HRI</div>
    <div>ICKI</div>
  </div>
  <div>
    <div>IN</div>
    <div>IST</div>
    <div>IST</div>
    <div>LAG</div>
    <div>MAY</div>
    <div>NJO</div>
    <div>OPH</div>
    <div>OPH</div>
    <div>ORO</div>
    <div>PARD</div>
    <div>PHE</div>
    <div>RIS</div>
    <div>RST</div>
  </div>
  <div>
    <div>RTH</div>
    <div>RTR</div>
    <div>RUD</div>
    <div>SHE</div>
    <div>SIN</div>
    <div>SPE</div>
    <div>STO</div>
    <div>THE</div>
    <div>THE</div>
    <div>TIN</div>
    <div>TOP</div>
    <div>UCK</div>
    <div>YMA</div>
  </div>
</div>
<div class="images">
  <img src="{{ asset_url_for('puzzles/beast_workshop/image01.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image02.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image03.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image04.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image05.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image06.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image07.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image08.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image09.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image10.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image11.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image12.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image13.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image14.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image15.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image16.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image17.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image18.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image19.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image20.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image21.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image22.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image23.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image24.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image25.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image26.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image27.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image28.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image29.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image30.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image31.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image32.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image33.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image34.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image35.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image36.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image37.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image38.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image39.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image40.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image41.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image42.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image43.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image44.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image45.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image46.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image47.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image48.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image49.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image50.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image51.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image52.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image53.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image54.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image55.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image56.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image57.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image58.png') }}"/>
  <img src="{{ asset_url_for('puzzles/beast_workshop/image59.png') }}"/>
</div>
{% endblock %}
