{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
<p>It&rsquo;s time to build the hack! There are still some materials that the build team needs, and you&rsquo;ve been volunteered for the task of picking up all of the materials from Reuse.</p>

<p>You&rsquo;re not going alone. You&rsquo;re bringing your handy <code>BIOFUEL TORCH</code>&mdash;a tool that can cut through a glass surface so you can pass through, and then seal it up behind you. (Leave everything as you found it!)</p>
{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content .header {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .puzzle-content table {
    border-collapse: collapse;
  }

  .puzzle-content th {
    text-align: left;
  }

  .puzzle-content tr {
    border-bottom: 1px solid black;
  }

  .puzzle-content td {
    padding: 1em;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<div class="header"><b>E-mails to reuse@mit.edu</b></div>

<table>
  <tr>
    <th>Sender</th>
    <th>Subject</th>
  </tr>
  <tr>
    <td>Milton</td>
    <td>Standard Unicycle, past three pillars, turn left before entering the next building, on a concrete pillar [eom]</td>
  </tr>
  <tr>
    <td>Heather</td>
    <td>Olive Seeds, down the stairs to the bottom [eom]</td>
  </tr>
  <tr>
    <td>James</td>
    <td>Redundant Elastic, up a flight, under a map just past the lasers [eom]</td>
  </tr>
  <tr>
    <td>Olivia</td>
    <td>Tiny Grains, up on the fourth floor, under the dropbox near the elevators [eom]</td>
  </tr>
  <tr>
    <td>Amber</td>
    <td>Basic Ions, outside 37-460 [eom]</td>
  </tr>
  <tr>
    <td>Paul</td>
    <td>Yummy Vinegar, directly past the green exit sign [eom]</td>
  </tr>
  <tr>
    <td>Graham</td>
    <td>Standard Emblem, between two nearby elevators [eom]</td>
  </tr>
  <tr>
    <td>Dana</td>
    <td>Expensive Nitrates, down the east hallway, right, left, and left again [eom]</td>
  </tr>
  <tr>
    <td>Kelly</td>
    <td>Natural Precipitation, up a flight, through the red door, behind a red pillar [eom]</td>
  </tr>
  <tr>
    <td>Brian</td>
    <td>Dreadful LEDs, past elevators then down a floor [eom]</td>
  </tr>
  <tr>
    <td>Elmer</td>
    <td>Extendable Arms, near the diagonal glass on the water fountain [eom]</td>
  </tr>
  <tr>
    <td>Lisa</td>
    <td>Red Yarn, past the bathrooms, outside and back inside, between two bathrooms [eom]</td>
  </tr>
  <tr>
    <td>Iris</td>
    <td>Nutritious Fiber, through the door, turn left, go to the end of the hall, turn right, just under the stairs [eom]</td>
  </tr>
  <tr>
    <td>Nathan</td>
    <td>Amorphous Apples, towards the bridge, take the first right and go inside, opposite bench [eom]</td>
  </tr>
  <tr>
    <td>Frank</td>
    <td>Malleable Iron, on the left wall opposite the couches [eom]</td>
  </tr>
  <tr>
    <td>Carl</td>
    <td>Electrical Resistors, out door, through next door, halfway down the hall near the elevators [eom]</td>
  </tr>
</table>
{% endblock %}
