{% extends "solutions/solution_layout.html" %}
{% import "/event_macros.html" as event_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block byline %}By Wesley Graybill and Nicole Berdy{% endblock %}

{% block solution %}CLEAN UP{% endblock %}

{% block puzzle_head_block %}
{% endblock %}

{% block puzzle_content_block %}
{{ event_macros.generate_event_content(puzzle.puzzleId) }}

<div id="main-page-content">
  <p>When teams arrived at Lobdell Dining Hall, they were asked to prepare dishes for a five-judge panel. Each judge had a different, secret requirement for the dish:</p>

  <ol>
    <li>Dish must be described with at least three different adjectives</li>
    <li>Dish must contain at least three ROYGBIV colors</li>
    <li>Dish must have something of liquid consistency</li>
    <li>Dish must have at least three n-gons (triangle, square, etc.) on the plate</li>
    <li>Dish must have a garnish</li>
  </ol>

  <p>When teams provided a dish that satisfied at least four out of five judges, they were provided with the following napkin:</p>

  <img {{ img_src_for('solutions/care_and_feeding_of_your_mystery_hunt_team/napkin.png') }}>

  <p>The solution, <strong><code>CLEAN UP</code></strong>, was written on it.</p>
</div>
{% endblock %}
