{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ovo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fanwood+Text" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Scheherazade" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

<style>
  .flavor .container {
    position: relative;
    font-size: 10pt;
    font-family: "IM Fell DW Pica", serif;
    font-style: normal;
  }

  .flavor img {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 760px;
  }

  .flavor span {
    position: absolute;
  }

  .flavor .text-01 {
    top: 30%;
    left: 33%;
    transform: translate(-30%, -23%);
  }

  .flavor .text-02 {
    top: 42%;
    left: 59%;
    transform: translate(-40%, -54%);
  }

  .flavor .text-03 {
    top: 50%;
    left: 42%;
    transform: translate(-50%, -32%);
  }

  .flavor .text-04 {
    top: 62%;
    left: 59%;
    transform: translate(-60%, -54%);
  }

  .flavor .text-05 {
    top: 70%;
    left: 33%;
    transform: translate(-70%, -23%);
  }

  @media print {
    /* Display ALL the background colors */
    .puzzle-content {
      -webkit-print-color-adjust: exact;
      color-adjust: exact!important;
    }

    .puzzle-content table:not(.grid) {
      page-break-before: always;
    }
  }

  /* Most of the content is in this font at this size. The rest is
     handled specifically. */
  .puzzle-content {
    font-family: 'Crimson Text', serif;
    font-size: 10pt;
  }

  .puzzle-content table:not(.grid) {
    width: 720px;
    border: 0px solid black;
    border-collapse: collapse;
    margin: 0px auto 50px auto;
    background-color: white;
  }

  .puzzle-content td {
    border: 1px solid black;
    padding-left: 10px;
  }

  .puzzle-content td.outlined {
    border-width: 3px;
  }

  .puzzle-content tr.no-top-border > td, td.no-top-border {
    border-top-width: 0px;
  }

  .puzzle-content td.no-left-border {
    border-left-width: 0px;
  }

  .puzzle-content td.no-right-border {
    border-right-width: 0px;
  }

  .puzzle-content .borderless {
    border-width: 0px;
  }

  .puzzle-content .flexbox {
    display: flex;
  }

  .puzzle-content .column {
    flex-direction: column;
  }

  .puzzle-content .flex-end {
    align-self: flex-end;
  }

  .puzzle-content .indented {
    margin-left: 50px;
  }

  .puzzle-content .spacer {
    height: 1.5em;
  }

  .puzzle-content .box {
    height: 14px;
    width: 14px;
    border: 1px solid black;
    margin-right: 5px;
    background-color: #99AABB;
  }

  .puzzle-content table.grid {
    border-collapse: collapse;
  }

  .puzzle-content table.grid td {
    height: 20px;
    width: 20px;
    padding: 0px;
    text-align: center;
  }

  .puzzle-content .x-small-text {
    font-size: 8pt;
  }

  .puzzle-content .small-text {
    font-size: 12pt;
  }

  .puzzle-content .large-text {
    font-size: 16px;
  }

  .puzzle-content .x-large-text {
    font-size: 20pt;
  }

  .puzzle-content .centered {
    text-align: center;
    /* In general, we want td's to have padding, but not when we
       want their contents to look centered */
    margin-left: -10px;
  }

  .puzzle-content .default-serif {
    font-family: serif;
  }

  .puzzle-content .word-header {
    font-family: 'Merriweather', serif;
  }

  .puzzle-content .number-header {
    font-family: 'Fanwood Text', serif;
    font-size: 12pt;
  }

  .puzzle-content .special-elite {
    font-family: 'Special Elite', cursive;
  }

  .puzzle-content .im-fell-dw-pica {
    font-family: 'IM Fell DW Pica', serif;
  }

  .puzzle-content .ovo {
    font-family: 'Ovo', serif;
  }

  .puzzle-content .scheherazade {
    font-family: "Scheherazade", sans-serif;
  }

  .puzzle-content .courier {
    font-family: "Courier New", monospace;
  }

  .puzzle-content .column-1 {
    width: 17%;
  }

  .puzzle-content .column-2 {
    width: 6%;
  }

  .puzzle-content .column-3 {
    width: 15%;
  }

  .puzzle-content .column-4 {
    width: 20%;
  }

  .puzzle-content .column-5 {
    width: 15%;
  }

  .puzzle-content .column-6 {
    width: 10%;
  }

  .puzzle-content .column-7 {
    width: 11%;
  }

  .puzzle-content .column-8 {
    width: 3%;
  }

  .puzzle-content .column-9 {
    width: 4%;
  }

  .puzzle-content .grey {
    background-color: #bfbfbf;
  }

  .puzzle-content .blue {
    background-color: #daeef3;
  }

  .puzzle-content .light-grey {
    background-color: #d9d9d9;
  }

  .puzzle-content .green {
    background-color: #ccffcc;
  }

  .puzzle-content .dark-blue {
    background-color: #b8cce4;
  }

  .puzzle-content .burgundy {
    background-color: #a30101;
  }

  .puzzle-content .dark-green {
    background-color: #46bb17;
  }

  .puzzle-content .yellow {
    background-color: #ffd100;
  }

  .puzzle-content .purple {
    background-color: #8200db;
  }

  .puzzle-content .mid-blue {
    background-color: #4a86e8;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
<div class="container">
  <img {{ img_src_for('puzzles/cash_cab/frame.png') }}>
  <span class="text-01">I am truly saddened by your illness, my friend, and at this trying time of year!</span>
  <span class="text-02">~I suppose there are only two real inevitabilities after all!</span>
  <span class="text-03">Oh. Er, I See. It just seems an ill omen to be surrounded by such dull numbers.</span>
  <span class="text-04">~Ah! but let me convince you otherwise.</span>
  <span class="text-05">You&rsquo;ll need to fill out some forms.</span>
</div>
{% endblock %}

{% block puzzle_content_block %}
<table>
  <tr class="no-top-border">
    <td colspan="3">
      <div class="x-small-text scheherazade">Department of the Treasury&mdash;Internal Revenue Service</div>
      <div class="large-text"><b>Estate Forms</b></div>
    </td>
    <td class="column-4">
      <div class="x-large-text default-serif">Form &ldquo;A&rdquo;</div>
    </td>
    <td colspan="5">
      <div class="flexbox column">
        <div class="x-small-text im-fell-dw-pica flex-end">IRS use only&mdash;Do not write or staple in this space.</div>
        <div class="im-fell-dw-pica flex-end">See separate instructions.</div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="  x-small-text scheherazade">For the year of Jan 1&ndash;Dec 31<sup>st</sup></div>
      <div class="x-large-text special-elite">19<b>20</b></div>
    </td>
    <td class="column-3"></td>
    <td colspan="5">
      <div class="x-large-text default-serif">Carriages and Similar Vehicles</div>
    </td>
    <td class="column-9">
      <div>P.1</div>
    </td>
  </tr>
  <tr>
    <td class="column-1 grey"></td>
    <td class="column-2 grey"></td>
    {#
      There's an implicit fifth column in the layout that I need to
      explicitly set the width of.
    #}
    <td colspan="2" class="no-right-border grey"></td>
    <td class="column-5 no-left-border grey"> </td>
    <td>
      <div><b>Code</b></div>
    </td>
    <td>
      <div><b>A Series</b></div>
    </td>
    <td class="column-8"></td>
    <td></td>
  </tr>
  <tr>
    <td class="blue word-header">
      <div><b>I. Filing Status</b></div>
    </td>
    <td class="blue"></td>
    <td colspan="3" class="blue word-header">
      <div><b>[This section may diverge off topic]</b></div>
    </td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue"></td>
    <td colspan="3" class="blue"><i>Instructions: Check status boxes appropriately. Note the Code.</i></td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="number-header"><b>1</b></div>
    </td>
    <td colspan="3" class="blue">
      <div class="flexbox column">
        <div>Natural numbers, summation of*</div>
        <div>*<i>in your own idiosyncratic way</i></div>
      </div>
    </td>
    <td class="grey"></td>
    <td class="light-grey"></td>
    <td colspan="2" class="no-right-border no-top-border"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue"></td>
    <td colspan="3" class="blue">
      <div class="indented flexbox">
        <div class="box"></div>
        <div>Negative</div>
      </div>
    </td>
    <td class="green">099500</td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue"></td>
    <td colspan="3" class="blue">
      <div class="indented flexbox">
        <div class="box"></div>
        <div>Positive</div>
      </div>
    </td>
    <td class="green">005590</td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue"></td>
    <td colspan="3" class="blue">
      <div class="indented flexbox">
        <div class="box"></div>
        <div>Undefined</div>
      </div>
    </td>
    <td class="green">095900</td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="number-header"><b>2</b></div>
    </td>
    <td colspan="3" class="blue">
      <div>Potential afflictions (<i>past and present</i>)</div>
    </td>
    <td class="grey"></td>
    <td class="light-grey"></td>
    <td colspan="2" class="no-right-border"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="im-fell-dw-pica centered"><b>(a)</b></div>
    </td>
    <td colspan="3" class="blue">
      <div class="indented flexbox">
        <div class="box"></div>
        <div>Aquagenic urticaria</div>
      </div>
    </td>
    <td class="green">87</td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="im-fell-dw-pica centered"><b>(b)</b></div>
    </td>
    <td colspan="3" class="blue">
      <div class="indented flexbox">
        <div class="box"></div>
        <div>Dysentery</div>
      </div>
    </td>
    <td class="green">0</td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="im-fell-dw-pica centered"><b>(c)</b></div>
    </td>
    <td colspan="3" class="blue">
      <div class="indented flexbox">
        <div class="box"></div>
        <div>Hepatic amoebiasis</div>
      </div>
    </td>
    <td class="green">3</td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="im-fell-dw-pica centered"><b>(d)</b></div>
    </td>
    <td colspan="3" class="blue">
      <div class="indented flexbox">
        <div class="box"></div>
        <div>Hydrocele testis</div>
      </div>
    </td>
    <td class="green">35</td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="im-fell-dw-pica centered"><b>(e)</b></div>
    </td>
    <td colspan="3" class="blue">
      <div class="indented flexbox">
        <div class="box"></div>
        <div>Progeria</div>
      </div>
    </td>
    <td class="green">49</td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="im-fell-dw-pica centered"><b>(f)</b></div>
    </td>
    <td colspan="3" class="blue">
      <div class="indented flexbox">
        <div class="box"></div>
        <div>Vitamin deficiency</div>
      </div>
    </td>
    <td class="green">02</td>
    <td class="light-grey"></td>
    <td colspan="2" class="no-top-border no-right-border"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="number-header"><b>3</b></div>
    </td>
    <td colspan="3" class="blue">Recurring forms</td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="im-fell-dw-pica centered"><b>(a)</b></div>
    </td>
    <td colspan="3" class="blue">1/2 + 1/4 + 1/8 + 1/16 +&hellip;</td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="im-fell-dw-pica centered"><b>(b)</b></div>
    </td>
    <td colspan="3" class="blue">1 - 1 + 1 - 1 + 1&hellip; <i>in your own style!</i></td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="im-fell-dw-pica centered"><b>(c)</b></div>
    </td>
    <td colspan="3" class="blue">Even number</td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="im-fell-dw-pica centered"><b>(d)</b></div>
    </td>
    <td colspan="3" class="blue">All known real valued parts to non-trival zeroes of the Riemann zeta function</td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue"></td>
    <td colspan="3" class="blue"><i>Instructions: Answer above with boxes provided below. Note the Code.</i></td>
    <td class="green"></td>
    <td class="light-grey"></td>
    <td colspan="2" class="no-right-border"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="im-fell-dw-pica centered"><b>(a&ndash;d)</b></div>
    </td>
    <td colspan="3" class="blue">
      <div class="flexbox indented">
        <div class="box"></div>
        <div>-1</div>
      </div>
    </td>
    <td class="green">7</td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue"></td>
    <td colspan="3" class="blue">
      <div class="flexbox indented">
        <div class="box"></div>
        <div>0</div>
      </div>
    </td>
    <td class="green">25</td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue"></td>
    <td colspan="3" class="blue">
      <div class="flexbox indented">
        <div class="box"></div>
        <div>&frac12;</div>
      </div>
    </td>
    <td class="green">6</td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue"></td>
    <td colspan="3" class="blue">
      <div class="flexbox indented">
        <div class="box"></div>
        <div>1</div>
      </div>
    </td>
    <td class="green">04</td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue"></td>
    <td colspan="3" class="blue">
      <div class="flexbox indented">
        <div class="box"></div>
        <div>Other/unknown</div>
      </div>
    </td>
    <td class="green">18</td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="number-header"><b>4</b></div>
    </td>
    <td colspan="3" class="blue">Age at expected death</td>
    <td class="dark-blue">_ _</td>
    <td class="light-grey"></td>
    <td colspan="2" class="no-right-border"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="number-header"><b>5</b></div>
    </td>
    <td colspan="3" class="blue">Sum answer in part [4] with Code [1]</td>
    <td class="grey"></td>
    <td class="blue outlined"><b>A _ _ _ _ _ _</b></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="number-header"><b>6</b></div>
    </td>
    <td colspan="3" class="blue">Concatenate Codes part [2]</td>
    <td class="grey"></td>
    <td class="blue outlined"><b>A _ _ _ _ _ _</b></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="number-header"><b>7</b></div>
    </td>
    <td colspan="3" class="blue">Concatenate Codes part [3] (a)&ndash;(d)</td>
    <td class="grey"></td>
    <td class="blue outlined"><b>A _ _ _ _ _ _</b></td>
    <td colspan="2" class="no-top-border no-right-border"></td>
  </tr>
  <tr>
    <td class="light-grey word-header"><b>II. Blank</b></td>
    <td class="light-grey">
      <div class="number-header"><b>8</b></div>
    </td>
    <td colspan="3" class="light-grey word-header">
      <b>[This section intentionally left blank]</b>
    </td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="green word-header"><b>III. Income</b></td>
    <td class="green"></td>
    <td colspan="3" class="green word-header"><b>[This section to be continued]</b></td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green"></td>
    <td colspan="3" class="green"><i>Instructions: Calculate your fraction of use. Ignore repeating &ldquo;1&rdquo;s.</i></td>
    <td class="grey"></td>
    <td class="light-grey"></td>
    <td colspan="2" class="no-top-border no-right-border"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green">
      <div class="number-header"><b>9</b></div>
    </td>
    <td colspan="3" class="green">[7708061 - &radic;5] / 7014298</td>
    <td class="grey"></td>
    <td class="blue outlined"><b>A _ _ _ _ _ _</b></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green">
      <div class="number-header"><b>10</b></div>
    </td>
    <td colspan="3" class="green">[166495 - &radic;5] / 51362</td>
    <td class="grey"></td>
    <td class="blue outlined"><b>A _ _ _ _ _ _</b></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green">
      <div class="number-header"><b>11</b></div>
    </td>
    <td colspan="3" class="green">[153333195 + &radic;5] / 18836890</td>
    <td class="grey"></td>
    <td class="blue outlined"><b>A _ _ _ _ _ _</b></td>
    <td colspan="2" class="no-top-border no-right-border"></td>
  </tr>
</table>

<table>
  <tr class="no-top-border">
    <td colspan="3">
      <div class="x-small-text scheherazade">Department of the Treasury&mdash;Internal Revenue Service</div>
      <div class="large-text"><b>Estate Forms</b></div>
    </td>
    <td class="column-4">
      <div class="x-large-text default-serif">Form &ldquo;A&rdquo;</div>
    </td>
    <td colspan="5">
      <div class="flexbox column">
        <div class="x-small-text im-fell-dw-pica flex-end">IRS use only&mdash;Do not write or staple in this space.</div>
        <div class="im-fell-dw-pica flex-end">See separate instructions.</div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="x-small-text scheherazade">For the year of Jan 1&ndash;Dec 31<sup>st</sup></div>
      <div class="x-large-text special-elite">19<b>20</b></div>
    </td>
    <td class="column-3"></td>
    <td colspan="5">
      <div class="x-large-text default-serif">Carriages and Similar Vehicles</div>
    </td>
    <td class="column-9">
      <div>P.2</div>
    </td>
  </tr>
  <tr>
    <td class="column-1 grey"></td>
    <td class="column-2 grey"></td>
    {#
      There's an implicit fifth column in the layout that I need to
      explicitly set the width of.
    #}
    <td colspan="2" class="no-right-border grey"></td>
    <td class="column-5 no-left-border grey"> </td>
    <td>
      <div><b>Code</b></div>
    </td>
    <td>
      <div><b>A Series</b></div>
    </td>
    <td class="column-8"></td>
    <td></td>
  </tr>
  <tr>
    <td class="blue word-header"><b>IV. Adjustments</b></td>
    <td class="blue"></td>
    <td colspan="3" class="blue word-header"><b>[This section: abracadabra!]</b></td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue"></td>
    <td colspan="3" class="blue"><i>Instructions: Pull some numbers out of your hat</i></td>
    <td class="grey"></td>
    <td class="light-grey"></td>
    <td colspan="2" class="no-top-border no-right-border"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="number-header"><b>12</b></div>
    </td>
    <td colspan="3">
      <table class="grid ovo large-text indented">
        <tr>
          <td>
            18
          </td>
          <td class="burgundy">
          </td>
          <td>
            8
          </td>
          <td class="dark-green">
          </td>
        </tr>
        <tr>
          <td class="yellow">
          </td>
          <td>
            9
          </td>
          <td>
            12
          </td>
          <td>
            13
          </td>
        </tr>
        <tr>
          <td>
            10
          </td>
          <td>
            15
          </td>
          <td class="purple">
          </td>
          <td>
            11
          </td>
        </tr>
        <tr>
          <td class="mid-blue">
          </td>
          <td>
            5
          </td>
          <td>
            16
          </td>
          <td>
            9
          </td>
        </tr>
      </table>
    </td>
    <td class="grey"></td>
    <td class="blue outlined"><b>A _ _ _ _ _ _</b></td>
    <td colspan="2" class="no-top-border no-right-border"></td>
  </tr>
  <tr>
    <td class="green word-header"><b>V. Exemptions</b></td>
    <td class="green"></td>
    <td colspan="3" class="green word-header"><b>[This section is adorable]</b></td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green">
      <div class="number-header"><b>13</b></div>
    </td>
    <td colspan="3" class="green">&ldquo;Home&rsquo;s a&rsquo;fire&rdquo; insurance</td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green">
      <div class="number-header"><b>14</b></div>
    </td>
    <td colspan="3" class="green">&ldquo;Tiny vessels&rdquo; saving for surgery fund</td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green">
      <div class="number-header"><b>15</b></div>
    </td>
    <td colspan="3" class="green">St. Peter&rsquo;s Cathedral restoration charity</td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green">
      <div class="number-header"><b>16</b></div>
    </td>
    <td colspan="3" class="green">&ldquo;Codes and keys&rdquo; musical cryptography after school program</td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green">
      <div class="number-header"><b>17</b></div>
    </td>
    <td colspan="3" class="green">Scientist studies research and development credit</td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green">
      <div class="number-header"><b>18</b></div>
    </td>
    <td colspan="3" class="green">Kelly Huckaby memorial fund</td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green">
      <div class="number-header"><b>19</b></div>
    </td>
    <td colspan="3" class="green"><b>Total exemptions</b></td>
    <td class="grey"></td>
    <td class="blue outlined"><b>A _ _ _ _ _ _</b></td>
    <td colspan="2" class="no-right-border"></td>
  </tr>
  <tr>
    <td class="blue word-header"><b>VI. Payments</b></td>
    <td class="blue"></td>
    <td colspan="3" class="blue word-header"><b>[This section is a bit derisive]</b></td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue">
      <div class="number-header"><b>20</b></div>
    </td>
    <td colspan="3" class="blue">
      Yo momma is so numeric that she multiplied pi by fifty-four point eight six nine three five oh six eight six nine and multiplied this by the sum from k equals zero to infinity of four k factorial times the quantity one thousand one hundred and three plus twenty-six thousand three hundred ninety k all over k factorial to the fourth power times three hundred ninety-six to the four kth power.
    </td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="blue"></td>
    <td colspan="3" class="blue"><b>Total payments</b></td>
    <td class="grey"></td>
    <td class="blue outlined"><b>A _ _ _ _ _ _</b></td>
    <td colspan="2" class="no-right-border"></td>
  </tr>
  <tr>
    <td class="green word-header"><b>VII. Refund</b></td>
    <td class="green"></td>
    <td colspan="3" class="green word-header"><b>[This section is refunded to you]</b></td>
    <td class="grey"></td>
    <td class="light-grey"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green"></td>
    <td colspan="3" class="green"><i>Instructions: Found objects; find more</i></td>
    <td class="grey"></td>
    <td class="light-grey"></td>
    <td colspan="2" class="no-right-border no-top-border"></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green">
      <div class="number-header"><b>21</b></div>
    </td>
    <td colspan="3" class="green courier small-text">121, 286, 561</td>
    <td class="grey"></td>
    <td class="blue outlined"><b>A _ _ _ _ _ _</b></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green">
      <div class="number-header"><b>22</b></div>
    </td>
    <td colspan="3" class="green courier small-text">19096, 23001, 26335</td>
    <td class="grey"></td>
    <td class="blue outlined"><b>A _ _ _ _ _ _</b></td>
  </tr>
  <tr>
    <td class="borderless"></td>
    <td class="green">
      <div class="number-header"><b>23</b></div>
    </td>
    <td colspan="3" class="green courier small-text">4606, 250, 765</td>
    <td class="grey"></td>
    <td class="blue outlined"><b>A _ _ _ _ _ _</b></td>
  </tr>
  <tr class="grey spacer">
    <td></td>
    <td></td>
    <td colspan="3"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="grey spacer">
    <td></td>
    <td></td>
    <td colspan="3"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="outlined"><b>Total Amount Owed</b></td>
    <td class="outlined"></td>
    <td colspan="3" class="outlined centered large-text"><b>_ _ _ _ _ _ _ _ _ _ _ _</b></td>
    <td class="outlined"></td>
    <td colspan="3" class="outlined"></td>
  </tr>
</table>
{% endblock %}
