{% extends "solutions/solution_layout.html" %}
{% import "/event_macros.html" as event_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block byline %}By Wesley Graybill and James Douberley{% endblock %}

{% block solution %}KEEP IT TOGETHER{% endblock %}

{% block puzzle_head_block %}
{% endblock %}

{% block puzzle_content_block %}
{{ event_macros.generate_event_content(puzzle.puzzleId) }}

<div id="main-page-content">
  <p>Due to poor communication among Life &amp; Order team members (read: technical difficulties), this event was relocated from The Green Building Dot to Lobdell Dining Hall.</p>

  <p>When teams arrived, they were instructed to open a <a href="https://green-building.herokuapp.com/" target="_blank">web app</a> on their smartphones. Teams were issued usernames and passwords and told that they were in control of a single pixel on the Green Building simulator. The web app allowed teams to swap positions of their pixels with other teams.</p>

  <p>The goal of the event was to arrange the pixels into the shape of the Head Hunters logo. When this was accomplished, teams were given the answer, <strong><code>KEEP IT TOGETHER</code></strong>.</p>
</div>
{% endblock %}
