{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
This wonderful recipe yields an 8-piece pasta dish. While the ingredients may seem unusual, the result is very authentic. Please follow each recipe step by step precisely. For best results, measure ingredients carefully.
{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content .center-children {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .puzzle-content .section > div {
    margin-top: 20px;
  }

  .puzzle-content .section-header {
    font-size: 20px;
  }

  .puzzle-content .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .puzzle-content .column > div {
    margin-bottom: 20px;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<div class="center-children">
  <div><i>Serving suggestion and ideal pasta sizes:</i></div>
  <img src="{{ asset_url_for('puzzles/cooking_a_recipe/plate.png') }}"/>
</div>
<div class="section">
  <div class="center-children">
    <div class="section-header"><b>Preparatory Steps</b></div>
    <div>Before you begin cooking the 8 pieces, please prepare a couple of ingredients:</div>
  </div>
  <div class="columns">
    <div class="column">
      <div>
        <div><b>Recipe for Spice mix</b></div>
        <div>3 teaspoons of Basil</div>
        <div>3 teaspoons of Wasabi</div>
        <div>3 teaspoons of Basil</div>
        <div>3 teaspoons of Wasabi</div>
        <div>(Makes 4 tablespoons.)</div>
      </div>
      <div>
        <div><b>Recipe for Seasoning sauce</b></div>
        <div>1/16 cup of Balsamic</div>
        <div>8 drams of Wholegrain mustard</div>
        <div>0.5 fl. oz of Balsamic</div>
        <div>1 fl. oz of Wholegrain mustard</div>
        <div>(Makes 6 tablespoons.)</div>
      </div>
      <div>
        <div><b>Recipe for Grubby rub</b></div>
        <div>1/16 cup of Betel leaves</div>
        <div>0.5 fl. oz of Wild garlic</div>
        <div>1 fl. oz of Betel leaves</div>
        <div>(Makes 4 tablespoons.)</div>
      </div>
      <div>
        <div><b>Recipe for Funky salsa</b></div>
        <div>1 tablespoon of Whiskey</div>
        <div>1/16 cup of Bologna</div>
        <div>1 portion of Spice mix</div>
        <div>0.5 fl. oz of Whiskey</div>
        <div>1 portion of Grubby rub</div>
        <div>0.5 fl. oz of Whiskey</div>
        <div>4 drams of Bologna</div>
        <div>2 portions of Spice mix</div>
        <div>1 portion of Seasoning sauce</div>
        <div>4 drams of Whiskey</div>
        <div>1 portion of Seasoning sauce</div>
        <div>1 portion of Spice mix</div>
        <div>1 portion of Seasoning sauce</div>
        <div>1 portion of Spice mix</div>
        <div>1 tablespoon of Whiskey</div>
        <div>3 teaspoons of Bologna</div>
        <div>8 drams of Whiskey</div>
        <div>1 fl. oz of Bologna</div>
        <div>1 portion of Spice mix</div>
        <div>1 portion of Seasoning sauce</div>
        <div>3 teaspoons of Whiskey</div>
        <div>0.5 fl. oz of Bologna</div>
        <div>1 fl. oz of Whiskey</div>
        <div>1/16 cup of Bologna</div>
        <div>1 portion of Grubby rub</div>
        <div>1 fl. oz of Whiskey</div>
        <div>4 drams of Bologna</div>
        <div>1 portion of Spice mix</div>
        <div>(Makes 80 tablespoons.)</div>
      </div>
      <div>
        <div><b>Recipe for Special flavoring</b></div>
        <div>3 teaspoons of Boysenberries</div>
        <div>1 portion of Spice mix</div>
        <div>4 drams of White truffles</div>
        <div>4 drams of Boysenberries</div>
        <div>3 portions of Spice mix</div>
        <div>1 tablespoon of White truffles</div>
        <div>1 portion of Seasoning sauce</div>
        <div>4 drams of Boysenberries</div>
        <div>8 drams of White truffles</div>
        <div>1 portion of Spice mix</div>
        <div>1/8 cup of Boysenberries</div>
        <div>1 portion of Grubby rub</div>
        <div>4 drams of White truffles</div>
        <div>0.5 fl. oz of Boysenberries</div>
        <div>1 portion of Spice mix</div>
        <div>4 drams of White truffles</div>
        <div>3 teaspoons of Boysenberries</div>
        <div>1 portion of Grubby rub</div>
        <div>2 portions of Spice mix</div>
        <div>1 tablespoon of White truffles</div>
        <div>1 portion of Seasoning sauce</div>
        <div>4 drams of White truffles</div>
        <div>2 portions of Spice mix</div>
        <div>1 portion of Grubby rub</div>
        <div>0.5 fl. oz of White truffles</div>
        <div>4 drams of Boysenberries</div>
        <div>1 portion of Grubby rub</div>
        <div>(Makes 85 tablespoons.)</div>
      </div>
    </div>
    <div class="column">
      <div>
        <div><b>Recipe for Tasty crumbles</b></div>
        <div>0.5 fl. oz of Worcestershire sauce</div>
        <div>3 teaspoons of Banana bread</div>
        <div>1 portion of Spice mix</div>
        <div>1/16 cup of Worcestershire sauce</div>
        <div>1 portion of Seasoning sauce</div>
        <div>1/16 cup of Worcestershire sauce</div>
        <div>2 portions of Seasoning sauce</div>
        <div>2 portions of Spice mix</div>
        <div>2 portions of Seasoning sauce</div>
        <div>3 teaspoons of Worcestershire sauce</div>
        <div>1 portion of Seasoning sauce</div>
        <div>8 drams of Banana bread</div>
        <div>3 teaspoons of Worcestershire sauce</div>
        <div>1 tablespoon of Banana bread</div>
        <div>1 portion of Spice mix</div>
        <div>1 portion of Grubby rub</div>
        <div>1/8 cup of Worcestershire sauce</div>
        <div>3 teaspoons of Banana bread</div>
        <div>1 portion of Spice mix</div>
        <div>1/16 cup of Worcestershire sauce</div>
        <div>1 portion of Seasoning sauce</div>
        <div>4 drams of Worcestershire sauce</div>
        <div>2 portions of Seasoning sauce</div>
        <div>6 teaspoons of Banana bread</div>
        <div>1 portion of Spice mix</div>
        <div>1/16 cup of Banana bread</div>
        <div>(Makes 99 tablespoons.)</div>
      </div>
      <div>
        <div><b>Recipe for Hot proteins</b></div>
        <div>4 drams of Watercress</div>
        <div>3 tablespoons of Buffalo wings</div>
        <div>1 portion of Funky salsa</div>
        <div>0.5 fl. oz of Watercress</div>
        <div>1 portion of Grubby rub</div>
        <div>4 drams of Watercress</div>
        <div>3 teaspoons of Buffalo wings</div>
        <div>2 portions of Spice mix</div>
        <div>1 portion of Seasoning sauce</div>
        <div>1 tablespoon of Watercress</div>
        <div>1 portion of Seasoning sauce</div>
        <div>1 portion of Spice mix</div>
        <div>1 portion of Seasoning sauce</div>
        <div>1 portion of Spice mix</div>
        <div>8 drams of Watercress</div>
        <div>2 portions of Grubby rub</div>
        <div>1 portion of Seasoning sauce</div>
        <div>1/16 cup of Watercress</div>
        <div>1 tablespoon of Buffalo wings</div>
        <div>8 drams of Watercress</div>
        <div>1/16 cup of Buffalo wings</div>
        <div>2 portions of Spice mix</div>
        <div>0.5 fl. oz of Watercress</div>
        <div>1 tablespoon of Buffalo wings</div>
        <div>1 portion of Spice mix</div>
        <div>0.5 fl. oz of Buffalo wings</div>
        <div>(Makes 162 tablespoons.)</div>
      </div>
      <div>
        <div><b>Recipe for Dark concentrate</b></div>
        <div>4 drams of Walleye fish</div>
        <div>4 drams of Blueberries</div>
        <div>1 portion of Spice mix</div>
        <div>4 drams of Walleye fish</div>
        <div>1 portion of Spice mix</div>
        <div>1 tablespoon of Walleye fish</div>
        <div>4 portions of Spice mix</div>
        <div>4 drams of Walleye fish</div>
        <div>1 portion of Spice mix</div>
        <div>1 portion of Seasoning sauce</div>
        <div>1 portion of Spice mix</div>
        <div>1 tablespoon of Walleye fish</div>
        <div>2 portions of Spice mix</div>
        <div>1 portion of Grubby rub</div>
        <div>1 portion of Spice mix</div>
        <div>1/16 cup of Walleye fish</div>
        <div>1 portion of Spice mix</div>
        <div>1/16 pint of Blueberries</div>
        <div>4 drams of Walleye fish</div>
        <div>3 teaspoons of Blueberries</div>
        <div>1 portion of Spice mix</div>
        <div>4 drams of Blueberries</div>
        <div>1 portion of Grubby rub</div>
        <div>1 portion of Spice mix</div>
        <div>6 teaspoons of Blueberries</div>
        <div>2 tablespoons of Walleye fish</div>
        <div>(Makes 86 tablespoons.)</div>
      </div>
    </div>
    <div class="column">
      <div>
        <div><b>Recipe for Strong fortifier</b></div>
        <div>1 portion of Grubby rub</div>
        <div>1 portion of Spice mix</div>
        <div>4 drams of Wild rice</div>
        <div>1/16 pint of Beef</div>
        <div>0.5 fl. oz of Wild rice</div>
        <div>1/16 cup of Beef</div>
        <div>1 portion of Seasoning sauce</div>
        <div>3 tablespoons of Beef</div>
        <div>1 portion of Tasty crumbles</div>
        <div>6 teaspoons of Wild rice</div>
        <div>1 tablespoon of Beef</div>
        <div>3 teaspoons of Wild rice</div>
        <div>1/16 cup of Beef</div>
        <div>1 portion of Spice mix</div>
        <div>0.5 fl. oz of Wild rice</div>
        <div>1/16 cup of Beef</div>
        <div>9 teaspoons of Wild rice</div>
        <div>1 tablespoon of Beef</div>
        <div>8 drams of Wild rice</div>
        <div>1 tablespoon of Beef</div>
        <div>1 portion of Grubby rub</div>
        <div>0.5 fl. oz of Wild rice</div>
        <div>3 teaspoons of Beef</div>
        <div>2 portions of Spice mix</div>
        <div>1 portion of Grubby rub</div>
        <div>(Makes 157 tablespoons.)</div>
      </div>
      <div>
        <div><b>Recipe for Cold carbs</b></div>
        <div>1/16 pint of Basmati rice</div>
        <div>1 portion of Spice mix</div>
        <div>4 drams of Watermelon</div>
        <div>8 drams of Basmati rice</div>
        <div>1 tablespoon of Watermelon</div>
        <div>3 teaspoons of Basmati rice</div>
        <div>1 portion of Seasoning sauce</div>
        <div>1 portion of Spice mix</div>
        <div>1 portion of Grubby rub</div>
        <div>2 portions of Spice mix</div>
        <div>1 tablespoon of Watermelon</div>
        <div>1 portion of Seasoning sauce</div>
        <div>1/16 cup of Watermelon</div>
        <div>1 tablespoon of Basmati rice</div>
        <div>1/16 pint of Watermelon</div>
        <div>2 tablespoons of Basmati rice</div>
        <div>2 portions of Spice mix</div>
        <div>1/8 cup of Basmati rice</div>
        <div>1 portion of Spice mix</div>
        <div>1 tablespoon of Watermelon</div>
        <div>1/8 cup of Basmati rice</div>
        <div>1/16 cup of Watermelon</div>
        <div>3 teaspoons of Basmati rice</div>
        <div>1 portion of Seasoning sauce</div>
        <div>(Makes 71 tablespoons.)</div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="center-children">
    <div class="section-header"><b>Main Dishes</b></div>
  </div>
  <div class="columns">
    <div class="column">
      <div>
        <div><b>Main Recipe 1</b></div>
        <div>2 portions of Spice mix</div>
        <div>2 tablespoons of Bulgur</div>
        <div>3 teaspoons of Waffles</div>
        <div>1 portion of Special flavoring</div>
        <div>0.5 fl. oz of Waffles</div>
        <div>8 drams of Bulgur</div>
        <div>1 tablespoon of Waffles</div>
      </div>
      <div>
        <div><b>Main Recipe 2</b></div>
        <div>1 portion of Spice mix</div>
        <div>3 teaspoons of Broccoli</div>
        <div>1 portion of Spice mix</div>
        <div>1/16 cup of Walnuts</div>
        <div>1 portion of Grubby rub</div>
        <div>1/16 cup of Walnuts</div>
        <div>8 drams of Broccoli</div>
        <div>1 portion of Spice mix</div>
        <div>1/8 cup of Broccoli</div>
        <div>1.5 fl. oz of Walnuts</div>
        <div>1 portion of Seasoning sauce</div>
        <div>1 portion of Spice mix</div>
        <div>1 portion of Seasoning sauce</div>
        <div>1 portion of Spice mix</div>
        <div>4 drams of Walnuts</div>
        <div>4 portions of Spice mix</div>
        <div>1/16 cup of Walnuts</div>
        <div>1.5 fl. oz of Broccoli</div>
        <div>1 portion of Dark concentrate</div>
        <div>1 portion of Spice mix</div>
        <div>8 drams of Broccoli</div>
        <div>1/16 cup of Walnuts</div>
      </div>
      <div>
        <div><b>Main Recipe 3</b></div>
        <div>1 fl. oz of Bok choy</div>
        <div>1 portion of Spice mix</div>
        <div>2 tablespoons of Bok choy</div>
        <div>1 portion of Grubby rub</div>
        <div>3 teaspoons of Bok choy</div>
        <div>3 teaspoons of Whelk</div>
        <div>3 teaspoons of Bok choy</div>
        <div>3 portions of Spice mix</div>
        <div>4 drams of Bok choy</div>
        <div>~44.4 cm<sup>3</sup> of Whelk</div>
        <div>1 tablespoon of Bok choy</div>
        <div>1/8 cup of Whelk</div>
        <div>1 fl. oz of Bok choy</div>
        <div>1/8 cup of Whelk</div>
        <div>2 portions of Spice mix</div>
        <div>1 tablespoon of Bok choy</div>
        <div>3 teaspoons of Whelk</div>
        <div>0.5 fl. oz of Bok choy</div>
        <div>4 portions of Spice mix</div>
        <div>4 drams of Whelk</div>
        <div>3 portions of Spice mix</div>
        <div>1 fl. oz of Bok choy</div>
        <div>1 portion of Grubby rub</div>
        <div>1/16 cup of Whelk</div>
      </div>
    </div>
    <div class="column">
      <div>
        <div><b>Main Recipe 4</b></div>
        <div>1 tablespoon of Brussels sprouts</div>
        <div>1 portion of Grubby rub</div>
        <div>1 portion of Seasoning sauce</div>
        <div>1 portion of Spice mix</div>
        <div>4 drams of Wax beans</div>
        <div>4 drams of Brussels sprouts</div>
        <div>1 portion of Spice mix</div>
        <div>0.5 fl. oz of Wax beans</div>
        <div>3 portions of Spice mix</div>
        <div>1 tablespoon of Wax beans</div>
        <div>0.5 fl. oz of Brussels sprouts</div>
        <div>8 drams of Wax beans</div>
        <div>1 tablespoon of Brussels sprouts</div>
        <div>3 portions of Spice mix</div>
        <div>1/16 cup of Brussels sprouts</div>
        <div>1/16 pint of Wax beans</div>
        <div>1/8 cup of Brussels sprouts</div>
        <div>1/8 cup of Wax beans</div>
        <div>1 portion of Spice mix</div>
        <div>1 portion of Grubby rub</div>
        <div>1 portion of Spice mix</div>
        <div>3 teaspoons of Brussels sprouts</div>
        <div>~44.4 cm<sup>3</sup> of Wax beans</div>
        <div>4 drams of Brussels sprouts</div>
        <div>4 drams of Wax beans</div>
        <div>1 tablespoon of Brussels sprouts</div>
        <div>3 portions of Spice mix</div>
        <div>1/16 cup of Brussels sprouts</div>
        <div>1 portion of Grubby rub</div>
        <div>1/16 cup of Wax beans</div>
      </div>
      <div>
        <div><b>Main Recipe 5</b></div>
        <div>2 tablespoons of Butter squash</div>
        <div>1 portion of Spice mix</div>
        <div>3 portions of Grubby rub</div>
        <div>1 portion of Hot proteins</div>
        <div>1 portion of Grubby rub</div>
        <div>1/16 cup of White chocolate</div>
      </div>
      <div>
        <div><b>Main Recipe 6</b></div>
        <div>0.5 fl. oz of Brains</div>
        <div>6 teaspoons of Wontons</div>
        <div>1 portion of Grubby rub</div>
        <div>1 portion of Strong fortifier</div>
        <div>1/16 cup of Wontons</div>
      </div>
    </div>
    <div class="column">
      <div>
        <div><b>Main Recipe 7</b></div>
        <div>8 drams of Beets</div>
        <div>1 portion of Seasoning sauce</div>
        <div>2 tablespoons of Beets</div>
        <div>1 portion of Spice mix</div>
        <div>1 tablespoon of Waldorf salad</div>
        <div>4 drams of Beets</div>
        <div>5 portions of Spice mix</div>
        <div>4 drams of Waldorf salad</div>
        <div>4 drams of Beets</div>
        <div>1/8 cup of Waldorf salad</div>
        <div>1 portion of Spice mix</div>
        <div>1/8 cup of Beets</div>
        <div>1 portion of Spice mix</div>
        <div>1/16 cup of Beets</div>
        <div>0.5 fl. oz of Waldorf salad</div>
        <div>3 teaspoons of Beets</div>
        <div>1 portion of Seasoning sauce</div>
        <div>4 drams of Beets</div>
        <div>1 portion of Seasoning sauce</div>
        <div>1 portion of Spice mix</div>
        <div>1/8 cup of Beets</div>
        <div>2 portions of Spice mix</div>
        <div>3 teaspoons of Waldorf salad</div>
        <div>1/16 cup of Beets</div>
        <div>12 drams of Waldorf salad</div>
        <div>1/16 cup of Beets</div>
        <div>1/8 cup of Waldorf salad</div>
        <div>6 teaspoons of Beets</div>
        <div>2 portions of Spice mix</div>
        <div>1 portion of Grubby rub</div>
        <div>1/16 cup of Waldorf salad</div>
        <div>1 tablespoon of Beets</div>
        <div>1 portion of Seasoning sauce</div>
      </div>
      <div>
        <div><b>Main Recipe 8</b></div>
        <div>6 teaspoons of Bacon</div>
        <div>3 portions of Spice mix</div>
        <div>1 portion of Cold carbs</div>
        <div>4 portions of Spice mix</div>
        <div>1 tablespoon of Wheat bread</div>
        <div>0.5 fl. oz of Bacon</div>
        <div>9 teaspoons of Wheat bread</div>
        <div>1 portion of Seasoning sauce</div>
        <div>2 portions of Spice mix</div>
        <div>2 portions of Grubby rub</div>
        <div>1/16 cup of Wheat bread</div>
        <div>1 tablespoon of Bacon</div>
        <div>1 portion of Grubby rub</div>
        <div>4 drams of Wheat bread</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
