{% extends "solutions/solution_layout.html" %}
{% import "/event_macros.html" as event_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block byline %}By Wesley Graybill and Nicole Berdy{% endblock %}

{% block solution %}MEASURE TWICE CUT ONCE{% endblock %}

{% block puzzle_head_block %}
{% endblock %}

{% block puzzle_content_block %}
{{ event_macros.generate_event_content(puzzle.puzzleId) }}

<div id="main-page-content">
  <p>When teams arrived at Lobdell Dining Hall, they were presented with a combined 48,000 feet of caution tape and 11,000 feet of packing tape. Teams were given a randomized style, era, and adjective (e.g. formalwear, 80&rsquo;s, funky) and instructed to create an outfit meeting those parameters. After the teams had completed their outfits, they presented them to the room.</p>

  <p>As teams were leaving the event, they were given the solution, <strong><code>MEASURE TWICE CUT ONCE</code></strong>.</p>
</div>
{% endblock %}
