{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
From this perspective, they&lsquo;re all just cogs in the machine.
{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content .text {
    font-family: monospace;
    text-align: center;
    font-size: 12pt;
  }

  .puzzle-content .arrow {
    font-size: 64pt;
    text-align: center;
  }

  .puzzle-content .container {
    width: 90%;
    margin: auto;

    display: flex;
    flex-direction: column;

    background-color: white;
    border: 1px solid black;
    border-radius: 40px;

    padding: 40px 0px;
  }

  .puzzle-content img {
    width: 90%;

    display: block;
    margin: auto;
  }

  .puzzle-content a:not(:last-child) {
    margin-bottom: 40px;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<div class="text">CHECKSUM VALUE IN FEEDBACK NETWORK</div>
<div class="arrow">&darr;</div>
<div class="container">
  <a href="{{ asset_url_for('puzzles/death_from_aslant/01-large.jpg') }}" target="_blank"><img {{ img_src_for('puzzles/death_from_aslant/01.jpg') }} ></a>
  <a href="{{ asset_url_for('puzzles/death_from_aslant/02-large.jpg') }}" target="_blank"><img {{ img_src_for('puzzles/death_from_aslant/02.jpg') }} ></a>
  <a href="{{ asset_url_for('puzzles/death_from_aslant/03-large.jpg') }}" target="_blank"><img {{ img_src_for('puzzles/death_from_aslant/03.jpg') }} ></a>
  <a href="{{ asset_url_for('puzzles/death_from_aslant/04-large.jpg') }}" target="_blank"><img {{ img_src_for('puzzles/death_from_aslant/04.jpg') }} ></a>
  <a href="{{ asset_url_for('puzzles/death_from_aslant/05-large.jpg') }}" target="_blank"><img {{ img_src_for('puzzles/death_from_aslant/05.jpg') }} ></a>
  <a href="{{ asset_url_for('puzzles/death_from_aslant/06-large.jpg') }}" target="_blank"><img {{ img_src_for('puzzles/death_from_aslant/06.jpg') }} ></a>
  <a href="{{ asset_url_for('puzzles/death_from_aslant/07-large.jpg') }}" target="_blank"><img {{ img_src_for('puzzles/death_from_aslant/07.jpg') }} ></a>
  <a href="{{ asset_url_for('puzzles/death_from_aslant/08-large.jpg') }}" target="_blank"><img {{ img_src_for('puzzles/death_from_aslant/08.jpg') }} ></a>
  <a href="{{ asset_url_for('puzzles/death_from_aslant/09-large.jpg') }}" target="_blank"><img {{ img_src_for('puzzles/death_from_aslant/09.jpg') }} ></a>
  <a href="{{ asset_url_for('puzzles/death_from_aslant/10-large.jpg') }}" target="_blank"><img {{ img_src_for('puzzles/death_from_aslant/10.jpg') }} ></a>
  <a href="{{ asset_url_for('puzzles/death_from_aslant/11-large.jpg') }}" target="_blank"><img {{ img_src_for('puzzles/death_from_aslant/11.jpg') }} ></a>
</div>
{% endblock %}
