{% extends "puzzles/puzzle_layout.html" %}
{% import "objective_macros.html" as objective_macros %}
{% import "island_macros.html" as island_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
{# lol this is a hack #}
<link rel="stylesheet" type="text/css" href="{{ asset_url_for('styles/support.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset_url_for('styles/island-unlock.css') }}">
{% endblock %}

{% block puzzle_content_block %}
<div id="main-page-content">
<p>The catastrophe in the Control Room shrouded the Islands of Personality in a thick layer of brain fog. Buzzy explained that the islands are the key to locating the missing Core Memories, but can’t be reached without first blowing away the fog. He has fans that can do that, but each needs brainpower to operate.</p>

<p>Unfortunately, Buzzy can’t remember what the islands were like before the fog rolled in, so he had Abstract Thought analyze them through the haze. You can use this information to decide the order in which you would like to visit the islands.</p>

<p>Now that you have enough brainpower, call Buzzy and have him clear some brain fog!</p>

<ul>
  {% for island, placeholder in placeholders %}
    {% if island not in island_open_order[:1] %}
      {%- set placeholder_string = placeholder + ' island' -%}
      {%- set substitutions = {
        'placeholder': objective_macros.format_island(placeholder_string),
        'island': objective_macros.format_island(island_macros.name(island))
      } -%}
      <li>
        <div>
          <span class="abstract">{{ island_macros.abstract(island).format(**substitutions) |safe }}</span>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
</div>
{% endblock %}
