{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
You try to construct a route through the maze, hoping it&rsquo;s actually possible.
{% endblock %}

{% block puzzle_head_block %}
<script src="{{ asset_url_for('puzzles/disorientation/interact.min.js') }}"></script>
{# <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> #}
<style>
  .puzzle-content .instructions {
    color: #999; margin: 1em;
  }

  .puzzle-content .layout {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 1300px;
  }

  .puzzle-content img.puzzlehex {
    width: 150px;
  }

  .puzzle-content img.template, .puzzle-content img.puzzlehex {
    position: absolute;
    top: 0;
    left: 0;
  }

  .puzzle-content img.left {
    z-index: +5;
  }

  .puzzle-content img.right {
    z-index: +10;
  }

  .puzzle-content img.rot1 {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  .puzzle-content img.rot2 {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
  }

  .puzzle-content img.rot3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .puzzle-content img.rot4 {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
  }

  .puzzle-content img.rot5 {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
  }
</style>
<script>
  gridX = 37.5; gridY = 65;
  function setTransform(el) {
    var x = (el.getAttribute("data-x") || 0)-0;
    var y = (el.getAttribute("data-y") || 0)-0;
    var r = (el.getAttribute("data-rot") || 0)-0;
    el.style.transform = "translate(" + x + "px, " + y + "px) rotate(" + (r*60) + "deg)";
  }

  function rotateHex(el) {
    var currRot = el.getAttribute("data-rot") - 0;
    if (currRot == undefined) {
      // not currently rotated: rotate 1 step
      el.setAttribute("data-rot", 1);
    } else if (currRot == 5) {
      // already rotated 5 steps: back to 0
      el.setAttribute("data-rot", 0);
    } else {
      // rotated between 0 and 4 steps already
      var newRot = currRot + 1;
      el.setAttribute("data-rot", newRot);
    }
    setTransform(el);
  }

  function cascadeHexes(hexes, xOffset, startLeft) {
    var x, y, hi, el, lxo, lyo;
    for (hi = 0; hi < 4; hi++) {
      el = hexes[hi];
      lyo = 2 * hi * gridY;
      x = xOffset;
      y = lyo;
      el.setAttribute("data-x", x);
      el.setAttribute("data-y", y);
      setTransform(el);
    }

    // In order to preserve space, we start tiling after we're below the grid
    for (hi = 4; hi < hexes.length; hi++) {
      el = hexes[hi];
      if ((hi - 4) % 3 == 0) {
        lxo = 0;
      }
      else if ((hi - 4) % 3 == 1) {
        lxo = gridX * 3;
      }
      else {
        lxo = gridX * 6;
      }
      lyo = (gridY * (hi + 4));
      x = startLeft ? xOffset + lxo : xOffset - lxo;
      y = lyo - (gridY * Math.floor((hi - 4) / 3));
      el.setAttribute("data-x", x);
      el.setAttribute("data-y", y);
      setTransform(el);
    }
  }

  $(document).ready(function() {
    var rightOffset = gridX * 20;
    var hexesLeft = document.getElementsByClassName("left");
    cascadeHexes(hexesLeft, 0, 1);
    var hexesRight = document.getElementsByClassName("right");
    cascadeHexes(hexesRight, rightOffset, 0);
    
    var templateX = gridX * 4;
    template = document.getElementById("template");
    template.setAttribute("data-x", templateX);
    template.setAttribute("data-y", 0);
    setTransform(template);

    var snapGrid = interact.createSnapGrid({
      x: gridX,
      y: gridY});
      
    var x=0, y=0;
    interact(".puzzlehex")
      .draggable({
        snap: {
          targets: [ snapGrid ],
          range: Infinity
        }
      }).on("dragstart", function (event) {
        var el = event.target;
        x = (el.getAttribute("data-x") || 0)-0;
        y = (el.getAttribute("data-y") || 0)-0;
      }).on("dragmove", function (event) {
        x += event.dx;
        y += event.dy;
        var el = event.target;
        el.setAttribute("data-x", x);
        el.setAttribute("data-y", y);
      setTransform(el);
      }).on("tap", function (event) {
        if (event.button == 2) {
          // don't rotate on right-clicks
          return;
        }
        rotateHex(event.target);
      });
  });
</script>
{% endblock %}

{% block puzzle_content_block %}

<div class="instructions">Click to rotate. Drag to move. Or <a href="{{ asset_url_for('puzzles/disorientation/images.zip') }}">click here</a> to download all images.</div>

<div class="layout">
  <img {{ img_src_for('puzzles/disorientation/hex01.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex02.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex03.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex04.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex05.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex06.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex07.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex08.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex09.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex10.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex11.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex12.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex13.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex14.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex15.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex16.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex17.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex18.png') }} class="puzzlehex left">
  <img {{ img_src_for('puzzles/disorientation/hex19.png') }} class="puzzlehex left">

  <img {{ img_src_for('puzzles/disorientation/hex20.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex21.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex22.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex23.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex24.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex25.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex26.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex27.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex28.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex29.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex30.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex31.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex32.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex33.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex34.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex35.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex36.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex37.png') }} class="puzzlehex right">
  <img {{ img_src_for('puzzles/disorientation/hex38.png') }} class="puzzlehex right">
</div>

<div class="layout">
  <img {{ img_src_for('puzzles/disorientation/template.png') }} class="template" id="template">
</div>
{% endblock %}
