{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
In the modren era, climbing that ladder takes you past some questionable situations.
{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content img {
    width: 200px;
  }

  .puzzle-content .container {
    width: 200px;
    display: inline-block;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/01.png') }}>
  <span>19/22</span>
</span>

<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/02.png') }}>
  <span>2/5</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/03.png') }}>
  <span>9/10</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/04.png') }}>
  <span>3/5</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/05.png') }}>
  <span>8/8</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/06.png') }}>
  <span>4/5</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/07.png') }}>
  <span>5/7</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/08.png') }}>
  <span>2/4</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/09.png') }}>
  <span>4/4</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/10.png') }}>
  <span>5/6</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/11.png') }}>
  <span>8/12</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/12.png') }}>
  <span>3/6</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/13.png') }}>
  <span>9/10</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/14.png') }}>
  <span>1/22</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/15.png') }}>
  <span>1/6</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/16.png') }}>
  <span>3/4</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/17.png') }}>
  <span>12/12</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/18.png') }}>
  <span>6/25</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/19.png') }}>
  <span>5/11</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/20.png') }}>
  <span>9/15</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/21.png') }}>
  <span>1/5</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/22.png') }}>
  <span>2/4</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/23.png') }}>
  <span>6/15</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/24.png') }}>
  <span>4/5</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/25.png') }}>
  <span>9/12</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/26.png') }}>
  <span>9/9</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/27.png') }}>
  <span>6/8</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/28.png') }}>
  <span>2/5</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/29.png') }}>
  <span>9/21</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/30.png') }}>
  <span>5/8</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/31.png') }}>
  <span>4/17</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/32.png') }}>
  <span>5/5</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/33.png') }}>
  <span>6/6</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/34.png') }}>
  <span>1/6</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/35.png') }}>
  <span>2/11</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/36.png') }}>
  <span>6/8</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/37.png') }}>
  <span>2/7</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/38.png') }}>
  <span>7/7</span>
</span>
<span class="container">
  <img {{ img_src_for('puzzles/do_you_want_a/39.png') }}>
  <span>4/4</span>
</span>
{% endblock %}
