{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
My psychologist says I&rsquo;ve got problems. But it&rsquo;s okay if I just close my eyes and&hellip;
{% endblock %}

{% block puzzle_content_block %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/e55uznFX9gM" frameborder="0" allowfullscreen></iframe>
<p> (11) </p>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4darokiEs84" frameborder="0" allowfullscreen></iframe>
<p> (11) </p>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/YSp58mI-xI8" frameborder="0" allowfullscreen></iframe>
<p> (11) </p>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/eVlfot4LZok" frameborder="0" allowfullscreen></iframe>
<p> (13) </p>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cG__aQCfwpM" frameborder="0" allowfullscreen></iframe>
<p> (12) </p>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HChptcI4_s8" frameborder="0" allowfullscreen></iframe>
<p> (13) </p>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/kF7KhmpA17I" frameborder="0" allowfullscreen></iframe>
<p> (13) </p>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/APgu0YtOYOE" frameborder="0" allowfullscreen></iframe>
<p> (15) </p>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Cg6UN8Xrbe0" frameborder="0" allowfullscreen></iframe>
<p> (17) </p>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/pL1qWdNTnKI" frameborder="0" allowfullscreen></iframe>
<p> (13) </p>
{% endblock %}
