{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
  Five sisters and their seventeen daughters met for a family dinner.
{% endblock %}

{% block puzzle_content_block %}
  <p><b>Allison</b>, fed up with dealing with the rest of the family,
    convinced her older sister Harriett to distract everyone while she
    snuck 2 glasses of Madeira from the liquor cabinet.</p>

  <p><b>Angelina</b> couldn’t stand someone else using the crayons for
    even 1 minute, and so she marched her three older sisters over to
    Annalise’s corner where they insisted she do her drawing using a
    vile concoction of egg yolks, mushrooms, and lemon they had mixed
    up.</p>

  <p><b>Annalise</b>, the youngest of four sisters, showed no interest
    in her sisters’ shenanigans. She happily munched on an orange and
    drew quietly with 2 boxes of crayons.</p>

  <p><b>Claire</b>, Ulliviera’s oldest daughter, overheard Selina talking
    about her science project and decided to embark on a project of
    her own—but her three younger sisters weren’t so thrilled when she
    tried to get them to try the 4 different concoctions of mustard
    and wine she mixed up.</p>

  <p><b>Clementina</b>, inspired by Daniella’s questionable tactics,
    joined in the fun by pouring cream into 1 of Selina’s shoes.</p>

  <p><b>Daniella</b> was tricked by her youngest daughter Selina into
    eating Yevgeniya’s unfortunate cooking project. But as the
    youngest of five siblings, Daniella had some tricks up her
    sleeve—she got her revenge by pouring milk into Selina’s new
    shoes.</p>

  <p><b>Elaine</b> thought she should probably do something about her
    daughter’s voodoo dolls, but she was distracted explaining to
    Leslie why using a needle and thread on a tomato was unlikely to
    lead to a good result.</p>

  <p><b>Eleanora</b> and her sister Rosemarie quite enjoyed giving
    cooking lessons in the kitchen, teaching 2 of their cousins how to
    dice onions.</p>

  <p><b>Evelina</b> arrived almost 2 hours early for the dinner. She
    inexplicably brought an onion with her, which her mother had tried
    unsuccessfully to explain was not an appropriate hostess gift to
    bring to dinner.</p>

  <p><b>Harriett</b> wasn’t sure her sister Allison was old enough to
    be drinking, but she played along and roped her younger sister
    Sebastiana into constructing a bizarre diorama from only the
    mushrooms and shallots she scrounged from the fridge. She managed
    to distract the family for a full 7 minutes while Allison raided
    the liquor.</p>

  <p><b>Heather</b> managed to pawn off to her younger sister Eleanora
    the responsibility of humoring Claire’s foray into science so she
    could sneak into the kitchen and pour herself 3 whole glasses of
    cream.</p>

  <p><b>Isabel</b> did her best to console her younger sister Evelina
    after Evelina’s onion was stolen. They managed to claim a monopoly
    on the cheese plate and consume 3 whole wedges of gruyère before
    they were cut off.</p>

  <p><b>Leslie</b>, meanwhile, was focused on just 1 thing: a secret
    plan with her older sister Yevgeniya to rip off Clementina’s
    doll’s head and stitch on a tomato in its place.</p>

  <p><b>Rosemarie</b>, the youngest of her sisters, had developed an
    early knack for cooking. Of all her sisters, she was the 1 who
    managed to bring the best contribution: a delicious dessert with
    egg yolks and cream.</p>

  <p><b>Sandra</b>, the lone only child in the family, didn’t
    particularly enjoy playing with the other children, but she did
    enjoy stealing Evelina’s onion and making 2 hideous voodoo dolls
    with some celery and bell pepper slices she found in the kitchen.</p>

  <p><b>Sebastiana</b> was the biggest fan of Rosemarie’s dessert. She
    had 9! Her younger sister tried to steer her towards the more
    savory dishes, but things like bone marrow and red wine weren’t as
    appealing.</p>

  <p><b>Selina</b> spent the evening explaining to her two sisters,
    both older than her, that her crawfish science project was due
    tomorrow and how she just needed them to spend 1 minute drawing a
    picture of what they thought a crawfish looks like.</p>

  <p><b>Tiffany</b> empathized with Claire—she too was a oldest
    sister. She tried to get her daughter Heather to play with Claire,
    but Heather was too chicken to taste Claire’s weird science
    projects.</p>

  <p><b>Ulliviera</b> always had a hard time relating to her
    sisters—and it probably didn’t help that she spent much of the
    evening telling her younger sister Ursulandina and her older
    sister Elaine about her plan to raise calves in her tiny back yard
    so she could have fresh veal a few years down the road.</p>

  <p><b>Ursulandina</b> was kept busy most of the evening dealing with
    her daughter Leslie, who was distraught that Leslie’s sister
    Clementina had raided the fridge and smeared butter and egg yolks
    all over Leslie’s diary.</p>

  <p><b>Yentl</b> and her older sister Eleanora had to fight with
    Harriett for the shallots in the fridge. But even once they had
    snagged 2 of them, their mother stalwartly refused to give them
    the white wine called for by the recipe they wanted to make.</p>

  <p><b>Yevgeniya</b> tried to bring something to dinner, but made the
    fatal mistake of inviting her older sister Clementina to cook with
    her—Clementina’s contributions of 6 sprigs of tarragon and almost
    a cup of vinegar did not do wonders for Yevgeniya’s chocolate
    cake.</p>
{% endblock %}
