{% extends "puzzles/puzzle_layout.html" %}
{% import "objective_macros.html" as objective_macros %}
{% import "island_macros.html" as island_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block byline %}
Fear played by Zachary Barryte / Laura Nicholson
{% endblock %}

{% block puzzle_head_block %}
{% endblock %}

{% block puzzle_content_block %}
{% if site_mode() == "solution" %}
<div id="main-page-content">
  <p>After a team solves the <a href="{{ url_for('full_puzzle' if session.usertype == 'writingteam' else 'puzzle', puzzle_id='fear') }}">Fear meta</a>, Fear pays a visit to their headquarters. He proclaims proudly that he is going to be fearless now, but is still extremely easily startled. In his fake-bravado mode, he give his trusty eight-foot pole to a team member, saying he won&rsquo;t be needing it anymore. However, with minimal prodding, it is revealed that he&rsquo;s still a little scared that Anger is going to try to attack him. After a few minutes, he realizes what time it is, and runs out of the room spouting off things that could have gone wrong for Terry since he was gone.</p>
</div>
{% endif %}
{% endblock %}