{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
All answers can be cross-checked using <a href="https://www.merriam-webster.com/">Merriam-Webster&rsquo;s 11th Collegiate Dictionary</a>. The dictionary may prove a useful index of words.
{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content div.margin-bottom {
    margin-bottom: 20px;
  }

  .puzzle-content div.indent {
    margin-left: 20px;
  }

  .puzzle-content div.margin-top {
    margin-top: 20px;
  }

  .puzzle-content div {
    vertical-align: top;
  }

  .puzzle-content img {
    height: 1.5em;
  }

  .puzzle-content .blanks {
    font-size: 20pt;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<div class="margin-bottom">
  <div>SECOND LETTER CHANGE (5)</div>
  <div>Our hi-pri docs cannot be CHAIR.</div>
  <div>&rsquo;Til CLAIR, we must send mail by air.</div>
</div>

<div class="margin-bottom">
  <div>TELESTICHAL ENIGMA (10)</div>
  <div class="indent">A. Hate open crab?</div>
  <div class="indent">B. Use sausage anchor.</div>
  <div class="indent">C. With teeth, grin wide,</div>
  <div class="indent margin-top">Not up to rancor.</div>
</div>

<div class="margin-bottom">
  <div>CONSONANTCY (5 3, 5)</div>
  <div>Canola is not my suggested choice grease.</div>
  <div>Instead, extra-virgin GAS ups food&rsquo;s taste GEESE.</div>
</div>

<div class="margin-bottom">
  <div>HEAD-TO-TAIL-SHIFT (3)</div>
  <div>Keep barn CATSs SCAT on gloves, not sky.</div>
  <div>In jesses, birds won&rsquo;t even fly.</div>
</div>

<div class="margin-bottom">
  <div>CURTAILMENT (6)</div>
  <div>The first two cans&rsquo;re gloss, but then</div>
  <div>The pressing TEND: the third one&rsquo;s TEN!</div>
</div>

<div class="margin-bottom">
  <div>REVERSED PALINDROME DELETION (10)</div>
  <div>The drone goes on too long and DIVINE.</div>
  <div>In END, I execrate its whine.</div>
</div>

<div class="margin-bottom">
  <div>SOUND SHIFT (6, 3-3)</div>
  <div>Beer, tea, black VIEW all serve to move</div>
  <div>A singer&rsquo;s voice to sounding YOU&rsquo;VE.</div>
</div>

<div class="margin-bottom">
  <div>DELETION (9)</div>
  <div>I do suggest for older guys</div>
  <div>To lay EYRES while Doc checks your EYES.</div>
</div>

<div class="margin-bottom">
  <div>REBUS (5-6) (11C inferable)</div>
  <div class="margin-bottom">SH/E <img {{ img_src_for('puzzles/flattery_will_get_you_nowhere/01.png') }} ></div>
  <div>I&rsquo;ve spools and kittens, leather pumps&mdash;</div>
  <div>I think that SOL shoes are for chumps.</div>
</div>

<div class="margin-bottom">
  <div>TERMINAL DELETION (6)</div>
  <div>They put up new rugs that are BLAH.</div>
  <div>That older ones were rough&rsquo;s LA.</div>
</div>

<div class="margin-bottom">
  <div>LETTER BANK (4 4, 6)</div>
  <div>My horse should have a ROEHRICH? Fair.</div>
  <div>I&rsquo;m clumsy on beasts from a CO-HEIR.</div>
</div>

<div class="margin-bottom">
  <div>HOMONYM (6, 4)</div>
  <div>We&rsquo;re BARE to string it BEAR to shoot,</div>
  <div>Avoiding your new shoes to boot!</div>
</div>

<div class="margin-bottom">
  <div>BEHEADMENT (5)</div>
  <div>To PAT down vintners, one just scans</div>
  <div>For wine ATs detailed in floor plans.</div>
</div>

<div class="margin-bottom">
  <div>DELETION (11)</div>
  <div>With negative culture and unchanging voice,</div>
  <div>I&rsquo;m BACH and my BATCH dialect&rsquo;s by choice.</div>
</div>

<div class="blanks">___ ___ ___ ___ ___ ___</div>
<div class="blanks">___ ___ ___ ___ ___ ___ ___ ___</div>
{% endblock %}
