{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content .header {
    font-size:  1.5em;
  }

  .puzzle-content .subheader {
    margin-top: 40px;
  }

  .puzzle-content table {
    border-collapse: collapse;
  }

  .puzzle-content th {
    padding: 0em 1em;
  }

  .puzzle-content tr {
    border-bottom: 1px solid black;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<p>To request a Fowlty Towers Model Kit, submit an instruction request to Cranium Command with the phrase “DON’T FALL THROUGH THE QUACKS.”</p>

<p class="header"><b>Fowlty Towers Model Kit Instructions</b></p>

<p class="subheader"><u>You need:</u></p>
<p>36 cubic blocks, each with a volume of one cubic Duck Unit (DU), numbered 1 through 36 (included in kit)</p>
<p>Fowlty Towers Model Kit Instructions (you&rsquo;re reading them)</p>
<p>8 small ducks (not included) (see below)</p>
<p>a designated Duck Zone, 8 DU tall and 13 DU wide (included)</p>

<p class="subheader"><u>More information about the ducks:</u></p>
<p>Your ducks have never seen a duck before.</p>
<p>Your ducks are able to see what is directly in front of them, and nothing else. They are not able to look up, down, right, or left.</p>

<p class="subheader"><u>You should train your ducks so that their behavior is as follows:</u></p>
<p>Ducks standing on grids prefer to stand in the center of a cell (not on the lines.)</p>
<p>A duck&rsquo;s default actions for each second are to first see, and then to take a single step forward. Duck steps are 1 DU in length.</p>
<p>Ducks are solitary creatures. If a duck sees a duck or an image of a duck within 6 DU, it turns 90 degrees instead of taking a step. The first time this happens, the duck turns to its left. The second time, the duck turns to its right. Thenceforth, the duck continues to alternate left and right.</p>
<p>If a duck has another duck standing on it, it takes a step sideways without turning in the direction that it last made a 90-degree turn, instead of taking its default forward step.</p>
<p>When a duck&rsquo;s forward motion would take it outside a designated Duck Zone, it turns 180 degrees instead of taking a step.</p>
<p>When a duck&rsquo;s forward motion would cause it to collide with a block, it acts on the block ahead of it based on the symbols immediately ahead of it and immediately below it:</p>
<ul>
  <li>If either of the symbols immediately ahead of or immediately below the duck is a consonant, the duck rolls the block.</li>
  <ul>
    <li>For the purposes of rolling, &ldquo;forward&rdquo; is defined as the direction from the duck to the rolled block.</li>
    <li>A rolled block rotates 90 degrees away from the duck, around its bottom edge which is opposite the duck.</li>
    <li>If a block rolled by a duck is the base of a tower, the duck remains in place.</li>
    <li>If a block rolled by a duck is not the base of a tower, the duck takes a step into the space previously occupied by the block.</li>
    <li>Any block immediately forward of a rolled block is rolled in the same direction.</li>
    <li>If a rolled block is the base of a tower, then the entire tower is rolled (see below).</li>
  </ul>
  <li>If neither symbol is a consonant and either symbol is a number, the duck pushes the block forward.</li>
  <ul>
    <li>For the purposes of pushing, &ldquo;forward&rdquo; is defined as the direction from the duck to the pushed block.</li>
    <li>A pushed block moves 1 DU in the direction of the push without rotating.</li>
    <li>If a duck pushes a block forward, the duck takes a step into the space previously occupied by the block.</li>
    <li>Any block immediately forward of a pushed block is pushed in the same direction.</li>
    <li>If a pushed block is the base of a tower, then the entire tower is pushed.</li>
  </ul>
  <li>If neither symbol is a consonant or a number, the duck climbs the block.</li>
  <ul>
    <li>Climbing consists of flying upward 1 DU and then flying forward 1 DU.</li>
    <li>If a duck climbs, it does not take a step during the same second.</li>
  </ul>
</ul>
<p>If a duck has neither ground, block, nor duck beneath it at the end of each second, it falls to the nearest surface beneath it. Falls of more than 1 DU stun a duck, and it does not take any action in the following second.</p>
<p>Ducks are surefooted. When a block underneath a duck rolls, the duck moves along with it, staying on top of it and not changing its facing direction. However, ducks are slippery, and if a duck under another duck moves, the top duck does not move.</p>
<p>In each second, ducks determine a turn order. The order is defined by easternness. Ducks farther to the east go first. If multiple ducks are equally far east, the relative order of those ducks is defined by southernness. Ducks farther to the south go first. If multiple ducks are equally far east and south, the relative order of those ducks is defined by downness. Ducks farther down go first.</p>
<ul>
  <li>When it is a duck&rsquo;s turn, the duck first sees what is directly in front of it, and then performs its actions. The duck does not see again until the next second.</li>
  <li>Actions include taking steps, climbing, rolling, pushing, and turning. Each action takes 1 nanosecond to complete, as does seeing.</li>
  <li>A duck waits patiently until the previous duck is finished with all of its actions before taking its turn. A duck is finished with all of its actions when there is no more need for that duck to move until the next second.</li>
</ul>

<p class="subheader"><u>How blocks and towers operate:</u></p>
<p>A tower is defined as a vertical stack of blocks at least 2 DU in height with no other blocks on top of it.</p>
<p>The base of a tower is the lowest block in that tower.</p>
<p>When the base of a tower is rolled, the entire tower rolls as a single unit by rotating 90 degrees around its forward bottom edge.</p>
<ul>
  <li>While rotating, if the face of a block in the rolling tower falls onto edge of another block, the tower block and any tower that it is the base of continues to roll as if its lower forward edge were congruent with the struck edge.</li>
  <li>While rotating, if the edge of a block in the rolling tower falls onto the face of another block, the struck block rolls in the same direction.</li>
  <li>While rotating, if the face of a block falls onto the face of another block, the first block simply lands on top of the second block, having rotated 90 degrees due to the tower having rolled.</li>
</ul>
<p>If a rolling tower passes immediately adjacent to another stack of blocks of at least 2 DU in height, the lowest block in the stack rolls orthogonally away from the rolling tower.</p>
<p>If a block has neither ground nor another block beneath it after rolling, it falls directly downward to the nearest surface.</p>

<p class="subheader"><u>Additional rules:</u></p>
<p>If a block comes to occupy the same space as a duck, you must immediately remove both the block and the duck from the Duck Zone. Make a note of what you see on the south face of the block before you remove it.</p>
<p>If a block within the Duck Zone moves outside of the Duck Zone for any other reason, something has gone wrong, and the training of your ducks should be immediately assessed and corrected.</p>
<p>We understand that it can be quite alarming when a block lands right on top of an image of a duck. When that occurs, it is natural to let out a gasp of alarm. Ducks can be somewhat skittish, and such a gasp would generally cause a duck in the same row to take an extra step in alarm.</p>
<p>Most of the instructions direct you to place a block on the grid. You should do so as quickly as possible. We assume that it will take you no more than 0.17 seconds to place a block. Place each block exactly 1 second after you started to place the previous block.</p>
<p>If the instructions direct you to place a block in a cell already occupied by a block, place the new block on top, unless otherwise specified.</p>
<p>If the instructions direct you to place a block identified by some means that reference the current state of the Duck Zone, the block should first be identified, then placed.</p>
<p>When you put your ducks in the Duck Zone, Y is a consonant. Every time you place a block, Y switches either from being a vowel to being a consonant, or from being a consonant to being a vowel.</p>
<p>Some instructions refer to the value of faces of blocks. The numerical value of a letter is its position in the alphabet: A = 1, B = 2, etc. An image of a duck has no numerical value.</p>
<p>The grid squares forming the bottom of the Duck Zone have a null symbol in them. This null symbol has no characteristics: it is not a consonant, a vowel, a number, or any other descriptor.</p>

<p class="subheader"><b>Instructions</b></p>
<p>If you haven&rsquo;t already, designate a rectangular 13 x 8 DU Duck Zone, oriented orthogonally to the ambient force of gravity and with its long sides running east-west. Mark off a grid of 1 DU square cells. Number the rows 1-8 from north to south, and letter the columns A-M from west to east.</p>
<p>Each of your eight trained ducks should have at no prior time seen another duck. Test the results of your training by making two of them look at each other now. You will know that your training has been successful when each turns 90 degrees to its left.</p>
<p>Make sure all of your ducks have their eyes closed. Position one of the ducks from your recent test in the 7L cell, facing north, and the other in the 7D cell, facing west. Position the remaining 6 trained ducks in the 3M cell, facing west, the 2M cell, facing west, the 6J cell, facing north, the 2D cell, facing south, the 8C cell, facing east, and the 4B cell, facing west.</p>
<ol>
  <li>Place a block with number equal to the number of ducks currently in the Duck Zone in cell 6L, so that R is on top and the number is facing east. Wait .26 seconds and then instruct the ducks to open their eyes.</li>
  <li>Place a block with number equal to the top face of the block currently in the Duck Zone in cell 2E, so that T is on top and R is facing east.</li>
  <li>If any of the duck’s actions were unexpected, remember that they can only see straight ahead, not up or down. Place a block with number equal to the face of a block which is closest to a duck minus the number of grid cells in the Duck Zone ahead of that duck in cell 3B so that E is on top and C is facing east.</li>
  <li>Place a block with number equal to the number of ducks currently in the Duck Zone plus one less than the number of blocks currently in the Duck Zone in cell 7D so that U is on top and the number is facing east.</li>
  <li>Place a block with number equal to the square of the number of ducks currently facing west in cell 3G so that A is on top and K is facing east.</li>
  <li>Place a block with number equal to 4 times the number of ducks currently in the Duck Zone in cell 2E so that K is on top and an image of a duck is facing east.</li>
  <li>Place a block with number equal to 5 times the number of blocks currently in the Duck Zone in cell 3B so that S is on top and U is facing east.</li>
  <li>Place a block with number equal to the total number of distinct blocks that are currently parts of towers in cell 2E so that W is on top and H is facing east.</li>
  <li>Oh, the humanity! Or&hellip; the avianity? You’ll have to start all over building towers. And it’s a shame about the duck, too, you guess. Place a block with number equal to number of ducks currently standing on blocks plus 19 in cell 6F so that T is on top and I is facing east.</li>
  <li>Place a block with number equal to the sum of all block faces currently under ducks in cell 3E so that O is on top and E is facing east.</li>
  <li>Place a block with number equal to the number of ducks currently in the Duck Zone in cell 6I so that the number is on top and L is facing east.</li>
  <li>Place a block with number equal to the number of ducks currently in the Duck Zone multiplied by the number of ducks in the Duck Zone currently facing west in cell 7E so that an image of a duck is on top and S is facing east.</li>
  <li>Place a block on the bottom of a tower by lifting up an entire tower by 1 DU and sliding the block underneath. The block should have a number equal to the number of ducks currently in the Duck Zone multiplied by the number of ducks in the Duck Zone currently facing south, and should be placed with O on top and T facing east.</li>
  <li>Place a block with number equal to the cube of the height in DU of the tallest tower in cell 6B so that T is on top and I is facing east.</li>
  <li>For pete’s sake! Have to start over again&hellip; that duck deserved it, at least&hellip; Place a block with number equal to the number of ducks currently in the Duck Zone in cell 2J so that an image of a duck is on top and K is facing east.</li>
  <li>Place a block with number equal to 11 times the number of ducks currently at the edge of the Duck Zone in cell 4H so that an image of a duck is on top and S is facing east.</li>
  <li>Place a block underneath a block already in the Duck Zone by first lifting up the old block by 1 DU and sliding the new block underneath. The block you place should have a number equal to the number of blocks currently in the western half of the Duck Zone plus the number of ducks currently in the entire Duck Zone, and should be placed so that the number is on top and F is facing east. After this operation, there should be a tower immediately to the left of a duck.</li>
  <li>Place a block with number equal to the total number of distinct blocks that are currently parts of towers in cell 6F so that S is on top and an image of a duck is facing east.</li>
  <li>Place a block with number equal to the number of ducks currently standing on blocks plus the square of the number of ducks not currently standing on blocks plus the number of ducks currently facing either north or south in cell 7I so that an image of a duck is on top and O is facing east.</li>
  <li>Place a block with number equal to one more than the square of the number of distinct blocks currently parts of towers in the cell immediately south of the northernmost duck so that the number is on top and R is facing east.</li>
  <li>Place a block with number equal to the square of the number of ducks currently facing west multiplied by the square of the number of ducks currently facing east in the Duck Zone in cell 4H so that R is on top and an image of a duck is facing east. Don&rsquo;t worry, nobody heard that.</li>
  <li>Place a block with number equal to the number of ducks currently standing on top of blocks multiplied times 12 in cell 3J so that the number is on top and A is facing east.</li>
  <li>Place a block with number equal to the square of the number of ducks currently in the Duck Zone plus the number of ducks currently facing north in cell 2G so that the number is on top and an image of a duck is facing east.</li>
  <li>Place a block with number equal to the square of the current number of towers in cell 7F so that X is on top and the number is facing east. There! That many ducks couldn’t possibly knock down this many towers.</li>
  <li>Place a block with number equal to 17 times the height of the current tallest tower in cell 6D so that G is on top and B is facing east.</li>
  <li>Place a block with number equal to 7 times the number of ducks currently in the Duck Zone multiplied by the number of ducks currently in column B in cell 2G so that F is on top and the number is facing east.</li>
  <li>Place a block with number equal to the number of ducks currently in the Duck Zone in cell 3J so that F is on top and E is facing east.</li>
  <li>Whew, that was a close call! Place a block on the bottom of the southernmost tower by lifting up the entire tower by 1 DU and sliding the block underneath. The block should have a number equal to one less than the product of the number of distinct blocks that are currently parts of towers and the number of ducks currently in column D, and should be placed so that Y is on top and the number is facing east.</li>
  <li>Place a block with number equal to the total number of distinct blocks that are currently parts of towers in cell 6F so that P is on top and an image of a duck is facing east.</li>
  <li>Place a block with number equal to the sum of all faces immediately in front of ducks that are standing on the ground minus twice the sum of all faces immediately in front of ducks that are standing on blocks in cell 7B so that H is on top and X is facing east.</li>
  <li>Those poor ducks! Well, if we’re being honest, neither of them was innocent. Place a block with number equal to the number of ducks currently facing south in cell 6F so that an image of a duck is on top and the number is facing east.</li>
  <li>Place a block with number equal to one greater than the sum of all visible faces behind ducks minus half the sum of all visible faces in front of ducks in cell 2G so that the number is on top and P is facing east.</li>
  <li>Place a block with number equal to the number of ducks currently in the Duck Zone in cell 3J so that L is on top and F is facing east.</li>
  <li>Don’t worry! That wasn’t a real duck. Place a block with number equal to the number of distinct blocks that are currently parts of towers in cell 7I so that an image of a duck is on top and Z is facing east.</li>
  <li>Place a block in cell 6F so that the tower there describes a bee on one side, and C is on top.</li>
  <li>Place a block with a P on top so that 3 of the towers in the Duck Zone spell an emotion on one side.</li>
  <li>Now that all the quacking has stopped, make note of the symbols you see on the south faces of the southernmost blocks in the Duck Zone.
</ol>

<p class="header"><b>Appendix</b></p>
<p>Your 36 blocks should have the following faces:</p>
<table>
  <tr>
    <th>Top</th>
    <th>South</th>
    <th>Bottom</th>
    <th>North</th>
    <th>East</th>
    <th>West</th>
  </tr>
  <tr>
    <td>duck</td>
    <td>P</td>
    <td>W</td>
    <td>A</td>
    <td>U</td>
    <td>1</td>
  </tr>
  <tr>
    <td>S</td>
    <td>Z</td>
    <td>V</td>
    <td>duck</td>
    <td>E</td>
    <td>2</td>
  </tr>
  <tr>
    <td>W</td>
    <td>duck</td>
    <td>F</td>
    <td>S</td>
    <td>L</td>
    <td>3</td>
  </tr>
  <tr>
    <td>W</td>
    <td>Y</td>
    <td>duck</td>
    <td>H</td>
    <td>I</td>
    <td>4</td>
  </tr>
  <tr>
    <td>F</td>
    <td>E</td>
    <td>X</td>
    <td>Z</td>
    <td>duck</td>
    <td>5</td>
  </tr>
  <tr>
    <td>duck</td>
    <td>K</td>
    <td>V</td>
    <td>T</td>
    <td>R</td>
    <td>6</td>
  </tr>
  <tr>
    <td>L</td>
    <td>M</td>
    <td>I</td>
    <td>duck</td>
    <td>E</td>
    <td>7</td>
  </tr>
  <tr>
    <td>R</td>
    <td>P</td>
    <td>U</td>
    <td>A</td>
    <td>duck</td>
    <td>8</td>
  </tr>
  <tr>
    <td>A</td>
    <td>duck</td>
    <td>F</td>
    <td>K</td>
    <td>R</td>
    <td>9</td>
  </tr>
  <tr>
    <td>U</td>
    <td>I</td>
    <td>duck</td>
    <td>D</td>
    <td>O</td>
    <td>10</td>
  </tr>
  <tr>
    <td>E</td>
    <td>I</td>
    <td>O</td>
    <td>Y</td>
    <td>duck</td>
    <td>11</td>
  </tr>
  <tr>
    <td>E</td>
    <td>H</td>
    <td>duck</td>
    <td>A</td>
    <td>C</td>
    <td>12</td>
  </tr>
  <tr>
    <td>H</td>
    <td>E</td>
    <td>J</td>
    <td>duck</td>
    <td>X</td>
    <td>13</td>
  </tr>
  <tr>
    <td>D</td>
    <td>L</td>
    <td>Z</td>
    <td>J</td>
    <td>duck</td>
    <td>14</td>
  </tr>
  <tr>
    <td>F</td>
    <td>B</td>
    <td>M</td>
    <td>E</td>
    <td>duck</td>
    <td>15</td>
  </tr>
  <tr>
    <td>P</td>
    <td>Z</td>
    <td>U</td>
    <td>duck</td>
    <td>F</td>
    <td>16</td>
  </tr>
  <tr>
    <td>R</td>
    <td>duck</td>
    <td>Z</td>
    <td>P</td>
    <td>H</td>
    <td>17</td>
  </tr>
  <tr>
    <td>T</td>
    <td>R</td>
    <td>A</td>
    <td>duck</td>
    <td>E</td>
    <td>18</td>
  </tr>
  <tr>
    <td>Y</td>
    <td>R</td>
    <td>I</td>
    <td>duck</td>
    <td>T</td>
    <td>19</td>
  </tr>
  <tr>
    <td>O</td>
    <td>F</td>
    <td>U</td>
    <td>E</td>
    <td>duck</td>
    <td>20</td>
  </tr>
  <tr>
    <td>O</td>
    <td>T</td>
    <td>I</td>
    <td>A</td>
    <td>duck</td>
    <td>21</td>
  </tr>
  <tr>
    <td>B</td>
    <td>S</td>
    <td>duck</td>
    <td>L</td>
    <td>C</td>
    <td>22</td>
  </tr>
  <tr>
    <td>P</td>
    <td>duck</td>
    <td>I</td>
    <td>A</td>
    <td>O</td>
    <td>23</td>
  </tr>
  <tr>
    <td>A</td>
    <td>I</td>
    <td>duck</td>
    <td>Z</td>
    <td>X</td>
    <td>24</td>
  </tr>
  <tr>
    <td>X</td>
    <td>O</td>
    <td>duck</td>
    <td>Y</td>
    <td>Q</td>
    <td>25</td>
  </tr>
  <tr>
    <td>duck</td>
    <td>N</td>
    <td>G</td>
    <td>E</td>
    <td>J</td>
    <td>26</td>
  </tr>
  <tr>
    <td>duck</td>
    <td>W</td>
    <td>I</td>
    <td>B</td>
    <td>T</td>
    <td>27</td>
  </tr>
  <tr>
    <td>duck</td>
    <td>J</td>
    <td>A</td>
    <td>S</td>
    <td>W</td>
    <td>28</td>
  </tr>
  <tr>
    <td>Y</td>
    <td>duck</td>
    <td>O</td>
    <td>V</td>
    <td>N</td>
    <td>29</td>
  </tr>
  <tr>
    <td>S</td>
    <td>T</td>
    <td>duck</td>
    <td>L</td>
    <td>U</td>
    <td>30</td>
  </tr>
  <tr>
    <td>P</td>
    <td>duck</td>
    <td>E</td>
    <td>N</td>
    <td>Q</td>
    <td>31</td>
  </tr>
  <tr>
    <td>K</td>
    <td>B</td>
    <td>N</td>
    <td>Q</td>
    <td>duck</td>
    <td>32</td>
  </tr>
  <tr>
    <td>duck</td>
    <td>Q</td>
    <td>E</td>
    <td>C</td>
    <td>S</td>
    <td>33</td>
  </tr>
  <tr>
    <td>G</td>
    <td>B</td>
    <td>E</td>
    <td>duck</td>
    <td>L</td>
    <td>34</td>
  </tr>
  <tr>
    <td>F</td>
    <td>G</td>
    <td>H</td>
    <td>duck</td>
    <td>W</td>
    <td>35</td>
  </tr>
  <tr>
    <td>R</td>
    <td>duck</td>
    <td>B</td>
    <td>L</td>
    <td>Z</td>
    <td>36</td>
  </tr>
</table>
{% endblock %}
