{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
@media print {
  .puzzle-content img {
      display: block;
      page-break-inside: avoid;
  }
}
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
What’s the difference?
{% endblock %}

{% block puzzle_content_block %}
<div id="grids">
  <p><img src="{{ asset_url_for('puzzles/fuch_sia/0.svg') }}" /></p>

  <p><img src="{{ asset_url_for('puzzles/fuch_sia/1.svg') }}" /></p>

  <p><img src="{{ asset_url_for('puzzles/fuch_sia/2.svg') }}" /></p>

  <p><img src="{{ asset_url_for('puzzles/fuch_sia/3.svg') }}" /></p>

  <p><img src="{{ asset_url_for('puzzles/fuch_sia/4.svg') }}" /></p>

  <p><img src="{{ asset_url_for('puzzles/fuch_sia/5.svg') }}" /></p>

  <p><img src="{{ asset_url_for('puzzles/fuch_sia/6.svg') }}" /></p>

  <p><img src="{{ asset_url_for('puzzles/fuch_sia/7.svg') }}" /></p>

  <p><img src="{{ asset_url_for('puzzles/fuch_sia/8.svg') }}" /></p>

  <p><img src="{{ asset_url_for('puzzles/fuch_sia/9.svg') }}" /></p>
</div>
{% endblock %}
