{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>

  .puzzle-content .center {
    margin: 0 auto;
    display: block;
  }

  .puzzle-content .width-25 {
    width: 25%;
  }

  .puzzle-content .width-33 {
    width: 33%;
  }

  .puzzle-content .width-50 {
    width: 50%;
  }

  .puzzle-content .game5 {
    text-align: center;
  }

  .puzzle-content .game5-small {
    width: 50px;
  }

  .puzzle-content .game5-large {
    width: 205px;
  }

  .puzzle-content .game6 td {
    width: 23%;
    padding-right: 2%;
    vertical-align: bottom;
  }

  .puzzle-content .game6 img {
    width: 100%;
    display: block;
  }

  .puzzle-content .game7 {
    line-height: 0;
  }

  .puzzle-content .game7 img {
    width: 25%;
  }

  .puzzle-content .game9 {
    font-family: Times, serif;
    font-size: 36px;
    word-spacing: 1em;
    text-align: center;
  }

</style>
{% endblock %}

{% block puzzle_content_block %}
<p>
  Members of the games club love playing games. The members are infinitely intelligent and always play optimal moves. Their goal is to win. However, as long as it doesn&rsquo;t affect whether they win, they want to prolong the game as long as possible. In all the games, the first player mentioned starts. The player that doesn’t have a move loses. For the sake of anonymity they use nicknames.
</p>

<p>
  <b>Game 1.</b> BrokenHeart and SteadyTears are playing a game that starts with two piles of tokens containing 10 and 7 tokens, respectively. On each turn a player removes any number of tokens from one of the piles or the same number of tokens from both piles.
</p>

<img class="center" src="{{ asset_url_for('puzzles/games_club/01.png') }}"/>

<p>
  <b>Game 2.</b> CryMeARiver and NeedANapkin are playing a game with a 3 by 3 chocolate bar. On each move a player breaks one piece of chocolate along a grid line, thereby splitting one rectangular piece into two rectangular pieces.
</p>

<img class="center width-25" src="{{ asset_url_for('puzzles/games_club/02.png') }}"/>

<p>
  <b>Game 3.</b> FullDespair and SomberState are playing a game that starts with tokens at the vertices of a regular 22-gon. On each turn, a player can remove 2 tokens that belong to the same edge of the starting 22-gon.
</p>

<img class="center width-25" src="{{ asset_url_for('puzzles/games_club/03.png') }}"/>

<p>
  <b>Game 4.</b> GloomyEarth and SadSadWorld play a game that starts with 12 SET cards. Each player removes one set on their turn.
</p>

<img class="center width-50" src="{{ asset_url_for('puzzles/games_club/04.png') }}"/>

<p>
  <b>Game 5.</b> GoodbyeLove and LostForever are putting non-attacking kings on a 4 by 4 chess-board.
</p>

<div class="game5">
  <img class="game5-small" src="{{ asset_url_for('puzzles/games_club/05.png') }}"/>
  <img class="game5-small" src="{{ asset_url_for('puzzles/games_club/05.png') }}"/>
  <img class="game5-small" src="{{ asset_url_for('puzzles/games_club/05.png') }}"/>
  <img class="game5-small" src="{{ asset_url_for('puzzles/games_club/05.png') }}"/>
  <img class="game5-small" src="{{ asset_url_for('puzzles/games_club/05.png') }}"/>
  <img class="game5-small" src="{{ asset_url_for('puzzles/games_club/05.png') }}"/>
  <img class="game5-large" src="{{ asset_url_for('puzzles/games_club/06.png') }}"/>
</div>

<p>
  <b>Game 6.</b> ILostMyHope and IMissMyMama are playing a game that starts with four piles of cookies containing 1, 4, 4, and 5 cookies correspondingly. On their move a player removes any number of cookies from any one pile.
</p>

<table class="center width-50 game6">
  <tr>
    <td>
      <img src="{{ asset_url_for('puzzles/games_club/07.png') }}"/>
    </td>
    <td>
      <img src="{{ asset_url_for('puzzles/games_club/07.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/07.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/07.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/07.png') }}"/>
    </td>
    <td>
      <img src="{{ asset_url_for('puzzles/games_club/07.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/07.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/07.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/07.png') }}"/>
    </td>
    <td>
      <img src="{{ asset_url_for('puzzles/games_club/07.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/07.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/07.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/07.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/07.png') }}"/>
    </td>
  </tr>
</table>

<p>
  <b>Game 7.</b> NothingMore and Nonexistent are playing a game that starts with 8 quarters arranged into a two by four rectangle. On their move a player removes a full square of quarters: either one quarter or four quarters forming a two by two square.
</p>

<div class="center width-33 game7">
  <img src="{{ asset_url_for('puzzles/games_club/08.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/08.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/08.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/08.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/08.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/08.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/08.png') }}"/><img src="{{ asset_url_for('puzzles/games_club/08.png') }}"/>
</div>

<p>
  <b>Game 8.</b> PoorAndSick and DownAndGlum are playing a game on a rectangular 3 by 4 chocolate bar made up of smaller square blocks. A move consists of chomping any upper-right quadrant out of the chocolate bar. Specifically, the player picks a square block and chomps it and every square that is above it, right of it, or both. Traditionally, the players eat the chomped squares.
</p>

<img class="center width-33" src="{{ asset_url_for('puzzles/games_club/09.png') }}"/>

<p>
  <b>Game 9.</b> SorrowLives and Unfortunate start with the three words &ldquo;death and mayhem&rdquo;. On each turn a player picks one word and anagrams it into several words, thus increasing the total number of words. The players use the SOWPODS dictionary. (SOWPODS is a large dictionary of Scrabble words. In particular it does not contain one-letter words.)
</p>

<p class="game9">
  DEATH AND MAYHEM
</p>

<p>
  <b>Game 10.</b> Unhappiness and Despondency put non-overlapping dominoes onto a 4 by 4 board. The first player puts vertical dominoes on the board, while the second player puts horizontal dominoes on the board.
</p>

<img class="center" src="{{ asset_url_for('puzzles/games_club/10.png') }}"/>

<p>
  <b>Game 11.</b> WretchedGuy and SuperCryMan are playing a game on a square 3 by 3 grid. On each move a player draws a new dot in the center of one of the small square cells so that no four dots form a square with edges parallel to the grid.
</p>

<img class="center width-25" src="{{ asset_url_for('puzzles/games_club/11.png') }}"/>

{% endblock %}
