{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
Welcome to the pre-beta test of Pok&eacute;mon Go, Master Edition!{%- if core_display_data.goContentDelivered == "DELIVERED" %} Unfortunately, we don&rsquo;t have all the art assets in yet&hellip; but don&rsquo;t let that stop you. Make sure to leave no stone unturned!{% endif -%}
{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content .container {
    width: 350px;
    margin: auto;

    display: flex;
    flex-direction: column;
  }

  .puzzle-content .container > img {
    width: 100%;
  }

  .puzzle-content .phone-middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
  }

  .puzzle-content .phone-middle > img {
    width: 22px;
    height: 545px;
  }

  .puzzle-content .nearby > img {
    display: block;
    margin: 10px auto;
  }

  .puzzle-content .row {
    display: flex;
    margin-bottom: 10px;
  }

  .puzzle-content .stopcircle {
    border-radius: 36px;
    border: 4px solid #20e8db;
  }

  .puzzle-content .edgespacer {
    width: 15px;
  }

  .puzzle-content .betweenspacer {
    width: 15px;
  }

  .puzzle-content .broken {
    width: 72px;
    height: 72px;

    display: flex;
  }

  .puzzle-content .broken img {
    height: 20px;
    margin: auto;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
{% if site_mode() == "solution" %}
<p>Teams received a smartphone with which to play the &ldquo;pre-beta&rdquo; version of Pok&eacute;mon Go, Master Edition. The &ldquo;smartphone&rdquo; was actually a piece of cardboard with red cellphane taped to it.</p>
{% endif %}

{%- if core_display_data.goContentDelivered or site_mode() == "solution" -%}
<div class="container">
  <img class="phone-top" {{ img_src_for('puzzles/go/top.png') }} >
  <div class="phone-middle">
    <img class="phone-left" {{ img_src_for('puzzles/go/left.png') }} >
    <div class="phone-content">
        <div class="nearby">
          <img {{ img_src_for('puzzles/go/nearby.png') }} >
        </div>

        <div class="row">
          <div class="edgespacer"></div>
          <div class="stopcircle">
            <div class="broken" title="3D optics lab on the 3rd floor">
              <img {{ img_src_for('puzzles/go/broken.png') }} >
            </div>
          </div>

          <div class="betweenspacer"></div>

          <div class="stopcircle">
            <div class="broken" title="Records office">
              <img {{ img_src_for('puzzles/go/broken.png') }} >
            </div>
          </div>

          <div class="betweenspacer"></div>

          <div class="stopcircle">
            <div class="broken" title="A Noctowl in flight. They must have been real fast to get this photo!">
              <img {{ img_src_for('puzzles/go/broken.png') }} >
            </div>
          </div>

          <div class="edgespacer"></div>
        </div>

        <div class="row">
          <div class="edgespacer"></div>
          <div class="stopcircle">
            <div class="broken" title="A fishbowl">
              <img {{ img_src_for('puzzles/go/broken.png') }} >
            </div>
          </div>

          <div class="betweenspacer"></div>

          <div class="stopcircle">
            <div class="broken" title="Rectangular concert hall near the library">
              <img {{ img_src_for('puzzles/go/broken.png') }} >
            </div>
          </div>

          <div class="betweenspacer"></div>

          <div class="stopcircle">
            <div class="broken" title="A banner of a Fuzzy Pok&eacute;mon similar to a Venonat">
              <img {{ img_src_for('puzzles/go/broken.png') }} >
            </div>
          </div>

          <div class="edgespacer"></div>
        </div>

        <div class="row">
          <div class="edgespacer"></div>

          <div class="stopcircle">
            <div class="broken" title="A subterranean Fountain that makes you feel years younger">
              <img {{ img_src_for('puzzles/go/broken.png') }} >
            </div>
          </div>

          <div class="betweenspacer"></div>

          <div class="stopcircle">
            <div class="broken" title="A thousand Flying-type Pok&eacute;mon circling overhead">
              <img {{ img_src_for('puzzles/go/broken.png') }} >
            </div>
          </div>

          <div class="betweenspacer"></div>

          <div class="stopcircle">
            <div class="broken" title="The Lodge where freshmen learn to make things">
              <img {{ img_src_for('puzzles/go/broken.png') }} >
            </div>
          </div>

          <div class="edgespacer"></div>
        </div>

        <div class="row">
          <div class="edgespacer"></div>
          <div class="stopcircle">
            <div class="broken" title="People studying Electric-type Pok&eacute;mon make their headquarters here">
              <img {{ img_src_for('puzzles/go/broken.png') }} >
            </div>
          </div>

          <div class="betweenspacer"></div>

          <div class="stopcircle">
            <div class="broken" title="Bring your Pok&eacute;Walker and pick up the Courage badge!">
              <img {{ img_src_for('puzzles/go/broken.png') }} >
            </div>
          </div>

          <div class="betweenspacer"></div>

          <div class="stopcircle">
            <div class="broken" title="The base of the triangle. You can catch a Vanillite here!">
              <img {{ img_src_for('puzzles/go/broken.png') }} >
            </div>
          </div>

          <div class="edgespacer"></div>
        </div>
    </div>
    <img class="phone-right" {{ img_src_for('puzzles/go/right.png') }} >
  </div>
  <img class="phone-bottom" {{ img_src_for('puzzles/go/bottom.png') }} >
</div>
{%- else -%}
<p>To receive your game materials, please submit an instruction request to Cranium Command with the phrase “GO FASTER.”</p>
<p><b>Check this space when you return</b>, as it should change when the game materials are handed over. If it does not, <b>please contact Cranium Command with the same phrase</b>.</p>
{%- endif -%}

{% if site_mode() == "solution" %}
<p>Posters were found at the locations described by the tooltops on the &ldquo;broken&rdquo; images. When viewed through the &ldquo;smartphone&rdquo;, they appeared as follows:</p>

<img style="width:100%" {{ img_src_for('solutions/go/01_red.png') }} >
<img style="width:100%" {{ img_src_for('solutions/go/02_red.png') }} >
<img style="width:100%" {{ img_src_for('solutions/go/03_red.png') }} >
<img style="width:100%" {{ img_src_for('solutions/go/04_red.png') }} >
<img style="width:100%" {{ img_src_for('solutions/go/05_red.png') }} >
<img style="width:100%" {{ img_src_for('solutions/go/06_red.png') }} >
<img style="width:100%" {{ img_src_for('solutions/go/07_red.png') }} >
<img style="width:100%" {{ img_src_for('solutions/go/08_red.png') }} >
<img style="width:100%" {{ img_src_for('solutions/go/09_red.png') }} >
<img style="width:100%" {{ img_src_for('solutions/go/10_red.png') }} >
<img style="width:100%" {{ img_src_for('solutions/go/11_red.png') }} >
<img style="width:100%" {{ img_src_for('solutions/go/12_red.png') }} >
{% endif %}
{% endblock %}
