{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content #grids {
    text-align: center;
  }

  .puzzle-content svg {
    page-break-inside: avoid;
  }

  .puzzle-content .hexagon {
    fill: #ffffff;
    stroke: #999999;
  }

  @media print {
    .puzzle-content .hexagon {
      stroke: #cccccc;
    }
  }
</style>

<script type="text/javascript">
  var createSVG = function(tag) {
    return $(document.createElementNS('http://www.w3.org/2000/svg', tag || 'svg'));
  };

  //Adapted from https://github.com/gojko/hexgridwidget
  $.fn.hexGrid = function(grid, marginX, marginY, radius, fill) {
    'use strict';
    var rows = grid.length;
    var columns = grid.reduce(function(tot,x,i,a){return x.length > tot ? x.length : tot;},grid[0].length);
    return $(this).each(function() {
      var tighten = rows==1 || grid.reduce(function(tot,x,i,a){return tot && (i%2==0 || x.length<columns || x[x.length-1]=='');});
      var element = $(this),
	  width = Math.sqrt(3) / 2 * radius,
	  totalWidth = (2 * columns  +  1) * width + marginX * 2 - (tighten ? width : 0),
	  totalHeight = (1.5 * rows  +  0.5) * radius + marginY * 2,
	  svgParent = createSVG('svg').appendTo(element).addClass('hexagonGrid').css({
	    'width': totalWidth,
	    'height': totalHeight,
	  }),
	  toPoint = function(dx, dy) {
	    return Math.round(dx + center.x) + ',' + Math.round(dy + center.y);
	  };
      for (var row = 0; row < rows; row++) {
        for (var column = 0; column < columns; column++) {
	  if (column < grid[row].length) {
            var hexWidth = fill * width;
            var hexRadius = fill * radius;
            var center = {
              y:Math.round(marginY + (1 + 1.5 * row) * radius),
              x:Math.round(marginX + width * (1 + column * 2 + (row % 2 == 0 ? 0 : 1)))
            };
            var cell = grid[row][column];
            if (cell.length>0) {
              createSVG('polygon').attr({
                'points': [
                  toPoint(-1 * hexWidth, -1 * hexRadius / 2),
                  toPoint(-1 * hexWidth, hexRadius / 2),
                  toPoint(0, hexRadius),
                  toPoint(hexWidth, hexRadius / 2),
                  toPoint(hexWidth, -1 * hexRadius / 2),
                  toPoint(0, -1 * hexRadius)
                ].join(' '),
                'class':'hexagon'
              }).appendTo(svgParent).data({center:center, column:column, row:row});
            }
            if (cell.trim().length>0) {
              createSVG('text').attr({
                'x':center.x,
                'y':center.y,
                'text-anchor':'middle',
                'alignment-baseline':'central',
                'class':'hexagonLabel',
                'font-size':hexRadius,
              }).text(cell).appendTo(svgParent);
            }
          }
        }
      }
    });
  };

  $('#grids').ready(function() {
    $('#grid1').hexGrid([
      ['', '', '3', '2', '2', '2', '3'],
      ['', '1', '0', '0', '0', '0', '3'],
      ['', '2', '0', '3', '4', '3', '1', '4'],
      ['1', '0', '3', '6', '6', '3', '3', '5'],
      ['4', '1', '1', '4', '6', '4', '5', '1', '1'],
      ['0', '3', '5', '3', '3', '1', '3', '5'],
      ['', '5', '3', '4', '5', '3', '0', '4'],
      ['', '2', '3', '5', '2', '3', '5'],
      ['', '', '3', '3', '1', '0', '1'],
    ], 5, 5, 16, 1);

    $('#grid2').hexGrid([
      ['', '', '3', '4', '3', '1', '5'],
      ['', '3', '6', '6', '3', '2', '4'],
      ['', '0', '3', '4', '3', '0', '3', '4'],
      ['2', '0', '0', '0', '1', '2', '4', '4'],
      ['3', '3', '0', '1', '2', '5', '5', '3', '5'],
      ['2', '1', '3', '4', '5', '2', '0', '4'],
      ['', '1', '5', '2', '3', '3', '0', '3'],
      ['', '1', '3', '4', '5', '3', '1'],
      ['', '', '0', '2', '3', '4', '4'],
    ], 5, 5, 16, 1);

    $('#grid3').hexGrid([
      ['', '', '5', '5', '1', '0', '0'],
      ['', '1', '2', '1', '0', '1', '1'],
      ['', '0', '3', '3', '0', '0', '0', '0'],
      ['0', '3', '6', '3', '0', '0', '0', '0'],
      ['1', '0', '3', '3', '0', '0', '1', '2', '1'],
      ['1', '0', '0', '0', '0', '0', '0', '0'],
      ['', '0', '0', '0', '0', '1', '2', '1'],
      ['', '2', '3', '0', '0', '0', '0'],
      ['', '', '3', '2', '0', '1', '1'],
    ], 5, 5, 16, 1);

    $('#grid4').hexGrid([
      ['', '', '2', '1', '3', '4', '5'],
      ['', '1', '3', '0', '1', '3', '3'],
      ['', '5', '5', '3', '4', '3', '5', '5'],
      ['4', '3', '3', '6', '6', '3', '4', '2'],
      ['5', '4', '5', '3', '4', '3', '5', '3', '3'],
      ['3', '4', '2', '0', '0', '1', '4', '2'],
      ['', '5', '2', '1', '3', '4', '2', '3'],
      ['', '4', '3', '5', '3', '3', '3'],
      ['', '', '5', '0', '5', '4', '4'],
    ], 5, 5, 16, 1);

    $('#grid5').hexGrid([
      ['', '', '1', '2', '3', '4', '5'],
      ['', '2', '0', '1', '2', '3', '4'],
      ['', '3', '1', '0', '1', '5', '4', '5'],
      ['4', '2', '3', '3', '2', '3', '0', '1'],
      ['4', '3', '5', '5', '4', '3', '1', '0', '1'],
      ['4', '5', '5', '3', '4', '2', '4', '3'],
      ['', '3', '5', '5', '3', '1', '4', '4'],
      ['', '4', '5', '4', '3', '2', '2'],
      ['', '', '3', '4', '4', '2', '5'],
    ], 5, 5, 16, 1);

    $('#grid6').hexGrid([
      ['', '', '1', '2', '3', '3', '3'],
      ['', '3', '0', '3', '6', '3', '2'],
      ['', '3', '4', '0', '3', '3', '0', '0'],
      ['4', '4', '4', '0', '0', '0', '1', '4'],
      ['5', '3', '3', '2', '2', '0', '1', '0', '2'],
      ['0', '2', '2', '2', '3', '2', '2', '5'],
      ['', '0', '0', '0', '0', '2', '0', '4'],
      ['', '1', '2', '1', '0', '3', '4'],
      ['', '', '0', '0', '0', '1', '5'],
    ], 5, 5, 16, 1);

    $('#grid7').hexGrid([
      ['', '', '5', '4', '5', '3', '5'],
      ['', '4', '2', '0', '5', '0', '4'],
      ['', '5', '1', '0', '1', '1', '1', '3'],
      ['3', '5', '4', '4', '4', '2', '1', '0'],
      ['5', '3', '2', '5', '6', '4', '1', '5', '5'],
      ['4', '1', '0', '5', '5', '1', '0', '3'],
      ['', '4', '1', '3', '6', '3', '5', '5'],
      ['', '0', '2', '3', '3', '3', '3'],
      ['', '', '5', '4', '4', '4', '5'],
    ], 5, 5, 16, 1);

    $('#grid8').hexGrid([
      ['', '', '5', '0', '1', '4', '1'],
      ['', '4', '2', '0', '1', '1', '2'],
      ['', '3', '2', '4', '4', '3', '2', '3'],
      ['4', '2', '4', '5', '3', '4', '2', '2'],
      ['1', '5', '2', '3', '2', '4', '1', '2', '5'],
      ['3', '4', '2', '1', '5', '2', '0', '0'],
      ['', '3', '3', '0', '1', '3', '3', '0'],
      ['', '0', '2', '0', '3', '6', '3'],
      ['', '', '1', '0', '0', '3', '3'],
    ], 5, 5, 16, 1);
  });
</script>
{% endblock %}

{% block puzzle_content_block %}
<p>Each of these villages has a fence running through it along the
  grid lines, forming a single continuous closed loop. Some of the
  inhabitants are really sad about the fence and will only tell you
  exactly how many of their neighbors are sad like they are. As to the
  others, they are so disgusted by everyone else, they&rsquo;d rather
  just tell you on how many sides they are fenced off from their
  neighbors or from the outside world. But they really need your
  help&mdash;see how many of those sad people are being kept out of
  the loop!</p>

<div id="grids">
  <noscript>
    <p>(You&rsquo;ll need to have Javascript enabled to view this
      puzzle.)</p>
  </noscript>

  <div id="grid1"></div>

  <div id="grid2"></div>

  <div id="grid3"></div>

  <div id="grid4"></div>

  <div id="grid5"></div>

  <div id="grid6"></div>

  <div id="grid7"></div>

  <div id="grid8"></div>
</div>
{% endblock %}
