{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_errata_block %}
  <p><b>Errata:</b> At 7:30 PM EST 01/14/2018, the 13th word in the last paragraph was changed from “COMISIT” to “COMMISIT.” This should not affect the solveability of the puzzle.</p>
{% endblock %}

{% block puzzle_content_block %}
  <p>FORTASSE SOLVS QVI A FILIO SVO SVBSECVTVS PAPA HIC PIVS VIR
    SECRETARIVM QVOD SCRIPTVRAS ORIGENIS THEOLOGI ALEXANDRINI
    BLASPHEMIAS DIXIT ESSE CONVOCAVIT EVM HOMINEM QVI IN PAVPERTATE
    SANCTITATEM COMPLEXVS SIT HIERONYMVS ACCLAMAT</p>

  <p>HIC SENATOR A SERVO SVO DE CHRISTIANITATE DELATVS PRO SENATV
    IVDICE FIDEM CHRISTIANAM ARDENTER DEFENDIT ITAQVE FIDE TECTVS
    MORTEM NON METVANS QVOMODO PAGANITATEM VICTVRVS SIT IESVS
    GLORIOSVS NARRAVIT</p>

  <p>HIC VIR VT DICVNT FILIVS CVIVSDAM REGIS SCOTORVM ORDINATO EO AD
    HELVETIAM DEINDE IVIT ET ILLIC DRACONE CERTAVIT VIR PIISSIMVS
    POSTEA IN AD LACVM PVLCHRVM CAVERNA IPSIVS DRACONIS VITAM ASCETAE
    EGIT</p>

  <p>HIC VIR BRITANNIAE MIRACVLATOR NOMINATVS HOMINES PESTEM
    TERRIBILEM MORBOSQVE ALTEROS PATIENTES INTREPIDIVS CVRAVIT IS
    VITAM EGIT MEDICVS MAGNVS CIRCA DVNELM QVA POPVLVS CRVCEM EIVS IN
    PROELIVM TVLIT CARVS SANCTVS EST</p>

  <p>HIC VIR ITALIANVS AD GALLIAM ITVS EPISCOPVS LVTETIAE PRINCEPS
    ERAT IBI A GVBERNATORE ROMANO CAPITE SVO LEVATVS EST DECOLLATVS ET
    CAPVT SVVM SVBLATVS ALIQVOT MILIA VERBVM BEATVM DEI CONSTANTER
    PRAEDICANS AMBVLAVIT</p>

  <p>HIC VIR ANTIOCHENSIS MILES ANNOS LX ERAT ET CVM IMPERATORE
    CONSTANTINO BELLVM GESSIT. EI DEOS ROMANOS DEOS SVOS ACCIPERE
    INCOMPRAEHENSIBILIS, ITAQVE IVLIANVS APOSTATA EO ANNOS CX NATO
    DETRVNCATVM ESSE IVSSIT.</p>

  <p>HIC EPISCOPVS ROMAE DE MAZYCIBVS NATVS TERMINALIS. AVCTOR
    VERBOSVS FERAXQVE LITTERARVM MVLTARVM IN QVIBVS EST DVO SVNT DE
    COMPARATIONE ECCLESIAE CIVITATISQVE ERAT. CVM PAPA ESSET NE
    LVPERCALIA PAGANA CELEBRETVR PROHIBERE CERTAVIT.</p>

  <p>POTESTATEM SVAM DIVITES ET REX NON ABVTERE DEBENT HIC
    ANTIOCHENSIS DIXIT FAMA LOQVITVR EVM ALIQVAM PRINCIPISSAM
    CONSTVPRAVISSE FEMINAMQVE DE CAVTE DEIECISSE PAENITENS
    MISERICORDIAM SIBI PRAECATVS EST ET MIRACVLOSE IMAGO EI IGNOVIT</p>

  <p>IN PHILOLOGIA CELEBRE MONASTERIO DIDICIT HIC IN LOTHARINGIA NATVS
    HOMO MEMORIA EIDETICA SAPIENTISSIMVS VIR TABELLAS SCIENTIAM
    ISLAMICAM PRODENTAS DE OFFICIO SVO LEGATI HISPANIENSIS DOMVM
    REFERENS IN EVROPA ARTEM MAGNOPERE AVXIT</p>

  <p>IN HIBERNIA DE PARENTIBVS NOBILIBVS NATVS VIR ADMODVM PIVS VT
    MISSIONARIVM DEI FIAT AD BAVARIAM IN TERRA GERMANORVM IIT IBI
    DVCEM AD CHRISTIANITATEM TRADVXIT SED AB VXORE ILLIVS PAGANA
    DECOLLATVS EST</p>

  <p>FILIVS PAPAE PAPA IPSE FACTVS EST IN ECCLESIA ORDINE PAVLO HVMILE
    HABENTE TAMEN PAPA ELICTVS ELECTIO A GOTHIS SVSTENTA EST AVCTOR
    CASVS TERRIBILIS A VIGILIO PARATAE HVIVS VIRI IMPERATRIX THEODORA</p>

  <p>PATRE EVM MILITEM ESSE VOLENTE HIC VIR CANONICVS FIERI OPTAVIT
    CISTERCIANOSQVE SE COMMISIT RECTORVM CLERICALIVM CONTRA
    INTERCESSIONEM CIVITATIS CONSERVATOR ERAT POSTMODO BEATVS
    ARCHIEPISCOPVS AVARICI BITVRGIVM ELICTVS GRAVATIM AD ILLVD MVNVS
    ACCESSIT</p>
{% endblock %}
