{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content img {
    width: 100%;
    margin-top: 20px;
  }

  @media print {
    .puzzle-content img {
      display: block;
      page-break-inside: avoid;
    }
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<p>It&rsquo;s not quite <i>Waterworld</i> yet, but all we have left is just a bunch of circular islands on each continent. Fortunately, we have some good engineers. We are planning to connect the islands to each other by a network of straight line bridges. The bridges cannot cross each other or pass over islands, and can only be placed horizontally (East&ndash;West) or vertically (North&ndash;South). A pair of islands can be connected by at most two bridges. All the islands must be connected together in a single group.</p>

<p>Each island has a value equal to the total number of bridges that connect it to its neighbors. Diamond-shaped signs display, for each of the four directions (North, South, East, West), the sum of the values of the islands that lie in the given direction from the sign. Moreover:</p>

<ul>
  <li>No value can be repeated within a single sum.</li>
  <li>The bridges cannot pass through the signs.</li>
</ul>

<p>But one sign on each continent is no longer displaying numbers, and nobody remembers the whole layout anymore&hellip; How are we going to build the bridges?</p>

<img {{ img_src_for('puzzles/hashiwokakuro_count_your_bridges/1.svg') }} >
<img {{ img_src_for('puzzles/hashiwokakuro_count_your_bridges/2.svg') }} >
<img {{ img_src_for('puzzles/hashiwokakuro_count_your_bridges/3.svg') }} >
<img {{ img_src_for('puzzles/hashiwokakuro_count_your_bridges/4.svg') }} >
<img {{ img_src_for('puzzles/hashiwokakuro_count_your_bridges/5.svg') }} >
<img {{ img_src_for('puzzles/hashiwokakuro_count_your_bridges/6.svg') }} >
<img {{ img_src_for('puzzles/hashiwokakuro_count_your_bridges/7.svg') }} >

<p>And wait, I haven&rsquo;t told you about our plans for an intercontinental network at planetary scale&hellip; It will be just the same, but on the whole planet!</p>

<img {{ img_src_for('puzzles/hashiwokakuro_count_your_bridges/8.svg') }} >
{% endblock %}
