{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}I Can Build Anything{% endblock %}
{% block puzzle_name_block %}I Can Build Anything{% endblock %}

{% block puzzle_head_block %}
<link rel="stylesheet" type="text/css" href="{{ asset_url_for('styles/support.css') }}">
<style>
  .puzzle-content .title {
    font-size: 1.5em;
  }

  .puzzle-content span {
    margin-left: 20px;
    font-size: 0.75em;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<div class="title"><b>My To Do List</b></div>
<ul>
  <li>
    Make a gas that will irritate a robber [4]<br>
    <span>but where can I find the leaves I needed earlier? (9)</span>
  </li>
  <li>
    Figure out how to get past a lock on a safe [2]<br>
    <span>who helps me with the overall goal of why I&rsquo;m doing this? (5)</span>
  </li>
  <li>
    Make a tool for restoring the heartbeat of a person [3]<br>
    <span>and who do I need to use this on? (5 9)</span>
  </li>
  <li>
    Move entrapping snow  [3]<br>
    <span>and where would I be vacationing if I wasn&rsquo;t here? (5 4)</span>
  </li>
  <li>
    Make a sleeping place for a baby [3]<br>
    <span>who is with me and the baby? (4 6)</span>
  </li>
  <li>
    Escape by blowing up a locked cell door [3]<br>
    <span>who is holding us? (7)</span>
  </li>
  <li>
    Make a vehicle that will go across the surface of the water at high speed [1]<br>
    <span>and who will help me read the item I retrieved using this? (3. 5)</span>
  </li>
  <li>
    Repair a safety device that breaks when there is too much current [1]<br>
    <span>and what response do I get when I offer the part I don&rsquo;t use? (2 6)</span>
  </li>
  <li>
    Make a device to detect falsehoods [3]<br>
    <span>and who do I catch with it? (4 7)</span>
  </li>
  <li>
    Test a sample of earth for the presence of certain substances [3]<br>
    <span>what kind of substances? (10)</span>
  </li>
  <li>
    Make a notification to be rescued [3]<br>
    <span>seen by whom? (4 8)</span>
  </li>
  <li>
    Bypass a door trap  [2]<br>
    <span>which is below a room containing what substance? (9)</span>
  </li>
  <li>
    Make a distraction that is hard to see through [4]<br>
    <span>put it in a container of what? (8)</span>
  </li>
  <li>
    Make an instrument for surveying angles [2]<br>
    <span>used to align what? (6)</span>
  </li>
  <li>
    Make a floating air device to notify someone [4]<br>
    <span>who? (5)</span>
  </li>
  <li>
    Make decoy bodily fluid [2]<br>
    <span>and who did I help earlier when looking for my friend? (8 5)</span>
  </li>
  <li>
    Plug a liquid leak [1]<br>
    <span>of what? (8 4)</span>
  </li>
  <li>
    Make a device to climb upwards [2]<br>
    <span>to go where? (5&rsquo;1 6)</span>
  </li>
  <li>
    Get a thumbprint  [2]<br>
    <span>of someone dressed as a what? (7)</span>
  </li>
</ul>

<div class="title"><b>My Inventory</b></div>
<ul>
  <li>Container of Gas Necessary for Breathing +5</li>
  <li>Container of Russian Alcohol +5</li>
  <li>Cord of Ascending -3</li>
  <li>Cord of Power Conducting (from an Amplification Device) +3</li>
  <li>Cube of Powdered Substance (for Game) +3</li>
  <li>Cut Flying Cloth Rectangle of Woman&rsquo;s Clothing Origin +4</li>
  <li>Disposable Object of Hand Covering +1</li>
  <li>Electricity of Sky Origin -2</li>
  <li>Eyewear of Tinted Protection +3</li>
  <li>Floating Rubber Sac of Lightest Element +1</li>
  <li>Fluffy White Objects of Makeup Removal +2</li>
  <li>Gas of Floating Balloon-Filling -5</li>
  <li>Grabbable Piece of Metal Teeth Attaching -1</li>
  <li>Grape-Made Liquid of Intoxication +3</li>
  <li>Gray Roll of Attaching Material +2</li>
  <li>Group of Limbs of Tall Woody Plants +6</li>
  <li>Instrument of Blood Pressure Measuring +3</li>
  <li>Liquid of pH Identification +5</li>
  <li>Liquid of Pickling -3</li>
  <li>Liquid of Unclogging -1</li>
  <li>Liquid Product of Pitted Tree Fruit -3</li>
  <li>Meshed Strings of Hitting Target Stopping (Often Earning Points) +1</li>
  <li>Metal Thread of Conducting -1</li>
  <li>Objects of Hearing Organ Adornment -1</li>
  <li>Pair of Metal Oblong Stands of Wicked Wax Rod Holding +5</li>
  <li>Pointy Rod of Cold Balance +2</li>
  <li>Powdery Material of Incomplete Combustion +5</li>
  <li>Printed Material of Daily Information Dissemination +1</li>
  <li>Pungent Chemical of Cleaning +4</li>
  <li>Rectangular Cloth of Head Covering +2</li>
  <li>Rectangular Container of Body Holding +6</li>
  <li>Round Orb of Hexagons and Pentagons +5</li>
  <li>Rubber Flat Rectangle of Ground Surface Covering +3</li>
  <li>Rubber Tube of Watering +3</li>
  <li>Set of Curved-End Rods of Flat Cylinder Hitting +5</li>
  <li>Set of Metal Teeth of Leaf Collecting +4</li>
  <li>Slick Substance of Moldability Used in Long Wicked Light Source -2</li>
  <li>Solvent of Finger Art Removal +1</li>
  <li>Sour Liquid of Vinegar Flavoring +5</li>
  <li>Source of Illumination -2</li>
  <li>Spice of Red Pepper +3</li>
  <li>Stoppered Container of Bed Heat Providing +4</li>
  <li>Time Keeping Device of Noise Making +3</li>
  <li>Translucent Chalices of Alcoholic Beverage Holding +2</li>
  <li>Warm Fabric Container for Person at Rest -2</li>
  <li>White Powder of Leavening +2</li>
  <li>Wrapped Brown Rectangles of Sweet Sustenance +9</li>
  <li>Wrapper of Chewing Material Enclosing +7</li>
</ul>
{% endblock %}
