{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content table {
    border-collapse: collapse;
  }

  .puzzle-content tr {
    border-bottom: 1px solid black;
  }

  .puzzle-content td {
    padding: 1em;
  }

  .puzzle-content .header {
    font-size: 1.5em;
  }

  .puzzle-content .images {
    position: relative;
  }

  .puzzle-content .centered {
    display: block;
    margin: auto;
  }

  .puzzle-content .full-width {
    width: 100%;
  }

  .puzzle-content .image-1 {
    margin-top: 100px;
    margin-bottom: -40px;
    position: relative;
    z-index: 2;
    transform: rotate(5deg);
  }

  .puzzle-content .image-2 {
    margin-top: -50px;
    transform: rotate(-5deg);
    margin-bottom: 20px;
  }

  .puzzle-content .image-3 {
    position: absolute;
    top: -100px;
    left: 375px;
    z-index: 3;
  }

  .puzzle-content .image-4 {
    position: absolute;
    top: 1750px;
    left: 0px;
    z-index: 3;
  }

  .puzzle-content .image-5 {
    position: absolute;
    top: 275px;
    left: 0px;
    z-index: 3;
  }

  .puzzle-content .image-6 {
    position: absolute;
    top: 275px;
    left: 800px;
    z-index: 3;
  }

  .puzzle-content .image-7 {
    position: absolute;
    top: 1750px;
    left: 800px;
    z-index: 3;
  }

  .puzzle-content .image-8 {
    position: absolute;
    top: 1700px;
    left: 375px;
    z-index: 3;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<p>Terry has a lot of aspirations for when she grows up, and it&rsquo;s up to you to help her fulfill them. The <b>Path to Triumph</b> (a victory road, if you will) has a lot of obstacles&mdash;to get through them, you will need <i>Keys To Success</i>. There are 5 different colors of <i>Keys To Success</i>, each of which opens the same color obstacle. No key can be used more than once. To acquire a key, you will need to demonstrate that you have what it takes to succeed in a given career path.</p>

<p>Naturally, succeeding in a career path is no easy feat. There are four components to a <i>Key To Success</i>: a strong motivation, the necessary skills, appropriate equipment, and a packed lunch. To be clear here, to earn one key you need one item from each category of one career. All items must have existed in their current form 3 days ago (except the food). For any demonstrations of skill, you must provide any necessary supplies.</p>

<p>Professor Oak is also offering to help out teams that are just starting out (fewer people). Smaller teams will be granted HMs (skill trainers) to help them on their journey.</p>

<table>
  <tr>
    <th>Team Size</th>
    <th>Known HMs</th>
  </tr>
  <tr>
    <td>Less than or equal to 20</td>
    <td>HM03&mdash;SURF</td>
  </tr>
  <tr>
    <td>21 to 40</td>
    <td>HM01&mdash;CUT</td>
  </tr>
  <tr>
    <td>41 to 60</td>
    <td>HM04&mdash;STRENGTH</td>
  </tr>
  <tr>
    <td>60+</td>
    <td>You know Splash.</td>
  </tr>
</table>

<p>When you believe that you have enough items to earn the <i>Keys To Success</i> to navigate the <b>Path to Triumph</b>, submit the instruction &lsquo;GOTTA CATCH EM ALL&rsquo; from the submission page. Cranium Command will schedule a visit to your HQ, where you will demonstrate that you have acquired everything you need and can navigate the path.</p>

<hr>

<div class="header"><b>Path To Triumph</b></div>

<div class="images">
  <img class="centered image-1" {{ img_src_for("puzzles/i_wanna_be_the_very_best/1.png") }} >
  <img class="full-width" {{ img_src_for("puzzles/i_wanna_be_the_very_best/2.jpg") }} >
  <img class="centered image-2" {{ img_src_for("puzzles/i_wanna_be_the_very_best/3.png") }} >
  <img class="image-3" {{img_src_for("puzzles/i_wanna_be_the_very_best/tape-1.png")}} >
  <img class="image-4" {{img_src_for("puzzles/i_wanna_be_the_very_best/tape-2.png")}} >
  <img class="image-5" {{img_src_for("puzzles/i_wanna_be_the_very_best/tape-3.png")}} >
  <img class="image-6" {{img_src_for("puzzles/i_wanna_be_the_very_best/tape-4.png")}} >
  <img class="image-7" {{img_src_for("puzzles/i_wanna_be_the_very_best/tape-5.png")}} >
  <img class="image-8" {{img_src_for("puzzles/i_wanna_be_the_very_best/tape-6.png")}} >
</div>

<hr>

<div class="header"><b><i>Keys To Success</i></b></div>

<p><b>Red Keys</b></p>
<table id="red-keys">
  <tr>
    <th>Career Path</th>
    <th>Motivation</th>
    <th>Training</th>
    <th>Gear</th>
    <th>Packed Lunch</th>
  </tr>
  <tr>
    <td>Doctor</td>
    <td>Copy of <i>Operation</i></td>
    <td>Team member with an illegible signature</td>
    <td>Stethoscope</td>
    <td>An apple</td>
  </tr>
  <tr>
    <td>Architect</td>
    <td>A Lego construction</td>
    <td>Team member who can draw a straight line by hand</td>
    <td>Protractor</td>
    <td>An arch-tichoke OR marshmallows and toothpicks</td>
  </tr>
  <tr>
    <td>Cheerleader</td>
    <td>Pom-Poms</td>
    <td>Team member who can lead a cheer to help their team solve puzzles</td>
    <td>A (working) megaphone</td>
    <td>A salad</td>
  </tr>
  <tr>
    <td>Professor</td>
    <td>A children&rsquo;s chemistry kit OR a rock tumbler</td>
    <td>A team member&rsquo;s academic poster</td>
    <td>Jacket with sleeve patches</td>
    <td>Coffee</td>
  </tr>
  <tr>
    <td>Race Car Driver</td>
    <td>Power Wheels OR Hot Wheels</td>
    <td>Team member who can beat us in <i>Mario Kart</i></td>
    <td>A motorcycle jacket or helmet</td>
    <td>Something from a drive-thru</td>
  </tr>
  <tr>
    <td>Rock Star</td>
    <td>CD or cassette tape from a nineties pop artist (Britney Spears, Backstreet Boys, etc.)</td>
    <td>Team member who can sing specific pitches OR Team member who can play guitar or bass or drums</td>
    <td>A <i>Guitar Hero</i> or <i>Rock Band</i> controller</td>
    <td>A bowl of M&amp;Ms (no brown M&amp;Ms plz)</td>
  </tr>
</table>
<br>
<p><b>Orange Keys</b></p>
<table id="orange-keys">
  <tr>
    <th>Career Path</th>
    <th>Motivation</th>
    <th>Training</th>
    <th>Gear</th>
    <th>Packed Lunch</th>
  </tr>
  <tr>
    <td>Astronaut</td>
    <td>Model rocket OR <i>Apollo 13</i> on VHS OR telescope</td>
    <td>Team member who can hold their breath for 45 seconds</td>
    <td>A piece of SCUBA apparatus (mask, regulator, etc.) OR anything made of titanium</td>
    <td>Astronaut ice cream OR Dippin&rsquo; Dots OR freeze-dried food</td>
  </tr>
  <tr>
    <td>Ballerina</td>
    <td>Nutcracker</td>
    <td>Team member who can stand <i>en pointe</i> for 30 seconds</td>
    <td>Tutu</td>
    <td>Low-fat yogurt</td>
  </tr>
  <tr>
    <td>Engineer</td>
    <td>Copy of <i>Mousetrap</i></td>
    <td>Team member who is incapable of smalltalk</td>
    <td>Slide rule</td>
    <td>Mountain Dew or other energy drink</td>
  </tr>
  <tr>
    <td>Firefighter</td>
    <td>Toy firetruck</td>
    <td>Team member who can imitate a siren (well)</td>
    <td>A ladder</td>
    <td>A hot pepper</td>
  </tr>
  <tr>
    <td>Lion Tamer</td>
    <td>Stuffed lion toy OR <i>The Lion King</i> on DVD or VHS</td>
    <td>Team member who can crack a whip with a chair in the other hand OR team member who can jump through a hula hoop</td>
    <td>A whip OR a hula hoop</td>
    <td>Popcorn</td>
  </tr>
</table>
<br>
<p><b>Yellow Keys</b></p>
<table id="yellow-keys">
  <tr>
    <th>Career Path</th>
    <th>Motivation</th>
    <th>Training</th>
    <th>Gear</th>
    <th>Packed Lunch</th>
  </tr>
  <tr>
    <td>Clown</td>
    <td>Balloon animal OR circus ticket stub</td>
    <td>Team member who can juggle for 60 seconds or ride a unicycle</td>
    <td>Squirting lapel flower OR rubber nose</td>
    <td>A banana (with peel plz) OR a cream pie</td>
  </tr>
  <tr>
    <td>Dinosaur</td>
    <td>RAWWWR (a plastic dinosaur toy) OR RAWWWR (water-activated dinosaur capsules)</td>
    <td>RAWWWR (Team member who can &ldquo;Walk The Dinosaur&rdquo;, from that awful 80s song)</td>
    <td>RAWWWR (dinosaur onesie) OR RAWWWR (a tie with dinosaurs on it)</td>
    <td>RAWWWR (those dinosaur-egg oatmeal packets) OR RAWWWR (dinosaur nuggets (cooked, plz))</td>
  </tr>
  <tr>
    <td>Mountain Climber</td>
    <td>Banff Film Festival ticket OR Reel Rock DVD OR something with Alex Honnold on it</td>
    <td>Team member who can do 10 pull-ups</td>
    <td>Climbing carabiner that is rated to hold a human</td>
    <td>A Clif Bar</td>
  </tr>
  <tr>
    <td>Movie Star</td>
    <td>A red carpet</td>
    <td>Team member method acting as Terry</td>
    <td>Sunglasses</td>
    <td>7 limes</td>
  </tr>
  <tr>
    <td>Princess</td>
    <td>Team member with picture of themself as child at Disneyland or Disney World. Bonus points if princess in picture.</td>
    <td>Team member who can do the royal wave</td>
    <td>Tiara</td>
    <td>A single pea</td>
  </tr>
</table>
<br>
<p><b>Green Keys</b></p>
<table id="green-keys">
  <tr>
    <th>Career Path</th>
    <th>Motivation</th>
    <th>Training</th>
    <th>Gear</th>
    <th>Packed Lunch</th>
  </tr>
  <tr>
    <td>Paleontologist</td>
    <td>Toy fossil dig kit</td>
    <td>Team member who can sing the entirety of &ldquo;I Am a Paleontologist&rdquo; by They Might Be Giants</td>
    <td>An actual fossil, piece of amber with insect, or piece of petrified wood </td>
    <td>An edible paleo dish</td>
  </tr>
  <tr>
    <td>Pet Store Owner</td>
    <td>A classic Beanie Baby</td>
    <td>Team member who has taken their dog to obedience school (proof required)</td>
    <td>A live pet (your child doesn&rsquo;t count)</td>
    <td>Animal crackers</td>
  </tr>
  <tr>
    <td>Stand-up Comedian</td>
    <td>A Tickle Me Elmo (note: only real Sesame Street brand Tickle Me Elmos will be allowed. Do not have a team member dress in red and try to tickle us. Never again.)</td>
    <td>Team member who can make us laugh</td>
    <td>Microphone</td>
    <td>Tomatoes</td>
  </tr>
  <tr>
    <td>The Doctor</td>
    <td>Classic <i>Who</i> memorabilia from before 1997</td>
    <td>Team member who can list all the actors who have played the Doctor in order</td>
    <td>Sonic screwdriver</td>
    <td>Jelly babies OR fish sticks and custard</td>
  </tr>
  <tr>
    <td>Volcanologist</td>
    <td>Baking soda and vinegar (plz demonstrate use)</td>
    <td>Team member who can get all the way around the room without touching the floor</td>
    <td>A piece of obsidian, pumice, or other igneous rock</td>
    <td>A chocolate lava cake</td>
  </tr>
</table>
<br>
<p><b>Blue Keys</b></p>
<table id="blue-keys">
  <tr>
    <th>Career Path</th>
    <th>Motivation</th>
    <th>Training</th>
    <th>Gear</th>
    <th>Packed Lunch</th>
  </tr>
  <tr>
    <td>Baker</td>
    <td>Easy-Bake oven</td>
    <td>Team member who can whip cream by hand</td>
    <td>Sourdough starter</td>
    <td>Cookies (you will not get these back)</td>
  </tr>
  <tr>
    <td>Park Ranger</td>
    <td>Junior Park Ranger patch</td>
    <td>Team member who has pictures of themself identifiably in 10 or more National Parks</td>
    <td>Stetson hat (mountie hat)</td>
    <td>A pic-a-nic basket OR gummy bears</td>
  </tr>
  <tr>
    <td>Politician</td>
    <td>Framed photo of any former US President</td>
    <td>Bribe us.</td>
    <td>An American Flag lapel pin</td>
    <td>A waffle</td>
  </tr>
  <tr>
    <td>Theoretical Physicist</td>
    <td>An Einstein doll OR a Newton&rsquo;s cradle</td>
    <td>Team member who can explain quantum physics</td>
    <td>String (for string theory?) OR Schroedinger&rsquo;s cat</td>
    <td>An apple</td>
  </tr>
</table>
{% endblock %}
