{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content li {
    line-height: 1.5;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
My anger on a recent trip derived from many irritating things that happened to me while visiting different countries:
{% endblock %}

{% block puzzle_content_block %}
<ul>
  <li>I had an annoying limousine driver.</li>
  <li>My omelet lacked scallions at breakfast.</li>
  <li>A calico cat scratched me.</li>
  <li>My favorite jeans were ripped.</li>
  <li>The taxi&rsquo;s antimacassars were horribly soiled and maddeningly smelly.</li>
  <li>Magenta poodles were seemingly everywhere.</li>
  <li>I stepped on wet varnish.</li>
  <li>Also on rotten peaches.</li>
  <li>My suede boots were completely ruined.</li>
  <li>Hotel wanted documents on parchment­­&mdash;ridiculous!</li>
  <li>I definitely packed racquets for badminton. The luggage inspectors must have stolen them!</li>
  <li>Currant jam at tea was sour.</li>
  <li>Starbucks had no mocha lattes.</li>
  <li>Nobody should wear that denim ensemble.</li>
  <li>I ordered sardines, not anchovies.</li>
  <li>Bad mayonnaise from room service.</li>
</ul>
{% endblock %}
