{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content .header {
    font-size: 1.5em;
  }

  .puzzle-content .list {
    margin-top: 20px;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<div class="header"><b>Metal</b></div>

<div class="list">
  <div><b>Across</b></div>
  <div><b>1.</b> Walkers on Hoth (abbr., hyph.)</div>
  <div><b>2.</b> Superuser</div>
  <div><b>3.</b> Like a beach</div>
  <div><b>4.</b> Food energy unit (abbr.)</div>
  <div><b>5.</b> Take a look at</div>
</div>

<div class="list">
  <div><b>Down</b></div>
  <div><b>A.</b> Request</div>
  <div><b>B.</b> Follow</div>
  <div><b>C.</b> ___ Center (Chicago skyscraper)</div>
  <div><b>D.</b> When procrastinators don&rsquo;t do things</div>
  <div><b>E.</b> Fashion</div>
</div>

<hr>

<div class="list">
  <div><b>Across</b></div>
  <div><b>1.</b> Amazon digital assistant</div>
  <div><b>2.</b> Indian metropolis</div>
  <div><b>3.</b> Singer Yoko</div>
  <div><b>4.</b> Std. PC firmware</div>
  <div><b>5.</b> Central Sicilian city</div>
</div>

<div class="list">
  <div><b>Down</b></div>
  <div><b>A.</b> Acrobat producer</div>
  <div><b>B.</b> Russian revolutionary</div>
  <div><b>C.</b> SpaceX founder Musk</div>
  <div><b>D.</b> Mandela&rsquo;s mother tongue</div>
  <div><b>E.</b> 6.034 topic (abbr.)</div>
</div>

<hr>

<div class="list">
  <div><b>Across</b></div>
  <div><b>1.</b> Calculus calculation</div>
  <div><b>2.</b> You shouldn&rsquo;t do this while driving</div>
  <div><b>3.</b> Piece of latticework</div>
  <div><b>4.</b> Sunburn soother</div>
  <div><b>5.</b> Bird with a forked tail</div>
  <div><b>6.</b> This (sp.)</div>
</div>

<div class="list">
  <div><b>Down</b></div>
  <div><b>A.</b> Delta hub (abbr.) / Consumed</div>
  <div><b>B.</b> Pieces of pieces of eight</div>
  <div><b>C.</b> Obtain by coercion</div>
  <div><b>D.</b> This university&rsquo;s computing environment</div>
</div>

<hr>

<div class="list">
  <div><b>Across</b></div>
  <div><b>1.</b> Superfund org. / Toss</div>
  <div><b>2.</b> Groovy / Cult follower?</div>
  <div><b>3.</b> Apples and oranges</div>
  <div><b>4.</b> Power of two</div>
  <div><b>5.</b> Creator of the Total Wellbeing Diet (abbr.)</div>
  <div><b>6.</b> It might follow N</div>
</div>

<div class="list">
  <div><b>Down</b></div>
  <div><b>A.</b> Cause&rsquo;s partner</div>
  <div><b>B.</b> Religious community</div>
  <div><b>C.</b> Aladdin&rsquo;s monkey pal</div>
  <div><b>D.</b> Green-hatted plumber</div>
  <div><b>E.</b> Prefix with -pedic</div>
  <div><b>F.</b> Defeat</div>
</div>

<hr>

<div class="list">
  <div><b>Across</b></div>
  <div><b>1.</b> Rarest state bird</div>
  <div><b>2.</b> Fires</div>
  <div><b>3.</b> Fancy shooters</div>
  <div><b>4.</b> German discount supermarket</div>
  <div><b>5.</b> Famously pitched for the Blue Jays</div>
  <div><b>6.</b> Relating to blood</div>
  <div><b>7.</b> Confuse</div>
</div>

<div class="list">
  <div><b>Down</b></div>
  <div><b>A.</b> Romanova of Marvel fame</div>
  <div><b>B.</b> Lavishly praised</div>
  <div><b>C.</b> Prestig. Lausanne business school</div>
  <div><b>D.</b> Franklin Roosevelt program (2 wds)</div>
  <div><b>E.</b> Suffix with lion / Suffix with contempt</div>
</div>

<hr>

<div class="list">
  <div><b>Across</b></div>
  <div><b>1.</b> &ldquo;Son ___&hellip;&rdquo; (2 wds) / Group of whales</div>
  <div><b>2.</b> Last Chance Gulch site</div>
  <div><b>3.</b> Adhesive</div>
  <div><b>4.</b> Treyf fast-food sandwich</div>
  <div><b>5.</b> Default Windows font</div>
  <div><b>6.</b> Labor org. for janitors and waiters</div>
  <div><b>7.</b> &ldquo;Just ___ expected&hellip;&rdquo; (2 wds)</div>
</div>

<div class="list">
  <div><b>Down</b></div>
  <div><b>A.</b> Hydroxide</div>
  <div><b>B.</b> Writing diagnostic for new MIT students / Some advanced degs.</div>
  <div><b>C.</b> Mont Blanc, e.g. / Capital of Connecticut?</div>
  <div><b>D.</b> Where Athens is</div>
  <div><b>E.</b> Agitated</div>
  <div><b>F.</b> &ldquo;___ will&hellip;&rdquo; (2 wds)</div>
</div>

<hr>

<div class="list">
  <div><b>Across</b></div>
  <div><b>1.</b> Periods of development / &ldquo;Wow&rdquo;</div>
  <div><b>2.</b> Jazz Chick / Top 40 genre (abbr.)</div>
  <div><b>3.</b> Bleaching agent</div>
  <div><b>4.</b> Brief afterthoughts, briefly / &ldquo;___ that&rdquo;</div>
  <div><b>5.</b> Time on the throne / Bit of work</div>
  <div><b>6.</b> Celerity measured in a cockpit (abbr.) / Eagle&rsquo;s nest (var.)</div>
  <div><b>7.</b> Non-invasive diagnostic (abbr.)</div>
  <div><b>8.</b> ___-Free (contact lens solution)</div>
</div>

<div class="list">
  <div><b>Down</b></div>
  <div><b>A.</b> Collaborative horror writing project (abbr.) / Top-notch</div>
  <div><b>B.</b> Head, shoulders, knees, and ___ / Lawman Wyatt</div>
  <div><b>C.</b> Flight board info (abbr.) / &ldquo;___ just me, or...&rdquo;</div>
  <div><b>D.</b> First in a line of six British monarchs (2 wds)</div>
  <div><b>E.</b> Leipzig locale</div>
  <div><b>F.</b> Counter creator</div>
  <div><b>G.</b> Announcer Hall / &ldquo;___ tu&rdquo; (Verdi aria)</div>
  <div><b>H.</b> Surface</div>
</div>

<hr>

<div class="header"><b>Brick</b></div>

<div class="list">
  <div><b>Across</b></div>
  <div><b>1.</b> Something to prepare for</div>
  <div><b>2.</b> The King of Football</div>
  <div><b>3.</b> Indigenous Peruvian people</div>
  <div><b>4.</b> Crazy bird?</div>
  <div><b>5.</b> Book before Phil.</div>
  <div><b>6.</b> Vietnamese soup</div>
  <div><b>7.</b> Netherworld</div>
  <div><b>8.</b> One could be found in a ward (abbr.)</div>
</div>

<div class="list">
  <div><b>Down</b></div>
  <div><b>A.</b> Prefix with pen / One might live in a colony</div>
  <div><b>B.</b> Student of Socrates</div>
  <div><b>C.</b> It comes in fifths</div>
  <div><b>D.</b> Intend</div>
</div>

<hr>

<div class="list">
  <div><b>Across</b></div>
  <div><b>1.</b> 401, in 401 / Number 151</div>
  <div><b>2.</b> Conquered</div>
  <div><b>3.</b> They ___ Giants (2 wds)</div>
  <div><b>4.</b> Fantasy football scoring syst. / Catastrophic 2017 storm</div>
  <div><b>5.</b> ___ pro nobis / Away from shore</div>
  <div><b>6.</b> Dwarf brother in <i>The Hobbit</i> / Might follow OMG</div>
  <div><b>7.</b> Prepare to propose, perhaps</div>
</div>

<div class="list">
  <div><b>Down</b></div>
  <div><b>A.</b> Spanish countryside</div>
  <div><b>B.</b> Fourth-largest Ukranian city</div>
  <div><b>C.</b> Animal house?</div>
  <div><b>D.</b> Cause to take root</div>
  <div><b>E.</b> Not very exciting / It can be added to art?</div>
  <div><b>F.</b> Radical</div>
  <div><b>G.</b> Like outlook.com</div>
  <div><b>H.</b> Traffic police?</div>
</div>

<hr>

<div class="list">
  <div><b>Across</b></div>
  <div><b>1.</b> Pleads desperately to get (2 wds)</div>
  <div><b>2.</b> Publisher of animal books</div>
  <div><b>3.</b> Pokey, across the pond / Linguistics suffix</div>
  <div><b>4.</b> Neighbor of Leb. and Syr. / Skating jump</div>
  <div><b>5.</b> Local hardware store / Winter coat?</div>
  <div><b>6.</b> Beloved and bemoaned local agency (2 wds, abbr.)</div>
  <div><b>7.</b> Large planes have two</div>
  <div><b>8.</b> Klutzy or incapable</div>
</div>

<div class="list">
  <div><b>Down</b></div>
  <div><b>A.</b> Mire / Addams Family cousin</div>
  <div><b>B.</b> Historical periods / Puzzle breakthrough</div>
  <div><b>C.</b> Second in a line of six British monarchs (2 wds)</div>
  <div><b>D.</b> Miser Marner / ISP with a butterfly logo</div>
  <div><b>E.</b> Not rigid</div>
  <div><b>F.</b> Indigenous Mexican people / Back Bay frat (abbr.)</div>
  <div><b>G.</b> Seeded sandwich bread / &ldquo;___ I could do&rdquo;</div>
</div>

<hr>

<div class="list">
  <div><b>Across</b></div>
  <div><b>1.</b> ISP offering / &ldquo;Let&rsquo;s ___&rdquo; (3 wds)</div>
  <div><b>2.</b> Computing shortcuts / Austin media festival (abbr.)</div>
  <div><b>3.</b> Header of a daily list (hyph.) / Infamous British media star Jimmy</div>
  <div><b>4.</b> Family that includes ravens</div>
  <div><b>5.</b> Service offered at some pet stores</div>
  <div><b>6.</b> Org. that chooses host cities / Car brand</div>
  <div><b>7.</b> GOP repeal target / Featherbrains</div>
  <div><b>8.</b> Command line editor / Took a card</div>
</div>

<div class="list">
  <div><b>Down</b></div>
  <div><b>A.</b> Psychedelic drug (abbr.)</div>
  <div><b>B.</b> ___ Paulo</div>
  <div><b>C.</b> Type of flatscreen (abbr.) / Film special FX</div>
  <div><b>D.</b> &ldquo;___ the Wanderer&rdquo; (comic series) / A horse with mixed white and colored hair</div>
  <div><b>E.</b> Dawn goddess / Mo formerly of The Daily Show</div>
  <div><b>F.</b> Region of Kenya famous for killer lions / Unix command to view help docs.</div>
  <div><b>G.</b> Entrepreneur Misinai / Child of Hamilcar Barca</div>
  <div><b>H.</b> Rusted, for example</div>
  <div><b>I.</b> New York hockey player</div>
  <div><b>J.</b> Excessively sweet (Brit. slang) / Dolphins coach Adam</div>
  <div><b>K.</b> &ldquo;Gross!&rdquo;</div>
</div>

<hr>

<div class="list">
  <div><b>Across</b></div>
  <div><b>1.</b> Letters between two names (abbr.) / Savior of the lost, for short? / Like referees after a bad call / Rigged</div>
  <div><b>2.</b> Columnist Collins / Barcelona Olympics prize / Bodega owner / He designed these grids</div>
  <div><b>3.</b> Cornell of Cornell / Component of this puzzle? / Anti-sexual assault org. / &ldquo;Sprechen ___ Deutsch?&rdquo;</div>
  <div><b>4.</b> &ldquo;Am ___ risk?&rdquo; (2 wds) / Showed off / Other name for Vicodin / Depose</div>
  <div><b>5.</b> Hit the slopes / Dean Martin, e.g. / Swedish aircraft manufacturer / Extended family</div>
  <div><b>6.</b> What&rsquo;s Brexited (2 wds, abbr.) / NBC Comedy-drama series starting in 2016 (3 wds) / Norwegian Prime Minister Gerhardsen</div>
  <div><b>7.</b> Italian harps / Cape ___ / 1970s American president / Grp. with UNC and UVA</div>
  <div><b>8.</b> Giant flightless bird / 1960s Egyptian president</div>
  <div><b>9.</b> &ldquo;This is ___ disaster!&rdquo; (2 wds)</div>
</div>

<div class="list">
  <div><b>Down</b></div>
  <div><b>A.</b> Discriminatory</div>
  <div><b>B.</b> Resident of the Urals</div>
  <div><b>C.</b> Broadcast / ___ knot (2 wds)</div>
  <div><b>D.</b> Pleased / Dos minus dos</div>
  <div><b>E.</b> Boosters (hyph.)</div>
  <div><b>F.</b> Foreign honorific / Sacred choral work</div>
  <div><b>G.</b> Irish rocker / Scarlett of Gone with the Wind</div>
  <div><b>H.</b> Poet Nash / &ldquo;___ to win it&rdquo; (2 wds)</div>
  <div><b>I.</b> Deteriorates / Cpl. or Sgt.</div>
  <div><b>J.</b> How you might feel after solving this puzzle (part 1 of 2)</div>
  <div><b>K.</b> How you might feel after solving this puzzle (part 2 of 2) / Bambi&rsquo;s aunt</div>
  <div><b>L.</b> Musical talent / Pertaining to the other half of this column</div>
  <div><b>M.</b> Good day? (abbr.) / Houses in Havana</div>
  <div><b>N.</b> Annual scientific awards presented at Harvard</div>
  <div><b>O.</b> Orson Scott Card novel</div>
  <div><b>P.</b> Stereotypically Canadian interjections / &ldquo;Funny bone&rdquo; nerve</div>
  <div><b>Q.</b> Author Asimov, formally (2 wds, abbr.)</div>
  <div><b>R.</b> As of now / They&rsquo;re concerned about meltdowns (abbr.)</div>
</div>

{% endblock %}
