{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<link href="{{ asset_url_for('puzzles/just_keep_swiping/css/main.e4d3544d.css') }}" rel="stylesheet">
{% endblock %}

{% block puzzle_content_block %}
<script>
  var ASSETS = {
    'node1': '{{ asset_url_for("puzzles/just_keep_swiping/images/node1.png") }}',
    'node2': '{{ asset_url_for("puzzles/just_keep_swiping/images/node2.png") }}',
    'node3': '{{ asset_url_for("puzzles/just_keep_swiping/images/node3.png") }}',
    'node4': '{{ asset_url_for("puzzles/just_keep_swiping/images/node4.png") }}',
    'node5': '{{ asset_url_for("puzzles/just_keep_swiping/images/node5.png") }}',
    'node6': '{{ asset_url_for("puzzles/just_keep_swiping/images/node6.png") }}',
    'node7': '{{ asset_url_for("puzzles/just_keep_swiping/images/node7.png") }}',
    'node8': '{{ asset_url_for("puzzles/just_keep_swiping/images/node8.png") }}',
    'node9': '{{ asset_url_for("puzzles/just_keep_swiping/images/node9.png") }}',
    'node10': '{{ asset_url_for("puzzles/just_keep_swiping/images/node10.png") }}',
    'node11': '{{ asset_url_for("puzzles/just_keep_swiping/images/node11.png") }}',
    'node12': '{{ asset_url_for("puzzles/just_keep_swiping/images/node12.png") }}',
    'node13': '{{ asset_url_for("puzzles/just_keep_swiping/images/node13.png") }}',
    'node14': '{{ asset_url_for("puzzles/just_keep_swiping/images/node14.png") }}',
    'node15': '{{ asset_url_for("puzzles/just_keep_swiping/images/node15.png") }}',
    'node16': '{{ asset_url_for("puzzles/just_keep_swiping/images/node16.png") }}',
    'node17': '{{ asset_url_for("puzzles/just_keep_swiping/images/node17.png") }}',
    'node18': '{{ asset_url_for("puzzles/just_keep_swiping/images/node18.png") }}',
    'node19': '{{ asset_url_for("puzzles/just_keep_swiping/images/node19.png") }}',
    'node20': '{{ asset_url_for("puzzles/just_keep_swiping/images/node20.png") }}',
    'node21': '{{ asset_url_for("puzzles/just_keep_swiping/images/node21.png") }}',
    'node22': '{{ asset_url_for("puzzles/just_keep_swiping/images/node22.png") }}',
    'node23': '{{ asset_url_for("puzzles/just_keep_swiping/images/node23.png") }}',
    'node24': '{{ asset_url_for("puzzles/just_keep_swiping/images/node24.png") }}',
    'node25': '{{ asset_url_for("puzzles/just_keep_swiping/images/node25.png") }}',
    'node26': '{{ asset_url_for("puzzles/just_keep_swiping/images/node26.png") }}',
    'node27': '{{ asset_url_for("puzzles/just_keep_swiping/images/node27.png") }}',
    'node28': '{{ asset_url_for("puzzles/just_keep_swiping/images/node28.png") }}',
    'node29': '{{ asset_url_for("puzzles/just_keep_swiping/images/node29.png") }}',
    'node30': '{{ asset_url_for("puzzles/just_keep_swiping/images/node30.png") }}',
    'node31': '{{ asset_url_for("puzzles/just_keep_swiping/images/node31.png") }}',
    'border-top': '{{ asset_url_for("puzzles/just_keep_swiping/images/border-top.png") }}',
    'border-left': '{{ asset_url_for("puzzles/just_keep_swiping/images/border-left.png") }}',
    'border-right': '{{ asset_url_for("puzzles/just_keep_swiping/images/border-right.png") }}',
    'border-bottom': '{{ asset_url_for("puzzles/just_keep_swiping/images/border-bottom.png") }}',
  };
</script>

<noscript>
  <p>(You&rsquo;ll need to have Javascript enabled to view this
    puzzle.)</p>
</noscript>

<div id="master-root">
</div>

<script type="text/javascript" src="{{ asset_url_for('puzzles/just_keep_swiping/js/main.46111cb8.js') }}"></script>
{% endblock %}
