{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content .group {
    margin-bottom: 1em;
    page-break-inside: avoid;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .puzzle-content .group .right img {
    height: 21.5em;
    border: 1px black solid;
  }

  .puzzle-content .label {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .puzzle-content .top {
    margin-left: 1em;
  }

  .puzzle-content .items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .puzzle-content .item {
    margin-bottom: 1em;
    background-color: white;
  }

  .puzzle-content .letters {
    border: 1px black solid;
    padding: 0.1em;
  }

  .puzzle-content .grid {
    display: flex;
  }

  .puzzle-content .grid span {
    border: 1px black solid;
    font-size: 1.25em;
    width: 1em;
    text-align: center;
  }

  .puzzle-content .grid span.skip {
    border: 0;
  }

  .puzzle-content .grid span.white {
    background-color: white;
  }

  .puzzle-content .grid span.black {
    background: black;
  }

  .puzzle-content .grid span.light {
    background: yellow;
  }

  @media print {
    .puzzle-content .grid span.black {
      box-shadow: inset 0 0 0 1000px black;
    }

    .puzzle-content .grid span.light {
      box-shadow: inset 0 0 0 1000px yellow;
    }
  }

  .puzzle-content .bottom {
    margin-left: 2em;
  }

  .puzzle-content .riddle {
    font-weight: bold;
    margin-bottom: 0.25em;
  }

  .puzzle-content .prompt {
    display: flex;
    align-items: center;
  }

  .puzzle-content .prompt .text {
    padding-right: 0.5em;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
Thirty minutes ago you found these Jumble puzzles. What a royal pain.
{% endblock %}

{% block puzzle_content_block %}
<div class="group">
  <div class="left">
    <div class="label">Jumble 14</div>
    <div class="top">
      <div class="items">
        <div class="item">
          <div class="letters">JSUOYE</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">ANFNODGA</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="light">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">OSTIRELNHLS</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">IADMDOAWSENN</div>
          <div class="grid">
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="riddle">What do you call a guy without a shovel?</div>
      <div class="prompt">
        <span class="text">Your answer: </span>
        <div class="grid">
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="light">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="light">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="{{ asset_url_for('puzzles/lets_get_ready_to_jumble/jumble14.jpg') }}" />
  </div>
</div>

<hr/>

<div class="group">
  <div class="left">
    <div class="label">Jumble 02</div>
    <div class="top">
      <div class="items">
        <div class="item">
          <div class="letters">WGHSOIB</div>
          <div class="grid">
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">LVEVISNA</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">RLGEATKNU</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">URYRRTENPSA</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="riddle">What language is used by a straight insect?</div>
      <div class="prompt">
        <span class="text">Your answer: </span>
        <div class="grid">
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="light">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="light">&nbsp;</span>
          <span class="skip">&nbsp;</span>
          <span class="white">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="{{ asset_url_for('puzzles/lets_get_ready_to_jumble/jumble02.jpg') }}" />
  </div>
</div>

<hr/>

<div class="group">
  <div class="left">
    <div class="label">Jumble 06</div>
    <div class="top">
      <div class="items">
        <div class="item">
          <div class="letters">OISCSSIP</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">ADTYATHMR</div>
          <div class="grid">
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">TVMRUREOHODRC</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">OAANRRIIDMRWLRAAO</div>
          <div class="grid">
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="riddle">Where can you find all of the semisolid goop?</div>
      <div class="prompt">
        <span class="text">Your answer: </span>
        <div class="grid">
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="skip">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="light">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="light">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="{{ asset_url_for('puzzles/lets_get_ready_to_jumble/jumble06.jpg') }}" />
  </div>
</div>

<hr/>

<div class="group">
  <div class="left">
    <div class="label">Jumble 07</div>
    <div class="top">
      <div class="items">
        <div class="item">
          <div class="letters">DRMOBVANA</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">GKKRNIOEBO</div>
          <div class="grid">
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">LJTINMNNSEAEOBH</div>
          <div class="grid">
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">UORVOMTTRNOVINEAPLEOTS</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="riddle">What sport requires all of its players to have business degrees?</div>
      <div class="prompt">
        <span class="text">Your answer: </span>
        <div class="grid">
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="skip">&nbsp;</span>
          <span class="light">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="light">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="{{ asset_url_for('puzzles/lets_get_ready_to_jumble/jumble07.jpg') }}" />
  </div>
</div>

<hr/>

<div class="group">
  <div class="left">
    <div class="label">Jumble 13</div>
    <div class="top">
      <div class="items">
        <div class="item">
          <div class="letters">NARANYDIELB</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">AHLDNIJAREM</div>
          <div class="grid">
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">ADARTERETBW</div>
          <div class="grid">
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">LHLPGIDOZRGE</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="riddle">What children’s game is played with an Army truck?</div>
      <div class="prompt">
        <span class="text">Your answer: </span>
        <div class="grid">
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="light">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="skip">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="light">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="{{ asset_url_for('puzzles/lets_get_ready_to_jumble/jumble13.jpg') }}" />
  </div>
</div>

<hr/>

<div class="group">
  <div class="left">
    <div class="label">Jumble 95</div>
    <div class="top">
      <div class="items">
        <div class="item">
          <div class="letters">NWGAK</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="light">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">AATURMN</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">IENCDHKWNOTOL</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">IIHULLGDOBBTRS</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="riddle">What did the ammonia have to do when it enlisted?</div>
      <div class="prompt">
        <span class="text">Your answer: </span>
        <div class="grid">
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="skip">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="light">&nbsp;</span>
          <span class="light">&nbsp;</span>
          <span class="white">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="{{ asset_url_for('puzzles/lets_get_ready_to_jumble/jumble95.jpg') }}" />
  </div>
</div>

<hr/>

<div class="group">
  <div class="left">
    <div class="label">Jumble 89</div>
    <div class="top">
      <div class="items">
        <div class="item">
          <div class="letters">TTNTANOISAA</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">YTRTTEANYNJMA</div>
          <div class="grid">
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">AHNNEGATERTDI</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">UEWHBBTHHCUCAKRS</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="riddle">Who did Saarinen live in mortal fear of?</div>
      <div class="prompt">
        <span class="text">Your answer: </span>
        <div class="grid">
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="skip">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="skip">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="light">&nbsp;</span>
          <span class="light">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="{{ asset_url_for('puzzles/lets_get_ready_to_jumble/jumble89.jpg') }}" />
  </div>
</div>

<hr/>

<div class="group">
  <div class="left">
    <div class="label">Jumble 03</div>
    <div class="top">
      <div class="items">
        <div class="item">
          <div class="letters">SDTOLUG</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">CATRNSIHI</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">LTOLEBMIDT</div>
          <div class="grid">
	    <span class="light">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
          </div>
        </div>

        <div class="item">
          <div class="letters">HAICHLEARAS</div>
          <div class="grid">
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="light">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="black">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="white">&nbsp;</span>
	    <span class="light">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="riddle">What do you need when you have a head cold?</div>
      <div class="prompt">
        <span class="text">Your answer: </span>
        <div class="grid">
          <span class="white">&nbsp;</span>
          <span class="light">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="skip">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="light">&nbsp;</span>
          <span class="white">&nbsp;</span>
          <span class="white">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="{{ asset_url_for('puzzles/lets_get_ready_to_jumble/jumble03.jpg') }}" />
  </div>
</div>
{% endblock %}
