{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content .list {
    margin-bottom: 40px;
  }
  .puzzle-content .monospace {
    font-family: "Courier New", Courier, monospace;
    font-size: 24pt;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<div class="list">
  <div>Unclasping and letting fall [2]</div>
  <div>Popular Green Day album [6]</div>
  <div>You go to this guy for everything in a Gilbert and Sullivan operetta [6]</div>
  <div>Name of a beetle type [1]</div>
  <div>Problematic kind of matter [1]</div>
  <div>Member of Carlin&rsquo;s seven words [3]</div>
  <div>Successes in baseball [1]</div>
  <div>Lousy performance or complete disaster [5]</div>
  <div>Bar seat [2]</div>
  <div>Yikes! A way to be scared [5]</div>
  <div>Natural fertilizer [6]</div>
  <div>Name of a Chinese dog breed [5]</div>
  <div>Particular kind of self-satisfied smile [4]</div>
  <div>Miniature, Standard, or Toy [6]</div>
  <div>Name of a planet [2]</div>
  <div>Pip-ful game in a casino [5]</div>
  <div>Gastro-intestinal subdiscipline specialist [11]</div>
  <div>Yank an employee away from his job, or throw something away [2]</div>
  <div>Record by Papa Roach [8]</div>
  <div>Completely inebriated [5]</div>
  <div>&ldquo;Noisome&rdquo; Rick and Morty character [10]</div>
  <div>Compound in bat cave [3]</div>
  <div>Location on a ship [1]</div>
  <div>A type of singing [4]</div>
  <div>Grinning emoji name [3]</div>
  <div>Jaunty South Park character [8]</div>
</div>
<span class="monospace">I P K N L H F E Q O A F D S O U E R M A A P S N</span>
{% endblock %}
