{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content img {
    display: block;
    margin: auto;
  }

  .puzzle-content img:not(:first-child) {
    margin-top: 20px;
  }

  @media print {
    .puzzle-content img {
      display: block;
      page-break-inside: avoid;
    }
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<img {{ img_src_for('puzzles/message_in_a_bottle/1.svg') }} >
<img {{ img_src_for('puzzles/message_in_a_bottle/2.svg') }} >
<img {{ img_src_for('puzzles/message_in_a_bottle/3.svg') }} >
<img {{ img_src_for('puzzles/message_in_a_bottle/4.svg') }} >
<img {{ img_src_for('puzzles/message_in_a_bottle/5.svg') }} >
<img {{ img_src_for('puzzles/message_in_a_bottle/6.svg') }} >
<img {{ img_src_for('puzzles/message_in_a_bottle/7.svg') }} >
{% endblock %}
