{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content img {
    width: 1.5em;
    height: 1.5em;
  }

  .puzzle-content table {
    border-collapse: collapse;
  }

  .puzzle-content table, tr, td {
    border: 1px solid black;
  }

  .puzzle-content tr {
    page-break-inside: avoid;
  }

  .puzzle-content td {
    padding: 0.75em;
  }

  .puzzle-content .usefulness-column {
    width: 30%;
  }

  .puzzle-content .usefulness {
    display: flex;
    align-items: center;
  }

  .puzzle-content .usefulness img {
    margin-right: 0.75em;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
2016 was a big year in film, and now that it’s over, critics are weighing in on all the hottest titles.
Unfortunately, it could take them months to resolve their disagreements&hellip;
{% endblock %}

{% block puzzle_content_block %}
{% set lightbulb_url = asset_url_for('puzzles/minority_report/lightbulb.png') %}
<table>
  <tr>
    <td>
      Even though it happens mostly in England, this movie is a classic American
      action movie. Lots of gun action? Check. Lots of dead bad guys? Check.
      Lots of honorary American Gerard Butler kicking ass and taking names?
      Double, triple, quadruple check.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>9 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      It&rsquo;s always painful when a franchise lurches back to life, much more so when
      the original was so well regarded as launching a genre. Seventeen years on,
      this direct sequel feels more like the reanimated remains of a rotting corpse
      than a new installment.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>9 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      It&rsquo;s easy to dismiss Pixar&rsquo;s current trend of chasing sequels as nothing but
      creative laziness, but this follow-up to a 2003 film has turned out to be more
      than a worthy successor, giving us the full tale on one of the most
      memorable characters the studio ever created. Thumbs way up.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>9 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      This movie is great&mdash;everything is so beautiful! The evil queens, the costumes,
      the castles, star-crossed lovers, Chris Hemsworth&hellip;
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>9 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      I am sick and tired of the animated movie switcheroo: you take your kids to
      something with a bunch of fuzzy animals that won&rsquo;t drive you nuts, and the
      movie ends up being about cutesy violent warriors that can&rsquo;t die.
      Apparently, the only character who can die is the main character&rsquo;s mom.
      Good job, Hollywood.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>8 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      I wish I lived the life in this movie! Gabby is a medical student who&rsquo;s in a
      relationship with Ryan, but while he&rsquo;s out of town, hunky Travis whisks her off
      her feet and literally wins her heart when he and Ryan get into a fight. I can&rsquo;t
      say I want to end up in a coma, but after Gabby recovers, she and Travis do
      basically live happily ever after, so it all worked out in the end.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>8 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      This story about a black garbage collector in Pittsburgh whose experiences
      prevent him from sharing in his son&rsquo;s success strikes a deeply human chord.
      What makes this film remarkable is how beautifully it guides us on a journey
      of hurt and redemption.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>8 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      With the return of director Paul Greengrass at the helm and Matt Damon as
      the compelling lead, this explosive fifth film breathes very welcome life into a
      franchise that had started to go stale.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>8 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Call me a curmudgeon, but I struggle to find the merit in yet another liveaction,
      CG-laden adaptation of a fairy tale. This movie is especially
      egregious: Why bother using the Snow White branding if you&rsquo;re going to
      make a movie that bears absolutely no resemblance to the source material?
      Sometimes I think all of Hollywood would curl up and die if they didn&rsquo;t have
      the coattails of already-established franchises to ride on.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>7 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      It’s the latest cinematic vogue to spotlight damaged or unstable women in
      the name of girl power. Certainly, this film was based in a position to capture
      the zeitgeist defined by movies like <i>Monster</i> and <i>The Girl With the Dragon
      Tattoo</i>. Unfortunately, something must have gotten lost in translation from
      print to screen.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>7 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Schmaltzy, joyless and predictable, the only sparks to be found in this film are
      in the writer&rsquo;s name. If you were looking for sparks of passion between the
      main characters or a general spark of creativity, I&rsquo;m afraid you&rsquo;ve come to
      the wrong chick flick.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>7 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      This whole movie feels like somebody bet the director he couldn&rsquo;t make an
      uninteresting film about aliens. “No way can you make aliens boring, dude.”
      “Challenge accepted! I&rsquo;ll set the movie at a snail&rsquo;s pace, use a weird blue
      filter to remove all joy from every shot, cast a set of lifeless mannequins as
      leads, make the aliens disappointing CGI squids that live inside of giant
      unmoving potato chips, and focus the entire plot on a dry, academic
      breakdown of the linguistic hurdles involved in first contact! Bwahaha!”
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>7 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Viola Davis absolutely earned her Academy Award in a heartbreaking film
      full of stellar performances. Her character is the film&rsquo;s barometer, by which
      we measure the actions of a tragically flawed lead. Overall, this is a
      wonderful film full of grace and power.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>7 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Why do directors hate numbers so much? When I go to see the Nth
      installment of a series, I expect it to be called &ldquo;<i>Series Name N: Return of the
      thing!</i>&rdquo;, not just &ldquo;<i>Series Name&hellip; again</i>&rdquo; or even
      worse &ldquo;<i>Main Character</i>&rdquo;. If numbered sequels were good enough for
      <i>Star Wars</i> and <i>Die Hard</i> then they&rsquo;re good enough for this
      knock-off spy movie nonsense. Just to clear things up for first-time
      viewers, this movie is NOT the first in its series&mdash;it&rsquo;s the fifth.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>7 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      It’s almost comical to compare this film to <i>Gone Girl</i>, against which it comes
      up particularly short. This movie is a shadow of the former by any metric&mdash;the
      source material, the characters, the narrative, the twist. It’s as if they spent
      the entire budget securing Emily Blunt.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>6 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      It&rsquo;s amazing how large of a juggernaut the original was for its time, given its
      shoestring budget of $60,000. This sequel expertly delivers by returning to the
      Maryland woods where it all began and expanding on the supernatural
      horror and legends that made the first movie a classic of the genre.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>6 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      This latest feature by American stop-motion animation studio Laika is a brave
      movie about a brave boy who is thrust into an adventure straight out of the
      tales his mother told him. The art style does especial service to the narrative,
      making the entire film look and feel as if it&rsquo;s a moving woodblock print.
      Absolutely a joy to behold.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>6 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      This maudlin Denzel Washington vehicle holds a dim candle to the original
      Broadway production. Then again, it&rsquo;s hard to win against James Earl Jones.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>6 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      A happy whirlwind of color, 3D dazzle and kick-punch madness, this
      franchise continues to grow like its portly protagonist, who learns to become
      his best through a journey of learning about self-worth and belonging.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>5 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Honestly, I was sold as soon as I heard this film had both Aaron Eckhart and
      Morgan Freeman. This film gave me more of what I wanted, plus Brits. I hope
      there&rsquo;s a sequel.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>5 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Like any proper noir, this thriller is unafraid to delve into the strange and
      sordid lives of its protagonists in service of the greater mystery. The all-star
      cast knocks it out of the park, although my particular favorite is Allison
      Janney, who serves as valuable counterweight to the rich drama that
      unfolds.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>5 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      If you think this movie is just a retread of the first, you&rsquo;re wrong. There are new
      characters, new scary things, a new look at the found-footage genre, and
      of course new ways for people to mysteriously go missing. Highly
      recommend this movie if you&rsquo;re looking for a reason to wear those brown
      pants.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>4 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      It&rsquo;s always been a lot of fun watching the two superheroes that drive this
      franchise: on one side, you&rsquo;ve got Mr. Star-spangled America and on the
      other, you&rsquo;ve got the ridiculous genius billionaire playboy. They&rsquo;re like oil and
      water! This movie does a fantastic job of getting to the heart of what drives
      these heroes, and seeing them actually oppose each other really packs a
      punch.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>4 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Like the mysterious, monolithic alien structures that drive the film itself, this
      deeply thoughtful blockbuster has much hidden beneath the surface.
      Ostensibly a story about communicating with extraterrestrials, the narrative
      has much more to say about the strength and perseverance of people put
      into impossible situations. This ultimately optimistic movie is a welcome breath
      of fresh air.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>4 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Ever since Disney&rsquo;s <i>Aladdin</i>, no animated feature can resist signing up big
      names for big characters. This is the first such venture for Matthew
      McConaughey, and it&rsquo;s hard to say he was a positive contribution to a
      clumsy film that was already tent-poled by A-listers. Without fail, his drawl
      breaks immersion in a movie that is ostensibly set in Japan.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>3 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Something smells fishy in the theater, and it&rsquo;s this flop of a movie. Imagine
      the following: An animated children&rsquo;s movie comes out about a bunch of
      adorable ocean creatures, and everybody falls in love with it. Then, a few
      years later, a sequel comes out that involves the SAME adorable ocean
      creatures, but this time instead of having an adventure, we&rsquo;re delving into
      the existential horror that afflicts them due to the very real and adult mental
      illness that one of the cute little fish is struggling with. That is this movie.
      Oddly dark, tone deaf to its audience of kids, and totally not worth your
      time.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>3 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      This movie is spastic unbearable schlock. If I&rsquo;d wanted to spend 90 minutes
      watching hairy overweight weirdos eat dumplings and attack each other, I
      would have gone to dinner with my in-laws.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>2 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      This movie stands as immortal proof that no matter how much Hollywood Alist
      talent, advanced CGI and money you have, you still cannot save a film
      which has a sufficiently stupid premise. Serving as both sequel AND prequel
      to its predecessor, this fairy-tale themed nightmare is a blight on the career
      of everyone who worked on it.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>2 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      What would life be like in a world where individuals have the power to level
      entire cities? The Russo brothers tackle this difficult question in a fun, actionpacked
      film which does credit to its beloved brand. Whose side will you
      choose?
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>2 users found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      A horribly disappointing sequel from director Babak Najafi, the action
      sequences in this train wreck are so bad they make Paul Greengrass&rsquo;s
      camera-shaking nonsense look like high art.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>1 user found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Hollywood&rsquo;s response to superhero fatigue: double-down. Then double
      down again. Then throw in a bunch more superdudes until we have
      absolutely no idea who we&rsquo;re seeing or what they do, then have them fight
      each other for stupid contrived reasons until nothing makes sense anymore
      and I walk out of the theater and get drunk. At least they toned it down on
      the helicarriers this time.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>1 user found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Like its sister film, <i>Sicario</i>, this new venture by Denis Villeneuve explores the
      capability of the people to rise to meet the challenges set before them. In
      this case, the conceit is the threat of a mysterious alien race that talks in
      Jackson Pollock paintings, but Amy Adams&rsquo;s acting elevates a story about
      grief, time, communication, compassion and, ultimately, catharsis.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>1 user found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Stop me if this plot sounds familiar: A little kid with dead parents is forced by
      the actions of an evil relative to embark on a 90-minute quest rife with
      toyetic companions and marketable enemies in order to gain vague set of
      superpowers that involve believing in yourself, somehow allowing the kid to
      defeat a full-grown adult with infinitely more knowledge, experience and
      power. Pour a little Japanese-flavored batter into that tired old mold, frost it
      with some musicality and voila! You&rsquo;ve got this uninspired CGI cupcake.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>1 user found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      The romance between leads Benjamin Walker and Teresa Palmer absolutely
      sparks in this movie. If you&rsquo;re looking for a good excuse to laugh, cry and
      indulge in some romantic wish-fulfillment, this is the film for you.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>1 user found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      This shapeless entry to a once-beloved franchise feels utterly lifeless and
      perfunctory. I mean sure, it hits all of the obligatory standbys like shaky-cam
      fight sequences and globetrotting espionage, but the whole enterprise feels
      like the last sad twitches of a well-beaten dead horse. If I had to sum this
      unfortunate movie up in single word, I would call it &ldquo;stillborn&rdquo;.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>1 user found this review useful</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Watching this film is kinda like going out for drinks with your coworkers, then
      getting trapped listening to one of them drunkenly cry about their recent
      breakup all night: you thought you were signing up for some lighthearted fun
      with a couple people you sorta like, but you ended up getting a cringingly
      awkward look into their horrifying personal issues. Slap a cutesy ocean motif
      on that, and you&rsquo;ve pretty much got this movie. I would erase this from my
      mind if I could.
    </td>
    <td class="usefulness-column">
      <div class="usefulness">
        <img src="{{ lightbulb_url }}"/>
        <span>1 user found this review useful</span>
      </div>
    </td>
  </tr>
</table>
{% endblock %}
