{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
<p>&ldquo;Don&rsquo;t you have an orgo exam tomorrow morning? Why the hell are you building a hack the night before?!&rdquo;</p>
<p>&ldquo;Don&rsquo;t worry, I&rsquo;ve got this.&rdquo;</p>
{% endblock %}

{% block puzzle_content_block %}
<p>Cranium Command will contact your team shortly to arrange delivery of this puzzle.</p>

{% if site_mode() == "solution" %}
<p>Solvers were presented with a molecular model kit made out of colored marshmallows. It contains 8 carbons (black), 4 nitrogens (blue), 2 oxygens (red), and 10 hydrogens (white), using canonical colors for the elements. Also included are &lsquo;bonds&rsquo; (toothpicks) and a <a href="{{ asset_url_for('solutions/model_kit/insert.pdf') }}" target="_blank">text insert</a>.</p>

<p>The hydrogen atoms were unlabeled and had short unlabeled bond pieces already attached to them. The other atoms were labeled with small organic molecules, and the bonds were labeled with an arrow and reaction conditions. A paper kit can be downloaded <a href="{{ asset_url_for('solutions/model_kit/kit.pdf') }}">here</a>.</p>
{% endif %}
{% endblock %}
