{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_content_block %}
  <p>Detective Radstein was scouting vacation spots and ended up on a
    peculiar island. Inhabitants of this island are very particular
    about the truth values of their statements. There are three types
    of people: <i>truth-tellers</i>, <i>liars</i> and <i>alternators</i>.
    Truth-tellers only say things they believe are true; liars only
    say things they believe are false; and alternators switch at every
    statement between the two. The alternators switch according to
    their own internal counter. That means, if a stranger starts a
    conversation with the alternator, it is not known, a priori,
    whether the alternator&rsquo;s first statement is true or false.</p>
  
  <p>A murder was committed last night at the island&rsquo;s asylum, and
    Detective Radstein was invited to investigate.</p>
  
  <p>Independently of being obsessive about their statements there are
    three other types of people at the asylum: <i>sane</i>,
    <i>delusional</i> and <i>partial</i>. Sane people believe true
    facts are true. The medical system is very efficient on the
    island: all the doctors are sane, and none of the patients is
    completely sane.</p>

  <p>The patients are either delusional or partial. A delusional
    patient only believes in facts that are not true. Moreover, they
    are very particular about their delusions. For example, if two
    plus two is four, the delusional patient believes that two plus
    two is not four. That is, they believe the exact negation of the
    true statement.</p>

  <p>The partial patients combine traits of delusional patients and
    sane people.  They switch the truthfulness of their beliefs after
    each statement they make.  So a partial patient in the sane state
    can believe that two plus two is four, but after they make a
    statement, for example, that today is Wednesday, they switch to
    believing that two plus two is not equal to four. Similar to
    alternators, they switch their sanity according to an internal
    counter. That means, a stranger doesn&rsquo;t know, a priori, whether
    the first statement is made in the sane or insane state.</p>

  <p>When Radstein arrived at the asylum, he started by examining the
    victim&rsquo;s room. The victim was a patient named Zack. He lived
    alone in his room. The victim was lying in his bed, his skull
    crushed. Next to the victim was a bloody bronze statue of a
    ballerina. It was obviously the murder weapon. Radstein put on his
    gloves and picked up the statue. It was very heavy: he could
    barely lift it. It would require significant strength to use this
    statue as a murder weapon.  Radstein examined the victim. The man
    obviously died in his sleep. Radstein estimated the time of death
    as somewhere between 2am and 5am. All the windows were locked; the
    only way anyone could have entered the room was through the door,
    but the door lock had not been meddled with. Radstein also found a
    statue stand in the common room.</p>

  <p>The asylum is small. There are only nine people there: Ann, Beth,
    Cedric, David, Eve, Fiona, Grace, Holly, and Ian. This is not
    counting the dead guy. It is worth noting that the members of the
    asylum do not talk about things they do not know about.</p>

  <p>The detective went to a room where all the asylum folks
    gathered. They immediately started talking.</p>

  <ul>
    <li>Ann: Zack was my lover.</li>
    <li>Beth: Zack was my lover.</li>
    <li>Cedric: Zack was my lover.</li>
    <li>David: Zack was my lover.</li>
    <li>Eve: Zack was my lover.</li>
    <li>Fiona: Zack was my lover.</li>
    <li>Grace: Zack was my lover.</li>
    <li>Holly: Zack was my lover.</li>
    <li>Ian: Zack was my lover.</li>
  </ul>

  <p>&ldquo;That was amusing,&rdquo; thought Radstein. He decided to
    control the conversation: &ldquo;Yes or no, are you a
    patient?&rdquo;</p>

  <ul>
    <li>Ann: Yes.</li>
    <li>Beth: Yes.</li>
    <li>Cedric: No.</li>
    <li>David: Yes.</li>
    <li>Eve: Yes.</li>
    <li>Fiona: Yes.</li>
    <li>Grace: Yes.</li>
    <li>Holly: No.</li>
    <li>Ian: Yes.</li>
  </ul>

  <p>&ldquo;With all these strange alternators and partials, why
    don&rsquo;t I ask the same question again,&rdquo; thought
    Radstein. Here are the answers.</p>
  <ul>
    <li>Ann: Yes.</li>
    <li>Beth: Yes.</li>
    <li>Cedric: Yes.</li>
    <li>David: No.</li>
    <li>Eve: No.</li>
    <li>Fiona: Yes.</li>
    <li>Grace: Yes.</li>
    <li>Holly: Yes.</li>
    <li>Ian: No.</li>
  </ul>

  <p>&ldquo;Hmm, will this help me find alternators and
    partials?&rdquo; thought Radstein, &ldquo;What happens if an
    alternator is also a partial? There is also the curious issue of
    their delusions. Is there a way to distinguish between insane
    truth-tellers and sane liars? What do insane people believe that
    they believe? Let me try something else.&rdquo; He asked:
    &ldquo;Yes or no, do you believe that you are a patient?&rdquo;</p>

  <ul>
    <li>Ann: Yes.</li>
    <li>Beth: No.</li>
    <li>Cedric: No.</li>
    <li>David: No.</li>
    <li>Eve: Yes.</li>
    <li>Fiona: No.</li>
    <li>Grace: No.</li>
    <li>Holly: No.</li>
    <li>Ian: No.</li>
  </ul>

  <p>While Radstein tried to collect his thoughts, the suspects got
    excited and started to discuss their love life again.</p>

  <ul>
    <li>Ann: Beth was Zack&rsquo;s lover.</li>
    <li>Beth: I believe Cedric was Zack&rsquo;s lover.</li>
    <li>Cedric: David was Zack&rsquo;s lover.</li>
    <li>David: I believe Eve wasn&rsquo;t Zack&rsquo;s lover.</li>
    <li>Eve: Fiona was Zack&rsquo;s lover.</li>
    <li>Fiona: I believe that Grace wasn&rsquo;t Zack&rsquo;s lover.</li>
    <li>Grace: I believe Holly wasn&rsquo;t Zack&rsquo;s lover.</li>
    <li>Holly: Ian was Zack&rsquo;s lover.</li>
    <li>Ian: I believe Ann wasn&rsquo;t Zack&rsquo;s lover.</li>
  </ul>

  <p>Then they moved on to the murder.</p>

  <ul>
    <li>Ann: I believe the patients&rsquo; doors are locked from 11p
      till 7am and only doctors have keys to the patients&rsquo; rooms.</li>
    <li>Beth: I believe there is a killer among the doctors.</li>
    <li>Cedric: I believe I saw a person carrying the statue to the
      victim&rsquo;s room at 2am.</li>
    <li>David: I believe that the person who unlocked the door is not
      a doctor or not a lover.</li>
    <li>Eve: I believe there exists a man who is not innocent.</li>
    <li>Fiona: I believe there is a killer among the delusional
      patients.</li>
    <li>Grace: I believe there is a non-lover who is not innocent.</li>
    <li>Holly: I believe that only Beth, Cedric, David, and Ian are
      strong enough to lift the statue.</li>
    <li>Ian: I believe that the person who brought the statue to
      Zack&rsquo;s room is not a lover.</li>
  </ul>

  <p>Radstein came back to his hotel room to write a report. At the
    end of the report he wants to have a list for each person. In
    addition to solving the crime Radstein wants to figure out who is
    who. It is not clear if the person who unlocked the room and/or
    the person who brought the statue into the room also committed the
    murder. It is curious that for guilt too he needs three categories
    just in case.</p>

  <p>The first bullet on the list is related to sanity. It will say
    whether the person is</p>

  <ul>
    <li>partial,</li>
    <li>delusional, or</li>
    <li>sane.</li>
  </ul>

  <p>The second bullet is about truthfulness. It will say whether the
    person is</p>

  <ul>
    <li>an alternator,</li>
    <li>a liar, or</li>
    <li>a truth-teller.</li>
  </ul>

  <p>The third bullet is related to guilt:</p>

  <ul>
    <li>an accomplice,</li>
    <li>guilty of murder, or</li>
    <li>innocent.</li>
  </ul>

  <p>Please, help Detective Radstein.</p>
{% endblock %}
