{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
My piano got rewired.
{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content img {
    display: block;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<img {{ img_src_for('puzzles/musical_chairs/01.png') }}>
<img {{ img_src_for('puzzles/musical_chairs/02.png') }}>
<img {{ img_src_for('puzzles/musical_chairs/03.png') }}>
<img {{ img_src_for('puzzles/musical_chairs/04.png') }}>
<img {{ img_src_for('puzzles/musical_chairs/05.png') }}>
<img {{ img_src_for('puzzles/musical_chairs/06.png') }}>
<img {{ img_src_for('puzzles/musical_chairs/07.png') }}>
<img {{ img_src_for('puzzles/musical_chairs/08.png') }}>
<img {{ img_src_for('puzzles/musical_chairs/09.png') }}>
<img {{ img_src_for('puzzles/musical_chairs/10.png') }}>
<img {{ img_src_for('puzzles/musical_chairs/11.png') }}>
<img {{ img_src_for('puzzles/musical_chairs/12.png') }}>
<img {{ img_src_for('puzzles/musical_chairs/13.png') }}>
<img {{ img_src_for('puzzles/musical_chairs/14.png') }}>
<img {{ img_src_for('puzzles/musical_chairs/15.png') }}>
{% endblock %}
