{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
We stayed up all night translating.
{% endblock %}

{% block puzzle_content_block %}
<p>Who is it that has vanquished the beast, [6]? It is [5], who now wears its skins as a coat. Our hero indeed has greatness in his lineage, though his great-great-grandmother [2] was not so wise. Due to her boastful nature, her child [1] required rescuing. Her husband [3] was weak and resigned, but fortunately [8] came to defuse the crisis. Riding in on his mount [7], he slew the monster [4] and saved the day.</p>

<div>[1]: &alpha;&zeta;&eta;&delta;&alpha;</div>
<div>[2]: &gamma;&theta;&chi;&delta;&gamma;</div>
<div>[3]: &delta;&xi;&nu;&mu;&zeta;&delta;</div>
<div>[4]: &gamma;&delta;&kappa;&lambda;&gamma;</div>
<div>[5]: &delta;&pi;&eta;&zeta;&delta;</div>
<div>[6]: &alpha;&eta;&psi;&omicron;&pi;&alpha;</div>
<div>[7]: &beta;&omicron;&lambda;&tau;&beta;</div>
<div>[8]: &beta;&pi;&rho;&xi;&epsilon;&beta;</div>

<p>_ _ _ _ _ _</p>
{% endblock %}
