{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content table {
    border-collapse: collapse;
  }

  .puzzle-content tr {
    border-bottom: 1px solid black;
  }

  .puzzle-content td {
    padding: 1em;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<p>Now that you&rsquo;ve achieved success, it&rsquo;s time to prove it! You will need to show us evidence that you&rsquo;ve completed some or all of the careers you previously prepared for. This evidence is in the form of <i>Items of Achievement</i>. Fortunately for you, none of us have actually seen most of these things, so we&rsquo;re acting mostly off of what we&rsquo;ve heard.</p>

<p>Of course, the only real measure of success is money. Your life really amounts to nothing without it. Our appraisers will value your <i>Items of Achievement</i> and grant you (fake) money with which to demonstrate to your peers that you have <b>Succeeded In Life</b>. You will be granted money based on our known criteria of each object, and a standard rubric of the following categories<p>

<ul>
  <li>Authenticity</li>
  <li>Functionality</li>
  <li>Sturdiness</li>
  <li>Style</li>
  <li>Bonus (Judges&rsquo; Discretion)</li>
</ul>

<p>For each <i>Item of Achievement</i>, you may receive up to $50M in each category (in invisible fake currency), for a total of $250M possible per item. In order to fully prove your success, you&rsquo;ll need to earn an amount of money that depends on your team size
</p>

<table>
  <tr>
    <th>Team size</th>
    <th>Quantifiable Success</th>
  </tr>
  <tr>
    <td>1 to 20 team members</td>
    <td>$1B</td>
  </tr>
  <tr>
    <td>21 to 40 team members</td>
    <td>$1.5B</td>
  </tr>
  <tr>
    <td>41 to 60 team members</td>
    <td>$2.25B</td>
  </tr>
  <tr>
    <td>Greater than 60 team members</td>
    <td>$3B</td>
  </tr>
</table>

<p>Since success is also judged against meeting your goals, you must demonstrate items for professions that you previously earned <i>Keys To Success</i> for. If you have proof for all of these careers and still need more cash (don&rsquo;t we all), you may then add more careers.</p>

<p>When you believe that you have all of the necessary items, submit the instruction &ldquo;ITS DEFINITELY ALL REAL&rdquo; to Cranium Command, and we&rsquo;ll schedule some appraisers to visit your HQ.</p>


<p><b>The Items of Achievement</b></p>
<table>
  <tr>
    <th>Career</th>
    <th>Item of Achievement</th>
    <th>Characteristics of Item</th>
  </tr>
  <tr>
    <td>Race Car Driver</td>
    <td>A quilt</td>
    <td>
      <ul>
        <li>At least twin-sized</li>
        <li>Includes cars or other racing-related design elements</li>
        <li>Includes embroidered signature of the winner</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Architect</td>
    <td>Blueprints for the Stata Center</td>
    <td>
      <ul>
        <li>Includes at least one secret passage</li>
        <li>Hand-drawn on legal-size or larger paper</li>
        <li>Blue</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Doctor</td>
    <td>An x-ray machine</td>
    <td>
      <ul>
        <li>Produces an x-ray for us of an object of our choosing</li>
        <li>Has radiation warning signs</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Rock Star</td>
    <td>A music video recorded for us</td>
    <td>
      <ul>
        <li>Includes singing</li>
        <li>Includes backup dancers</li>
        <li>Includes at least one ridiculous costume</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Cheerleader</td>
    <td>A cheer routine featuring multiple team members, created and performed for us</td>
    <td>
      <ul>
        <li>Team members are coordinated</li>
        <li>At least one team member must be on top of at least one other team member</li>
        <li>Motivates team to solve a puzzle</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Professor</td>
    <td>Tenure</td>
    <td>If we told you exactly what was required, would it really be tenure?</td>
  </tr>
  <tr>
    <td>Astronaut</td>
    <td>An astronaut helmet</td>
    <td>
      <ul>
        <li>Solid structure</li>
        <li>Fits on a team member&rsquo;s head without falling off</li>
        <li>Team member can submerge their head under water without holding their breath</li>
        <li>Has NASA logo</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Firefighter</td>
    <td>A fire hydrant</td>
    <td>
      <ul>
        <li>Sprays water when cap is opened (not toward us)</li>
        <li>Brightly colored</li>
        <li>Attractive to dogs</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Lion Tamer</td>
    <td>A caged lion</td>
    <td>
      <ul>
        <li>Living mammal with a mane and some amount of yellow fur</li>
        <li>Roars convincingly</li>
        <li>Cage structurally sound (oh god please)</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Ballerina</td>
    <td>A barre</td>
    <td>
      <ul>
        <li>Allows 4+ team members to perform barre warmups</li>
        <li>Placed in front of a mirror</li>
        <li>Ballet teacher calling warmup</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Engineer</td>
    <td>A Brass Rat</td>
    <td>
      <ul>
        <li>Made of material that looks like brass</li>
        <li>Topologically equivalent to a donut</li>
        <li>Somehow magically gets you jobs</li>
        <li>Is definitely worth all this shit</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Movie Star</td>
    <td>An Oscar</td>
    <td>
      <ul>
        <li>Gold statue</li>
        <li>Shaped like a person</li>
        <li>Has a nameplate with team member&rsquo;s name</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Clown</td>
    <td>A clown car</td>
    <td>
      <ul>
      <li>Has wheels</li>
      <li>Can implausibly fit multiple team members inside</li>
      <li>Moves with team members inside</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Dinosaur</td>
    <td>RAWWWR (you are now a dinosaur)</td>
    <td>
      <ul>
        <li>Appropriate teeth</li>
        <li>Previously postulated dinosaur color</li>
        <li>Convincing dinosaur sounds</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Mountain Climber</td>
    <td>A mountain</td>
    <td>
      <ul>
        <li>Team member can climb it</li>
        <li>Covered in ice and snow</li>
        <li>Very tall</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Princess</td>
    <td>A unicorn</td>
    <td>
      <ul>
        <li>Sparkles</li>
        <li>Has a horn</li>
        <li>Poops rainbows</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Standup Comedian</td>
    <td>An SNL-style skit, written and performed for us</td>
    <td>
      <ul>
        <li>Makes us laugh</li>
        <li>Written by your team</li>
        <li>Performers in costume</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Volcanologist</td>
    <td>A volcano</td>
    <td>
      <ul>
        <li>Erupts warm red fluid</li>
        <li>Emits ash</li>
        <li>Accompanied by earthquakes</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Pet Store Owner</td>
    <td>A small mammal habitat</td>
    <td>
      <ul>
        <li>Securely holds a small mammal</li>
        <li>Allows for feeding of small mammal</li>
        <li>Provides entertainment for small mammal</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Paleontologist</td>
    <td>A dinosaur skeleton</td>
    <td>
      <ul>
        <li>The foot bone connects to the leg bone</li>
        <li>The leg bone connects to the hip bone</li>
        <li>The head bone connects to the back bone</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Doctor Who</td>
    <td>A TARDIS</td>
    <td>
      <ul>
        <li>Is bigger on the inside than the outside</li>
        <li>Is blue</li>
        <li>Can be opened by a team member snapping their fingers</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Park Ranger</td>
    <td>A campfire (no actual fires in HQs please)</td>
    <td>
      <ul>
        <li>Constructed like a little house/tipi</li>
        <li>Warm</li>
        <li>Gives off a pleasing light</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Baker</td>
    <td>A cake decorated by your team</td>
    <td>
      <ul>
        <li>Edible and tasty dessert</li>
        <li>Decorated artistically</li>
        <li>Has a celebratory message</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Politician</td>
    <td>An elected official</td>
    <td>
      <ul>
        <li>Has been provably elected to some position, not related to Mystery Hunt</li>
        <li>Election was free and fair</li>
        <li>Can give a short victory speech</li>
      </ul>
    </td>
  </tr>
</table>
{% endblock %}
