{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
{% endblock %}

{% block puzzle_flavortext_block %}
  After everything they’ve been through, these are no amateur teens. A
  long sequence of tragic deaths and star-crossed love has brought
  them together in common purpose: to win this final match. By the
  Warhammer of Zillyhoo, may they find victory.
{% endblock %}

{% block puzzle_content_block %}
  <pre>
██: LIST-EN UP, -EV-ERYBODY, let's get settled fin and start t)(is meeting. T)(e admiral )(as t)(e deck.
██: Thank you. You may all 8e ghosts, 8ut you can still prevail together, despite 8eing useless in life!
██: )(a)(a WOW t)(at is a terrible way to start off! 380 Anyglub, Y-EA)(, we'll swab )(is deck but good!
██: ._. hi i just want to check should i be here? -_-; its all trolls and thats swell but i am not one!!
██: OH SO WE'RE ALL JUST GARBAGE (i guess some of us maybe but still rude) BUT THIS FLIPPING JERK ISN'T.
██: Settle down!!!!!!!! I need all species and levels of incompetence for the gr8 plan to work the 8est.
██: TH1S 1S GR34T 1T 1S JUST L1K3 OLD T1M3S BUT 1 HOP3 W1TH L3SS K1D-MURD3R &gt;:D TH3 HUG3ST OF 4LL R41DS!
██: PULL YOUR NUGBONE OUT OF YOUR (shapely) NOOK, WE ARE DEFINITELY ALL GOING TO (re-) DIE FIGHTING HIM.
██: tHAT IS SO NEGATIVE, yOU JUST HAVE TO, bELIEVE, }:-) nO MATTER HOW FAKE IT IS, sO IT GETS LESS FAKE,
██: I Concur That A Positive Outlook Is Essential Lest Lingering Doubts Strike Us During A Critical Time
██: Glub glub glub!!! T)(at's w)(at I like to )(ear!!! Frigate all t)(at negative energy and get pumped!
██: That Said We Do Have To Remain Realistic (Sigh) It Sadly Is True That We Are Far Outmatched In Power
██: We Have Superior Numbers On Our Side Certainly But (And This Is A Large But) Numbers Arent A Defense
██: Any Victory We Have Will Be By Attrition Thus Only Hurling Many Of Us To Our Deaths Will Win The Day
██: 4 GR34T P3P T4LK 1T R34LLY T4ST3S L1K3 1 4M 1N TH3 R41NBOW RUMPUS P4RTYTOWN NOW &gt;:b SO FULL OF P3P!!
██: She iiiiiiiis right, though. You just have to 8uy time. Throw 32,768 of you at him, he'd still win!!
██: THAT'S FANTASTIC!! CAN'T FUCKING WAIT TO HAVE MY TORSO PILLAR TORN OUT!! THAT'S #1 ON MY WISHLIST!!!
██: Dial 8ack the shout poles, will you? It'll all 8e fine! So you die, it won't even 8e the first time.
██: 8esides, he's coming anyway so the plan won't hurt! ::::b Go down swinging, or go down like a chump!
██: D --&gt; Or be STRONG enough to win. You will see when we join battle how b100 and vigorous my b100d is
██: ok so uhh troll blood aside if we cant beat this guy then what are we supposed to achieve?? :( :( :(
██: im guessin wwere gonna mobilize the true powwer and energy a science wwhich can do anythin you needs
██: so hi secodn human here (no relaiton) but i gotta say ive done science and what ur burlbign ain't it
██: We're all getting w8y off tr8ck!!!!!!!! 8eing 88 is your jo8. My seeeeeeeecret weapon can finish it.
██: SWEET JEGUS, DO YOU THINK I'M 1 SWEEP OLD? I AM NOT GOING TO DANGLE FROM A HOOK 24 DAMN HOURS A DAY!
██: yeah ^3^ kisses but i need to leave and not die a 3rd time D: this is a nightmare!! D: wake me up!!!
██: There's no getting out of this dream 8u88le, pink face! Now 8e serious and listen to how this'll go.
██: All Due Respect But Youre Actually Doing Too Awful To Describe Adequately And It Is Really Quite Sad
██: what hapepned *hic* to the othre one with fins, she was a good cap'n i thougt. commadnnig presnce ;)
██: Looooooooooooooook, I have the juju! It's f8ed to work as long as we can have it up in his 8usiness.
██: W3LL 1F 1TS F4T3 TH3R3S NO 4RGU1NG W1TH TH4T! 4T TH3 V3RY 3ND W3 C4N DO OUR L4ST P13C3 (4s b41t &gt;:[)
██: IT WOULD FINALLY BE A WORTHWHILE USE OF MY PATHETIC BEHEMOTH LEAVING OF A LIFE. YAY LET'S BE HEROES.
██: i KNEW THAT YOU COULD BELIEVE, bUT ACTUALLY i BELIEVED YOU COULD, wHICH IS BETTER THAN KNOWING, yES,
██: aND NOW THAT WE ARE STARTING TO BELIEVE, i AM GLAD i BROUGHT ALL OF US TOGETHER TODAY, i AM A CHAMP,
██: D --&gt; Backing down has never %ed my think pan. That I now submit to a lowb100d is e%quisitely sordid
██: CAN YOU FOR ONE MINUTE NOT BE HELL OF GROSS ABOUT THIS? WE'RE TRYING TO MAKE A SACRIFICE NOBLY HERE!
██: i THINK, wHATEVER WAY HE IS WILLING TO DO THIS, kEEPS BEING RIGHT, iRREGARDLESS THAT IT'S OFF-COLOR,
██: wwhatevver i been ready to do this 247 ivve got all a TRUEST SCIENCE an four empty quadrants lets GO
██: i LOVE THAT SELF CONFIDENCE, eVEN COMING FROM A DARK PLACE, }:-(, sO i READ YOU LOUD AND CLEAR 10-4,
██: 1 C4N SM3LL SOM3TH1NG COM1NG, W3 4R3 OUT OF T1M3 FOR 4NY R3GR3TS! 1T'S T1M3 TO G3T TH3 V1CTORY GO1NG
██: G3T YOUR G4MB1TS 4ND YOUR SCH3M4S OR WH4T3V3R R34DY FOR STR1F3, 4ND L3TS M4K3 TH1S T1M3L1N3 COUNT!!!
██: I'M SO READY TO DO THE BIGGEST ACROBATIC FUCKING PIROUETTE OFF THIS MORTAL COIL, DRAMATIC HERO STYLE
██: K33P 1T TOG3TH3R, 3V3RYON3!! DR4W H1M 1N 4ND TOW4RDS TH3 JUJU!! H3R3 W3 4R3 SCRUB &gt;:i SO BR1NG IT ON
██: I Confess I Have Been Holding In Lots Of Ire Thats Going To Come Out Now So I Advocate Standing Back
██: yES, mY ONE ACCOMPLISHMENT, iS WORKING, aND WILL FOREVER, gOOD JOB ME WHO i BELIEVED IN, (AfTEr hEr)
██: For As Long As Forever Lasts At Least Now That Our Nemesiss Sarcophagus Arrives From Out Of The Deep
██: dO NOT WORRY, fRIENDS, i BROUGHT YOU TOGETHER, tO FIGHT BY YOUR SIDES, iN FRIENDSHIP, tIL WE ARE VI-
██: *hic* that was beiuetuifiul up until he got vaprozied imo :( i guess SOEMONE has to SHOW HOW WE ROLL
  </pre>
{% endblock %}
