{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block byline %}By Peter Lorenz and Liz Chhouk{% endblock %}

{% block puzzle_head_block %}
{% endblock %}

{% block puzzle_content_block %}
{% if site_mode() == "solution" %}
<div id="main-page-content">
  <p>Based on the phrase DISGUISED AS VOLTORB, teams have determined that the orb has ended up in the Safari Zone, and some Voltorbs have taken it has one of their own. However, this isn’t the first time that the Voltorbs have done this, and included in their number are several other fake Voltorbs.</p>

  <p>When players arrive at the interaction room, they see that there is a Voltorb case with a five-letter combination lock on it. Attached to the case is a sign that says &ldquo;Definitely Not A Memory Orb&rdquo;, with the words in different colors&mdash;black, blue, green, red, and purple, respectively.</p>

  <p>Strewn throughout the room are 45 Voltorbs, each of which has a different piece of information on it, in a different color. The information and color identify the Voltorbs as parts of sets:</p>

  <p>
    <div><b>Black Voltorbs: Presidents</b></div>
    <div>Fake Voltorb: Whitmore</div>
    <div>Real Voltorbs:</div>
    <ul>
      <li>Bush</li>
      <li>Carter</li>
      <li>Hoover</li>
      <li>Lincoln</li>
      <li>Obama</li>
      <li>Roosevelt</li>
      <li>Truman</li>
      <li>Washington</li>
    </ul>
  </p>

  <p>
    <div><b>Blue Voltorbs: Countries</b></div>
    <div>Fake Voltorb: Atlantis</div>
    <div>Real Voltorbs:</div>
    <ul>
      <li>China</li>
      <li>Germany</li>
      <li>Japan</li>
      <li>Luxembourg</li>
      <li>Mexico</li>
      <li>Peru</li>
      <li>Russia</li>
      <li>United States</li>
    </ul>
  </p>

  <p>
    <div><b>Green Voltorbs: Animals</b></div>
    <div>Fake Voltorb: Tamagotchi</div>
    <div>Real Voltorbs:</div>
    <ul>
      <li>Bear</li>
      <li>Chameleon</li>
      <li>Dog</li>
      <li>Elephant</li>
      <li>Giraffe</li>
      <li>Jaguar</li>
      <li>Komodo Dragon</li>
      <li>Tiger</li>
    </ul>
  </p>

  <p>
    <div><b>Red Voltorbs: Baseball Positions</b></div>
    <div>Fake Voltorb: Tight End</div>
    <div>Real Voltorbs:</div>
    <ul>
      <li>Catcher</li>
      <li>Center Fielder</li>
      <li>First Baseman</li>
      <li>Left Fielder</li>
      <li>Pitcher</li>
      <li>Second Baseman</li>
      <li>Shortstop</li>
      <li>Third Baseman</li>
    </ul>
  </p>

  <p>
    <div><b>Purple Voltorbs: Astrological Houses</b></div>
    <div>Fake Voltorb: Slytherin</div>
    <div>Real Voltorbs:</div>
    <ul>
      <li>Aquarius</li>
      <li>Capricorn</li>
      <li>Gemini</li>
      <li>Libra</li>
      <li>Sagittarius</li>
      <li>Scorpio</li>
      <li>Taurus</li>
      <li>Virgo</li>
    </ul>
  </p>

  <p>Once the team has identified the &ldquo;fake&rdquo; Voltorbs (those with information that is incongruous with their set), they should extract the first letter of the information on the Voltorbs. The ordering of the letters is given by the sign on the Voltorb case, giving the answer <strong><code>WATTS</code></strong>.</p>

  <p>This answer could be entered into the combination lock on the Voltorb case, freeing the zipper. Unzipping the Voltorb case reveals the core memory orb.</p>

  <p>The Pok&eacute;mon theme song was played on repeat during this interaction.</p>
</div>
{% endif %}
{% endblock %}