{% extends "overall_layout.html" %}

{% import "/macros.html" as macros with context %}
{% import "/shared_macros.html" as shared_macros with context %}
{% import "/memories_macros.html" as memories_macros with context %}
{% import "/scifi_macros.html" as scifi_macros with context %}
{% import "/hacking_macros.html" as hacking_macros with context %}
{% import "/games_macros.html" as games_macros with context %}
{% import "/pokemon_macros.html" as pokemon_macros with context %}

{% block styling_block %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url_for('styles/puzzle.css') }}">
    {{ macros.include_round_stylesheet() }}
    {{ macros.generate_puzzle_styles(puzzle) }}
    {% block puzzle_head_block %}{% endblock %}
{% endblock %}

{% block header_content %}
  {% if solution %}
    {% if session.usertype == 'writingteam' %}
    <div id="submit" class="header-link"><a href="{{ url_for('full_puzzle', puzzle_id=puzzle_id) }}">Back to Puzzle</a></div>
    {% else %}
    <div id="submit" class="header-link"><a href="{{ url_for('puzzle', puzzle_id=puzzle_id) }}">Back to Puzzle</a></div>
    {% endif %}
  {% elif session.usertype == 'writingteam' and puzzle_id not in pages_without_solutions %}
    <div id="check_answer" class="header-link"><a href="#" data-toggle="modal" data-target="#checkAnswerModal">Check Answer</a></div>
    <div id="submit" class="header-link"><a href="{{ url_for('full_solution', puzzle_id=puzzle_id) }}">Solution</a></div>
  {#
    Unlock Island button available if:
      this is an island unlock puzzle page
      this is the most recent island unlock puzzle
   #}
  {%- elif
    site_mode() == 'live'
    and puzzle_id in island_unlocks
    and island_unlocks.index(puzzle_id) >= core_display_data['openIslands']|length
  -%}
    <div id="submit" class="header-link"><a href="{{ submit_url_for(puzzle_id) }}">Unlock Island</a></div>
  {% elif site_mode() == 'live' and puzzle_id not in island_unlocks %}
    <div id="submit" class="header-link"><a href="{{ submit_url_for(puzzle_id) }}">Check Answer</a></div>
  {% elif site_mode() == 'solution' and puzzle_id not in pages_without_solutions %}
    <div id="check_answer" class="header-link"><a href="#" data-toggle="modal" data-target="#checkAnswerModal">Check Answer</a></div>
    <div id="submit" class="header-link"><a href="{{ url_for('puzzle_solution', puzzle_id=puzzle_id) }}">Solution</a></div>
  {% endif %}

  <div class="modal fade" id="checkAnswerModal" tabindex="-1" role="dialog" aria-labelledby="checkAnswerModalLabel" data-puzzle-id="{{ puzzle_id }}" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="checkAnswerModalLabel">Check Answer</h4>
        </div>
        <div class="modal-body">
          <form id="checkAnswerForm" action="#">
            <input type="text" placeholder="Check an answer..." />
            <button type="submit">Check</button>
          </form>
          <div id="checkAnswerResult">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block overall_layout_body %}
  <div class="puzzle-container {{ shared_macros.puzzle_display_state() -}}
    {%- if puzzle_round_id == 'memories' %} {{ memories_macros.colors(puzzle) }} {%- endif -%}
    {%- if puzzle_round_id == 'hacking' %} hacking-{{ hacking_macros.phase(puzzle) }} {%- endif -%}
    {%- if puzzle_round_id == 'scifi' %} scifi-{{ scifi_macros.type(puzzle) }} {%- endif -%}
  ">
    <div id="header" class="puzzle-header">
      <div class="icon">
        {{ macros.generate_icon(puzzle) }}
      </div>
      <div class="name-container" {% if puzzle_round_id == 'memories' -%} style="{{ memories_macros.sadness_header_styles() }} {%- endif -%} ">
        <div class="name-items">
          {% set override_theme_text = scifi_macros.substation_text(puzzle) if puzzle_round_id == 'scifi' else '' %}
          {% if override_theme_text or self.puzzle_themetext_block() %}
          <div class="theme-text">
            {{ override_theme_text }}
            {% block puzzle_themetext_block %}{% endblock %}
          </div>
          {% endif %}
          <div class="title-text">
            {% block puzzle_name_block %}{% endblock %}
          </div>
        </div>
        {%- if puzzle_round_id == 'memories' -%}
          {{ memories_macros.anger_thermometer() }}
        {%- endif -%}
      </div>
    </div>

    <div id="puzzle" class="puzzle">
      {# This is only used by solutions -#}
      {% if self.byline() -%}
      <div id="byline">
        {% block byline %}{% endblock %}
      </div>
      {%- endif %}
      {% if self.solution() %}
      <div id="solution" class="solution">
        <span class="puzzle-reward-solution-label">Answer:</span>
        <span class="puzzle-solution">{% block solution %}{% endblock %}</span>
      </div>
      {% elif puzzle_visibility and puzzle_visibility.status == 'SOLVED' and puzzle_visibility.solvedAnswers|length > 0 %}
      <div id="solution" class="solution">
        <span class="puzzle-reward-solution-label">Answer:</span>
        {% if not suppress_display_solution %}
        <span class="puzzle-solution">
          {% for answer in puzzle_visibility.solvedAnswers %}
          <code>{{ answer }}</code>
          {% endfor %}
        </span>
        {% endif %}
      </div>
      {% endif %}

      {% if self.puzzle_errata_block() %}
        <div id="errata" class="errata">
          {% block puzzle_errata_block %}{% endblock %}
          <hr>
        </div>
      {% endif %}
      {% if self.puzzle_flavortext_block() %}
        <div id="flavor" class="flavor">
          {% block puzzle_flavortext_block %}{% endblock %}
        </div>
      {% endif %}
      {% if self.puzzle_call_to_action_block() %}
        <div id="call-to-action" class="call-to-action">
          {% block puzzle_call_to_action_block %}{% endblock %}
        </div>
      {% endif %}
      <div class="puzzle-content">
      {% block puzzle_content_block %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
