{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
  Ismene thought the serving sizes were small, but Becca and Akira
  insisted the proportions were correct.
{% endblock %}

{% block puzzle_content_block %}
  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/01.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>

  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/02.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>

  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/03.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>

  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/04.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>

  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/05.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>

  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/06.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>

  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/07.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>

  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/08.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>

  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/09.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>

  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/10.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>

  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/11.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>

  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/12.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>

  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/13.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>

  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/14.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>

  <p>
    <audio controls>
      <source src="{{ asset_url_for('puzzles/special_delivery/15.mp3') }}" type="audio/mpeg"/>
    </audio>
  </p>
{% endblock %}
