{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<script>
  var hashesToAudioFiles = {
    'aac0522076d23cf79a39f5522f9b5c6af47c1d43427991c346221f692501ed47': '{{ asset_url_for('puzzles/sports_radio/audio/02.mp3') }}',
    '6ce9f5c43df1982440e2256b7892463c7ec74af9d8df61fd44be9dde583bd4be': '{{ asset_url_for('puzzles/sports_radio/audio/03.mp3') }}',
    'fd341bd929163cdebcc34669ce2b0bd9448d632697a66730c8d0547a01c2f14b': '{{ asset_url_for('puzzles/sports_radio/audio/04.mp3') }}',
    '1a16aa9af3ed03c9cc04520346f388f1aff2be24558a4e11bf246b068e236599': '{{ asset_url_for('puzzles/sports_radio/audio/05.mp3') }}',
    'bcc0d12eee7899c751ecd0e834ed3f8ce6f8932604da7da3da3b4dcfc3dc2c69': '{{ asset_url_for('puzzles/sports_radio/audio/06.mp3') }}',
    'f8b4e0493fdeb40941d709103e4b078b4251ac31a992a448eabbb2764f52e655': '{{ asset_url_for('puzzles/sports_radio/audio/07.mp3') }}',
    '5760ad23414ff293edbdccd9c557d8e241be2b3761fd33b5ed5c98befad304e2': '{{ asset_url_for('puzzles/sports_radio/audio/08.mp3') }}',
    '93b8db689a14d76587ae56ea42ccb50cf279967bd6a9e6d001d22dff64ae0e64': '{{ asset_url_for('puzzles/sports_radio/audio/09.mp3') }}',
    '177955fe76e04557748db63e16d13fcc137e61f3299d9bcd58236ad9d51f92e8': '{{ asset_url_for('puzzles/sports_radio/audio/10.mp3') }}',
    '3e098a2e2e5cfa45a6b535bb1c9071833e865da59eb3bf518de891f495051dad': '{{ asset_url_for('puzzles/sports_radio/audio/11.mp3') }}',
    'ba71857164ac7b7a07aff3712a3c7caa36b5f15910e3359ff6b10286b6c396ec': '{{ asset_url_for('puzzles/sports_radio/audio/12.mp3') }}',
    '894daf22dd21147616249ad32a47a48069a8cbff247e7535cd1884bd6331e014': '{{ asset_url_for('puzzles/sports_radio/audio/13.mp3') }}',
  };
  var passwordDisplayHash = '2dce22c493427ceb606d6be8ad416e51604ccb6f5c55b7ea6b2b6177d771351e';
  var passwordHash = '21665ca201d4070f6fcc99b84aa1e55ae49e7b47069a24ed524da86413381b23';
  var correctPasswordAudioFile = '{{ asset_url_for('puzzles/sports_radio/audio/14.mp3') }}';
</script>
<script src="{{ asset_url_for('puzzles/sports_radio/js/sha256.min.js') }}"></script>
<script src="{{ asset_url_for('puzzles/sports_radio/js/sports_radio.js') }}"></script>
<style>
  .puzzle-content .flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .puzzle-content .flexbox img {
    width: 100%;
  }

  .puzzle-content > img {
    display: block;
    margin: auto;
    width: 50%;
  }

  .puzzle-content select {
    margin: 20px 0px;
  }

  .puzzle-content #audio-target, .puzzle-content #submit-target {
    height: 35px;
  }

  .puzzle-content #password-form {
    display: none;
    margin: 20px 0;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<div class="flexbox">
  <div><img {{ img_src_for('puzzles/sports_radio/images/1.png') }} ></div>
  <div><img {{ img_src_for('puzzles/sports_radio/images/2.png') }} ></div>
</div>
<img {{ img_src_for('puzzles/sports_radio/images/3.png') }} >

{% if site_mode() == 'solution' %}
<p><i>During Hunt, this QR code led to the following audio file:</i></p>
<div>
  <audio controls>
    <source src="{{ asset_url_for('puzzles/sports_radio/audio/01.mp3') }}" type="audio/mpeg">
  </audio>
</div>

<p><i>Teams had to visit locations on campus. As a replacement, we’ve produced a virtual campus tour here. Choose a room number to see if there was anything there.</i></p>

<select id="select">
  <option></option>
  <option value="1-115">1-115</option>
  <option value="1-132">1-132</option>
  <option value="1-134">1-134</option>
  <option value="1-135">1-135</option>
  <option value="1-136">1-136</option>
  <option value="1-150">1-150</option>
  <option value="1-242">1-242</option>
  <option value="1-246">1-246</option>
  <option value="1-273">1-273</option>
  <option value="1-277">1-277</option>
  <option value="1-371">1-371</option>
  <option value="1-375">1-375</option>
  <option value="1-379">1-379</option>
  <option value="1-390">1-390</option>
  <option value="2-103">2-103</option>
  <option value="2-105">2-105</option>
  <option value="2-131">2-131</option>
  <option value="2-132">2-132</option>
  <option value="2-135">2-135</option>
  <option value="2-136">2-136</option>
  <option value="2-139">2-139</option>
  <option value="2-142">2-142</option>
  <option value="2-143">2-143</option>
  <option value="2-146">2-146</option>
  <option value="2-147">2-147</option>
  <option value="2-151">2-151</option>
  <option value="2-190">2-190</option>
  <option value="2-235">2-235</option>
  <option value="3-133">3-133</option>
  <option value="3-270">3-270</option>
  <option value="3-333">3-333</option>
  <option value="3-370">3-370</option>
  <option value="3-442">3-442</option>
  <option value="4-144">4-144</option>
  <option value="4-145">4-145</option>
  <option value="4-146">4-146</option>
  <option value="4-148">4-148</option>
  <option value="4-149">4-149</option>
  <option value="4-152">4-152</option>
  <option value="4-153">4-153</option>
  <option value="4-158">4-158</option>
  <option value="4-159">4-159</option>
  <option value="4-162">4-162</option>
  <option value="4-163">4-163</option>
  <option value="4-231">4-231</option>
  <option value="4-237">4-237</option>
  <option value="4-249">4-249</option>
  <option value="4-251">4-251</option>
  <option value="4-253">4-253</option>
  <option value="4-257">4-257</option>
  <option value="4-261">4-261</option>
  <option value="4-265">4-265</option>
  <option value="4-270">4-270</option>
  <option value="4-364">4-364</option>
  <option value="4-370">4-370</option>
  <option value="5-134">5-134</option>
  <option value="5-216">5-216</option>
  <option value="5-217">5-217</option>
  <option value="5-231">5-231</option>
  <option value="5-232">5-232</option>
  <option value="5-233">5-233</option>
  <option value="5-234">5-234</option>
  <option value="6-120">6-120</option>
  <option value="7-238">7-238</option>
  <option value="8-119">8-119</option>
  <option value="8-205">8-205</option>
  <option value="9-354">9-354</option>
  <option value="10-250">10-250</option>
  <option value="13-1143">13-1143</option>
  <option value="13-3101">13-3101</option>
  <option value="13-3119">13-3119</option>
  <option value="13-4101">13-4101</option>
  <option value="13-5101">13-5101</option>
  <option value="14-0637">14-0637</option>
  <option value="14E-310">14E-310</option>
  <option value="14N-112">14N-112</option>
  <option value="14N-325">14N-325</option>
  <option value="16-160">16-160</option>
  <option value="16-284">16-284</option>
  <option value="24-112">24-112</option>
  <option value="24-115">24-115</option>
  <option value="24-121">24-121</option>
  <option value="24-307">24-307</option>
  <option value="26-100">26-100</option>
  <option value="26-142">26-142</option>
  <option value="26-152">26-152</option>
  <option value="26-168">26-168</option>
  <option value="26-204">26-204</option>
  <option value="26-210">26-210</option>
  <option value="26-302">26-302</option>
  <option value="26-310">26-310</option>
  <option value="26-314">26-314</option>
  <option value="26-322">26-322</option>
  <option value="26-328">26-328</option>
  <option value="32-082">32-082</option>
  <option value="32-123">32-123</option>
  <option value="32-124">32-124</option>
  <option value="32-141">32-141</option>
  <option value="32-144">32-144</option>
  <option value="32-155">32-155</option>
  <option value="33-319">33-319</option>
  <option value="33-418">33-418</option>
  <option value="33-419">33-419</option>
  <option value="33-422">33-422</option>
  <option value="34-101">34-101</option>
  <option value="34-301">34-301</option>
  <option value="34-302">34-302</option>
  <option value="34-303">34-303</option>
  <option value="34-304">34-304</option>
  <option value="35-225">35-225</option>
  <option value="35-308">35-308</option>
  <option value="35-310">35-310</option>
  <option value="36-112">36-112</option>
  <option value="36-144">36-144</option>
  <option value="36-153">36-153</option>
  <option value="36-155">36-155</option>
  <option value="36-156">36-156</option>
  <option value="36-372">36-372</option>
  <option value="37-212">37-212</option>
  <option value="37-371">37-371</option>
  <option value="38-166">38-166</option>
  <option value="48-308">48-308</option>
  <option value="48-316">48-316</option>
  <option value="50-030">50-030</option>
  <option value="50-340">50-340</option>
  <option value="54-100">54-100</option>
  <option value="54-1210">54-1210</option>
  <option value="56-114">56-114</option>
  <option value="56-154">56-154</option>
  <option value="56-162">56-162</option>
  <option value="56-167">56-167</option>
  <option value="56-169">56-169</option>
  <option value="56-180">56-180</option>
  <option value="56-191">56-191</option>
  <option value="66-110">66-110</option>
  <option value="66-144">66-144</option>
  <option value="66-148">66-148</option>
  <option value="66-154">66-154</option>
  <option value="66-156">66-156</option>
  <option value="66-160">66-160</option>
  <option value="66-168">66-168</option>
  <option value="66-546">66-546</option>
  <option value="E15-001">E15-001</option>
  <option value="E25-111">E25-111</option>
  <option value="E25-117">E25-117</option>
  <option value="E40-103">E40-103</option>
  <option value="E51-057">E51-057</option>
  <option value="E51-061">E51-061</option>
  <option value="E51-063">E51-063</option>
  <option value="E51-085">E51-085</option>
  <option value="E51-145">E51-145</option>
  <option value="E51-149">E51-149</option>
  <option value="E51-151">E51-151</option>
  <option value="E51-315">E51-315</option>
  <option value="E51-325">E51-325</option>
  <option value="E51-335">E51-335</option>
  <option value="E51-345">E51-345</option>
  <option value="E51-361">E51-361</option>
  <option value="E51-372">E51-372</option>
  <option value="E51-376">E51-376</option>
  <option value="E51-385">E51-385</option>
  <option value="E51-390">E51-390</option>
  <option value="E51-393">E51-393</option>
  <option value="E51-395">E51-395</option>
  <option value="E52-164">E52-164</option>
  <option value="E52-335">E52-335</option>
  <option value="E53-336">E53-336</option>
  <option value="E62-221">E62-221</option>
  <option value="E62-223">E62-223</option>
  <option value="E62-233">E62-233</option>
  <option value="E62-250">E62-250</option>
  <option value="E62-262">E62-262</option>
  <option value="E62-276">E62-276</option>
</select>

<form id="password-form">
  <p>The content at this location was password-protected.</p>
  <input id="password" type="text" size="20" />
  <input id="submit-password" type="submit" />
</form>

<div id="audio-target">
</div>
{% endif %}
{% endblock %}
