{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_call_to_action_block %}
Where can you find the core memory?
{% endblock %}

{% block puzzle_head_block %}
<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
<style>
  .puzzle-content {
    background-color: black;
    padding: 20px;
  }

  .puzzle-content .screen {
    background-color: #404040;
    color: white;

    font-family: 'Share Tech Mono', monospace;

    height: 300px;

    padding: 20px;
    border-radius: 20px;
  }

  .puzzle-content hr {
    margin: 20px 0px;
  }

  .puzzle-content .flexbox {
    display: flex;
    justify-content: space-between;
  }

  .puzzle-content img {
    height: 1em;
  }

  .puzzle-content .cursor {
    color: white;
    animation-name: cursor;
    animation-duration: 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
  }

  @keyframes cursor {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<div class="screen">
  <div class="flexbox">
    <span>Captain&rsquo;s Log</span>
    <span>Stardate: ?????.?</span>
  </div>
  <hr>
  <div>Initially, I was eager to be out here, exploring the undiscovered country. But now the Borg are upon us and our morale is flagging.</div>
  <div>If we&rsquo;re ever going to solve the current situation we&rsquo;ll have to explore the cube.</div>
  <div>We will ignore the declarations of the Borg&mdash;we will fight back!</div>
  <span class="cursor">█</span>
</div>
{% endblock %}
