{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
  <link rel="stylesheet" href="{{ asset_url_for('puzzles/the_lurking_horror_ii_the_lurkening/glkote.css') }}" type="text/css">
  <script src="{{ asset_url_for('puzzles/the_lurking_horror_ii_the_lurkening/glkote.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset_url_for('puzzles/the_lurking_horror_ii_the_lurkening/quixe.min.js') }}" type="text/javascript"></script>

  <script type="text/javascript">
    game_options = {
      use_query_story: false,
      set_page_title: false,
      inspacing: 0,     // gap between windows
      outspacing: 0     // gap between windows and edge of gameport
    };
  </script>

  <script src="{{ asset_url_for('puzzles/the_lurking_horror_ii_the_lurkening/lurkening.js') }}" type="text/javascript"></script>
  <style>
    .puzzle {
      position: relative;
    }

    .puzzle-content .container {
      position: absolute;
      width: 920px;
      top: 80px;
      bottom: 92px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .puzzle-content #gameport {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  Not sure what to do? Try typing "help".
{% endblock %}

{% block puzzle_content_block %}
  <p></p>

  <div class="container">
    <div id="gameport">
      <div id="windowport">
        <noscript><hr>
          <p>You’ll need to turn on Javascript in your web browser to play this game.</p>
          <hr></noscript>
      </div>
      <div id="loadingpane">
        <em>&nbsp;&nbsp;&nbsp;Loading...</em>
      </div>
      <div id="errorpane" style="display:none;"><div id="errorcontent">...</div></div>
    </div>
  </div>
{% endblock %}
