{% extends "puzzles/puzzle_layout.html" %}
{% import "/pokemon_macros.html" as pokemon_macros with context %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
  {{ pokemon_macros.generate_meta_styles() }}
  <style>
    .puzzle-content .header {
      margin: 0.5em 0 1em 0;
      font-size: 1.25em;
      font-weight: bold;
    }

    .puzzle-content .row {
      border: 1px solid black;
      padding: 10px 0;
      width: 300px;
      margin: 20px auto 0;
      text-align: center;
      background: white;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  You decide to check out the local university; if there’s anyone on
  this island who’s wise, they’ve got to be here. Inside one room you
  find a desk covered in specimen containers and sheets of scribbled
  mathematical equations. Behind it, National Taxonomist Dexter is
  busy reindexing specimens according to complex mathematical
  formulas.
{% endblock %}

{% block puzzle_call_to_action_block %}
  How can you defeat The Taxonomist?
{% endblock %}

{% block puzzle_content_block %}
  <div class="header">Operations</div>

  <p>Note: All intermediate operations result in a valid number.</p>

  <div class="row">&rarr; &divide;6 &rarr; &times;5 &rarr; &minus;24 &rarr;</div>

  <div class="row">&rarr; &times;8 &rarr; &plus;17 &rarr;</div>

  <div class="row">&rarr; ^4 &rarr; &minus;7 &rarr;</div>

  <div class="row">&rarr; &divide;7 &rarr; &plus;1 &rarr;</div>

  <div class="row">&rarr; &minus;50 &rarr; log<sub>2</sub> &rarr; &times;8 &rarr;</div>

  <div class="row">&rarr; ^3 &rarr; &divide;7 &rarr; &times;6 &rarr;</div>

  <div class="row">&rarr; &plus;29 &rarr; &divide;3 &rarr; &plus;22 &rarr;</div>

  {{ pokemon_macros.generate_puzzle_feeders() }}
{% endblock %}
