{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_call_to_action_block %}
What can you build to secure your victory?
{% endblock %}

{% block puzzle_flavortext_block %}
This game is different from the usual, and requires far more victory points to win. To do so, you will need to build something bigger than a few roads.
{% endblock %}
