{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_errata_block %}
<p><b>Errata:</b> Due to maintenance work at MIT, a location that was previously accessible is no longer accessible. We are providing <a href="{{ asset_url_for('puzzles/the_brainstorm/addendum.pdf') }}">an addendum to The Mind Worker&rsquo;s Handbook for Idea Generation</a>.</p>
{% endblock %}

{% block puzzle_head_block %}
<style>
  @media screen {
    .puzzle-container.red.blue.green.yellow.purple {
      background-image:
        url( {{ asset_url_for('rounds/memories/images/puzzle-page/backgrounds/all.svg') }} );
    }
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<p>If you would like to print off additional copies of The Mind Worker&rsquo;s Handbook for Idea Generation, they can be downloaded <a href="{{ asset_url_for('puzzles/the_brainstorm/handbook.pdf') }}" target="_blank">here</a>.</p>
{% endblock %}
