{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content tr {
    height: 20px;
  }

  .puzzle-content td {
    width: 20px;
    border: 1px black solid;
    text-align: center;
  }

  .puzzle-content td.no-frame {
    border: none;
  }

  .puzzle-content td.spacer, td.arrow {
    border: none;
  }

  .puzzle-content .white {
    background-color: white;
  }

  .puzzle-content .black {
    background-color: black;
  }

  .puzzle-content .green {
     background-color: #ccffcc;
  }

  @media print {
    .puzzle-content .black {
      box-shadow: inset 0 0 0 1000px black;
    }

    .puzzle-content .green {
      box-shadow: inset 0 0 0 1000px #ccffcc;
    }
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
Follow the rules of the Wolf or be automated.
{% endblock %}

{% block puzzle_content_block %}
<table>
  <tbody>
    <tr>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
    </tr>
  </tbody>
</table>
{% endblock %}
