{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<link rel="stylesheet" type="text/css" href="{{ asset_url_for('styles/crossword.css') }}">
<style>
  .puzzle-content .flexbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .puzzle-content img {
    object-fit: scale-down;
  }

  .puzzle-content .list {
    margin-bottom: 20px;
  }

  .puzzle-content .list div:first-child {
    margin-bottom: 20px;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<div class="flexbox">
  <table class="crossword">
    <tr>
      <td class="filled"></td>
      <td class="numbered">&nbsp;</td>
      <td class="filled"></td>
      <td class="numbered">&nbsp;</td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="numbered">&nbsp;</td>
      <td class="filled"></td>
      <td class="numbered">&nbsp;</td>
      <td class="filled"></td>
      <td class="numbered">&nbsp;</td>
      <td class="filled"></td>
    </tr>
    <tr>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td class="numbered">&nbsp;</td>
      <td class="filled"></td>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
    </tr>
    <tr>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
    </tr>
    <tr>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
    </tr>
    <tr>
      <td class="filled"></td>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="numbered">&nbsp;</td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="numbered">&nbsp;</td>
      <td class="filled"></td>
    </tr>
    <tr>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
    </tr>
    <tr>
      <td class="numbered">&nbsp;</td>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="numbered">&nbsp;</td>
      <td class="filled"></td>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
    </tr>
    <tr>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
    </tr>
    <tr>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td class="numbered">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
      <td>&nbsp;</td>
      <td class="filled"></td>
    </tr>
  </table>

  <img {{ img_src_for('puzzles/this_years_hardest_crossword/image.png') }} >
</div>

<div class="list">
  <div><b>Across</b></div>
  <div><b>6.</b> World of ________, popular MMORPG (8)</div>
  <div><b>9.</b> Resting place of Noah&rsquo;s Ark, Mount ______ (6)</div>
  <div><b>10.</b> Opposite of evens (4)</div>
  <div><b>11.</b> Capital of California (10)</div>
  <div><b>12.</b> One who doesn&rsquo;t wear clothes (6)</div>
  <div><b>14.</b> University in Silicon Valley (8)</div>
  <div><b>16.</b> ___ __ Good Feelings, US historical period 1816-1825 (3,2)</div>
  <div><b>18.</b> Dead Men Don&rsquo;t Wear _____, 1982 Steve Martin film (5)</div>
  <div><b>20.</b> Signs a treaty to make it formally valid (8)</div>
  <div><b>23.</b> Body of water connected to the Mediterranean Sea via the Suez Canal (3,3)</div>
  <div><b>24.</b> Adjective describing a species seriously at risk of extinction (10)</div>
  <div><b>26.</b> ____ Gaga, singer of &ldquo;Poker Face&rdquo; and &ldquo;Paparazzi&rdquo; (4)</div>
  <div><b>27.</b> ______ Khrushchev, former Soviet leader (6)</div>
  <div><b>28.</b> General ________, droid villain in “Revenge of the Sith” (8)</div>
</div>

<div class="list">
  <div><b>Down</b></div>
  <div><b>1.</b> Arid hill (4,4)</div>
  <div><b>2.</b> Phil ____, protest singer (4)</div>
  <div><b>3.</b> Lighting item consisting of wax inside a glass vessel (4,4)</div>
  <div><b>4.</b> Receptacle for flowers (4)</div>
  <div><b>5.</b> ______ Sunday, two days after Good Friday (6)</div>
  <div><b>7.</b> Useful or valuable thing/person (5)</div>
  <div><b>8.</b> Mexican filled tortillas (5)</div>
  <div><b>13.</b> A person from Baghdad (5)</div>
  <div><b>15.</b> Criminal deception for financial gain (5)</div>
  <div><b>17.</b> French food prepared from fattened goose liver (4,4)</div>
  <div><b>19.</b> Penny ________, 2006 horror film (8)</div>
  <div><b>21.</b> Affectionate term for one married to uncle (6)</div>
  <div><b>22.</b> Shoulder motion that expresses indifference (5)</div>
  <div><b>23.</b> They are near ulnae (5)</div>
  <div><b>25.</b> Landed, poetically (4)</div>
  <div><b>26.</b> ____ Strauss, blue jeans manufacturer (4)</div>
</div>
{% endblock %}
