{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_content_block %}
<p>
  For this puzzle, teams sent a brave person (the &ldquo;away team&rdquo;) to a
  location with a green screen. The rest of the team (the &ldquo;home team&rdquo;)
  got a link to a live YouTube stream where the solver standing in front of the
  green screen had been composited into a ninja dojo to challenge the Ninja Master.
</p>
<p>
  Comments from the people watching the stream were delivered to the away team
  via speech synthesis. Giving the away team instructions like this is the only
  way for the away team to know what the heck they're supposed to do.
</p>
<p>
  While we're unable to provide the full Under Control experience for you,
  we can provide you this video of one team playing the game so you can see what
  happened&mdash;and perhaps solve the puzzle. The away team was given
  <a href="{{asset_url_for('puzzles/under_control/scroll.pdf')}}">this document</a>
  once they completed the game.
</p>

<iframe width="854" height="480" src="https://www.youtube.com/embed/7ultj93FHmE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p style="font-style: italic">
  Nothing on this page is a puzzle except for the video and the linked PDF.
  Special thanks to Zoz for allowing the archives to use this footage of him
  playing Under Control.
</p>
{% endblock %}
