{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content table {
    border-collapse: collapse;
  }

  .puzzle-content tr {
    page-break-inside: avoid;
  }

  .puzzle-content table td {
    padding: 1em;
    border: 1px black solid;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
Sadly, if he wants to make hundreds of dollars, he will have to take a second shift.
{% endblock %}

{% block puzzle_content_block %}
<table>
  <tr>
    <td>Wkh khdg wklhi lv vlplodu wr d frusxohqw slj zkr qhyhu
      surgxfhv dghtxdwh edvvzrrgv, ghfhdvhg olnh.</td>
    <td>4 5, 2 4 1 3 3, 3 5 4 4 6 4 2 1 3.</td>
  </tr>
  <tr>
    <td>Lzw aehgnwjakzwv ksxw hdsuw, (lzw gfw xgj kesdd ewfvausflk),
      yanwk lgg emuz owsdlz lg lzw owsdlzq.</td>
    <td>3 4 5 6, 7 3, 3 4 3 4, 6 3 3.</td>
  </tr>
  <tr>
    <td>Rdudqzk ezlhkx gnld eqhfgsdm, dwgztrsdc hm sgd
      zbpthrhshnm. Sqhfnmnldsqhb etmbshnm kzchdr enq.</td>
    <td>4 6 5 5 2 3 7, 4 5 3 3 7 8 & 8.</td>
  </tr>
  <tr>
    <td>Znk utk cnu sarzovroky znk tashkx ul rgtmagmky he zcu muky ut
      gt grzkxtgzobk ykgxin ktmotk zu.</td>
    <td>6 7 5 7.</td>
  </tr>
  <tr>
    <td>Kwkjsxq zyzevkbsdi sx vezsxo mkxxslkvscw.</td>
    <td>5 4 2 4 6 3 6.</td>
  </tr>
  <tr>
    <td>Nzyetyfzfdwj xztdepytyr jzfc atpszwp, leepxae ez ple.</td>
    <td>4 4 5 3, 4 3.</td>
  </tr>
  <tr>
    <td>Mp wtvp rczty cprtzy zc rszde hzcwo rzzqj, mwlnv-lyo-hstep
      slco-mztwpo opepnetgp nwpgpc, mfe.</td>
    <td>2 6 5, 4 7, 3 4.</td>
  </tr>
  <tr>
    <td>Iv mlckibml xmzawv epwam pmil kwctl jm wxmvml eqbp i smg qa i
      ozmibmz qlqwb bpiv iv cvmlckibml.</td>
    <td>1 7 8 2 1 7 9 4 2 8 4.</td>
  </tr>
  <tr>
    <td>I pijqbcit lzcvsizl&apos;a nwcz qvkpma ycqmb: pidqvo bw lw eqbp
      bpqa izmi qlqwb&apos;a owwl ycitqbqma.</td>
    <td>3 4 7: 5 4&apos;1 7.</td>
  </tr>
  <tr>
    <td>R kizf drbvj r trjlrc rtbefncvuxvdvek r dpjkvip, zw r grzi fw
      kyvd riv gljyzex lg urzjzvj.</td>
    <td>5 4 &quot;3&quot; 1 6, 2 3 2 4 3 4.</td>
  </tr>
  <tr>
    <td>Obmrafxqb vlro mboplkella, clo Pxkqx&apos;p ebimbo&apos;p ofzb tfkbp.</td>
    <td>4 4 3 3&apos;1 5.</td>
  </tr>
  <tr>
    <td>Lzw ymq ozg danwk gf oakzxmd lzafcafy uzsfywk zak wslafy
      zstalk, ughafy.</td>
    <td>2 4 5 4 4, 5, 6.</td>
  </tr>
  <tr>
    <td>Hwwlhs av kpcpul zvbyjlz, h myplk avybz zla mpyl av tf abil av
      jvvr fvby oluz&apos; wyvkbjaz.</td>
    <td>4 5 4 2 4 2 5 4 4.</td>
  </tr>
  <tr>
    <td>Vgdm knfhb rsqdsbgdr sn fds rnldsghmf, he xnt cnm&apos;s
      khrsdm, rgd vhkk ots xntq Anrbr hm z bqzsd.</td>
    <td>4 6 7, 2 3 3&apos;1 4 3 3&apos;2 3 4 5.</td>
  </tr>
  <tr>
    <td>B ljoe pg cffs, b uspqiz&apos;t cfuufs uibo b efdjtjpo nbef cz
      efdsff.</td>
    <td>3, 2 5, &apos;1 6 4 1 4 8.</td>
  </tr>
  <tr>
    <td>Pkpvaz ylxbpyl h zpu tvyl, iba vusf dpzl nbfz ypzr aol ilaaly
      mvy pa.</td>
    <td>5 4 1 4 4, 3 4 3 4 4 3 6 3 2.</td>
  </tr>
</table>
{% endblock %}
