{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
This puzzle is straightforward enough that you shouldn&rsquo;t need any ham-handed flavortext.
{% endblock %}

{% block puzzle_errata_block %}
<p><b>Errata:</b> At 3:53 AM EST 01/14/2018, the labeling of Ace’s name, sin, and starting sin rating was corrected to be displayed in monospace font, matching the remaining players. This was a formatting error that is not relevant to the puzzle.</p>

<p><b>Errata:</b> At 5:40 AM EST 01/14/2018, a misspelling of the word "highest" in the third TRIGGER was corrected.</p>
{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content .header {
  font-size: 1.5em;
  }

  .puzzle-content .character {
   width: 600px;
   border: 1px solid black;
   padding: 8px;
   margin: 5px auto 15px auto;
  }

  .puzzle-content .row {
   height: 30px;
   width: 100%;
   display: flex;
  }

  .puzzle-content .name {
   width: 35%;
  }

  .puzzle-content .sin {
   width: 30%;
  }

  .puzzle-content .rating {
   width: 35%;
  }

  .puzzle-content .subbox {
   border: 1px solid black;
   padding: 15px;
   margin: 3px 8px;
  }

  .puzzle-content .rule {
   margin: 5px 5px;
  }

  .puzzle-content .monospace {
   font-family: monospace;
   font-size: 1.3em;
  }

  .puzzle-content .rules > div {
    margin-top: 10px;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<p>It seems that Snowball and his friends have wound up in Hell&rsquo;s waiting room. With nothing else to do, they turn to their favorite pastime: a game of letters. The players know the rules by heart&mdash;make sure you read them all carefully!</p>

<div class="header">
  <b>Basic Rules and Setup</b>
</div>

<p>The game is played on a square, tempered-glass table with a 5x5 grid on it, oriented with its edges facing north, south, east, and west. Each player in the game sits on one side of the table, facing the grid. Each player is equipped with a dry-erase marker and a felt eraser. The grid starts with nothing written on it.</p>

<p>The game is divided into turns. On each turn of the game, a single trigger will apply to a single player. That player will perform the action corresponding to that trigger. Triggers may not be applied more than once in a game; if a trigger condition is met after the corresponding action has already been taken, ignore that trigger.</p>

<p>Game rules may refer to a player seeing some sort of object in the grid. This means that the player can read a word matching that description within the grid. Words are four or five letters long, and may only appear from top to bottom or from left to right. Diagonal and backwards strings of letters are not considered to be words.</p>

<p>Game rules may refer to specific cells in the grid using an ordered pair (row, column). For example, from the South player&rsquo;s perspective, (1, 5) is the rightmost cell in the row farthest away from them. That
same cell would be considered (1, 1) to the West player, (5, 1) to the North player, and (5, 5) to the East player. &ldquo;Above&rdquo; and &ldquo;below&rdquo; refer to cells further away and nearer to the player, respectively.</p>

<p>At the end of any turn, if a player is not asleep and is not in a seat, they will find a seat at the table. If there is only one vacant seat, they will sit there. If more than one seat is vacant:</p>

<ul>
  <li>Order the players who are standing by the length of their names, shortest names first.</li>
  <li>In that order, each player will walk around the table clockwise starting from the south. When they encounter an empty seat, they will sit in that seat.</li>
</ul>

<p>Also, this probably won&rsquo;t come up, but in order to flip a table, one should firmly grasp the nearest side and lift upwards. If performed correctly, the table will perform a 180-degree rotation about the far edge.</p>

<div class="header">
  <b>Sins</b>
</div>

<p>The players are in Purgatory for a reason. Each one is sinful in their own way, and the stress of the game will cause them to become more so. At certain points, a player&rsquo;s sins may cause them to undergo a Breakdown. This will cause them to perform some actions immediately. (This may occur in the middle of another player&rsquo;s turn. In that case, the consequences of the Breakdown need to happen before the player&rsquo;s turn can resume.)</p>

<p>Also note that Purgatory is catching up with modern times, and so each player&rsquo;s sin rating (a non-negative integer) is displayed on a set of flatscreen TVs visible to all players.</p>

<div class="header">
  <b>The Players</b>
</div>

<p>There are four players in the round. Snowball is seated at the south, Ace at the west, Orson at the north, and Cicero at the east. The character-specific rules are below.</p>

<div class="character">
  <div class="row">
   <div class="name">
    NAME:
    <span class="monospace">ACE</span>
   </div>
   <div class="sin">
    SIN:
    <span class="monospace">ENVY</span>
   </div>
   <div class="rating">
    STARTING SIN RATING:
    <span class="monospace">3</span>
   </div>
  </div>
  <div class="subbox">
   <div class="rule">
    Whenever another player completes a turn, Ace&rsquo;s envy increases by 1.
   </div>
   <div class="rule">
    <b>Breakdown</b>: Whenever Ace&rsquo;s envy becomes a nonzero multiple of 4, he changes his name. His new name will be the name of the player who just completed their turn, followed by &ldquo;Deluxe&rdquo;. After two full turns have passed, he decides that the name change was a silly idea and goes back to his previous name.
   </div>
  </div>
</div>

<div class="character">
  <div class="row">
   <div class="name">
    NAME:
    <span class="monospace">CICERO</span>
   </div>
   <div class="sin">
    SIN:
    <span class="monospace">WRATH</span>
   </div>
   <div class="rating">
    STARTING SIN RATING:
    <span class="monospace">4</span>
   </div>
  </div>
  <div class="subbox">
   <div class="rule">
    Whenever Cicero is mocked, laughed at, made to leave his seat, touched by another player in any way, or whenever any of his possessions are stolen, his wrath increases by 1. (If Cicero touches another player of his own free will, his wrath will not increase. If the game rules cause him to leave his seat, his wrath will not increase.)
   </div>
   <div class="rule">
    <b>Breakdown</b>: When Cicero reaches a wrath of 7, he angrily sweeps his eraser across the board, erasing the entirety of row 5. Then, he throws the player to his right out of their seat.
   </div>
   <div class="rule">
    <b>Breakdown</b>: When Cicero reaches a wrath of 10, he will become so angry with the game that he flips the table, stares at the mess, and storms off. This will immediately end the game.
   </div>
  </div>
</div>

<div class="character">
  <div class="row">
   <div class="name">
    NAME:
    <span class="monospace">ORSON</span>
   </div>
   <div class="sin">
    SIN:
    <span class="monospace">SLOTH</span>
   </div>
   <div class="rating">
    STARTING SIN RATING:
    <span class="monospace">0</span>
   </div>
  </div>
  <div class="subbox">
   <div class="rule">
    At the end of any turn when Orson did not stand up or move to another player&rsquo;s seat, his sloth increases by 1.
   </div>
   <div class="rule">
    <b>Breakdown</b>: Whenever Orson&rsquo;s sloth becomes a nonzero multiple of 5, he will fall out of his chair and roll underneath the table to sleep. He will sleep for two full turns, and will then roll out from under the table and stand up. While asleep, Orson is not considered a player for the purposes of rule triggers and does not become more slothful. If Orson sleeps through a trigger, that trigger is not considered to be used.
   </div>
  </div>
</div>

<div class="character">
  <div class="row">
   <div class="name">
    NAME:
    <span class="monospace">SNOWBALL</span>
   </div>
   <div class="sin">
    SIN:
    <span class="monospace">PRIDE</span>
   </div>
   <div class="rating">
    STARTING SIN RATING:
    <span class="monospace">1</span>
   </div>
  </div>
  <div class="subbox">
   <div class="rule">
    At the end of any turn when Snowball wrote one or more letters on the board, his pride increases by 1.
   </div>
   <div class="rule">
    <b>Breakdown</b>: Whenever Snowball&rsquo;s pride becomes a nonzero multiple of 4, then the next time a trigger applies to another player, Snowball will take over the turn. He will be the active player and will perform the corresponding action instead of the original player.
   </div>
  </div>
</div>

<div class="header">
  <b>Game Rules</b>
</div>

<div class="rules">
  <div>
    <div>TRIGGER: All players have taken at least one turn, and no player has a higher sin rating than you.</div>
    <div>ACTION: You should see the name of a diagram in the grid. Replace the last letter of that diagram with an E. Erase the cell to the right of the last letter in that diagram. Change your name by adding a letter to the beginning so that it becomes a weapon, then write that added letter in the empty cell. Then, kick the players to your left and right out of their seats. (Like, literally kick. With violence.)</div>
  </div>
  <div>
    <div>TRIGGER: The entire grid is filled with a single letter which represents the compass direction of the player on your left.</div>
    <div>ACTION: Erase cell (5,2). Write the last letter of your name there. That letter looks the same to everyone&mdash;that&rsquo;ll stymie the other players&rsquo; plans!</div>
  </div>
  <div>
    <div>TRIGGER: The sum of all players&rsquo; sin ratings is 28 and you have the highest rating among players.</div>
    <div>ACTION: The player to your left? Push them right out of their seat. You should sit there. Then, kick the toes of the player across from you. Finally, replace cells (1,1) and (2,4) with L and B, respectively.</div>
  </div>
  <div>
    <div>TRIGGER: The sum of all players&rsquo; sin ratings is 43 and your sin rating is a factor of 40.</div>
    <div>ACTION: In one row, you&rsquo;ll see three of the same letter. Replace the leftmost one with a J, the middle one with the first letter of your name, and the rightmost one with the third letter of your name. Then, summoning all your rage, kick the player across from you out of their seat and sit there.</div>
  </div>
  <div>
    <div>TRIGGER: There are exactly two types of letters on the board, and the leftmost column has two types of letters.</div>
    <div>ACTION: Replace cell (4,2) with the first letter of the name of the player on your right. Oust the player on your left from their seat and sit there. Then mock the player on your left. What&rsquo;s with his name, anyway, is it Latin or something?</div>
  </div>
  <div>
    <div>TRIGGER: You have not yet taken a turn, but everyone else has.</div>
    <div>ACTION: Erase cells (3,1), (4,4), (5,2), and (5,4), and write the second letter of the name of the player on your left in those cells. Then, wrap the player on your right in a blanket. While they&rsquo;re flailing, push them out of their seat and sit there.</div>
  </div>
  <div>
    <div>TRIGGER: You see a cone-shaped tent in the grid, and your sin starts with a consonant.</div>
    <div>ACTION: Replace the first two letters of the tent with H and A, respectively. Replace the letter in (3,5) with an O. Stick your tongue out at the player across from you.</div>
  </div>
  <div>
    <div>TRIGGER: You see a joint in the grid.</div>
    <div>ACTION: Replace (1,1) with the first letter of your name. Replace (3,1) with the third-to-last letter of your name. Throw a paper ball at the player on your right.</div>
  </div>
  <div>
    <div>TRIGGER: You see a legless animal in the grid.</div>
    <div>ACTION: Replace the first letter of the animal with the fourth-to-last letter of your name. Then you notice the seat to your right. The player sitting there doesn&rsquo;t deserve it. Shoulder-check them so that they fall onto the ground, and sit in the newly-vacated seat. Then, replace (3,1) with the letter corresponding to the number of turns that the player across from you has taken, using 1 = A, 2 = B, etc.</div>
  </div>
  <div>
    <div>TRIGGER: You see a mistake in the grid.</div>
    <div>ACTION: Replace (3,2) with I and (3,5) with E. Replace (2,4) and (1,5) with the fifth letter of your name. Tackle the player on your right right out of their seat and sit there. Now doesn&rsquo;t that make you feel better?</div>
  </div>
  <div>
    <div>TRIGGER: You see a type of army vehicle in the grid.</div>
    <div>ACTION: Replace the last three letters of the vehicle with the fourth letter of the name of the player on your left. Wrestle the player on your right to the ground. Take their seat before they recover.</div>
  </div>
  <div>
    <div>TRIGGER: You see a type of flatbread in the grid.</div>
    <div>ACTION: Erase every A in the row containing the flatbread, and replace them with Js. The letter in (4,1) represents a compass direction. Replace it with its opposite.</div>
  </div>
  <div>
    <div>TRIGGER: You see a word meaning &ldquo;to annoy&rdquo; in the grid.</div>
    <div>ACTION: Gosh, everyone else HAS been annoying you. Smack every other player at the table&hellip; except the player across from you. He&rsquo;s scary. But enough of that! Find the fourth letter of the word meaning &ldquo;to annoy&rdquo;. Exchange that cell&rsquo;s contents with the cell below it. Replace (3,5) with the second letter of your name, and replace (1,4) with the fourth-to-last letter of your name.</div>
  </div>
  <div>
    <div>TRIGGER: You see an F in (3,3).</div>
    <div>ACTION: Erase that F. Write the seventh letter of your name in that spot. Then, force every other player out of their seats.</div>
  </div>
  <div>
    <div>TRIGGER: You see flesh in the grid.</div>
    <div>ACTION: Laugh at the player across from you. Then erase the middle row and write as much of your name as will fit, from left to right.</div>
  </div>
  <div>
    <div>TRIGGER: You see four copies of the same sword in the grid.</div>
    <div>ACTION: Erase the first letter of the first sword, the second letter of the second sword, the third letter of the third sword, and the fourth letter of the fourth sword. Write the first four letters of your name in those four cells.</div>
  </div>
  <div>
    <div>TRIGGER: You see manure in the grid.</div>
    <div>ACTION: Exchange cells (2,3) and (2,4). Change your name by prepending three letters to form a facial expression. Write the last letter of your name in the topmost empty cell, and write the first letter of your name in the cell below that. Finally, replace (1,2) with a Y.</div>
  </div>
  <div>
    <div>TRIGGER: You see something to eat between meals in the grid.</div>
    <div>ACTION: Replace (2,1) with the letter T. Replace (1,5) with the letter corresponding to the sin rating of the player to your left, using 1 = A, 2 = B, etc.</div>
  </div>
  <div>
    <div>TRIGGER: You see something you don&rsquo;t want to reinvent in the grid.</div>
    <div>ACTION: You might not be able to fly, but you can move real fast! Run around the table to the other side, and shove that player out of their seat. Sit in the newly-vacated seat. Now, in the two empty cells, write the letters that are directly below them. Replace cells (3,2) and (3,3) with the third letter of the name of the player on your left. Change two letters in your name to form a word for money.</div>
  </div>
  <div>
    <div>TRIGGER: You see the letter I in (3,5).</div>
    <div>ACTION: Poke the player to your right. Replace (5,2) with an I (and make sure to dot your I. Good penmanship is important!). Move to the empty seat. Replace (2,1) with the letter just below it.</div>
  </div>
  <div>
    <div>TRIGGER: You see the name of a Dragon Ball Z protagonist in the grid.</div>
    <div>ACTION: Change one letter of your name to form the last name of a Bills quarterback (you know, a guy who throws the skin) who retired in the last few years. Replace the second letter of the protagonist&rsquo;s name with the letter D. Replace the letter above that with the middle letter of your name.</div>
  </div>
  <div>
    <div>TRIGGER: You see the name of a face card in the grid.</div>
    <div>ACTION: Replace the first letter of the face card with a K, the second letter with an E, and the last letter with an S. With a mighty squeal, punch the player across from you and knock them out of their seat. And for good measure, punch the player to your left as well and knock them out of their seat.</div>
  </div>
  <div>
    <div>TRIGGER: You see the name of a key in the grid.</div>
    <div>ACTION: Replace the first letter of that key with the letter that is two letters before it in the alphabet. Erase cell (1,2) and write the same letter you just wrote. Then replace the last letter of that key with an E. Change one letter of your name to form a type of precipitation.</div>
  </div>
  <div>
    <div>TRIGGER: Your sin rating is 1.</div>
    <div>ACTION: Fill the grid with the letter E. It&rsquo;s nice that the grid still looks exactly the same to all four players. You should be proud of your penmanship.</div>
  </div>
  <div>
    <div>TRIGGER: Your sin rating is 13.</div>
    <div>ACTION: Replace (2,3) with K and (5,3) with E. Move into the empty seat. Then tap the shoulder of the player on your left.</div>
  </div>
</div>
{% endblock %}
