{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content img {
    display: block;
    margin: auto;
  }

  .puzzle-content .list {
    text-align: center;
    margin: 20px 0px;
  }
</style>
{% endblock %}

{% block puzzle_call_to_action_block %}
What does the bio-electric cell fuel?
{% endblock %}

{% block puzzle_flavortext_block %}
Voltaik-brand bio-electric cells are portable energy storage devices for the augmented person on the go. Cross-platform compatibility ensures that all your devices and augmentations can be powered at top-tier performance.
{% endblock %}

{% block puzzle_content_block %}
<img {{ img_src_for('puzzles/voltaik_bio_electric_cell/1.png') }} >

<div class="list">
  <div>Grudge</div>
  <div>Puffed</div>
  <div>Dutch farmer</div>
  <div>Practice</div>
  <div>Dash length</div>
  <div>English flower</div>
  <div>Unfaithful</div>
  <div>Mound</div>
  <div>Sick</div>
  <div>Charged particles</div>
  <div>Wrath</div>
  <div>Records</div>
  <div>Chow follower</div>
  <div>Things</div>
  <div>Compensated</div>
  <div>Bottle</div>
  <div>Begged</div>
  <div>Connect up again</div>
  <div>Denomination</div>
  <div>Health club</div>
  <div>Gossip</div>
  <div>Shorter dog breed</div>
</div>

<img {{ img_src_for('puzzles/voltaik_bio_electric_cell/2.png') }} >
{% endblock %}
