{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
  <link href="{{ asset_url_for('puzzles/voter_fraud/css/main.fb31c279.css') }}" rel="stylesheet">
  <script type="text/javascript" src="https://storage.googleapis.com/hunt2018-js/huntjs-client/huntjs-client.min.js"></script>
{% endblock %}

{% block puzzle_content_block %}
  <noscript>
    <p>(You&rsquo;ll need to have Javascript enabled to view this
      puzzle.)</p>
  </noscript>

  <h2>Score a Mock Election</h2>
  <div id="root">
  </div>

  <script type="text/javascript" src="{{ asset_url_for('puzzles/voter_fraud/js/voter-fraud.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset_url_for('puzzles/voter_fraud/js/main.09a51d58.js') }}"></script>
{% endblock %}
