{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_flavortext_block %}
Making friends is still in style<br/>
And you&rsquo;ve got quite a bunch<br/>
Rhyming lines that seem alike<br/>
It only takes a hunch!<br/>
{% endblock %}

{% block puzzle_content_block %}
<p>
  Went into the Outback for a thrill<br/>
  Spotted a creature with duck&rsquo;s bill<br/>
  Waddling her way through the lake<br/>
  Wanting to hide to avoid a snake!<br/>
</p>

<hr/>

<p>
  You hear us as nighttime falls<br/>
  You think we&rsquo;re crickets with their chirpy calls<br/>
  Some years we all make noise obscene<br/>
  Then we die, it&rsquo;s our routine!<br/>
</p>

<hr/>

<p>
  Moving through a sky that&rsquo;s sunny and bright<br/>
  Scouting where I&rsquo;ll go for a bite<br/>
  Where dead meat lays upon the ground<br/>
  That&rsquo;s the place where I will be found!<br/>
</p>

<hr/>

<p>
  Sometimes you see me swimming in a school<br/>
  Thinking I&rsquo;m quite a tool<br/>
  If you look and see my fin glide<br/>
  You&rsquo;ll want to disappear inside!<br/>
</p>

<hr/>

<p>
  I&rsquo;m easily spotted though I don&rsquo;t make sound<br/>
  Because I flicker to help guide you around<br/>
  I&rsquo;m always flashing so you can see<br/>
  To chase around and try to catch me!<br/>
</p>

<hr/>

<p>
  With three horns I looked so odd<br/>
 The frill completed an awesome bod<br/>
  To keep my health I didn&rsquo;t eat meat<br/>
  My species still went down in defeat!<br/>
</p>

<hr/>

<p>
  Known for tracking with my nose<br/>
  Not too tall from head to toes<br/>
  With sagging skin and drooping ears<br/>
  I get excited as the rabbit nears!<br/>
</p>
{% endblock %}
