{% extends "puzzles/puzzle_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<link rel="stylesheet" type="text/css" href="{{ asset_url_for('styles/blanks.css') }}">
<style>
  .puzzle-content table td {
    padding: 0 1em 1em 1em;
  }

  .puzzle-content .blanks {
    white-space: nowrap;
    font-size: 0.75em;
  }
</style>
{% endblock %}

{% block puzzle_content_block %}
<table>
  <tr>
    <td>Butt repair for the singer of 1000 Forms of Fear</td>
    <td>{% call puzzle_macros.blanks() %}__O_____{% endcall %}</td>
  </tr>
  <tr>
    <td>A cylinder for Poirot, oh daughter of my parent</td>
    <td>{% call puzzle_macros.blanks() %}_______O____{% endcall %}</td>
  </tr>
  <tr>
    <td>Woman on Goats Head Soup must pay Murphy, Mom</td>
    <td>{% call puzzle_macros.blanks() %}_____O____{% endcall %}</td>
  </tr>
  <tr>
    <td>The Kid&rsquo;s home for birds on a cliff to contact on the phone - yuck!</td>
    <td>{% call puzzle_macros.blanks() %}____O__ _____{% endcall %}</td>
  </tr>
  <tr>
    <td>Probe clock sound? You will tempt a ripped front of a leg</td>
    <td>{% call puzzle_macros.blanks() %}__O_______ _______{% endcall %}</td>
  </tr>
  <tr>
    <td>A bunch of press about a solemn promise for an ancient city (Farrow)</td>
    <td>{% call puzzle_macros.blanks() %}______O____{% endcall %}</td>
  </tr>
  <tr>
    <td>Palin&rsquo;s note in a place for iniquity, running or racing</td>
    <td>{% call puzzle_macros.blanks() %}O________ ________{% endcall %}</td>
  </tr>
  <tr>
    <td>Overturn a place for a building, Sierra</td>
    <td>{% call puzzle_macros.blanks() %}_________O__{% endcall %}</td>
  </tr>
  <tr>
    <td>Going the direction opposite kata, saturate the directional line</td>
    <td>{% call puzzle_macros.blanks() %}O__________{% endcall %}</td>
  </tr>
  <tr>
    <td>A dorsal cup of chai for non-fake guys: The Little Ninja (the Aphex Twin alias)</td>
    <td>{% call puzzle_macros.blanks() %}___O_____ __________{% endcall %}</td>
  </tr>
  <tr>
    <td>Regarding zero, it does not count as success</td>
    <td>{% call puzzle_macros.blanks() %}_O___ _______{% endcall %}</td>
  </tr>
  <tr>
    <td>An old, male red deer, a stud </td>
    <td>{% call puzzle_macros.blanks() %}____O ______{% endcall %}</td>
  </tr>
  <tr>
    <td>Butler in the old South, dissolve a separate squadron</td>
    <td>{% call puzzle_macros.blanks() %}_______ _____O____{% endcall %}</td>
  </tr>
  <tr>
    <td>From the Spanish, creepy, err&hellip;</td>
    <td>{% call puzzle_macros.blanks() %}_O______{% endcall %}</td>
  </tr>
  <tr>
    <td>An Azadirachta indica for Rosemary&rsquo;s portrayer</td>
    <td>{% call puzzle_macros.blanks() %}_O____{% endcall %}</td>
  </tr>
  <tr>
    <td>Dwell location</td>
    <td>{% call puzzle_macros.blanks() %}_O_____{% endcall %}</td>
  </tr>
  <tr>
    <td>A pirate&rsquo;s bird, a chevalier: you and me together</td>
    <td>{% call puzzle_macros.blanks() %}____O______{% endcall %}</td>
  </tr>
  <tr>
    <td>Wildebeest groan about Long from Fresh Prince</td>
    <td>{% call puzzle_macros.blanks() %}___O_____{% endcall %}</td>
  </tr>
  <tr>
    <td>The tendency to ask invasive questions about the skyward direction</td>
    <td>{% call puzzle_macros.blanks() %}_O______{% endcall %}</td>
  </tr>
  <tr>
    <td>Jeff Smith comic injects liquid in the ground to get oil and deodorant brand</td>
    <td>{% call puzzle_macros.blanks() %}___O ________{% endcall %}</td>
  </tr>
  <tr>
    <td>Colorant to encourage criminal activity in a city south of Seattle</td>
    <td>{% call puzzle_macros.blanks() %}________ _O__{% endcall %}</td>
  </tr>
  <tr>
    <td>The top part of a grain plant in Father Ted&rsquo;s curse? Eschew!</td>
    <td>{% call puzzle_macros.blanks() %}___ __O______{% endcall %}</td>
  </tr>
  <tr>
    <td>The Quercus that belongs to me makes an automobile end a Hardy girl</td>
    <td>{% call puzzle_macros.blanks() %}________O__{% endcall %}</td>
  </tr>
  <tr>
    <td>Vampire hunter and Jekyll&rsquo;s worse half meet a beam to climb up quickly by gripping with arms and legs</td>
    <td>{% call puzzle_macros.blanks() %}__O________{% endcall %}</td>
  </tr>
  <tr>
    <td>A musician like the Ramones agrees casually to a 1991 compilation album by Autopsia</td>
    <td>{% call puzzle_macros.blanks() %}_______O _____{% endcall %}</td>
  </tr>
</table>
{% endblock %}
