{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
  <style>
    .images {
      text-align: center;
    }

    .images img {
      width: 45%;
      margin: 15px;
    }
  </style>
{% endblock %}

{% block puzzle_content_block %}
  <div class="images">
    <img src="{{ asset_url_for('puzzles/what_the/01.png') }}" />
    <img src="{{ asset_url_for('puzzles/what_the/02.png') }}" />
    <img src="{{ asset_url_for('puzzles/what_the/03.png') }}" />
    <img src="{{ asset_url_for('puzzles/what_the/04.png') }}" />
    <img src="{{ asset_url_for('puzzles/what_the/05.png') }}" />
    <img src="{{ asset_url_for('puzzles/what_the/06.png') }}" />
    <img src="{{ asset_url_for('puzzles/what_the/07.png') }}" />
    <img src="{{ asset_url_for('puzzles/what_the/08.png') }}" />
    <img src="{{ asset_url_for('puzzles/what_the/09.png') }}" />
    <img src="{{ asset_url_for('puzzles/what_the/10.png') }}" />
    <img src="{{ asset_url_for('puzzles/what_the/11.png') }}" />
    <img src="{{ asset_url_for('puzzles/what_the/12.png') }}" />
  </div>

  <p>
    (_ 6 6)<br>
    (4 3 _ 7)<br>
    (6 3 3 _)<br>
    (6 _ 4)<br>
    (_ 1 6 8 5)<br>
    (13 _ 2 10)<br>
    (3 2 _ 8)<br>
    (8 7 4 _)<br>
    (12 6 _)<br>
    (5 _ 6 12)<br>
    (2 _ 3)<br>
    (4 5 10 _)
  </p>

  <p>
    (4 4 _ 4)
  </p>
{% endblock %}
