{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-content table {
    margin: 0 auto 3em;
    page-break-after: always;
  }
  .puzzle-content td {
    width: 1.2em;
    font-size: 1.875em;
    text-align: center;
  }
  .puzzle-content .center {
    display: flex;
    justify-content: center;
  }
  .puzzle-content li {
    line-height: 1.5;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
{% endblock %}

{% block puzzle_content_block %}
<table>
  <tr>
    <td>Y</td>
    <td>Z</td>
    <td>L</td>
    <td>F</td>
    <td>S</td>
    <td>X</td>
    <td>U</td>
    <td>R</td>
    <td>V</td>
    <td>R</td>
    <td>R</td>
    <td>M</td>
    <td>R</td>
  </tr>
  <tr>
    <td>G</td>
    <td>R</td>
    <td>C</td>
    <td>R</td>
    <td>S</td>
    <td>S</td>
    <td>R</td>
    <td>Y</td>
    <td>U</td>
    <td>T</td>
    <td>F</td>
    <td>R</td>
    <td>O</td>
  </tr>
  <tr>
    <td>T</td>
    <td>G</td>
    <td>X</td>
    <td>R</td>
    <td>Y</td>
    <td>S</td>
    <td>K</td>
    <td>S</td>
    <td>E</td>
    <td>M</td>
    <td>K</td>
    <td>O</td>
    <td>M</td>
  </tr>
  <tr>
    <td>X</td>
    <td>C</td>
    <td>A</td>
    <td>Y</td>
    <td>I</td>
    <td>P</td>
    <td>E</td>
    <td>L</td>
    <td>D</td>
    <td>T</td>
    <td>R</td>
    <td>O</td>
    <td>F</td>
  </tr>
  <tr>
    <td>R</td>
    <td>F</td>
    <td>O</td>
    <td>T</td>
    <td>B</td>
    <td>R</td>
    <td>G</td>
    <td>V</td>
    <td>X</td>
    <td>C</td>
    <td>N</td>
    <td>T</td>
    <td>U</td>
  </tr>
  <tr>
    <td>A</td>
    <td>L</td>
    <td>O</td>
    <td>T</td>
    <td>G</td>
    <td>Q</td>
    <td>Y</td>
    <td>Z</td>
    <td>T</td>
    <td>E</td>
    <td>Y</td>
    <td>L</td>
    <td>Y</td>
  </tr>
  <tr>
    <td>X</td>
    <td>E</td>
    <td>R</td>
    <td>C</td>
    <td>G</td>
    <td>H</td>
    <td>Y</td>
    <td>U</td>
    <td>Y</td>
    <td>U</td>
    <td>S</td>
    <td>T</td>
    <td>G</td>
  </tr>
  <tr>
    <td>Y</td>
    <td>E</td>
    <td>S</td>
    <td>U</td>
    <td>R</td>
    <td>U</td>
    <td>R</td>
    <td>M</td>
    <td>Y</td>
    <td>K</td>
    <td>X</td>
    <td>O</td>
    <td>E</td>
  </tr>
  <tr>
    <td>M</td>
    <td>U</td>
    <td>X</td>
    <td>S</td>
    <td>R</td>
    <td>C</td>
    <td>X</td>
    <td>C</td>
    <td>A</td>
    <td>S</td>
    <td>A</td>
    <td>X</td>
    <td>M</td>
  </tr>
  <tr>
    <td>R</td>
    <td>N</td>
    <td>O</td>
    <td>S</td>
    <td>E</td>
    <td>L</td>
    <td>R</td>
    <td>S</td>
    <td>X</td>
    <td>E</td>
    <td>L</td>
    <td>G</td>
    <td>Y</td>
  </tr>
  <tr>
    <td>O</td>
    <td>R</td>
    <td>T</td>
    <td>U</td>
    <td>I</td>
    <td>S</td>
    <td>R</td>
    <td>X</td>
    <td>X</td>
    <td>Q</td>
    <td>D</td>
    <td>U</td>
    <td>Y</td>
  </tr>
  <tr>
    <td>V</td>
    <td>Y</td>
    <td>T</td>
    <td>U</td>
    <td>T</td>
    <td>C</td>
    <td>N</td>
    <td>S</td>
    <td>R</td>
    <td>X</td>
    <td>X</td>
    <td>T</td>
    <td>W</td>
  </tr>
  <tr>
    <td>C</td>
    <td>M</td>
    <td>C</td>
    <td>T</td>
    <td>C</td>
    <td>R</td>
    <td>F</td>
    <td>X</td>
    <td>R</td>
    <td>T</td>
    <td>J</td>
    <td>C</td>
    <td>Y</td>
  </tr>
</table>

<div class="center">
  <ul>
    <li>It ends your sleep (5)</li>
    <li>A feeling of unease (7)</li>
    <li>The end of the world, as brought about by horsemen (10)</li>
    <li>Fear of water (10)</li>
    <li>Insects in the stomach when scared (11)</li>
    <li>It conquered fear and crossed the road (7)</li>
    <li>This word describes Sunday in a Hungarian song (6)</li>
    <li>Shuddering fear (6)</li>
    <li>A deviation in signal pulses (6)</li>
    <li>Sad feeling of singles (10)</li>
    <li>A moaning ghost living in a bathroom (6)</li>
    <li>Adjective describing a fallacy attributing human emotion to nature (8)</li>
    <li>His glass is half empty (9)</li>
    <li>Overachiever’s concern (6)</li>
    <li>Type of denial of service attack (8)</li>
    <li>Hamlet or Macbeth (7)</li>
    <li>Earthquake harbinger (6)</li>
    <li>Calming root (8)</li>
    <li>Word to describe a baby or siren (7)</li>
    <li>Shed tears (4)</li>
    <li>Producer of wrinkles (5)</li>
    <li>Scary undead (6)</li>
  </ul>
</div>

{% endblock %}
