{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_content_block %}
<p>To schedule an appointment for this very important lab test, please submit an instruction request to Cranium Command with the phrase “DID YOU CHECK SECOND.”</p>

{% if site_mode() == "solution" %}
<p>At Cranium Command, solvers were presented with a urine sample cup containing 5 lateral flow devices (i.e. pee sticks), numbered 1&ndash;5, inclusive.</p>

<p>Upon activating the lateral flow devices, the following numbered phrases were revealed:</p>

<ol>
  <li>Here in Boston, Hoover and Chacoda</li>
  <li>Party with linked computers</li>
  <li>Favor, fortune, or blind chance</li>
  <li>They sometimes are atoned for</li>
  <li>Noises from winged grey rats</li>
</ol>
{% endif %}
{% endblock %}
