{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block puzzle_head_block %}
  <script type="text/javascript" src="https://storage.googleapis.com/hunt2018-js/huntjs-client/huntjs-client.min.js"></script>
  <script type="text/javascript" src="{{ asset_url_for('puzzles/your_rival/js/puzzle-rival.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset_url_for('puzzles/your_rival/js/puzzle.js') }}"></script>
  <style>
    .puzzle-content .battle {
      border: 1px solid black;
      margin-top: 30px;
      padding: 10px 0;
      background: white;
      font-family: Comic Sans MS;
      display: flex;
    }

    .puzzle-content .you, .puzzle-content .enemy {
      margin-left: 20px;
      width: 150px;
    }
    .puzzle-content .versus      {
      margin-left: 20px;
      width: 50px;
      line-height: 110px;
      text-align: center;
    }
    .puzzle-content .checker {
      margin-left: 30px;
      width: 280px;
    }
    .puzzle-content .status {
      font-size: 85%;
      color: #CC0000;
      font-weight: bold;
    }

    .puzzle-content .you img, .puzzle-content .enemy img {
      height: 150px;
    }
    .puzzle-content .you .name, .puzzle-content .enemy .name {
      text-align: center;
      font-weight: bold;
      font-family: Comic Sans MS;
      width: 100%;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  <p>“Nyahahaha!” your rival sneers. “Are you trying to find the Master Ball? You’ll have to get through me first!”</p>

  <p>It seems you need to use the proper battle tactics in order to defeat your foe.</p>
{% endblock %}

{% block puzzle_call_to_action_block %}
  Where can you find the core memory?
{% endblock %}

{% block puzzle_content_block %}
  <div class="battle">
    <div class="you">
      <img {{ img_src_for('rounds/pokemon/images/icons/persian.png') }}><br>
      <div class="name">???</div>
    </div>
    <div class="versus">VS.</div>
    <div class="enemy">
      <img {{ img_src_for('puzzles/your_rival/images/snorlax.png') }}><br>
      <div class="name">STRONGHOLD</div>
    </div>
    <div class="checker">
      <div>Battle result:</div>
      <div class="answer_input" id="ai1">
        <input type="text" id="guess1">
        <input type="button" id="check1" value="Guess!">
        <div class="status" id="status1"></div>
      </div>
      <div class="answer_boxes" id="result1"></div>
    </div>
  </div>

  <div class="battle">
    <div class="you">
      <img {{ img_src_for('rounds/pokemon/images/icons/shelgon.png') }}><br>
      <div class="name">???</div>
    </div>
    <div class="versus">VS.</div>
    <div class="enemy">
      <img {{ img_src_for('puzzles/your_rival/images/goodra.png') }}><br>
      <div class="name">VINSON</div>
    </div>
    <div class="checker">
      <div>Battle result:</div>
      <div class="answer_input" id="ai2">
        <input type="text" id="guess2">
        <input type="button" id="check2" value="Guess!">
        <div class="status" id="status2"></div>
      </div>
      <div class="answer_boxes" id="result2"></div>
    </div>
  </div>

  <div class="battle">
    <div class="you">
      <img {{ img_src_for('rounds/pokemon/images/icons/lycanroc.png') }}><br>
      <div class="name">???</div>
    </div>
    <div class="versus">VS.</div>
    <div class="enemy">
      <img {{ img_src_for('puzzles/your_rival/images/sudowoodo.png') }}><br>
      <div class="name">LEGIONS</div>
    </div>
    <div class="checker">
      <div>Battle result:</div>
      <div class="answer_input" id="ai3">
        <input type="text" id="guess3">
        <input type="button" id="check3" value="Guess!">
        <div class="status" id="status3"></div>
      </div>
      <div class="answer_boxes" id="result3"></div>
    </div>
  </div>

  <div class="battle">
    <div class="you">
      <img {{ img_src_for('rounds/pokemon/images/icons/kingler.png') }}><br>
      <div class="name">???</div>
    </div>
    <div class="versus">VS.</div>
    <div class="enemy">
      <img {{ img_src_for('puzzles/your_rival/images/golduck.png') }}><br>
      <div class="name">MANTLE</div>
    </div>
    <div class="checker">
      <div>Battle result:</div>
      <div class="answer_input" id="ai4">
        <input type="text" id="guess4">
        <input type="button" id="check4" value="Guess!">
        <div class="status" id="status4"></div>
      </div>
      <div class="answer_boxes" id="result4"></div>
    </div>
  </div>

  <div class="battle">
    <div class="you">
      <img {{ img_src_for('rounds/pokemon/images/icons/rapidash.png') }}><br>
      <div class="name">???</div>
    </div>
    <div class="versus">VS.</div>
    <div class="enemy">
      <img {{ img_src_for('puzzles/your_rival/images/flareon.png') }}><br>
      <div class="name">RAISIN</div>
    </div>
    <div class="checker">
      <div>Battle result:</div>
      <div class="answer_input" id="ai5">
        <input type="text" id="guess5">
        <input type="button" id="check5" value="Guess!">
        <div class="status" id="status5"></div>
      </div>
      <div class="answer_boxes" id="result5"></div>
    </div>
  </div>

  <div class="battle">
    <div class="you">
      <img {{ img_src_for('rounds/pokemon/images/icons/dusclops.png') }}><br>
      <div class="name">???</div>
    </div>
    <div class="versus">VS.</div>
    <div class="enemy">
      <img {{ img_src_for('puzzles/your_rival/images/mismagius.png') }}><br>
      <div class="name">ONE</div>
    </div>
    <div class="checker">
      <div>Battle result:</div>
      <div class="answer_input" id="ai6">
        <input type="text" id="guess6">
        <input type="button" id="check6" value="Guess!">
        <div class="status" id="status6"></div>
      </div>
      <div class="answer_boxes" id="result6"></div>
    </div>
  </div>

  <script type="text/javascript">
    initChecker();
  </script>
{% endblock %}
