{% extends "base.html" %}
{% block page_body %}
<div class="ha-control-boxes-container">
  <form class="ha-column-control-box" action="{{ url_for('admintools') }}" method="post">
    <span class="ha-control-box-title">
      Start Hunt
    </span>
    <input
       type="button"
       value="Yes, I'm sure"
       onclick="document.getElementById('startHuntButton').removeAttribute('disabled')"
       {% if is_hunt_started %}disabled{% endif %}
    >
    <input type="hidden" name="action" value="HuntStart">
    <input id="startHuntButton" type="submit" value="Start Hunt" disabled>
  </form>
  <form class="ha-column-control-box" action="{{ url_for('admintools') }}" method="post">
    <span class="ha-control-box-title">
      Full Release
    </span>
    <div class="ha-labeled-input-form">
      <label>
        Puzzle
        <select name="puzzleId">
          {% for puzzle in puzzles %}
          <option value="{{ puzzle.puzzleId }}">
            {% if puzzle.puzzleProperties.DisplayNameProperty %}
            {{ puzzle.puzzleProperties.DisplayNameProperty.displayName }}
            {% else %}
            {{ puzzle.puzzleId }}
            {% endif %}
          </option>
          {% endfor %}
        </select>
      </label>
    </div>
    <input type="hidden" name="action" value="FullRelease">
    <input type="submit" value="Full Release Puzzle">
  </form>
  <form class="ha-column-control-box" action="{{ url_for('admintools') }}" method="post">
    <span class="ha-control-box-title">
      Full Solve
    </span>
    <div class="ha-labeled-input-form">
      <label>
        Puzzle
        <select name="puzzleId">
          {% for puzzle in puzzles %}
          <option value="{{ puzzle.puzzleId }}">
            {% if puzzle.puzzleProperties.DisplayNameProperty %}
            {{ puzzle.puzzleProperties.DisplayNameProperty.displayName }}
            {% else %}
            {{ puzzle.puzzleId }}
            {% endif %}
          </option>
          {% endfor %}
        </select>
      </label>
    </div>
    <input type="hidden" name="action" value="FullSolve">
    <input type="submit" value="Full Solve Puzzle">
  </form>
  <form class="ha-column-control-box" action="{{ url_for('admintools') }}" method="post">
    <span class="ha-control-box-title">
      Trailing Tide release
    </span>
    <div class="ha-labeled-input-form">
      <label>
        Unlock entire round
      </label>
      <div>
        <input
            type="button"
            value="Yes, I'm sure"
            onclick="document.getElementById('round_0_button').removeAttribute('disabled')"
            {% if not is_hunt_started %}disabled{% endif %}
        >
        <button
            id="round_0_button"
            type="submit"
            name="islandNumber"
            value="0"
            disabled>
          Memories
        </button>
      </div>
      {% for i in range(1,4+1) %}
        <div>
          <input
              type="button"
              value="Yes, I'm sure"
              onclick="document.getElementById('round_{{ i }}_button').removeAttribute('disabled')"
              {% if not is_hunt_started %}disabled{% endif %}
          >
          <button
              id="round_{{ i }}_button"
              type="submit"
              name="islandNumber"
              value="{{ i }}"
              disabled>
            Island {{ i }}
          </button>
        </div>
      {% endfor %}
    </div>
    <input type="hidden" name="action" value="TrailingTideRelease">
  </form>
</div>
{% endblock %}
