{%- macro visibility_class(visibilities, puzzle_id) -%}
  {%- set status = visibilities.get(puzzle_id,{}).get("status","INVISIBLE") -%}
  {%- if status == "UNLOCKED" -%}
    ha-bigboard-unlocked
  {%- elif status == "SOLVED" -%}
    ha-bigboard-solved
  {%- else -%}
    ha-bigboard-locked
  {%- endif -%}
{%- endmacro -%}

{%- macro display_name(puzzles, puzzle_id) -%}
  {{ puzzles[puzzle_id].get("puzzleProperties",{}).get("DisplayNameProperty",{}).get("displayName",puzzle_id) }}
{%- endmacro -%}

{% macro meta_box(team_id, puzzles, visibilities, puzzle, encounter='', display_title=True) %}
  <div
      class="ha-bigboard-meta-box {{ visibility_class(visibilities, puzzle) }} {{ extra_classes }}"
      title="{{ display_name(puzzles, puzzle) }}">
    {% if display_title %}
      {{ display_name(puzzles, puzzle) }}
    {% endif %}
    {% if encounter and visibilities[puzzle].status == 'SOLVED' %}
      <span class="ha-bigboard-encounter">
        {% if visibilities[encounter].status == 'SOLVED' %}
          <i class="fa fa-square" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-square-o" aria-hidden="true"></i>
        {% endif %}
      </span>
    {% endif %}
  </div>
{% endmacro %}

{% macro puzzle_list(team_id, all_puzzles, puzzles, visibilities) %}
  {% for puzzle_id in puzzles %}
    <div
        class="ha-bigboard-puzzle-box {{ visibility_class(visibilities, puzzle_id) }}"
        title="{{ display_name(all_puzzles, puzzle_id) }}"
    >
    </div>
  {% endfor %}
{% endmacro %}

{% macro bigboard_team_box(team, puzzles, round_puzzle_map, visibilities, team_scores) %}
  {% set team_id = team['teamId'] %}
  <div class="ha-bigboard-team">
    <div class="ha-bigboard-team-id">
      <span title="{{ team_id }}">{{ team.get("teamName", team_id) }}</span>
    </div>
  </div>
{% endmacro %}
