{%- macro visibility_class(team_id, puzzle_id) -%}
  {%- set status = team_visibilities[team_id].get(puzzle_id,{}).get("status","INVISIBLE") -%}
  {%- if status == "UNLOCKED" -%}
    ha-bigboard-unlocked
  {%- elif status == "SOLVED" -%}
    ha-bigboard-solved
  {%- else -%}
    ha-bigboard-locked
  {%- endif -%}
{%- endmacro -%}

{% extends "base.html" %}
{% block page_body %}
  <div class="ha-page-section">
    <form action="{{ url_for('bulk_team_action') }}" method="post">
      <h2>Select Teams</h2>
      <div class="ha-team-selector-group">
        {% for team_id in team_ids %}
          <div class="ha-team-selector">
            <label>
              <div class="ha-team-selector-clickable-area">
                <div class="ha-team-selector-status-line">
                  <input type="checkbox" name="team_ids" value="{{ team_id }}">
                  {{ team_id }}
                </div>
                <div class="ha-team-selector-status-line ha-small-text">
                  {{ team_names.get(team_id, "") }}
                </div>
                <div class="ha-team-selector-status-line">
                </div>
              </div>
            </label>
          </div>
        {% endfor %}
      </div>
      <h2>Select Action</h2>
      <div class="ha-control-boxes-container">
      </div>
    </form>
  </div>
{% endblock %}
