{% extends "base.html" %}

{% block page_body %}
<div class="ha-page-section">
  <table>
    <tr>
      <th>
        Puzzle Name
      </th>
      <th>
        Asset
      </th>
    </tr>
    <tr>
      <td>
        This Year's Hardest Crossword
      </td>
      <td>
        <a href="{{ asset_url_for('puzzles/this_years_hardest_crossword/listener.pdf') }}">Listener pdf</a>
      </td>
    </tr>
    <tr>
      <td>
        Model Kit
      </td>
      <td>
        <a href="{{ asset_url_for('solutions/model_kit/kit.pdf') }}">Paper kit, in case they eat the kit we give them</a>
      </td>
    </tr>
    <tr>
      <td>
        A Pub Crawl
      </td>
      <td>
        <a href="{{ asset_url_for('puzzles/a_pub_crawl/cards.zip') }}">RDI card images</a>
      </td>
    </tr>
    <tr>
      <td>
        Flee
      </td>
      <td>
        <a href="{{ asset_url_for('puzzles/flee/radio-graph.png') }}">Deploy radio graph</a>
      </td>
    </tr>
  </table>
</div>
{% endblock %}
