{% extends "overall_layout.html" %}
{% import "/hacking_macros.html" as macros with context %}
{% import "/hacking_map_macros.html" as map_macros with context %}

{%- set phases = [('flee',0),('deploy',6),('build',8),('scout',8)] -%}

{% block title_block %}Head Hunters: Hacking Island{% endblock %}

{% block styling_block %}
  <link href="https://fonts.googleapis.com/css?family=Six+Caps" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ asset_url_for('rounds/hacking/styles/home.css') }}"/>
  {%- for phase in ['scout','build','deploy','flee'] -%}
    <link rel="stylesheet" type="text/css" href="{{ asset_url_for('rounds/hacking/styles/' + phase + '.css') }}"/>
  {%- endfor -%}
  {%- for phase, count in phases if puzzle_visibilities.get('hacking-'+phase+'-runaround',{}).get('status','INVISIBLE') -%}
    {%- if loop.index == 1 -%}
      <link rel="stylesheet" type="text/css" href="{{ asset_url_for('rounds/hacking/styles/plan.css') }}"/>
    {%- endif -%}
  {%- endfor -%}
  <script type="text/javascript" src="{{ asset_url_for('rounds/hacking/js/boards.js') }}"></script>
  <script>
    $(function(){ $('[data-placement="bottom"]').tooltip('option', 'position', { my: "center top+6", at: "center bottom" }); });
  </script>
{% endblock %}

{% block overall_layout_body %}
  {%- set flee_open = 'hacking-supermeta' in puzzle_visibilities and puzzle_visibilities['hacking-supermeta'].status in ['UNLOCKED','SOLVED'] -%}
  <div id="main-page-content">
    <div class="building {{ 'wide' if flee_open else '' }}">
      {%- for phase,count in phases -%}
        {%- set meta_id = 'hacking-supermeta' if phase=='flee' else ('hacking-' + phase + '-meta') -%}
        {%- if meta_id in puzzle_visibilities and puzzle_visibilities[meta_id].status in ['UNLOCKED','SOLVED'] %}
          {%- set meta_status = puzzle_visibilities[meta_id].status -%}
          <div class="floor {{phase}} {{meta_status|lower}}">
            <img {{img_src_for('rounds/hacking/images/buildings/' + phase + '.png')}} class="floor-bg" usemap="#hacking-{{phase}}-map">
            <map name="hacking-{{phase}}-map">
              {{ macros.generate_puzzle_asset(phase, 'meta') }}
            </map>
            <div class="sign">
              <div class="sign-label">{{phase|upper}}</div>
              {%- if count > 0 -%}
                <div class="sign-symbols">
                  {%- for i in range(1,count+1) -%}
                    {{ macros.generate_puzzle_asset(phase, i|string) }}
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
            {{ macros.generate_puzzle_asset(phase, 'runaround') }}
            <div class="bulletin"></div>
            <a href="#" class="bulletin" data-target-board="{{phase}}-bulletin" data-toggle="tooltip" data-placement="bottom" data-html="false" title="{{phase|capitalize}} Bulletin Board"></a>
            {%- set runaround_id = 'hacking-' + phase + '-runaround' -%}
            {%- if runaround_id in puzzle_visibilities and puzzle_visibilities[runaround_id].status == 'SOLVED' -%}
              <div class="plan">
                <a href="#" data-target-board="{{phase}}-plan" data-toggle="tooltip" data-placement="bottom" data-html="false" title="Great Dome Plans">
                  <img {{img_src_for('rounds/hacking/images/plan-icon.svg')}}/>
                </a>
              </div>
            {%- endif -%}
            {%- if phase == 'deploy' -%}
              <img class="window-over" {{img_src_for('rounds/hacking/images/buildings/deploy-window-over.png')}}/>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>

    <div class="island-title">Hacking Island</div>

    <div class="hacking-scrim hidden">
      <div class="big-board hidden">
        <img {{img_src_for('rounds/hacking/images/bulletin-board.svg')}}>
        {%- for phase, count in phases if phase != 'flee' -%}
          {%- set meta_id = 'hacking-' + phase + '-meta' -%}
          {%- if meta_id in puzzle_visibilities and puzzle_visibilities[meta_id].status in ['UNLOCKED','SOLVED'] %}
            <div data-board="{{phase}}-bulletin" class="big-board-content hidden">
              <div class="big-board-{{phase}}-rewards">
                {%- set solved_ids = [] -%}
                {%- if site_mode() == 'solution' and phase == 'deploy' -%}
                  {%- set solved_ids = ['show message plz'] %}
                  {# hard code things for solution mode #}
                  <div class="reward">
                    <span>{{ macros.generate_icon_helper(phase, none, 'car') }}’s radio can hear {{ macros.generate_icon_helper(phase, none, 'tardis') }} and itself.</span>
                  </div>
                  <div class="reward">
                    <span>{{ macros.generate_icon_helper(phase, none, 'lem') }}’s radio can hear {{ macros.generate_icon_helper(phase, none, 'car') }} and itself.</span>
                  </div>
                  <div class="reward">
                    <span>{{ macros.generate_icon_helper(phase, none, 'tardis') }}’s radio can hear {{ macros.generate_icon_helper(phase, none, 'lem') }} and {{ macros.generate_icon_helper(phase, none, 'flyer') }}.</span>
                  </div>
                  <div class="reward">
                    <span>{{ macros.generate_icon_helper(phase, none, 'firetruck') }}’s radio can hear {{ macros.generate_icon_helper(phase, none, 'tardis') }} and itself.</span>
                  </div>
                  <div class="reward">
                    <span>{{ macros.generate_icon_helper(phase, none, 'flyer') }}’s radio can hear {{ macros.generate_icon_helper(phase, none, 'cow') }}.</span>
                  </div>
                  <div class="reward">
                    <span>{{ macros.generate_icon_helper(phase, none, 'cow') }}’s radio can hear {{ macros.generate_icon_helper(phase, none, 'flyer') }}.</span>
                  </div>
                {%- else -%}
                  {%- for i in range(1,count+1) -%}
                    {%- set puzzle_id = 'hacking-' + phase + '-' + i|string -%}
                    {%- if puzzle_id in puzzle_properties -%}
                      {%- set props = puzzle_properties[puzzle_id].get('puzzleProperties', {}) -%}
                      {%- set symbol = props.get('SymbolProperty', {}).get('symbol', none) -%}
                      {%- set solved = puzzle_id in puzzle_visibilities and puzzle_visibilities[puzzle_id].status == 'SOLVED' -%}
                      {%- if solved -%}
                        {%- set _ = solved_ids.append(puzzle_id) -%}
                        {%- if phase == 'deploy' -%}
                          {%- set radio = props.get('RadioProperty', {}).get('radio', none) -%}
                          <div class="reward">
                            {{ macros.generate_icon_helper(phase, none, symbol) }}
                            <span>{{radio}}</span>
                          </div>
                        {%- else -%}
                          <img class="reward" {{img_src_for('rounds/hacking/images/rewards/' + phase + '-' + symbol +'.svg')}}/>
                        {%- endif -%}
                      {%- else -%}
                        {%- if phase == 'deploy' -%}
                          {# blank rewards for the deploy round so everything occupies the right line #}
                          <div class="reward"></div>
                        {%- endif -%}
                      {%- endif -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
              </div>
              <div class="big-board-message">
                {%- if solved_ids|length == 0 -%}
                  Check back when you&apos;ve made some progress
                {%- elif flee_open -%}
                  This should be useful in planning your escape
                {%- else -%}
                  {%- set runaround_id = 'hacking-' + phase + '-runaround' -%}
                  {%- set see_plans = runaround_id in puzzle_visibilities and puzzle_visibilities[runaround_id].status == 'SOLVED' -%}
                  This information {% if see_plans -%} and the plans you found {% endif -%} may be useful to you later
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
      {%- for phase, count in phases if puzzle_visibilities.get('hacking-'+phase+'-runaround',{}).get('status','INVISIBLE') -%}
        {%- if loop.index == 1 -%}
          <div class="big-board hidden">
            <img {{img_src_for('rounds/hacking/images/plan.svg')}}>
            {%- for phase, count in phases if phase != 'flee' -%}
              {%- if puzzle_visibilities.get('hacking-'+phase+'-runaround',{}).get('status','INVISIBLE') %}
                <div data-board="{{phase}}-plan" class="big-board-content plan hidden">
                  {{ map_macros.generate_map(phase) }}
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
      <a href="#" class="closer"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>

  </div>
{% endblock %}
