{% extends "overall_layout.html" %}
{% import "/pokemon_macros.html" as macros with context %}

{% block title_block %}Head Hunters: Pokémon Island{% endblock %}

{% block styling_block %}
  <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ asset_url_for('rounds/pokemon/styles/home.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset_url_for('rounds/pokemon/styles/icons.css') }}"/>
{% endblock %}

{% block overall_layout_body %}
  <div id="main-page-content">
    <div class="map">
      <div class="stage">
        <img class="stage-art" {{img_src_for('rounds/pokemon/images/maps/top.png')}}/>
        {%- for i in range(1,3+1) -%}
          {{ macros.generate_puzzle_asset('meta', i) }}
        {%- endfor -%}
        <div class="island-title">Pokémon Island</div>
      </div>
      {%- set tapes = range(1,6+1)|map('string')|list -%}
      {%- for i in range(1,12+1) -%}
        {%- if ('pokemon-unevolved-' + i|string) in puzzle_visibilities -%}
          <div class="stage">
            <img class="stage-art" {{img_src_for('rounds/pokemon/images/maps/' + i|string + '.png')}}/>
            {{ macros.generate_tape(i) }}
            {{ macros.generate_puzzle_asset('unevolved', i) }}
            {{ macros.generate_puzzle_asset('evolved', i) }}
          </div>
        {%- endif -%}
      {%- endfor -%}
      {%- if 'pokemon-supermeta' in puzzle_visibilities -%}
      <div class="stage">
        <img class="stage-art" {{img_src_for('rounds/pokemon/images/maps/bottom.png')}}/>
        {{ macros.generate_tape(13) }}
        {{ macros.generate_puzzle_asset('supermeta', 1) }}
      </div>
      {%- endif -%}
    </div> 
  </div>
{% endblock %}
