{% extends "overall_layout.html" %}
{% import "scifi_macros.html" as macros with context %}

{% block title_block %}Head Hunters: Sci-Fi Island{% endblock %}

{% block styling_block %}
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ asset_url_for('rounds/scifi/styles/cube.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset_url_for('rounds/scifi/styles/home.css') }}"/>
  <script>
    $(document).ready(function() {
      // Without this, scrolling is awkward because the browser keeps trying to drag assets
      // user-drag: none; isn't as reliable as one might hope (doesn't work in firefox for one), but this seems to work without side effects
      $('.cube-container *').mousedown(function(e) {
        e.preventDefault();
      });
      // Without this, it's possible to shift the offsets of the cube faces by tabbing. A little bit of JS seems better than disabling tab-index
      $('.side *').focus(function(e) {
        $(this).closest('.side').scrollTop(0).scrollLeft(0);
      });
      // Without this, tooltips flicker when moving the cursor over an edge that a blast door spans
      $('.cube [data-toggle="tooltip"]').tooltip('option', {'show': 0, 'hide': 0});
    });
  </script>
{% endblock %}

{% block overall_layout_body %}
  <div id="main-page-content">
    <div class="cube-container">
      <div class="viewport">
        <div class="cube">
          <div class="side">
            {{ macros.generate_tunnel(1) }}
            {{ macros.generate_tunnel(2) }}
            {{ macros.generate_tunnel(3) }}
            {{ macros.generate_tunnel(4) }}
            {{ macros.generate_round_page_icon('meta', 4, style="left:200px;top:200px;transform:rotate(90deg);") }}
            {{ macros.generate_round_page_icon('', 6, style="left:116px;top:400px;transform:rotate(270deg);") }}
            {{ macros.generate_round_page_icon('', 7, style="left:250px;top:350px;transform:rotate(180deg);") }}
            {{ macros.generate_round_page_icon('', 10, style="left:0px;top:83px;transform:rotate(180deg);") }}
            {{ macros.generate_round_page_icon('', 12, style="left:350px;top:0px;transform:rotate(90deg);") }}
            {{ macros.generate_round_page_icon('', 14, style="left:400px;top:350px;") }}
          </div>
          <div class="side">
            {{ macros.generate_tunnel(2) }}
            {{ macros.generate_tunnel(4) }}
            {{ macros.generate_tunnel(5) }}
            {{ macros.generate_tunnel(6) }}
            {{ macros.generate_round_page_icon('meta', 5, style="left:200px;top:200px;transform:rotate(90deg);") }}
            {{ macros.generate_round_page_icon('', 2, style="left:350px;top:217px;transform:rotate(90deg);") }}
            {{ macros.generate_round_page_icon('', 6, style="left:116px;top:0px;transform:rotate(270deg);") }}
            {{ macros.generate_round_page_icon('', 8, style="left:116px;top:400px;transform:rotate(270deg);") }}
            {{ macros.generate_round_page_icon('', 16, style="left:0px;top:67px;") }}
          </div>
          <div class="side">
            {{ macros.generate_tunnel(2) }}
            {{ macros.generate_tunnel(3) }}
            {{ macros.generate_tunnel(5) }}
            {{ macros.generate_tunnel(6) }}
            {{ macros.generate_tunnel(7) }}
            {{ macros.generate_tunnel(8) }}
            {{ macros.generate_round_page_icon('meta', 1, style="left:200px;top:200px;transform:rotate(270deg);") }}
            {{ macros.generate_round_page_icon('', 4, style="left:350px;top:400px;transform:rotate(270deg);") }}
            {{ macros.generate_round_page_icon('', 9, style="left:117px;top:300px;transform:rotate(180deg);") }}
            {{ macros.generate_round_page_icon('', 14, style="left:50px;top:0px;transform:rotate(90deg);") }}
            {{ macros.generate_round_page_icon('', 18, style="left:400px;top:117px;transform:rotate(180deg);") }}
          </div>
          <div class="side">
            {{ macros.generate_tunnel(3) }}
            {{ macros.generate_tunnel(7) }}
            {{ macros.generate_tunnel(8) }}
            {{ macros.generate_tunnel(9) }}
            {{ macros.generate_tunnel(10) }}
            {{ macros.generate_round_page_icon('meta', 2, style="left:200px;top:200px;transform:rotate(180deg);") }}
            {{ macros.generate_round_page_icon('', 5, style="left:200px;top:333px;transform:rotate(180deg);") }}
            {{ macros.generate_round_page_icon('', 11, style="left:400px;top:333px;") }}
            {{ macros.generate_round_page_icon('', 12, style="left:50px;top:0px;transform:rotate(270deg);") }}
            {{ macros.generate_round_page_icon('', 13, style="left:50px;top:233px;transform:rotate(90deg);") }}
            {{ macros.generate_round_page_icon('', 18, style="left:0px;top:117px;transform:rotate(180deg);") }}
          </div>
          <div class="side">
            {{ macros.generate_tunnel(3) }}
            {{ macros.generate_tunnel(5) }}
            {{ macros.generate_tunnel(10) }}
            {{ macros.generate_tunnel(11) }}
            {{ macros.generate_round_page_icon('meta', 6, style="left:200px;top:200px;transform:rotate(90deg);") }}
            {{ macros.generate_round_page_icon('', 1, style="left:200px;top:67px;transform:rotate(180deg);") }}
            {{ macros.generate_round_page_icon('', 3, style="left:283px;top:400px;transform:rotate(270deg);") }}
            {{ macros.generate_round_page_icon('', 10, style="left:83px;top:0px;transform:rotate(90deg);") }}
            {{ macros.generate_round_page_icon('', 11, style="left:0px;top:333px;") }}
            {{ macros.generate_round_page_icon('', 16, style="left:400px;top:67px;") }}
            {{ macros.generate_round_page_icon('', 17, style="left:200px;top:316px;transform:rotate(180deg);") }}
          </div>
          <div class="side">
            {{ macros.generate_tunnel(2) }}
            {{ macros.generate_tunnel(3) }}
            {{ macros.generate_tunnel(5) }}
            {{ macros.generate_tunnel(8) }}
            {{ macros.generate_tunnel(11) }}
            {{ macros.generate_tunnel(12) }}
            {{ macros.generate_round_page_icon('meta', 3, style="left:200px;top:200px;") }}
            {{ macros.generate_round_page_icon('', 3, style="left:283px;top:0px;transform:rotate(270deg);") }}
            {{ macros.generate_round_page_icon('', 15, style="left:367px;top:317px;transform:rotate(270deg);") }}
            {{ macros.generate_round_page_icon('', 4, style="left:50px;top:400px;transform:rotate(90deg);") }}
            {{ macros.generate_round_page_icon('', 8, style="left:400px;top:116px;") }}
          </div>
        </div>
      </div>
    </div>
    {{ macros.generate_round_page_icon('supermeta', 1) }}
    <div class="island-title">Sci-Fi Island</div>
  </div>
  <script src="{{ asset_url_for('rounds/scifi/js/cube.js') }}" type="text/javascript"></script>
{% endblock %}
