{% extends "objective.html" %}
{% import "objective_macros.html" as objective_macros %}
{% import "island_macros.html" as island_macros %}

{# Dependent on:
    brainpower
    openIslands
    Puzzles:
      hacking-recovery
      scifi-recovery
      pokemon-recovery
      games-recovery
#}

{# TODO: Abstract thought reports are extremely rough #}

{% set numIslands = counts['islands']['total'] %}
{% set numOpenIslands = counts['islands']['opened'] %}
{% set numRecoveredMemories = counts['islands']['recovered'] %}

{% set fundsToOpen = core_display_data['brainpowerThresholds'][numOpenIslands] if (numOpenIslands < numIslands) else 0 %}
{% set sufficientFunds = (numOpenIslands < numIslands) and (brainpower >= fundsToOpen) %}

{% set objective_id = "core" %}
{% set objective_name = "Recover the Core Memories" %}
{% set objective_video_id = None %}
{% set objective_unlocked = is_hunt_started %}
{% set objective_complete = numRecoveredMemories == numIslands %}
{% set objective_video_visible = false %}

{% set text = {
  'games': {
    'open': 'As it cleared the island, the brain fog revealed an immense twenty-sided die.',
    'incomplete': 'This is clearly {island}. Sail towards the shores of Catan in search of the
      Games Core Memory.',
    'complete': 'On {island}, you confronted the robber of Catan and recovered the Games Core
      Memory {answer}.',
  },
  'pokemon': {
    'open': 'Beneath the thinning brain fog, you spotted&hellip; some kind of turtle, maybe?
      You thought it was cute, but it immediately attacked you.',
    'incomplete': 'This must be {island} and you&rsquo;ll have to catch them all if you want to
      find the Pokémon Core Memory.',
    'complete': 'On {island}, you had to be the very best, so you caught them all, defeated your
      rival, and recovered the Pokémon Core Memory {answer}.',
  },
  'scifi': {
    'open': 'As the brain fog cleared you saw&hellip; nothing.  Just space.',
    'incomplete': 'Apparently, this is {island}. Set course for the huge cube to begin the search
      for the Sci-Fi Core Memory.',
    'complete': 'Travelling through the universes of {island} led to a very close encounter with
      the Borg, but you recovered the Sci-Fi Core Memory {answer}.',
  },
  'hacking': {
    'open': 'As the fan blew the last wisps of brain fog away, the unmistakable MIT skyline faded
      into view.',
    'incomplete': 'This is obviously {island}, and the Hacking Core Memory must be down there
      somewhere.  You&rsquo;ll have to punt and tool your way through a complete hack to find it.',
    'complete': 'Punting and tooling your way through {island} led to you to catch the wayward
      Hacking Core Memory {answer}.',
  },
} %}

{% macro pretty_remaining_islands(cnt, tot) -%}
  {%- if tot-cnt==1 -%}
    the final island
  {%- else -%}
    one of the remaining {{ objective_macros.pretty_number(tot-cnt) }} islands
  {%- endif -%}
{%- endmacro %}

{% macro pretty_count_islands(cnt, tot) -%}
  {%- if cnt>=tot -%}
    all {{ objective_macros.pretty_number(cnt) }} islands
  {%- elif cnt>1 -%}
    {{ objective_macros.pretty_number(cnt) }} islands
  {%- elif cnt==1 -%}
    one island
  {%- else -%}
    no islands
  {%- endif -%}
{%- endmacro %}

{%- macro pretty_count_recovered(recovered, open) -%}
  {%- if recovered == 0 -%}
    no core memories
  {%- elif recovered == 1 -%}
    {{ 'its' if open==1 else 'one&rsquo;s' | safe }} core memory
  {%- elif recovered < open -%}
    {{ objective_macros.pretty_number(recovered) }} of their core memories
  {%- elif open == 2 -%}
    both of their core memories
  {%- else -%}
    all {{ objective_macros.pretty_number(recovered) }} of their core memories
  {%- endif -%}
{%- endmacro -%}

{% macro list_unrecovered_orbs() %}
  {%- for island in islands if statuses[island+'-recovery'] != 'SOLVED' -%}
    {%- if loop.index > 1 and loop.last %} and{% endif -%}
    {{- ' '+island_macros.name(island) -}}
    {%- if loop.length > 2 and not loop.last -%},{%- endif -%}
  {%- endfor -%}
{% endmacro %}

{% block objective_action_item_1 %}
  {% if numOpenIslands == 0 %}
    You haven&rsquo;t cleared the brain fog from any of the islands yet
  {% else %}
    You&rsquo;ve cleared the brain fog from {{ pretty_count_islands(numOpenIslands, numIslands) }}
    {%- if numRecoveredMemories >= 1 %}
      and recovered {{ pretty_count_recovered(numRecoveredMemories, numOpenIslands) -}}
    {%- endif -%}
  {% endif %}
{% endblock %}

{% block objective_action_item_2 %}
  {% if numOpenIslands == numIslands %}
    Find and recover the {{ list_unrecovered_orbs() }} core
    {{'memories' if (numIslands - numRecoveredMemories) > 1 else 'memory'}}
  {% elif sufficientFunds %}
    Now that you have enough brainpower, call Buzzy and have him clear some brain fog!
  {% else %}
    Accumulate {{ '{:,d}'.format(fundsToOpen - brainpower) }} more brainpower to clear
    {{ island_macros.pretty_next_island(numOpenIslands, numIslands) }}
  {% endif %}
{% endblock %}

{% block objective_body %}
  <p>
    The catastrophe in the Control Room shrouded the Islands of Personality in a thick layer of
    brain fog.  Buzzy explained that the islands are the key to locating the missing Core
    Memories, but can&rsquo;t be reached without first blowing away the fog.  He has fans that can
    do that, but each needs brainpower to operate.
  </p>
  <p>
    {% if numOpenIslands == 0 %}
      {% if sufficientFunds %}
        Fortunately, you&rsquo;ve collected enough brainpower to clear the fog around an island!
        Decide which Island you would like to visit, then give Buzzy a call.
      {% else %}
        The first fan can clear the fog around an island once you collect
        {{ '{:,d}'.format(fundsToOpen) }} brainpower.  You currently have
        {{ '{:,d}'.format(brainpower) }}.
      {% endif %}
    {% elif numOpenIslands < numIslands %}
      {% if sufficientFunds %}
        You&rsquo;ve already cleared {{ pretty_count_islands(numOpenIslands, numIslands) }} and
        you&rsquo;ve collected enough brainpower to clear the fog around
        {{ island_macros.pretty_next_island(numOpenIslands, numIslands) }}.  You should give Buzzy a call.
      {% else %}
        You&rsquo;ve already cleared {{ pretty_count_islands(numOpenIslands, numIslands) }} but
        you need to collect {{ '{:,d}'.format(fundsToOpen) }} brainpower to clear the fog
        around {{ pretty_remaining_islands(numOpenIslands, numIslands) }}.  You currently have
        {{ '{:,d}'.format(brainpower) }}.
      {% endif %}
    {% endif %}
  </p>
  <p>
    Unfortunately, Buzzy
    {{('couldn&rsquo;t' if (numOpenIslands == numIslands) else 'can&rsquo;t') | safe}}
    remember what the islands were like before the fog rolled in, so he had Abstract Thought
    analyze them through the haze.  You can use this information to decide the order in which
    you would like to visit the islands.
  </p>
  <ul>
    {% for island in islands %}
      {%- set island_text = text[island] %}
      {%- set placeholder_string = placeholders[island] + ' island' -%}
      {%- set substitutions = {
        'placeholder': placeholder_string if (island in core_display_data['openIslands']) else objective_macros.format_island(placeholder_string),
        'island': objective_macros.format_island(island_macros.name(island)),
        'answer': objective_macros.format_answer(answers[ island + '-supermeta' ]),
      } -%}
      <li>
        <p>
          <span class="abstract">{{ island_macros.abstract(island).format(**substitutions) |safe }}</span>
        </p>
        {% if (island in core_display_data['openIslands']) %}
          <p>{{ island_text['open'].format(**substitutions) | safe }}
            {% if statuses[island + '-recovery'] == 'SOLVED' %}
              {{ island_text['complete'].format(**substitutions) | safe }}
            {% else %}
              {{ island_text['incomplete'].format(**substitutions) | safe }}
            {% endif %}
          </p>
        {% else %}
          <p>You can't investigate further because the island remains shrouded in brain fog.</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if numOpenIslands == numIslands %}
    {% if numRecoveredMemories == numIslands %}
      <p>
        You recovered all of the core memories and saved all the Islands of Personality!  With the
        islands finally restored, you don&rsquo;t need to collect any more brainpower.
      </p>
    {% else %}
      <p>
        The skies are finally clear!  With all the islands finally unencumbered by brain fog, you
        don&rsquo;t need to collect any more brainpower.
      </p>
    {% endif %}
  {% endif %}
  {% if sufficientFunds %}
    {% set puzzle_id=island_properties.get(island_unlocks[numOpenIslands],{}).get('puzzleProperties').get('DisplayIdProperty', {}).get('displayId', island_unlocks[numOpenIslands]) %}
    <p>Decide which island you&rsquo;d like to clear, then <a href="{{ url_for('puzzle', puzzle_id=puzzle_id) }}" class="island-unlock">call Buzzy!</a></p>
  {% endif %}
{% endblock %}
