{% extends "objective.html" %}
{% import "objective_macros.html" as macros %}

{# Dependent on:
    Puzzles:
      brainstorm
      emotional-finale
      encounter-sadness
      encounter-disgust
      encounter-joy
      encounter-fear
      encounter-anger
#}

{% set numEmotions = counts['emotions']['total'] %}
{% set numSolvedMetas = counts['emotions']['solved'] %}
{% set numCompleteEncounters = counts['emotions']['encountered'] %}

{% set objective_id = "emotions" %}
{% set objective_name = "Rescue the Emotions" %}
{% set objective_video_id = 'ozOcIGzHurY' %}
{% set objective_unlocked = is_hunt_started %}
{% set objective_complete = statuses['emotional-finale'] == 'SOLVED' %}
{% set objective_video_visible = objective_complete %}

{% set text = {
  'sadness': {
    'artifact': 'blueprints',
    'intro': '{name} slouched out of the Control Room just as the doors closed.',
    'metaSolved': 'She tried climbing in through the infrastructure plumbing, but you told her
      simply to {answer}.',
    'metaUnsolved': 'She&rsquo;s still locked out!',
    'interactionIncomplete': 'She said she&rsquo;ll stop by to thank you, just as soon as she picks
      herself up off the floor.',
    'interactionComplete': 'With a tear in her eye (and on the floor, and everywhere else), she
      gave you her {artifact} when she visited.',
  },
  'disgust': {
    'artifact': 'dirty climbing rope',
    'intro': '{name} walked out of the Control Room in embarrassment over her colleagues&rsquo;
      behavior.',
    'metaSolved': 'You told her to {answer} to the windows, which worked,
      though her climbing gear was super-gross.',
    'metaUnsolved': 'She&rsquo;s still locked out!',
    'interactionIncomplete': 'She said she&rsquo;ll stop by to thank you, right after she takes a 
      shower.',
    'interactionComplete': 'When she visited, she dumped her {artifact} on the first mind worker
      she saw.',
  },
  'joy': {
    'artifact': 'flashlight',
    'intro': '{name} futilely chased after Fear and Anger, then couldn&rsquo;t get back into the
      Control Room.',
    'metaSolved': 'You told her to {answer} and now she&rsquo;s happily home.',
    'metaUnsolved': 'She&rsquo;s still locked out!',
    'interactionIncomplete': 'She wanted to stop by and personally thank you. She&rsquo;s so 
      excited!',
    'interactionComplete': 'When she visited, she happily gave you the {artifact} she used!',
  },
  'fear': {
    'artifact': 'special surrendering flag',
    'intro': '{name} was chased out of the Control Room by Anger.',
    'metaSolved': 'Your pep talk convinced him to {answer} back to the Control Room.',
    'metaUnsolved': 'He&rsquo;s still locked out!',
    'interactionIncomplete': 'He said he&rsquo;ll stop by to thank you...as soon as it&rsquo;s
      safe.',
    'interactionComplete': 'When he visited, he gave you his {artifact}, telling you he’s never
      going to need it again! I’d hold onto it&hellip; just in case.',
  },
  'anger': {
    'artifact': 'useless Control Room key',
    'intro': '{name} chased Fear out of the Control Room.',
    'metaSolved': 'Fortunately, the door proved no match for him once you told him to {answer}.',
    'metaUnsolved': 'He&rsquo;s still locked out!',
    'interactionIncomplete': 'He said he&rsquo;ll stop by to thank you as soon as he&rsquo;s cooled
      down a bit.',
    'interactionComplete': 'During his visit, he threw away his {artifact}.',
  }
} %}

{% macro list_unsolved_emotions() %}
  {%- for emotion in emotions if statuses[emotion] != 'SOLVED' -%}
    {%- if loop.index > 1 and loop.last %} and{% endif -%}
    {{- ' '+names[emotion] -}}
    {%- if loop.length > 2 and not loop.last -%},{%- endif -%}
  {%- endfor -%}
{% endmacro %}

{% macro list_unencountered_emotions() %}
  {%- for emotion in emotions if statuses[emotion] == 'SOLVED' and statuses['encounter-' + emotion] != 'SOLVED' -%}
    {%- if loop.index > 1 and loop.last %} and{% endif -%}
    {{- ' '+names[emotion] -}}
    {%- if loop.length > 2 and not loop.last -%},{%- endif -%}
  {%- endfor -%}
{% endmacro %}

{% block objective_action_item_1 %}
  {% if numSolvedMetas == 0 %}
    You haven&rsquo;t rescued any of the emotions yet
  {% elif numSolvedMetas < numEmotions %}
    You&rsquo;ve rescued {{ macros.pretty_number(numSolvedMetas) }} of the five emotions
  {% else %}
    You&rsquo;ve rescued all five emotions
  {% endif %}
  {% if numCompleteEncounters > 0 %}
    {% if numSolvedMetas == 1 %}
      (who brought you a gift)
    {% elif numCompleteEncounters < numSolvedMetas %}
      ({{ macros.pretty_number(numCompleteEncounters) }} of whom brought you
      {{ 'gifts' if numCompleteEncounters > 0 else 'a gift' }})
    {% elif numCompleteEncounters < numEmotions %}
      (all of whom brought you gifts)
    {% else %}
      but they're still bickering
    {% endif %}
  {% endif %}
{% endblock %}

{% block objective_action_item_2 %}
  {% if statuses['brainstorm'] == 'SOLVED' %}
    It's time to make the emotions work together again. Meet Buzzy back at the Control Room.
  {% elif statuses['brainstorm'] == 'UNLOCKED' %}
    Buzzy needs you to synthesize the perfect idea. Head into the Brainstorm.
  {% elif numSolvedMetas == numEmotions %}
    {% if numCompleteEncounters==0 %}
      Talk to each of the emotions you&rsquo;ve rescued
    {% elif numCompleteEncounters < numEmotions %}
      Collect your {{'gifts' if (numSolvedMetas - numCompleteEncounters) > 1 else 'gift'}}
      from {{ list_unencountered_emotions() }}
    {% else %}
      Await further orders from Buzzy
    {% endif %}
  {% else %}
    Rescue {{ list_unsolved_emotions() }}
  {% endif %}
{% endblock %}

{% block objective_body %}
  <p>
  The catastrophe in the Control Room left all five Emotions locked out, and a bunch of their
  favorite memories damaged!
  {% if numSolvedMetas == numEmotions %}
    Following Buzzy&rsquo;s advice to fix the damaged memories, you managed to rescue all five
    emotions.
  {% elif numSolvedMetas > 0 %}
    Buzzy thinks fixing the damaged memories will make it easier to find and rescue the
    Emotions. So far you&rsquo;ve managed to rescue {{macros.pretty_number(numSolvedMetas)}}
    of them.
  {% else %}
    Buzzy thinks that fixing the damaged memories will make it easier to find and rescue the
    Emotions.
  {% endif %}
  </p>
  <ul>
    {% for emotion in emotions %}
      {%- set emotion_text = text[emotion] -%}
      {%- set substitutions = {
        'name': macros.format_emotion(names[emotion]),
        'artifact': macros.format_span(emotion_text['artifact'], 'artifact'),
        'answer': macros.format_answer(answers[emotion]),
      } -%}
      <li>
        {{ emotion_text['intro'].format(**substitutions) | safe }}
        {% if statuses[emotion] == 'SOLVED' %}
          {{ emotion_text['metaSolved'].format(**substitutions) | safe }}
          {% if statuses['encounter-'+emotion] == 'SOLVED' %}
            {{ emotion_text['interactionComplete'].format(**substitutions) | safe }}
          {% else %}
            {{ emotion_text['interactionIncomplete'].format(**substitutions) | safe }}
          {% endif %}
        {% else %}
          {{ emotion_text['metaUnsolved'].format(**substitutions) | safe }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if numSolvedMetas == numEmotions %}
    <p>
      Unfortunately, when the emotions returned to the Control Room, they went right back to
      bickering.
      {% if statuses['brainstorm'] in ['SOLVED','UNLOCKED'] %}
        Buzzy recalled that each Emotion brought you a gift and thought they may be useful in
        teaching the emotions to work together again.
        {% if statuses['brainstorm'] == 'SOLVED' %}
          He ordered you to enter the Brainstorm, where you were able to use your gifts, and one
          little spark of imagination, to formulate an idea.
        {% else %}
          He ordered you to enter the Brainstorm to formulate the perfect idea.  Don&rsquo;t forget
          to bring your gifts with you!
        {% endif %}
      {% else %}
        {% if numCompleteEncounters == 0 %}
          Buzzy suspects that if you talk to the emotions, they may have something that can help.
        {% elif numCompleteEncounters < numEmotions %}
          Buzzy recalls that each Emotion brought you a gift and thinks they may be useful in
          teaching the emotions to work together again.  Once you&rsquo;ve collected your gifts
          from all five emotions, Buzzy will contact you.
        {% else %}
          Buzzy has a plan, but he needs your help!  He&rsquo;ll stop by shortly to explain.
        {% endif %}
      {% endif %}
    </p>
    <p>
      {% if statuses['emotional-finale'] == 'SOLVED' %}
        With your help, Buzzy was able to use it to teach the Emotions to put aside their
        differences and work together!
      {% elif statuses['emotional-finale'] == 'UNLOCKED' %}
        Meet Buzzy back at the Control Room. He has a plan!
      {% endif %}
    </p>
  {% endif %}
{% endblock %}