{% extends "objective.html" %}
{% import "objective_macros.html" as macros %}
{% import "event_macros.html" as event_macros %}

{# Dependent on:
    buzzy_bucks
    Puzzles
      event-1
      event-2
      event-3
      event-4
      event-5
#}

{% set numEvents = counts['events']['total'] %}
{% set numStarted = counts['events']['started'] %}
{% set numFinished = counts['events']['solved'] %}

{% set objective_id = "events" %}
{% set objective_name = "Complete Fear's Training Events" %}
{% set objective_video_id = None %}
{% set objective_unlocked = true %}
{% set objective_video_visible = false %}
{% set objective_complete = numEvents == numFinished %}

{% set rewards = [
  {
    'cost': 20000,
    'coststring': '20,000',
    'description': 'Buzzy will call in a favor with Critical Thinking, who will answer any yes/no
      question you have about something that is puzzling you (as long as it’s not too meta).',
  },
  {
    'cost': 100000,
    'coststring': '100,000',
    'description': 'Buzzy will call in a big favor with Critical Thinking, who will provide the
      solution to something that is puzzling you (as long as it’s not too meta).',
  }
] %}

{% macro pretty_count_events(cnt, tot) -%}
  {%- if cnt>=tot -%}
    all {{ macros.pretty_number(tot) }} training events
  {%- else -%}
    {{ macros.pretty_number(cnt) }} of the {{ macros.pretty_number(tot) }} training events
  {%- endif -%}
{%- endmacro %}

{% block objective_action_item_1 %}
  {% if (numEvents - numStarted) == numEvents and numFinished == 0 and buzzy_bucks == 0 %}
    No training events have started yet
  {% elif numFinished > 0 or buzzy_bucks>0 %}
    You have completed {{ pretty_count_events(numFinished, numEvents) }}
    and have {{ '{:,d}'.format(buzzy_bucks) }} Buzzy Bucks
  {% else %}
    You haven&rsquo;t completed any training events yet
  {% endif %}
{% endblock %}

{% block objective_action_item_2 %}
  {% if (numEvents - numStarted) == 0 %}
    No further training events are scheduled
  {% else %}
    Prepare for the {{ 'first' if numStarted == 0 else 'next' }} event at
    {% for i in range(1, numEvents+1) if statuses[eventId] not in ['UNLOCKED', 'SOLVED'] -%}
      {%- if loop.index == 1 -%}
        {{ event_macros.short_start_time('event-' + (numStarted+1)|string) }}
      {%- endif -%}
    {%- endfor -%}
  {% endif %}
{% endblock %}

{% block objective_body %}
  {%- set puzzle_link_action = 'full_puzzle' if session.usertype == 'writingteam' else 'puzzle' -%}
  <p>
    Before he was chased out of the Control Room, Fear scheduled a series of training events to better
    prepare you and the other mind workers for the trials of the Health &amp; Safety Hunt.  He
    promised they&rsquo;ll be engaging, educational, and fun.  He also promised they&rsquo;ll be
    mandatory.
  </p>
  <ul class="event-list">
    {% for i in range(1, numEvents+1) %}
      {%- set eventId = 'event-' + i|string -%}
      <li>
        <div class="event-name">
          {{ event_macros.name(eventId) }}
        </div>
        <div class="event-place-and-time">
          {{ event_macros.location(eventId) }}, {{ event_macros.start_time(eventId) }}
        </div>
        <div class="event-body">
          {{ event_macros.description(eventId, statuses[eventId] == 'SOLVED') }}
          {% if statuses[eventId] in ['UNLOCKED', 'SOLVED'] or site_mode() == "solution" %}
            {%- set link = url_for(puzzle_link_action, puzzle_id=display_ids[eventId]) -%}
            <div class="event-link">
              Don&rsquo;t forget to fill out <a href="{{link}}">Fear&rsquo;s paperwork</a>.
            </div>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <p>
    To keep things interesting, Buzzy is offering Buzzy Bucks for participating in training,
    which you can spend on all sorts of great prizes:
  </p>
  <table class="event-table">
    <tbody>
      {% for reward in rewards %}
        <tr>
          <td>{{ reward['coststring'] }} Buzzy Bucks</td>
          <td>{{ reward['description'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>
    You have {{ '{:,d}'.format(buzzy_bucks) }} Buzzy Bucks.
    {% if buzzy_bucks > (rewards|map(attribute='cost')|sort)[0] %}
      If you&rsquo;d like to spend some, give Buzzy a call.
    {% endif %}
  </p>
{% endblock %}
