{% extends "objective.html" %}
{% import "objective_macros.html" as macros %}

{# Dependent on:
    openIslands
    Puzzles:
      pokemon-meta-1
      pokemon-meta-2
      pokemon-meta-3
      pokemon-supermeta
      pokemon-recovery
#}

{% set numTrainers = counts['pokemon_submetas']['total'] %}
{% set numDefeated = counts['pokemon_submetas']['solved'] %}

{% set objective_id = "pokemon" %}
{% set objective_name = "Recover the Pokémon Core Memory" %}
{% set objective_video_id = None %}
{% set objective_video_visible = false %}
{% set objective_unlocked = ('pokemon' in core_display_data['openIslands']) %}
{% set objective_complete = statuses['pokemon-recovery'] == 'SOLVED' %}

{% set meta_text = [
  {
    'unlocked': 'Seeing how well you promoted yourself, {name} has challenged you. Defeat her!',
    'solved': 'Seeing how well you promoted yourself, {name} challenged you, but {answer} was very
      effective against her lineup and you defeated her.',
  },
  {
    'unlocked': 'Having identified you as an excellent prospect, {name} have challenged you.
      Defeat them!',
    'solved': 'Having identified you as an excellent prospect, {name} challenged you, but all you
      had to do to defeat them was {answer}',
  },
  {
    'unlocked': 'Annoyed that you defy classification, {name} has challenged you. Defeat him!',
    'solved': 'Annoyed that you defy classification, {name} challenged you, but it wasn&rsquo;t hard
      to {answer} his lineup.',
  },
] %}

{% set end_text = {
  'supermeta': {
    'unlocked': '{name} has revealed himself and issued a challenge!  It&rsquo;s finally time to
      take him on!',
    'solved': '{name} finally revealed himself and issued a challenge, but you disposed of him
      just as easily as his underlings.  As the newest master of Pokémon Island, you
      didn&rsquo;t have long to revel in your victory once you realized the core memory
      {conjugation} {answer}.',
  },
  'recovery': {
    'unlocked': 'Capture the orb!',
    'solved': 'In a shocking twist, you recovered the Pokémon Core Memory and returned it to the Control Room, saving
      Pokémon Island!',
  },
} %}

{% macro list_trainers(defeated) %}
  {%- for i in range(1,numTrainers+1) if statuses['pokemon-meta-' + i|string] == ('SOLVED' if defeated else 'UNLOCKED') -%}
    {%- if loop.index > 1 and loop.last %} and{% endif -%}
    {{- ' '+names['pokemon-meta-' + i|string] -}}
    {%- if loop.length > 2 and not loop.last -%},{%- endif -%}
  {%- endfor -%}
{% endmacro %}

{% block objective_action_item_1 %}
  {% if numDefeated == 0 %}
    {%if statuses['pokemon-supermeta'] == 'SOLVED' %}
      You have defeated Your Rival
    {% else %}
      You have not yet defeated any trainers
    {% endif %}
  {% else %}
    You have defeated {{ list_trainers(True) }}
    {%- if statuses['pokemon-supermeta'] == 'SOLVED' -%}
      , as well as Your Rival
    {%- endif -%}
  {% endif %}
{% endblock %}

{% block objective_action_item_2 %}
  {% if statuses['pokemon-supermeta'] == 'SOLVED' %}
    Recover the core memory
  {% elif numDefeated == numTrainers and statuses['pokemon-supermeta']=='UNLOCKED' %}
    Defeat Your Rival!
  {% elif numDefeated < numTrainers %}
    Defeat {{ list_trainers(False) }}
  {% else %}
    Explore the world
  {% endif %}
{% endblock %}

{% block objective_body %}
  <p>
    On Pokémon Island, the mind workers are just obsessed with those little pocket monsters.
    And it seems they've been expecting you. These mind workers have tasked you with
    capturing wild pokémon, defeating the island's trainers, and challenging your rival
    (you have a rival?) for the title of Pokémon Master. Looks like you're going to have to
    play along if you want to find that memory orb.</p>
  <ul>
    {% for i in range(1,numTrainers+1) %}
      {%- set trainer = 'pokemon-meta-' + i|string -%}
      {%- set trainer_text = meta_text[i-1] -%}
      {%- set substitutions = {
        'name': macros.format_meta(names[trainer]),
        'answer': macros.format_answer(answers[trainer]),
      } -%}
      <li>
        <p>
          {{- trainer_text[statuses[trainer] | lower].format(**substitutions) | safe -}}
        </p>
      </li>
    {% endfor %}
  </ul>
  
  {% if statuses['pokemon-supermeta'] in ['UNLOCKED', 'SOLVED'] %}
    <p>
      {%- set substitutions = {
        'name': macros.format_meta(names['pokemon-supermeta']),
        'conjugation': 'was' if statuses['pokemon-recovery'] == 'SOLVED' else 'is',
        'answer': macros.format_answer(answers['pokemon-supermeta']),
      } -%}
      {{- end_text['supermeta'][statuses['pokemon-supermeta'] | lower].format(**substitutions) | safe -}}
    </p>
  {% endif %}
  
  {% if statuses['pokemon-recovery'] in ['UNLOCKED', 'SOLVED'] %}
    <p>
      {{- end_text['recovery'][statuses['pokemon-recovery'] | lower] | safe -}}
    </p>
  {% endif %}

{% endblock %}
