{% extends "objective.html" %}

{# Dependent on: 
    is_hunt_started
#}

{% set objective_id = "prepare" %}
{% set objective_name = "Prepare for Search and Rescue" %}
{% set objective_video_id = 'wRvQTy393wY' %}
{% set objective_unlocked = true %}
{% set objective_complete = is_hunt_started %}
{% set objective_video_visible = true %}

{% block objective_action_item_1 %}
  The search and rescue operation begins at 1300 hours
{% endblock %}

{% block objective_action_item_2 %}
{% endblock %}

{% block objective_body %}
  <p>
    Terry Hunter was hoping to take a break from her thesis this weekend and enjoy the MIT
    Mystery Hunt, but disaster struck when this year&rsquo;s theme was revealed: Health &amp;
    Safety. While Fear loved the concept, Anger&rsquo;s negative reaction was&hellip; disproportionate. The
    ensuing conflict critically damaged memories stored in the Control Room, triggered an
    evacuation of all Core Memories to their failsafe Island Storage Systems and, even more
    distressingly, resulted in every emotion going missing!</p>
  <p>
    Buzzy, from the esteemed Cranium Command, volunteered to pilot Terry while you find the
    emotions and bring them back to the Control Room.
  </p>
  {% if is_hunt_started %}
    <p>
      You and your fellow mind workers began a search &amp; rescue mission to find the emotions
      and get Terry&rsquo;s brain back in tip-top condition. Now, where do you think you are? Disney
      World? Let&rsquo;s move, move, move!
    </p>
  {% else %}
    <p>
      As mind worker recruits, your job is to find the emotions and get Terry&rsquo;s brain back in
      tip-top condition.  Prepare your squadron for deployment at 1300 hours.
      Good luck, cadets!
    </p>
  {% endif %}
{% endblock %}