{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Dan Collins{% endblock %}
{% block solution %}STEP DADDY{% endblock %}

{% block solution_head_block %}
{# Table font size shrunk so that table content doesn't need to wrap #}
<style>
  .puzzle-content table.clue-solutions {
    font-size: 0.8em;
  }

  .puzzle-content table.clue-solutions td {
    padding: 0.8em;
  }

  .puzzle-content table.grid {
    border-collapse: collapse;
  }

  .puzzle-content table.grid td {
    height: 1.25em;
    width: 1.25em;
    text-align: center;
    vertical-align: center;
  }

  .puzzle-content table.grid td.box {
    background-color: white;
    border: 1px black solid;
  }

  .puzzle-content table.grid td.box.highlight {
    background-color: yellow;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>Each of the 31 pictures clues a nickname associated with a (current
  or former) NBA basketball player, sorted in alphabetical order by
  last name.</p>

<table class="solution-table clue-solutions">
  <thead>
    <tr>
      <th>Player Name</th>
      <th>Nickname</th>
      <th>NBA Teams Played For</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Shareef <code>ABDUR-RAHIM</code></td><td>Reef</td><td>Grizzlies, Hawks, Trailblazers, Kings</td></tr>
    <tr><td>Ray <code>ALLEN</code></td><td>Jesus Shuttlesworth</td><td>Bucks, Supersonics (today, Thunder), Celtics, Heat</td></tr>
    <tr><td>Stacey <code>AUGMON</code></td><td>Plastic Man</td><td>Hawks, Pistons, Trailblazers, Hornets, Magic</td></tr>
    <tr><td>Charles <code>BARKLEY</code></td><td>Round Mound of Rebound</td><td>76ers, Suns, Rockets</td></tr>
    <tr><td>Larry <code>BIRD</code></td><td>The Hick From French Lick</td><td>Celtics</td></tr>
    <tr><td>Matt <code>BONNER</code></td><td>Red Rocket</td><td>Raptors, Spurs</td></tr>
    <tr><td>Kobe <code>BRYANT</code></td><td>Black Mamba</td><td>Lakers</td></tr>
    <tr><td>Glen <code>DAVIS</code></td><td>Big Baby</td><td>Celtics, Magic, Clippers</td></tr>
    <tr><td>Kevin <code>DURANT</code></td><td>Slim Reaper</td><td>Supersonics (today, Thunder), Warriors</td></tr>
    <tr><td>George <code>GERVIN</code></td><td>The Iceman</td><td>Spurs, Bulls</td></tr>
    <tr><td>Harold <code>HAIRSTON</code></td><td>Happy</td><td>Royals (today, Kings), Pistons, Lakers</td></tr>
    <tr><td>Anfernee <code>HARDAWAY</code></td><td>Penny</td><td>Magic, Suns, Knicks, Heat</td></tr>
    <tr><td>Kirk <code>HINRICH</code></td><td>Captain Kirk</td><td>Bulls, Wizards, Hawks</td></tr>
    <tr><td>Allen <code>IVERSON</code></td><td>The Answer</td><td>76ers, Nuggets, Pistons, Grizzlies</td></tr>
    <tr><td>Šarūnas <code>JASIKEVIČIUS</code></td><td>Jazzy Cabbages</td><td>Pacers, Warriors</td></tr>
    <tr><td>Joe <code>JOHNSON</code></td><td>Iso Joe</td><td>Celtics, Suns, Hawks, Nets, Heat, Jazz</td></tr>
    <tr><td>Andrei <code>KIRILENKO</code></td><td>AK47</td><td>Jazz, Timberwolves, Nets</td></tr>
    <tr><td>Moses <code>MALONE</code></td><td>Chairman of the Boards</td><td>Braves (today, Clippers), Rockets, 76ers, Bullets, Hawks, Bucks, Spurs</td></tr>
    <tr><td>Vernon <code>MAXWELL</code></td><td>Mad Max</td><td>Spurs, Rockets, 76ers, Magic, Hornets, Kings, Supersonics (today, Thunder), Mavericks</td></tr>
    <tr><td>Xavier <code>MCDANIEL</code></td><td>X-Man</td><td>Supersonics (today, Thunder), Suns, Knicks, Celtics, Nets</td></tr>
    <tr><td>Earl <code>MONROE</code></td><td>Earl the Pearl</td><td>Bullets (today, Wizards), Knicks</td></tr>
    <tr><td>Steve <code>NASH</code></td><td>Hair Canada</td><td>Suns, Mavericks, Lakers</td></tr>
    <tr><td>Hakeem <code>OLAJUWON</code></td><td>The Dream</td><td>Rockets, Raptors</td></tr>
    <tr><td>Shaquille <code>ONEAL</code></td><td>The Big Aristotle</td><td>Magic, Lakers, Heat, Suns, Cavaliers, Celtics</td></tr>
    <tr><td>Robert <code>PARISH</code></td><td>The Chief</td><td>Warriors, Celtics, Hornets, Bulls</td></tr>
    <tr><td>Paul <code>PIERCE</code></td><td>The Truth</td><td>Celtics, Nets, Wizards, Clippers</td></tr>
    <tr><td>David <code>ROBINSON</code></td><td>The Admiral</td><td>Spurs</td></tr>
    <tr><td>Dennis <code>RODMAN</code></td><td>The Worm</td><td>Pistons, Spurs, Bulls, Lakers, Mavericks</td></tr>
    <tr><td>Brian <code>SCALABRINE</code></td><td>White Mamba</td><td>Nets, Celtics, Bulls</td></tr>
    <tr><td>Rik <code>SMITS</code></td><td>The Dunking Dutchman</td><td>Pacers</td></tr>
    <tr><td>John <code>WALL</code></td><td>Optimus Dime</td><td>Wizards</td></tr>
  </tbody>
</table>

<p>The last names of the players can then be filled into the grid as
  below. As the flavor text suggests, a cluephrase can be read off
  from the crossings between two players that have played on the same
  team, highlighted in yellow. In all of these cases, it’s actually a
  team that both players are strongly associated with.</p>

<table class="grid">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">N</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">H</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">A</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">J</td>
    <td class="box">A</td>
    <td class="box">S</td>
    <td class="box">I</td>
    <td class="box">K</td>
    <td class="box">E</td>
    <td class="box">V</td>
    <td class="box">I</td>
    <td class="box">Č</td>
    <td class="box">I</td>
    <td class="box">U</td>
    <td class="box">S</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">S</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">W</td>
    <td>&nbsp;</td>
    <td class="box">B</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">U</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">N</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box highlight">H</td>
    <td class="box">A</td>
    <td class="box">R</td>
    <td class="box">D</td>
    <td class="box">A</td>
    <td class="box">W</td>
    <td class="box highlight">A</td>
    <td class="box">Y</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">M</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">G</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box highlight">R</td>
    <td class="box">O</td>
    <td class="box">D</td>
    <td class="box">M</td>
    <td class="box">A</td>
    <td class="box">N</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">L</td>
    <td>&nbsp;</td>
    <td class="box">R</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">A</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">M</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">I</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="box">M</td>
    <td class="box">C</td>
    <td class="box highlight">D</td>
    <td class="box">A</td>
    <td class="box">N</td>
    <td class="box">I</td>
    <td class="box">E</td>
    <td class="box">L</td>
    <td>&nbsp;</td>
    <td class="box">K</td>
    <td class="box">I</td>
    <td class="box">R</td>
    <td class="box">I</td>
    <td class="box">L</td>
    <td class="box">E</td>
    <td class="box">N</td>
    <td class="box">K</td>
    <td class="box">O</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">C</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">U</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">L</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">O</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">N</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">A</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">H</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">R</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">I</td>
    <td class="box">V</td>
    <td class="box highlight">E</td>
    <td class="box">R</td>
    <td class="box">S</td>
    <td class="box">O</td>
    <td class="box highlight">N</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">L</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">A</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">Y</td>
    <td>&nbsp;</td>
    <td class="box">M</td>
    <td>&nbsp;</td>
    <td class="box">E</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">L</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">N</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">I</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box highlight">P</td>
    <td class="box">I</td>
    <td class="box">E</td>
    <td class="box">R</td>
    <td class="box">C</td>
    <td class="box highlight">E</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">T</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">J</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">T</td>
    <td>&nbsp;</td>
    <td class="box">M</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">A</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">N</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">B</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">O</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">S</td>
    <td class="box">C</td>
    <td class="box">A</td>
    <td class="box">L</td>
    <td class="box">A</td>
    <td class="box">B</td>
    <td class="box highlight">R</td>
    <td class="box">I</td>
    <td class="box">N</td>
    <td class="box">E</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">B</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="box">A</td>
    <td class="box">B</td>
    <td class="box">D</td>
    <td class="box">U</td>
    <td class="box">R</td>
    <td class="box">R</td>
    <td class="box">A</td>
    <td class="box highlight">H</td>
    <td class="box">I</td>
    <td class="box">M</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">X</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">I</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">R</td>
    <td class="box highlight">O</td>
    <td class="box">B</td>
    <td class="box">I</td>
    <td class="box">N</td>
    <td class="box">S</td>
    <td class="box">O</td>
    <td class="box">N</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">Y</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">N</td>
    <td>&nbsp;</td>
    <td class="box">O</td>
    <td class="box">L</td>
    <td class="box">A</td>
    <td class="box">J</td>
    <td class="box">U</td>
    <td class="box highlight">W</td>
    <td class="box">O</td>
    <td class="box">N</td>
    <td>&nbsp;</td>
    <td class="box">S</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">N</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="box">O</td>
    <td class="box">N</td>
    <td class="box">E</td>
    <td class="box highlight">A</td>
    <td class="box">L</td>
    <td>&nbsp;</td>
    <td class="box">S</td>
    <td>&nbsp;</td>
    <td class="box">N</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">E</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">H</td>
    <td class="box">A</td>
    <td class="box">I</td>
    <td class="box">R</td>
    <td class="box">S</td>
    <td class="box">T</td>
    <td class="box">O</td>
    <td class="box">N</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">N</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">O</td>
    <td>&nbsp;</td>
    <td class="box">R</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">L</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">E</td>
    <td>&nbsp;</td>
    <td class="box">B</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">T</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">N</td>
    <td>&nbsp;</td>
    <td class="box">O</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">L</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">G</td>
    <td class="box">E</td>
    <td class="box highlight">R</td>
    <td class="box">V</td>
    <td class="box">I</td>
    <td class="box">N</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">E</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box">R</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="box highlight">D</td>
    <td class="box">A</td>
    <td class="box">V</td>
    <td class="box">I</td>
    <td class="box">S</td>
  </tr>
</table>

<p>The highlighted letters fit into the blanks below the grid to spell
  out <code>HARDEN, PER HOWARD</code>. Dwight Howard gave the nickname
  <strong><code>STEP DADDY</code></strong> to his then-teammate James
  Harden, and this is the final answer (and fits into the enumeration
  for the image cluing that Allen Iverson is The Answer).</p>
{% endblock %}
