{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}
By James Douberley, Nathan Fung, Hubert Hwang, Kevin Hwang, and Henry Wong
{% endblock %}
{% block solution %}PICK A FIGHT WITH LOCK{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content .braille-grid {
    border-spacing: 0.5em;
  }

  .puzzle-content .braille-grid td {
    width: 1em;
    height: 1em;
    text-align: center;
    vertical-align: middle;
  }

  .puzzle-content .braille-grid .filled {
    border-radius: 50%;
    background-color: black;
    color: white;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>After solving the Anger memory puzzles, solvers are presented
  with the following answers (in alphabetical order):</p>

<ul>
  <li><code>AD NAUSEAM</code></li>
  <li><code>AMBER BEER</code></li>
  <li><code>ARGUE OVER</code></li>
  <li><code>ASCENSION</code></li>
  <li><code>ASTRAKHAN</code></li>
  <li><code>BONE GRAFT</code></li>
  <li><code>ELIZABETH</code></li>
  <li><code>ERIC ANGLE</code></li>
  <li><code>EXAM GRADE</code></li>
  <li><code>EXCURSION</code></li>
  <li><code>LASER BEAM</code></li>
  <li><code>SUPERIORS</code></li>
</ul>

<p>However, each puzzle page has an &ldquo;Anger meter&rdquo; showing
  how fired up Anger is about that particular puzzle. Here’s an example:</p>

<p>
  <img src="{{ asset_url_for('solutions/anger/anger_meter.png') }}">
</p>

<p>Each of the twelve Anger memory puzzles has a different
  thermometer, which can be sorted from least fired up to most fired
  up. This provides a new ordering for the answers from this round:</p>

<ul>
  <li><code>ARGUE OVER</code></li>
  <li><code>AD NAUSEAM</code></li>
  <li><code>LASER BEAM</code></li>
  <li><code>ASTRAKHAN</code></li>
  <li><code>AMBER BEER</code></li>
  <li><code>EXCURSION</code></li>
  <li><code>EXAM GRADE</code></li>
  <li><code>SUPERIORS</code></li>
  <li><code>ELIZABETH</code></li>
  <li><code>BONE GRAFT</code></li>
  <li><code>ERIC ANGLE</code></li>
  <li><code>ASCENSION</code></li>
</ul>

<p>The answers can be filled into the provided grid in this order by
  orienting them vertically:</p>

<table class="braille-grid">
  <tr>
    <td>A</td>
    <td>A</td>
    <td>L</td>
    <td>A</td>
    <td>A</td>
    <td>E</td>
    <td>E</td>
    <td>S</td>
    <td>E</td>
    <td>B</td>
    <td>E</td>
    <td>A</td>
  </tr>
  <tr>
    <td>R</td>
    <td>D</td>
    <td>A</td>
    <td>S</td>
    <td>M</td>
    <td>X</td>
    <td>X</td>
    <td>U</td>
    <td>L</td>
    <td>O</td>
    <td>R</td>
    <td>S</td>
  </tr>
  <tr>
    <td>G</td>
    <td>N</td>
    <td>S</td>
    <td>T</td>
    <td>B</td>
    <td>C</td>
    <td>A</td>
    <td>P</td>
    <td>I</td>
    <td>N</td>
    <td>I</td>
    <td>C</td>
  </tr>
  <tr>
    <td>U</td>
    <td>A</td>
    <td>E</td>
    <td>R</td>
    <td>E</td>
    <td>U</td>
    <td>M</td>
    <td>E</td>
    <td>Z</td>
    <td>E</td>
    <td>C</td>
    <td>E</td>
  </tr>
  <tr>
    <td>E</td>
    <td>U</td>
    <td>R</td>
    <td>A</td>
    <td>R</td>
    <td>R</td>
    <td>G</td>
    <td>R</td>
    <td>A</td>
    <td>G</td>
    <td>A</td>
    <td>N</td>
  </tr>
  <tr>
    <td>O</td>
    <td>S</td>
    <td>B</td>
    <td>K</td>
    <td>B</td>
    <td>S</td>
    <td>R</td>
    <td>I</td>
    <td>B</td>
    <td>R</td>
    <td>N</td>
    <td>S</td>
  </tr>
  <tr>
    <td>V</td>
    <td>E</td>
    <td>E</td>
    <td>H</td>
    <td>E</td>
    <td>I</td>
    <td>A</td>
    <td>O</td>
    <td>E</td>
    <td>A</td>
    <td>G</td>
    <td>I</td>
  </tr>
  <tr>
    <td>E</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>E</td>
    <td>O</td>
    <td>D</td>
    <td>R</td>
    <td>T</td>
    <td>F</td>
    <td>L</td>
    <td>O</td>
  </tr>
  <tr>
    <td>R</td>
    <td>M</td>
    <td>M</td>
    <td>N</td>
    <td>R</td>
    <td>N</td>
    <td>E</td>
    <td>S</td>
    <td>H</td>
    <td>T</td>
    <td>E</td>
    <td>N</td>
  </tr>
</table>

<p>As suggested by the flavor text (&ldquo;blind with rage&rdquo;),
  this grid can be interpreted as Braille by treating letters in
  <code>RAGE</code> as filled in, and all other letters as blank:</p>

<table class="braille-grid">
  <tr>
    <td class="filled">A</td>
    <td class="filled">A</td>
    <td class="spacer"></td>
    <td>L</td>
    <td class="filled">A</td>
    <td class="spacer"></td>
    <td class="filled">A</td>
    <td class="filled">E</td>
    <td class="spacer"></td>
    <td class="filled">E</td>
    <td>S</td>
    <td class="spacer"></td>
    <td class="filled">E</td>
    <td>B</td>
    <td class="spacer"></td>
    <td class="filled">E</td>
    <td class="filled">A</td>
  </tr>
  <tr>
    <td class="filled">R</td>
    <td>D</td>
    <td class="spacer"></td>
    <td class="filled">A</td>
    <td>S</td>
    <td class="spacer"></td>
    <td>M</td>
    <td>X</td>
    <td class="spacer"></td>
    <td>X</td>
    <td>U</td>
    <td class="spacer"></td>
    <td>L</td>
    <td>O</td>
    <td class="spacer"></td>
    <td class="filled">R</td>
    <td>S</td>
  </tr>
  <tr>
    <td class="filled">G</td>
    <td>N</td>
    <td class="spacer"></td>
    <td>S</td>
    <td>T</td>
    <td class="spacer"></td>
    <td>B</td>
    <td>C</td>
    <td class="spacer"></td>
    <td class="filled">A</td>
    <td>P</td>
    <td class="spacer"></td>
    <td>I</td>
    <td>N</td>
    <td class="spacer"></td>
    <td>I</td>
    <td>C</td>
  </tr>
  <tr><td class="spacer"></td></tr>
  <tr>
    <td>U</td>
    <td class="filled">A</td>
    <td class="spacer"></td>
    <td class="filled">E</td>
    <td class="filled">R</td>
    <td class="spacer"></td>
    <td class="filled">E</td>
    <td>U</td>
    <td class="spacer"></td>
    <td>M</td>
    <td class="filled">E</td>
    <td class="spacer"></td>
    <td>Z</td>
    <td class="filled">E</td>
    <td class="spacer"></td>
    <td>C</td>
    <td class="filled">E</td>
  </tr>
  <tr>
    <td class="filled">E</td>
    <td>U</td>
    <td class="spacer"></td>
    <td class="filled">R</td>
    <td class="filled">A</td>
    <td class="spacer"></td>
    <td class="filled">R</td>
    <td class="filled">R</td>
    <td class="spacer"></td>
    <td class="filled">G</td>
    <td class="filled">R</td>
    <td class="spacer"></td>
    <td class="filled">A</td>
    <td class="filled">G</td>
    <td class="spacer"></td>
    <td class="filled">A</td>
    <td>N</td>
  </tr>
  <tr>
    <td>O</td>
    <td>S</td>
    <td class="spacer"></td>
    <td>B</td>
    <td>K</td>
    <td class="spacer"></td>
    <td>B</td>
    <td>S</td>
    <td class="spacer"></td>
    <td class="filled">R</td>
    <td>I</td>
    <td class="spacer"></td>
    <td>B</td>
    <td class="filled">R</td>
    <td class="spacer"></td>
    <td>N</td>
    <td>S</td>
  </tr>
  <tr class="spacer"><td></td></tr>
  <tr>
    <td>V</td>
    <td class="filled">E</td>
    <td class="spacer"></td>
    <td class="filled">E</td>
    <td>H</td>
    <td class="spacer"></td>
    <td class="filled">E</td>
    <td>I</td>
    <td class="spacer"></td>
    <td class="filled">A</td>
    <td>O</td>
    <td class="spacer"></td>
    <td class="filled">E</td>
    <td class="filled">A</td>
    <td class="spacer"></td>
    <td class="filled">G</td>
    <td>I</td>
  </tr>
  <tr>
    <td class="filled">E</td>
    <td class="filled">A</td>
    <td class="spacer"></td>
    <td class="filled">A</td>
    <td class="filled">A</td>
    <td class="spacer"></td>
    <td class="filled">E</td>
    <td>O</td>
    <td class="spacer"></td>
    <td>D</td>
    <td class="filled">R</td>
    <td class="spacer"></td>
    <td>T</td>
    <td>F</td>
    <td class="spacer"></td>
    <td>L</td>
    <td>O</td>
  </tr>
  <tr>
    <td class="filled">R</td>
    <td>M</td>
    <td class="spacer"></td>
    <td>M</td>
    <td>N</td>
    <td class="spacer"></td>
    <td class="filled">R</td>
    <td>N</td>
    <td class="spacer"></td>
    <td class="filled">E</td>
    <td>S</td>
    <td class="spacer"></td>
    <td>H</td>
    <td>T</td>
    <td class="spacer"></td>
    <td class="filled">E</td>
    <td>N</td>
  </tr>
</table>

<p>Reading the Braille left-to-right, top-to-bottom provides the
  answer, <strong><code>PICK A FIGHT WITH LOCK</code></strong>.</p>
  
<p>Shortly after solving this puzzle, each team is <a href="{{ url_for('full_puzzle' if session.usertype == 'writingteam' else 'puzzle', puzzle_id='anger_encounter') }}">visited by Anger</a>.</p>
{% endblock %}
