{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}Kevin Hwang, Mark Leach, and Laina Lomina{% endblock %}
{% block solution %}CONFINED AQUIFER{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content img {
    max-width: 100%;
  }

  .puzzle-content .spoon-image {
    border: 1px solid black;
  }

  .puzzle-content table.team-table, .puzzle-content table.team-table td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .puzzle-content table.team-table {
    width: 100%;
  }

  .puzzle-content table.team-table td {
    width: 20%;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>Solvers were given a 12&Prime; diameter wooden shield and a total of 20 wooden spoons. The shield was etched to have the following pattern on it, with holes halfway between each tick mark:</p>

<img {{ img_src_for('solutions/arts_and_crafts/shield-1.png') }} >

<p>The spoons had the following images pasted on them, one half on the front and one half on the back:</p>

<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/01.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/02.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/03.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/04.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/05.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/06.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/07.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/08.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/09.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/10.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/11.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/12.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/13.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/14.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/15.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/16.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/17.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/18.png') }} >
<img class="spoon-image" {{ img_src_for('solutions/arts_and_crafts/20.png') }} >

<p>When matched properly, these images will clue teams in Major League Soccer.</p>

<table class="team-table">
  <tr>
    <td>Chicago Fire</td>
    <td>Chivas USA</td>
    <td>Colorado Rapids</td>
    <td>Columbus Crew</td>
    <td>Dallas Burn</td>
  </tr>
  <tr>
    <td><img {{ img_src_for('solutions/arts_and_crafts/21.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/22.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/23.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/24.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/25.png') }} ></td>
  </tr>
  <tr>
    <td>DC United</td>
    <td>FC Dallas</td>
    <td>Kansas City Wizards</td>
    <td>Los Angeles Galaxy</td>
    <td>MetroStars</td>
  </tr>
  <tr>
    <td><img {{ img_src_for('solutions/arts_and_crafts/26.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/27.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/28.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/29.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/30.png') }} ></td>
  </tr>
  <tr>
    <td>Miami Fusion</td>
    <td>Montreal Impact</td>
    <td>New England Revolution</td>
    <td>New York Red Bulls</td>
    <td>San Jose Clash</td>
  </tr>
  <tr>
    <td><img {{ img_src_for('solutions/arts_and_crafts/31.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/32.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/33.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/34.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/35.png') }} ></td>
  </tr>
  <tr>
    <td>San Jose Earthquakes</td>
    <td>Seattle Sounders FC</td>
    <td>Tampa Bay Mutiny</td>
    <td>Toronto FC</td>
    <td>Vancouver Whitecaps FC</td>
  </tr>
  <tr>
    <td><img {{ img_src_for('solutions/arts_and_crafts/36.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/37.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/38.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/39.png') }} ></td>
    <td><img {{ img_src_for('solutions/arts_and_crafts/40.png') }} ></td>
  </tr>
</table>

<p>Each one of the named teams has won either the MLS <b>Wooden Spoon</b> or the MLS <b>Supporters&rsquo; Shield</b> at least once, and this list is comprised of all teams to have done so. By matching the Spoon and Shield winners by year, you will get the following table:</p>

<table class="solution-table condensed-table">
  <tr>
    <th>Year</th>
    <th>Wooden Spoon</th>
    <th>Supporters&rsquo; Shield</th>
  </tr>
  <tr>
    <td>1996</td>
    <td>Colorado Rapids</td>
    <td>Tampa Bay Mutiny</td>
  </tr>
  <tr>
    <td>1997</td>
    <td>San Jose Clash</td>
    <td>DC United</td>
  </tr>
  <tr>
    <td>1998</td>
    <td>New England Revolution</td>
    <td>Los Angeles Galaxy</td>
  </tr>
  <tr>
    <td>1999</td>
    <td>MetroStars</td>
    <td>DC United</td>
  </tr>
  <tr>
    <td>2000</td>
    <td>San Jose Earthquakes</td>
    <td>Kansas City Wizards</td>
  </tr>
  <tr>
    <td>2001</td>
    <td>Tampa Bay Mutiny</td>
    <td>Miami Fusion</td>
  </tr>
  <tr>
    <td>2002</td>
    <td>DC United</td>
    <td>Los Angeles Galaxy</td>
  </tr>
  <tr>
    <td>2003</td>
    <td>Dallas Burn</td>
    <td>Chicago Fire</td>
  </tr>
  <tr>
    <td>2004</td>
    <td>Chicago Fire</td>
    <td>Columbus Crew</td>
  </tr>
  <tr>
    <td>2005</td>
    <td>Chivas USA</td>
    <td>San Jose Earthquakes</td>
  </tr>
  <tr>
    <td>2006</td>
    <td>Columbus Crew</td>
    <td>DC United</td>
  </tr>
  <tr>
    <td>2007</td>
    <td>Toronto FC</td>
    <td>DC United</td>
  </tr>
  <tr>
    <td>2008</td>
    <td>San Jose Earthquakes</td>
    <td>Columbus Crew</td>
  </tr>
  <tr>
    <td>2009</td>
    <td>New York Red Bulls</td>
    <td>Columbus Crew</td>
  </tr>
  <tr>
    <td>2010</td>
    <td>DC United</td>
    <td>Los Angeles Galaxy</td>
  </tr>
  <tr>
    <td>2011</td>
    <td>Vancouver Whitecaps FC</td>
    <td>Los Angeles Galaxy</td>
  </tr>
  <tr>
    <td>2012</td>
    <td>Toronto FC</td>
    <td>San Jose Earthquakes</td>
  </tr>
  <tr>
    <td>2013</td>
    <td>DC United</td>
    <td>New York Red Bulls</td>
  </tr>
  <tr>
    <td>2014</td>
    <td>Montreal Impact</td>
    <td>Seattle Sounders FC</td>
  </tr>
  <tr>
    <td>2015</td>
    <td>Chicago Fire</td>
    <td>New York Red Bulls</td>
  </tr>
  <tr>
    <td>2016</td>
    <td>Chicago Fire</td>
    <td>FC Dallas</td>
  </tr>
  <tr>
    <td>2017</td>
    <td>Los Angeles Galaxy</td>
    <td>Toronto FC</td>
  </tr>
</table>

<p>This gives a forced arrangement around the circle and connections between teams. Teams should insert the spoons into the holes. If teams draw lines connecting the tick marks for each Shield and Spoon winner for each year, they will see this:</p>

<img {{ img_src_for('solutions/arts_and_crafts/shield-2.png') }}>

<p>When they arrange the letters chronologically from 1996 to 2017 they will get the instruction phrase <code>MAKE A TIFO AND HOIST FOR HQ</code>.</p>

<p>Upon completing the task of creating a tifo display and presenting it to Hunt HQ, they will be given the answer, <strong><code>CONFINED AQUIFER</code></strong>.</p>
{% endblock %}
