{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Charles Steinhardt and Dan Collins{% endblock %}
{% block solution %}PERSONNEL{% endblock %}

{% block solution_content_block %}
<p>Each clue can be answered with a homophone of a word of the indicated length. The clues are in alphabetical order by answer, but also each start with a different letter of the alphabet. Reordering alphabetically by that letter, the clue answers are:</p>

<table class="solution-table condensed-table">
  <tr>
    <th>Clue</th>
    <th>Homophone</th>
    <th>Answer</th>
  </tr>
  <tr>
    <td>A diatribe about animal skin (7)</td>
    <td>HIDE RANT</td>
    <td><code>HYDRANT</code></td>
  </tr>
  <tr>
    <td>Boarding house run by hippies (5)</td>
    <td>HERB INN</td>
    <td><code>URBAN</code></td>
  </tr>
  <tr>
    <td>Ceremony that has more beef than another one (9)</td>
    <td>MEATIER RITE</td>
    <td><code>METEORITE</code></td>
  </tr>
  <tr>
    <td>Donkey culpability (7)</td>
    <td>ASS FAULT</td>
    <td><code>ASPHALT</code></td>
  </tr>
  <tr>
    <td>Ewing, Starks, Bradley, and Anthony, once (3)</td>
    <td>KNICKS</td>
    <td><code>NIX</code></td>
  </tr>
  <tr>
    <td>Fare paid for a bus after a certain hour (7)</td>
    <td>NIGHT RATE</td>
    <td><code>NITRATE</code></td>
  </tr>
  <tr>
    <td>Great British heroes such as Sir Ulfius and Sir Uriens (6)</td>
    <td>U KNIGHTS</td>
    <td><code>UNITES</code></td>
  </tr>
  <tr>
    <td>Haze-caused involuntary laughing reaction (8)</td>
    <td>MIST TICKLE</td>
    <td><code>MYSTICAL</code></td>
  </tr>
  <tr>
    <td>It might be found in the third Vice President’s magic lamp (7)</td>
    <td>BURR DJINN</td>
    <td><code>BURGEON</code></td>
  </tr>
  <tr>
    <td>Jousting or Cnapan, for example (6)</td>
    <td>EX SPORT</td>
    <td><code>EXPORT</code></td>
  </tr>
  <tr>
    <td>Kingly casual shirts (9)</td>
    <td>ROYAL TEES</td>
    <td><code>ROYALTIES</code></td>
  </tr>
  <tr>
    <td>Lovely evening (6)</td>
    <td>FINE NIGHT</td>
    <td><code>FINITE</code></td>
  </tr>
  <tr>
    <td>Mythological rascals listed in a will (7)</td>
    <td>IMP HEIRS</td>
    <td><code>IMPAIRS</code></td>
  </tr>
  <tr>
    <td>Nagging soreness for a Jedi overexerting their powers (7)</td>
    <td>FORCE ACHE</td>
    <td><code>FORSAKE</code></td>
  </tr>
  <tr>
    <td>One who neuters a female pushpin (8)</td>
    <td>TACK SPAYER</td>
    <td><code>TAXPAYER</code></td>
  </tr>
  <tr>
    <td>Powerfully voice an expression of surprise (6)</td>
    <td>YELL “OH”</td>
    <td><code>YELLOW</code></td>
  </tr>
  <tr>
    <td>Queasy or otherwise ailing bird of prey (7)</td>
    <td>ILL EAGLE</td>
    <td><code>ILLEGAL</code></td>
  </tr>
  <tr>
    <td>Recognized buzzing insects (7)</td>
    <td>KNEW BEES</td>
    <td><code>NEWBIES</code></td>
  </tr>
  <tr>
    <td>Spirit or vigor from a sunbeam (7)</td>
    <td>RAY ZING</td>
    <td><code>RAISING</code></td>
  </tr>
  <tr>
    <td>Tiny pieces of a rock containing valuable minerals (6)</td>
    <td>ORE BITS</td>
    <td><code>ORBITS</code></td>
  </tr>
  <tr>
    <td>Uglify an item that lets you in (7)</td>
    <td>MAR KEY</td>
    <td><code>MARQUEE</code></td>
  </tr>
  <tr>
    <td>Vote Perry or Santorum into office (8)</td>
    <td>ELECT RICK</td>
    <td><code>ELECTRIC</code></td>
  </tr>
  <tr>
    <td>Whinny whinny whinny whiiiiiiiiinny, to Samuel Horse? (4)</td>
    <td>NEIGH V</td>
    <td><code>NAVY</code></td>
  </tr>
  <tr>
    <td>X-axis (or something similarly straight) produced by a fountain pen (7)</td>
    <td>INK LINE</td>
    <td><code>INCLINE</code></td>
  </tr>
  <tr>
    <td>Yamu, Memphis, Thebes, and Aswan, in a sequence (8)</td>
    <td>NILE LIST</td>
    <td><code>NIHILIST</code></td>
  </tr>
  <tr>
    <td>Zales purchase by J.J. Watt (9)</td>
    <td>END EARRING</td>
    <td><code>ENDEARING</code></td>
  </tr>
</table>

<p>The initial letters of the answer spell <code>HUMAN NUMBER FIFTY IN ROME (NINE)</code>, which is a similar clue for the answer, <strong><code>PERSONNEL</code></strong> (<code>PERSON L</code>).</p>
{% endblock %}
