{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Elizabeth French, Justin Melvin, and Erica Newman{% endblock %}
{% block solution %}TENDINOPATHIES{% endblock %}

{% block solution_head_block %}
  <style>
    .puzzle-container .data-matrix td {
      text-align: center;
      padding: 2em;
    }

    .puzzle-container .puzzle-content > img {
      width: 100%;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <p>Solvers are presented with multiple 10&times;10 grids of
    pictures, each consisting of visually similar pictures in the
    style of the <a href="http://www.npr.org/sections/thesalt/2016/03/11/470084215/canine-or-cuisine-this-photo-meme-is-fetching">&ldquo;canine or cuisine&rdquo; meme</a>.</p>

  <p>For each group of images, solvers must first identify which
    images are dogs and which are food. Treating those as black and
    white, respectively, yields four <a href="https://en.wikipedia.org/wiki/Data_Matrix">data matrices</a>:</p>

  <table class="data-matrix">
    <tr>
      <td>
        <img {{ img_src_for('solutions/bark_ode/data-matrix-1.png') }}><br>
        <i>Labrador or Fried Chicken</i>
      </td>
      <td>
        <img {{ img_src_for('solutions/bark_ode/data-matrix-2.png') }}><br>
        <i>Dalmatian or Chocolate Chip Ice Cream</i>
      </td>
    </tr>
    <tr>
      <td>
        <img {{ img_src_for('solutions/bark_ode/data-matrix-3.png') }}><br>
        <i>Shar Pei or Croissant</i>
      </td>
      <td>
        <img {{ img_src_for('solutions/bark_ode/data-matrix-4.png') }}><br>
        <i>Chihuahua or Muffin</i>
      </td>
    </tr>
  </table>

  <p>Scanning the data matrices in order yields the phrase <code>PRIME
    RED RGBA</code>. Therefore, solvers must next search the RGBA
    channel of the image for pixels where the red channels is
    prime. Treating pixels with prime red values as black and all
    other pixels as white yields the following image:</p>

  <img {{ img_src_for('solutions/bark_ode/qr.png') }}>

  <p>This QR code scans to <code>METADATA DESCRIPTION FLIP BITS JPEG</code>. The
    description field of the image&rsquo;s XMP metadata contains a
    string of roughly 4000 hex digits. Decoding the hex values,
    flipping all bits (i.e. XORing with 0xFF), and treating the
    resulting data as a JPEG image yields the following:</p>

  <img {{ img_src_for('solutions/bark_ode/barcode.jpg') }}>

  <p>This is a <a href="https://en.wikipedia.org/wiki/Code_128">Code
    128</a> barcode containing the string <strong><code>TENDINOPATHIES</code></strong>,
    which is the answer.</p>
{% endblock %}
