{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Kawika Pierson{% endblock %}
{% block solution %}NIGHTLY{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content .images {
    margin: 20px 0px;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>The puzzle presents solvers with chopped-up images from Polygon’s <i>Monster Factory</i> YouTube series, along with chopped up words which solvers should be able to identify as the names of each of the monsters in the images.</p>
<p>The first step in solving the puzzle is to “stitch” back together each of the monsters and similarly reassemble the monster names from the name fragments. The correct monster images and names are:</p>
<div class="images">
  <img src="{{ asset_url_for('solutions/beast_workshop/image01.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image02.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image03.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image04.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image05.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image06.png') }}"/>
</div>
<div>
  JUS TIN RUD EBO YMA NJO RST IN
</div>
<div class="images">
  <img src="{{ asset_url_for('solutions/beast_workshop/image07.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image08.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image09.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image10.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image11.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image12.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image13.png') }}"/>
</div>
<div>
  TUR BOV ICKI
</div>
<div class="images">
  <img src="{{ asset_url_for('solutions/beast_workshop/image14.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image15.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image16.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image17.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image18.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image19.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image20.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image21.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image22.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image23.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image24.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image25.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image26.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image27.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image28.png') }}"/>
</div>
<div>
  COU SIN SPE CIA LAG ENT
</div>
<div class="images">
  <img src="{{ asset_url_for('solutions/beast_workshop/image29.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image30.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image31.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image32.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image33.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image34.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image35.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image36.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image37.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image38.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image39.png') }}"/>
</div>
<div>
  CMD RTR UCK SHE PARD
</div>
<div class="images">
  <img src="{{ asset_url_for('solutions/beast_workshop/image40.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image41.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image42.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image43.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image44.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image45.png') }}"/>
</div>
<div>
  CHR IST OPH ERC HRI STO PHE RTH EPE BBL ECH RIS TOP HER CHR IST OPH ER
</div>
<div class="images">
  <img src="{{ asset_url_for('solutions/beast_workshop/image46.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image47.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image48.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image49.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image50.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image51.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image52.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image53.png') }}"/>
</div>
<div>
  THE FIN ALP AM
</div>
<div class="images">
  <img src="{{ asset_url_for('solutions/beast_workshop/image54.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image55.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image56.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image57.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image58.png') }}"/>
  <img src="{{ asset_url_for('solutions/beast_workshop/image59.png') }}"/>
</div>
<div>
  THE BOY MAY ORO FSE CON DLI FE
</div>
<p>Each image is cut into a different number of pieces, which give you an index into the reassembled monster names, as shown here:</p>
<table class="solution-table">
  <tr>
    <th>
      Monster
    </th>
    <th>
      Index
    </th>
    <th>
      Answer
    </th>
  </tr>
  <tr>
    <td>
      <code>
        JUSTINRUDEBOYMANJORSTIN
      </code>
    </td>
    <td>
      6
    </td>
    <td>
      <code>
        N
      </code>
    </td>
  <tr>
  <tr>
    <td>
      <code>
        TURBOVICKI
      </code>
    </td>
    <td>
      7
    </td>
    <td>
      <code>
        I
      </code>
    </td>
  <tr>
  <tr>
    <td>
      <code>
        COUSINSPECIALAGENT
      </code>
    </td>
    <td>
      15
    </td>
    <td>
      <code>
        G
      </code>
    </td>
  <tr>
  <tr>
    <td>
      <code>
        CMDRTRUCKSHEPARD
      </code>
    </td>
    <td>
      11
    </td>
    <td>
      <code>
        H
      </code>
    </td>
  <tr>
  <tr>
    <td>
      <code>
        CHRISTOPHERCHRISTOPHERTHEPEBBLECHRISTOPHERCHRISTOPHER
      </code>
    </td>
    <td>
      6
    </td>
    <td>
      <code>
        T
      </code>
    </td>
  <tr>
  <tr>
    <td>
      <code>
        THEFINALPAM
      </code>
    </td>
    <td>
      8
    </td>
    <td>
      <code>
        L
      </code>
    </td>
  <tr>
  <tr>
    <td>
      <code>
        THEBOYMAYOROFSECONDLIFE
      </code>
    </td>
    <td>
      6
    </td>
    <td>
      <code>
        Y
      </code>
    </td>
  <tr>
</table>
<p>The order of the first seven name fragments give the correct ordering of the letters to spell the answer word. Each of those seven name fragments is the first (or second in ambiguous cases) name fragment from one of the monsters. All other name fragments are in alphabetical order. The answer word is <strong><code>NIGHTLY</code></strong>.</p>
{% endblock %}
