{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Simone Agha{% endblock %}
{% block solution %}ASCENSION{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content .bird {
    max-width: 100px;
    max-height: 100px;
  }

  .puzzle-content .centered {
    text-align: center;
  }

  .puzzle-content .monospace {
    font-family: monospace;
    font-size: 1.25em;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>This puzzles uses the collective nouns or terms of venery for birds.</p>
<p>The list at the top of the puzzle consists of items that can be grouped according to different collective nouns. The collective nouns that are used are the ones used to describe the birds on the left-hand side of the equations at the bottom of the puzzle.</p>
<p>For example, the words Atacama, Kalahari, and Karakum are all deserts. The collective noun for lapwings is desert (the second bird of the first equation is a lapwing).</p>
<p>Once you’ve identified all of the birds on the left-hand side of the equation and categorized all of the items in the list, count up the number of items in each grouping. The number of items in a grouping is the number that the bird described by that collective noun represents in the equations.</p>
<table class="solution-table">
  <tr>
    <th>
      Picture
    </th>
    <th>
      Bird
    </th>
    <th>
      Noun
    </th>
    <th>
      Items
    </th>
    <th>
      Number of Items
    </th>
  </tr>
  <tr>
    <td>
      <img class="bird" src="{{ asset_url_for('solutions/birds_of_a_feather/swift.jpg') }}" />
    </td>
    <td>
      SWIFT
    </td>
    <td>
      SCREAM
    </td>
    <td>
      Wilhelm
    </td>
    <td class="centered">
      1
    </td>
  </tr>
  <tr>
    <td>
      <img class="bird" src="{{ asset_url_for('solutions/birds_of_a_feather/mallard.jpg') }}" />
    </td>
    <td>
      MALLARD
    </td>
    <td>
      FLUSH
    </td>
    <td>
      <div>K♣ 10♣ 7♣ 6♣ 2♣</div>
      <div>Q♦ J♦ 8♦ 4♦ 3♦</div>
    </td>
    <td class="centered">
      2
    </td>
  </tr>
  <tr>
    <td>
      <img class="bird" src="{{ asset_url_for('solutions/birds_of_a_feather/lapwing.jpg') }}" />
    </td>
    <td>
      LAPWING
    </td>
    <td>
      DESERT
    </td>
    <td>
      <div>Atacama</div>
      <div>Kalahari</div>
      <div>Karakum</div>
    </td>
    <td class="centered">
      3
    </td>
  </tr>
  <tr>
    <td>
      <img class="bird" src="{{ asset_url_for('solutions/birds_of_a_feather/sparrow.jpg') }}" />
    </td>
    <td>
      SPARROW
    </td>
    <td>
      HOST
    </td>
    <td>
      <div>Kimmel</div>
      <div>Norton</div>
      <div>Sajak</div>
      <div>Winfrey</div>
    </td>
    <td class="centered">
      4
    </td>
  </tr>
  <tr>
    <td>
      <img class="bird" src="{{ asset_url_for('solutions/birds_of_a_feather/crow.jpg') }}" />
    </td>
    <td>
      CROW
    </td>
    <td>
      MURDER
    </td>
    <td>
      <div>Borden</div>
      <div>Bundy</div>
      <div>Holmes</div>
      <div>Kaczynski</div>
      <div>Manson</div>
      <div>Rader</div>
    </td>
    <td class="centered">
      6
    </td>
  </tr>
  <tr>
    <td>
      <img class="bird" src="{{ asset_url_for('solutions/birds_of_a_feather/crane.jpg') }}" />
    </td>
    <td>
      CRANE
    </td>
    <td>
      SEIGE
    </td>
    <td>
      <div>’s-Hertogenbosch</div>
      <div>Bastogne</div>
      <div>Leningrad</div>
      <div>Masada</div>
      <div>Sevastopol</div>
      <div>Tenochtitlan</div>
      <div>Thessalonica</div>
    </td>
    <td class="centered">
      7
    </td>
  </tr>
  <tr>
    <td>
      <img class="bird" src="{{ asset_url_for('solutions/birds_of_a_feather/penguin.jpg') }}" />
    </td>
    <td>
      PENGUIN
    </td>
    <td>
      COLONY
    </td>
    <td>
      <div>Basutoland</div>
      <div>Ceylon</div>
      <div>French Indochina</div>
      <div>Gold Coast</div>
      <div>Jamestown</div>
      <div>Massachusetts Bay</div>
      <div>Plymouth</div>
      <div>Roanoke</div>
      <div>Southern Rhodesia</div>
    </td>
    <td class="centered">
      9
    </td>
  </tr>
</table>
<p>Solve the left-hand side of each equation to get a number. Now, identify the birds in the right-hand side of the equations and their collective nouns. The number of blanks for each right-hand bird is the length of the collective noun. Use the number computed by the left-hand side of the equation to index into the collective noun of the bird on the right-hand side. This produces a letter.</p>
<p>For example, the sixth equation is [CROW] / [MALLARD] = [GUINEAFOWL]. This becomes 6 / 2 = [<code>RASP</code>]. 6 / 2 = 3 and indexing into <code>RASP</code> gives the letter <code>S</code>.</p>
<table class="solution-table">
  <tr>
    <th>
      Equation LHS
    </th>
    <th>
      Equation RHS
    </th>
    <th>
      RH Bird
    </th>
    <th>
      RH Noun
    </th>
    <th>
      Letter
    </th>
  </tr>
  <tr>
    <td class="monospace">
      (((4 + 3) * 2) + 4) / (2 * 3)
    </td>
    <td class="centered">
      3
    </td>
    <td>
      STORK
    </td>
    <td class="monospace">
      PHALANX
    </td>
    <td class="centered monospace">
      A
    </td>
  </tr>
  <tr>
    <td class="monospace">
      4 - (7 + 2) / 3
    </td>
    <td class="centered">
      1
    </td>
    <td>
      SEAGULL
    </td>
    <td class="monospace">
      SQUABBLE
    </td>
    <td class="centered monospace">
      S
    </td>
  </tr>
  <tr>
    <td class="monospace">
      7 - 9 + 3
    </td>
    <td class="centered">
      1
    </td>
    <td>
      EAGLE
    </td>
    <td class="monospace">
      CONVOCATION
    </td>
    <td class="centered monospace">
      C
    </td>
  </tr>
  <tr>
    <td class="monospace">
      ((7 * 3) - 1) / 4
    </td>
    <td class="centered">
      5
    </td>
    <td>
      ALBATROSS
    </td>
    <td class="monospace">
      ROOKERY
    </td>
    <td class="centered monospace">
      E
    </td>
  </tr>
  <tr>
    <td class="monospace">
      3 - (4 + 2) / (6 - 7)
    </td>
    <td class="centered">
      9
    </td>
    <td>
      OWL
    </td>
    <td class="monospace">
      PARLIAMENT
    </td>
    <td class="centered monospace">
      N
    </td>
  </tr>
  <tr>
    <td class="monospace">
      6 / 2
    </td>
    <td class="centered">
      3
    </td>
    <td>
      GUINEAFOWL
    </td>
    <td class="monospace">
      RASP
    </td>
    <td class="centered monospace">
      S
    </td>
  </tr>
  <tr>
    <td class="monospace">
      ((9 - 3) * 4) / 3 - 6
    </td>
    <td class="centered">
      2
    </td>
    <td>
      PIGEON
    </td>
    <td class="monospace">
      KIT
    </td>
    <td class="centered monospace">
      I
    </td>
  </tr>
  <tr>
    <td class="monospace">
      6 - 1 + 9 - 4
    </td>
    <td class="centered">
      10
    </td>
    <td>
      PEACOCK
    </td>
    <td class="monospace">
      OSTENTATION
    </td>
    <td class="centered monospace">
      O
    </td>
  </tr>
  <tr>
    <td class="monospace">
      (1 * 7 * 2) - ((4 + 1) * (4 / 2))
    </td>
    <td class="centered">
      4
    </td>
    <td>
      FLAMINGO
    </td>
    <td class="monospace">
      STAND
    </td>
    <td class="centered monospace">
      N
    </td>
  </tr>
</table>
<p>Do this for each equation to read down the answer: <strong><code>ASCENSION</code></strong>, which is itself a collective noun for a group of larks.</p>
{% endblock %}
