{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Ben A. Sena{% endblock %}
{% block solution %}ANATOMICAL DEMONSTRATIONS{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content .header {
    font-size: 1.33em;
  }

  .puzzle-content .flexbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .puzzle-content .flexbox > div {
    width: 48%;
  }

  .puzzle-content img {
    width: 100%;
  }

  .puzzle-content .image-header {
    text-align: center;
    margin-top: 20px;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p class="header"><b>Discovering the Roobrick</b></p>
<p>Solvers must first recognize that the map lines up with a criss-cross grid on the cover of the issue of <a href="http://web.mit.edu/voodoo/www/recent_issues/is_v103no3.pdf">Voo Doo</a> that had been published just before Hunt. This issue had an altered throwback cover. The squares on the map correspond to the blocks of four Os on the cover, and the lines protruding from the blocks match boundaries between adjacent words, emphasizing the shape and that the letters separated by these lines are not related.</p>
<div class="flexbox">
  <div><img {{ img_src_for("solutions/bloodroots/01.png") }} ></div>
  <div><img {{ img_src_for("solutions/bloodroots/02.png") }} ></div>
</div>

<p class="header"><b>Extracting the Clues</b></p>
<p>The numbers on the border of the map correspond one-to-one with the blanks in the cover’s grid, and clue the page numbers of particular images in the issue. These images are also all altered past covers, with an item changed or removed. The year added to the signature gives the issue’s year, and the original covers can be found in <a href="http://web.mit.edu/voodoo/www/archive/" target="_blank">The Voo Doo Archive</a> or <a href="http://web.mit.edu/voodoo/www/recent_issues.html" target="_blank">Recent Issues</a>. The changed or removed item indicates a word with the same number of letters as the parenthetical number overlaid on the image. Some of the numbers are more cleverly hidden.</p>

<p>The words don’t seem to fit in the grid, but do if any “OO” sounds, sometimes after “Swedish chefing” are replaced with “OO” as hinted by “sooth” on the map, the easier clues without alteration, and the easier substitutions. With some brainstorming the rest can be solved, or a partial solution can be reached without the trickier ones.</p>

<table class="solution-table">
  <tr>
    <th>Page</th>
    <th>Year</th>
    <th>Issue</th>
    <th>Length</th>
    <th>Clued Word</th>
    <th>Altered Word</th>
    <th>Notes</th>
  </tr>
  <tr>
    <td>2</td>
    <td>’20</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1920-Feb.pdf" target="blank">Feb</a></td>
    <td>(5,4)</td>
    <td>kelat bahu</td>
    <td><code>KELATBAHOO</code></td>
    <td>Caption hints song <i>Indonesia</i></td>
  </tr>
  <tr>
    <td>3</td>
    <td>’45</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1945-Sep.pdf" target="blank">Sep</a></td>
    <td>(4)</td>
    <td>tune</td>
    <td><code>TOON</code></td>
    <td></td>
  </tr>
  <tr>
    <td>4</td>
    <td>’20</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1920-Nov.pdf" target="blank">Nov</a></td>
    <td>(7)</td>
    <td>Lucifer</td>
    <td><code>LOOCIFER</code></td>
    <td></td>
  </tr>
  <tr>
    <td>5</td>
    <td>’05</td>
    <td><a href="http://web.mit.edu/voodoo/www/recent_issues/is_v91no2.pdf" target="blank">Fall</a></td>
    <td>(12)</td>
    <td>sharpshooter</td>
    <td><code>SHARPSHOOTER</code></td>
    <td></td>
  </tr>
  <tr>
    <td>6</td>
    <td>’51</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1951-Feb.pdf" target="blank">Feb</a></td>
    <td>(5)</td>
    <td>noose</td>
    <td><code>NOOSE</code></td>
    <td></td>
  </tr>
  <tr>
    <td>7</td>
    <td>’61</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1961-Mar.pdf" target="blank">Mar</a></td>
    <td>(5)</td>
    <td>toots</td>
    <td><code>TOOTS</code></td>
    <td>Length on blimp. Year on lectern.</td>
  </tr>
  <tr>
    <td>8</td>
    <td>’61</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1961-Apr.pdf" target="blank">Apr</a></td>
    <td>(8)</td>
    <td>mushroom</td>
    <td><code>MOOSHROOM</code></td>
    <td></td>
  </tr>
  <tr>
    <td>9</td>
    <td>’19</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1919-May.pdf" target="blank">May</a></td>
    <td>(9)</td>
    <td>hoopskirt</td>
    <td><code>HOOPSKIRT</code></td>
    <td></td>
  </tr>
  <tr>
    <td>11</td>
    <td>’68</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1968-Apr.pdf" target="blank">Apr</a></td>
    <td>(V)</td>
    <td>fruit</td>
    <td><code>FROOT</code></td>
    <td>Parenthetical on commandments</td>
  </tr>
  <tr>
    <td>12</td>
    <td>’22</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1922-Oct.pdf" target="blank">Oct</a></td>
    <td>(8)</td>
    <td>suitcase</td>
    <td><code>SOOTCASE</code></td>
    <td></td>
  </tr>
  <tr>
    <td>13</td>
    <td>’39</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1939-Jan.pdf" target="blank">Jan</a></td>
    <td>(4)</td>
    <td>hood</td>
    <td><code>HOOD</code></td>
    <td></td>
  </tr>
  <tr>
    <td>14</td>
    <td>’03</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/2003-HHG.pdf" target="blank">HHG</a></td>
    <td>(8)</td>
    <td>manhoods</td>
    <td><code>MANHOODS</code></td>
    <td></td>
  </tr>
  <tr>
    <td>15</td>
    <td>’24</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1924-March.pdf" target="blank">March</a></td>
    <td>(5)</td>
    <td>pooch</td>
    <td><code>POOCH</code></td>
    <td></td>
  </tr>
  <tr>
    <td>16</td>
    <td>’43</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1943-May.pdf" target="blank">May</a></td>
    <td>(8)</td>
    <td>panflute</td>
    <td><code>PANFLOOT</code></td>
    <td></td>
  </tr>
  <tr>
    <td>17</td>
    <td>’22</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1922-May.pdf" target="blank">May</a></td>
    <td>(5)</td>
    <td>tooth</td>
    <td><code>TOOTH</code></td>
    <td></td>
  </tr>
  <tr>
    <td>18</td>
    <td>’22</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1922-Dec.pdf" target="blank">Dec</a></td>
    <td>(10)</td>
    <td>paintbrush</td>
    <td><code>PAINTBROOSH</code></td>
    <td></td>
  </tr>
  <tr>
    <td>19</td>
    <td>’19</td>
    <td><a href="http://web.mit.edu/voodoo/www/archive/pdfs/1919-Dec.pdf" target="blank">Dec</a></td>
    <td>(6)</td>
    <td>buckle</td>
    <td><code>BOOCKLE</code></td>
    <td></td>
  </tr>
</table>

<p class="header"><b>Filling and Solving</b></p>
<p>The “roobrick” is filled according to page number as indicated in the map, also in reading order on the grid itself, with “OO” groups overlapping in the squares. The triangles given in the map overlay two sets of letters. When the downwards set is read downwards and the upwards set is read upwards, it reveals the solution: <strong><code>ANATOMICALDEMONSTRATIONS</code></strong>.</p>
<img {{ img_src_for('solutions/bloodroots/03.png') }} >
<img {{ img_src_for('solutions/bloodroots/04.png') }} >

<p>Original and edited images follow:</p>

<div class="header image-header"><b>KELATBAHOO</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/05.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/06.png') }} ></div>
</div>

<div class="header image-header"><b>TOON</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/07.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/08.png') }} ></div>
</div>

<div class="header image-header"><b>LOOCIFER</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/09.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/10.png') }} ></div>
</div>

<div class="header image-header"><b>SHARPSHOOTER</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/11.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/12.png') }} ></div>
</div>

<div class="header image-header"><b>NOOSE</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/13.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/14.png') }} ></div>
</div>

<div class="header image-header"><b>TOOTS</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/15.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/16.png') }} ></div>
</div>

<div class="header image-header"><b>MOOSHROOM</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/17.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/18.png') }} ></div>
</div>

<div class="header image-header"><b>HOOPSKIRT</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/19.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/20.png') }} ></div>
</div>

<div class="header image-header"><b>FROOT</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/21.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/22.png') }} ></div>
</div>

<div class="header image-header"><b>SOOTCASE</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/23.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/24.png') }} ></div>
</div>

<div class="header image-header"><b>HOOD</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/25.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/26.png') }} ></div>
</div>

<div class="header image-header"><b>MANHOODS</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/27.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/28.png') }} ></div>
</div>

<div class="header image-header"><b>POOCH</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/29.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/30.png') }} ></div>
</div>

<div class="header image-header"><b>PANFLOOT</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/31.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/32.png') }} ></div>
</div>

<div class="header image-header"><b>TOOTH</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/33.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/34.png') }} ></div>
</div>

<div class="header image-header"><b>PAINTBROOSH</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/35.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/36.png') }} ></div>
</div>

<div class="header image-header"><b>BOOCKLE</b></div>
<div class="flexbox">
  <div><img {{ img_src_for('solutions/bloodroots/37.png') }} ></div>
  <div><img {{ img_src_for('solutions/bloodroots/38.png') }} ></div>
</div>
{% endblock %}
