{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Grant Elliott and Caroline Hilburn{% endblock %}
{% block solution %}BIOFUEL TORCH{% endblock %}

{% block solution_head_block %}
  <style>
    .puzzle-content .crosses {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    .puzzle-content .crosses table {
      border-collapse: collapse;
      margin: 1em;
    }

    .puzzle-content .crosses table td {
      height: 1.5em;
      width: 1.5em;
      text-align: center;
      vertical-align: center;
    }

    .puzzle-content .crosses td.box {
      background-color: white;
      border: 2px black solid;
    }

    .puzzle-content .crosses td.box.highlight {
      background-color: yellow;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <p>After solving the Build puzzles, solvers are presented with the
    following answers (in alphabetical order):</p>

  <ul>
    <li><code>BRAZENLY EVIL</code></li>
    <li><code>CHEMISTRY SAVVY</code></li>
    <li><code>CONFINED AQUIFER</code></li>
    <li><code>DRUNK ENOUGH</code></li>
    <li><code>FANCY CAMBRIC</code></li>
    <li><code>FITZSIMMONS GUILBERT</code></li>
    <li><code>ROLLIN HAND</code></li>
    <li><code>THREE POUNDER</code></li>
  </ul>

  <p>Solvers are also presented with a series of blank
    crosses. However, the lengths of the crosses do not correspond to
    the lengths of the answers.</p>

  <p>As suggested by the flavor text, each answer is being “held
    together” by either a nut or a bolt:</p>

  <table class="solution-table condensed-table">
    <thead>
      <tr>
        <th>Answer</th>
        <th>Held Together By</th>
        <th>Nut or Bolt</th>
      </tr>
    </thead>
    <tr>
      <td><code>BRAZENLY EVIL</code></td>
      <td><code>BRAZIL</code></td>
      <td>Nut</td>
    </tr>
    <tr>
      <td><code>CHEMISTRY SAVVY</code></td>
      <td><code>CHEVY</code></td>
      <td>Bolt</td>
    </tr>
    <tr>
      <td><code>CONFINED AQUIFER</code></td>
      <td><code>CONIFER</code></td>
      <td>Nut</td>
    </tr>
    <tr>
      <td><code>DRUNK ENOUGH</code></td>
      <td><code>DOUGH</code></td>
      <td>Nut</td>
    </tr>
    <tr>
      <td><code>FANCY CAMBRIC</code></td>
      <td><code>FABRIC</code></td>
      <td>Bolt</td>
    </tr>
    <tr>
      <td><code>FITZSIMMONS GUILBERT</code></td>
      <td><code>FILBERT</code></td>
      <td>Nut</td>
    </tr>
    <tr>
      <td><code>ROLLIN HAND</code></td>
      <td><code>ROLAND</code></td>
      <td>Bolt</td>
    </tr>
    <tr>
      <td><code>THREE POUNDER</code></td>
      <td><code>THUNDER</code></td>
      <td>Bolt</td>
    </tr>
  </table>

  <p>These nuts and bolts fit into the provided crosses. For each
    cross, there is exactly one nut and one bolt which can hold the
    cross together by having the same letter at the point where they
    cross. Filling in the crosses yields:</p>

  <div class="crosses">
    <table>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">F</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">I</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">L</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">F</td>
        <td class="box">A</td>
        <td class="box highlight">B</td>
        <td class="box">R</td>
        <td class="box">I</td>
        <td class="box">C</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">E</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">R</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">T</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">F</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">A</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">B</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">R</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">B</td>
        <td class="box">R</td>
        <td class="box">A</td>
        <td class="box">Z</td>
        <td class="box highlight">I</td>
        <td class="box">L</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">C</td>
        <td>&nbsp;</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>&nbsp;</td>
        <td class="box">C</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">R</td>
        <td class="box highlight">O</td>
        <td class="box">L</td>
        <td class="box">A</td>
        <td class="box">N</td>
        <td class="box">D</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="box">N</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="box">I</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="box">F</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="box">E</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="box">R</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>

    <table>
      <tr>
        <td class="box">C</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">O</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">N</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">I</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box highlight">F</td>
        <td class="box">A</td>
        <td class="box">B</td>
        <td class="box">R</td>
        <td class="box">I</td>
        <td class="box">C</td>
      </tr>
      <tr>
        <td class="box">E</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">R</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">T</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">H</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">D</td>
        <td class="box">O</td>
        <td class="box highlight">U</td>
        <td class="box">G</td>
        <td class="box">H</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">N</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">D</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">E</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">R</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">F</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">I</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">L</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">B</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">C</td>
        <td class="box">H</td>
        <td class="box highlight">E</td>
        <td class="box">V</td>
        <td class="box">Y</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">R</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">T</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">B</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">R</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">A</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">Z</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">I</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">R</td>
        <td class="box">O</td>
        <td class="box highlight">L</td>
        <td class="box">A</td>
        <td class="box">N</td>
        <td class="box">D</td>
      </tr>
    </table>

    <table>
      <tr>
        <td class="box">F</td>
        <td class="box">I</td>
        <td class="box">L</td>
        <td class="box">B</td>
        <td class="box">E</td>
        <td class="box">R</td>
        <td class="box highlight">T</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">H</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">U</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">N</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">D</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">E</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">R</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>&nbsp;</td>
        <td class="box">R</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">D</td>
        <td class="box highlight">O</td>
        <td class="box">U</td>
        <td class="box">G</td>
        <td class="box">H</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="box">L</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="box">A</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="box">N</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="box">D</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>&nbsp;</td>
        <td class="box">T</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="box">H</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="box">U</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="box">N</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="box">D</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="box">E</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">B</td>
        <td class="box highlight">R</td>
        <td class="box">A</td>
        <td class="box">Z</td>
        <td class="box">I</td>
        <td class="box">L</td>
      </tr>
    </table>

    <table>
      <tr>
        <td class="box highlight">C</td>
        <td class="box">H</td>
        <td class="box">E</td>
        <td class="box">V</td>
        <td class="box">Y</td>
      </tr>
      <tr>
        <td class="box">O</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">N</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">I</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">F</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">E</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box">R</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">C</td>
      </tr>
      <tr>
        <td class="box">D</td>
        <td class="box">O</td>
        <td class="box">U</td>
        <td class="box">G</td>
        <td class="box highlight">H</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">E</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">V</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="box">Y</td>
      </tr>
    </table>
  </div>

  <p>Reading the crossing letters in order spells the answer,
    <strong><code>BIOFUEL TORCH</code></strong>.</p>
{% endblock %}
