{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Kevin Hwang and Hubert Hwang{% endblock %}
{% block solution %}REDUCE AND RECYCLE{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content table.grid {
    border-collapse: collapse;
    border: 1px solid black;
  }

  .puzzle-content table.grid td {
    border: 1px solid black;
    padding: 0.5em;
    text-align: center;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>
  The instructions for the runaround are provided in the e-mails, but they are out of order. First, you need to figure out how to reorder them.
</p>

<p>
  Each reuse item is a two-word phrase. The initials of the first words give <code>SORT BY SENDER NAME</code> and the initials of the second words give <code>USE GIVEN PLAYFAIR</code>. So you should next sort the e-mails by sender name, which conveniently begin with letters A&ndash;P. As another confirmation, the first e-mail gives an explicit room number.
</p>

<p>
  At each location, solvers will find a paper sign taped to the wall advertising for reuse. The objects are missing, but solvers should notice that the letters on each reuse sign are written in both blue and red. You can then interpret each of these as 5-bit binary. Reading those letters in path order gives the letters: <code>UBETDACLBTADXDPA</code>.
</p>

<p>
  On one particular sign, there was also a 5x5 box of letters:
</p>

<table class="grid">
  <tr><td>A</td><td>B</td><td>C</td><td>D</td><td>E</td></tr>
  <tr><td>F</td><td>G</td><td>H</td><td>I</td><td>K</td></tr>
  <tr><td>L</td><td>M</td><td>N</td><td>O</td><td>P</td></tr>
  <tr><td>Q</td><td>R</td><td>S</td><td>T</td><td>U</td></tr>
  <tr><td>V</td><td>W</td><td>X</td><td>Y</td><td>Z</td></tr>
</table>

<p>
  As suggested, you should use this table to decrypt the <a href="https://en.wikipedia.org/wiki/Playfair_cipher">Playfair</a>-enciphered message to get the final answer: <b>REDUCE AND RECYCLE</b>.
</p>

<hr>

<h2>Sorted E-mails</h2>

<table class="solution-table">
  <tr>
    <th>Sender</th>
    <th>Subject</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>Amber</td>
    <td>Basic Ions, outside 37-460 [eom]</td>
    <td>37-460</td>
  </tr>
  <tr>
    <td>Brian</td>
    <td>Dreadful LEDs, past elevators then down a floor [eom]</td>
    <td>37-3 stairwell</td>
  </tr>
  <tr>
    <td>Carl</td>
    <td>Electrical Resistors, out door, through next door, halfway down the hall near the elevators [eom]</td>
    <td>39-3 elevators</td>
  </tr>
  <tr>
    <td>Dana</td>
    <td>Expensive Nitrates, down the east hallway, right, left, and left again [eom]</td>
    <td>38-399</td>
  </tr>
  <tr>
    <td>Elmer</td>
    <td>Extendable Arms, near the diagonal glass on the water fountain [eom]</td>
    <td>38-3 near 34</td>
  </tr>
  <tr>
    <td>Frank</td>
    <td>Malleable Iron, on the left wall opposite the couches [eom]</td>
    <td>34-3</td>
  </tr>
  <tr>
    <td>Graham</td>
    <td>Standard Emblem, between two nearby elevators [eom]</td>
    <td>36-3 elevator lobby</td>
  </tr>
  <tr>
    <td>Heather</td>
    <td>Olive Seeds, down the stairs to the bottom [eom]</td>
    <td>36-SB stairwell</td>
  </tr>
  <tr>
    <td>Iris</td>
    <td>Nutritious Fiber, through the door, turn left, go to the end of the hall, turn right, just under the stairs [eom]</td>
    <td>36-SB back stairwell</td>
  </tr>
  <tr>
    <td>James</td>
    <td>Redundant Elastic, up a flight, under a map just past the lasers [eom]</td>
    <td>26-0</td>
  </tr>
  <tr>
    <td>Kelly</td>
    <td>Natural Precipitation, up a flight, through the red door, behind a red pillar [eom]</td>
    <td>26-1 near TEAL</td>
  </tr>
  <tr>
    <td>Lisa</td>
    <td>Red Yarn, past the bathrooms, outside and back inside, between two bathrooms [eom]</td>
    <td>26-1 near 26-100</td>
  </tr>
  <tr>
    <td>Milton</td>
    <td>Standard Unicycle, past three pillars, turn left before entering the next building, on a concrete pillar [eom]</td>

    <td>outside 26/16</td>
  </tr>
  <tr>
    <td>Nathan</td>
    <td>Amorphous Apples, towards the bridge, take the first right and go inside, opposite bench [eom]</td>
    <td>56-1</td>
  </tr>
  <tr>
    <td>Olivia</td>
    <td>Tiny Grains, up on the fourth floor, under the dropbox near the elevators [eom]</td>
    <td>56-4</td>
  </tr>
  <tr>
    <td>Paul</td>
    <td>Yummy Vinegar, directly past the green exit sign [eom]</td>
    <td>66-4</td>
  </tr>
</table>

{% endblock %}
