{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Chris Kennedy, Michele Pratusevich, and Helena Wang{% endblock %}
{% block solution %}HORSES{% endblock %}

{% block solution_head_block %}
<link rel="stylesheet" type="text/css" href="{{ asset_url_for('styles/blanks.css') }}">
<style>
  .puzzle-content table.crossword {
    border-collapse: collapse;
    counter-reset: clue;
    background-color: white;
  }

  .puzzle-content table.crossword td {
    width: 1.5em;
    height: 1.5em;
    padding: 0.25em;
    border: 1px grey solid;
    vertical-align: bottom;
    text-align: right;
  }

  .puzzle-content table.crossword .numbered {
    position: relative;

    counter-increment: clue;
  }

  .puzzle-content table.crossword .numbered::before {
    content: counter(clue);
    font-size: 0.6em;
    position: absolute;
    top: 0;
    left: 0.25em;
  }

  .puzzle-content table.crossword .border-top {
    border-top: 3px black solid;
  }

  .puzzle-content table.crossword .border-right {
    border-right: 3px black solid;
  }

  .puzzle-content table.crossword .border-left {
    border-left: 3px black solid;
  }

  .puzzle-content table.crossword .border-bottom {
    border-bottom: 3px black solid;
  }

  .puzzle-content table.crossword .highlight {
    background-color: yellow;
  }

  .puzzle-content .bar {
    font-size: 1.5em;
  }

  .puzzle-content .clues > div {
    margin-bottom: 1em;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>First, solve the barred crossword using the clues:</p>

<table class="crossword">
  <tr>
    <td class="numbered border-left border-top">G</td>
    <td class="numbered border-top">O</td>
    <td class="numbered border-top">P</td>
    <td class="numbered border-top border-left">P</td>
    <td class="numbered border-top border-left">E</td>
    <td class="numbered border-top">R</td>
    <td class="numbered border-top">S</td>
    <td class="numbered border-top border-left">G</td>
    <td class="numbered border-top">O</td>
    <td class="numbered border-top">D</td>
    <td class="numbered border-top border-left">F</td>
    <td class="numbered border-top">R</td>
    <td class="numbered border-top">O</td>
    <td class="numbered border-top">S</td>
    <td class="numbered border-top border-right">T</td>
  </tr>
  <tr>
    <td class="numbered border-left">U</td>
    <td class="">B</td>
    <td class="">A</td>
    <td class="">H</td>
    <td class="">N</td>
    <td class="numbered border-left">I</td>
    <td class="">H</td>
    <td class="">A</td>
    <td class="numbered border-left">P</td>
    <td class="">A</td>
    <td class="">U</td>
    <td class="numbered border-left">A</td>
    <td class="">R</td>
    <td class="">T</td>
    <td class="border-right">E</td>
  </tr>
  <tr>
    <td class="numbered border-left">N</td>
    <td class="">E</td>
    <td class="">R</td>
    <td class="">D</td>
    <td class="numbered border-left">J</td>
    <td class="">O</td>
    <td class="">R</td>
    <td class="">G</td>
    <td class="">E</td>
    <td class="border-left">H</td>
    <td class="numbered border-left">S</td>
    <td class="">E</td>
    <td class="">G</td>
    <td class="">A</td>
    <td class="border-right">L</td>
  </tr>
  <tr>
    <td class="numbered border-top border-left">A</td>
    <td class="">S</td>
    <td class="">A</td>
    <td class="numbered border-top border-left">L</td>
    <td class="">O</td>
    <td class="">T</td>
    <td class="">U</td>
    <td class="numbered border-top">S</td>
    <td class="numbered border-left">C</td>
    <td class="">L</td>
    <td class="">I</td>
    <td class="numbered border-top">M</td>
    <td class="">A</td>
    <td class="">T</td>
    <td class="border-right">E</td>
  </tr>
  <tr>
    <td class="numbered border-left">M</td>
    <td class="">E</td>
    <td class="">D</td>
    <td class="">A</td>
    <td class="">Y</td>
    <td class="numbered border-top">S</td>
    <td class="numbered border-left">G</td>
    <td class="">O</td>
    <td class="numbered border-top">B</td>
    <td class="">I</td>
    <td class="border-left">O</td>
    <td class="numbered border-left">O</td>
    <td class="">N</td>
    <td class="">U</td>
    <td class="numbered border-top border-right">S</td>
  </tr>
  <tr>
    <td class="numbered border-left">E</td>
    <td class="numbered border-top">L</td>
    <td class="">O</td>
    <td class="">I</td>
    <td class="numbered border-top border-left">H</td>
    <td class="">O</td>
    <td class="numbered border-top">S</td>
    <td class="">T</td>
    <td class="">S</td>
    <td class="numbered border-left">A</td>
    <td class="">N</td>
    <td class="">T</td>
    <td class="numbered border-top">H</td>
    <td class="">E</td>
    <td class="border-right">M</td>
  </tr>
  <tr>
    <td class="numbered border-left">B</td>
    <td class="">O</td>
    <td class="">X</td>
    <td class="">C</td>
    <td class="">A</td>
    <td class="">R</td>
    <td class="border-left">S</td>
    <td class="numbered border-top border-left">B</td>
    <td class="">O</td>
    <td class="numbered border-top">U</td>
    <td class="numbered border-top">T</td>
    <td class="numbered border-left">E</td>
    <td class="">E</td>
    <td class="numbered border-top">G</td>
    <td class="border-right">S</td>
  </tr>
  <tr>
    <td class="numbered border-left">A</td>
    <td class="">C</td>
    <td class="numbered border-top">H</td>
    <td class="numbered border-top">E</td>
    <td class="">R</td>
    <td class="numbered border-left">B</td>
    <td class="">L</td>
    <td class="">I</td>
    <td class="numbered border-top">S</td>
    <td class="">S</td>
    <td class="numbered border-left">A</td>
    <td class="">L</td>
    <td class="">E</td>
    <td class="">R</td>
    <td class="numbered border-top border-right">T</td>
  </tr>
  <tr>
    <td class="numbered border-left border-top">S</td>
    <td class="">H</td>
    <td class="">I</td>
    <td class="">P</td>
    <td class="numbered border-left">P</td>
    <td class="">O</td>
    <td class="numbered border-top">P</td>
    <td class="">O</td>
    <td class="border-left">P</td>
    <td class="numbered border-left">A</td>
    <td class="">M</td>
    <td class="numbered border-top">I</td>
    <td class="numbered border-top">G</td>
    <td class="">O</td>
    <td class="border-right">S</td>
  </tr>
  <tr>
    <td class="numbered border-left">O</td>
    <td class="numbered border-top">D</td>
    <td class="">E</td>
    <td class="">S</td>
    <td class="numbered border-top">S</td>
    <td class="numbered border-top">A</td>
    <td class="numbered border-left">E</td>
    <td class="numbered border-top">T</td>
    <td class="">A</td>
    <td class="">G</td>
    <td class="">E</td>
    <td class="numbered border-left">S</td>
    <td class="">E</td>
    <td class="">G</td>
    <td class="border-right">A</td>
  </tr>
  <tr>
    <td class="numbered border-left">Y</td>
    <td class="">O</td>
    <td class="numbered border-top">K</td>
    <td class="">O</td>
    <td class="border-left">H</td>
    <td class="numbered border-left">L</td>
    <td class="">A</td>
    <td class="">S</td>
    <td class="numbered border-top">H</td>
    <td class="numbered border-left">E</td>
    <td class="numbered border-top">M</td>
    <td class="">I</td>
    <td class="">N</td>
    <td class="numbered border-top">O</td>
    <td class="border-right">R</td>
  </tr>
  <tr>
    <td class="numbered border-left border-top">A</td>
    <td class="">N</td>
    <td class="">I</td>
    <td class="">M</td>
    <td class="">A</td>
    <td class="">L</td>
    <td class="numbered border-top">S</td>
    <td class="numbered border-left">P</td>
    <td class="">E</td>
    <td class="numbered border-top">T</td>
    <td class="">I</td>
    <td class="">T</td>
    <td class="numbered border-left">T</td>
    <td class="">I</td>
    <td class="border-right">S</td>
  </tr>
  <tr>
    <td class="numbered border-left">H</td>
    <td class="">A</td>
    <td class="">V</td>
    <td class="numbered border-top">O</td>
    <td class="">C</td>
    <td class="border-left">O</td>
    <td class="numbered border-left">O</td>
    <td class="numbered border-top">P</td>
    <td class="">I</td>
    <td class="">U</td>
    <td class="">M</td>
    <td class="numbered border-top border-left">S</td>
    <td class="">I</td>
    <td class="">L</td>
    <td class="numbered border-top border-right">O</td>
  </tr>
  <tr>
    <td class="numbered border-left">A</td>
    <td class="">T</td>
    <td class="">A</td>
    <td class="">T</td>
    <td class="numbered border-left">K</td>
    <td class="">U</td>
    <td class="">U</td>
    <td class="numbered border-left">D</td>
    <td class="">D</td>
    <td class="">R</td>
    <td class="numbered border-left">E</td>
    <td class="">U</td>
    <td class="">L</td>
    <td class="">E</td>
    <td class="border-right">R</td>
  </tr>
  <tr>
    <td class="numbered border-left border-bottom">B</td>
    <td class="border-bottom">E</td>
    <td class="border-bottom">S</td>
    <td class="border-bottom">T</td>
    <td class="border-bottom">S</td>
    <td class="numbered border-left border-bottom">T</td>
    <td class="border-bottom">R</td>
    <td class="border-bottom">E</td>
    <td class="numbered border-left border-bottom">I</td>
    <td class="border-bottom">N</td>
    <td class="border-bottom">D</td>
    <td class="border-left border-bottom">R</td>
    <td class="numbered border-left border-bottom">E</td>
    <td class="border-bottom">R</td>
    <td class="border-right border-bottom">E</td>
  </tr>
</table>

<p>The crossword grid contains a number of letters that are trapped
  &ldquo;between bars&rdquo;. As suggested by the flavor text
  (&ldquo;Release your inner animal!&rdquo;), each of these trapped
  letters can be changed to spell the name of an animal. There are
  eight total (as explicitly clued by 73 Across), and are highlighted
  here:</p>

<table class="crossword">
  <tr>
    <td class="highlight numbered border-left border-top">G</td>
    <td class="highlight numbered border-top">O</td>
    <td class="highlight numbered border-top">P</td>
    <td class="highlight numbered border-top border-left">P</td>
    <td class="highlight numbered border-top border-left">E</td>
    <td class="highlight numbered border-top">R</td>
    <td class="highlight numbered border-top">S</td>
    <td class="numbered border-top border-left">G</td>
    <td class="numbered border-top">O</td>
    <td class="numbered border-top">D</td>
    <td class="numbered border-top border-left">F</td>
    <td class="numbered border-top">R</td>
    <td class="numbered border-top">O</td>
    <td class="numbered border-top">S</td>
    <td class="numbered border-top border-right">T</td>
  </tr>
  <tr>
    <td class="numbered border-left">U</td>
    <td class="">B</td>
    <td class="">A</td>
    <td class="">H</td>
    <td class="">N</td>
    <td class="numbered border-left">I</td>
    <td class="">H</td>
    <td class="">A</td>
    <td class="numbered border-left">P</td>
    <td class="">A</td>
    <td class="">U</td>
    <td class="numbered border-left">A</td>
    <td class="">R</td>
    <td class="">T</td>
    <td class="border-right">E</td>
  </tr>
  <tr>
    <td class="numbered border-left">N</td>
    <td class="">E</td>
    <td class="">R</td>
    <td class="">D</td>
    <td class="numbered border-left">J</td>
    <td class="">O</td>
    <td class="">R</td>
    <td class="highlight ">G</td>
    <td class="highlight ">E</td>
    <td class="highlight border-left">H</td>
    <td class="highlight numbered border-left">S</td>
    <td class="highlight ">E</td>
    <td class="">G</td>
    <td class="">A</td>
    <td class="border-right">L</td>
  </tr>
  <tr>
    <td class="numbered border-top border-left">A</td>
    <td class="">S</td>
    <td class="">A</td>
    <td class="numbered border-top border-left">L</td>
    <td class="">O</td>
    <td class="">T</td>
    <td class="">U</td>
    <td class="numbered border-top">S</td>
    <td class="numbered border-left">C</td>
    <td class="">L</td>
    <td class="">I</td>
    <td class="numbered border-top">M</td>
    <td class="">A</td>
    <td class="">T</td>
    <td class="border-right">E</td>
  </tr>
  <tr>
    <td class="numbered border-left">M</td>
    <td class="">E</td>
    <td class="">D</td>
    <td class="">A</td>
    <td class="">Y</td>
    <td class="numbered border-top">S</td>
    <td class="numbered border-left">G</td>
    <td class="">O</td>
    <td class="highlight numbered border-top">B</td>
    <td class="highlight ">I</td>
    <td class="highlight border-left">O</td>
    <td class="highlight numbered border-left">O</td>
    <td class="highlight ">N</td>
    <td class="">U</td>
    <td class="numbered border-top border-right">S</td>
  </tr>
  <tr>
    <td class="numbered border-left">E</td>
    <td class="numbered border-top">L</td>
    <td class="">O</td>
    <td class="">I</td>
    <td class="numbered border-top border-left">H</td>
    <td class="">O</td>
    <td class="numbered border-top">S</td>
    <td class="">T</td>
    <td class="">S</td>
    <td class="numbered border-left">A</td>
    <td class="">N</td>
    <td class="">T</td>
    <td class="numbered border-top">H</td>
    <td class="">E</td>
    <td class="border-right">M</td>
  </tr>
  <tr>
    <td class="numbered border-left">B</td>
    <td class="">O</td>
    <td class="">X</td>
    <td class="highlight ">C</td>
    <td class="highlight ">A</td>
    <td class="highlight ">R</td>
    <td class="highlight border-left">S</td>
    <td class="highlight numbered border-top border-left">B</td>
    <td class="highlight ">O</td>
    <td class="highlight numbered border-top">U</td>
    <td class="numbered border-top">T</td>
    <td class="numbered border-left">E</td>
    <td class="">E</td>
    <td class="numbered border-top">G</td>
    <td class="border-right">S</td>
  </tr>
  <tr>
    <td class="numbered border-left">A</td>
    <td class="">C</td>
    <td class="numbered border-top">H</td>
    <td class="numbered border-top">E</td>
    <td class="">R</td>
    <td class="numbered border-left">B</td>
    <td class="">L</td>
    <td class="">I</td>
    <td class="numbered border-top">S</td>
    <td class="">S</td>
    <td class="numbered border-left">A</td>
    <td class="">L</td>
    <td class="">E</td>
    <td class="">R</td>
    <td class="numbered border-top border-right">T</td>
  </tr>
  <tr>
    <td class="numbered border-left border-top">S</td>
    <td class="highlight ">H</td>
    <td class="highlight ">I</td>
    <td class="highlight ">P</td>
    <td class="highlight numbered border-left">P</td>
    <td class="highlight ">O</td>
    <td class="highlight numbered border-top">P</td>
    <td class="highlight ">O</td>
    <td class="highlight border-left">P</td>
    <td class="highlight numbered border-left">A</td>
    <td class="highlight ">M</td>
    <td class="highlight numbered border-top">I</td>
    <td class="numbered border-top">G</td>
    <td class="">O</td>
    <td class="border-right">S</td>
  </tr>
  <tr>
    <td class="numbered border-left">O</td>
    <td class="numbered border-top">D</td>
    <td class="">E</td>
    <td class="">S</td>
    <td class="numbered border-top">S</td>
    <td class="numbered border-top">A</td>
    <td class="numbered border-left">E</td>
    <td class="numbered border-top">T</td>
    <td class="">A</td>
    <td class="">G</td>
    <td class="">E</td>
    <td class="numbered border-left">S</td>
    <td class="">E</td>
    <td class="">G</td>
    <td class="border-right">A</td>
  </tr>
  <tr>
    <td class="numbered border-left">Y</td>
    <td class="">O</td>
    <td class="highlight numbered border-top">K</td>
    <td class="highlight ">O</td>
    <td class="highlight border-left">H</td>
    <td class="highlight numbered border-left">L</td>
    <td class="highlight ">A</td>
    <td class="highlight ">S</td>
    <td class="numbered border-top">H</td>
    <td class="numbered border-left">E</td>
    <td class="numbered border-top">M</td>
    <td class="">I</td>
    <td class="">N</td>
    <td class="numbered border-top">O</td>
    <td class="border-right">R</td>
  </tr>
  <tr>
    <td class="numbered border-left border-top">A</td>
    <td class="">N</td>
    <td class="">I</td>
    <td class="">M</td>
    <td class="">A</td>
    <td class="">L</td>
    <td class="numbered border-top">S</td>
    <td class="numbered border-left">P</td>
    <td class="">E</td>
    <td class="numbered border-top">T</td>
    <td class="">I</td>
    <td class="">T</td>
    <td class="numbered border-left">T</td>
    <td class="">I</td>
    <td class="border-right">S</td>
  </tr>
  <tr>
    <td class="numbered border-left">H</td>
    <td class="">A</td>
    <td class="">V</td>
    <td class="highlight numbered border-top">O</td>
    <td class="highlight ">C</td>
    <td class="highlight border-left">O</td>
    <td class="highlight numbered border-left">O</td>
    <td class="highlight numbered border-top">P</td>
    <td class="highlight ">I</td>
    <td class="">U</td>
    <td class="">M</td>
    <td class="numbered border-top border-left">S</td>
    <td class="">I</td>
    <td class="">L</td>
    <td class="numbered border-top border-right">O</td>
  </tr>
  <tr>
    <td class="numbered border-left">A</td>
    <td class="">T</td>
    <td class="">A</td>
    <td class="">T</td>
    <td class="numbered border-left">K</td>
    <td class="">U</td>
    <td class="">U</td>
    <td class="numbered border-left">D</td>
    <td class="">D</td>
    <td class="">R</td>
    <td class="numbered border-left">E</td>
    <td class="">U</td>
    <td class="">L</td>
    <td class="">E</td>
    <td class="border-right">R</td>
  </tr>
  <tr>
    <td class="numbered border-left border-bottom">B</td>
    <td class="border-bottom">E</td>
    <td class="border-bottom">S</td>
    <td class="border-bottom">T</td>
    <td class="border-bottom">S</td>
    <td class="numbered border-left border-bottom">T</td>
    <td class="highlight border-bottom">R</td>
    <td class="highlight border-bottom">E</td>
    <td class="highlight numbered border-left border-bottom">I</td>
    <td class="highlight border-bottom">N</td>
    <td class="highlight border-bottom">D</td>
    <td class="highlight border-left border-bottom">R</td>
    <td class="highlight numbered border-left border-bottom">E</td>
    <td class="highlight border-bottom">R</td>
    <td class="border-right border-bottom">E</td>
  </tr>
</table>

<p>Each of the eight locations on the grid provides 2 letters:</p>

<table class="solution-table condensed-table">
  <thead>
    <tr>
      <th>Grid text</th>
      <th>Animal</th>
      <th>From</th>
      <th>To</th>
    </tr>
  </thead>
  <tr>
    <td><code>GOPPERS</code></td>
    <td><code>GOPHERS</code></td>
    <td><code>P</code></td>
    <td><code>H</code></td>
  </tr>
  <tr>
    <td><code>GEHSE</code></td>
    <td><code>GEESE</code></td>
    <td><code>H</code></td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td><code>BIOON</code></td>
    <td><code>BISON</code></td>
    <td><code>O</code></td>
    <td><code>S</code></td>
  </tr>
  <tr>
    <td><code>CARSBOU</code></td>
    <td><code>CARIBOU</code></td>
    <td><code>S</code></td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td><code>HIPPOPOPAMI</code></td>
    <td><code>HIPPOPOTAMI</code></td>
    <td><code>P</code></td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td><code>KOHLAS</code></td>
    <td><code>KOALAS</code></td>
    <td><code>H</code></td>
    <td><code>A</code></td>
  </tr>
  <tr>
    <td><code>OCOOPI</code></td>
    <td><code>OCTOPI</code></td>
    <td><code>O</code></td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td><code>REINDRER</code></td>
    <td><code>REINDEER</code></td>
    <td><code>R</code></td>
    <td><code>E</code></td>
  </tr>
</table>

<p>This yields two words, which fit into the blanks provided under the
  crossword:</p>

<p>
  <span>
    <span class="blanks">
      <span class="blank">P</span>
      <span class="blank">H</span>
      <span class="blank">O</span>
      <span class="blank">S</span>
      <span class="blank">P</span>
      <span class="blank">H</span>
      <span class="blank">O</span>
      <span class="blank">R</span>
    </span>
  </span>
  <span class="bar">|</span>
  <span>
    <span class="blanks">
      <span class="blank">H</span>
      <span class="blank">E</span>
      <span class="blank">S</span>
      <span class="blank">I</span>
      <span class="blank">T</span>
      <span class="blank">A</span>
      <span class="blank">T</span>
      <span class="blank">E</span>
    </span>
  </span>
</p>

<p>There&rsquo;s another animal trapped in the bar. Applying the
  mechanic one more time yields the animal
  <strong><code>HORSES</code></strong>, which is the answer.</p>
{% endblock %}
