{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Max Wolf{% endblock %}
{% block solution %}AMBER BEER{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content table {
    font-size: 0.8em;
  }

  .puzzle-content table td,
  .puzzle-content table th {
    width: 25%;
    padding: .8em 2em;
    vertical-align: top;
  }

  .puzzle-content table td:first-child,
  .puzzle-content table th:first-child {
    width: 10%;
  }

</style>{% endblock %}

{% block solution_content_block %}
<p>The puzzle provides a list of chemical reactions which add or remove a functional group from a molecule. The key to the solution is figuring out what functional group gets added or removed and then making the same change to the appropriate reactant word.</p>

<p>The descriptions of the reactions suggest that an extra element needs to be added in order to complete the change from the reactant to the product words. These additional elements from the periodic table are shown on the left and spell <code><strong>CALL IN AMBER BEER</strong></code> when read in the reaction order.</p>

<table class="solution-table">
  <tbody>
    <tr>
      <th>Additional Element</th>
      <th>Reactants</th>
      <th>Reactions</th>
      <th>Products</th>
    </tr>
    <tr>
      <td>
        <code>C</code>
      </td>
      <td>
        <code>ONI</code><br>
        Japanese troll monster
      </td>
      <td>
        <code>+HBr</code><br>
        Hydrobromination
      </td>
      <td>
        <code>BRONCHI</code><br>
        Branching lung structures
      </td>
    </tr>
    <tr>
      <td>
        <code>Al</code>
      </td>
      <td>
        <code>GOON</code><br>
        Hired mob thug
      </td>
      <td>
        <code>-NO</code><br>
        Denytrosylation
      </td>
      <td>
        <code>GOAL</code><br>
        Unit of scoring in soccer
      </td>
    </tr>
    <tr>
      <td>
        <code>Li</code>
      </td>
      <td>
        <code>EMO</code><br>
        Sad teenage phase
      </td>
      <td>
        <code>+SNa</code><br>
        Herz Reaction 
      </td>
      <td>
        <code>SEMOLINA</code><br>
        Durum wheat middlings
      </td>
    </tr>
    <tr>
      <td>
        <code>N</code>
      </td>
      <td>
        <code>PROCHOICE</code><br>
        Abortion Stance
      </td>
      <td>
        <code>-COOH</code><br>
        Decarboxylation
      </td>
      <td>
        <code>PRINCE</code><br>
        Son of a monarch
      </td>
    </tr>
    <tr>
      <td>
        <code>Am</code>
      </td>
      <td>
        <code>SCOOP</code><br>
        Serving of frozen dessert
      </td>
      <td>
        <code>-OO</code><br>
        Dexoxygenation
      </td>
      <td>
        <code>SCAMP</code><br>
        Impish rascal
      </td>
    </tr>
    <tr>
      <td>
        <code>B</code>
      </td>
      <td>
        <code>SPILL</code><br>
        Disaster with a liquid
      </td>
      <td>
        <code>+NOO</code><br>
        Nitration
      </td>
      <td>
        <code>SPOONBILL</code><br>
        Long-legged bird akin to an ibis
      </td>
    </tr>
    <tr>
      <td>
        <code>Er</code>
      </td>
      <td>
        <code>CIS</code><br>
        Molecular structure with two R groups on the same plane relative to a molecular bond
      </td>
      <td>
        <code>+HH</code><br>
        Hydrogenation 
      </td>
      <td>
        <code>CHERISH</code><br>
        To hold dear
      </td>
    </tr>
    <tr>
      <td>
        <code>Be</code>
      </td>
      <td>
        <code>MIR</code><br>
        First modular space station
      </td>
      <td>
        <code>+CO</code><br>
        Carbonylation  
      </td>
      <td>
        <code>MICROBE</code><br>
        Tiny creature unseen with the naked eye
      </td>
    </tr>
    <tr>
      <td>
        <code>Er</code>
      </td>
      <td>
        <code>PINE</code><br>
        long-needled conifer
      </td>
      <td>
        <code>+O</code><br>
        Epoxidation  
      </td>
      <td>
        <code>PIONEER</code><br>
        Explorer or frontiersman, for example
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
