{% extends "solutions/solution_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Justin Melvin and Dan Collins{% endblock %}
{% block solution %}KERNEL{% endblock %}

{% block solution_head_block %}
<link rel="stylesheet" type="text/css" href="{{ asset_url_for('styles/crossword.css') }}">
{# Table font size shrunk so that table content doesn't constantly need to wrap #}
<style>
  .puzzle-content table:not(.crossword) {
    font-size: 0.8em;
  }

  .puzzle-content .nowrap {
    white-space: nowrap;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>This is the commentary of a person who misinterpreted a variety cryptic crossword as a vanilla crossword. You don’t get to see the cryptic clues, but you do see the definition (in quotes), the answer (all caps), and an oblique clue to how the wordplay works.</p>

<p>The first step is to fill in the grid, which is not provided. The commentary specifies that there is one too many letters for each word, and that the first line begins with a “few black squares”. Using this information, along with the answers (and where they must cross), it is possible to reconstruct the grid as follows:</p>

<table class="crossword">
  <tbody>
    <tr>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="numbered">A</td>
      <td class="numbered">R</td>
      <td class="numbered">N</td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
    </tr>
    <tr>
      <td class="numbered">Y</td>
      <td class="numbered">P</td>
      <td class="filled"></td>
      <td class="numbered">P</td>
      <td>E</td>
      <td>A</td>
      <td class="numbered">H</td>
      <td class="numbered">E</td>
      <td class="numbered">S</td>
    </tr>
    <tr>
      <td class="numbered">P</td>
      <td>I</td>
      <td class="numbered">L</td>
      <td class="filled"></td>
      <td class="numbered">D</td>
      <td>E</td>
      <td>A</td>
      <td>R</td>
      <td>H</td>
    </tr>
    <tr>
      <td class="numbered">E</td>
      <td>N</td>
      <td>E</td>
      <td class="numbered">M</td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="numbered">P</td>
      <td>E</td>
      <td>E</td>
    </tr>
    <tr>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="numbered">G</td>
      <td>O</td>
      <td>A</td>
      <td class="numbered">L</td>
      <td>I</td>
      <td class="filled"></td>
      <td class="filled"></td>
    </tr>
    <tr>
      <td class="numbered">T</td>
      <td class="numbered">N</td>
      <td>E</td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="numbered">Y</td>
      <td>E</td>
      <td class="numbered">L</td>
      <td class="numbered">L</td>
    </tr>
    <tr>
      <td class="numbered">R</td>
      <td>E</td>
      <td>N</td>
      <td class="numbered">D</td>
      <td class="numbered">R</td>
      <td class="filled"></td>
      <td class="numbered">S</td>
      <td>K</td>
      <td>I</td>
    </tr>
    <tr>
      <td class="numbered">P</td>
      <td>O</td>
      <td>S</td>
      <td>T</td>
      <td>L</td>
      <td class="numbered">E</td>
      <td class="filled"></td>
      <td class="numbered">E</td>
      <td>N</td>
    </tr>
    <tr>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="numbered">S</td>
      <td>E</td>
      <td>D</td>
      <td class="filled"></td>
      <td class="filled"></td>
      <td class="filled"></td>
    </tr>
  </tbody>
</table>

<p>Now that the grid has been identified, it is possible to extract the missing letter from each answer.</p>

<table class="solution-table">
  <tr>
    <th></th>
    <th>Reconstructed clue</th>
    <th>Definition</th>
    <th>Wordplay type</th>
    <th>Answer</th>
    <th>Answer in grid</th>
    <th>Letter</th>
  </tr>
  <tr>
    <td class="nowrap">Across 1</td>
    <td>Acquire a near miss</td>
    <td>Acquire</td>
    <td>Anagram</td>
    <td>EARN</td>
    <td>ARN</td>
    <td>E</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Bark as payback</td>
    <td>Bark</td>
    <td>Reversal</td>
    <td>YAP</td>
    <td>YP</td>
    <td>A</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Preaches without right to fruit</td>
    <td>Fruit</td>
    <td>Deletion</td>
    <td>PEACHES</td>
    <td>PEAHES</td>
    <td>C</td>
  </tr>
  <tr>
    <td>10</td>
    <td>Heard enough of singer Collins</td>
    <td>Singer Collins</td>
    <td>Homophone</td>
    <td>PHIL</td>
    <td>PIL</td>
    <td>H</td>
  </tr>
  <tr>
    <td>12</td>
    <td>Insufficiency of tangled thread</td>
    <td>Insufficiency</td>
    <td>Anagram</td>
    <td>DEARTH</td>
    <td>DEARH</td>
    <td>T</td>
  </tr>
  <tr>
    <td>13</td>
    <td>Yemen mobile’s nemesis</td>
    <td>Nemesis</td>
    <td>Anagram</td>
    <td>ENEMY</td>
    <td>ENEM</td>
    <td>Y</td>
  </tr>
  <tr>
    <td>15</td>
    <td>Glance at Pepe Le Pew</td>
    <td>Glance</td>
    <td>Anagram</td>
    <td>PEEP</td>
    <td>PEE</td>
    <td>P</td>
  </tr>
  <tr>
    <td>16</td>
    <td>Nettender cheers “Go Lee”</td>
    <td>Nettender</td>
    <td>Homophone</td>
    <td>GOALIE</td>
    <td>GOALI</td>
    <td>E</td>
  </tr>
  <tr>
    <td>18</td>
    <td>Animated feature soundtrack’s song</td>
    <td>Song</td>
    <td>Homophone</td>
    <td>TUNE</td>
    <td>TNE</td>
    <td>U</td>
  </tr>
  <tr>
    <td>20</td>
    <td>Jacoby Ellsbury hollers</td>
    <td>Hollers</td>
    <td>Hidden word</td>
    <td>YELLS</td>
    <td>YELL</td>
    <td>S</td>
  </tr>
  <tr>
    <td>23</td>
    <td>Supply in surrender</td>
    <td>Supply</td>
    <td>Hidden word</td>
    <td>RENDER</td>
    <td>RENDR</td>
    <td>E</td>
  </tr>
  <tr>
    <td>26</td>
    <td>Dementor’s kiss for alpine downhill footwear</td>
    <td>Alpine downhill footwear</td>
    <td>Anagram</td>
    <td>SKIS</td>
    <td>SKI</td>
    <td>S</td>
  </tr>
  <tr>
    <td>27</td>
    <td>Religious devotee work in the influence of alcohol</td>
    <td>Religious devotee</td>
    <td>Container</td>
    <td>APOSTLE</td>
    <td>POSTLE</td>
    <td>A</td>
  </tr>
  <tr>
    <td>29</td>
    <td>Fellows of prime numbers</td>
    <td>Fellows</td>
    <td>Hidden word</td>
    <td>MEN</td>
    <td>EN</td>
    <td>M</td>
  </tr>
  <tr>
    <td>30</td>
    <td>Yield to call “nut, for one”</td>
    <td>Nut, for one</td>
    <td>Homophone</td>
    <td>SEED</td>
    <td>SED</td>
    <td>E</td>
  </tr>
  <tr>
    <td>Down 1</td>
    <td>Once around the track backwards, pal</td>
    <td>Once around the track</td>
    <td>Reversal</td>
    <td>LAP</td>
    <td>AP</td>
    <td>L</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Deer inverted bog stick</td>
    <td>Bog stick</td>
    <td>Reversal</td>
    <td>REED</td>
    <td>RED</td>
    <td>E</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Valentina Tereshkova hides silver</td>
    <td>Silver</td>
    <td>Hidden word</td>
    <td>NATE</td>
    <td>NAE</td>
    <td>T</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Style of Katy Perry</td>
    <td>Style</td>
    <td>Hidden word</td>
    <td>TYPE</td>
    <td>YPE</td>
    <td>T</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Tree is spine without scoliosis</td>
    <td>Tree</td>
    <td>Deletion</td>
    <td>PINE</td>
    <td>PIN</td>
    <td>E</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Bird women’s markers lost their caps</td>
    <td>Bird women</td>
    <td>Deletion</td>
    <td>HARPIES</td>
    <td>HAPIES</td>
    <td>R</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Lake I was in before</td>
    <td>Lake</td>
    <td>Container</td>
    <td>ERIE</td>
    <td>ERE</td>
    <td>I</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Man in tin’s League of Legends character</td>
    <td>League of Legends character</td>
    <td>Container</td>
    <td>SHEN</td>
    <td>SHE</td>
    <td>N</td>
  </tr>
  <tr>
    <td>11</td>
    <td>Stories gives an example</td>
    <td>Stories</td>
    <td>Container</td>
    <td>LEGENDS</td>
    <td>LEGENS</td>
    <td>D</td>
  </tr>
  <tr>
    <td>14</td>
    <td>Flaming Moe’s rock style</td>
    <td>Rock style</td>
    <td>Anagram</td>
    <td>EMO</td>
    <td>MO</td>
    <td>E</td>
  </tr>
  <tr>
    <td>17</td>
    <td>Jeff Lynne’s glide</td>
    <td>Glide</td>
    <td>Hidden word</td>
    <td>FLY</td>
    <td>LY</td>
    <td>F</td>
  </tr>
  <tr>
    <td>18</td>
    <td>Journey bottomless: tripe</td>
    <td>Journey</td>
    <td>Deletion</td>
    <td>TRIP</td>
    <td>TRP</td>
    <td>I</td>
  </tr>
  <tr>
    <td>19</td>
    <td>Announcing knee on noble gas</td>
    <td>Noble gas</td>
    <td>Homophone</td>
    <td>NEON</td>
    <td>NEO</td>
    <td>N</td>
  </tr>
  <tr>
    <td>21</td>
    <td>el-Hajj Malik el-Shabazz has similar</td>
    <td>Similar</td>
    <td>Hidden word</td>
    <td>LIKE</td>
    <td>LKE</td>
    <td>I</td>
  </tr>
  <tr>
    <td>22</td>
    <td>Clothing fluff in small intestine</td>
    <td>Clothing fluff</td>
    <td>Hidden word</td>
    <td>LINT</td>
    <td>LIN</td>
    <td>T</td>
  </tr>
  <tr>
    <td>24</td>
    <td>Remove new dints for dashes’ partners</td>
    <td>Dashes’ partners</td>
    <td>Deletion</td>
    <td>DITS</td>
    <td>DTS</td>
    <td>I</td>
  </tr>
  <tr>
    <td>25</td>
    <td>Position of roll call</td>
    <td>Position</td>
    <td>Homophone</td>
    <td>ROLE</td>
    <td>RLE</td>
    <td>O</td>
  </tr>
  <tr>
    <td>28</td>
    <td>Devil’s den’s terminus</td>
    <td>Terminus</td>
    <td>Anagram</td>
    <td>END</td>
    <td>ED</td>
    <td>N</td>
  </tr>
</table>

<p>This yields the phrase <code>EACH TYPE USE SAME LETTER IN DEFINITION</code>. This means group the clues by wordplay type and select the letter that is in common between each.</p>

<div>
  <div>Anagrams (7): ACQUIRE, INSUFFICIENCY, NEMESIS, ALPINE DOWNHILL FOOTWEAR, ROCK STYLE, GLANCE, TERMINUS (<code>E</code>)</div>
  <div>Reversal (3): BARK, ONCE AROUND THE TRACK, BOG STICK (<code>K</code>)</div>
  <div>Deletion (5): FRUIT, TREE, JOURNEY, BIRD WOMAN, DASHES’ PARTNERS (<code>R</code>)</div>
  <div>Homophone (6): SINGER COLLINS, NETTENDER, SONG, NUT FOR ONE, NOBLE GAS, POSITION (<code>N</code>)</div>
  <div>Container (4): LAKE, RELIGIOUS DEVOTEE, LEAGUE OF LEGENDS CHARACTER, STORIES (<code>E</code>)</div>
  <div>Hidden word (8): HOLLERS, SUPPLY, FELLOWS, SILVER, STYLE, GLIDE, SIMILAR, CLOTHING FLUFF (<code>L</code>)</div>
</div>

<p>As suggested by the “blanks” diagram in the puzzle, ordering these letters by the frequency of each type yields <strong><code>KERNEL</code></strong>.</p>
{% endblock %}
