{% extends "solutions/solution_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Leland Aldridge{% endblock %}
{% block solution %}RITUAL{% endblock %}

{% block solution_head_block %}
<link rel="stylesheet" type="text/css" href="{{ asset_url_for('styles/crossword.css') }}">
{% endblock %}

{% block solution_content_block %}
<p>This puzzle is a diagramless crossword&mdash;across and down clues
  are given as in a crossword but with no grid to fill the answers
  into. Determining the design of the grid that allows all the answers
  to fit with the proper numbers is up to the solver.</p>

<p>Once this is complete, the following filled grid results:</p>

{% call puzzle_macros.crossword() %}
DISGORGED|SHEAF
EMPANELED|PINTO
WALLCHART|ADDTO
AGA|EAR|||||OAT
ROT||BUS|||EMIR
||||||SIX|STONE
POP||GAMEBOARDS
ARE|SELINAS|PET
NINCOMPOOP||HRS
AGAIN|SIT||||||
MILD|||DRY||FLY
ANT|||||OAF|LIE
HAIFA|AMPLIFIES
ATEIN|WRITLARGE
TESTY|ESCALATES
{% endcall %}

<p>The black squares of the grid form a number of arrow shapes,
  pointing to 26 Across, 32 Down, 33 Down, and 41 Across. If these
  three letter-answers are taken in the direction as pointed by the
  arrows, and read in a cycle starting with 33 Down, we get <code>BAP
  TIS MEG SIX</code>, or the crossword-clue-like phrase
  &ldquo;Baptism, e.g. (six).&rdquo; A six-letter word that a baptism
  is an example of is a
  <strong><code>RITUAL</code></strong>, the answer to this puzzle.</p>
{% endblock %}
