{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}
By Kevin Hwang, James Douberley, Nathan Fung, Hubert Hwang, and Henry Wong
{% endblock %}
{% block solution %}RAPPEL{% endblock %}

{% block solution_content_block %}
<p>After solving the Disgust memory puzzles, solvers are presented
  with the following answers (in alphabetical order):</p>

<ul>
  <li><code>BONE GRAFT</code></li>
  <li><code>EXCEPT</code></li>
  <li><code>FILM COUNCILS</code></li>
  <li><code>HOW GREAT</code></li>
  <li><code>KERNEL</code></li>
  <li><code>NIGHTLY</code></li>
  <li><code>REAL FOOD</code></li>
  <li><code>ROUGH DATE</code></li>
  <li><code>STEP DADDY</code></li>
  <li><code>STYLE</code></li>
</ul>

<p>Each of these answers (or one word of the answer, for multi-word
  answers) has a homophone. This is suggested by the use of
  &ldquo;discussed&rdquo; (with homophone &ldquo;disgust&rdquo;), and
  &ldquo;pare&rdquo; (with homophones &ldquo;pear&rdquo; and
  &ldquo;pair&rdquo;) in the flavortext.</p>

<p>The homophones for each answer are:</p>

<table class="solution-table condensed-table">
  <thead>
    <tr>
      <th>Answer Word</th>
      <th>Homophone</th>
    </tr>
  </thead>
  <tr>
    <td><code>GRAFT</code></td>
    <td><code>GRAPHED</code></td>
  </tr>
  <tr>
    <td><code>EXCEPT</code></td>
    <td><code>ACCEPT</code></td>
  </tr>
  <tr>
    <td><code>COUNCILS</code></td>
    <td><code>COUNSELS</code></td>
  </tr>
  <tr>
    <td><code>GREAT</code></td>
    <td><code>GRATE</code></td>
  </tr>
  <tr>
    <td><code>KERNEL</code></td>
    <td><code>COLONEL</code></td>
  </tr>
  <tr>
    <td><code>NIGHTLY</code></td>
    <td><code>KNIGHTLY</code></td>
  </tr>
  <tr>
    <td><code>REAL</code></td>
    <td><code>REEL</code></td>
  </tr>
  <tr>
    <td><code>ROUGH</code></td>
    <td><code>RUFF</code></td>
  </tr>
  <tr>
    <td><code>STEP</code></td>
    <td><code>STEPPE</code></td>
  </tr>
  <tr>
    <td><code>STYLE</code></td>
    <td><code>STILE</code></td>
  </tr>
</table>

<p>Within the set of homophone words, there are 2 words of each length
  between 4 and 8 letters long. Pairing up the words yields a single
  letter which occurs in the same position:</p>

<table class="solution-table">
  <thead>
    <tr>
      <th>Answer</th>
      <th>Homophone</th>
      <th>Shared</th>
      <th>Homophone</th>
      <th>Answer</th>
    </tr>
  </thead>
  <tr>
    <td><code>REAL FOOD</code></td>
    <td><code>REEL</code></td>
    <td><code>R</code></td>
    <td><code>RUFF</code></td>
    <td><code>ROUGH DATE</code></td>
  </tr>
  <tr>
    <td><code>HOW GREAT</code></td>
    <td><code>GRATE</code></td>
    <td><code>E</code></td>
    <td><code>STILE</code></td>
    <td><code>STYLE</code></td>
  </tr>
  <tr>
    <td><code>EXCEPT</code></td>
    <td><code>ACCEPT</code></td>
    <td><code>P</code></td>
    <td><code>STEPPE</code></td>
    <td><code>STEP DADDY</code></td>
  </tr>
  <tr>
    <td><code>SKIN GRAFT</code></td>
    <td><code>GRAPHED</code></td>
    <td><code>E</code></td>
    <td><code>COLONEL</code></td>
    <td><code>KERNEL</code></td>
  </tr>
  <tr>
    <td><code>FILM COUNCILS</code></td>
    <td><code>COUNSELS</code></td>
    <td><code>L</code></td>
    <td><code>KNIGHTLY</code></td>
    <td><code>NIGHTLY</code></td>
  </tr>
</table>

<p>Reading the overlapping letters in order gives the word <code>REPEL</code>,
  which probably accurately describes how Disgust would react to the
  next task. However, to get the actual answer, take the homophone of
  that word one last time to get a more productive instruction,
  <strong><code>RAPPEL</code></strong>.
  
<p>Shortly after solving this puzzle, each team is <a href="{{ url_for('full_puzzle' if session.usertype == 'writingteam' else 'puzzle', puzzle_id='disgust_encounter') }}">visited by Disgust</a>.</p>
{% endblock %}
