{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Leland Aldridge and Steven Vanderveer{% endblock %}
{% block solution %}ONSIGHT{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content img {
    width: 200px;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>Each image is an illustration of a question off of Yahoo Answers which was read on the comedy advice podcast <i>My Brother, My Brother and Me</i> (MBMBAM), &ldquo;an advice show for the modren era&rdquo;. Each question was submitted to Yahoo Answers by one person, the asker, and then found and submitted to MBMBAM by another person, the sender.</p>

<p>The questions are presented in the order that they were featured on MBMBAM. The identity of each image, which can be most quickly found by searching <a href="http://mbmbam.wikia.com/wiki/">the MBMBAM wiki</a>, is given below:</p>

<table class="solution-table condensed-table">
  <tr>
    <th>Sender</th>
    <th>Question</th>
    <th>Asker</th>
    <th>Ep.</th>
  </tr>
  <tr>
    <td>Golly Aolly</td>
    <td>Do you think it is possible for Yeti to accept JesusChrist as their savior or does God not want yeti in heaven?</td>
    <td>Yeti Education Committee</td>
    <td>56</td>
  </tr>
  <tr>
    <td>Jakob Locker</td>
    <td>Will a Horse poop out a wallet, or will it get stuck somewhere in its digestive system?</td>
    <td>Vlad T</td>
    <td>68</td>
  </tr>
  <tr>
    <td>Golly Aolly</td>
    <td>My last name is KRUM and i am running for 4h president at my school. i need good slogans for my posters.?</td>
    <td>Jordan Krum</td>
    <td>69</td>
  </tr>
  <tr>
    <td>Golly Aolly</td>
    <td>Girlfriend wants a lock of hair, where to get one?</td>
    <td>Marco</td>
    <td>76</td>
  </tr>
  <tr>
    <td>Jakob Locker</td>
    <td>Why are these cows yelling?</td>
    <td>NYCTrimi&hellip;</td>
    <td>84</td>
  </tr>
  <tr>
    <td>Jakob Locker</td>
    <td>Where can I find an adult chew toy?</td>
    <td>Becky</td>
    <td>87</td>
  </tr>
  <tr>
    <td>Lisa Hollifield</td>
    <td>If you could assassinate any of the characters of Saved By the Bell, who would it be and how?</td>
    <td>Rezxian</td>
    <td>89</td>
  </tr>
  <tr>
    <td>Lisa Hollifield</td>
    <td>I am trying to learn boxing. The basic problem is when a punch is thrown at me I close my eyes and don&rsquo;t block?</td>
    <td>Ambi</td>
    <td>91</td>
  </tr>
  <tr>
    <td>Golly Aolly</td>
    <td>Would Christianity be as popular as it is today, if the Jesus was depicted more like Danny Devito?</td>
    <td>Turn</td>
    <td>91</td>
  </tr>
  <tr>
    <td>Lisa Hollifield</td>
    <td>Can I pack a toilet plunger in my airplane luggage?</td>
    <td>Nathan</td>
    <td>99</td>
  </tr>
  <tr>
    <td>Lisa Hollifield</td>
    <td>If I shave my golden retriever like a lion, will the other dogs respect him more?</td>
    <td>Unairing Pair</td>
    <td>109</td>
  </tr>
  <tr>
    <td>Lisa Hollifield</td>
    <td>Is it illegal to make a movie about a cat?</td>
    <td>Trevor</td>
    <td>111</td>
  </tr>
  <tr>
    <td>Lisa Hollifield</td>
    <td>What are some good dance crew names?</td>
    <td>Minty Fresh</td>
    <td>112</td>
  </tr>
  <tr>
    <td>Ira Wray</td>
    <td>Does anyone else&rsquo;s spouse do karate in the shower?</td>
    <td>Alcoholism Is My New Hobby</td>
    <td>132</td>
  </tr>
  <tr>
    <td>Ira Wray</td>
    <td>Is it acceptable to wear a Snuggie in church?</td>
    <td>No Name</td>
    <td>135</td>
  </tr>
  <tr>
    <td>Ira Wray</td>
    <td>Any ideas on how a dog should carry the rings for a simple beach wedding?</td>
    <td>Rose</td>
    <td>143</td>
  </tr>
  <tr>
    <td>Jakob Locker</td>
    <td>What if sonic the hedgehog was real?</td>
    <td>Magic Missile 1</td>
    <td>147</td>
  </tr>
  <tr>
    <td>Ira Wray</td>
    <td>How often should catch phrases be used?</td>
    <td>Books Where The Magic Happens</td>
    <td>183</td>
  </tr>
  <tr>
    <td>Ira Wray</td>
    <td>Why won&rsquo;t they let me play the digeridoo as part of the band for our church choir on Sundays?</td>
    <td>Didgeridude</td>
    <td>191</td>
  </tr>
  <tr>
    <td>Drew Davenport</td>
    <td>OMG!!! Do spiders hold grudges?</td>
    <td>Marie Antoinette</td>
    <td>199</td>
  </tr>
  <tr>
    <td>Drew Davenport</td>
    <td>Neighbors bong rips keep waking me up at at 6:00am?</td>
    <td>Verde</td>
    <td>218</td>
  </tr>
  <tr>
    <td>Rachel Spurling</td>
    <td>Why does my baby have forehead lines?</td>
    <td>Nina</td>
    <td>220</td>
  </tr>
  <tr>
    <td>Rachel Spurling</td>
    <td>Do snakes and birds ever make love to each other when scientists aren&rsquo;t looking?</td>
    <td>Holden Caulfield</td>
    <td>228</td>
  </tr>
  <tr>
    <td>Drew Davenport</td>
    <td>When a caterpillar is making a cacoon. Does it know its going to become a butterfly? Or just like wtf am I doing with my life?</td>
    <td>James</td>
    <td>235</td>
  </tr>
  <tr>
    <td>Zoe Kinsky</td>
    <td>My life hasn&rsquo;t been the same since Pluto lost its Planet Recognition?</td>
    <td>Engineer Adam</td>
    <td>247</td>
  </tr>
  <tr>
    <td>Drew Davenport</td>
    <td>Is Santa Minica Studios going to make Kratos kill Jesus?! I don&rsquo;t Jesus to die in the future God of War game!!! U Chrsitians agree?</td>
    <td>Alexander</td>
    <td>249</td>
  </tr>
  <tr>
    <td>Zoe Kinsky</td>
    <td>I&rsquo;m a big time lawyer in the city, and yet I&rsquo;m addicted to donkey basketball. All I think about. Is this okay?</td>
    <td>John Blix</td>
    <td>254</td>
  </tr>
  <tr>
    <td>Zoe Kinsky</td>
    <td>What is a good come back when somebody tells you to &ldquo;stick your head in gravy&rdquo;?</td>
    <td>sc-mHm</td>
    <td>256</td>
  </tr>
  <tr>
    <td>Rachel Spurling</td>
    <td>Are the hinges on Blu-ray boxes getting weaker, or am I getting a whole lot stronger?</td>
    <td>Lothar In The Hand People</td>
    <td>256</td>
  </tr>
  <tr>
    <td>Drew Davenport</td>
    <td>Present ideas for someone who likes pizza, butts, and goats?</td>
    <td>smacleod16</td>
    <td>262</td>
  </tr>
  <tr>
    <td>Zoe Kinsky</td>
    <td>What kind of situations are going on in CNN&rsquo;s Situation Room?</td>
    <td>neohio-independent</td>
    <td>266</td>
  </tr>
  <tr>
    <td>Drew Davenport</td>
    <td>I Like Space and Dinosaurs?</td>
    <td>Delta</td>
    <td>267</td>
  </tr>
  <tr>
    <td>Zoe Kinsky</td>
    <td>I think I swap bodies with my goldfish at night,help!?</td>
    <td>Archie</td>
    <td>270</td>
  </tr>
  <tr>
    <td>Zoe Kinsky</td>
    <td>Do ALL people who get lasic eye surgery see ghosts?</td>
    <td>Mayda B</td>
    <td>270</td>
  </tr>
  <tr>
    <td>Rachel Spurling</td>
    <td>What would Batman think of marijuana? Would he look down on people who use it?</td>
    <td>MotherGreen</td>
    <td>274</td>
  </tr>
  <tr>
    <td>Ira Wray</td>
    <td>What is the Fastest way to eat corn on the Cob?</td>
    <td>Iowa Greg</td>
    <td>277</td>
  </tr>
  <tr>
    <td>Drew Davenport</td>
    <td>What is lizard man&rsquo;s relationship to this human world?</td>
    <td>Big Joan</td>
    <td>277</td>
  </tr>
  <tr>
    <td>Drew Davenport</td>
    <td>Big hands ?????????????</td>
    <td>Bernard</td>
    <td>288</td>
  </tr>
  <tr>
    <td>Zoe Kinsky</td>
    <td>I am naming ALL of my pants. Let&rsquo;s start with the torn Wrangler&rsquo;s with spaghetti sauce on the left leg. Any ideas? I&rsquo;m very fond of them.</td>
    <td>Joey</td>
    <td>344</td>
  </tr>
</table>

<p>The second number of the fraction under each image is the number of letters in the asker&rsquo;s name. Taking the first number of each fraction as an index into the asker&rsquo;s name, the string <code>TLURIKIMNAGESANSEWEOVINEARLCTLHAEMORIDY</code> is obtained.</p>

<p>This isn&rsquo;t incredibly useful, but these letters can be organized by the sender (of which there are only seven represented across all thirty-nine questions) and sorted alphabetically by the last name of each sender, giving <code>TURN OVERLAID IMAGES ALCHEMY LIKE INTO ANSWER</code>.</p>

<p>This is a much more sensible message. If we overlay all thirty-nine images, adding all the inked parts of each image, we get a perfectly black panel; no information there. However, if we created seven overlaid images, one for each sender, we get the following:</p>

<img {{ img_src_for('solutions/do_you_want_a/1.png') }}>
<img {{ img_src_for('solutions/do_you_want_a/2.png') }}>
<img {{ img_src_for('solutions/do_you_want_a/3.png') }}>
<img {{ img_src_for('solutions/do_you_want_a/4.png') }}>
<img {{ img_src_for('solutions/do_you_want_a/5.png') }}>
<img {{ img_src_for('solutions/do_you_want_a/6.png') }}>
<img {{ img_src_for('solutions/do_you_want_a/7.png') }}>

<p>In each image, an alchemical symbol is outlined. As identified from Wikipedia&rsquo;s <a href="https://en.wikipedia.org/wiki/Alchemical_symbol">alchemical symbol</a> article and the <a href="http://www.fontspace.com/unicode/block/alchemical-symbols">Unicode block of alchemical symbols</a>, the symbols are:</p>

<div><code>OUNCE</code></div>
<div><code>NITRE</code></div>
<div><code>SULFUR</code></div>
<div><code>INCINERATION</code></div>
<div><code>GOLD</code></div>
<div><code>HORSE DUNG</code></div>
<div><code>TINCTURE</code></div>

<p>Taking the first letters of these gives the answer: <strong><code>ON SIGHT</code></strong>.</p>
{% endblock %}
