{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Li-Mei Lim and Anisa Schardl{% endblock %}
{% block solution %}FANCY CAMBRIC{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content img {
    width: 100%;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>The puzzle is a knitted scarf. The scarf shows a series of purl &ldquo;bumps&rdquo; on a plain stockinette stitch background. The purl stitches represent the raised dots of US Grade 1 Braille. Transliterated from Braille, the scarf reads:</p>

<div>co 32 sts.</div>
<div>border</div>
<div>rows 1–6: k</div>
<div>all sts.</div>
<div>pattern</div>
<div>rows 1 and</div>
<div>3: k all</div>
<div>sts.</div>
<div>row 2 and all</div>
<div>even-numbered</div>
<div>rows: k3</div>
<div>p26 k3.</div>
<div>row 5: k13</div>
<div>p1 k5 p1</div>
<div>k12.</div>
<div>row 7: k10</div>
<div>p1 k1 p2</div>
<div>k2 p1</div>
<div>k15.</div>
<div>row 9: k6</div>
<div>p2 k1 p1</div>
<div>k3 p1 k2</div>
<div>p1 k1 p2</div>
<div>k2 p1 k1</div>
<div>p2 k6.</div>
<div>row 11: k</div>
<div>all sts.</div>
<div>row 13: k9</div>
<div>p2 k5 p1</div>
<div>k15.</div>
<div>row 15: k9</div>
<div>p1 k5 p1</div>
<div>k6 p1</div>
<div>k9.</div>
<div>row 17: k9</div>
<div>p2 k1 p2</div>
<div>k1 p2 k2</div>
<div>p1 k1 p2</div>
<div>k9.</div>
<div>rows 19 and</div>
<div>21: k all</div>
<div>sts.</div>
<div>row 22: k3</div>
<div>p26 k3.</div>
<div>work border</div>
<div>again.</div>
<div>bo all sts</div>

<p>This is a knitting pattern. If you knit it, you get a smaller piece that similarly has purl bumps on a stockinette background:</p>

<img {{ img_src_for('solutions/dont_look/01.jpg') }}>

<p>Again interpreting the purl bumps as the raised dots of Braille, you get the answer <strong><code>FANCY CAMBRIC</code></strong>.</p>
{% endblock %}
