{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Jasmine Florentine and Kevin Hwang{% endblock %}
{% block solution %}REGARDLESS{% endblock %}

{% block solution_content_block %}
<p>Solvers are presented with 10 video clips from a number of animated
  films. Each film has a section or sections blacked out, with
  screaming overlaid. Each blacked out section corresponds to the
  appearance on screen (or the explicit verbal mention) of a
  particular terribly frightening thing. The movie clips in order and
  their corresponding blacked-out scary things are:</p>

<table class="solution-table">
  <thead>
    <tr>
      <th>Movie</th>
      <th>Scary Thing</th>
      <th>Video</th>
    </tr>
  </thead>
  <tr>
    <td><i>Osmosis Jones</i></td>
    <td>Cartoon-logic <strong>X-ray</strong> scanner</td>
    <td>
      <iframe width="280" height="158" src="https://www.youtube.com/embed/dW0Mfsy4nFI?start=32&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr>
    <td><i>Shrek the Third</i></td>
    <td>Shrek&rsquo;s baby projectile <strong>vomiting</strong></td>
    <td>
      <iframe width="280" height="158" src="https://www.youtube.com/embed/zNP7xCKgG84?start=70&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr>
    <td><i>Up</i></td>
    <td>Carl&rsquo;s <strong>balloons</strong> lifting the house</td>
    <td>
      <iframe width="280" height="158" src="https://www.youtube.com/embed/N1NLzBGJavc?start=37&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr>
    <td><i>The Emperor&rsquo;s New Groove</i></td>
    <td>Fly being trapped in a web and eaten by a <strong>spider</strong></td>
    <td>
      <iframe width="280" height="158" src="https://www.youtube.com/embed/pRW44uCUTN4?start=35&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr>
    <td><i>The Princess and the Frog</i></td>
    <td>The <strong>frog</strong> prince</td>
    <td>
      <iframe width="280" height="158" src="https://www.youtube.com/embed/CvUJka2jkSA?start=17&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr>
    <td><i>Fantasia: Night on Bald Mountain</i></td>
    <td>Chernabog the <strong>demon</strong> opening his wings</td>
    <td>
      <iframe width="280" height="158" src="https://www.youtube.com/embed/SLCuL-K39eQ?start=13&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr>
    <td><i>Cloudy with a Chance of Meatballs</i></td>
    <td><strong>Tornado</strong> made of pasta</td>
    <td>
      <iframe width="280" height="158" src="https://www.youtube.com/embed/pHrp2OM19t4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr>
    <td><i>Aladdin</i></td>
    <td>Aladdin wishes for Genie&rsquo;s <strong>freedom</strong></td>
    <td>
      <iframe width="280" height="158" src="https://www.youtube.com/embed/SUfP6IGQD00?start=8&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr>
    <td><i>Zootopia</i></td>
    <td>The <strong>train</strong> Judy takes into the city</td>
    <td>
      <iframe width="280" height="158" src="https://www.youtube.com/embed/Pj75bnsCM_k?start=12&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr>
    <td><i>The Lion King</i></td>
    <td>Pumbaa eating a <strong>worm</strong></td>
    <td>
      <iframe width="280" height="158" src="https://www.youtube.com/embed/xB5ceAruYrI?start=131&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
</table>

<p>Each of the 10 scary things corresponds to a specific phobia (clued
  in the flavortext via &ldquo;My psychiatrist says I have
  problems&rdquo;) which corresponds to the length below each video:</p>

<table class="solution-table condensed-table">
  <thead>
    <tr>
      <th>Scary thing</th>
      <th>Phobia</th>
    </tr>
  </thead>
  <tr>
    <td>X-ray</td>
    <td><code>RADIOPHOBIA</code></td>
  </tr>
  <tr>
    <td>Vomiting</td>
    <td><code>EMETOPHOBIA</code></td>
  </tr>
  <tr>
    <td>Balloons</td>
    <td><code>GLOBOPHOBIA</code></td>
  </tr>
  <tr>
    <td>Spiders</td>
    <td><code>ARACHNOPHOBIA</code></td>
  </tr>
  <tr>
    <td>Frogs</td>
    <td><code>RANIDOPHOBIA</code></td>
  </tr>
  <tr>
    <td>Demons</td>
    <td><code>DAEMONOPHOBIA</code></td>
  </tr>
  <tr>
    <td>Tornadoes (or hurricanes)</td>
    <td><code>LILAPSOPHOBIA</code></td>
  </tr>
  <tr>
    <td>Freedom</td>
    <td><code>ELEUTHEROPHOBIA</code></td>
  </tr>
  <tr>
    <td>Trains</td>
    <td><code>SIDERODROMOPHOBIA</code></td>
  </tr>
  <tr>
    <td>Worms</td>
    <td><code>SCOLECIPHOBIA</code></td>
  </tr>
</table>

<p>Reading the first letter of each phobia yields the answer,
  <strong><code>REGARDLESS</code></strong> (or, alternatively,
  <code>REGARD LESS</code>, a potential strategy for dealing with
  scary things in a movie).</p>
{% endblock %}
