{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Ben Weissmann{% endblock %}
{% block solution %}{{ puzzle.puzzleProperties.AnswersProperty.answers.0.canonicalAnswer }}{% endblock %}

{% block solution_content_block %}
  <p>The first step of the puzzle is to use the information provided
    to construct a family tree. The information is sufficient to both
    construct relationship and relative age, so we arrive at this
    family tree of the five mothers and their daughters, ordered from
    oldest to youngest:</p>

  <ul>
    <li>Tiffany
      <ul>
        <li>Heather</li>
        <li>Eleanora</li>
        <li>Yentl</li>
        <li>Angelina</li>
        <li>Rosemarie</li>
      </ul>
    </li>

    <li>Elaine
      <ul>
        <li>Sandra</li>
      </ul>
    </li>

    <li>Ulliviera
      <ul>
        <li>Claire</li>
        <li>Harriett</li>
        <li>Sebastiana</li>
        <li>Allison</li>
      </ul>
    </li>

    <li>Ursulandina
      <ul>
        <li>Clementina</li>
        <li>Yevgeniya</li>
        <li>Leslie</li>
        <li>Annalise</li>
      </ul>
    </li>

    <li>Daniella
      <ul>
        <li>Isabel</li>
        <li>Evelina</li>
        <li>Selina</li>
      </ul>
    </li>
  </ul>

  <p>Additionally, each family member’s description mentions one or
    more food items, and all of the children’s descriptions include a
    numeral. Collating all of this information yields this tree:</p>

  <ul>
    <li>Tiffany—chicken
      <ul>
        <li>Heather (3)—cream</li>
        <li>Eleanora (2)—onion</li>
        <li>Yentl (2)—white wine, shallots</li>
        <li>Angelina (1)—egg yolks, mushroom, lemon</li>
        <li>Rosemarie (1)—egg yolks, cream</li>
      </ul>
    </li>

    <li>Elaine—tomato
      <ul>
        <li>Sandra (2)—onion, celery, bell peppers</li>
      </ul>
    </li>

    <li>Ulliviera—veal
      <ul>
        <li>Claire (4)—mustard, wine</li>
        <li>Harriett (7)—mushrooms, shallots</li>
        <li>Sebastiana (9)—red wine, bone marrow</li>
        <li>Allison (2)—madeira</li>
      </ul>
    </li>

    <li>Ursulandina—egg yolk, butter
      <ul>
        <li>Clementina (1)—cream</li>
        <li>Yevgeniya (6)—vinegar, tarragon</li>
        <li>Leslie (1)—tomato</li>
        <li>Annalise (2)—orange</li>
      </ul>
    </li>

    <li>Daniella—milk
      <ul>
        <li>Isabel (3)—gruyère</li>
        <li>Evelina (2)—onion</li>
        <li>Selina (1)—crawfish</li>
      </ul>
    </li>
  </ul>

  <p>Reading the first letters of the names in the order they’re
    presented here yields the hint <code>THEY ARE SUCH SAUCY
    LADIES</code>. As clued by the hint, the title, and the general
    food theme, each of these characters corresponds to a classic
    French sauce. The five mothers are the five mother sauces of
    French cuisine, and the children are daughter sauces—variants of
    those mother sauces.</p>

  <p>Each character can be matched with a coresponding sauce based on
    their position in the family tree and the ingredients provided. As
    an additional confirmation, the number of letters in each
    character’s name is the same as the number of characters in the
    name of the sauce:</p>

  <ul>
    <li>Velouté—chicken
      <ul>
        <li>Suprême (3)—cream</li>
        <li>Bretonne (2)—onion</li>
        <li>Bercy (2)—white wine, shallots</li>
        <li>Poulette (1)—egg yolks, mushroom, lemon</li>
        <li>Allemande (1)—egg yolks, cream</li>
      </ul>
    </li>

    <li>Tomate—tomato
      <ul>
        <li>Creole (2)—onion, celery, bell peppers</li>
      </ul>
    </li>

    <li>Espagnole—veal
      <ul>
        <li>Robert (4)—mustard, wine</li>
        <li>Chasseur (7)—mushrooms, shallots</li>
        <li>Bordelaise (9)—red wine, bone marrow</li>
        <li>Madeira (2)—madeira</li>
      </ul>
    </li>

    <li>Hollandaise—egg yolk, butter
      <ul>
        <li>Mousseline (1)—cream</li>
        <li>Béarnaise (6)—vinegar, tarragon</li>
        <li>Choron (1)—tomato</li>
        <li>Maltaise (2)—orange</li>
      </ul>
    </li>

    <li>Béchamel—milk
      <ul>
        <li>Mornay (3)—gruyère</li>
        <li>Soubise (2)—onion</li>
        <li>Nantua (1)—crawfish</li>
      </ul>
    </li>
  </ul>

  <p>Using the numbers of the daughter sauces as indexes into the
    sauce name yields the request <code>PREPARE US A MACARON</code>. Teams
    which successfully follow that instruction are given in exchange
    the final answer,
    <strong><code>{{ puzzle.puzzleProperties.AnswersProperty.answers.0.canonicalAnswer }}</code></strong>.</p>
{% endblock %}
