{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Kawika Pierson{% endblock %}
{% block solution %}FEDERAL RESOURCES{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content img {
    display: block;
    margin: auto;
  }

  .puzzle-content .flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 20px 0px;
  }

  .puzzle-content .flexbox span {
    width: 23%;
    margin-top: 10px;
    text-align: center;
  }

  .puzzle-content .flexbox span.big-margin {
    margin: 10px 5% 0px 5%;
  }

  .puzzle-content .flexbox span.small-span {
    width: 20%;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>Each set of arrows in the puzzle is a <a href="https://en.wikipedia.org/wiki/Causal_loop_diagram">causal loop diagram</a>. Causal loop diagrams are a technique for understanding complex systems that originated at MIT.</p>

<p>The first step in solving the puzzle is to realize that the causal loops are all situations from the cartoon series <i>Rick and Morty</i>. Once solvers have this insight, the placement of the variables is much easier to disambiguate, since many of the words were taken directly from transcripts of the show.</p>

<p>There are four sets of loops, and each set contains four loops, for a total of sixteen loops. Each set of loops is followed by a word bank. Solvers need to place the variables from the word bank into each causal loop diagram in a manner that is consistent with a particular episode of <i>Rick and Morty</i>.</p>

<p>There are four or five extra variables in each word bank. In order to help solvers identify the loops correctly, exactly one variable is unused in each of the first four or five rows of every word bank. In rows past the fourth or fifth, all variables are used by the loops.</p>

<p>The correct loops are shown below:</p>

<img {{ img_src_for('solutions/feedback_encounters_of_the_cld_kind/1.png') }} >

<div class="flexbox">
  <span><strike>People slaving away generating power</strike></span>
  <span><strike>Pledging your eternal soul to the thing that literally controls the weather</strike></span>
  <span>Interactions with Starfleet</span>
  <span><strike>Human hybrid offspring</strike></span>
  <span>Need for a brash copilot</span>
  <span><strike>Apologizing for emissions and racism</strike></span>
  <span><strike>Beings everywhere coming together to offer what little they have</strike></span>
  <span><strike>Potato based religion popularity</strike></span>
  <span>Decision to protect the twelve colonies</span>
  <span><strike>Crises of faith</strike></span>
  <span><strike>Offering the galaxy&rsquo;s most influential civil rights leader a chance to live</strike></span>
  <span><strike>Word of your attempts spreading across the galaxy</strike></span>
  <span><strike>Consuming their proteins</strike></span>
  <span><strike>Examples of what Headism can offer the world</strike></span>
  <span>Energy swords used</span>
  <span><strike>Sex with froopy creatures</strike></span>
  <span><strike>Attempts to weasel out of it</strike></span>
  <span>Xenophile cultures encountered</span>
  <span><strike>Pressure to donate your genitals</strike></span>
  <span><strike>Ability to pay for a synthetic heart</strike></span>
  <span><strike>Misperception of approval from the giant head</strike></span>
  <span><strike>Arrogant scientist pricks inventing energy sources</strike></span>
  <span><strike>Realization that the old gods are dead</strike></span>
  <span><strike>Discussion of humanity&rsquo;s obsession with penises</strike></span>
  <span><strike>Dropping to your knees</strike></span>
  <span><strike>Microverses</strike></span>
  <span><strike>Going out onto the sidewalk</strike></span>
  <span><strike>Food needed</strike></span>
</div>

<img {{ img_src_for('solutions/feedback_encounters_of_the_cld_kind/2.png') }} >

<div class="flexbox">
  <span class="big-margin"><strike>Mounting suspicion of your only companion</strike></span>
  <span class="big-margin"><strike>Ability for a talking chair to know who is lying</strike></span>
  <span class="big-margin">Using your last drop of fuel</span>
  <span>Story arcs following the hero&rsquo;s journey</span>
  <span><strike>Red Xs marked on foreheads</strike></span>
  <span><strike>Telepathic parasites</strike></span>
  <span><strike>Flashbacks</strike></span>
  <span><strike>Dangerous criminals that look exactly like us</strike></span>
  <span>Ithorians revering nature</span>
  <span><strike>Freezing time</strike></span>
  <span><strike>Zany wacky characters</strike></span>
  <span><strike>Desire to remember everything</strike></span>
  <span><strike>Embedded memories</strike></span>
  <span><strike>Murder of beloved friends</strike></span>
  <span>Number of Popplers eaten</span>
  <span>Groups of Morlocks</span>
  <span><strike>Ability to fix the house before your parents get home</strike></span>
  <span><strike>Memory storage units viewed</strike></span>
</div>

<img {{ img_src_for('solutions/feedback_encounters_of_the_cld_kind/3.png') }} >

<div class="flexbox">
  <span>Portals to Asgard</span>
  <span><strike>Bombing yourself back into the Stone Age</strike></span>
  <span><strike>Pluto&rsquo;s status as a planet</strike></span>
  <span><strike>Distraction and henpecking</strike></span>
  <span><strike>Manipulation through sex and advanced technology</strike></span>
  <span><strike>Ability to throw an awesome party</strike></span>
  <span>Laser guns given to monkeys</span>
  <span><strike>Ability to focus entirely on war</strike></span>
  <span><strike>Ability of rich corporations to keep mining</strike></span>
  <span><strike>Morphizer use</strike></span>
  <span>Usefulness of Replicants</span>
  <span><strike>Insistence that Pluto is a planet</strike></span>
  <span><strike>Number of people controlled by entity</strike></span>
  <span>Size of holes in the plot</span>
  <span><strike>Size of body parts</strike></span>
  <span><strike>Female domination of society</strike></span>
  <span><strike>Size of Pluto</strike></span>
  <span><strike>Fractal dust ingested</strike></span>
  <span><strike>Reliance on birthing machines</strike></span>
  <span><strike>Attempts to get back to normal</strike></span>
</div>

<img {{ img_src_for('solutions/feedback_encounters_of_the_cld_kind/4.png') }} >

<div class="flexbox">
  <span class="small-span">Scientific-sounding gibberish</span>
  <span class="small-span"><strike>Ability to alter details</strike></span>
  <span class="small-span"><strike>Agents ordered to attack</strike></span>
  <span class="small-span"><strike>Need for an antidote</strike></span>
  <span class="small-span"><strike>Helpers roped into this</strike></span>
  <span>Interdimensional pathways</span>
  <span><strike>Difficulty of fulfilling your purpose</strike></span>
  <span><strike>Brazenness of selfie requests</strike></span>
  <span><strike>Perceived importance of getting a selfie</strike></span>
  <span><strike>Shedding the blood of your brothers</strike></span>
  <span><strike>Genetic changes caused by serum</strike></span>
  <span>Gagh palatability</span>
  <span><strike>Ability to leave the brain analyzer</strike></span>
  <span><strike>Dead Secret Service agents</strike></span>
  <span>Number of Force-sensitive children</span>
  <span><strike>Experiencing fabricated origin stories</strike></span>
  <span><strike>Length of existence</strike></span>
  <span><strike>Viruses uploaded to brain analyzer</strike></span>
  <span><strike>Hostages taken</strike></span>
  <span>Sympathy for the Na&rsquo;vi</span>
  <span><strike>Exotic DNA included in the serum</strike></span>
</div>

<p>Once all of the loops in a set have been solved, the variables remaining in each word bank acrostic to form one word in a four word clue phrase: <code>INDEX USING PLUS SIGNS</code>.</p>

<p>Using this clue, solvers should be confident that the number of positive links in each of the loops is the appropriate index to use in the extraction. However, most of the loops in the puzzle do not have plus and minus signs assigned to their arrows at the start of the puzzle. Solvers must walk through each loop using causal reasoning and place a plus sign on every link where the variables move in the same direction and a minus sign on every link where the variables move in the opposite direction. Once that is done, solvers can count the plus signs in each loop to reveal the correct index.</p>

<p>Solvers should then notice that the puzzle title replaces several words in a well known movie title. This is exactly the same approach that <i>Rick and Morty</i> takes with their episode titles, cluing the fact that solvers need to identify which <i>Rick and Morty</i> episode each of the loops was drawn from. Indexing into the correct title yields the answer <strong><code>FEDERAL RESOURCES</code></strong>.</p>

<table class="solution-table condensed-table">
  <tr>
    <th>Episode Title</th>
    <th>Plus Signs</th>
    <th>Letter</th>
  </tr>
  <tr>
    <td>&ldquo;Get Schwifty&rdquo;</td>
    <td>9</td>
    <td><code>F</code></td>
  </tr>
  <tr>
    <td>&ldquo;The Ricks Must Be Crazy&rdquo;</td>
    <td>3</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>&ldquo;Interdimensional Cable 2: Tempting Fate&rdquo;</td>
    <td>6</td>
    <td><code>D</code></td>
  </tr>
  <tr>
    <td>&ldquo;The ABCs of Beth&rdquo;</td>
    <td>3</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>&ldquo;Morty&rsquo;s Mind Blowers&rdquo;</td>
    <td>3</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>&ldquo;Total Rickall&rdquo;</td>
    <td>4</td>
    <td><code>A</code></td>
  </tr>
  <tr>
    <td>&ldquo;Close Rick-counters of the Rick Kind&rdquo;</td>
    <td>2</td>
    <td><code>L</code></td>
  </tr>
  <tr>
    <td>&ldquo;Ricksy Business&rdquo;</td>
    <td>1</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>&ldquo;The Whirly Dirly Conspiracy&rdquo;</td>
    <td>3</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>&ldquo;Raising Gazorpazorp&rdquo;</td>
    <td>4</td>
    <td><code>S</code></td>
  </tr>
  <tr>
    <td>&ldquo;Something Ricked This Way Comes&rdquo;</td>
    <td>2</td>
    <td><code>O</code></td>
  </tr>
  <tr>
    <td>&ldquo;Auto-Erotic Assimilation&rdquo;</td>
    <td>2</td>
    <td><code>U</code></td>
  </tr>
  <tr>
    <td>&ldquo;The Rickchurian Mortydate&rdquo;</td>
    <td>4</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>&ldquo;Rick Potion #9&rdquo;</td>
    <td>3</td>
    <td><code>C</code></td>
  </tr>
  <tr>
    <td>&ldquo;The Rickshank Rickdemption&rdquo;</td>
    <td>3</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>&ldquo;Meeseeks and Destroy&rdquo;</td>
    <td>4</td>
    <td><code>S</code></td>
  </tr>
</table>
{% endblock %}
