{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By John Toomey{% endblock %}
{% block solution %}BLACK OPERATION{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content img {
    height: 50px;
    width: 50px;
  }

  .puzzle-content .example td {
    padding-right: 20px;
  }

  .puzzle-content .row {
    display: flex;
  }

  .puzzle-content .row > span {
    align-self: center;
  }

  .puzzle-content .container {
    position: relative;
    text-align: center;
  }

  .puzzle-content .centered {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%);
  }

  .puzzle-content .lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .puzzle-content .list {
    margin-bottom: 10px;
    max-width: 300px;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>Six lists have been encoded, as has the title, using a scheme similar to that of standard nautical flags, except that adjacent substitution numbers are summed rather than being represented as <a href="https://en.wikipedia.org/wiki/International_maritime_signal_flags#Substitute">standard substitution flags</a>. This is hinted by the puzzle’s substitution flags being in the shape of capital sigmas (Σ). For example, the first five entries in the NATO phonetic alphabet (Alfa, Bravo, Charlie, Delta, Echo) would be encoded as follows:</p>

<table class="example">
  <tr>
    <td>
      <div class="row">
        <img {{ img_src_for('solutions/flags_o1_6ur_10the15/A.png') }}>
        <img {{ img_src_for('solutions/flags_o1_6ur_10the15/L.png') }}>
        <img {{ img_src_for('solutions/flags_o1_6ur_10the15/F.png') }}>
        <div class="container">
          <img {{ img_src_for('solutions/flags_o1_6ur_10the15/00.png') }}>
          <span class="centered">1</span>
        </div>
      </div>
    </td>
    <td>
      <span><b>A L F</b> (repeat flag <b>1</b>)</span>
    </td>
  </tr>
  <tr>
    <td>
      <div class="row">
        <img {{ img_src_for('solutions/flags_o1_6ur_10the15/B.png') }}>
        <img {{ img_src_for('solutions/flags_o1_6ur_10the15/R.png') }}>
        <div class="container">
          <img {{ img_src_for('solutions/flags_o1_6ur_10the15/00.png') }}>
          <span class="centered">4</span>
        </div>
        <img {{ img_src_for('solutions/flags_o1_6ur_10the15/V.png') }}>
        <img {{ img_src_for('solutions/flags_o1_6ur_10the15/O.png') }}>
      </div>
    </td>
    <td>
      <span><b>B R</b> (repeat flag <b>4</b> (which was itself a repeat of A)) <b>V O</b></span>
    </td>
  </tr>
  <tr>
    <td>
      <div class="row">
        <img {{ img_src_for('solutions/flags_o1_6ur_10the15/C.png') }}>
        <img {{ img_src_for('solutions/flags_o1_6ur_10the15/H.png') }}>
        <div class="container">
          <img {{ img_src_for('solutions/flags_o1_6ur_10the15/00.png') }}>
          <span class="centered">15</span>
        </div>
        <img {{ img_src_for('solutions/flags_o1_6ur_10the15/I.png') }}>
        <img {{ img_src_for('solutions/flags_o1_6ur_10the15/E.png') }}>
      </div>
    </td>
    <td>
      <span><b>C H</b> (repeat flag 7 + rep. 6 + rep. 2 = <b>rep. 15</b>) <b>I E</b></span>
    </td>
  </tr>
  <tr>
    <td>
      <div class="row">
        <img {{ img_src_for('solutions/flags_o1_6ur_10the15/D.png') }}>
        <div class="container">
          <img {{ img_src_for('solutions/flags_o1_6ur_10the15/00.png') }}>
          <span class="centered">30</span>
        </div>
        <img {{ img_src_for('solutions/flags_o1_6ur_10the15/T.png') }}>
        <div class="container">
          <img {{ img_src_for('solutions/flags_o1_6ur_10the15/00.png') }}>
          <span class="centered">12</span>
        </div>
      </div>
    </td>
    <td>
      <span><b>D</b> (rep. 16 + rep. 14 = <b>rep. 30</b>) <b>T</b> (rep. <b>12</b>)</span>
    </td>
  </tr>
  <tr>
    <td>
      <div class="row">
        <div class="container">
          <img {{ img_src_for('solutions/flags_o1_6ur_10the15/00.png') }}>
          <span class="centered">48</span>
        </div>
      </div>
    </td>
    <td>
      <span>(rep. 18 + rep. 10 + rep. 11 + rep. 9 = <b>rep. 48</b>)</span>
    </td>
  </tr>
</table>

<p>(Note that in DELTA, 16 + 14 = 30 refers to the E and L of CHARLIE, and not the 16th and 14th flags, since ARL of CHARLIE is condensed into a single flag.)</p>

<p>The six science and sci-fi themed lists encoded are:</p>
<div class="lists">
  <div class="list">
    <div><b>Set D:</b> Medical Professionals = Actors who portrayed The Doctor in Doctor Who:</div>
    <div><b>D.1:</b> HARTNELL</div>
    <div><b>D.2:</b> TROUGHTON</div>
    <div><b>D.3:</b> PERTWEE</div>
    <div><b>D.4:</b> BAKER</div>
    <div><b>D.5:</b> DAVISON</div>
    <div><b>D.6:</b> BAKER</div>
    <div><b>D.7:</b> MCCOY</div>
    <div><b>D.8:</b> MCGANN</div>
    <div><b>D.9:</b> ECCLESTON</div>
    <div><b>D.10:</b> TENNANT</div>
    <div><b>D.11:</b> SMITH</div>
    <div><b>D.12:</b> CAPALDI</div>
    <div><b>D.13:</b> WHITTAKER</div>
  </div>
  <div class="list">
    <div>Set E: Tiny Pieces = Elements</div>
    <div><b>E.1:</b> HYDROGEN</div>
    <div><b>E.2:</b> HELIUM</div>
    <div><b>E.3:</b> LITHIUM</div>
    <div><b>E.4:</b> BERYLLIUM</div>
    <div><b>E.5:</b> BORON</div>
    <div><b>E.6:</b> CARBON</div>
    <div><b>E.7:</b> NITROGEN</div>
    <div><b>E.8:</b> OXYGEN</div>
    <div><b>E.9:</b> FLOURINE</div>
    <div><b>E.10:</b> NEON</div>
    <div><b>E.11:</b> SODIUM</div>
    <div><b>E.12:</b> MAGNESIUM</div>
    <div><b>E.13:</b> ALUMINUM</div>
    <div><b>E.14:</b> SILICON</div>
    <div><b>E.15:</b> PHOSPHOROUS</div>
    <div><b>E.16:</b> SULFUR</div>
    <div><b>E.17:</b> CHLORINE</div>
    <div><b>E.18:</b> ARGON</div>
    <div><b>E.19:</b> POTASSIUM</div>
    <div><b>E.20:</b> CALCIUM</div>
  </div>
  <div class="list">
    <div><b>Set G:</b> Top Talent = Science-Fiction Grandmasters (recipients of the Damon Knight Memorial Grandmaster Award, more specifically)</div>
    <div><b>G.1:</b> HEINLEIN</div>
    <div><b>G.2:</b> WILLIAMSON</div>
    <div><b>G.3:</b> SIMAK</div>
    <div><b>G.4:</b> DECAMP</div>
    <div><b>G.5:</b> LEIBER</div>
    <div><b>G.6:</b> NORTON</div>
    <div><b>G.7:</b> CLARKE</div>
    <div><b>G.8:</b> ASIMOV</div>
    <div><b>G.9:</b> BESTER</div>
    <div><b>G.10:</b> BRADBURY</div>
    <div><b>G.11:</b> DELREY</div>
    <div><b>G.12:</b> POHL</div>
    <div><b>G.13:</b> KNIGHT</div>
    <div><b>G.14:</b> VANVOGT</div>
    <div><b>G.15:</b> VANCE</div>
    <div><b>G.16:</b> ANDERSON</div>
    <div><b>G.17:</b> CLEMENT</div>
    <div><b>G.18:</b> ALDISS</div>
    <div><b>G.19:</b> FARMER</div>
    <div><b>G.20:</b> LEGUIN</div>
  </div>
  <div class="list">
    <div><b>Set N:</b> Data Packs = Expansions to the Android: Netrunner card game (aka Data Packs)</div>
    <div><b>N.1:</b> WHATLIESAHEAD</div>
    <div><b>N.2:</b> TRACEAMOUNT</div>
    <div><b>N.3:</b> CYBEREXODUS</div>
    <div><b>N.4:</b> ASTUDYINSTATIC</div>
    <div><b>N.5:</b> HUMANITYSSHADOW</div>
    <div><b>N.6:</b> FUTUREPROOF</div>
    <div><b>N.7:</b> OPENINGMOVES</div>
    <div><b>N.8:</b> SECONDTHOUGHTS</div>
    <div><b>N.9:</b> MALATEMPORA</div>
    <div><b>N.10:</b> TRUECOLORS</div>
    <div><b>N.11:</b> FEARANDLOATHING</div>
    <div><b>N.12:</b> DOUBLETIME</div>
    <div><b>N.13:</b> UPSTALK</div>
    <div><b>N.14:</b> THESPACESBETWEEN</div>
    <div><b>N.15:</b> FIRSTCONTACT</div>
    <div><b>N.16:</b> UPANDOVER</div>
    <div><b>N.17:</b> ALLTHATREMAINS</div>
    <div><b>N.18:</b> THESOURCE</div>
    <div><b>N.19:</b> THEVALLEY</div>
    <div><b>N.20:</b> BREAKERBAY</div>
  </div>
  <div class="list">
    <div><b>Set P:</b> Spheres = Planets of our Solar System</div>
    <div><b>P.1:</b> MERCURY</div>
    <div><b>P.2:</b> VENUS</div>
    <div><b>P.3:</b> EARTH</div>
    <div><b>P.4:</b> MARS</div>
    <div><b>P.5:</b> JUPITER</div>
    <div><b>P.6:</b> SATURN</div>
    <div><b>P.7:</b> URANUS</div>
    <div><b>P.8:</b> NEPTUNE</div>
    <div>(nobody needs the stress of Pluto’s status, seriously)</div>
  </div>
  <div class="list">
    <div><b>Set W:</b> Keep Rolling = Wheel of Time Novels</div>
    <div><b>W.1:</b> THEEYEOFTHEWORLD</div>
    <div><b>W.2:</b> THEGREATHUNT</div>
    <div><b>W.3:</b> THEDRAGONREBORN</div>
    <div><b>W.4:</b> THESHADOWRISING</div>
    <div><b>W.5:</b> THEFIRESOFHEAVEN</div>
    <div><b>W.6:</b> LORDOFCHAOS</div>
    <div><b>W.7:</b> ACROWNOFSWORDS</div>
    <div><b>W.8:</b> THEPATHOFDAGGERS</div>
    <div><b>W.9:</b> WINTERSHEART</div>
    <div><b>W.10:</b> CROSSROADSOFTWILIGHT</div>
    <div><b>W.11:</b> KNIFEOFDREAMS</div>
    <div><b>W.12:</b> THEGATHERINGSTORM</div>
    <div><b>W.13:</b> TOWERSOFMIDNIGHT</div>
    <div><b>W.14:</b> AMEMORYOFLIGHT</div>
  </div>
</div>

<p>These sets can be continued out to (or beyond) the highest reference seen in the equations that follow.</p>

<div>
  <div>D.8 + N.5 - E.17</div>
  <div>= MCGANN + HUMANITYSSHADOW - CHLORINE</div>
  <div>= 224 + 572 - 794</div>
  <div>= 2</div>
  <div>= <code>B</code></div>
</div>

<p>Continuing calculation of the indicated equations results in <strong><code>BLACK OPERATION</code></strong>, the solution.</p>
{% endblock %}
