{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Hubert Hwang and Kevin Hwang{% endblock %}
{% block solution %}PASTOR{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content img {
    width: 50%
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>Teams will receive a smartphone with which to play the &ldquo;pre-beta&rdquo; version of Pok&eacute;mon Go, Master Edition. The &ldquo;smartphone&rdquo; is actually a piece of cardboard with red cellophane taped to it.</p>

<p>Teams will also be shown a &ldquo;nearby&rdquo; screen that is similar to the one in the actual Pok&eacute;mon Go game, but the pictures for the &ldquo;stops&rdquo; are broken images. Thankfully, there are text descriptions of what the images show. To aid with identification, the locations are sorted by building number (treating W20 as 20).</p>

<table class="solution-table">
  <tr>
    <th>Description</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>3D optics lab on the 3rd floor</td>
    <td>3-319</td>
  </tr>
  <tr>
    <td>Records office</td>
    <td>5-115 (registrar&rsquo;s office)</td>
  </tr>
  <tr>
    <td>A Noctowl in flight.  They must have been real fast to get this photo!</td>
    <td>10-4, near Strobe Alley</td>
  </tr>
  <tr>
    <td>A fishbowl</td>
    <td>11-1 Athena cluster</td>
  </tr>
  <tr>
    <td>Rectangular concert room near the library</td>
    <td>14-1, near Killian Hall (poster on a nearby column)</td>
  </tr>
  <tr>
    <td>A banner of a fuzzy Pok&eacute;mon similar to a Venonat</td>
    <td>W20-5 near SIPB</td>
  </tr>
  <tr>
    <td>A subterranean Fountain that makes you feel years younger</td>
    <td>26-0 water fountain (the Fountain of Youth)</td>
  </tr>
  <tr>
    <td>A thousand Flying-type Pok&eacute;mon circling overhead</td>
    <td>32-1, entrance closest to the Sean Collier memorial</td>
  </tr>
  <tr>
    <td>The Lodge where freshmen learn to make things</td>
    <td>35-318, near the MakerLodge</td>
  </tr>
  <tr>
    <td>People studying Electric-type Pok&eacute;mon make their headquarters here</td>
    <td>36-4, near the RLE Headquarters</td>
  </tr>
  <tr>
    <td>Bring your Pok&eacute;Walker and pick up the Courage badge!</td>
    <td>50-356</td>
  </tr>
  <tr>
    <td>The base of the triangle. You can catch a Vanillite here!</td>
    <td>66-0, near the elevators</td>
  </tr>
</table>

<p>Near to each of these locations is a public bulletin board. Per the directions, you need to look under &ldquo;every stone&rdquo;&mdash;that is, underneath a poster with a picture of a rock. You&rsquo;ll find another poster here, with a weird silhouette of a Duskull.</p>

<p>If you look through the smartphone at the Duskull, it will reveal a short message. Each of the 12 locations has a message as follows:</p>

<table class="solution-table">
  <tr>
    <th>Location</th>
    <th>Message</th>
    <th>Poster</th>
  </tr>
  <tr>
    <td>3-319</td>
    <td>Moves 3 19 and 45 // Thursday vs Ding</td>
    <td><a href="{{ asset_url_for('solutions/go/01.png') }}" target="_blank">poster</a> | <a href="{{ asset_url_for('solutions/go/01_red.png') }}"" target="_blank">red revealed</a></td>
  </tr>
  <tr>
    <td>5-115</td>
    <td>Moves 41 67 and 105 // Thursday vs Qiao</td>
    <td><a href="{{ asset_url_for('solutions/go/02.png') }}" target="_blank">poster</a> | <a href="{{ asset_url_for('solutions/go/02_red.png') }}"" target="_blank">red revealed</a></td>
  </tr>
  <tr>
    <td>10-4</td>
    <td>Moves 35 101 and 111 // Thursday vs Meng</td>
    <td><a href="{{ asset_url_for('solutions/go/03.png') }}" target="_blank">poster</a> | <a href="{{ asset_url_for('solutions/go/03_red.png') }}"" target="_blank">red revealed</a></td>
  </tr>
  <tr>
    <td>11-1</td>
    <td>Moves 69 115 and 159 // Friday vs Ke [first]</td>
    <td><a href="{{ asset_url_for('solutions/go/04.png') }}" target="_blank">poster</a> | <a href="{{ asset_url_for('solutions/go/04_red.png') }}"" target="_blank">red revealed</a></td>
  </tr>
  <tr>
    <td>14-1</td>
    <td>Moves 43 55 and 143 // Friday vs Park [second]</td>
    <td><a href="{{ asset_url_for('solutions/go/05.png') }}" target="_blank">poster</a> | <a href="{{ asset_url_for('solutions/go/05_red.png') }}"" target="_blank">red revealed</a></td>
  </tr>
  <tr>
    <td>W20-5</td>
    <td>Moves 29 67 and 69 // Monday vs Dang</td>
    <td><a href="{{ asset_url_for('solutions/go/06.png') }}" target="_blank">poster</a> | <a href="{{ asset_url_for('solutions/go/06_red.png') }}"" target="_blank">red revealed</a></td>
  </tr>
  <tr>
    <td>26-0</td>
    <td>Moves 109 119 and 137 // Monday vs Gu [third]</td>
    <td><a href="{{ asset_url_for('solutions/go/07.png') }}" target="_blank">poster</a> | <a href="{{ asset_url_for('solutions/go/07_red.png') }}"" target="_blank">red revealed</a></td>
  </tr>
  <tr>
    <td>32-1</td>
    <td>Moves 15 85 and 93 // Tuesday vs Yang</td>
    <td><a href="{{ asset_url_for('solutions/go/08.png') }}" target="_blank">poster</a> | <a href="{{ asset_url_for('solutions/go/08_red.png') }}"" target="_blank">red revealed</a></td>
  </tr>
  <tr>
    <td>35-318</td>
    <td>Moves 89 129 and 133 // Tuesday vs Kang</td>
    <td><a href="{{ asset_url_for('solutions/go/09.png') }}" target="_blank">poster</a> | <a href="{{ asset_url_for('solutions/go/09_red.png') }}"" target="_blank">red revealed</a></td>
  </tr>
  <tr>
    <td>36-4</td>
    <td>Moves 63 65 and 73 // Tuesday vs Shi</td>
    <td><a href="{{ asset_url_for('solutions/go/10.png') }}" target="_blank">poster</a> | <a href="{{ asset_url_for('solutions/go/10_red.png') }}"" target="_blank">red revealed</a></td>
  </tr>
  <tr>
    <td>50-356</td>
    <td>Moves 63 109 and 143 // Wednesday vs Nie</td>
    <td><a href="{{ asset_url_for('solutions/go/11.png') }}" target="_blank">poster</a> | <a href="{{ asset_url_for('solutions/go/11_red.png') }}"" target="_blank">red revealed</a></td>
  </tr>
  <tr>
    <td>66-0</td>
    <td>Moves 103 127 and 161 // Wednesday vs Zhou [second]</td>
    <td><a href="{{ asset_url_for('solutions/go/12.png') }}" target="_blank">poster</a> | <a href="{{ asset_url_for('solutions/go/12_red.png') }}"" target="_blank">red revealed</a></td>
  </tr>
</table>

<p>These refer to moves in a series of 60 matches that the AI program AlphaGo played online between 12/29/2016 and 1/4/2017 under the alias &ldquo;Master&rdquo;. The game logs can be found <a href="https://deepmind.com/research/alphago/match-archive/master/" target="_blank">here</a>. Games are identified based on their day of the week (12/29/2016 was a Thursday) and by the surname of the opponent (with ordinal disambiguation where more than one game was played by a player with that surname on that day).</p>

<p>Three moves from each of twelve different matches are noted. In each of these matches, AlphaGo played black. Plot AlphaGo&rsquo;s moves on a Go board to spell out the answer <strong><code>PASTOR</code></strong>.</p>

<img {{ img_src_for('solutions/go/board.png') }} >
{% endblock %}
