{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Denis Auroux{% endblock %}
{% block solution %}HOW GREAT{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content #grids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .puzzle-content #grids img {
    width: 260px;
    height: 236px;
    margin: 10px;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>The solutions to each of the grids is as follows (sad neighbors are
  colored in blue; disgusted neighbors in green):</p>

<div id="grids">
  <img src="{{ asset_url_for('solutions/good_fences_make_sad_and_disgusted_neighbors/solution-1.png') }}" />
  <img src="{{ asset_url_for('solutions/good_fences_make_sad_and_disgusted_neighbors/solution-2.png') }}" />
  <img src="{{ asset_url_for('solutions/good_fences_make_sad_and_disgusted_neighbors/solution-3.png') }}" />
  <img src="{{ asset_url_for('solutions/good_fences_make_sad_and_disgusted_neighbors/solution-4.png') }}" />
  <img src="{{ asset_url_for('solutions/good_fences_make_sad_and_disgusted_neighbors/solution-5.png') }}" />
  <img src="{{ asset_url_for('solutions/good_fences_make_sad_and_disgusted_neighbors/solution-6.png') }}" />
  <img src="{{ asset_url_for('solutions/good_fences_make_sad_and_disgusted_neighbors/solution-7.png') }}" />
  <img src="{{ asset_url_for('solutions/good_fences_make_sad_and_disgusted_neighbors/solution-8.png') }}" />
</div>

<p>After solving each grid, count the number of sad (blue) neighbors outside
  of each loop, and use that as an index into the alphabet:</p>

<table class="solution-table condensed-table">
  <thead>
    <th>Neighbors</th>
    <th>Letter</th>
  </thead>
  <tbody>
    <tr>
      <td>8</td>
      <td><code>H</code></td>
    </tr>
    <tr>
      <td>15</td>
      <td><code>O</code></td>
    </tr>
    <tr>
      <td>23</td>
      <td><code>W</code></td>
    </tr>
    <tr>
      <td>7</td>
      <td><code>G</code></td>
    </tr>
    <tr>
      <td>18</td>
      <td><code>R</code></td>
    </tr>
    <tr>
      <td>5</td>
      <td><code>E</code></td>
    </tr>
    <tr>
      <td>1</td>
      <td><code>A</code></td>
    </tr>
    <tr>
      <td>20</td>
      <td><code>T</code></td>
    </tr>
  </tbody>
</table>

<p>Reading in order yields the answer, <strong><code>HOW GREAT</code></strong>.</p>
{% endblock %}
