{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Kate-Laurel Agnew, Li-Mei Lim, and Charles Steinhardt{% endblock %}
{% block solution %}CODEX RUNICUS{% endblock %}

{% block solution_content_block %}
  <p>Each of the twelve passages describes a saint, each of whom has a
    feast day. The translations and saints are as follows.</p>

  <blockquote>
    <p>FORTASSE SOLVS QVI A FILIO SVO SVBSECVTVS PAPA HIC PIVS VIR
      SECRETARIVM QVOD SCRIPTVRAS ORIGENIS THEOLOGI ALEXANDRINI
      BLASPHEMIAS DIXIT ESSE CONVOCAVIT EVM HOMINEM QVI IN PAVPERTATE
      SANCTITATEM COMPLEXVS SIT HIERONYMVS ACCLAMAT</p>

    <p>Translation: He was perhaps the only pope to be succeeded by
      his son. This pious man convened a council that said the
      Alexandrian theologian Origen’s writings were blasphemy. Saint
      Jerome praises him as a man of great holiness in his poverty.</p>
  </blockquote>

  <p>This passage describes <b>Anastasius I</b>, whose feast day is
    <b>December 19</b>.</p>

  <blockquote>
    <p>HIC SENATOR A SERVO SVO DE CHRISTIANITATE DEFERITVR PRO SENATV
      IVDICE FIDEM CHRISTIANAM ARDENTER DEFENDIT ITAQVE FIDE TECTVS
      MORTEM NON METVANS QVOMODO PAGANITATEM VICTVRVS SIT IESVS
      GLORIOSVS NARRAVIT</p>

    <p>Translation: This senator was denounced as a Christian by his
      slave. He defended his Christian faith passionately before the
      senate as judge. Therefore, protected by faith and not fearing
      death, he described how glorious Jesus would conquer paganism.</p>
  </blockquote>

  <p>This passage describes <b>Apollonious the Apologist</b>, whose
    feast day is <b>April 18</b>.</p>

  <blockquote>
    <p>HIC VIR VT DICVNT FILIVS CVIVSDAM REGIS SCOTORVM ORDINATO EO AD
      HELVETIAM DEINDE IVIT ET ILLIC DRACONE CERTAVIT VIR PIISSIMVS
      POSTEA IN AD LACVM PVLCHRVM CAVERNA IPSIVS DRACONIS VITAM
      ASCETAE EGIT</p>

    <p>Translation: According to legend, this man was the son of a
      certain Scottish king. After being ordained, he then went to
      Switzerland and fought a dragon there. A most pious man, he
      afterwards lived life as a hermit in the dragon’s cave beside a
      beautiful lake.</p>
  </blockquote>

  <p>This passage describes <b>Beatus of Lungern</b>, whose feast day
    is <b>May 9</b>.</p>

  <blockquote>
    <p>HIC VIR BRITANNIAE MIRACVLATOR NOMINATVS HOMINES PESTEM
      TERRIBILEM MORBOSQVE ALTEROS PATIENTES INTREPIDIVS CVRAVIT IS
      VITAM EGIT MEDICVS MAGNVS CIRCA DVNELM QVA POPVLVS CRVCEM EIVS
      IN PROELIVM TVLIT CARVS SANCTVS EST</p>

    <p>Translation: This man, called the Wonder Worker of Britain,
      daringly tended to people suffering from terrible plague and
      other diseases. He lived as a great healer. Near Durham, where
      people carried his cross into battle, he is a most beloved
      saint.</p>
  </blockquote>

  <p>This passage describes <b>Cuthbert</b>, whose feast day is <b>March
    20</b>.</p>

  <blockquote>
    <p>HIC VIR ITALIANVS AD GALLIAM ITVS EPISCOPVS LVTETIAE PRINCEPS
      ERAT IBI A GVBERNATORE ROMANO CAPITE SVO LEVATVS EST DECOLLATVS
      ET CAPVT SVVM SVBLATVS ALIQVOT MILIA VERBVM BEATVM DEI
      CONSTANTER PRAEDICANS AMBVLAVIT</p>

    <p>Translation: This Italian man went to France and was the first
      bishop of Paris. He was beheaded there by a Roman
      governor. Beheaded and carrying his own head, he walked a few
      miles preaching the glory of god the whole way.</p>
  </blockquote>

  <p>This passage describes <b>Denis</b>, whose feast day is <b>October
    9</b>.</p>

  <blockquote>
    <p>HIC VIR ANTIOCHENSIS MILES ANNOS LX ERAT ET CVM IMPERATORE
      CONSTANTINO BELLVM GESSIT. EI DEOS ROMANOS DEOS SVOS ACCIPERE
      INCOMPRAEHENSIBILIS, ITAQVE IVLIANVS APOSTATA EO ANNOS CX NATO
      DETRVNCATVM ESSE IVSSIT.</p>

    <p>Translation: This man from Antioch was a soldier for 60 years
      and waged war with Emperor Constantine.  It was incomprehensible
      to him to accept the Roman gods as his own, so Julian the
      Apostate ordered him beheaded when he was 110 years old.</p>
  </blockquote>

  <p>This passage describes <b>Eusignius of Antioch</b>, whose feast
    day is <b>August 5</b>.</p>

  <blockquote>
    <p>HIC EPISCOPVS ROMAE DE MAZYCIBVS NATVS TERMINALIS. AVCTOR
      VERBOSVS FERAXQVE LITTERARVM MVLTARVM IN QVIBVS EST DVO SVNT DE
      COMPARATIONE ECCLESIAE CIVITATISQVE ERAT. CVM PAPA ESSET NE
      LVPERCALIA PAGANA CELEBRETVR PROHIBERE CERTAVIT.</p>

    <p>Translation: This man was the last bishop of Rome of Berber
      descent. Verbose and prolific, he was the author of many texts,
      among which is Duo Sunt, on the relationshiop of Church and
      State. As pope, he fought to suppress pagan Lupercalia
      celebrations.</p>
  </blockquote>

  <p>This passage describes <b>Gelasius I</b>, whose feast day is
    <b>November 21</b>.</p>

  <blockquote>
    <p>POTESTATEM SVAM DIVITES ET REX NON ABVTERE DEBENT HIC
      ANTIOCHENSIS DIXIT FAMA LOQVITVR EVM ALIQVAM PRINCIPISSAM
      CONSTVPRAVISSE FEMINAMQVE DE CAVTE DEIECISSE PAENITENS
      MISERICORDIAM SIBI PRAECATVS EST ET MIRACVLOSE IMAGO EI IGNOVIT</p>

    <p>Translation: “The wealthy and the king should not abuse their
      power,” said this man from Antioch. Legend has it that he had
      sex illicitly with a princess, and threw the woman off a
      cliff. Penitent, he begged for mercy, and miraculously her
      likeness forgave him.</p>
  </blockquote>

  <p>This passage describes <b>John Chrysostom</b>, whose feast day is
    <b>September 13</b>.</p>

  <blockquote>
    <p>IN PHILOLOGIA CELEBRE MONASTERIO DIDICIT HIC IN LOTHARINGIA
      NATVS HOMO MEMORIA EIDETICA SAPIENTISSIMVS VIR TABELLAS
      SCIENTIAM ISLAMICAM PRODENTAS DE OFFICIO SVO LEGATI HISPANIENSIS
      DOMVM REFERENS IN EVROPA ARTEM MAGNOPERE AVXIT</p>

    <p>Translation: This man, born in Lorraine, studied in a monastery
      renowned for scholarship. Most wise, he had a photographic
      memory, and bringing documents back from his post as ambassador
      to Spain, he spread knowledge of Islamic science greatly in
      Europe.</p>
  </blockquote>

  <p>This passage describes <b>John of Gorze</b>, whose feast day is
    <b>February 27</b>.</p>

  <blockquote>
    <p>IN HIBERNIA DE PARENTIBVS NOBILIBVS NATVS VIR ADMODVM PIVS VT
      MISSIONARIVM DEI FIAT AD BAVARIAM IN TERRA GERMANORVM IIT IBI
      DVCEM AD CHRISTIANITATEM TRADVXIT SED AB VXORE ILLIVS PAGANA
      DECOLLATVS EST</p>

    <p>Translation: This very pious man was born in Ireland to noble
      parents. He went to Bavaria in Germany to become a
      missionary. There he converted the duke to Christianity but was
      beheaded by the duke’s pagan wife.</p>
  </blockquote>

  <p>This passage describes <b>Kilian</b>, whose feast day is <b>July
    8</b>.</p>

  <blockquote>
    <p>FILIVS PAPAE PAPA IPSE FACTVS EST IN ECCLESIA ORDINE PAVLO
      HVMILE HABENTE TAMEN PAPA ELICTVS ELECTIO A GOTHIS SVSTENTA EST
      AVCTOR CASVS TERRIBILIS A VIGILIO PARATAE HVIVS VIRI IMPERATRIX
      THEODORA</p>

    <p>Translation: Son of a pope, he was made pope himself. He was
      elected pope although he had a somewhat low rank in the
      church. His election was supported by the Goths. Empress
      Theodora was the originator of his terrible overthrow by
      Vigilius.</p>
  </blockquote>

  <p>This passage describes <b>Silverius</b>, whose feast day is <b>June
    20</b>.</p>

  <blockquote>
    <p>PATRE EVM MILITEM ESSE VOLENTE HIC VIR CANONICVS FIERI OPTAVIT
      CISTERCIANOSQVE SE COMISIT RECTORVM CLERICALIVM CONTRA
      INTERCESSIONEM CIVITATIS CONSERVATOR ERAT POSTMODO BEATVS
      ARCHIEPISCOPVS AVARICI BITVRGIVM ELICTVS GRAVATIM AD ILLVD MVNVS
      ACCESSIT</p>

    <p>Translation: Although his father wanted him to be a soldier,
      this man chose to become a priest and joined the Cistercians. He
      was a defender of clerical rights against state
      intervention. Later, elected blessed archbishop of Bourges, he
      reluctantly accepted the post.</p>
  </blockquote>

  <p>This passage describes <b>William of Donjeon</b>, whose feast day
    is <b>January 10</b>.</p>

  <p>Now notice that there is one feast day per month. Ordering by
    month, and using the day to extract a letter, we get:</p>

  <table class="solution-table condensed-table">
    <thead>
      <tr>
        <th>Saint</th>
        <th>Month</th>
        <th>Day</th>
        <th>Letter</th>
      </tr>
    </thead>
    <tr>
      <td>William of Donjeon</td>
      <td>January</td>
      <td>10</td>
      <td><code>J</code></td>
    </tr>
    <tr>
      <td>John of Gorze</td>
      <td>February</td>
      <td>27</td>
      <td><code>-</code></td>
    </tr>
    <tr>
      <td>Cuthbert</td>
      <td>March</td>
      <td>20</td>
      <td><code>T</code></td>
    </tr>
    <tr>
      <td>Apollonius the Apologist</td>
      <td>April</td>
      <td>18</td>
      <td><code>R</code></td>
    </tr>
    <tr>
      <td>Beatus of Lungern</td>
      <td>May</td>
      <td>9</td>
      <td><code>I</code></td>
    </tr>
    <tr>
      <td>Silverius</td>
      <td>June</td>
      <td>20</td>
      <td><code>T</code></td>
    </tr>
    <tr>
      <td>Kilian</td>
      <td>July</td>
      <td>8</td>
      <td><code>H</code></td>
    </tr>
    <tr>
      <td>Eusignius of Antioch</td>
      <td>August</td>
      <td>5</td>
      <td><code>E</code></td>
    </tr>
    <tr>
      <td>John Chrysostom</td>
      <td>September</td>
      <td>13</td>
      <td><code>M</code></td>
    </tr>
    <tr>
      <td>Denis</td>
      <td>October</td>
      <td>9</td>
      <td><code>I</code></td>
    </tr>
    <tr>
      <td>Gelasius I</td>
      <td>November</td>
      <td>21</td>
      <td><code>U</code></td>
    </tr>
    <tr>
      <td>Anastasius I</td>
      <td>December</td>
      <td>19</td>
      <td><code>S</code></td>
    </tr>
  </table>

  <p>The title, “Gratia Plena,” refers to the prayer Ave
    Maria. Combined with <code>J. TRITHEMIUS</code>, this hints the
    Ave Maria cipher, devised by J. Trithemius in his
    <i>Polygraphia</i>.</p>

  <p>The original Latin passages, in the order given, represent a
    calendar, with each passage standing for a month. For example, the
    first passage has 31 words to represent the 31 days of January,
    the second passage has 28 words to represent the 28 days of
    February, etc. Picking out the saints’ feast days on this
    “calendar,” you get a series of words that can be decoded using
    the <a href="https://www.dcode.fr/trithemius-ave-maria">Ave Maria
    cipher</a>. For example, because one of the feast days is January
    10 (William of Donjeon), you pick the 10th word of the first
    passage to get PIUS, which represents C. The full extraction is
    below:</p>

  <table class="solution-table condensed-table">
    <tr>
      <td>PIUS</td>
      <td>C</td>
    </tr>
    <tr>
      <td>GLORIOSUS</td>
      <td>O</td>
    </tr>
    <tr>
      <td>PIISIMUS</td>
      <td>D</td>
    </tr>
    <tr>
      <td>MAGNUS</td>
      <td>E</td>
    </tr>
    <tr>
      <td>PRINCEPS</td>
      <td>X</td>
    </tr>
    <tr>
      <td>INCOMPRAEHENSIBILIS</td>
      <td>R</td>
    </tr>
    <tr>
      <td>AUCTOR</td>
      <td>V</td>
    </tr>
    <tr>
      <td>REX</td>
      <td>N</td>
    </tr>
    <tr>
      <td>SAPIENTISSIMUS</td>
      <td>I</td>
    </tr>
    <tr>
      <td>PIUS</td>
      <td>C</td>
    </tr>
    <tr>
      <td>AUCTOR</td>
      <td>V</td>
    </tr>
    <tr>
      <td>CONSREVATOR</td>
      <td>S</td>
    </tr>
  </table>

  <p>The answer is <strong><code>CODEX RUNICUS</code></strong>.</p>
{% endblock %}
