{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}
By James Douberley and Hubert Hwang<br />
Art by Ryan Veeder<br />
Categories by Everyone Who Showed Up at James&rsquo;s Apartment and Drank a Bunch of Beer
{% endblock %}
{% block solution %}GOLDEN STATE{% endblock %}

{% block solution_content_block %}
<p>The solution was given to teams after they produced sufficiently convincing <i>Keys to Success</i>.</p>

<p>We&rsquo;ll fill in some photos and explanations of our favorite <i>Keys to Success</i> soon.</p>
{% endblock %}
