{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}Irreverent Introdvction to the IMDb: Solution{% endblock %}
{% block puzzle_name_block %}Irreverent Introdvction to the IMDb: Solution{% endblock %}

{% block byline %}By Kevin Hwang and Rachel Bowens-Rubin{% endblock %}
{% block solution %}MAKE NEW BEXLEY VID{% endblock %}

{% block solution_head_block %}
<link rel="stylesheet" type="text/css" href="{{ asset_url_for('styles/support.css') }}">
<style>
  .puzzle-content .small-text {
    font-size: 0.6em;
    color: grey;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<i>This puzzle was designed to be swapped in during Hunt in case another puzzle turned out to be hopelessly broken. If this had happened, their &ldquo;final&rdquo; answer would have been that of the puzzle they replaced, and that answer would have been given to teams who carried out the instruction that is extracted from this puzzle.</i>

<p>Solvers are presented with what appears to be a reproduction of an IMDb Goofs page for the TV series <i>House</i>, except apparently starting from 2002. Below that are 16 different &ldquo;goofs&rdquo; for the series with certain odd descriptions referencing specific episodes, with particular things (typically some sort of text) emphasized as mistakes of some sort.</p>

<p>This puzzle actually refers to the i3 videos (Interactive Introduction to the Institute/Institvte), which started in 2002. This is hinted by the title of the puzzle, which abbreviates to &ldquo;IIIMDb&rdquo;, aka the i3 MDb.</p>

<p>In the &ldquo;latest season&rdquo; (2017), there were 16 videos originally produced, one for each dorm and one for each of the cultural houses. Most of these are still available from the <a href="https://mitguidetoresidences.mit.edu/house-summary">MIT housing website</a> (with one exception, described below).</p>

<p>Each mistake listed refers to a specific dorm&rsquo;s i3 videos from this past year, with a particular thing highlighted in the final sentence of each description. Several clues also list some hint towards the dorm identity itself, as a confirmational clue. The text below each description (&ldquo;X of Y found this interesting &rdquo;) provides extraction into the indicated message or object.</p>

<p>In the order provided, they are:</p>

<table class="solution-table">
  <tr>
    <th>Clue text</th>
    <th>Extraction</th>
  </tr>
  <tr>
    <td>
      <div>One episode has a new character visiting the hospital and being shown around the confusingly constructed and laid out building. As one of the residents leads the visitor down a flight of stairs towards a break room, some chalk text can be briefly seen on the wall next to them. This text is misspelled.</div>
      <div class="small-text"><u>5 of 7 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>Simmons Hall (&ldquo;confusingly constructed and laid out&rdquo;). The chalk text reads <code>AYY LMAO</code>. (1:48)</div>
      <div>5<sup>th</sup> letter = <code>M</code>.</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>In the middle of one episode, several characters carry protest signs as they walk down a very long hallway. In the background of the crowd on the right, one protest sign&rsquo;s slogan (briefly visible) is not acceptable for network broadcast.</div>
      <div class="small-text"><u>13 of 18 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>East Campus. Sign in question reads <code>DICKS OUT FOR HARAMBE</code> (Sign in front reads &ldquo;Not a riot&rdquo;) (2:23)</div>
      <div>13<sup>th</sup> letter = <code>A.</code></div>
    </td>
  </tr>
  <tr>
    <td>
      <div>The majority of one episode takes place over the course of a pizza party held for residents. Immediately after the party, during an interview scene with one character, a camera can be seen. The camera&rsquo;s brand is clearly visible along the bottom of the screen for several seconds.</div>
      <div class="small-text"><u>3 of 5 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>Maseeh Hall. Camera in question is a <code>NIKON</code>. (~3:07-3:40ish)</div>
      <div>3<sup>rd</sup> letter = <code>K</code>.</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>In one episode a brand-new motivational wall is created and set up in the hallway. In one shot, a number of signs on it are shown quickly on camera, the most clearly visible reading &ldquo;You&rsquo;re a star.&rdquo; Directly to the left of that is a less easily readable sign. The message on that sign is actually an unprovable allegation.</div>
      <div class="small-text"><u>10 of 15 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>New House (&ldquo;brand-new,&rdquo; &ldquo;number&rdquo;). Sign to the left of &ldquo;you&rsquo;re a star&rdquo; reads <code>YOU HAVE THE JUICE</code>. (3:30)</div>
      <div>10<sup>th</sup> letter = <code>E</code>.</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>At the beginning of one episode, several characters are shown playing a game. Two players attempt to take a turn simultaneously, which ultimately leads to a fight. The game is being played incorrectly; simultaneous turns are not allowed by the rules.</div>
      <div class="small-text"><u>2 of 3 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>Spanish House. The game played at the beginning (~0:50) is <code>UNO</code>.</div>
      <div>2<sup>nd</sup> letter = <code>N</code>.</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>In the musical episode of this season, two residents dressed in sports jerseys escort a singing character into an elevator. Upon close inspection, one of the two uniformed residents has a jersey number that is not allowed in regulation play. The name on the jersey is also not a real name.</div>
      <div class="small-text"><u>2 of 11 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>Burton-Connor. Jerseys are Connor 5 shirts. The left jersey is number 878, with name <code>BENSIRAPTOR</code>. (0:58)</div>
      <div>2<sup>nd</sup> letter = <code>E</code>.</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>In one episode, two flag runs are scheduled and take place, although only the second is ever actually shown on film. This is immediately followed by a pan over a wall of photos, where a photo in the top row has been labeled with text. That text is not spelled correctly.</div>
      <div class="small-text"><u>4 of 6 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>French House. &ldquo;Flag Run&rdquo; is literally running with a flag, at Taste of New House. Text reads &ldquo;<code>Y SO WET?!</code>&rdquo; (2:54)</div>
      <div>4<sup>th</sup> letter = <code>W</code>.</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>In one episode, a world map is prominently displayed on the wall, and shown off by another character. The map has been visibly edited in post-production. One country in particular is missing, and was apparently redrawn in permanent marker.</div>
      <div class="small-text"><u>6 of 12 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>iHouse. The map (1:50) was missing <code>GREAT BRITAIN</code>, as described by the tour guide.</div>
      <div>6<sup>th</sup> letter = <code>B</code>.</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>About halfway through one episode, a character is filmed running through the building repeatedly shouting the name of a city. Immediately afterwards, the scene cuts to a shot of a pantry. The food prominently visible in that shot is never again mentioned or acknowledged in the episode.</div>
      <div class="small-text"><u>4 of 10 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>German House. The call for food is &ldquo;<code>ESSEN</code>,&rdquo; and the can in question is <code>SAUERKRAUT</code>. (~4:18)</div>
      <div>4<sup>th</sup> letter = <code>E</code>.</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>In one episode a number of short clips are interspersed in particularly bizarre, haphazard fashion. In one particular scene, three characters are shown moving a bubble. Above them, a sign with green text is visible, but should be differently colored.</div>
      <div class="small-text"><u>2 of 4 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>Random Hall (&ldquo;bizarre, haphazard&rdquo;). The sign with green text reads <code>EXIT</code>, which is normally red. (2:52)</div>
      <div>2<sup>nd</sup> letter = <code>X</code>.</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>Early in one episode (famously featuring an uncanny amount of dabs), a montage shows one character erasing a section of equations on a board and writing a new one in its place. The right hand side of the equation implies a violation of the first law of thermodynamics.</div>
      <div class="small-text"><u>1 of 3 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>Baker House (&ldquo;<a href="https://www.reddit.com/r/mit/comments/6qvcnx/what_does_a_baker_triple_room_look_like/?st=j6clr55r&sh=f85410b7#dl0a09t">uncanny amount of dabs</a>&rdquo;). The equation reads &ldquo;<code>BAKER = LIT</code>.&rdquo; (0:40)</div>
      <div>1<sup>st</sup> letter (RHS) = <code>L</code>.</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>One episode has the residents of the hospital peforming a play, and subsequently creating a haunted house complete with traps and zombies. In one shot, a word is prominently written in blood on the wall; in reality this would be in violation of standard hospital safety protocols.</div>
      <div class="small-text"><u>6 of 6 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>Next House (&ldquo;subsequently&rdquo;). Word written in blood reads <code>BEWARE</code>. (1:30)</div>
      <div>6<sup>th</sup> letter = <code>E</code>.</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>One episode in this season was removed from rotation and is no longer available through official sources, but can still be found online. During this episode, the residents celebrate a holiday with a musical performance outside, near a park with a tire swing. This holiday is not actually fake, although it is admittedly fairly obscure.</div>
      <div class="small-text"><u>15 of 15 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>Senior House (available on YouTube; clued with tire swing). Indicated holiday is <code>NATIONAL TUBA DAY</code>. (4:25)</div>
      <div>15<sup>th</sup> letter = <code>Y</code>.</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>One episode in this season is actually completely reused from a previous season. This episode contains, among other events, a basketball practice with city residents, and scenes from an open mic. The name of that open mic is inappropriate for an event held in a hospital setting.</div>
      <div class="small-text"><u>4 of 8 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>Chocolate City (on the main site, but 2016 video; clued with &ldquo;city residents&rdquo;). Open mic is <code>ILL VIBES</code>. (~4:17)</div>
      <div>4<sup>th</sup> letter = <code>V</code>.</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>After a brief photo montage showing families, one episode abruptly switches back to a very brief scene set in an upper floor lounge, where several characters are watching a football game. Behind them, a number of post-it notes on a window spell out a message targeted at the hospital&rsquo;s newest residents. However, the message has been written backwards.</div>
      <div class="small-text"><u>2 of 6 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>McGregor House. Post-it note message on window (1:27) reads <code>RIP PNR</code>. (P/NR = pass/no record)</div>
      <div>2<sup>nd</sup> letter = <code>I</code>.</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>Early in one episode, a brief montage contains scenes of outdoor preparation of smoothies, dance instruction, and then an indoor craft-making event. This is immediately followed by a close-up of a post-it note with instructions written on it. The instructions on the post-it note should not really need to be written down, and should honestly go without saying.</div>
      <div class="small-text"><u>9 of 9 found this interesting</u> | <u>Share this</u></div>
    </td>
    <td>
      <div>McCormick Hall. The post-it note in question (shown quickly) reads <code>PARTY HARD</code>. (0:48)</div>
      <div>9<sup>th</sup> letter = <code>D</code>.</div>
    </td>
  </tr>
</table>

<p>Extracting the indicated letters in order provides the instruction <code>MAKE NEW BEXLEY VID</code> (which, given the nature of Bexley and previous i3 videos, could encompass a very wide range of possibilities).</p>
{% endblock %}
