{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}
  By Justin Melvin, Michele Pratusevich, David Greenspan, and Elizabeth French<br>
  Nuclear Codes puzzle originally by Matt Cleinman<br>
  Kitchen puzzle originally by Dave Mattingly<br>
  Sema-Three puzzle originally by Sandor Weisz<br>
  Fourth Place puzzle originally by Jimmy Williams<br>
  Prisoner metapuzzle originally by E &amp; S Lindstrom
{% endblock %}
{% block solution %}DRUNK ENOUGH{% endblock %}

{% block solution_head_block %}
<style>
  @media print {
    .puzzle-content {
      -webkit-print-color-adjust: exact;
      color-adjust: exact!important;
    }
  }

  .puzzle-content .inner {
    list-style-type: circle;
  }

  .puzzle-content .black {
    background-color: black;
  }

  .puzzle-content .grey {
    background-color: grey;
  }

  .puzzle-content .kitchen-table {
    font-family: monospace;
    text-align: center;
  }

  .puzzle-content table.kitchen-table, .puzzle-content table.kitchen-table td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .puzzle-content table.kitchen-table td {
    width: 40px;1
  }

  /* Table font size shrunk so that table content doesn't need to wrap */
  .puzzle-content .fourth-place-table {
    font-size: 0.8em;
    padding: 0.5em;
  }

  .puzzle-content .monospace {
    font-family: monospace;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>This double-sided jigsaw puzzle features a menu and full pint of beer on the <a href="{{ asset_url_for('solutions/is_there_a_draft_in_here/01.jpg') }}" target="_blank">front</a>, and a bunch of fragments of puzzles on the <a href="{{ asset_url_for('solutions/is_there_a_draft_in_here/02.jpg') }}" target="_blank">obverse side</a>. The menu has several clues to <a href="http://www.puzzledpint.com">Puzzled Pint</a>:</p>

<ul>
  <li>the logo</li>
  <li>&ldquo;You found the location&rdquo; (so the jigsaw is the &ldquo;location&rdquo; puzzle)
  <li>menu items that clue the months and themes for past Puzzled Pint sets:</li>
  <ul class="inner">
    <li>Apocalyptic Ale (January 2013: Apocalypse)</li>
    <li>The Silver Stein Stout (February 2016: Shel Silverstein)</li>
    <li>Flagon Me Down IPA (August 2015: Semaphore)</li>
    <li>New Home Porter (August 2014: Moving Day)</li>
    <li>The Number Six Lager (June 2017: The Prisoner)</li>
  </ul>
</ul>

<p>The entire puzzle is a sort of Puzzled Pint set, using Puzzled Pint puzzles as a data source for instructions.</p>

<p>On the back, there are fragments of versions of each of the puzzles suggested by the menu.</p>

<p>Nametags: “Nuclear Codes” (<a href="http://www.puzzledpint.com/puzzles/january_2013/">January 2013</a>). The instructions for the puzzle say that the names all have corresponding military ranks, and that the names are used as Vigenere cipher keys into the fragments:</p>

<table class="solution-table condensed-table">
  <tr>
    <th>
      Rank
    </th>
    <th>
      Name
    </th>
    <th>
      Encoded
    </th>
    <th>
      Answer
    </th>
  </tr>
  <tr>
    <td>ADMIRAL</td>
    <td>PIETT</td>
    <td>WC</td>
    <td><code>HU</code></td>
  </tr>
  <tr>
    <td>COLONEL</td>
    <td>MUSTARD</td>
    <td>AF</td>
    <td><code>OL</code></td>
  </tr>
  <tr>
    <td>MAJOR</td>
    <td>PAYNE</td>
    <td>LI</td>
    <td><code>WI</code></td>
  </tr>
  <tr>
    <td>LIEUTENANT</td>
    <td>STARBUCK</td>
    <td>VD</td>
    <td><code>DK</code></td>
  </tr>
  <tr>
    <td>ENSIGN</td>
    <td>IAGO</td>
    <td>WE</td>
    <td><code>OE</code></td>
  </tr>
  <tr>
    <td>SERGEANT</td>
    <td>SLAUGHTER</td>
    <td>QX</td>
    <td><code>YM</code></td>
  </tr>
  <tr>
    <td>PRIVATE FIRST CLASS</td>
    <td>TOYNBE</td>
    <td>HS</td>
    <td><code>OE</code></td>
  </tr>
</table>

<p>After decoding and sorting by rank, reading top-to-bottom gives <code>HOW DO YOU LIKE ME</code>.</p>

<p>Grid with letters: This is the “Kitchen” puzzle from <i>Moving Day</i> (<a href="http://www.puzzledpint.com/puzzles/august-2014">August 2014</a>). There is a plant, a table, and an appliance in each row and column, and each plant must have vertical/horizontal line-of-sight to a window and each appliance must have vertical/horizontal line-of-sight to a socket.</p>

<table class="kitchen-table">
  <tr>
    <td class="black"></td>
    <td class="grey"></td>
    <td class="grey">S</td>
    <td class="grey">W</td>
    <td class="grey">S</td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="black"></td>
  </tr>
  <tr>
    <td class="grey">W</td>
    <td>PLANT</td>
    <td>M</td>
    <td>I</td>
    <td>APP</td>
    <td class="black"></td>
    <td>TABLE</td>
    <td class="grey"></td>
  </tr>
  <tr>
    <td class="grey"></td>
    <td>S</td>
    <td>APP</td>
    <td>PLANT</td>
    <td>TABLE</td>
    <td>U</td>
    <td>N</td>
    <td class="grey"></td>
  </tr>
  <tr>
    <td class="grey"></td>
    <td>TABLE</td>
    <td>D</td>
    <td>E</td>
    <td>PLANT</td>
    <td>APP</td>
    <td>R</td>
    <td class="grey">S</td>
  </tr>
  <tr>
    <td class="grey">S</td>
    <td>S</td>
    <td>T</td>
    <td>APP</td>
    <td>A</td>
    <td>TABLE</td>
    <td>PLANT</td>
    <td class="grey">W</td>
  </tr>
  <tr>
    <td class="grey">W</td>
    <td>N</td>
    <td>PLANT</td>
    <td>TABLE</td>
    <td>D</td>
    <td>I</td>
    <td>APP</td>
    <td class="grey"></td>
  </tr>
  <tr>
    <td class="grey"></td>
    <td>APP</td>
    <td>TABLE</td>
    <td>N</td>
    <td>G</td>
    <td>PLANT</td>
    <td>S</td>
    <td class="grey">W</td>
  </tr>
  <tr>
    <td class="black"></td>
    <td class="grey">S</td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey">W</td>
    <td class="grey"></td>
    <td class="grey">S</td>
    <td class="black"></td>
  </tr>
</table>

<p>The remaining letters say <code>MISUNDERSTANDINGS</code>.</p>

<p>Octopuses: This is “Sema-Three” from <a href="http://www.puzzledpint.com/puzzles/august-2015">August 2015</a> (<i>Semaphore</i>). Each picture is a three letter word. If you overlay the semaphore for each, six of the eight possible flag positions will be used. The two remaining positions give a letter for the extraction.</p>

<table class="solution-table condensed-table">
  <tr>
    <th>
      Word
    </th>
    <th>
      Letter
    </th>
  </tr>
  <tr>
    <td>SAW</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>JUG</td>
    <td><code>H</code></td>
  </tr>
  <tr>
    <td>JON</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>ZAP</td>
    <td><code>U</code></td>
  </tr>
  <tr>
    <td>GUM</td>
    <td><code>P</code></td>
  </tr>
  <tr>
    <td>GUM</td>
    <td><code>P</code></td>
  </tr>
  <tr>
    <td>JON</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>TAX</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>PUG</td>
    <td><code>M</code></td>
  </tr>
  <tr>
    <td>VOW</td>
    <td><code>A</code></td>
  </tr>
  <tr>
    <td>TAX</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>WOK</td>
    <td><code>G</code></td>
  </tr>
  <tr>
    <td>PEZ</td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td>JOE</td>
    <td><code>N</code></td>
  </tr>
</table>

<p>When the letters are read in the order given in the puzzle, they read <code>THE UPPER MARGIN</code>.</p>

<p>100 words and phrases in boxes: This is “Fourth Place” from the <a href="http://www.puzzledpint.com/puzzles/february-2016">February 2016</a> (<i>Shel Silverstein</i>) set. The instructions specify that the items are to be grouped in groups of four into categories, in which three of them belong to a smaller set. Take the odd ones out and read the fourth letters:</p>

<table class="solution-table fourth-place-table">
  <tr>
    <th>
      Category
    </th>
    <th>
      Additional Category
    </th>
    <th colspan="3">
      Words That Fit Both Categories
    </th>
    <th>
      Odd Word
    </th>
    <th>
      Letter
    </th>
  </tr>
  <tr>
    <td>Works with blue folks&hellip;</td>
    <td>&hellip;that are 2D cartoons</td>
    <td>SMURFS</td>
    <td>YELLOW SUBMARINE</td>
    <td>BLUE&lsquo;S CLUES</td>
    <td>AVATAR</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>Cow breeds&hellip;</td>
    <td>&hellip;that are dairy cows</td>
    <td>HOLSTEIN</td>
    <td>JERSEY</td>
    <td>GUERNSEY</td>
    <td>BRAHMAN</td>
    <td><code>H</code></td>
  </tr>
  <tr>
    <td>Radiohead songs&hellip;</td>
    <td>&hellip;that are from OK Computer</td>
    <td>AIRBAG</td>
    <td>LET DOWN</td>
    <td>EXIT MUSIC (FOR A FILM)</td>
    <td>CREEP</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>Women&rsquo;s clothing&hellip;</td>
    <td>&hellip;that are undergarments</td>
    <td>TEDDY</td>
    <td>NEGLIGEE</td>
    <td>SLIP</td>
    <td>DRESS</td>
    <td><code>S</code></td>
  </tr>
  <tr>
    <td>Colors&hellip;</td>
    <td>&hellip;that are shades of blue</td>
    <td>CERULEAN</td>
    <td>AZURE</td>
    <td>NAVY</td>
    <td>ECRU</td>
    <td><code>U</code></td>
  </tr>
  <tr>
    <td>Shoes&hellip;</td>
    <td>&hellip;that are closed toed</td>
    <td>LOAFER</td>
    <td>SNEAKER</td>
    <td>BOOT</td>
    <td>FLIP-FLOP</td>
    <td><code>P</code></td>
  </tr>
  <tr>
    <td>Soups&hellip;</td>
    <td>&hellip;served hot</td>
    <td>MINESTRONE</td>
    <td>COCK-A-LEEKIE</td>
    <td>CHICKEN NOODLE</td>
    <td>GAZPACHO</td>
    <td><code>P</code></td>
  </tr>
  <tr>
    <td>Types of wordplay&hellip;</td>
    <td>&hellip;using the letters themselves</td>
    <td>ANAGRAM</td>
    <td>ACROSTIC</td>
    <td>HOMOGRAPH</td>
    <td>HOMOPHONE</td>
    <td><code>O</code></td>
  </tr>
  <tr>
    <td>Animal products&hellip;</td>
    <td>&hellip;from the digestive system</td>
    <td>CATGUT</td>
    <td>SAUSAGE CASING</td>
    <td>RENNET</td>
    <td>IVORY</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>Dances&hellip;</td>
    <td>&hellip;from the seventies</td>
    <td>HUSTLE</td>
    <td>FUNKY CHICKEN</td>
    <td>YMCA</td>
    <td>JITTERBUG</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>Birds&hellip;</td>
    <td>&hellip;that are also MLB teams</td>
    <td>ORIOLES</td>
    <td>CARDINALS</td>
    <td>BLUE JAYS</td>
    <td>KESTRELS</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>Holidays in the US&hellip;</td>
    <td>&hellip;that occur on a specific day</td>
    <td>INDEPENDENCE</td>
    <td>CHRISTMAS</td>
    <td>NEW YEARS</td>
    <td>LABOR</td>
    <td><code>O</code></td>
  </tr>
  <tr>
    <td>Months&hellip;</td>
    <td>&hellip;with 30 days</td>
    <td>SEPTEMBER</td>
    <td>APRIL</td>
    <td>JUNE</td>
    <td>MARCH</td>
    <td><code>C</code></td>
  </tr>
  <tr>
    <td>Logic puzzles&hellip;</td>
    <td>&hellip;that you fill in with numbers</td>
    <td>KAKURO</td>
    <td>MORE OR LESS</td>
    <td>SUDOKU</td>
    <td>NONOGRAM</td>
    <td><code>O</code></td>
  </tr>
  <tr>
    <td>Fruits&hellip;</td>
    <td>&hellip;with pits</td>
    <td>PEACH</td>
    <td>PLUM</td>
    <td>MANGO</td>
    <td>ORANGE</td>
    <td><code>N</code></td>
  </tr>
  <tr>
    <td>Languages&hellip;</td>
    <td>&hellip;that are Germanic</td>
    <td>ENGLISH</td>
    <td>GERMAN</td>
    <td>SWEDISH</td>
    <td>PORTUGUESE</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>Things that you throw&hellip;</td>
    <td>&hellip;that are straight</td>
    <td>JAVELIN</td>
    <td>DART</td>
    <td>SPEAR</td>
    <td>QUOIT</td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td>African nations&hellip;</td>
    <td>&hellip;with a coastline</td>
    <td>TANZANIA</td>
    <td>KENYA</td>
    <td>MOZAMBIQUE</td>
    <td>RWANDA</td>
    <td><code>N</code></td>
  </tr>
  <tr>
    <td>Trees&hellip;</td>
    <td>&hellip;that are not conifers</td>
    <td>ELM</td>
    <td>MAPLE</td>
    <td>ALDER</td>
    <td>SEQUOIA</td>
    <td><code>U</code></td>
  </tr>
  <tr>
    <td>Felines&hellip;</td>
    <td>&hellip;that are domesticated</td>
    <td>TABBY</td>
    <td>MAINE COON</td>
    <td>SIAMESE</td>
    <td>TIGER</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>Greek gods&hellip;</td>
    <td>&hellip;that are not primordial deities</td>
    <td>ZEUS</td>
    <td>HADES</td>
    <td>HESTIA</td>
    <td>URANUS</td>
    <td><code>N</code></td>
  </tr>
  <tr>
    <td>Fabrics&hellip;</td>
    <td>&hellip;made from animals</td>
    <td>SILK</td>
    <td>WOOL</td>
    <td>LEATHER</td>
    <td>VELOUR</td>
    <td><code>O</code></td>
  </tr>
  <tr>
    <td>Animal homes&hellip;</td>
    <td>&hellip;for birds</td>
    <td>NEST</td>
    <td>ROOKERY</td>
    <td>EYRIE</td>
    <td>WARREN</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>Fictional worlds&hellip;</td>
    <td>&hellip;in science fiction</td>
    <td>EROTICON VI</td>
    <td>ARRAKIS</td>
    <td>K-PAX</td>
    <td>XANTH</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>Wind deities&hellip;</td>
    <td>&hellip;representing the north wind</td>
    <td>QEBUI</td>
    <td>MICTLANPACHECATL</td>
    <td>WAZIYA</td>
    <td>ZEPHYR</td>
    <td><code>H</code></td>
  </tr>
</table>

<p>Alphabetizing by the first letter of the odd word out, this yields <code>THE SUPPORT TO CONTINUE NORTH</code>.</p>

<p>The meta is the <i>Prisoner</i> Meta (<a href="http://www.puzzledpint.com/puzzles/june-2017">June 2017</a>), “The Tally-Ho”. The meta is not represented graphically on the back side but is only indicated by the menu. Taking the answers from each of the puzzles and putting them in order in the blanks presented in the original puzzle (ordering by year), you get:</p>

<div class="monospace">
  <div>C O M E T O T H E G R E E N D O M E</div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X&nbsp;&nbsp;&nbsp;^&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=</div>
  <div>H O W D O Y O U L I K E M E</div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*</div>
  <div>M I S U N D E R S T A N D I N G S</div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+</div>
  <div>T H E U P P E R M A R G I N</div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;^&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+</div>
  <div>T H E S U P P O R T T O C O N T I N U E N O R T H</div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;^&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=</div>
</div>

<p>The original puzzle selects letters from the solutions into a sort of dropquote and asks solves to &ldquo;choose letters wisely&rdquo; from the dropquote.</p>

<div><code>DTDNTETTDNDDNDDTTET</code></div>
<div><code>URUGKNKRUGUUGUUKKNK</code></div>
<div><code>TOHONONOTOHTOHHNNON</code></div>
<div><code>O^=+X*X^O+=O+==XX*X</code></div>

<p>The only reasonable phrase that can be made from the dropquote is <code>DRUNK ENOUGH TO HUNT ON</code>. Since the menu says &ldquo;don&rsquo;t call in to hunt on&rdquo;, the answer is <strong><code>DRUNK ENOUGH</code></strong>.</p>
{% endblock %}
