{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Kevin Hwang, Ariel Schwartz, and Sid Creutz{% endblock %}
{% block solution %}THUMB HOLES{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content table {
    border-collapse: collapse;
    display: inline-table;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .puzzle-content td {
    width: 20px;
    height: 20px;
    text-align: center;
  }

  .puzzle-content .metal td, .puzzle-content td.metal {
    border: 1px solid grey;
    background-color: lightgrey;
  }

  .puzzle-content .brick td, .puzzle-content td.brick {
    border: 1px solid firebrick;
    background-color: lightsalmon;
  }

  .puzzle-content td.empty {
    border-width: 0px;
    background-color: transparent;
  }

  .puzzle-content .individual-grid tr:nth-child(2) td:not(.empty), .puzzle-content table:not(.individual-grid) tr:first-child td:not(.empty), .puzzle-content td.thick-top-border {
    border-top: 2px solid black;
  }

  .puzzle-content td:last-child:not(.empty), .puzzle-content td.thick-right-border {
    border-right: 2px solid black;
  }

  .puzzle-content tr:last-child td:not(.empty), .puzzle-content td.thick-bottom-border {
    border-bottom: 2px solid black;
  }

  .puzzle-content .individual-grid td:nth-child(2):not(.empty), .puzzle-content table:not(.individual-grid) td:first-child:not(.empty), .puzzle-content td.thick-left-border {
    border-left: 2px solid black;
  }

  .puzzle-content .name {
    margin-bottom: 10px;
  }

  .puzzle-content .grids {
    display: flex;
  }

  .puzzle-content .grids table, .puzzle-content .grids span {
    font-size: 0.8em;
  }

  .puzzle-content .grids table td {
    width: 15px;
    height: 15px;
  }

  .puzzle-content table:not(.individual-grid) {
    margin: 0;
  }

  .puzzle-content td.green {
    color: white;
    background-color: green;
  }

  .puzzle-content td.purple {
    color: white;
    background-color: purple;
  }

  .puzzle-content table.metal-1 {
    margin-left: -19px;
  }

  .puzzle-content table.brick-1 {
    margin-left: -36px;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>Solvers are presented with 12 separate sets of diagramless clues, labeled Metal and Brick, respectively. The grids are ordered from smallest to largest within each category.</p>

<p>These grids can be solved mostly as normal, except that occasionally individual letters have to fit in between columns, and some columns are physically separated from the rest of their rows, in a fairly obnoxious fashion. The filled grids are shown below:</p>

<table class="individual-grid metal">
  <tr>
    <th>M1</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>E</th>
  </tr>
  <tr>
    <th>1</th>
    <td class="thick-bottom-border">A</td>
    <td>T</td>
    <td>A</td>
    <td>T</td>
    <td class="thick-right-border">S</td>
  </tr>
  <tr>
    <th>2</th>
    <td class="empty"></td>
    <td class="thick-left-border">R</td>
    <td>O</td>
    <td>O</td>
    <td>T</td>
  </tr>
  <tr>
    <th>3</th>
    <td class="thick-top-border">S</td>
    <td>A</td>
    <td class="thick-bottom-border">N</td>
    <td>D</td>
    <td>Y</td>
  </tr>
  <tr>
    <th>4</th>
    <td class="thick-bottom-border">K</td>
    <td class="thick-right-border">C</td>
    <td class="empty"></td>
    <td class="thick-left-border">A</td>
    <td>L</td>
  </tr>
  <tr>
    <th>5</th>
    <td class="empty"></td>
    <td class="thick-right-border thick-left-border">E</td>
    <td class="empty"></td>
    <td class="thick-left-border">Y</td>
    <td class="thick-right-border">E</td>
  </tr>
</table>

<table class="individual-grid metal">
  <tr>
    <th>M2</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>E</th>
  </tr>
  <tr>
    <th>1</th>
    <td>A</td>
    <td>L</td>
    <td>E</td>
    <td>X</td>
    <td>A</td>
  </tr>
  <tr>
    <th>2</th>
    <td>D</td>
    <td>E</td>
    <td class="thick-bottom-border">L</td>
    <td>H</td>
    <td class="thick-bottom-border">I</td>
  </tr>
  <tr>
    <th>3</th>
    <td>O</td>
    <td class="thick-right-border">N</td>
    <td class="empty"></td>
    <td class="thick-left-border">O</td>
  </tr>
  <tr>
    <th>4</th>
    <td>B</td>
    <td>I</td>
    <td class="thick-top-border">O</td>
    <td>S</td>
  </tr>
  <tr>
    <th>5</th>
    <td>E</td>
    <td>N</td>
    <td>N</td>
    <td>A</td>
  </tr>
</table>

<table class="individual-grid metal">
  <tr>
    <th>M3</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
  </tr>
  <tr>
    <th>1</th>
    <td>A</td>
    <td>R</td>
    <td>E</td>
    <td>A</td>
  </tr>
  <tr>
    <th>2</th>
    <td>T</td>
    <td>E</td>
    <td>X</td>
    <td>T</td>
  </tr>
  <tr>
    <th>3</th>
    <td class="thick-bottom-border">L</td>
    <td>A</td>
    <td>T</td>
    <td>H</td>
  </tr>
  <tr>
    <th>4</th>
    <td>A</td>
    <td>L</td>
    <td>O</td>
    <td>E</td>
  </tr>
  <tr>
    <th>5</th>
    <td>T</td>
    <td>E</td>
    <td>R</td>
    <td>N</td>
  </tr>
  <tr>
    <th>6</th>
    <td>E</td>
    <td>S</td>
    <td>T</td>
    <td>A</td>
  </tr>
</table>

<table class="individual-grid metal">
  <tr>
    <th>M4</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th></th>
    <th>E</th>
    <th>F</th>
  </tr>
  <tr>
    <th>1</th>
    <td>E</td>
    <td>P</td>
    <td class="thick-right-border">A</td>
    <td class="thick-right-border">L</td>
    <td class="empty"></td>
    <td class="thick-left-border">O</td>
    <td>B</td>
  </tr>
  <tr>
    <th>2</th>
    <td>F</td>
    <td>A</td>
    <td class="thick-right-border">B</td>
    <td class="thick-right-border">U</td>
    <td class="empty"></td>
    <td class="thick-left-border">R</td>
    <td>E</td>
  </tr>
  <tr>
    <th>3</th>
    <td>F</td>
    <td>R</td>
    <td class="thick-bottom-border">U</td>
    <td class="thick-right-border">I</td>
    <td class="empty"></td>
    <td class="thick-left-border">T</td>
    <td>S</td>
  </tr>
  <tr>
    <th>4</th>
    <td>E</td>
    <td class="thick-right-border">I</td>
    <td class="empty"></td>
    <td class="thick-right-border thick-left-border">G</td>
    <td class="empty"></td>
    <td class="thick-left-border">H</td>
    <td class="thick-bottom-border">T</td>
  </tr>
  <tr>
    <th>5</th>
    <td>C</td>
    <td class="thick-right-border">S</td>
    <td class="empty"></td>
    <td class="thick-bottom-border thick-left-border">I</td>
    <td class="thick-top-border thick-bottom-border">R</td>
    <td class="thick-bottom-border">O</td>
  </tr>
  <tr>
    <th>6</th>
    <td>T</td>
    <td>H</td>
  </tr>
</table>

<table class="individual-grid metal">
  <tr>
    <th>M5</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>E</th>
  </tr>
  <tr>
    <th>1</th>
    <td>N</td>
    <td class="thick-right-border">E</td>
    <td class="empty"></td>
    <td class="thick-left-border">N</td>
    <td>E</td>
  </tr>
  <tr>
    <th>2</th>
    <td>A</td>
    <td class="thick-right-border">X</td>
    <td class="empty"></td>
    <td class="thick-left-border">E</td>
    <td>S</td>
  </tr>
  <tr>
    <th>3</th>
    <td>T</td>
    <td class="thick-right-border">A</td>
    <td class="empty"></td>
    <td class="thick-left-border">W</td>
    <td class="thick-bottom-border">S</td>
  </tr>
  <tr>
    <th>4</th>
    <td>A</td>
    <td class="thick-right-border">L</td>
    <td class="empty"></td>
    <td class="thick-left-border">D</td>
    <td>I</td>
  </tr>
  <tr>
    <th>5</th>
    <td>S</td>
    <td>T</td>
    <td class="thick-top-border">I</td>
    <td>E</td>
    <td>B</td>
  </tr>
  <tr>
    <th>6</th>
    <td>H</td>
    <td>E</td>
    <td>M</td>
    <td>A</td>
    <td>L</td>
  </tr>
  <tr>
    <th>7</th>
    <td>A</td>
    <td>D</td>
    <td>D</td>
    <td>L</td>
    <td>E</td>
  </tr>
</table>

<table class="individual-grid metal">
  <tr>
    <th>M6</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>E</th>
    <th>F</th>
  </tr>
  <tr>
    <th>1</th>
    <td>O</td>
    <td>F</td>
    <td class='thick-right-border'>A</td>
    <td>G</td>
    <td>A</td>
    <td>M</td>
  </tr>
  <tr>
    <th>2</th>
    <td class="thick-bottom-border">H</td>
    <td>E</td>
    <td>L</td>
    <td>E</td>
    <td>N</td>
    <td>A</td>
  </tr>
  <tr>
    <th>3</th>
    <td class="empty"></td>
    <td class="thick-bottom-border thick-left-border">E</td>
    <td class="thick-bottom-border">P</td>
    <td>O</td>
    <td>X</td>
    <td>Y</td>
  </tr>
  <tr>
    <th>4</th>
    <td class="empty"></td>
    <td class="thick-left-border">M</td>
    <td>C</td>
    <td>R</td>
    <td>I</td>
    <td>B</td>
  </tr>
  <tr>
    <th>5</th>
    <td class="empty"></td>
    <td class="thick-left-border">S</td>
    <td>E</td>
    <td>G</td>
    <td>O</td>
    <td class="thick-bottom-border">E</td>
  </tr>
  <tr>
    <th>6</th>
    <td class="empty"></td>
    <td class="thick-bottom-border thick-left-border">S</td>
    <td class="thick-bottom-border">E</td>
    <td>I</td>
    <td class="thick-right-border">U</td>
  </tr>
  <tr>
    <th>7</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-left-border">A</td>
    <td>S</td>
    <td class="thick-top-border">I</td>
  </tr>
</table>

<table class="individual-grid metal">
  <tr>
    <th>M7</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th></th>
    <th>E</th>
    <th>F</th>
    <th>G</th>
    <th>H</th>
  </tr>
  <tr>
    <th>1</th>
    <td>S</td>
    <td>T</td>
    <td>A</td>
    <td>G</td>
    <td class="thick-bottom-border">E</td>
    <td class="thick-right-border">S</td>
    <td>G</td>
    <td>E</td>
    <td>E</td>
  </tr>
  <tr>
    <th>2</th>
    <td>C</td>
    <td>O</td>
    <td>R</td>
    <td class="thick-right-border">E</td>
    <td class="empty"></td>
    <td class="thick-right-border thick-left-border">A</td>
    <td>E</td>
    <td>D</td>
    <td>M</td>
  </tr>
  <tr>
    <th>3</th>
    <td class="thick-bottom-border">P</td>
    <td>E</td>
    <td>R</td>
    <td class="thick-right-border">O</td>
    <td class="empty"></td>
    <td class="thick-left-border">X</td>
    <td>I</td>
    <td class="thick-bottom-border">D</td>
    <td>E</td>
  </tr>
  <tr>
    <th>4</th>
    <td>P</td>
    <td class="thick-bottom-border">S</td>
    <td class="thick-right-border thick-bottom-border">S</td>
    <td class="thick-right-border">R</td>
    <td class="empty"></td>
    <td class="thick-left-border">O</td>
    <td>G</td>
    <td>E</td>
    <td>R</td>
  </tr>
  <tr>
    <th>5</th>
    <td>R</td>
    <td>E</td>
    <td>I</td>
    <td class="thick-right-border">G</td>
    <td class="empty"></td>
    <td class="thick-right-border thick-left-border">N</td>
    <td>E</td>
    <td>R</td>
    <td>G</td>
  </tr>
  <tr>
    <th>6</th>
    <td>I</td>
    <td>A</td>
    <td class="thick-right-border">S</td>
    <td class="thick-right-border thick-bottom-border">E</td>
    <td class="empty"></td>
    <td class="thick-bottom-border thick-left-border">Y</td>
    <td class="thick-bottom-border">R</td>
    <td class="thick-bottom-border">I</td>
    <td class="thick-bottom-border">E</td>
  </tr>
  <tr>
    <th>7</th>
    <td>M</td>
    <td>R</td>
    <td>I</td>
  </tr>
  <tr>
    <th>8</th>
    <td>O</td>
    <td>P</td>
    <td>T</td>
    <td class="thick-top-border">I</td>
  </tr>
</table>

<table class="individual-grid brick">
  <tr>
    <th>B1</th>
    <th></th>
    <th></th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
  </tr>
  <tr>
    <th>1</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-left-border">E</td>
    <td>X</td>
    <td>A</td>
    <td>M</td>
  </tr>
  <tr>
    <th>2</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-left-border">P</td>
    <td>E</td>
    <td>L</td>
    <td>E</td>
  </tr>
  <tr>
    <th>3</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-bottom-border thick-left-border">I</td>
    <td>N</td>
    <td>C</td>
    <td>A</td>
  </tr>
  <tr>
    <th>4</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-left-border">L</td>
    <td>O</td>
    <td>O</td>
    <td class="thick-bottom-border">N</td>
  </tr>
  <tr>
    <th>5</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-left-border">E</td>
    <td>P</td>
    <td>H</td>
  </tr>
  <tr>
    <th>6</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-left-border">P</td>
    <td>H</td>
    <td>O</td>
  </tr>
  <tr>
    <th>7</th>
    <td class="thick-top-border thick-bottom-border">S</td>
    <td class="thick-top-border thick-bottom-border">H</td>
    <td>E</td>
    <td>O</td>
    <td class="thick-bottom-border">L</td>
  </tr>
  <tr>
    <th>8</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-left-border">R</td>
    <td>N</td>
  </tr>
</table>

<table class="individual-grid brick">
  <tr>
    <th>B2</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>E</th>
    <th>F</th>
    <th>G</th>
    <th>H</th>
  </tr>
  <tr>
    <th>1</th>
    <td>C</td>
    <td class="thick-right-border">D</td>
    <td class="empty"></td>
    <td class="thick-right-border thick-left-border">I</td>
    <td>M</td>
    <td>E</td>
    <td>W</td>
  </tr>
  <tr>
    <th>2</th>
    <td>A</td>
    <td class="thick-right-border">N</td>
    <td class="empty"></td>
    <td class="thick-left-border">N</td>
    <td>E</td>
    <td>X</td>
    <td>E</td>
    <td class="thick-top-border">D</td>
  </tr>
  <tr>
    <th>3</th>
    <td>M</td>
    <td class="thick-right-border">I</td>
    <td class="empty"></td>
    <td class="thick-left-border">G</td>
    <td class="thick-bottom-border">H</td>
    <td>T</td>
    <td>B</td>
    <td>E</td>
  </tr>
  <tr>
    <th>4</th>
    <td>P</td>
    <td class='thick-right-border'>P</td>
    <td class="empty"></td>
    <td class="thick-right-border thick-left-border">R</td>
    <td>I</td>
    <td>R</td>
    <td>M</td>
    <td class="thick-bottom-border">A</td>
  </tr>
  <tr>
    <th>5</th>
    <td class="thick-bottom-border">O</td>
    <td>R</td>
    <td class='thick-top-border thick-right-border'>A</td>
    <td>A</td>
    <td>S</td>
    <td>E</td>
    <td>A</td>
  </tr>
  <tr>
    <th>6</th>
    <td class="empty"></td>
    <td class="thick-bottom-border thick-left-border">O</td>
    <td>R</td>
    <td class="thick-right-border">I</td>
    <td>T</td>
    <td>M</td>
    <td>I</td>
  </tr>
  <tr>
    <th>7</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-left-border">K</td>
    <td>N</td>
    <td>E</td>
    <td>E</td>
    <td>L</td>
  </tr>
</table>

<table class="individual-grid brick">
  <tr>
    <th>B3</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>E</th>
    <th>F</th>
    <th>G</th>
  </tr>
  <tr>
    <th>1</th>
    <td>B</td>
    <td>E</td>
    <td>G</td>
    <td>S</td>
    <td>F</td>
    <td>O</td>
    <td>R</td>
  </tr>
  <tr>
    <th>2</th>
    <td>O</td>
    <td>R</td>
    <td>E</td>
    <td>I</td>
    <td>L</td>
    <td>L</td>
    <td>Y</td>
  </tr>
  <tr>
    <th>3</th>
    <td class="thick-bottom-border">G</td>
    <td>A</td>
    <td>O</td>
    <td class="thick-right-border">L</td>
    <td>E</td>
    <td>M</td>
    <td class="thick-bottom-border">E</td>
  </tr>
  <tr>
    <th>4</th>
    <td>I</td>
    <td class="thick-bottom-border">S</td>
    <td class="thick-right-border">R</td>
    <td>A</td>
    <td>X</td>
    <td>E</td>
    <td>L</td>
  </tr>
  <tr>
    <th>5</th>
    <td>T</td>
    <td>A</td>
    <td>G</td>
    <td class="thick-right-border thick-bottom-border">S</td>
    <td>I</td>
    <td class="thick-bottom-border">C</td>
    <td>E</td>
  </tr>
  <tr>
    <th>6</th>
    <td class="thick-bottom-border">T</td>
    <td>H</td>
    <td>E</td>
    <td>M</td>
    <td>B</td>
    <td>T</td>
    <td>A</td>
  </tr>
  <tr>
    <th>7</th>
    <td class="empty"></td>
    <td class="thick-bottom-border thick-left-border">A</td>
    <td>I</td>
    <td>S</td>
    <td>L</td>
    <td>E</td>
    <td>S</td>
  </tr>
  <tr>
    <th>8</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-left-border">I</td>
    <td>N</td>
    <td>E</td>
    <td>P</td>
    <td>T</td>
  </tr>
</table>

<table class="individual-grid brick">
  <tr>
    <th>B4</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>E</th>
    <th>F</th>
    <th>G</th>
    <th>H</th>
    <th>I</th>
    <th>J</th>
    <th>K</th>
  </tr>
  <tr>
    <th>1</th>
    <td>D</td>
    <td>S</td>
    <td class="thick-right-border">L</td>
    <td>G</td>
    <td>E</td>
    <td>T</td>
    <td>T</td>
    <td>O</td>
    <td>I</td>
    <td>T</td>
  </tr>
  <tr>
    <th>2</th>
    <td>M</td>
    <td>A</td>
    <td>C</td>
    <td>R</td>
    <td>O</td>
    <td class="thick-right-border">S</td>
    <td>S</td>
    <td>X</td>
    <td>S</td>
    <td>W</td>
  </tr>
  <tr>
    <th>3</th>
    <td class="thick-bottom-border">T</td>
    <td class="thick-bottom-border">O</td>
    <td class="thick-bottom-border">D</td>
    <td class="thick-right-border">O</td>
    <td class="thick-bottom-border">S</td>
    <td>A</td>
    <td>V</td>
    <td>I</td>
    <td>L</td>
    <td>E</td>
  </tr>
  <tr>
    <th>4</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-left-border">C</td>
    <td class="thick-bottom-border">O</td>
    <td>R</td>
    <td>V</td>
    <td class="thick-bottom-border">I</td>
    <td>D</td>
    <td>A</td>
    <td class="thick-bottom-border">E</td>
  </tr>
  <tr>
    <th>5</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-left-border">G</td>
    <td>R</td>
    <td>O</td>
    <td class="thick-bottom-border">O</td>
    <td>M</td>
    <td>I</td>
    <td>N</td>
    <td>G</td>
  </tr>
  <tr>
    <th>6</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-bottom-border thick-left-border">I</td>
    <td>O</td>
    <td class="thick-right-border">C</td>
    <td>M</td>
    <td>A</td>
    <td>Z</td>
    <td>D</td>
    <td>A</td>
  </tr>
  <tr>
    <th>7</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-left-border">A</td>
    <td>C</td>
    <td class='thick-right-border'>A</td>
    <td>G</td>
    <td>E</td>
    <td>E</td>
    <td>S</td>
    <td class="thick-top-border">E</td>
  </tr>
  <tr>
    <th>8</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-left-border">N</td>
    <td>A</td>
    <td>N</td>
    <td class="thick-right-border">O</td>
    <td>D</td>
    <td>R</td>
    <td>E</td>
    <td>W</td>
  </tr>
</table>

<table class="individual-grid brick">
  <tr>
    <th>B5</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>E</th>
    <th>F</th>
    <th>G</th>
    <th></th>
    <th>H</th>
    <th>I</th>
    <th>J</th>
    <th>K</th>
    <th>L</th>
    <th>M</th>
    <th>N</th>
    <th>O</th>
    <th>P</th>
    <th>Q</th>
    <th>R</th>
  </tr>
  <tr>
    <th>1</th>
    <td>A</td>
    <td>K</td>
    <td class="thick-right-border">A</td>
    <td>G</td>
    <td>P</td>
    <td class="thick-right-border">S</td>
    <td>B</td>
    <td class="thick-bottom-border">O</td>
    <td>O</td>
    <td>E</td>
    <td class="thick-right-border">D</td>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-left-border">F</td>
    <td>I</td>
    <td>X</td>
    <td>E</td>
    <td>D</td>
  </tr>
  <tr>
    <th>2</th>
    <td>G</td>
    <td>A</td>
    <td>I</td>
    <td class="thick-right-border">L</td>
    <td>O</td>
    <td>R</td>
    <td class="thick-right-border">O</td>
    <td class="empty"></td>
    <td class="thick-left-border">G</td>
    <td>R</td>
    <td>O</td>
    <td class="thick-top-border">C</td>
    <td class="thick-top-border">E</td>
    <td class="thick-right-border">R</td>
    <td>G</td>
    <td>E</td>
    <td>H</td>
    <td>R</td>
    <td class="thick-top-border">Y</td>
  </tr>
  <tr>
    <th>3</th>
    <td>E</td>
    <td>Z</td>
    <td class="thick-bottom-border">R</td>
    <td class="thick-right-border">A</td>
    <td>W</td>
    <td class="thick-bottom-border">I</td>
    <td class="thick-right-border">N</td>
    <td class="empty"></td>
    <td class="thick-left-border">D</td>
    <td>O</td>
    <td class="thick-right-border">W</td>
    <td>R</td>
    <td>A</td>
    <td class="thick-bottom-border">I</td>
    <td>N</td>
    <td class="thick-right-border">N</td>
    <td class="thick-bottom-border">S</td>
    <td>I</td>
    <td>E</td>
  </tr>
  <tr>
    <th>4</th>
    <td>I</td>
    <td>A</td>
    <td class="thick-right-border">T</td>
    <td class="thick-bottom-border">D</td>
    <td>E</td>
    <td>M</td>
    <td class="thick-right-border thick-bottom-border">O</td>
    <td class="empty"></td>
    <td class="thick-left-border">E</td>
    <td class="thick-right-border">D</td>
    <td>N</td>
    <td>O</td>
    <td class="thick-bottom-border">R</td>
    <td>C</td>
    <td class="thick-right-border">O</td>
    <td>O</td>
    <td>U</td>
    <td>S</td>
    <td class="thick-bottom-border">T</td>
  </tr>
  <tr>
    <th>5</th>
    <td>S</td>
    <td>K</td>
    <td class="thick-right-border">I</td>
    <td>C</td>
    <td>R</td>
    <td>O</td>
    <td class="thick-right-border">O</td>
    <td class="empty"></td>
    <td class="thick-bottom-border thick-left-border">N</td>
    <td>E</td>
    <td class="thick-right-border">R</td>
    <td>S</td>
    <td>A</td>
    <td>A</td>
    <td class="thick-right-border">B</td>
    <td>C</td>
    <td>L</td>
    <td>A</td>
    <td>N</td>
  </tr>
  <tr>
    <th>6</th>
    <td class="thick-bottom-border">T</td>
    <td class="thick-bottom-border">H</td>
    <td>E</td>
    <td>E</td>
    <td class="thick-right-border">U</td>
    <td>T</td>
    <td class="thick-right-border">H</td>
    <td class="empty"></td>
    <td class="thick-left-border">I</td>
    <td class="thick-bottom-border">S</td>
    <td>I</td>
    <td class="thick-bottom-border">S</td>
    <td>U</td>
    <td class="thick-right-border">S</td>
    <td>E</td>
    <td>I</td>
    <td>N</td>
    <td>A</td>
    <td>R</td>
  </tr>
  <tr>
    <th>7</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-bottom-border thick-left-border">A</td>
    <td>R</td>
    <td>P</td>
    <td class="thick-right-border">E</td>
    <td class="thick-right-border">A</td>
    <td class="empty"></td>
    <td class="thick-left-border">N</td>
    <td class="thick-right-border">N</td>
    <td>G</td>
    <td>E</td>
    <td>R</td>
    <td>A</td>
    <td>L</td>
    <td class="thick-right-border">D</td>
    <td>A</td>
    <td class="thick-bottom-border">C</td>
    <td class="thick-bottom-border">C</td>
  </tr>
  <tr>
    <th>8</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-bottom-border thick-left-border">O</td>
    <td class="thick-bottom-border">S</td>
    <td class="thick-bottom-border">T</td>
    <td class="thick-right-border">R</td>
    <td class="empty"></td>
    <td class="thick-left-border">I</td>
    <td>C</td>
    <td class="thick-right-border">H</td>
    <td>N</td>
    <td>A</td>
    <td class="thick-bottom-border">S</td>
    <td class="thick-bottom-border">S</td>
    <td class="thick-bottom-border">E</td>
    <td class="thick-bottom-border">R</td>
  </tr>
  <tr>
    <th>9</th>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="empty"></td>
    <td class="thick-right-border thick-left-border">A</td>
    <td class="empty"></td>
    <td class="thick-left-border">T</td>
    <td>O</td>
    <td>T</td>
    <td>A</td>
    <td>L</td>
  </tr>
</table>

<p>At this point (or during the grid filling step), solvers need to realize that the grids they have constructed form pieces of another building on campus. As with the pre-evolution form of this puzzle (&ldquo;It&rsquo;s Not Easy&rdquo;), the individual crossword squares here represent windows on a building. As hinted by a number of Course 6-themed clues, the textural information, and the explicit appearance of <code>GEHRY</code> within the grid, this building is the Stata Center.</p>

<img {{ img_src_for('solutions/its_not_normal/evilstata.jpg') }} >

<p>The structure of the building has been taken to its natural conclusion in the puzzle (broken into pieces). The next step is to attempt to reassemble the pieces of Stata to reform the building. The 12 grids can be rearranged into the two towers of Stata, as shown in unrolled form below (each piece starts and ends at the vertical glass wall in the building on each tower).</p>

<p>This time, there isn&rsquo;t anything in the windows of the building (at least, nothing we&rsquo;re planning on placing). However, within the grid there are 10 squares marked with X, each of which appear sort of close to the boundaries between assembled grid squares.</p>

<p>Repeating the mechanic from the previous puzzle using these windows , we can read words diagonally down and to the right from each X square. This is also clued by the phrase <code>DOWNRIGHT CROSS</code> in the final brick grid.</p>

<p>Reading in order around each tower (starting and ending at the vertical glass wall of each tower), the words from Dreyfoos tower read out <code>IT LETS HIKERS HITCH</code> and the words from Gates tower read out <code>BOOK BASED WITHIN CAMP GREEN LAKE</code>. These two cluephrases can be solved and joined to provide the final answer, <strong><code>THUMB HOLES</code></strong>.</p>

<div class="name">Dreyfoos Tower</div>
<div class="grids">
  <table class="metal">
    <tr>
      <td>A</td>
      <td>L</td>
      <td>E</td>
      <td class="green"><b>X</b></td>
      <td>A</td>
    </tr>
    <tr>
      <td>D</td>
      <td>E</td>
      <td class="thick-bottom-border">L</td>
      <td>H</td>
      <td class="purple thick-bottom-border"><b>I</b></td>
    </tr>
    <tr>
      <td>O</td>
      <td class="thick-right-border">N</td>
      <td class="empty"></td>
      <td class="thick-left-border">O</td>
    </tr>
    <tr>
      <td>B</td>
      <td>I</td>
      <td class="thick-top-border">O</td>
      <td>S</td>
    </tr>
    <tr>
      <td>E</td>
      <td>N</td>
      <td>N</td>
      <td>A</td>
    </tr>
  </table>
  <table class="brick">
    <tr>
      <td>D</td>
      <td>S</td>
      <td class="thick-right-border">L</td>
      <td>G</td>
      <td>E</td>
      <td>T</td>
      <td>T</td>
      <td>O</td>
      <td>I</td>
      <td>T</td>
    </tr>
    <tr>
      <td>M</td>
      <td>A</td>
      <td>C</td>
      <td>R</td>
      <td>O</td>
      <td class="thick-right-border">S</td>
      <td>S</td>
      <td class="green"><b>X</b></td>
      <td>S</td>
      <td>W</td>
    </tr>
    <tr>
      <td class="purple thick-bottom-border"><b>T</b></td>
      <td class="thick-bottom-border">O</td>
      <td class="thick-bottom-border">D</td>
      <td class="thick-right-border">O</td>
      <td class="thick-bottom-border">S</td>
      <td>A</td>
      <td>V</td>
      <td>I</td>
      <td class="purple"><b>L</b></td>
      <td>E</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-left-border">C</td>
      <td class="thick-bottom-border">O</td>
      <td>R</td>
      <td>V</td>
      <td class="thick-bottom-border">I</td>
      <td>D</td>
      <td>A</td>
      <td class="purple thick-bottom-border"><b>E</b></td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-left-border">G</td>
      <td>R</td>
      <td>O</td>
      <td class="thick-bottom-border">O</td>
      <td>M</td>
      <td>I</td>
      <td>N</td>
      <td>G</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-bottom-border thick-left-border">I</td>
      <td>O</td>
      <td class="thick-right-border">C</td>
      <td>M</td>
      <td>A</td>
      <td>Z</td>
      <td>D</td>
      <td>A</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-left-border">A</td>
      <td>C</td>
      <td class='thick-right-border'>A</td>
      <td>G</td>
      <td>E</td>
      <td>E</td>
      <td>S</td>
      <td class="thick-top-border">E</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-left-border">N</td>
      <td>A</td>
      <td>N</td>
      <td class="thick-right-border">O</td>
      <td>D</td>
      <td>R</td>
      <td>E</td>
      <td>W</td>
    </tr>
  </table>
  <table class="metal metal-1">
    <tr>
      <td>A</td>
      <td>R</td>
      <td>E</td>
      <td>A</td>
    </tr>
    <tr>
      <td>T</td>
      <td>E</td>
      <td class="green"><b>X</b></td>
      <td>T</td>
    </tr>
    <tr>
      <td class="thick-bottom-border">L</td>
      <td>A</td>
      <td>T</td>
      <td class="purple"><b>H</b></td>
    </tr>
    <tr>
      <td>A</td>
      <td>L</td>
      <td>O</td>
      <td>E</td>
    </tr>
    <tr>
      <td class="purple"><b>T</b></td>
      <td>E</td>
      <td>R</td>
      <td>N</td>
    </tr>
    <tr>
      <td>E</td>
      <td class="purple"><b>S</b></td>
      <td>T</td>
      <td>A</td>
    </tr>
  </table>
  <span>&nbsp;(bldg 36)&nbsp;</span>
  <table class="brick">
    <tr>
      <td>A</td>
      <td>K</td>
      <td class="thick-right-border">A</td>
      <td>G</td>
      <td>P</td>
      <td class="thick-right-border">S</td>
      <td>B</td>
      <td class="thick-bottom-border">O</td>
      <td>O</td>
      <td>E</td>
      <td class="thick-right-border">D</td>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-left-border">F</td>
      <td>I</td>
      <td class="green"><b>X</b></td>
      <td>E</td>
      <td>D</td>
    </tr>
    <tr>
      <td>G</td>
      <td>A</td>
      <td>I</td>
      <td class="thick-right-border">L</td>
      <td>O</td>
      <td>R</td>
      <td class="thick-right-border">O</td>
      <td class="empty"></td>
      <td class="thick-left-border">G</td>
      <td>R</td>
      <td>O</td>
      <td class="thick-top-border">C</td>
      <td class="thick-top-border">E</td>
      <td class="thick-right-border">R</td>
      <td>G</td>
      <td>E</td>
      <td class="purple"><b>H</b></td>
      <td>R</td>
      <td class="thick-top-border">Y</td>
    </tr>
    <tr>
      <td>E</td>
      <td>Z</td>
      <td class="thick-bottom-border">R</td>
      <td class="thick-right-border">A</td>
      <td>W</td>
      <td class="thick-bottom-border">I</td>
      <td class="thick-right-border">N</td>
      <td class="empty"></td>
      <td class="thick-left-border">D</td>
      <td>O</td>
      <td class="thick-right-border">W</td>
      <td>R</td>
      <td>A</td>
      <td class="thick-bottom-border">I</td>
      <td>N</td>
      <td class="thick-right-border">N</td>
      <td class="thick-bottom-border">S</td>
      <td class="purple"><b>I</b></td>
      <td>E</td>
    </tr>
    <tr>
      <td class="purple"><b>I</b></td>
      <td>A</td>
      <td class="thick-right-border">T</td>
      <td class="thick-bottom-border">D</td>
      <td>E</td>
      <td>M</td>
      <td class="thick-right-border thick-bottom-border">O</td>
      <td class="empty"></td>
      <td class="thick-left-border">E</td>
      <td class="thick-right-border">D</td>
      <td>N</td>
      <td>O</td>
      <td class="thick-bottom-border">R</td>
      <td>C</td>
      <td class="thick-right-border">O</td>
      <td>O</td>
      <td>U</td>
      <td>S</td>
      <td class="purple thick-bottom-border"><b>T</b></td>
    </tr>
    <tr>
      <td>S</td>
      <td class="purple"><b>K</b></td>
      <td class="thick-right-border">I</td>
      <td>C</td>
      <td>R</td>
      <td>O</td>
      <td class="thick-right-border">O</td>
      <td class="empty"></td>
      <td class="thick-bottom-border thick-left-border">N</td>
      <td>E</td>
      <td class="thick-right-border">R</td>
      <td>S</td>
      <td>A</td>
      <td>A</td>
      <td class="thick-right-border">B</td>
      <td>C</td>
      <td>L</td>
      <td>A</td>
      <td>N</td>
    </tr>
    <tr>
      <td class="thick-bottom-border">T</td>
      <td class="thick-bottom-border">H</td>
      <td class="purple"><b>E</b></td>
      <td>E</td>
      <td class="thick-right-border">U</td>
      <td>T</td>
      <td class="thick-right-border">H</td>
      <td class="empty"></td>
      <td class="thick-left-border">I</td>
      <td class="thick-bottom-border">S</td>
      <td>I</td>
      <td class="thick-bottom-border">S</td>
      <td>U</td>
      <td class="thick-right-border">S</td>
      <td>E</td>
      <td>I</td>
      <td>N</td>
      <td>A</td>
      <td>R</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-bottom-border thick-left-border">A</td>
      <td class="purple"><b>R</b></td>
      <td>P</td>
      <td class="thick-right-border">E</td>
      <td class="thick-right-border">A</td>
      <td class="empty"></td>
      <td class="thick-left-border">N</td>
      <td class="thick-right-border">N</td>
      <td>G</td>
      <td>E</td>
      <td>R</td>
      <td>A</td>
      <td>L</td>
      <td class="thick-right-border">D</td>
      <td>A</td>
      <td class="thick-bottom-border">C</td>
      <td class="thick-bottom-border">C</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-bottom-border thick-left-border">O</td>
      <td class="purple thick-bottom-border"><b>S</b></td>
      <td class="thick-bottom-border">T</td>
      <td class="thick-right-border">R</td>
      <td class="empty"></td>
      <td class="thick-left-border">I</td>
      <td>C</td>
      <td class="thick-right-border">H</td>
      <td>N</td>
      <td>A</td>
      <td class="thick-bottom-border">S</td>
      <td class="thick-bottom-border">S</td>
      <td class="thick-bottom-border">E</td>
      <td class="thick-bottom-border">R</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-right-border thick-left-border">A</td>
      <td class="empty"></td>
      <td class="thick-left-border">T</td>
      <td>O</td>
      <td>T</td>
      <td>A</td>
      <td>L</td>
    </tr>
  </table>
  <table class="metal">
    <tr>
      <td>E</td>
      <td>P</td>
      <td class="thick-right-border">A</td>
      <td class="thick-right-border">L</td>
      <td class="empty"></td>
      <td class="thick-left-border">O</td>
      <td>B</td>
    </tr>
    <tr>
      <td>F</td>
      <td>A</td>
      <td class="thick-right-border">B</td>
      <td class="thick-right-border">U</td>
      <td class="empty"></td>
      <td class="thick-left-border">R</td>
      <td>E</td>
    </tr>
    <tr>
      <td>F</td>
      <td>R</td>
      <td class="thick-bottom-border">U</td>
      <td class="thick-right-border">I</td>
      <td class="empty"></td>
      <td class="thick-left-border">T</td>
      <td>S</td>
    </tr>
    <tr>
      <td>E</td>
      <td class="thick-right-border">I</td>
      <td class="empty"></td>
      <td class="thick-right-border thick-left-border">G</td>
      <td class="empty"></td>
      <td class="thick-left-border">H</td>
      <td class="thick-bottom-border">T</td>
    </tr>
    <tr>
      <td class="purple"><b>C</b></td>
      <td class="thick-right-border">S</td>
      <td class="empty"></td>
      <td class="thick-bottom-border thick-left-border">I</td>
      <td class="thick-top-border thick-bottom-border">R</td>
      <td class="thick-bottom-border">O</td>
    </tr>
    <tr>
      <td>T</td>
      <td class="purple"><b>H</b></td>
    </tr>
  </table>
</div>

<div class="name">Gates Tower</div>
<div class="grids">
  <table class="metal">
    <tr>
      <td>O</td>
      <td>F</td>
      <td class='thick-right-border'>A</td>
      <td>G</td>
      <td>A</td>
      <td>M</td>
    </tr>
    <tr>
      <td class="thick-bottom-border">H</td>
      <td>E</td>
      <td>L</td>
      <td>E</td>
      <td>N</td>
      <td>A</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="thick-bottom-border thick-left-border">E</td>
      <td class="thick-bottom-border">P</td>
      <td>O</td>
      <td class="green"><b>X</b></td>
      <td>Y</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="thick-left-border">M</td>
      <td>C</td>
      <td>R</td>
      <td>I</td>
      <td class="purple"><b>B</b></td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="thick-left-border">S</td>
      <td>E</td>
      <td>G</td>
      <td>O</td>
      <td class="thick-bottom-border">E</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="thick-bottom-border thick-left-border">S</td>
      <td class="thick-bottom-border">E</td>
      <td>I</td>
      <td class="thick-right-border">U</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-left-border">A</td>
      <td>S</td>
      <td class="thick-top-border">I</td>
    </tr>
  </table>
  <table class="brick">
    <tr>
      <td>C</td>
      <td class="thick-right-border">D</td>
      <td class="empty"></td>
      <td class="thick-right-border thick-left-border">I</td>
      <td>M</td>
      <td>E</td>
      <td>W</td>
    </tr>
    <tr>
      <td>A</td>
      <td class="thick-right-border">N</td>
      <td class="empty"></td>
      <td class="thick-left-border">N</td>
      <td>E</td>
      <td class="green"><b>X</b></td>
      <td>E</td>
      <td class="thick-top-border">D</td>
    </tr>
    <tr>
      <td>M</td>
      <td class="thick-right-border">I</td>
      <td class="empty"></td>
      <td class="thick-left-border">G</td>
      <td class="thick-bottom-border">H</td>
      <td>T</td>
      <td class="purple"><b>B</b></td>
      <td>E</td>
    </tr>
    <tr>
      <td>P</td>
      <td class='thick-right-border'>P</td>
      <td class="empty"></td>
      <td class="thick-right-border thick-left-border">R</td>
      <td>I</td>
      <td>R</td>
      <td>M</td>
      <td class="purple thick-bottom-border"><b>A</b></td>
    </tr>
    <tr>
      <td class="purple thick-bottom-border"><b>O</b></td>
      <td>R</td>
      <td class="thick-top-border thick-right-border">A</td>
      <td>A</td>
      <td>S</td>
      <td>E</td>
      <td>A</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="purple thick-bottom-border thick-left-border"><b>O</b></td>
      <td>R</td>
      <td class="thick-right-border">I</td>
      <td>T</td>
      <td>M</td>
      <td>I</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="purple thick-left-border"><b>K</b></td>
      <td>N</td>
      <td>E</td>
      <td>E</td>
      <td>L</td>
    </tr>
  </table>
  <table class="metal">
    <tr>
      <td>N</td>
      <td class="thick-right-border">E</td>
      <td class="empty"></td>
      <td class="thick-left-border">N</td>
      <td>E</td>
    </tr>
    <tr>
      <td>A</td>
      <td class="green thick-right-border"><b>X</b></td>
      <td class="empty"></td>
      <td class="thick-left-border">E</td>
      <td>S</td>
    </tr>
    <tr>
      <td>T</td>
      <td class="thick-right-border">A</td>
      <td class="empty"></td>
      <td class="purple thick-left-border"><b>W</b></td>
      <td class="thick-bottom-border">S</td>
    </tr>
    <tr>
      <td>A</td>
      <td class="thick-right-border">L</td>
      <td class="empty"></td>
      <td class="thick-left-border">D</td>
      <td class="purple"><b>I</b></td>
    </tr>
    <tr>
      <td class="purple"><b>S</b></td>
      <td>T</td>
      <td class="thick-top-border">I</td>
      <td>E</td>
      <td>B</td>
    </tr>
    <tr>
      <td>H</td>
      <td class="purple"><b>E</b></td>
      <td>M</td>
      <td>A</td>
      <td>L</td>
    </tr>
    <tr>
      <td>A</td>
      <td>D</td>
      <td class="purple"><b>D</b></td>
      <td>L</td>
      <td>E</td>
    </tr>
  </table>
  <table class="brick">
    <tr>
      <td>B</td>
      <td>E</td>
      <td>G</td>
      <td>S</td>
      <td>F</td>
      <td>O</td>
      <td>R</td>
    </tr>
    <tr>
      <td>O</td>
      <td>R</td>
      <td>E</td>
      <td>I</td>
      <td>L</td>
      <td>L</td>
      <td>Y</td>
    </tr>
    <tr>
      <td class="thick-bottom-border">G</td>
      <td>A</td>
      <td>O</td>
      <td class="thick-right-border">L</td>
      <td>E</td>
      <td>M</td>
      <td class="thick-bottom-border">E</td>
    </tr>
    <tr>
      <td>I</td>
      <td class="thick-bottom-border">S</td>
      <td class="thick-right-border">R</td>
      <td>A</td>
      <td class="green"><b>X</b></td>
      <td>E</td>
      <td>L</td>
    </tr>
    <tr>
      <td class="purple"><b>T</b></td>
      <td>A</td>
      <td>G</td>
      <td class="thick-right-border thick-bottom-border">S</td>
      <td>I</td>
      <td class="purple thick-bottom-border"><b>C</b></td>
      <td>E</td>
    </tr>
    <tr>
      <td class="thick-bottom-border">T</td>
      <td class="purple"><b>H</b></td>
      <td>E</td>
      <td>M</td>
      <td>B</td>
      <td>T</td>
      <td class="purple"><b>A</b></td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="thick-bottom-border thick-left-border">A</td>
      <td class="purple"><b>I</b></td>
      <td>S</td>
      <td>L</td>
      <td>E</td>
      <td>S</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-left-border">I</td>
      <td class="purple"><b>N</b></td>
      <td>E</td>
      <td>P</td>
      <td>T</td>
    </tr>
  </table>
  <table class="metal">
    <tr>
      <td>S</td>
      <td>T</td>
      <td>A</td>
      <td>G</td>
      <td class="thick-bottom-border">E</td>
      <td class="thick-right-border">S</td>
      <td>G</td>
      <td>E</td>
      <td>E</td>
    </tr>
    <tr>
      <td>C</td>
      <td>O</td>
      <td>R</td>
      <td class="thick-right-border">E</td>
      <td class="empty"></td>
      <td class="thick-right-border thick-left-border">A</td>
      <td>E</td>
      <td>D</td>
      <td>M</td>
    </tr>
    <tr>
      <td class="thick-bottom-border">P</td>
      <td>E</td>
      <td>R</td>
      <td class="thick-right-border">O</td>
      <td class="empty"></td>
      <td class="green thick-left-border"><b>X</b></td>
      <td>I</td>
      <td class="thick-bottom-border">D</td>
      <td>E</td>
    </tr>
    <tr>
      <td>P</td>
      <td class="thick-bottom-border">S</td>
      <td class="thick-right-border thick-bottom-border">S</td>
      <td class="thick-right-border">R</td>
      <td class="empty"></td>
      <td class="thick-left-border">O</td>
      <td class="purple"><b>G</b></td>
      <td>E</td>
      <td>R</td>
    </tr>
    <tr>
      <td>R</td>
      <td>E</td>
      <td>I</td>
      <td class="thick-right-border">G</td>
      <td class="empty"></td>
      <td class="thick-right-border thick-left-border">N</td>
      <td>E</td>
      <td class="purple"><b>R</b></td>
      <td>G</td>
    </tr>
    <tr>
      <td>I</td>
      <td>A</td>
      <td class="thick-right-border">S</td>
      <td class="thick-right-border thick-bottom-border">E</td>
      <td class="empty"></td>
      <td class="thick-bottom-border thick-left-border">Y</td>
      <td class="thick-bottom-border">R</td>
      <td class="thick-bottom-border">I</td>
      <td class="purple thick-bottom-border"><b>E</b></td>
    </tr>
    <tr>
      <td class="purple"><b>M</b></td>
      <td>R</td>
      <td>I</td>
    </tr>
    <tr>
      <td>O</td>
      <td class="purple"><b>P</b></td>
      <td>T</td>
      <td class="thick-top-border">I</td>
    </tr>
  </table>
  <table class="brick brick-1">
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-left-border">E</td>
      <td class="green"><b>X</b></td>
      <td>A</td>
      <td>M</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-left-border">P</td>
      <td>E</td>
      <td class="purple"><b>L</b></td>
      <td>E</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-bottom-border thick-left-border">I</td>
      <td>N</td>
      <td>C</td>
      <td class="purple"><b>A</b></td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-left-border">L</td>
      <td>O</td>
      <td>O</td>
      <td class="thick-bottom-border">N</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-left-border">E</td>
      <td>P</td>
      <td>H</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-left-border">P</td>
      <td>H</td>
      <td>O</td>
    </tr>
    <tr>
      <td class="thick-top-border thick-bottom-border">S</td>
      <td class="thick-top-border thick-bottom-border">H</td>
      <td class="purple"><b>E</b></td>
      <td>O</td>
      <td class="thick-bottom-border">L</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="thick-left-border">R</td>
      <td class="purple"><b>N</b></td>
    </tr>
  </table>
  <table class="metal">
    <tr>
      <td class="thick-bottom-border">A</td>
      <td>T</td>
      <td>A</td>
      <td>T</td>
      <td class="thick-right-border">S</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="thick-left-border">R</td>
      <td>O</td>
      <td>O</td>
      <td>T</td>
    </tr>
    <tr>
      <td class="thick-top-border">S</td>
      <td>A</td>
      <td class="thick-bottom-border">N</td>
      <td>D</td>
      <td>Y</td>
    </tr>
    <tr>
      <td class="purple thick-bottom-border"><b>K</b></td>
      <td class="thick-right-border">C</td>
      <td class="empty"></td>
      <td class="thick-left-border">A</td>
      <td>L</td>
    </tr>
    <tr>
      <td class="empty"></td>
      <td class="purple thick-right-border thick-left-border"><b>E</b></td>
      <td class="empty"></td>
      <td class="thick-left-border">Y</td>
      <td class="thick-right-border">E</td>
    </tr>
  </table>
</div>



{% endblock %}
