{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Leland Aldridge, Oliver Mulley, and Ben Weissmann{% endblock %}
{% block solution %}LABORATORY TECHNOLOGISTS{% endblock %}

{% block solution_head_block %}
{% endblock %}

{% block solution_content_block %}
  <p>This puzzle presents each team with a server-side session of the
    puzzle that they can all connect to. At first, the status is given
    as Calibration, and any (non-command) input is met with five
    instances of either <code>PASS</code> or <code>FAIL</code>. For
    example:</p>

  <pre>
> Let's see what happens when I type this.
PASS FAIL FAIL FAIL PASS
  </pre>

  <p>Each <code>PASS</code> or <code>FAIL</code> represents a judgment
    of the input against a set of five rules. The order of these rules
    is randomized each time the puzzle session is reset, but in each
    case it is the same set of five rules. The rules are:</p>

  <ol>
    <li>The number of letters used an odd number of times is odd.</li>
    <li>The letters H U N T appear in order, not necessarily consecutively.</li>
    <li>At least three different kinds of punctuation marks are used.</li>
    <li>A word that is at least four letters long and found in the SOWPODS dictionary is spelled among consecutive first letters of words.</li>
    <li>No letter is used more frequently than E</li>
  </ol>

  <p>Judgments are all case-insensitive. When an input which passes
    all five rules is entered, the team is given the option to move on
    to Testing. In Testing, the only options are to retrieve a list of
    test strings, or to reset to Calibration. Upon returning to
    Calibration, the order of the rules is reset.</p>

  <p>The list of test strings (all quotes by GLaDOS from either <i>Portal</i>
    or <i>Portal 2</i>), all have a pattern of passes or fails of the
    rules. For instance, for the order of the rules given above,</p>

  <pre>A party associate will arrive shortly to collect you for your party.</pre>

  <ol>
    <li>Twelve letters (CEFHILORSVWY) are used an odd number of times – FAIL</li>
    <li>Moving along the letters in order, one can only get to H U – FAIL</li>
    <li>The only punctuation mark used is a period – FAIL</li>
    <li>PAWA, a word in SOWPODS, is made of consecutive first letters – PASS</li>
    <li>E is used three times, A L O R T and Y are each used more frequently – FAIL</li>
  </ol>

  <p>If the puzzler has understood the rules by which their inputs
    were judged, they could then judge this sentence FAIL FAIL FAIL
    PASS FAIL. If this is interpreted as a binary number 00010, in
    decimal 2, it can be used as an alphabetic index to associate this
    judgment with the letter <code>B</code>.</p>

  <p>There are twenty-three outputs, and when each is translated in
    order to a letter via its judgment against the rules, the answer
    <strong><code>LABORATORY TECHNOLOGISTS</code></strong> is
    obtained.</p>
{% endblock %}
