{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Xavid{% endblock %}
{% block solution %}HACIENDA{% endblock %}

{% block solution_content_block %}
<p>The puzzle is presented as an Infocom-style parser text adventure with limited ability to interact with the environment. Each room has the same description plus possibly containing scenery or a secret passage. Scenery can&rsquo;t be interacted with; secret passages can be entered, depositing the player in another location. In addition, the standard directions have been replaced with metasyntactic variables from <a href="http://catb.org/jargon/html/M/metasyntactic-variable.html">the Jargon file</a>.</p>

<p>Either by mapping the environment or by recognizing items, solvers can recognize that the game map corresponds to a portion of the map of MIT (consisting of the buildings numbered 14 or lower). Items represent something that can be found in that location in real life. Each floor of each building corresponds to a &ldquo;room&rdquo; in the game, and they connect as they do in real life, with the following mapping of directions:</p>

<table class="solution-table">
  <tr>
    <td>Game Direction</td>
    <td>MIT Direction</td>
  </tr>
  <tr>
    <td>baz</td>
    <td>north</td>
  </tr>
  <tr>
    <td>xyzzy</td>
    <td>south</td>
  </tr>
  <tr>
    <td>bar</td>
    <td>east</td>
  </tr>
  <tr>
    <td>quux</td>
    <td>west</td>
  </tr>
  <tr>
    <td>foo</td>
    <td>up</td>
  </tr>
  <tr>
    <td>plugh</td>
    <td>down</td>
  </tr>
</table>

<p>The game map could be drawn like this:</p>

<img {{ img_src_for('solutions/little_passages/image.svg') }} >

<p>There are seven secret passages in the game:</p>

<table class="solution-table">
  <tr>
    <th>From</th>
    <th>To</th>
  </tr>
  <tr>
    <td>8-0</td>
    <td>1-1</td>
  </tr>
  <tr>
    <td>1-3</td>
    <td>3-2</td>
  </tr>
  <tr>
    <td>3-0</td>
    <td>9-5</td>
  </tr>
  <tr>
    <td>9-1</td>
    <td>5-2</td>
  </tr>
  <tr>
    <td>5-4</td>
    <td>14-3</td>
  </tr>
  <tr>
    <td>14-2</td>
    <td>4-0</td>
  </tr>
  <tr>
    <td>4-1</td>
    <td>1-2</td>
  </tr>
</table>

<p>When considered by building, the secret passages form a directed path: 8, 1, 3, 9, 5, 14, 4, 1. Converting numbers to letters, this spells the answer, <strong><code>HACIENDA</code></strong>.</p>
{% endblock %}
