{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Hubert Hwang{% endblock %}
{% block solution %}ABSOLUTION{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content table td.color {
    width: 90px;
    padding: 0px;
  }

  .puzzle-content .container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;
  }

  .puzzle-content .container > a {
    width: 100%;
  }

  .puzzle-content .container img {
    width: 100%;
    border: 1px solid blue;
  }

  .puzzle-content {
    --white: #FFFFFF;
    --uglygreen: #c8c800;
    --red: #FF0000;
    --magenta: #FF00FF;
    --green: #00FF00;
    --cyan: #00FFFF;
    --blue: #0000FF;
    --orange: #FF8000;
    --teal: #008080;
    --grey: #c0c0c0;
  }

  .puzzle-content .white {
    background-color: var(--white);
  }

  .puzzle-content .uglygreen {
    background-color: var(--uglygreen);
  }

  .puzzle-content .red {
    background-color: var(--red);
  }

  .puzzle-content .magenta {
    background-color: var(--magenta);
  }

  .puzzle-content .green {
    background-color: var(--green);
  }

  .puzzle-content .cyan {
    background-color: var(--cyan);
  }

  .puzzle-content .blue {
    background-color: var(--blue);
  }

  .puzzle-content .orange {
    background-color: var(--orange);
  }

  .puzzle-content .teal {
    background-color: var(--teal);
  }

  .puzzle-content .grey {
    background-color: var(--grey);
  }

  .puzzle-content .uglygreen-stripes {
    background: repeating-linear-gradient(
      -45deg,
      var(--uglygreen),
      var(--uglygreen) 10px,
      var(--white) 10px,
      var(--white) 20px
    );
  }

  .puzzle-content .blue-stripes {
    background: repeating-linear-gradient(
      -45deg,
      var(--blue),
      var(--blue) 10px,
      var(--white) 10px,
      var(--white) 20px
    );
  }

  .puzzle-content .grey-stripes {
    background: repeating-linear-gradient(
      -45deg,
      var(--grey),
      var(--grey) 10px,
      var(--white) 10px,
      var(--white) 20px
    );
  }

  .puzzle-content .teal-stripes {
    background: repeating-linear-gradient(
      -45deg,
      var(--teal),
      var(--teal) 10px,
      var(--white) 10px,
      var(--white) 20px
    );
  }

  .puzzle-content .green-stripes {
    background: repeating-linear-gradient(
      -45deg,
      var(--green),
      var(--green) 10px,
      var(--white) 10px,
      var(--white) 20px
    );
  }

  .puzzle-content .red-stripes {
    background: repeating-linear-gradient(
      -45deg,
      var(--red),
      var(--red) 10px,
      var(--white) 10px,
      var(--white) 20px
    );
  }

  .puzzle-content .orange-stripes {
    background: repeating-linear-gradient(
      -45deg,
      var(--orange),
      var(--orange) 10px,
      var(--white) 10px,
      var(--white) 20px
    );
  }

  .puzzle-content .magenta-stripes {
    background: repeating-linear-gradient(
      -45deg,
      var(--magenta),
      var(--magenta) 10px,
      var(--white) 10px,
      var(--white) 20px
    );
  }

  .puzzle-content .cyan-stripes {
    background: repeating-linear-gradient(
      -45deg,
      var(--cyan),
      var(--cyan) 10px,
      var(--white) 10px,
      var(--white) 20px
    );
  }
  .puzzle-content .uglygreen-checker {
    background-color: white;
    background-image:
      linear-gradient(45deg, var(--uglygreen) 25%, transparent 25%, transparent 75%, var(--uglygreen) 75%, var(--uglygreen)), 
        linear-gradient(45deg, var(--uglygreen) 25%, transparent 25%, transparent 75%, var(--uglygreen) 75%, var(--uglygreen));
    background-size: 12px 12px;
    background-position: 0 0, 6px 6px;
  }

  .puzzle-content .red-checker {
    background-color: white;
    background-image:
      linear-gradient(45deg, var(--red) 25%, transparent 25%, transparent 75%, var(--red) 75%, var(--red)), 
        linear-gradient(45deg, var(--red) 25%, transparent 25%, transparent 75%, var(--red) 75%, var(--red));
    background-size: 12px 12px;
    background-position: 0 0, 6px 6px;
  }

  .puzzle-content .orange-checker {
    background-color: white;
    background-image:
      linear-gradient(45deg, var(--orange) 25%, transparent 25%, transparent 75%, var(--orange) 75%, var(--orange)), 
        linear-gradient(45deg, var(--orange) 25%, transparent 25%, transparent 75%, var(--orange) 75%, var(--orange));
    background-size: 12px 12px;
    background-position: 0 0, 6px 6px;
  }

  .puzzle-content .cyan-checker {
    background-color: white;
    background-image:
      linear-gradient(45deg, var(--cyan) 25%, transparent 25%, transparent 75%, var(--cyan) 75%, var(--cyan)), 
        linear-gradient(45deg, var(--cyan) 25%, transparent 25%, transparent 75%, var(--cyan) 75%, var(--cyan));
    background-size: 12px 12px;
    background-position: 0 0, 6px 6px;
  }

  .puzzle-content .green-checker {
    background-color: white;
    background-image:
      linear-gradient(45deg, var(--green) 25%, transparent 25%, transparent 75%, var(--green) 75%, var(--green)), 
        linear-gradient(45deg, var(--green) 25%, transparent 25%, transparent 75%, var(--green) 75%, var(--green));
    background-size: 12px 12px;
    background-position: 0 0, 6px 6px;
  }

  .puzzle-content .blue-checker {
    background-color: white;
    background-image:
      linear-gradient(45deg, var(--blue) 25%, transparent 25%, transparent 75%, var(--blue) 75%, var(--blue)), 
        linear-gradient(45deg, var(--blue) 25%, transparent 25%, transparent 75%, var(--blue) 75%, var(--blue));
    background-size: 12px 12px;
    background-position: 0 0, 6px 6px;
  }

  .puzzle-content .teal-checker {
    background-color: white;
    background-image:
      linear-gradient(45deg, var(--teal) 25%, transparent 25%, transparent 75%, var(--teal) 75%, var(--teal)), 
        linear-gradient(45deg, var(--teal) 25%, transparent 25%, transparent 75%, var(--teal) 75%, var(--teal));
    background-size: 12px 12px;
    background-position: 0 0, 6px 6px;
  }

  .puzzle-content .magenta-checker {
    background-color: white;
    background-image:
      linear-gradient(45deg, var(--magenta) 25%, transparent 25%, transparent 75%, var(--magenta) 75%, var(--magenta)), 
        linear-gradient(45deg, var(--magenta) 25%, transparent 25%, transparent 75%, var(--magenta) 75%, var(--magenta));
    background-size: 12px 12px;
    background-position: 0 0, 6px 6px;
  }

  .puzzle-content .grey-checker {
    background-color: white;
    background-image:
      linear-gradient(45deg, var(--grey) 25%, transparent 25%, transparent 75%, var(--grey) 75%, var(--grey)), 
        linear-gradient(45deg, var(--grey) 25%, transparent 25%, transparent 75%, var(--grey) 75%, var(--grey));
    background-size: 12px 12px;
    background-position: 0 0, 6px 6px;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>These genograms represent the familial, emotional, and social relationships between the principals in several different musicals performed by the MIT Musical Theatre Guild. (In many cases, these relationships happen during the show. The genograms depict the state of things at the very end of the show.)</p>

<p>First, we need to identify the show. Some shows were performed multiple times, so a caption is provided to uniquely identify a particular performance. The productions are:</p>

<ul>
  <li><i>Avenue Q</i> (Summer 2013)</li>
  <li><i>The Baker&rsquo;s Wife</i> (Fall 1992)</li>
  <li><i>Blood Brothers</i> (Summer 1997)</li>
  <li><i>The Drowsy Chaperone</i> (Fall 2012)</li>
  <li><i>Fiddler on the Roof</i> (Fall 1998)</li>
  <li><i>A Funny Thing Happened on the Way to the Forum</i> (Spring 1999)</li>
  <li><i>Into the Woods</i> (Summer 2003)</li>
  <li><i>The Rocky Horror Show</i> (IAP 2013)</li>
  <li><i>Urinetown</i> (Fall 2016)</li>
</ul>

<p>In each genogram, three squares and/or circles are highlighted with a colored box. These colors match up with the colors given at the bottom of the puzzle. Identify each character using the familial / social / emotional relationships, and use the numbers given to index into the character&rsquo;s name.</p>

<table class="solution-table condensed-table">
  <tr>
    <th>Color</th>
    <th>Character</th>
    <th>Index</th>
    <th>Letter</th>
  </tr>
  <tr>
    <td class="color uglygreen"></td>
    <td class="character">Underling</td>
    <td class="number">1</td>
    <td class="letter"><code>U</code></td>
  </tr>
  <tr>
    <td class="color red"></td>
    <td class="character">Mrs T</td>
    <td class="number">3</td>
    <td class="letter"><code>S</code></td>
  </tr>
  <tr>
    <td class="color magenta"></td>
    <td class="character">Golde</td>
    <td class="number">5</td>
    <td class="letter"><code>E</code></td>
  </tr>
  <tr>
    <td class="color green"></td>
    <td class="character">Sammy</td>
    <td class="number">3</td>
    <td class="letter"><code>M</code></td>
  </tr>
  <tr>
    <td class="color cyan"></td>
    <td class="character">Philia</td>
    <td class="number">3</td>
    <td class="letter"><code>I</code></td>
  </tr>
  <tr>
    <td class="color blue"></td>
    <td class="character">Hortense</td>
    <td class="number">4</td>
    <td class="letter"><code>T</code></td>
  </tr>
  <tr>
    <td class="color uglygreen-checker"></td>
    <td class="character">Adolpho (sic)</td>
    <td class="number">1</td>
    <td class="letter"><code>A</code></td>
  </tr>
  <tr>
    <td class="color orange"></td>
    <td class="character">Columbia</td>
    <td class="number">1</td>
    <td class="letter"><code>C</code></td>
  </tr>
  <tr>
    <td class="color red-checker"></td>
    <td class="character">Christmas Eve</td>
    <td class="number">6</td>
    <td class="letter"><code>T</code></td>
  </tr>
  <tr>
    <td class="color uglygreen-stripes"></td>
    <td class="character">Mrs. Tottendale</td>
    <td class="number">5</td>
    <td class="letter"><code>O</code></td>
  </tr>
  <tr>
    <td class="color orange-checker"></td>
    <td class="character">Riff Raff</td>
    <td class="number">5</td>
    <td class="letter"><code>R</code></td>
  </tr>
  <tr>
    <td class="color cyan-checker"></td>
    <td class="character">Pseudolus</td>
    <td class="number">2</td>
    <td class="letter"><code>S</code></td>
  </tr>
  <tr>
    <td class="color teal"></td>
    <td class="character">Little Sally</td>
    <td class="number">1</td>
    <td class="letter"><code>L</code></td>
  </tr>
  <tr>
    <td class="color green-checker"></td>
    <td class="character">Linda</td>
    <td class="number">5</td>
    <td class="letter"><code>A</code></td>
  </tr>
  <tr>
    <td class="color blue-checker"></td>
    <td class="character">Denise</td>
    <td class="number">5</td>
    <td class="letter"><code>S</code></td>
  </tr>
  <tr>
    <td class="color grey"></td>
    <td class="character">Little Red Riding Hood</td>
    <td class="number">3</td>
    <td class="letter"><code>T</code></td>
  </tr>
  <tr>
    <td class="color teal-checker"></td>
    <td class="character">Penelope Pennywise</td>
    <td class="number">3</td>
    <td class="letter"><code>N</code></td>
  </tr>
  <tr>
    <td class="color magenta-checker"></td>
    <td class="character">Chava</td>
    <td class="number">3</td>
    <td class="letter"><code>A</code></td>
  </tr>
  <tr>
    <td class="color blue-stripes"></td>
    <td class="character">Aimable</td>
    <td class="number">3</td>
    <td class="letter"><code>M</code></td>
  </tr>
  <tr>
    <td class="color grey-checker"></td>
    <td class="character">Baker</td>
    <td class="number">4</td>
    <td class="letter"><code>E</code></td>
  </tr>
  <tr>
    <td class="color grey-stripes"></td>
    <td class="character">Steward</td>
    <td class="number">1</td>
    <td class="letter"><code>S</code></td>
  </tr>
  <tr>
    <td class="color teal-stripes"></td>
    <td class="character">Hope Cladwell</td>
    <td class="number">3</td>
    <td class="letter"><code>P</code></td>
  </tr>
  <tr>
    <td class="color green-stripes"></td>
    <td class="character">Mr. Lyons</td>
    <td class="number">3</td>
    <td class="letter"><code>L</code></td>
  </tr>
  <tr>
    <td class="color red-stripes"></td>
    <td class="character">Princeton</td>
    <td class="number">6</td>
    <td class="letter"><code>E</code></td>
  </tr>
  <tr>
    <td class="color orange-stripes"></td>
    <td class="character">Narrator</td>
    <td class="number">2</td>
    <td class="letter"><code>A</code></td>
  </tr>
  <tr>
    <td class="color magenta-stripes"></td>
    <td class="character">Fruma Sarah</td>
    <td class="number">6</td>
    <td class="letter"><code>S</code></td>
  </tr>
  <tr>
    <td class="color cyan-stripes"></td>
    <td class="character">Erronius</td>
    <td class="number">1</td>
    <td class="letter"><code>E</code></td>
  </tr>
</table>

<p>This spells out the phrase <code>USE MIT ACTORS&rsquo; LAST NAMES PLEASE</code>. So you need to repeat this process, but using the actors&rsquo; last names instead of the character names. (And if you hadn&rsquo;t already found the MTG connection, this should hint you in that direction!)</p>

<table class="solution-table condensed-table">
  <tr>
    <th>Color</th>
    <th>Character</th>
    <th>Index</th>
    <th>Letter</th>
  </tr>
  <tr>
    <td class="color uglygreen"></td>
    <td class="character">Sadowski</td>
    <td class="number">1</td>
    <td class="letter"><code>S</code></td>
  </tr>
  <tr>
    <td class="color red"></td>
    <td class="character">Popiel</td>
    <td class="number">3</td>
    <td class="letter"><code>P</code></td>
  </tr>
  <tr>
    <td class="color magenta"></td>
    <td class="character">Maeurer</td>
    <td class="number">5</td>
    <td class="letter"><code>R</code></td>
  </tr>
  <tr>
    <td class="color green"></td>
    <td class="character">Weinstein</td>
    <td class="number">3</td>
    <td class="letter"><code>I</code></td>
  </tr>
  <tr>
    <td class="color cyan"></td>
    <td class="character">Hinel</td>
    <td class="number">3</td>
    <td class="letter"><code>N</code></td>
  </tr>
  <tr>
    <td class="color blue"></td>
    <td class="character">Ciugliano</td>
    <td class="number">4</td>
    <td class="letter"><code>G</code></td>
  </tr>
  <tr>
    <td class="color uglygreen-checker"></td>
    <td class="character">Orrego</td>
    <td class="number">1</td>
    <td class="letter"><code>O</code></td>
  </tr>
  <tr>
    <td class="color orange"></td>
    <td class="character">Hart</td>
    <td class="number">1</td>
    <td class="letter"><code>H</code></td>
  </tr>
  <tr>
    <td class="color red-checker"></td>
    <td class="character">Nguyen</td>
    <td class="number">6</td>
    <td class="letter"><code>N</code></td>
  </tr>
  <tr>
    <td class="color uglygreen-stripes"></td>
    <td class="character">Collings</td>
    <td class="number">5</td>
    <td class="letter"><code>I</code></td>
  </tr>
  <tr>
    <td class="color orange-checker"></td>
    <td class="character">Fomon</td>
    <td class="number">5</td>
    <td class="letter"><code>N</code></td>
  </tr>
  <tr>
    <td class="color cyan-checker"></td>
    <td class="character">Peters</td>
    <td class="number">2</td>
    <td class="letter"><code>E</code></td>
  </tr>
  <tr>
    <td class="color teal"></td>
    <td class="character">Piercy</td>
    <td class="number">1</td>
    <td class="letter"><code>P</code></td>
  </tr>
  <tr>
    <td class="color green-checker"></td>
    <td class="character">Raine</td>
    <td class="number">5</td>
    <td class="letter"><code>E</code></td>
  </tr>
  <tr>
    <td class="color blue-checker"></td>
    <td class="character">Levin</td>
    <td class="number">5</td>
    <td class="letter"><code>N</code></td>
  </tr>
  <tr>
    <td class="color grey"></td>
    <td class="character">Knutson</td>
    <td class="number">3</td>
    <td class="letter"><code>U</code></td>
  </tr>
  <tr>
    <td class="color teal-checker"></td>
    <td class="character">Volz</td>
    <td class="number">3</td>
    <td class="letter"><code>L</code></td>
  </tr>
  <tr>
    <td class="color magenta-checker"></td>
    <td class="character">Katz</td>
    <td class="number">3</td>
    <td class="letter"><code>T</code></td>
  </tr>
  <tr>
    <td class="color blue-stripes"></td>
    <td class="character">Amini</td>
    <td class="number">3</td>
    <td class="letter"><code>I</code></td>
  </tr>
  <tr>
    <td class="color grey-checker"></td>
    <td class="character">Chambers</td>
    <td class="number">4</td>
    <td class="letter"><code>M</code></td>
  </tr>
  <tr>
    <td class="color grey-stripes"></td>
    <td class="character">Abrahamsen</td>
    <td class="number">1</td>
    <td class="letter"><code>A</code></td>
  </tr>
  <tr>
    <td class="color teal-stripes"></td>
    <td class="character">Batten</td>
    <td class="number">3</td>
    <td class="letter"><code>T</code></td>
  </tr>
  <tr>
    <td class="color green-stripes"></td>
    <td class="character">Klein</td>
    <td class="number">3</td>
    <td class="letter"><code>E</code></td>
  </tr>
  <tr>
    <td class="color red-stripes"></td>
    <td class="character">Peairs</td>
    <td class="number">6</td>
    <td class="letter"><code>S</code></td>
  </tr>
  <tr>
    <td class="color orange-stripes"></td>
    <td class="character">Cosio</td>
    <td class="number">2</td>
    <td class="letter"><code>O</code></td>
  </tr>
  <tr>
    <td class="color magenta-stripes"></td>
    <td class="character">Drugan</td>
    <td class="number">6</td>
    <td class="letter"><code>N</code></td>
  </tr>
  <tr>
    <td class="color cyan-stripes"></td>
    <td class="character">Gerhardt</td>
    <td class="number">1</td>
    <td class="letter"><code>G</code></td>
  </tr>
</table>

<p>This spells out the clue phrase <code>SPRING OH NINE PENULTIMATE SONG</code>. MTG&rsquo;s Spring 2009 show was <i>bare: A Pop Opera</i>, and its penultimate song was titled <strong><code>ABSOLUTION</code></strong>, which is the final answer.</p>

<p>Annotated genograms follow:</p>
<div class="container">
  <div><b><i>Avenue Q</i></b></div>
  <a href="{{ asset_url_for('solutions/mamma_mia/avenueq.png') }}" target="_blank"><img {{ img_src_for('solutions/mamma_mia/avenueq.png') }} ></a>
</div>
<div class="container">
  <div><b><i>The Baker&rsquo;s Wife</i></b></div>
  <a href="{{ asset_url_for('solutions/mamma_mia/bakerswife.png') }}" target="_blank"><img {{ img_src_for('solutions/mamma_mia/bakerswife.png') }} ></a>
</div>
<div class="container">
  <div><b><i>Blood Brothers</i></b></div>
  <a href="{{ asset_url_for('solutions/mamma_mia/bloodbrothers.png') }}" target="_blank"><img {{ img_src_for('solutions/mamma_mia/bloodbrothers.png') }} ></a>
</div>
<div class="container">
  <div><b><i>The Drowsy Chaperone</i></b></div>
  <a href="{{ asset_url_for('solutions/mamma_mia/drowsy.png') }}" target="_blank"><img {{ img_src_for('solutions/mamma_mia/drowsy.png') }} ></a>
</div>
<div class="container">
  <div><b><i>Fiddler on the Roof</i></b></div>
  <a href="{{ asset_url_for('solutions/mamma_mia/fiddler.png') }}" target="_blank"><img {{ img_src_for('solutions/mamma_mia/fiddler.png') }} ></a>
</div>
<div class="container">
  <div><b><i>A Funny Thing Happened on the Way to the Forum</i></b></div>
  <a href="{{ asset_url_for('solutions/mamma_mia/forum.png') }}" target="_blank"><img {{ img_src_for('solutions/mamma_mia/forum.png') }} ></a>
</div>
<div class="container">
  <div><b><i>Into the Woods</i></b></div>
  <a href="{{ asset_url_for('solutions/mamma_mia/intothewoods.png') }}" target="_blank"><img {{ img_src_for('solutions/mamma_mia/intothewoods.png') }} ></a>
</div>
<div class="container">
  <div><b><i>The Rocky Horror Show</i></b></div>
  <a href="{{ asset_url_for('solutions/mamma_mia/rocky.png') }}" target="_blank"><img {{ img_src_for('solutions/mamma_mia/rocky.png') }} ></a>
</div>
<div class="container">
  <div><b><i>Urinetown</i></b></div>
  <a href="{{ asset_url_for('solutions/mamma_mia/urinetown.png') }}" target="_blank"><img {{ img_src_for('solutions/mamma_mia/urinetown.png') }} ></a>
</div>

{% endblock %}
