{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Oliver Wong, Henry Wong, Justin Melvin, and Jack Tagye{% endblock %}
{% block solution %}LENT{% endblock %}

{% block solution_head_block %}
{% endblock %}

{% block solution_content_block %}
<p>This puzzle, as the title Spooneristically suggests, revolves around defecation.</p>

<p>The clues all have apropos answers:</p>

<table class="solution-table condensed-table">
  <tr>
    <th>Clue</th>
    <th>Crappy answer</th>
    <th>Index</th>
    <th>Letter</th>
  </tr>
  <tr>
    <td>Unclasping and letting fall</td>
    <td>DROPPING</td>
    <td>2</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>Popular Green Day album</td>
    <td>DOOKIE</td>
    <td>6</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>You go to this guy for everything in a Gilbert and Sullivan operetta</td>
    <td>POOHBAH</td>
    <td>6</td>
    <td><code>A</code></td>
  </tr>
  <tr>
    <td>Name of a beetle type</td>
    <td>DUNG</td>
    <td>1</td>
    <td><code>D</code></td>
  </tr>
  <tr>
    <td>Problematic kind of matter</td>
    <td>FECAL</td>
    <td>1</td>
    <td><code>F</code></td>
  </tr>
  <tr>
    <td>Member of Carlin&rsquo;s seven words</td>
    <td>SHIT</td>
    <td>3</td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td>Successes in baseball</td>
    <td>RUNS</td>
    <td>1</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>Lousy performance or complete disaster</td>
    <td>SHITSHOW</td>
    <td>5</td>
    <td><code>S</code></td>
  </tr>
  <tr>
    <td>Bar seat</td>
    <td>STOOL</td>
    <td>2</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>Yikes! A way to be scared</td>
    <td>SHITLESS</td>
    <td>5</td>
    <td><code>L</code></td>
  </tr>
  <tr>
    <td>Natural fertilizer</td>
    <td>MANURE</td>
    <td>6</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>Name of a Japanese dog breed</td>
    <td>SHIHTZU</td>
    <td>5</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>Particular kind of self-satisfied smile</td>
    <td>SHIT-EATING GRIN</td>
    <td>4</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>Miniature, Standard, or Toy</td>
    <td>POODLE</td>
    <td>6</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>Name of a planet</td>
    <td>URANUS</td>
    <td>2</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>Pip-ful game in a casino</td>
    <td>CRAPS</td>
    <td>5</td>
    <td><code>S</code></td>
  </tr>
  <tr>
    <td>Gastro-intestinal specialist</td>
    <td>PROCTOLOGIST</td>
    <td>11</td>
    <td><code>S</code></td>
  </tr>
  <tr>
    <td>Yank an employee away from his job, or throw something away</td>
    <td>SHITCAN</td>
    <td>2</td>
    <td><code>H</code></td>
  </tr>
  <tr>
    <td>Record by Papa Roach</td>
    <td>CACABONITA</td>
    <td>8</td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td>Completely inebriated</td>
    <td>SHITFACED</td>
    <td>5</td>
    <td><code>F</code></td>
  </tr>
  <tr>
    <td>Noisome Rick and Morty character</td>
    <td>MRPOOPYBUTTHOLE</td>
    <td>10</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>Compound in bat cave</td>
    <td>GUANO</td>
    <td>3</td>
    <td><code>A</code></td>
  </tr>
  <tr>
    <td>Location on a ship</td>
    <td>POOPDECK</td>
    <td>1</td>
    <td><code>P</code></td>
  </tr>
  <tr>
    <td>A type of singing</td>
    <td>SCAT</td>
    <td>4</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>Grinning emoji name</td>
    <td>PILEOFPOO</td>
    <td>3</td>
    <td><code>L</code></td>
  </tr>
  <tr>
    <td>Jaunty South Park character</td>
    <td>MRHANKEY</td>
    <td>8</td>
    <td><code>Y</code></td>
  </tr>
</table>

<p>Taking the indexed letters, you get the phrase <code>READ FIRST LETTERS SHIFT APTLY</code>.</p>

<p>Read the first letters of the clues and Caesar shift by 2 to get <code>WRAP ROUND APPROPRIATE PENCIL</code>.</p>

<p>Print the puzzle, cut out the strip of letters at the bottom, and wrap around a #2 pencil to get <code>PLEASE ASK HQ FOR AN INFO DUMP</code>.</p>

<p>Upon calling HQ, your team receives a diaper full of (among other things) four strips of paper. The strips are labelled:</p>

<ol>
  <li>Neil Armstrong</li>
  <li>Annie Taylor</li>
  <li>Jesse Lynch Williams</li>
  <li>Kelly Clarkson</li>
</ol>

<p>These people are all the first at something. Take the 2nd letter of the 2nd name of the 2nd person to do each and get <strong><code>LENT</code></strong> as the solution.</p>

<table class="solution-table">
  <tr>
    <th>Activity</th>
    <th>1st person</th>
    <th>2nd person</th>
    <th>Extraction</th>
  </tr>
  <tr>
    <td>Walk on moon</td>
    <td>Neil Armstrong</td>
    <td>Buzz Aldrin</td>
    <td><code>L</code></td>
  </tr>
  <tr>
    <td>Niagara in a barrel</td>
    <td>Annie Taylor</td>
    <td>Bobby Leach</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>Pulitzer drama award</td>
    <td>Jesse Lynch Williams</td>
    <td>Eugene O&rsquo;Neill</td>
    <td><code>N</code></td>
  </tr>
  <tr>
    <td>American Idol winner</td>
    <td>Kelly Clarkson</td>
    <td>Ruben Studdard</td>
    <td><code>T</code></td>
  </tr>
</table>
{% endblock %}
