{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Andrew Chen and Tal Achituv{% endblock %}
{% block solution %}MEDIAN{% endblock %}

{% block solution_head_block %}
{# Table font size shrunk so that table content doesn't need to wrap #}
<style>
  .puzzle-content table {
    width: 920px;
    font-size: 0.8em;
  }

  .puzzle-content th {
    word-wrap: break-word;
  }

  .puzzle-content td {
    padding: 0.5em;
    text-align: center;
  }

  .puzzle-content .solution-part {
    font-size: 1.25em;
  }

  .puzzle-content td > div {
    vertical-align: middle;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .route {
    width: 44px;
  }

  .distance {
    width: 40px;
  }

  .midpoint {
    width: 95px;
  }

  .namesake {
    width: 150px;
  }

  .office {
    width: 100px;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>The locations of each of the 24 GeoGuessr puzzles form 12 pairs that co-exist along the same Interstate or US Highway. Following these routes from point to point, the city exactly halfway in between is a namesake for a historical US executive officer&mdash;including some that no longer formally exist (Secretary of War, Postmaster General). The namesakes of the cities correspond to the first names in the list on the side, ordered alphabetically by last name.</p>

<p>Among these 12 officers, there exist 6 pairs that shared the same office with each other. These pairs also share identical location-to-location distances geographically. From these 6 pairs, identify the person who served in that office halfway between each pair member ordinally (i.e. Presidents James Madison (4th) and John Tyler (10th) give Andrew Jackson (7th)).</p>

<p>Extract the middle letter of the last names of these in-between officers (they all have an odd number of letters). Order by increasing location-to-location distance to obtain the answer, <strong><code>MEDIAN</code></strong>.</p>

<p>To aid extraction, the locations are ordered as symmetric tetrads; [1] and [24] are same-road pairs (with the one farther west as the lower number), which pair with [2] and [23] to form same-office pairs. The pair-distances are smallest in the ends of the list (1, 2, 23, 24) and grow inwards, such that the answer can be read from outside-in.</p>

<table class="solution-table">
  <tr>
    <th>
      #
    </th>
    <th>
      GeoGuessr coordinate
    </th>
    <th class="route">
      Route
    </th>
    <th class="wrap distance">
      Dist. (mi)
    </th>
    <th class="midpoint">
      Midpoint
    </th>
    <th class="namesake">
      Namesake
    </th>
    <th class="office">
      Office
    </th>
    <th>
      Midpoint officer
    </th>
  </tr>
  <tr>
    <td>1</td>
    <td>40.917393, -91.417756</td>
    <td rowspan="2">US-34</td>
    <td rowspan="4">84</td>
    <td rowspan="2">Kirkwood, IL</td>
    <td rowspan="2">Samuel Kirkwood (14th)</td>
    <td rowspan="4">Secretary of the Interior</td>
    <td rowspan="4">
      Lucius <span class="solution-part"><code>LA<strong>M</strong>AR</code></span> (16th)
    </td>
  </tr>
  <tr>
    <td>24</td>
    <td>41.139390, -90.163656</td>
  </tr>
  <tr>
    <td>2</td>
    <td>35.652670, -97.444480</td>
    <td rowspan="2">US-77</td>
    <td rowspan="2">Noble, OK</td>
    <td rowspan="2">John Noble (18th)</td>
  </tr>
  <tr>
    <td>23</td>
    <td>34.641549, -97.181874</td>
  </tr>
  <tr>
    <td>3</td>
    <td>35.316187, -84.798623</td>
    <td rowspan="2">I-75</td>
    <td rowspan="4">138</td>
    <td rowspan="2">Knoxville, TN</td>
    <td rowspan="2">Henry Knox (1st)</td>
    <td rowspan="4">Secretary of War</td>
    <td rowspan="4">
      Timothy <span class="solution-part"><code>PICK<strong>E</strong>RING</code></span> (2nd)
    </td>
  </tr>
  <tr>
    <td>22</td>
    <td>36.769238, -84.170351</td>
  </tr>
  <tr>
    <td>4</td>
    <td>38.948782, -79.858235</td>
    <td rowspan="2">US-219</td>
    <td rowspan="2">McHenry, MD</td>
    <td rowspan="2">James McHenry (3rd)</td>
  </tr>
  <tr>
    <td>21</td>
    <td>40.213484, -78.956923</td>
  </tr>
  <tr>
    <td>5</td>
    <td>41.383298, -83.028903</td>
    <td rowspan="2">I-90</td>
    <td rowspan="4">180</td>
    <td rowspan="2">Wickliffe, OH</td>
    <td rowspan="2">Charles Wickliffe (11th)</td>
    <td rowspan="4">Postmaster General</td>
    <td rowspan="4">
      Alexander <span class="solution-part"><code>RAN<strong>D</strong>ALL</code></span> (22nd)
    </td>
  </tr>
  <tr>
    <td>20</td>
    <td>42.131257, -79.941031</td>
  </tr>
  <tr>
    <td>6</td>
    <td>37.170144, -103.879893</td>
    <td rowspan="2">US-160</td>
    <td rowspan="2">Vilas, CO</td>
    <td rowspan="2">William Vilas (33rd)</td>
  </tr>
  <tr>
    <td>19</td>
    <td>37.559983, -100.870712</td>
  </tr>
  <tr>
    <td>7</td>
    <td>36.159158, -115.160355</td>
    <td rowspan="2">I-15</td>
    <td rowspan="4">248</td>
    <td rowspan="2">Washington, UT</td>
    <td rowspan="2">George Washington (1st)</td>
    <td rowspan="4">President</td>
    <td rowspan="4">
      James <span class="solution-part"><code>MAD<strong>I</strong>SON</code></span> (4th)
    </td>
  </tr>
  <tr>
    <td>18</td>
    <td>38.637935, -112.608545</td>
  </tr>
  <tr>
    <td>8</td>
    <td>35.725974, -90.031040</td>
    <td rowspan="2">I-55</td>
    <td rowspan="2">Jackson, MO</td>
    <td rowspan="2">Andrew Jackson (7th)</td>
  </tr>
  <tr>
    <td>17</td>
    <td>38.716553, -89.921667</td>
  </tr>
  <tr>
    <td>9</td>
    <td>39.762267, -94.456849</td>
    <td rowspan="2">US-36</td>
    <td rowspan="4">298</td>
    <td rowspan="2">Monroe City, MO</td>
    <td rowspan="2">James Monroe (7th)</td>
    <td rowspan="4">Secretary of State</td>
    <td rowspan="4">
      John Quincy <span class="solution-part"><code>AD<strong>A</strong>MS</code></span> (8th)
    </td>
  </tr>
  <tr>
    <td>16</td>
    <td>39.833352, -89.151872</td>
  </tr>
  <tr>
    <td>10</td>
    <td>38.481878, -90.844517</td>
    <td rowspan="2">US-50</td>
    <td rowspan="2">Clay City, IL</td>
    <td rowspan="2">Henry Clay (9th)</td>
  </tr>
  <tr>
    <td>15</td>
    <td>38.936378, -85.933733</td>
  </tr>
  <tr>
    <td>11</td>
    <td>41.590656, -75.804776</td>
    <td rowspan="2">US-11</td>
    <td rowspan="4">348</td>
    <td rowspan="2">Adams, NY</td>
    <td rowspan="2">John Adams (1st)</td>
    <td rowspan="4">Vice President</td>
    <td rowspan="4">
      Richard <span class="solution-part"><code>JOH<strong>N</strong>SON</code></span> (9th)
    </td>
  </tr>
  <tr>
    <td>14</td>
    <td>44.986286, -73.363417</td>
  </tr>
  <tr>
    <td>12</td>
    <td>35.555825, -82.829806</td>
    <td rowspan="2">I-40</td>
    <td rowspan="2">Colfax, NC</td>
    <td rowspan="2">Schuyler Colfax (17th)</td>
  </tr>
  <tr>
    <td>13</td>
    <td>34.807841, -77.990309</td>
  </tr>
</table>

<p>In addition, here is a guide to solving each of these locations; they typically involve finding an exit sign or a local business sign, which can be Google searched to attain the original location. No location requires venturing more than a handful of clicks (other than for enjoying the landscape).</p>

<table class="solution-table">
  <tr>
    <th>
      #
    </th>
    <th>
      GeoGuessr Coordinate
    </th>
    <th>
      Example Solution
    </th>
    <th>
      Route
    </th>
  </tr>
  <tr>
    <td>1</td>
    <td>40.917393, -91.417756</td>
    <td>Forward, onto the bridge for numerous town and road signs.</td>
    <td rowspan="2">US-34</td>
  </tr>
  <tr>
    <td>24</td>
    <td>41.139390, -90.163656</td>
    <td>Left or right 8 screens brings you to an intersection with road signs</td>
  </tr>
  <tr>
    <td>2</td>
    <td>35.652670, -97.444480</td>
    <td>One step away to see sign: Best Western Edmond Inn & Suites</td>
    <td rowspan="2">US-77</td>
  </tr>
  <tr>
    <td>23</td>
    <td>34.641549, -97.181874</td>
    <td>Forward 6 screens brings you to “Welcome to Wynnewood”</td>
  </tr>
  <tr>
    <td>3</td>
    <td>35.316187, -84.798623</td>
    <td>Forward 3 screens to see sign: Hiwassee River, McMinn Co</td>
    <td rowspan="2">I-75</td>
  </tr>
  <tr>
    <td>22</td>
    <td>36.769238, -84.170351</td>
    <td>Backwards along the road for 6 screens for Exit 15 Williamsburg</td>
  </tr>
  <tr>
    <td>4</td>
    <td>38.948782, -79.858235</td>
    <td>Turn around for highway signs, back one screen to see many road markers.</td>
    <td rowspan="2">US-219</td>
  </tr>
  <tr>
    <td>21</td>
    <td>40.213484, -78.956923</td>
    <td>Cross the street is a sign marking Jerome route 601</td>
  </tr>
  <tr>
    <td>5</td>
    <td>41.383298, -83.028903</td>
    <td>Forward 2 screens to see a bridge marked: Shiets Road</td>
    <td rowspan="2">I-90</td>
  </tr>
  <tr>
    <td>20</td>
    <td>42.131257, -79.941031</td>
    <td>Turn around for a sign marking Penn State Erie Behrend college</td>
  </tr>
  <tr>
    <td>6</td>
    <td>37.170144, -103.879893</td>
    <td>Go either forward or backwards a couple screens to see road signs: US-160+CO-389</td>
    <td rowspan="2">US-160</td>
  </tr>
  <tr>
    <td>19</td>
    <td>37.559983, -100.870712</td>
    <td>In the same screen there are town distances, cross the road for highway signs</td>
  </tr>
  <tr>
    <td>7</td>
    <td>36.159158, -115.160355</td>
    <td>Turn around to see the Las Vegas Stratosphere</td>
    <td rowspan="2">I-15</td>
  </tr>
  <tr>
    <td>18</td>
    <td>38.637935, -112.608545</td>
    <td>Turn around, move 5 screens for road sign: Exit 135 Historic Cove Fort</td>
  </tr>
  <tr>
    <td>8</td>
    <td>35.725974, -90.031040</td>
    <td>Back 6 screens is a road sign: Exit 53 Victoria/Luxora</td>
    <td rowspan="2">I-55</td>
  </tr>
  <tr>
    <td>17</td>
    <td>38.716553, -89.921667</td>
    <td>Turn around and move to the bridge for numerous road signs</td>
  </tr>
  <tr>
    <td>9</td>
    <td>39.762267, -94.456849</td>
    <td>Forward 6 screens is a business sign: Camp Farwesta</td>
    <td rowspan="2">US-36</td>
  </tr>
  <tr>
    <td>16</td>
    <td>39.833352, -89.151872</td>
    <td>Cross the road and forward a screen for Exit 128 Niantic</td>
  </tr>
  <tr>
    <td>10</td>
    <td>38.481878, -90.844517</td>
    <td>In starting location is a road sign marking Exit 253 Gray Summit</td>
    <td rowspan="2">US-50</td>
  </tr>
  <tr>
    <td>15</td>
    <td>38.936378, -85.933733</td>
    <td>Right 4 screens for Welcome to Seymour</td>
  </tr>
  <tr>
    <td>11</td>
    <td>41.590656, -75.804776</td>
    <td>One screen forward is a business sign: Heath Gumble Landscaping</td>
    <td rowspan="2">US-11</td>
  </tr>
  <tr>
    <td>14</td>
    <td>44.986286, -73.363417</td>
    <td>Forward 3 screens for the Anchorage Motel</td>
  </tr>
  <tr>
    <td>12</td>
    <td>35.555825, -82.829806</td>
    <td>In starting location is a road sign marking Exit 31 Canton</td>
    <td rowspan="2">I-40</td>
  </tr>
  <tr>
    <td>13</td>
    <td>34.807841, -77.990309</td>
    <td>Forward under the bridge to see Exit 380 Duplin Cellar Tours</td>
  </tr>
</table>
{% endblock %}
