{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Robin Deits{% endblock %}
{% block solution %}PUNK ROCK{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content img {
    width: 100%;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>This puzzle consists of a single image of a (stylized) cassette tape. As with many of the puzzles in the Pok&eacute;mon round, this puzzle is actually part of an evolving pair. Specifically, it is the evolved form or &ldquo;33 RPM&rdquo;.</p>

<p>As in that puzzle, there is audio information encoded in the image itself, and solvers will likely want to re-use any code or tools they employed in solving the previous puzzle, with a few adjustments. The same sample rate and 33 RPM turn rate from the prior puzzle should work well for this puzzle.</p>

<p>Unlike 33 RPM, there are two audio tracks corresponding to the two spools of the cassette. The right track is read from in-to-out and the left track is read from out-to-in. If the puzzle image is split in half with image editing tools and the left half mirrored, the code from 33 RPM can be reused.</p>

<p><b>Left Track</b></p>
<audio controls>
  <source src="{{ asset_url_for('solutions/mix_tape/left.mp3') }}" type="audio/mpeg">
</audio>
<ol>
  <li>Michael Jackson - &ldquo;Man in the Mirror&rdquo;</li>
  <li>ABBA - &ldquo;When All Is Said and Done&rdquo;</li>
  <li>a-ha - &ldquo;Take On Me&rdquo;</li>
  <li>Information Society - &ldquo;Walking Away&rdquo;</li>
  <li>Beastie Boys - &ldquo;Fight for Your Right&rdquo;</li>
  <li>Kenny Loggins - &ldquo;Meet Me Half Way&rdquo;</li>
  <li>Dr Hook - &ldquo;Years From Now&rdquo;</li>
  <li>Pet Shop Boys - &ldquo;Left To My Own Devices&rdquo;</li>
</ol>

<p><b>Right Track</b></p>
<audio controls>
  <source src="{{ asset_url_for('solutions/mix_tape/right.mp3') }}" type="audio/mpeg">
</audio>
<ol>
  <li>Diana Ross - &ldquo;Mirror, Mirror&rdquo;</li>
  <li>Earth, Wind and Fire - &ldquo;And Love Goes On&rdquo;</li>
  <li>Twisted Sister - &ldquo;We&rsquo;re Not Gonna Take It&rdquo;</li>
  <li>Dire Straits - &ldquo;So Far Away&rdquo;</li>
  <li>Christopher Cross - &ldquo;All Right&rdquo;</li>
  <li>Leon Haywood - &ldquo;Believe Half of What You See&rdquo;</li>
  <li>Frank Stallone - &ldquo;Far From Over&rdquo;</li>
  <li>Barbra Streisand - &ldquo;Left in the Dark&rdquo;</li>
</ol>

<p>Pairing the nth title from the left track with the nth title from the right track, we can see that each pair of titles shares exactly one word:</p>

<ol>
  <li>Mirror</li>
  <li>And</li>
  <li>Take</li>
  <li>Away</li>
  <li>Right</li>
  <li>Half</li>
  <li>From</li>
  <li>Left</li>
</ol>

<p>The song titles are therefore giving an instruction to the solvers to manipulate the image itself. Mirroring the right half of the image and subtracting it (taking it away) from the left half produces the following image:</p>

<a href="{{ asset_url_for('solutions/mix_tape/1.png') }}" target="_blank"><img {{ img_src_for('solutions/mix_tape/1.png') }} ></a>

<p>The letters <code>PUNKROCK</code> are visible reading around the image, and <strong><code>PUNK ROCK</code></strong> is the answer.</p>

<p>For clarity, here is the same image as above with some slight adjustments to the contrast and brightness:</p>

<a href="{{ asset_url_for('solutions/mix_tape/2.png') }}" target="_blank"><img {{ img_src_for('solutions/mix_tape/2.png') }} ></a>
{% endblock %}
