{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Kevin Hwang, Sid Creutz, Rachel Bowens-Rubin, and Enrique Cintron{% endblock %}
{% block solution %}CHEMISTRY SAVVY{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content img {
    display: block;
    margin: auto;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>Solvers are presented with a molecular model kit containing several atoms (8 carbons (black), 4 nitrogens (blue), 2 oxygens (red), and 10 hydrogens (white), using canonical colors for the elements). Also included are &ldquo;bonds&rdquo; (tubing), and a <a href="{{ asset_url_for('solutions/model_kit/insert.pdf') }}" target="_blank">text insert</a>.</p>

<p>The hydrogen atoms were unlabeled and had short unlabeled bond pieces already attached to them. The other atoms were labeled with small organic molecules, and the bonds were labeled with an arrow and reaction conditions. A paper kit can be downloaded <a href="{{ asset_url_for('solutions/model_kit/kit.pdf') }}">here</a>.</p>

<p>Solvers should deduce, as hinted by the insert, that they should use these components to assemble a single overall larger molecule, such that the sub-molecules (atoms) are connected by reactions (bonds) that interconvert them.</p>

<p>Assembly is facilitated if solvers deduce the identity of the molecule in question, although this is not strictly necessary initially. The flavor text hints at something that might be useful for a chemistry exam after pulling an all-nighter&mdash;possibly &ldquo;caffeine&rdquo;. Alternatively, if solvers search for the molecular formula (C<sub>8</sub>H<sub>10</sub>N<sub>4</sub>O<sub>2</sub>, deduced from the model kit contents), they should find &ldquo;caffeine&rdquo; as the most obvious option.</p>

<p>Most of the reactions would be familiar to a first-term organic chemistry student. Some of the connections are more obvious/unambiguous than others. Unique functional groups and elements such as the isopentanol group, chlorine, bromine, and iodine help with this.</p>

<p>For instance, some obvious connections:</p>

<ul>
  <li>Acetic acid and isopentylacetate (a.k.a. isoamylacetate) can be readily connected with the bond/reaction using &ldquo;isopentanol, H<sup>+</sup>&rdquo;</li>
  <li>PBr<sub>3</sub> connects ethanol and bromoethane</li>
  <li>HI can be assumed to introduce the iodine atom of iodoethanol, and ethylene oxide is the only starting material that works for this reaction</li>
  <li>Chloroethanol is connected to chloroacetic acid, although the reagent could initially be ambiguous between &ldquo;Jones Reagent&rdquo; and &ldquo;KMnO<sub>4</sub>, heat&rdquo;; this ambiguity is resolved later since KMnO4 is needed for a different reaction</li>
  <li>&ldquo;PdCl<sub>2</sub>, CuCl<sub>2</sub>, O<sub>2</sub>&rdquo; (Wacker oxidation) can be easily found by Googling the reagents; it will then be obvious that it should be used to connect ethylene to acetaldehyde</li>
  <li>Similarly, googling CH<sub>2</sub>PPh<sub>3</sub> (if solvers are not already familiar with the Wittig reaction) will show that it operates only on aldehydes or ketones and therefore should be used to convert acetaldehyde (the only aldehyde or ketone in the set) to propylene</li>
</ul>

<p>With some of these connections as a starting point, solvers should be able to work their way through the rest of the molecules/reactions and find that there is only one way to completely assemble all the pieces with no leftovers to give a chemically reasonable molecule.</p>

<p>Recognizing the molecule as caffeine at any point in this will make this susbstantially easier since the identity of the elements and connectivity of the bonds will be specified, but it should be unambiguous even without this.</p>

<p>The complete reaction cycle is:</p>

<img {{ img_src_for('solutions/model_kit/1.png') }} >

<p>In order to extract the answer, solvers should turn their attention back to the kit insert. The insert includes a list of the contents, which is a set of clues corresponding to each of the molecules that were written on the atoms. It should be noted that the clues are NOT necessary to identify the molecules initially, as they are already unambiguously identified by the structures provided on the atoms. Therefore, solvers should deduce that these clues must serve some other purpose.</p>

<p>The clues correspond to the molecules as follows:</p>

<table class="solution-table">
  <tr>
    <th>Molecule</th>
    <th>Clue</th>
  </tr>
  <tr>
    <td>1-propanol</td>
    <td>It can be isomerized (skeletally) to make a common disinfectant</td>
  </tr>
  <tr>
    <td>ethanol</td>
    <td>Used to help some &ldquo;socially lubricate&rdquo;</td>
  </tr>
  <tr>
    <td>chloroethane</td>
    <td>Precursor to tetraethyllead</td>
  </tr>
  <tr>
    <td>propionic acid</td>
    <td>Activity of a microbe produces this along with holes in Swiss cheese</td>
  </tr>
  <tr>
    <td>acetic acid</td>
    <td>Clich&eacute; science fair project combines this with baking soda</td>
  </tr>
  <tr>
    <td>chloroacetic acid</td>
    <td>Precursors to glyphosate include this organochlorine compound</td>
  </tr>
  <tr>
    <td>ethylene oxide</td>
    <td>Utmost care must be used in working with this highly reactive component of thermobaric weapons</td>
  </tr>
  <tr>
    <td class="nowrap">2-chloroethanol</td>
    <td>Reagent used to make mustard gas via the Meyer method</td>
  </tr>
  <tr>
    <td>bromoethane</td>
    <td>Inconveniently, shares an abbreviation with a common DNA staining reagent</td>
  </tr>
  <tr>
    <td>ethylene</td>
    <td>Not just any old flat molecule, it also ripens fruit</td>
  </tr>
  <tr>
    <td>iodoethanol</td>
    <td>Excluding radioactive isotopes, it contains the heaviest halogen atom</td>
  </tr>
  <tr>
    <td>propylene</td>
    <td>Not very useful as a monomer, but found in ropes, clothes, and carpets as a polymer</td>
  </tr>
  <tr>
    <td>isoamyl acetate</td>
    <td>Oily solvent in varnishes with a banana flavor</td>
  </tr>
  <tr>
    <td>acetaldehyde</td>
    <td>Sorry about your hangover&mdash;blame this alcohol metabolite</td>
  </tr>
</table>

<p>In general, the clues (if they are not &ldquo;common knowledge&rdquo;) come directly from the Wikipedia pages for the corresponding molecule, so they should be pretty straightforward to match up.</p>

<p>There is also an acrostic reading down the first letters of the clues in the given order&mdash;<code>IUPAC PURINE NOS</code>, cluing that the solvers should look at the numbering scheme for purine-type molecules (of which caffeine is one):</p>

<img {{ img_src_for('solutions/model_kit/2.jpg') }} >

<p>Formally, <a href="https://goldbook.iupac.org/html/P/P04953.html">IUPAC standards</a> only dictate the numbering scheme for the purine ring system itself (1-9) and not the substituents (10-14). However, it is hoped that the numbering scheme shown for the substituents (which also comes up if solvers google for &ldquo;caffeine numbering scheme&rdquo; or something along those lines) is a logical extension derived from considering the substituents in the same order as the original rings.</p>

<p>The final extraction step is simply to index into each clue by the number of the molecule/atom which it corresponds to in the assembled caffeine molecule. Reading down the indexed letters in the provided order gives the answer, <strong><code>CHEMISTRY SAVVY</code></strong>, which, along with caffeine, is also a useful thing to have for an orgo exam (and for solving this puzzle).</p>
{% endblock %}
