{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}
  By Tanya Khovanova<br/>
  In memory of Raymond Smullyan
{% endblock %}
{% block solution %}ALTERNATE{% endblock %}

{% block solution_content_block %}
  <p>Raymond Smullyan introduced sane and insane people in his book
    <em>The Lady or the Tiger?</em> in 1982. One might think that
    insane truth-tellers are equivalent to sane liars. Indeed, when
    talking about facts they both lie. Similarly, insane liars and
    sane truth-tellers tell the truth. It gets trickier when they talk
    about beliefs. An insane person believes that two plus two is not
    four. But being delusional they believe that they believe that two
    plus two IS four. In other words, an insane truth-teller will say,
    &ldquo;I believe that two plus two is four,&rdquo; which is a lie
    as it should be. Meanwhile a sane liar will say &ldquo;I believe
    that two plus two isn&rsquo;t four.&rdquo; That means, when we
    look at statements about beliefs, the underlying statement is true
    for truth-tellers and false for liars independently of their
    sanity.</p>

  <p>For convenience, let&rsquo;s number each round of answers from
    the members of the asylum, starting from 0 (the initial statement
    about lovers). Let&rsquo;s skip round 0 and look at rounds 1-3
    (the questions relating to who is a patient).</p>

  <p>The only person who thinks he is a patient is a partial in the
    sane stage.</p>

  <ul>
    <li>&ldquo;I am a patient.&rdquo; This can be sane lying,
      delusional lying, insane partial lying, and sane partial telling
      the truth.</li>
    <li>&ldquo;I am not a patient.&rdquo; This can be sane telling the
      truth, delusional telling the truth, sane partial lying, and
      insane partial telling the truth.</li>
  </ul>

  <p>Patients in insane or sane state believe that they believe that
    they are patients. Doctors believe that they believe that they are
    not patients.</p>

  <ul>
    <li>&ldquo;I believe I am a patient.&rdquo; This can be sane
      lying, delusional telling the truth, sane partial telling the
      truth, and insane partial telling the truth.</li>
    <li>&ldquo;I believe I am not a patient.&rdquo; This can be sane
      telling the truth, delusional lying, sane partial lying, and
      insane partial lying.</li>
  </ul>

  <p>Let&rsquo; denote the sanity of people just before round 1 by S
    (sane), D (delusional), Pi (partial insane), and Ps (Partial
    sane). We&rsquo;ll denote truthfulness by T (truth-teller), L
    (liar), At (truthful alternator), and Al (lying alternator).</p>

  <p>By analyzing rounds 1-3 about patients we get the following
    possibilities, where Y, means yes, and N means No.</p>

  <table class="solution-table condensed-table">
    <thead>
      <tr>
        <th>Answers</th>
        <th>Possible types</th>
        <th>Asylum members</th>
      </tr>
    </thead>
    <tr>
      <td>NNN</td>
      <td>ST, PsAl</td>
      <td></td>
    </tr>
    <tr>
      <td>YYY</td>
      <td>SL, PsAt</td>
      <td>Ann</td>
    </tr>
    <tr>
      <td>NYN</td>
      <td>SAt, PsL</td>
      <td>Cedric, Holly</td>
    </tr>
    <tr>
      <td>YNY</td>
      <td>SAl, PsT</td>
      <td>Eve</td>
    </tr>
    <tr>
      <td>YYN</td>
      <td>DL, PiAl</td>
      <td>Beth, Fiona, Grace</td>
    </tr>
    <tr>
      <td>NNY</td>
      <td>DT, PiAt</td>
      <td></td>
    </tr>
    <tr>
      <td>YNN</td>
      <td>DAl, PiL</td>
      <td>David, Ian</td>
    </tr>
    <tr>
      <td>NYY</td>
      <td>DAt, PiT</td>
      <td></td>
    </tr>
  </table>

  <p>We do not know who is who yet. But we know something. Namely, we
    can deduce information from some of the statements. Let us look at
    factual statements (not beliefs). Both DL and PiAl always tell the
    truth about simple facts. That means that Beth, Fiona, and Grace
    are Zack&rsquo;s lovers. Now that we know some lovers we can start
    unraveling who is who from Round 4 (where they talk about their
    love life), working backwards. We start with Ann, who talks about
    Beth (the latter is a lover).</p>

  <ul>
    <li>Ann: Beth was Zack&rsquo;s lover. Ann is PsAt in insane lying state,
      rather than SL. Ann is a lover.</li>
    <li>Ian: I believe Ann wasn&rsquo;t Zack&rsquo;s lover. Ian is PiL in sane
      state, rather DAl in true state. Ian is not a lover.</li>
    <li>Holly: Ian was Zack&rsquo;s lover. Holly is SAt in lying state,
      rather than PsL in insane state. Holly is not a lover.</li>
    <li>Grace: I believe Holly wasn&rsquo;t Zack&rsquo;s lover. Grace is PiAl in
      sane true state rather than DL. Grace is a lover.</li>
    <li>Fiona: I believe that Grace wasn&rsquo;t Zack&rsquo;s lover. Fiona is DL
      rather than PiAl in sane true state. Fiona is a lover.</li>
    <li>Eve: Fiona was Zack&rsquo;s lover. Eve is SAl in true state, rather
      than PsT in insane state. Eve is a lover.</li>
    <li>David: I believe Eve wasn&rsquo;t Zack&rsquo;s lover. David is PiL in sane
      state, rather than DAl in true state. David isn&rsquo;t a lover.</li>
    <li>Cedric: David was Zack&rsquo;s lover. Cedric is SAt in lying state,
      rather than PsL in insane state. Cedric isn&rsquo;t a lover.</li>
    <li>Beth: I believe Cedric was Zack&rsquo;s lover. Beth is DL, rather
      than PiAl in sane true state. Beth is a lover.</li>
  </ul>

  <p>In the last round the asylum tenants only talked about their
    beliefs. That means we only need to know if they are telling the
    truth to decipher the true statements:</p>

  <ul>
    <li>The patients&rsquo; doors are locked from 11p till 7am and only
      doctors have keys to the patients&rsquo; rooms.</li>
    <li>There are no killers among the doctors.</li>
    <li>There was a person carrying the statue to the victim&rsquo;s room at
      2am.</li>
    <li>The person who unlocked the door is a doctor and a lover.</li>
    <li>The men are innocent.</li>
    <li>There are no killers among the delusional patients.</li>
    <li>All non-lovers are innocent.</li>
    <li>Only Beth, Cedric, David, and Ian are strong enough to lift
      the statue.</li>
    <li>The person who brought the statue to Zack&rsquo;s room is a lover.</li>
  </ul>

  <p>The person who unlocked the door, is a doctor and a lover. This
    could only be Eve. The person who carried the statue to the room
    must be one of Beth, Cedric, David, and Ian. We also know that the
    men are innocent. This leaves Beth to be the only person who could
    have carried the statue. We also know that the killer might only
    be a partial: Ann, David, Grace, and Ian. Given that the men are
    innocent, we are left with Ann and Grace. Given that none of them
    alone could have lifted the statue, both of them are killers.</p>

  <p>The frequent mentions of the word <code>THREE</code> hint at the ternary
    extraction. Plus, the characteristics in the table do not match
    the order they were used in the puzzle. That means this order is
    important. We put people in alphabetical order and assign them
    values based on Radstein&rsquo;s list. Then we convert the ternary
    numbers to integers and to letters.</p>

  <table class="solution-table condensed-table">
    <thead>
      <tr>
        <th>Person</th>
        <th>Type</th>
        <th>Guilt</th>
        <th>Ternary</th>
        <th>Decimal</th>
        <th>Letter</th>
      </tr>
    </thead>
    <tr>
      <td>Ann</td>
      <td>PsAt</td>
      <td>Killer</td>
      <td>001</td>
      <td>1</td>
      <td><code>A</code></td>
    </tr>
    <tr>
      <td>Beth</td>
      <td>DL</td>
      <td>Accomplice</td>
      <td>110</td>
      <td>12</td>
      <td><code>L</code></td>
    </tr>
    <tr>
      <td>Cedric</td>
      <td>SAt</td>
      <td>Innocent</td>
      <td>202</td>
      <td>20</td>
      <td><code>T</code></td>
    </tr>
    <tr>
      <td>David</td>
      <td>PiL</td>
      <td>Innocent</td>
      <td>012</td>
      <td>5</td>
      <td><code>E</code></td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>SAl</td>
      <td>Accomplice</td>
      <td>200</td>
      <td>18</td>
      <td><code>R</code></td>
    </tr>
    <tr>
      <td>Fiona</td>
      <td>DL</td>
      <td>Innocent</td>
      <td>112</td>
      <td>14</td>
      <td><code>N</code></td>
    </tr>
    <tr>
      <td>Grace</td>
      <td>PiAl</td>
      <td>Killer</td>
      <td>001</td>
      <td>1</td>
      <td><code>A</code></td>
    </tr>
    <tr>
      <td>Holly</td>
      <td>SAt</td>
      <td>Innocent</td>
      <td>202</td>
      <td>20</td>
      <td><code>T</code></td>
    </tr>
    <tr>
      <td>Ian</td>
      <td>PiL</td>
      <td>Innocent</td>
      <td>012</td>
      <td>5</td>
      <td><code>E</code></td>
    </tr>
  </table>

  <p>This yields the answer, <strong><code>ALTERNATE</code></strong>.</p>
{% endblock %}
