{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Justin Melvin, Wes Carroll, and Elizabeth French{% endblock %}
{% block solution %}GERI HALLIWELL{% endblock %}


{% block solution_head_block %}
<style>
.puzzle-content img {
  width: 100%;
}
</style>
{% endblock %}

{% block solution_content_block %}
<p>Each snippet is from a popular song or famous piece of classical music, transposed to the key of C major or A minor, and subjected to a note-to-note substitution cipher.</p>

<table class="solution-table">
  <tr>
    <th>Plain note</th><th>Cipher note</th>
  </tr>
  <tr><td>C&rsquo;</td><td>F&rsquo;&rsquo;</td></tr>
  <tr><td>D&rsquo;</td><td>C&rsquo;&rsquo;</td></tr>
  <tr><td>E&rsquo;</td><td>C&rsquo;&rsquo;&rsquo;</td></tr>
  <tr><td>F&rsquo;</td><td>G&rsquo;&rsquo;</td></tr>
  <tr><td>G&rsquo;</td><td>A&rsquo;</td></tr>
  <tr><td>A&rsquo;</td><td>D&rsquo;&rsquo;</td></tr>
  <tr><td>B&rsquo;</td><td>B&rsquo;</td></tr>
  <tr><td>C&rsquo;&rsquo;</td><td>D&rsquo;</td></tr>
  <tr><td>D&rsquo;&rsquo;</td><td>B&rsquo;&rsquo;</td></tr>
  <tr><td>E&rsquo;&rsquo;</td><td>C&rsquo;</td></tr>
  <tr><td>F&rsquo;&rsquo;</td><td>A&rsquo;&rsquo;</td></tr>
  <tr><td>G&rsquo;&rsquo;</td><td>E&rsquo;&rsquo;</td></tr>
  <tr><td>A&rsquo;&rsquo;</td><td>F&rsquo;</td></tr>
  <tr><td>B&rsquo;&rsquo;</td><td>G&rsquo;</td></tr>
  <tr><td>C&rsquo;&rsquo;&rsquo;</td><td>E&rsquo;</td></tr>
</table>

<p>In addition, each song has an extra note. The songs are presented in alphabetical order by title. Decrypt the songs and order the songs by the location of the extra notes:</p>

<table class="solution-table">
  <tr>
    <th>
      Note Index
    </th>
    <th>
      Song
    </th>
    <th>
      Artist
    </th>
  </tr>
  <tr>
    <td>1</td>
    <td>&ldquo;Ritt der Walküren&rdquo;</td>
    <td>Richard Wagner</td>
  </tr>
  <tr>
    <td>2</td>
    <td>&ldquo;Eye of the Tiger&rdquo;</td>
    <td>Survivor</td>
  </tr>
  <tr>
    <td>3</td>
    <td>&ldquo;Don’t Stop Believin’&rdquo;</td>
    <td>Journey</td>
  </tr>
  <tr>
    <td>4</td>
    <td>&ldquo;Hey Jude&rdquo;</td>
    <td>The Beatles</td>
  </tr>
  <tr>
    <td>5</td>
    <td>&ldquo;Eine Kleine Nachtmusik&rdquo;</td>
    <td>Mozart</td>
  </tr>
  <tr>
    <td>6</td>
    <td>&ldquo;Alouette&rdquo;</td>
    <td>Traditional</td>
  </tr>
  <tr>
    <td>7</td>
    <td>&ldquo;Don’t Stop Me Now&rdquo;</td>
    <td>Queen</td>
  </tr>
  <tr>
    <td>8</td>
    <td>&ldquo;Escape&rdquo;</td>
    <td>Rupert Holmes</td>
  </tr>
  <tr>
    <td>9</td>
    <td>&ldquo;Don’t Worry, Be Happy&rdquo;</td>
    <td>Bobby McFerrin</td>
  </tr>
  <tr>
    <td>10</td>
    <td>&ldquo;O Susanna&rdquo;</td>
    <td>Stephen Foster</td>
  </tr>
  <tr>
    <td>11</td>
    <td>&ldquo;Never Gonna Give You Up&rdquo;</td>
    <td>Rick Astley</td>
  </tr>
  <tr>
    <td>12</td>
    <td>&ldquo;Every Breath You Take&rdquo;</td>
    <td>The Police</td>
  </tr>
  <tr>
    <td>13</td>
    <td>&ldquo;New Slang&rdquo;</td>
    <td>The Shins</td>
  </tr>
  <tr>
    <td>14</td>
    <td>&ldquo;Edelweiss&rdquo;</td>
    <td>Rodgers and Hammerstein</td>
  </tr>
  <tr>
    <td>15</td>
    <td>&ldquo;Everybody Wants To Rule The World&rdquo;</td>
    <td>Tears for Fears</td>
  </tr>
</table>

<p>Acrostically, the titles give the clue <code>RED-HEADED ONE NEE</code>. If you play the extra notes in order, they play the refrain from &ldquo;Wannabe&rdquo; by the Spice Girls. Using the clue, Ginger Spice’s maiden name is <strong><code>GERI HALLIWELL</code></strong>. The decrypted songs can be seen here:</p>

<img {{ img_src_for('solutions/musical_chairs/01.jpg') }}>
<img {{ img_src_for('solutions/musical_chairs/02.jpg') }}>
{% endblock %}
