{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Grant Elliott{% endblock %}
{% block solution %}INTERFACE{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content .image {
    background-color: black;
    width: 100%;
  }

  .puzzle-content img {
    display: block;
    margin: auto;
    height: 100%;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>The answers to the puzzles for this face are as follows (given here in alphabetical order):</p>

<ul>
  <li><code>BLACK OPERATION</code></li>
  <li><code>ETRUSCAN GOD</code></li>
  <li><code>IMPROVISED RAFT</code></li>
  <li><code>INITIAL THREAT</code></li>
</ul>

<p>Each individual word from each answer can be slotted into the grid. The lengths are unique, so this is unambiguous.</p>

<p>The letters representing orientations of Stargates are as follows:</p>

<div class="image"><img {{ img_src_for('solutions/naquadah_generator/01.svg') }} ></div>

<p>Record the tiles the white ship passes over in between gates to spell <strong><code>INTERFACE</code></strong>.</p>

<div class="image"><img {{ img_src_for('solutions/naquadah_generator/02.svg') }} ></div>
{% endblock %}
