{% extends "solutions/solution_layout.html" %}
{% import "/puzzle_macros.html" as puzzle_macros %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Jesse Moeller{% endblock %}
{% block solution %}CHECKPOINT{% endblock %}


{% block solution_head_block %}
<link rel="stylesheet" type="text/css" href="{{ asset_url_for('styles/crossword.css') }}">
<style>
  .puzzle-content .crossword td {
    text-align: center;
  }

  .puzzle-content td.highlighted {
    background-color: yellow;
  }

  .puzzle-content .list {
    margin-bottom: 20px;
  }

  @media print {
    .puzzle-content {
      -webkit-print-color-adjust: exact;
      color-adjust: exact!important;
    }
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>This puzzle is a diagramless crossword, where all clues are presented in a single, undifferentiated list, with only a set of 10 context-free grammars mapping clues to grid entries. Solvers need to solve the clues and determine the mappings between clues and grid entries via the grammars.</p>

<p>Additionally, the grammars provide information to help fill out the grid. E.g. grammar S6 can be used to determine that the seven clues matching it are all 4 letter words starting with B, M, O, R, or T, helping to fill the grid even if the matching crossword clues have not been solved yet.</p>
<p>Once the grid has been solved, the final extraction is performed by finding locations where the clues matching a given grammar intersect themselves (one per grammar) and reading them out in S1&ndash;S10 order (which is also grid order). This gives the answer <strong><code>CHECKPOINT</code></strong>.</p>

<p>Filled grid with extracted letters highlighted:</p>

<table class="crossword">
  <tr>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td>
      S
    </td>
    <td>
      T
    </td>
    <td>
      R
    </td>
    <td>
      E
    </td>
    <td>
      G
    </td>
    <td>
      A
    </td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
  </tr>
  <tr>
    <td>
      T
    </td>
    <td>
      M
    </td>
    <td class="highlighted">
      C
    </td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td>
      T
    </td>
    <td class="highlighted">
      H
    </td>
    <td>
      E
    </td>
    <td>
      M
    </td>
    <td>
      E
    </td>
    <td>
      S
    </td>
    <td class="filled"></td>
    <td>
      A
    </td>
    <td>
      R
    </td>
    <td>
      M
    </td>
  </tr>
  <tr>
    <td>
      O
    </td>
    <td>
      A
    </td>
    <td>
      R
    </td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td>
      E
    </td>
    <td>
      E
    </td>
    <td>
      V
    </td>
    <td>
      E
    </td>
    <td>
      E
    </td>
    <td>
      S
    </td>
    <td class="filled"></td>
    <td>
      L
    </td>
    <td>
      E
    </td>
    <td>
      A
    </td>
  </tr>
  <tr>
    <td>
      S
    </td>
    <td>
      L
    </td>
    <td>
      A
    </td>
    <td>
      T
    </td>
    <td class="filled"></td>
    <td>
      P
    </td>
    <td>
      O
    </td>
    <td>
      E
    </td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td>
      L
    </td>
    <td>
      O
    </td>
    <td>
      B
    </td>
    <td>
      S
    </td>
  </tr>
  <tr>
    <td>
      H
    </td>
    <td>
      I
    </td>
    <td>
      G
    </td>
    <td>
      H
    </td>
    <td>
      V
    </td>
    <td>
      O
    </td>
    <td>
      C
    </td>
    <td>
      A
    </td>
    <td>
      B
    </td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td>
      P
    </td>
    <td class="highlighted">
      E
    </td>
    <td>
      S
    </td>
    <td>
      T
    </td>
  </tr>
  <tr>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td>
      R
    </td>
    <td>
      E
    </td>
    <td>
      N
    </td>
    <td class="filled"></td>
    <td>
      L
    </td>
    <td>
      O
    </td>
    <td>
      A
    </td>
    <td>
      M
    </td>
    <td>
      S
    </td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
  </tr>
  <tr>
    <td>
      E
    </td>
    <td>
      D
    </td>
    <td>
      S
    </td>
    <td>
      E
    </td>
    <td>
      L
    </td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td>
      S
    </td>
    <td>
      O
    </td>
    <td class="highlighted">
      C
    </td>
    <td>
      O
    </td>
    <td class="filled"></td>
    <td>
      T
    </td>
    <td>
      I
    </td>
    <td>
      P
    </td>
  </tr>
  <tr>
    <td>
      L
    </td>
    <td>
      I
    </td>
    <td class="highlighted">
      K
    </td>
    <td>
      E
    </td>
    <td>
      C
    </td>
    <td>
      R
    </td>
    <td>
      O
    </td>
    <td>
      S
    </td>
    <td>
      S
    </td>
    <td>
      E
    </td>
    <td>
      S
    </td>
    <td>
      L
    </td>
    <td>
      I
    </td>
    <td>
      K
    </td>
    <td>
      E
    </td>
  </tr>
  <tr>
    <td>
      M
    </td>
    <td>
      A
    </td>
    <td>
      Y
    </td>
    <td class="filled"></td>
    <td>
      R
    </td>
    <td>
      E
    </td>
    <td class="highlighted">
      P
    </td>
    <td>
      O
    </td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td>
      C
    </td>
    <td class="highlighted">
      O
    </td>
    <td>
      M
    </td>
    <td>
      E
    </td>
    <td>
      T
    </td>
  </tr>
  <tr>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td>
      M
    </td>
    <td>
      O
    </td>
    <td>
      D
    </td>
    <td>
      A
    </td>
    <td>
      L
    </td>
    <td class="filled"></td>
    <td>
      S
    </td>
    <td>
      O
    </td>
    <td>
      Y
    </td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
  </tr>
  <tr>
    <td class="highlighted">
      I
    </td>
    <td>
      O
    </td>
    <td>
      T
    </td>
    <td>
      A
    </td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td>
      L
    </td>
    <td>
      U
    </td>
    <td>
      F
    </td>
    <td>
      T
    </td>
    <td>
      W
    </td>
    <td>
      A
    </td>
    <td>
      F
    </td>
    <td>
      F
    </td>
    <td>
      E
    </td>
  </tr>
  <tr>
    <td>
      K
    </td>
    <td>
      N
    </td>
    <td>
      E
    </td>
    <td>
      X
    </td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td>
      T
    </td>
    <td>
      O
    </td>
    <td>
      R
    </td>
    <td class="filled"></td>
    <td>
      L
    </td>
    <td>
      O
    </td>
    <td>
      O
    </td>
    <td>
      M
    </td>
  </tr>
  <tr>
    <td>
      E
    </td>
    <td>
      A
    </td>
    <td>
      R
    </td>
    <td class="filled"></td>
    <td>
      R
    </td>
    <td>
      E
    </td>
    <td>
      H
    </td>
    <td>
      I
    </td>
    <td>
      R
    </td>
    <td>
      E
    </td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="highlighted">
      N
    </td>
    <td>
      A
    </td>
    <td>
      M
    </td>
  </tr>
  <tr>
    <td>
      A
    </td>
    <td>
      N
    </td>
    <td>
      N
    </td>
    <td class="filled"></td>
    <td>
      S
    </td>
    <td>
      A
    </td>
    <td>
      B
    </td>
    <td>
      O
    </td>
    <td class="highlighted">
      T
    </td>
    <td>
      S
    </td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td>
      E
    </td>
    <td>
      L
    </td>
    <td>
      Y
    </td>
  </tr>
  <tr>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td>
      S
    </td>
    <td>
      T
    </td>
    <td>
      O
    </td>
    <td>
      N
    </td>
    <td>
      E
    </td>
    <td>
      S
    </td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
    <td class="filled"></td>
  </tr>
</table>

<p>Crossword clue and grammar pairings:</p>
<div class="list">
  <div><i>S</i><sub>1</sub></div>
  <div>A donkey&mdash;<code>ASS</code></div>
  <div>Advice-giver Landers&mdash;<code>ANN</code></div>
  <div>Director Burton&mdash;<code>TIM</code></div>
  <div>Home chnl. of &ldquo;Splatterday on Saturday&rdquo;&mdash;<code>TMC</code></div>
  <div>Linguistic suffix&mdash;<code>EME</code></div>
  <div>Rocky cliff face&mdash;<code>CRAG</code></div>
  <div>Word preceding willikers&mdash;<code>GEE</code></div>
</div>
<div class="list">
  <div><i>S</i><sub>2</sub></div>
  <div>DJs can spin them&mdash;<code>LPS</code></div>
  <div>It contains hooks and loops&mdash;<code>VELCRO</code></div>
  <div>Mel’s Mad motorer&mdash;<code>MAX</code></div>
  <div>Month named for a goddess of growth&mdash;<code>MAY</code></div>
  <div>Motifs&mdash;<code>THEMES</code></div>
  <div>Number of Magi&mdash;<code>THREE</code></div>
  <div>Teen drama that popularized Chrismukkah (2 words)&mdash;<code>THEOC</code></div>
</div>
<div class="list">
  <div><i>S</i><sub>3</sub></div>
  <div>A young horse&mdash;<code>FOAL</code></div>
  <div>An annoying thing&mdash;<code>PEST</code></div>
  <div>Co. that created <i>Game of Thrones</i>&mdash;<code>HBO</code></div>
  <div>Construction toy&mdash;<code>KNEX</code></div>
  <div>Soothing plant&mdash;<code>ALOE</code></div>
  <div>Stroke affectionately&mdash;<code>PET</code></div>
  <div>Television award&mdash;<code>EMMY</code></div>
  <div>Author of <i>The Raven</i>&mdash;<code>POE</code></div>
</div>
<div class="list">
  <div><i>S</i><sub>4</sub></div>
  <div>A day in Madrid&mdash;<code>DIA</code></div>
  <div>A tool used when rowing&mdash;<code>OAR</code></div>
  <div>Anonymizing network software&mdash;<code>TOR</code></div>
  <div>Ingred. in a Scarlett O’Hara&mdash;<code>SOCO</code></div>
  <div>Manfred von Richthofen, for one&mdash;<code>ACE</code></div>
  <div>Supply with weapons&mdash;<code>ARM</code></div>
  <div>The very end of something&mdash;<code>TIP</code></div>
</div>
<div class="list">
  <div><i>S</i><sub>5</sub></div>
  <div>Add to the payroll again&mdash;<code>REHIRE</code></div>
  <div>Air force of Nazi Germany&mdash;<code>LUFTWAFFE</code></div>
  <div>Common vegan protein source&mdash;<code>SOY</code></div>
  <div>It’s over your head&mdash;<code>SKY</code></div>
  <div>Jagger and bandmates, shortly&mdash;<code>STONES</code></div>
  <div>Part 1 of a helpful hint (3 words)&mdash;<code>LIKECROSSESLIKE</code></div>
  <div>Pok&eacute;mon that evolve into 8 different types&mdash;<code>EEVEES</code></div>
</div>
<div class="list">
  <div><i>S</i><sub>6</sub></div>
  <div>Comedian Daniel&mdash;<code>TOSH</code></div>
  <div>Empire of Mansa Musa Keita&mdash;<code>MALI</code></div>
  <div>Jeers&mdash;<code>BOOS</code></div>
  <div>Man smote for wasting seed&mdash;<code>ONAN</code></div>
  <div>October’s stone&mdash;<code>OPAL</code></div>
  <div>Pole found on a ship&mdash;<code>MAST</code></div>
  <div>Seabird related to skimmers&mdash;<code>TERN</code></div>
  <div>This kind of man takes your car away&mdash;<code>REPO</code></div>
  <div>Yanks’ counterparts&mdash;<code>REBS</code></div>
</div>
<div class="list">
  <div><i>S</i><sub>7</sub></div>
  <div>Denoting the mood of a verb&mdash;<code>MODAL</code></div>
  <div>Consume food&mdash;<code>EAT</code></div>
  <div>Grassy meadow&mdash;<code>LEA</code></div>
  <div>Halley’s is one&mdash;<code>COMET</code></div>
  <div>Partner to nose and throat&mdash;<code>EAR</code></div>
  <div>Tosses gently&mdash;<code>LOBS</code></div>
  <div>True blue&mdash;<code>LOYAL</code></div>
  <div>What someone can do to your toes (2 words)&mdash;<code>STEPON</code></div>
</div>
<div class="list">
  <div><i>S</i><sub>8</sub></div>
  <div>A minuscule amount&mdash;<code>IOTA</code></div>
  <div>Eisenhower, for short&mdash;<code>IKE</code></div>
  <div>It could contain a rapier or a flying shuttle&mdash;<code>LOOM</code></div>
  <div>Kingsmen member Jack&mdash;<code>ELY</code></div>
  <div>Nightmarish street&mdash;<code>ELM</code></div>
  <div>Soils containing both clay and sand&mdash;<code>LOAMS</code></div>
  <div>Where you might find a Sparsam or Domb&aring;s&mdash;<code>IKEA</code></div>
</div>
<div class="list">
  <div><i>S</i><sub>9</sub></div>
  <div>Color associated with anger&mdash;<code>RED</code></div>
  <div>Grand Prix gov. body (2 words)&mdash;<code>FONE</code></div>
  <div>Part 2 of a helpful hint (2 words)&mdash;<code>REVEALSSOLUTION</code></div>
  <div>Stimpy’s pal&mdash;<code>REN</code></div>
  <div>What you do to the first syllable of syllable, for example&mdash;<code>STRESS</code></div>
  <div>Where McCain served, briefly&mdash;<code>NAM</code></div>
  <div>XML extension used by news feeds&mdash;<code>RSS</code></div>
</div>
<div class="list">
  <div><i>S</i><sub>10</sub></div>
  <div>A logophile prob. has this (2 words)&mdash;<code>HIGHVOCAB</code></div>
  <div>Herbal liqueur colored with saffron&mdash;<code>STREGA</code></div>
  <div>Clogs formed from wood&mdash;<code>SABOTS</code></div>
  <div>Famous flop&mdash;<code>EDSEL</code></div>
  <div>Jet Matt that used to be a Bear&mdash;<code>FORTE</code></div>
  <div>Russian capital&mdash;<code>MOSCOW</code></div>
  <div>Thin strip of wood, as in a crib&mdash;<code>SLAT</code></div>
</div>
{% endblock %}
