{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Wes Carroll{% endblock %}
{% block solution %}VISION{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content td, .puzzle-content th {
    padding: 0 1em;
  }

  .puzzle-content table pre {
    margin: 0;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>This is an excerpt of the song &ldquo;Nobody Likes Sad
  Songs&rdquo;, which was performed and originally made famous by the (blind) musician Ronnie Milsap.</p>

<p>At the end of each phrase, there is a two-note (beatboxed) drum
  fill, consisting of some combination of hi-hat, woodblock, and kick,
  which have high-pitch, medium-pitch, and low-pitch timbres,
  respectively.</p>

<p>Transcribing the series of drums yields the following (with
  &ldquo;X&rdquo; indicating occurrences of the drum):</p>

<p>
  <table>
    <tr>
      <th>Hi-hat</th>
      <td><pre>X   X    X   X  X   XX  XX   X</pre></td>
    </tr>
    <tr>
      <th>Block</th>
      <td><pre>X    X  XX  XX       X   X  X </pre></td>
    </tr>
    <tr>
      <th>Kick</th>
      <td><pre>        X   X       X   XX  X </pre></td>
    </tr>
  </table>
</p>

<p>
  <table>
    <tr>
      <th>Hi-hat</th>
      <td><pre>X   X   X   XX  XX  X   X </pre></td>
    </tr>
    <tr>
      <th>Block</th>
      <td><pre>    X    X   X  XX   X  XX</pre></td>
    </tr>
    <tr>
      <th>Kick</th>
      <td><pre>    XX      X           X </pre></td>
    </tr>
  </table>
</p>

<p>Interpreting the occurrence or absence of drums as encoding Braille
  gives the cluephrase <code>BETTANYS AVENGER</code>. This is a
  reference to <a href="https://en.wikipedia.org/wiki/Paul_Bettany">Paul
  Bettany</a>, who since 2015 has played <strong><code>VISION</code></strong>.</p>

{% endblock %}
