{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Grant Elliott{% endblock %}
{% block solution %}MERIDIAN{% endblock %}

{% block solution_head_block %}
  <style>
    .puzzle-content .grid-table {
      border: 3px black solid;
      border-collapse: collapse;
      background-color: white;
    }

    .puzzle-content .grid-table td {
      border: 1px black solid;
      height: 1.5em;
      text-align: center;
      vertical-align: middle;
    }

    .puzzle-content .grid-table td:not([collspan]) {
      width: 1.5em;
    }

    .puzzle-content .grid-table td.edge {
      border-left: 3px black solid;
    }

    .puzzle-content .grid-table td.force {
      font-weight: bold;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <p>After solving the puzzles on the same side of the Borg Cube as
    the Novaldex 04-Z Cryogenic Power Generator, solvers are presented
    with the following answers (in alphabetical order):</p>

  <ul>
    <li><code>ANATOMICAL DEMONSTRATIONS</code></li>
    <li><code>COLOR MICROGRAPHY</code></li>
    <li><code>ETRUSCAN GOD</code></li>
    <li><code>INLAID EMBLEM</code></li>
    <li><code>VIRTUALIZED ENVIRONMENT</code></li>
  </ul>

  <p>Solvers additionally have a series of crossword clues. The
    answers of these clues are alphabetical in the given order:</p>

  <table class="solution-table condensed-table">
    <thead>
      <tr>
        <th>Clue</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tr>
      <td>Over</td>
      <td><code>ABOVE</code></td>
    </tr>
    <tr>
      <td>Klaxon</td>
      <td><code>ALARM</code></td>
    </tr>
    <tr>
      <td>Some robots</td>
      <td><code>ANDROIDS</code></td>
    </tr>
    <tr>
      <td>Wake</td>
      <td><code>ARISE</code></td>
    </tr>
    <tr>
      <td>Some ranged weapons</td>
      <td><code>BLASTERS</code></td>
    </tr>
    <tr>
      <td>Move slightly</td>
      <td><code>BUDGE</code></td>
    </tr>
    <tr>
      <td>Bend</td>
      <td><code>CURVE</code></td>
    </tr>
    <tr>
      <td>First role</td>
      <td><code>DEBUT</code></td>
    </tr>
    <tr>
      <td>Half of a rock band</td>
      <td><code>DURAN</code></td>
    </tr>
    <tr>
      <td>Norse fire-stoker</td>
      <td><code>ELDIR</code></td>
    </tr>
    <tr>
      <td>Printer brand</td>
      <td><code>EPSON</code></td>
    </tr>
    <tr>
      <td>Even</td>
      <td><code>EQUAL</code></td>
    </tr>
    <tr>
      <td>Smaller map</td>
      <td><code>INSET</code></td>
    </tr>
    <tr>
      <td>Sill</td>
      <td><code>LEDGE</code></td>
    </tr>
    <tr>
      <td>Type of hadron</td>
      <td><code>MESON</code></td>
    </tr>
    <tr>
      <td>Bottom</td>
      <td><code>NADIR</code></td>
    </tr>
    <tr>
      <td>Random signal</td>
      <td><code>NOISE</code></td>
    </tr>
    <tr>
      <td>Beginning</td>
      <td><code>ONSET</code></td>
    </tr>
    <tr>
      <td>A birthstone</td>
      <td><code>PEARL</code></td>
    </tr>
    <tr>
      <td>Prepared</td>
      <td><code>READY</code></td>
    </tr>
    <tr>
      <td>Controvert</td>
      <td><code>REBUT</code></td>
    </tr>
    <tr>
      <td>Like some beaches</td>
      <td><code>SANDY</code></td>
    </tr>
    <tr>
      <td>A wrap</td>
      <td><code>SARAN</code></td>
    </tr>
    <tr>
      <td>Astronauts</td>
      <td><code>SPACEMEN</code></td>
    </tr>
    <tr>
      <td>Group of bees</td>
      <td><code>SWARM</code></td>
    </tr>
    <tr>
      <td>Spiral</td>
      <td><code>SWIRL</code></td>
    </tr>
    <tr>
      <td>Test</td>
      <td><code>TRIAL</code></td>
    </tr>
  </table>

  <p>The provided targeting computer screen forms a bullseye crossword, and
    the crossword answers can be filled either along the “depth” axis
    or along the row closest to the front of the image. Flattened out,
    the completed grid appears as follows:</p>

  <table class="grid-table">
    <tr>
      <td colspan="2">L</td>
      <td colspan="2">E</td>
      <td colspan="2">N</td>
      <td colspan="2">R</td>
      <td class="edge "colspan="2">E</td>
      <td colspan="4">T</td>
      <td colspan="2">N</td>
      <td class="edge" colspan="2">E</td>
      <td colspan="2">M</td>
      <td colspan="2">L</td>
      <td colspan="2">Y</td>
    </tr>
    <tr>
      <td colspan="2">R</td>
      <td colspan="2">V</td>
      <td colspan="2">O</td>
      <td colspan="2">I</td>
      <td class="edge "colspan="2">S</td>
      <td colspan="2">U</td>
      <td colspan="2">E</td>
      <td colspan="2">A</td>
      <td class="edge" colspan="2">G</td>
      <td colspan="2">R</td>
      <td colspan="2">A</td>
      <td colspan="2">D</td>
    </tr>
    <tr>
      <td>I</td>
      <td>A</td>
      <td>O</td>
      <td>R</td>
      <td colspan="2">S</td>
      <td colspan="2">D</td>
      <td class="edge" colspan="2">I</td>
      <td colspan="2">B</td>
      <td colspan="2">S</td>
      <td colspan="2">R</td>
      <td class="edge" colspan="2">D</td>
      <td colspan="2">A</td>
      <td>I</td>
      <td>U</td>
      <td>A</td>
      <td>N</td>
    </tr>
    <tr>
      <td>W</td>
      <td>E</td>
      <td>B</td>
      <td>U</td>
      <td>P</td>
      <td>E</td>
      <td>L</td>
      <td>A</td>
      <td class="edge">R</td>
      <td>O</td>
      <td colspan="2">E</td>
      <td colspan="2">N</td>
      <td>U</td>
      <td>A</td>
      <td class="edge">U</td>
      <td>E</td>
      <td>L</td>
      <td>W</td>
      <td>R</td>
      <td>Q</td>
      <td>E</td>
      <td>A</td>
    </tr>
    <tr>
      <td>S</td>
      <td>P</td>
      <td>A</td>
      <td>C</td>
      <td>E</td>
      <td>M</td>
      <td>E</td>
      <td>N</td>
      <td class="edge">A</td>
      <td>N</td>
      <td>D</td>
      <td>R</td>
      <td>O</td>
      <td>I</td>
      <td>D</td>
      <td>S</td>
      <td class="edge">B</td>
      <td>L</td>
      <td>A</td>
      <td>S</td>
      <td>T</td>
      <td>E</td>
      <td>R</td>
      <td>S</td>
    </tr>
  </table>

  <p>The answers from the round also each fit into a unique row on the
    grid, based on length:</p>

  <table class="grid-table">
    <tr>
      <td colspan="2">E</td>
      <td colspan="2">T</td>
      <td colspan="2">R</td>
      <td colspan="2">U</td>
      <td class="edge "colspan="2">S</td>
      <td colspan="4">C</td>
      <td colspan="2">A</td>
      <td class="edge" colspan="2">N</td>
      <td colspan="2">G</td>
      <td colspan="2">O</td>
      <td colspan="2">D</td>
    </tr>
    <tr>
      <td colspan="2">I</td>
      <td colspan="2">N</td>
      <td colspan="2">L</td>
      <td colspan="2">A</td>
      <td class="edge "colspan="2">I</td>
      <td colspan="2">D</td>
      <td colspan="2">E</td>
      <td colspan="2">M</td>
      <td class="edge" colspan="2">B</td>
      <td colspan="2">L</td>
      <td colspan="2">E</td>
      <td colspan="2">M</td>
    </tr>
    <tr>
      <td>C</td>
      <td>O</td>
      <td>L</td>
      <td>O</td>
      <td colspan="2">R</td>
      <td colspan="2">M</td>
      <td class="edge" colspan="2">I</td>
      <td colspan="2">C</td>
      <td colspan="2">R</td>
      <td colspan="2">O</td>
      <td class="edge" colspan="2">G</td>
      <td colspan="2">R</td>
      <td>A</td>
      <td>P</td>
      <td>H</td>
      <td>Y</td>
    </tr>
    <tr>
      <td>V</td>
      <td>I</td>
      <td>R</td>
      <td>T</td>
      <td>U</td>
      <td>A</td>
      <td>L</td>
      <td>I</td>
      <td class="edge">Z</td>
      <td>E</td>
      <td colspan="2">D</td>
      <td colspan="2">E</td>
      <td>N</td>
      <td>V</td>
      <td class="edge">I</td>
      <td>R</td>
      <td>O</td>
      <td>N</td>
      <td>M</td>
      <td>E</td>
      <td>N</td>
      <td>T</td>
    </tr>
    <tr>
      <td>A</td>
      <td>N</td>
      <td>A</td>
      <td>T</td>
      <td>O</td>
      <td>M</td>
      <td>I</td>
      <td>C</td>
      <td class="edge">A</td>
      <td>L</td>
      <td>D</td>
      <td>E</td>
      <td>M</td>
      <td>O</td>
      <td>N</td>
      <td>S</td>
      <td class="edge">T</td>
      <td>R</td>
      <td>A</td>
      <td>T</td>
      <td>I</td>
      <td>O</td>
      <td>N</td>
      <td>S</td>
    </tr>
  </table>

  <p>Each pair of adjacent answers in the grid is connected by the
    string MA (as the Force binds the galaxy together):</p>

  <table class="grid-table">
    <tr>
      <td colspan="2">E</td>
      <td colspan="2">T</td>
      <td colspan="2">R</td>
      <td colspan="2">U</td>
      <td class="edge "colspan="2">S</td>
      <td colspan="4">C</td>
      <td class="force" colspan="2">A</td>
      <td class="edge" colspan="2">N</td>
      <td colspan="2">G</td>
      <td colspan="2">O</td>
      <td colspan="2">D</td>
    </tr>
    <tr>
      <td colspan="2">I</td>
      <td colspan="2">N</td>
      <td colspan="2">L</td>
      <td class="force" colspan="2">A</td>
      <td class="edge "colspan="2">I</td>
      <td colspan="2">D</td>
      <td colspan="2">E</td>
      <td class="force" colspan="2">M</td>
      <td class="edge" colspan="2">B</td>
      <td colspan="2">L</td>
      <td colspan="2">E</td>
      <td colspan="2">M</td>
    </tr>
    <tr>
      <td>C</td>
      <td>O</td>
      <td>L</td>
      <td>O</td>
      <td colspan="2">R</td>
      <td class="force" colspan="2">M</td>
      <td class="edge" colspan="2">I</td>
      <td colspan="2">C</td>
      <td colspan="2">R</td>
      <td colspan="2">O</td>
      <td class="edge" colspan="2">G</td>
      <td colspan="2">R</td>
      <td class="force">A</td>
      <td>P</td>
      <td>H</td>
      <td>Y</td>
    </tr>
    <tr>
      <td>V</td>
      <td>I</td>
      <td>R</td>
      <td>T</td>
      <td>U</td>
      <td class="force">A</td>
      <td>L</td>
      <td>I</td>
      <td class="edge">Z</td>
      <td>E</td>
      <td colspan="2">D</td>
      <td colspan="2">E</td>
      <td>N</td>
      <td>V</td>
      <td class="edge">I</td>
      <td>R</td>
      <td>O</td>
      <td>N</td>
      <td class="force">M</td>
      <td>E</td>
      <td>N</td>
      <td>T</td>
    </tr>
    <tr>
      <td>A</td>
      <td>N</td>
      <td>A</td>
      <td>T</td>
      <td>O</td>
      <td class="force">M</td>
      <td>I</td>
      <td>C</td>
      <td class="edge">A</td>
      <td>L</td>
      <td>D</td>
      <td>E</td>
      <td>M</td>
      <td>O</td>
      <td>N</td>
      <td>S</td>
      <td class="edge">T</td>
      <td>R</td>
      <td>A</td>
      <td>T</td>
      <td>I</td>
      <td>O</td>
      <td>N</td>
      <td>S</td>
    </tr>
  </table>

  <p>Solvers must find the letters in the same position on the
    bullseye crossword:</p>

  <table class="grid-table">
    <tr>
      <td colspan="2">L</td>
      <td colspan="2">E</td>
      <td colspan="2">N</td>
      <td colspan="2">R</td>
      <td class="edge "colspan="2">E</td>
      <td colspan="4">T</td>
      <td class="force" colspan="2">N</td>
      <td class="edge" colspan="2">E</td>
      <td colspan="2">M</td>
      <td colspan="2">L</td>
      <td colspan="2">Y</td>
    </tr>
    <tr>
      <td colspan="2">R</td>
      <td colspan="2">V</td>
      <td colspan="2">O</td>
      <td class="force" colspan="2">I</td>
      <td class="edge "colspan="2">S</td>
      <td colspan="2">U</td>
      <td colspan="2">E</td>
      <td class="force" colspan="2">A</td>
      <td class="edge" colspan="2">G</td>
      <td colspan="2">R</td>
      <td colspan="2">A</td>
      <td colspan="2">D</td>
    </tr>
    <tr>
      <td>I</td>
      <td>A</td>
      <td>O</td>
      <td>R</td>
      <td colspan="2">S</td>
      <td class="force" colspan="2">D</td>
      <td class="edge" colspan="2">I</td>
      <td colspan="2">B</td>
      <td colspan="2">S</td>
      <td colspan="2">R</td>
      <td class="edge" colspan="2">D</td>
      <td colspan="2">A</td>
      <td class="force">I</td>
      <td>U</td>
      <td>A</td>
      <td>N</td>
    </tr>
    <tr>
      <td>W</td>
      <td>E</td>
      <td>B</td>
      <td>U</td>
      <td>P</td>
      <td class="force">E</td>
      <td>L</td>
      <td>A</td>
      <td class="edge">R</td>
      <td>O</td>
      <td colspan="2">E</td>
      <td colspan="2">N</td>
      <td>U</td>
      <td>A</td>
      <td class="edge">U</td>
      <td>E</td>
      <td>L</td>
      <td>W</td>
      <td class="force">R</td>
      <td>Q</td>
      <td>E</td>
      <td>A</td>
    </tr>
    <tr>
      <td>S</td>
      <td>P</td>
      <td>A</td>
      <td>C</td>
      <td>E</td>
      <td class="force">M</td>
      <td>E</td>
      <td>N</td>
      <td class="edge">A</td>
      <td>N</td>
      <td>D</td>
      <td>R</td>
      <td>O</td>
      <td>I</td>
      <td>D</td>
      <td>S</td>
      <td class="edge">B</td>
      <td>L</td>
      <td>A</td>
      <td>S</td>
      <td>T</td>
      <td>E</td>
      <td>R</td>
      <td>S</td>
    </tr>
  </table>

  <p>Reading the pairs of letters in the direction of motion (from bottom to
    top in the above flattened grid) spells the answer,
    <strong><code>MERIDIAN</code></strong>.
{% endblock %}
