{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}
By Erin Price, Hubert Hwang, and James Douberley<br />
{% endblock %}
{% block solution %}BUSH{% endblock %}

{% block solution_content_block %}
<p>The solution was given to teams after they produced sufficiently convincing <i>Items of Achievement</i>.</p>

<p>We&rsquo;ll fill in some photos and explanations of our favorite <i>Items of Achievement</i> soon.</p>
{% endblock %}
