{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By John Toomey{% endblock %}
{% block solution %}STYLE{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content .letter {
    width: 1em;
    display: inline-block;
    text-align: center;
    font-family: monospace;
  }

  .puzzle-content .box {
    border: 1px solid black;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>First, solve each of the clues:</p>

<table class="solution-table condensed-table">
  <thead>
    <tr>
      <th>Clue</th>
      <th>Answer</th>
    </tr>
  </thead>
  <tr>
    <td>bobbin</td>
    <td class="clue-answer">
      <span class="letter">S</span>
      <span class="letter box">P</span>
      <span class="letter">O</span>
      <span class="letter">O</span>
      <span class="letter">L</span>
    </td>
  </tr>
  <tr>
    <td>book of future dates, hopefully</td>
    <td>
      <span class="letter">L</span>
      <span class="letter">I</span>
      <span class="letter">T</span>
      <span class="letter">T</span>
      <span class="letter box">L</span>
      <span class="letter">E</span>
      <span class="letter"> </span>
      <span class="letter">B</span>
      <span class="letter">L</span>
      <span class="letter">A</span>
      <span class="letter">C</span>
      <span class="letter">K</span>
    </td>
  </tr>
  <tr>
    <td>cereal grain Triticum</td>
    <td>
      <span class="letter">W</span>
      <span class="letter">H</span>
      <span class="letter">E</span>
      <span class="letter">A</span>
      <span class="letter box">T</span>
    </td>
  </tr>
  <tr>
    <td>cover for a plate</td>
    <td>
      <span class="letter">C</span>
      <span class="letter box">L</span>
      <span class="letter">O</span>
      <span class="letter">C</span>
      <span class="letter">H</span>
      <span class="letter">E</span>
    </td>
  </tr>
  <tr>
    <td>don&rsquo;t shoot him</td>
    <td>
      <span class="letter">M</span>
      <span class="letter">E</span>
      <span class="letter">S</span>
      <span class="letter">S</span>
      <span class="letter">E</span>
      <span class="letter">N</span>
      <span class="letter">G</span>
      <span class="letter">E</span>
      <span class="letter box">R</span>
    </td>
  </tr>
  <tr>
    <td>elongated loaf of French bread</td>
    <td>
      <span class="letter">B</span>
      <span class="letter box">A</span>
      <span class="letter">G</span>
      <span class="letter">U</span>
      <span class="letter">E</span>
      <span class="letter">T</span>
      <span class="letter">T</span>
      <span class="letter">E</span>
    </td>
  </tr>
  <tr>
    <td>feline progeny</td>
    <td>
      <span class="letter">K</span>
      <span class="letter">I</span>
      <span class="letter">T</span>
      <span class="letter">T</span>
      <span class="letter box">E</span>
      <span class="letter">N</span>
    </td>
  </tr>
  <tr>
    <td>frustrum-shaped chocolate</td>
    <td>
      <span class="letter box">R</span>
      <span class="letter">O</span>
      <span class="letter">L</span>
      <span class="letter">O</span>
    </td>
  </tr>
  <tr>
    <td>generally-accepted tenets of a political party</td>
    <td>
      <span class="letter">P</span>
      <span class="letter">L</span>
      <span class="letter">A</span>
      <span class="letter">T</span>
      <span class="letter">F</span>
      <span class="letter">O</span>
      <span class="letter box">R</span>
      <span class="letter">M</span>
    </td>
  </tr>
  <tr>
    <td>grip tightly</td>
    <td>
      <span class="letter">C</span>
      <span class="letter box">L</span>
      <span class="letter">U</span>
      <span class="letter">T</span>
      <span class="letter">C</span>
      <span class="letter">H</span>
    </td>
  </tr>
  <tr>
    <td>kiss or cut preceder</td>
    <td>
      <span class="letter">F</span>
      <span class="letter box">R</span>
      <span class="letter">E</span>
      <span class="letter">N</span>
      <span class="letter">C</span>
      <span class="letter">H</span>
    </td>
  </tr>
  <tr>
    <td>Mead Keeper</td>
    <td>
      <span class="letter">T</span>
      <span class="letter">R</span>
      <span class="letter">A</span>
      <span class="letter">P</span>
      <span class="letter">P</span>
      <span class="letter box">E</span>
      <span class="letter">R</span>
    </td>
  </tr>
  <tr>
    <td>Pinocchio&rsquo;s pet cat</td>
    <td>
      <span class="letter">F</span>
      <span class="letter box">I</span>
      <span class="letter">G</span>
      <span class="letter">A</span>
      <span class="letter">R</span>
      <span class="letter">O</span>
    </td>
  </tr>
  <tr>
    <td>rigid flap to keep sun out of the driver&rsquo;s eyes</td>
    <td>
      <span class="letter box">V</span>
      <span class="letter">I</span>
      <span class="letter">S</span>
      <span class="letter">O</span>
      <span class="letter">R</span>
    </td>
  </tr>
  <tr>
    <td>scabbard</td>
    <td>
      <span class="letter">S</span>
      <span class="letter">H</span>
      <span class="letter">E</span>
      <span class="letter box">A</span>
      <span class="letter">T</span>
      <span class="letter">H</span>
    </td>
  </tr>
  <tr>
    <td>solid, liquid, or solidus</td>
    <td>
      <span class="letter">S</span>
      <span class="letter box">N</span>
      <span class="letter">A</span>
      <span class="letter">K</span>
      <span class="letter">E</span>
    </td>
  </tr>
  <tr>
    <td>Spider-Man&rsquo;s Watson</td>
    <td>
      <span class="letter">M</span>
      <span class="letter">A</span>
      <span class="letter">R</span>
      <span class="letter box">Y</span>
      <span class="letter"> </span>
      <span class="letter">J</span>
      <span class="letter">A</span>
      <span class="letter">N</span>
      <span class="letter">E</span>
    </td>
  </tr>
  <tr>
    <td>stage in front of proscenium</td>
    <td>
      <span class="letter">A</span>
      <span class="letter">P</span>
      <span class="letter">R</span>
      <span class="letter">O</span>
      <span class="letter box">N</span>
    </td>
  </tr>
  <tr>
    <td>Stallone&rsquo;s Vietnam POW</td>
    <td>
      <span class="letter">R</span>
      <span class="letter box">A</span>
      <span class="letter">M</span>
      <span class="letter">B</span>
      <span class="letter">O</span>
    </td>
  </tr>
  <tr>
    <td>the attack, decay, sustain, and release of sound</td>
    <td>
      <span class="letter">E</span>
      <span class="letter">N</span>
      <span class="letter">V</span>
      <span class="letter">E</span>
      <span class="letter">L</span>
      <span class="letter">O</span>
      <span class="letter box">P</span>
      <span class="letter">E</span>
    </td>
  </tr>
  <tr>
    <td>train transient</td>
    <td>
      <span class="letter box">H</span>
      <span class="letter">O</span>
      <span class="letter">B</span>
      <span class="letter">O</span>
    </td>
  </tr>
  <tr>
    <td>WWII-era fortified concrete military emplacement</td>
    <td>
      <span class="letter">P</span>
      <span class="letter box">I</span>
      <span class="letter">L</span>
      <span class="letter">L</span>
      <span class="letter">B</span>
      <span class="letter">O</span>
      <span class="letter">X</span>
    </td>
  </tr>
</table>

<p>Each answer describes an article of clothing or jewelry. Here are
  the groups, in the order they appear:</p>

<p>
  <strong>Heels</strong>

  <ul>
    <li>
      <span class="letter">S</span>
      <span class="letter box">P</span>
      <span class="letter">O</span>
      <span class="letter">O</span>
      <span class="letter">L</span>
    </li>
    <li>
      <span class="letter">K</span>
      <span class="letter">I</span>
      <span class="letter">T</span>
      <span class="letter">T</span>
      <span class="letter box">E</span>
      <span class="letter">N</span>
    </li>
    <li>
      <span class="letter">P</span>
      <span class="letter">L</span>
      <span class="letter">A</span>
      <span class="letter">T</span>
      <span class="letter">F</span>
      <span class="letter">O</span>
      <span class="letter box">R</span>
      <span class="letter">M</span>
    </li>
    <li>
      <span class="letter">F</span>
      <span class="letter box">R</span>
      <span class="letter">E</span>
      <span class="letter">N</span>
      <span class="letter">C</span>
      <span class="letter">H</span>
    </li>
    <li>
      <span class="letter">M</span>
      <span class="letter">A</span>
      <span class="letter">R</span>
      <span class="letter box">Y</span>
      <span class="letter"> </span>
      <span class="letter">J</span>
      <span class="letter">A</span>
      <span class="letter">N</span>
      <span class="letter">E</span>
    </li>
  </ul>
</p>

<p>
  <strong>Dresses</strong>

  <ul>
    <li>
      <span class="letter">L</span>
      <span class="letter">I</span>
      <span class="letter">T</span>
      <span class="letter">T</span>
      <span class="letter box">L</span>
      <span class="letter">E</span>
      <span class="letter"> </span>
      <span class="letter">B</span>
      <span class="letter">L</span>
      <span class="letter">A</span>
      <span class="letter">C</span>
      <span class="letter">K</span>
    </li>
    <li>
      <span class="letter">S</span>
      <span class="letter">H</span>
      <span class="letter">E</span>
      <span class="letter box">A</span>
      <span class="letter">T</span>
      <span class="letter">H</span>
    </li>
    <li>
      <span class="letter">A</span>
      <span class="letter">P</span>
      <span class="letter">R</span>
      <span class="letter">O</span>
      <span class="letter box">N</span>
    </li>
  </ul>
</p>

<p>
  <strong>Necklace chains</strong>

  <ul>
    <li>
      <span class="letter">W</span>
      <span class="letter">H</span>
      <span class="letter">E</span>
      <span class="letter">A</span>
      <span class="letter box">T</span>
    </li>
    <li>
      <span class="letter box">R</span>
      <span class="letter">O</span>
      <span class="letter">L</span>
      <span class="letter">O</span>
    </li>
    <li>
      <span class="letter">F</span>
      <span class="letter box">I</span>
      <span class="letter">G</span>
      <span class="letter">A</span>
      <span class="letter">R</span>
      <span class="letter">O</span>
    </li>
    <li>
      <span class="letter">S</span>
      <span class="letter box">N</span>
      <span class="letter">A</span>
      <span class="letter">K</span>
      <span class="letter">E</span>
    </li>
    <li>
      <span class="letter">R</span>
      <span class="letter box">A</span>
      <span class="letter">M</span>
      <span class="letter">B</span>
      <span class="letter">O</span>
    </li>
  </ul>
</p>

<p>
  <strong>Hats</strong>

  <ul>
    <li>
      <span class="letter">C</span>
      <span class="letter box">L</span>
      <span class="letter">O</span>
      <span class="letter">C</span>
      <span class="letter">H</span>
      <span class="letter">E</span>
    </li>
    <li>
      <span class="letter">T</span>
      <span class="letter">R</span>
      <span class="letter">A</span>
      <span class="letter">P</span>
      <span class="letter">P</span>
      <span class="letter box">E</span>
      <span class="letter">R</span>
    </li>
    <li>
      <span class="letter box">V</span>
      <span class="letter">I</span>
      <span class="letter">S</span>
      <span class="letter">O</span>
      <span class="letter">R</span>
    </li>
    <li>
      <span class="letter">P</span>
      <span class="letter box">I</span>
      <span class="letter">L</span>
      <span class="letter">L</span>
      <span class="letter">B</span>
      <span class="letter">O</span>
      <span class="letter">X</span>
    </li>
  </ul>
</p>

<p>
  <strong>Handbags</strong>

  <ul>
    <li>
      <span class="letter">M</span>
      <span class="letter">E</span>
      <span class="letter">S</span>
      <span class="letter">S</span>
      <span class="letter">E</span>
      <span class="letter">N</span>
      <span class="letter">G</span>
      <span class="letter">E</span>
      <span class="letter box">R</span>
    </li>
    <li>
      <span class="letter">B</span>
      <span class="letter box">A</span>
      <span class="letter">G</span>
      <span class="letter">U</span>
      <span class="letter">E</span>
      <span class="letter">T</span>
      <span class="letter">T</span>
      <span class="letter">E</span>
    </li>
    <li>
      <span class="letter">C</span>
      <span class="letter box">L</span>
      <span class="letter">U</span>
      <span class="letter">T</span>
      <span class="letter">C</span>
      <span class="letter">H</span>
    </li>
    <li>
      <span class="letter">E</span>
      <span class="letter">N</span>
      <span class="letter">V</span>
      <span class="letter">E</span>
      <span class="letter">L</span>
      <span class="letter">O</span>
      <span class="letter box">P</span>
      <span class="letter">E</span>
    </li>
    <li>
      <span class="letter box">H</span>
      <span class="letter">O</span>
      <span class="letter">B</span>
      <span class="letter">O</span>
    </li>      
  </ul>
</p>

<p>The articles of clothing can be sorted head-to-toe (as indicated
  by the flavortext), and the highlighted letters from each group
  spell the first name of a famous designer:</p>

<table class="solution-table condensed-table">
  <thead>
    <tr>
      <th>Article</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Hats</td>
      <td><code>LEVI</code></td>
      <td><code>STRAUSS</code></td>
    </tr>
    <tr>
      <td>Necklace chains</td>
      <td><code>TRINA</code></td>
      <td><code>TURK</code></td>
    </tr>
    <tr>
      <td>Dresses</td>
      <td><code>LAN</code></td>
      <td><code>YU</code></td>
    </tr>
    <tr>
      <td>Handbags</td>
      <td><code>RALPH</code></td>
      <td><code>LAUREN</code></td>
    </tr>
    <tr>
      <td>Heels</td>
      <td><code>PERRY</code></td>
      <td><code>ELLIS</code></td>
    </tr>
  </tbody>
</table>

<p>Reading the first letters of the last names in order yields the
  answer, <strong><code>STYLE</code></strong>.</p>
{% endblock %}
