{% extends "solutions/solution_layout.html" %}
{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}

{% block title_block %}{{ puzzle_title }}{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}{% endblock %}

{% block solution_content_block %}
<p>
  (This solution intentionally left blank.)
</p>
<p>
  Check <a href="{{ url_for('full_solution' if session.usertype == 'writingteam' else 'puzzle_solution', puzzle_id='your_rival') }}" target="_blank">here</a>.
</p>
{% endblock %}
