{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Kevin Hwang, Sid Creutz, and Rachel Bowens-Rubin{% endblock %}
{% block solution %}SUPERIORS{% endblock %}

{% block solution_head_block %}
{% endblock %}

{% block solution_content_block %}
<p>This puzzle is themed around a common joke about country music:
  &ldquo;What do you get when you play country music backwards? You
  get your dog back, your girl back, you stop drinking...&rdquo; (and
  variants thereof). Clues in the thematic elements found in certain
  of the stories (trucks, drinking, Tim McGraw), the flavor text
  (Grand Ole), and the title (although more obliquely) all should
  indicate some relation to country music.</p>

<p> The constructed narratives are country music songs whose plots
  have been inverted, with a sentence at the end of the form
  &ldquo;That&rsquo;s how I got my ____ back.&rdquo;</p>

<p>The first step involves identifying the songs described. In order
  to help in solving, the artist&rsquo;s first name is initialized and
  the number of spaces in the title fit the number of blanks. However,
  a critical element is that the song titles must be entered
  <u>appropriately</u> (e.g., backwards) in order to fit.</p>

<p>Here they are, in order they appear in the puzzle:</p>

<table class="solution-table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Singer</th>
      <th>Actual plot</th>
      <th>Got Back</th>
      <th class="wrap">Highlighted Letter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>&ldquo;Amarillo By Morning&rdquo;</td>
      <td>George Strait (most famously)</td>
      <td>G leaves San Antonio headed for Amarillo. Loses saddle,
        breaks leg in Santa Fe, loses wife, loses girlfriend, thinks
        about Amarillo a lot, will arrive in Amarillo by morning.</td>
      <td>Dog</td>
      <td><code>R</code></td>
    </tr>
    <tr>
      <td>&ldquo;Before He Cheats&rdquo;</td>
      <td>Carrie Underwood</td>
      <td>C&rsquo;s beau is out dancing and drinking with some other
        girl, so she goes to his truck and <b>messes it up</b> (keys
        the paint, slashes the upholstery, smashes the headlights,
        slashes the tires).</td>
      <td>Diamond Ring</td>
      <td><code>S</code></td>
    </tr>
    <tr>
      <td>&ldquo;Big Iron&rdquo;</td>
      <td>Marty Robbins</td>
      <td>Texas Red is a notorious outlaw who&rsquo;s killed 20
        people, Big Iron enters town and shoots Red in a duel.</td>
      <td>Hair</td>
      <td><code>R</code></td>
    </tr>
    <tr>
      <td>&ldquo;Dirt on My Boots&rdquo;</td>
      <td>Jon Pardi</td>
      <td>J has been driving a tractor since dawn, cleans up in half
        an hour, heads to girl&rsquo;s house, they go dancing and he
        dances off the dust, then he leaves boots on her porch when
        they head back to her place.</td>
      <td>House</td>
      <td><code>S</code></td>
    </tr>
    <tr>
      <td>&ldquo;How Do You Like Me Now&rdquo;</td>
      <td>Toby Keith</td>
      <td>When younger, T broke into football field and spray paints
        the girl&rsquo;s number and &ldquo;Call for a good time&rdquo;
        there, later he moves to Tennessee and she gets into a bad
        marriage.</td>
      <td>Best friend Jack</td>
      <td><code>O</code></td>
    </tr>
    <tr>
      <td>&ldquo;Hurricane&rdquo;</td>
      <td>Luke Combs</td>
      <td>L leaves house alone and heads to a bar, meets with friends
        there, wind picks up, ex visits the bar too. They drink and
        head back to her place, along the way moon and stars disappear
        and a thunderstorm picks up. He&rsquo;s been hit by a
        <strike>smooth criminal</strike> hurricane.</td>
      <td>Pretty little thing</td>
      <td><code>U</code></td>
    </tr>
    <tr>
      <td>&ldquo;Independence Day&rdquo;</td>
      <td>Martina McBride</td>
      <td>M&rsquo;s parents have an abusive relationship, her father
        drinks a lot. She goes to the July 4th parade, at which point
        her mother sets fire to the house with her father in it.</td>
      <td>Front porch swing</td>
      <td><code>P</code></td>
    </tr>
    <tr>
      <td>&ldquo;Papa Loved Mama&rdquo;</td>
      <td>Garth Brooks</td>
      <td>G&rsquo;s father is a long-haul trucker heading home with
        kitschy romantic stuff, finds wife cheating, drives his truck
        straight into a motel wall.</td>
      <td>Second wife</td>
      <td><code>E</code></td>
    </tr>
    <tr>
      <td>&ldquo;Tim McGraw&rdquo;</td>
      <td>Taylor Swift</td>
      <td>T and guy are in love throughout the summer during which
        they drive around a lot in his Chevy, then summer ends. She
        cries throughout September, then finds a box underneath her
        bed with a letter she never sent from three years previous, in
        which she asks him &ldquo;When you think of Tim McGraw I hope
        you think of me.&rdquo; A while later she&rsquo;s on his
        street and leaves the note on his doorstep</td>
      <td>Truck</td>
      <td><code>I</code></td>
    </tr>
  </tbody>
</table>

<p>The final, non-sequitur sentence in each passage is a reference the
  Rascal Flatts song, &ldquo;Backwards&rdquo;, which is about the same
  joke. As additional confirmation, the flavor text (&ldquo;sitting at
  the bar in a Tennessee barbecue place&rdquo;) is similar to a line
  from the song (&ldquo;In a barbecue joint in Tennessee&rdquo;), and
  the title of the puzzle (&ldquo;Scattered and Absurd&rdquo;) is
  taken directly from the song lyrics.</p>

<p>The chorus of &ldquo;Backwards&rdquo; lists all the things one gets
  back if you play a country song backwards (which are presented in
  the puzzle in alphabetical order, suggesting that another sort is
  needed):</p>

<blockquote>
  You get your house back<br/>
  You get your dog back<br/>
  You get your best friend Jack back<br/>
  You get your truck back<br/>
  You get your hair back<br/>
  You get your first and second wives back<br/>
  Your front porch swing<br/>
  Your pretty little thing<br/>
  Your bling bling bling and a diamond ring<br/>
</blockquote>

<p>Reordering the passages by the order of the objects as they&rsquo;re
  recovered in the song results in:</p>

<table class="solution-table condensed-table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Recovered</th>
      <th>Letter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>&ldquo;Dirt on My Boots&rdquo;</td>
      <td>House</td>
      <td><code>S</code></td>
    </tr>
    <tr>
      <td>&ldquo;Amarillo By Morning&rdquo;</td>
      <td>Dog</td>
      <td><code>R</code></td>
    </tr>
    <tr>
      <td>&ldquo;How Do You Like Me Now&rdquo;</td>
      <td>Best friend Jack</td>
      <td><code>O</code></td>
    </tr>
    <tr>
      <td>&ldquo;Tim McGraw&rdquo;</td>
      <td>Truck</td>
      <td><code>I</code></td>
    </tr>
    <tr>
      <td>&ldquo;Big Iron&rdquo;</td>
      <td>Hair</td>
      <td><code>R</code></td>
    </tr>
    <tr>
      <td>&ldquo;Papa Loved Mama&rdquo;</td>
      <td>Second wife</td>
      <td><code>E</code></td>
    </tr>
    <tr>
      <td>&ldquo;Independence Day&rdquo;</td>
      <td>Front porch swing</td>
      <td><code>P</code></td>
    </tr>
    <tr>
      <td>&ldquo;Hurricane&rdquo;</td>
      <td>Pretty little thing</td>
      <td><code>U</code></td>
    </tr>
    <tr>
      <td>&ldquo;Before He Cheats&rdquo;</td>
      <td>Diamond ring</td>
      <td><code>S</code></td>
    </tr>
  </tbody>
</table>

<p>But, of course, the answer has to be read backwards, yielding
  <strong><code>SUPERIORS</code></strong>.</p>

<p>Alternatively, in summary:</p>

<blockquote>
  &#9835; You read the songs backwards &#9835;<br/>
  &#9835; You place their names backwards &#9835;<br />
  &#9835; You take the list of things from Flatts&rsquo; &ldquo;Backwards&rdquo; &#9835;<br />
  &#9835; You read the list backwards &#9835;<br />
  &#9835; And pull a word (backwards) &#9835;<br />
  &#9835; And get your answer from that word, backwards &#9835;<br />
</blockquote>
{% endblock %}
