{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}
  By Grant Elliott<br>
  Artwork by Zachary Barryte
{% endblock %}
{% block solution %}EXOSKELETON{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content img {
    display: block;
    margin: auto;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>The answers to the scouting component puzzles that comprise this meta are as follows:</p>
<ul>
  <li><code>ALTERNATE</code></li>
  <li><code>CHECKPOINT</code></li>
  <li><code>ELSEWHERE</code></li>
  <li><code>EXTEND</code></li>
  <li><code>INTERNATIONAL</code></li>
  <li><code>PERSONNEL</code></li>
  <li><code>SKYSCRAPER</code></li>
  <li><code>TENDINOPATHIES</code></li>
</ul>

<p>How to play:</p>

<p>Start with your token on space 0. On each turn, choose a word. For each letter in the word, write the letter on the square your pawn occupies, then move your pawn forward one square. At the end of your turn, if your pawn is at the bottom of a ladder or the top of a chute, move it to the top of the ladder or the bottom of the chute respectively. You win by writing the last letter of a word in the top-right corner.</p>

<p>The highlighted column of spaces in the puzzle (which is the only column of letters in the completed grid), when read from bottom to top, spells <strong><code>EXOSKELETON</code></strong>.</p>

<p>Blue lines are ladders and red lines are chutes:</p>

<img {{ img_src_for('solutions/scout/grid.png') }} >

<p>
  <div>Turn 1:</div>
  <div>Starting from square 0, write <code>ELSEWHERE</code>, ending in square 8.</div>
</p>

<p>
  <div>Turn 2:</div>
  <div>Starting from square 8, write <code>EXTEND</code>, ending in square 15. Square 15 is the bottom of a ladder, so climb to square 57.</div>
</p>

<p>
  <div>Turn 3:</div>
  <div>Starting from square 57, write <code>INTERNATIONAL</code>, ending in square 70. Square 70 is the top of a chute, so slide to square 37.</div>
</p>

<p>
  <div>Turn 4:</div>
  <div>Starting from square 37, write <code>PERSONNEL</code>, ending in square 46. Square 46 is the top of a chute, so slide to square 30.</div>
</p>

<p>
  <div>Turn 5:</div>
  <div>Starting from square 30, write <code>SKYSCRAPER</code>, ending in square 40. Square 40 is the top of a chute, so slide to square 11.</div>
</p>

<p>
  <div>Turn 6:</div>
  <div>Starting from square 11, write <code>TENDINOPATHIES</code>, ending in square 25. Square 25 is the bottom of a ladder, so climb to square 50.</div>
</p>

<p>
  <div>Turn 7:</div>
  <div>Starting from square 50, write <code>CHECKPOINT</code>, ending in square 60. Square 60 is the bottom of a ladder, so climb to square 68.</div>
</p>

<p>
  <div>Turn 8:</div>
  <div>Starting from square 68, write <code>ALTERNATE</code>, ending in square 76, thereby winning the game.</div>
</p>
{% endblock %}
