{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Joanna Cheng{% endblock %}
{% block solution %}SLEEPER AGENT{% endblock %}

{% block solution_content_block %}
<p>Solvers are presented with a 5x5 grid of cards and a series of clues (where each clue is a colored word + a number). Hopefully, they will be able to recognize the game <a href="https://boardgamegeek.com/boardgame/178900/codenames">Codenames</a>.</p>

<p>However, the clues seem a bit weird; some of them don&rsquo;t seem to match the right number of words.</p>

<p>The key is in the title, which is intended to point solvers toward a Doppler shift. Doppler shifts include both red and blue shifts. Blue clues need to be advanced to the next item in the sequence, and red clues need to be shifted backwards to the previous item in the sequence. After shifting, the clues and matching words are:</p>

<table class="solution-table">
  <tr>
    <th>Given clue</th>
    <th>Sequence</th>
    <th>Real clue</th>
    <th>Number</th>
    <th>Matching words</th>
  </tr>
  <tr>
    <td>gamma</td>
    <td>Greek letters</td>
    <td>delta</td>
    <td>3</td>
    <td>airline, change, river</td>
  </tr>
  <tr>
    <td>copper</td>
    <td>Periodic table elements</td>
    <td>nickel</td>
    <td>2</td>
    <td>coin, five</td>
  </tr>
  <tr>
    <td>first</td>
    <td>Ordinals</td>
    <td>second</td>
    <td>2</td>
    <td>chance, split</td>
  </tr>
  <tr>
    <td>rabbit</td>
    <td>Chinese zodiac animals</td>
    <td>tiger</td>
    <td>1</td>
    <td>cat</td>
  </tr>
  <tr>
    <td>earth</td>
    <td>Planets</td>
    <td>mars</td>
    <td>2</td>
    <td>chocolate, red</td>
  </tr>
  <tr>
    <td>ratatouille</td>
    <td>Pixar movies</td>
    <td>cars</td>
    <td>1</td>
    <td>driver</td>
  </tr>
  <tr>
    <td>golf</td>
    <td>NATO alphabet</td>
    <td>hotel</td>
    <td>2</td>
    <td>monopoly, room</td>
  </tr>
</table>

<p>The remaining words, reading top to bottom, left to right, are:</p>

<ul>
  <li><code>SQUASH</code></li>
  <li><code>LEMON</code></li>
  <li><code>ERASER</code></li>
  <li><code>ENVIRONMENT</code></li>
  <li><code>PERISCOPE</code></li>
  <li><code>ECHIDNA</code></li>
  <li><code>RIBBON</code></li>
  <li><code>ANGEL</code></li>
  <li><code>GAUNTLET</code></li>
  <li><code>ELEPHANT</code></li>
  <li><code>NOVEMBER</code></li>
  <li><code>TWENTY</code></li>
</ul>

<p>Reading down the first letter of each word spells out the answer <strong><code>SLEEPER AGENT</code></strong>.</p>
{% endblock %}
