{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Denis Auroux and James Douberley{% endblock %}
{% block solution %}YARDARM{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content .flexbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .puzzle-content .extraction-text {
    margin-left: 20px;
    font-size: 18pt;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>Each grid is a combination Battleship, Minesweeper, and loop puzzle. As of necessity, solving each grid must start with the battleships; however, the battleship puzzles cannot be completely solved without using the minesweeper and loop constraints.</p>

<p>The usual battleship strategies apply: no two ship segments can touch diagonally, so placing a ship segment allows one to exclude ship segments on the diagonally adjacent cells; moreover, a 2x2 square contains at most two ship segments. The rows/columns containing the largest numbers of ship segments, and those immediately next to them, are typically the most constrained.</p>

<p>The minesweeper clues on the various ships further constrain their positions in the grid, and the loop as well. Indeed, the minesweeper clue on a ship segment in the interior of the grid is at most 6 (since two of the neighboring cells must also lie on the loop); on the boundary, it is at most 3; in a corner, at most 1. Moreover, when these maximum values are attained, all cells diagonally adjacent to the ship segment must contain mines, and hence the loop must go straight immediately before and immediately after the considered cell (but can turn on the cell itself).</p>

<p>With these basic strategies in hand and a bit of patience, the grids can be solved uniquely. As indicated by the flavortext, for each battleship puzzle there are some cells which lie inside the loop and do not contain a mine. Looking up the corresponding positions in the letter grid at the end of the puzzle, we obtain sets of letters to fill those spaces. Each anagrams to the name of a ship in the <i>Avenger</i> class of mine countermeasures ships of the US Navy, minus one letter.</p>

<div class="flexbox">
  <img {{ img_src_for('solutions/shoal_patrol/1.svg') }} >
  <span class="extraction-text"><code>SENTR<strong>Y</strong></code></span>
</div>
<div class="flexbox">
  <img {{ img_src_for('solutions/shoal_patrol/2.svg') }} >
  <span class="extraction-text"><code><strong>A</strong>RDENT</code></span>
</div>
<div class="flexbox">
  <img {{ img_src_for('solutions/shoal_patrol/3.svg') }} >
  <span class="extraction-text"><code>DEVASTATO<strong>R</strong></code></span>
</div>
<div class="flexbox">
  <img {{ img_src_for('solutions/shoal_patrol/4.svg') }} >
  <span class="extraction-text"><code>GLA<strong>D</strong>IATOR</code></span>
</div>
<div class="flexbox">
  <img {{ img_src_for('solutions/shoal_patrol/5.svg') }} >
  <span class="extraction-text"><code>P<strong>A</strong>TRIOT</code></span>
</div>
<div class="flexbox">
  <img {{ img_src_for('solutions/shoal_patrol/6.svg') }} >
  <span class="extraction-text"><code>WA<strong>R</strong>RIOR</code></span>
</div>
<div class="flexbox">
  <img {{ img_src_for('solutions/shoal_patrol/7.svg') }} >
  <span class="extraction-text"><code>CHA<strong>M</strong>PION</code></span>
</div>

<p>The missing letters, in order, spell <strong><code>YARDARM</code></strong>.</p>
{% endblock %}
