{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Matt Scanlan{% endblock %}
{% block solution %}INLAID EMBLEM{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content img {
    width: 32%;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>The title abbreviates to <a href="https://en.wikipedia.org/wiki/Slow-scan_television">SSTV</a>, which is important in the decoding of the audio files.</p>

<p>From the flavor text, there are a few words to help in the decoding of the answer. There are the names Martin and Scottie, the space theme, and watching TV.</p>

<p>Based on the flavor text, as well as understanding that the audio file must run through some sort of decoding method, the solver will need to find information on SSTV technology. There are standard SSTV decoding tools which can be found online and downloaded (for example, <a href="http://hamsoft.ca/pages/mmsstv.php">MMSSTV</a>).</p>

<p>Each audio file can be decoded into an image with text, as shown below. Half of the audio files are encoded using the Scottie translation, the other half with Martin. Most tools auto-detect which encoding is used. Each decoded audio file also has a letter written in each corner, as shown below from screenshots using the MMSSTV program:</p>

<img {{ img_src_for('solutions/space_sounds_tv/01.png') }} >
<img {{ img_src_for('solutions/space_sounds_tv/02.png') }} >
<img {{ img_src_for('solutions/space_sounds_tv/03.png') }} >
<img {{ img_src_for('solutions/space_sounds_tv/04.png') }} >
<img {{ img_src_for('solutions/space_sounds_tv/05.png') }} >
<img {{ img_src_for('solutions/space_sounds_tv/06.png') }} >
<img {{ img_src_for('solutions/space_sounds_tv/07.png') }} >
<img {{ img_src_for('solutions/space_sounds_tv/08.png') }} >
<img {{ img_src_for('solutions/space_sounds_tv/09.png') }} >
<img {{ img_src_for('solutions/space_sounds_tv/10.png') }} >
<img {{ img_src_for('solutions/space_sounds_tv/11.png') }} >
<img {{ img_src_for('solutions/space_sounds_tv/12.png') }} >

<table class="solution-table condensed-table">
  <tr>
    <th>Audio File #</th>
    <th>Decode Method</th>
    <th>Picture Name</th>
    <th>Corner Letter</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Martin</td>
    <td>Squirrel</td>
    <td><code>N</code></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Martin</td>
    <td>Light Breeze</td>
    <td><code>D</code></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Martin</td>
    <td>Little Beauty</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>4</td>
    <td>Martin</td>
    <td>Brave One</td>
    <td><code>N</code></td>
  </tr>
  <tr>
    <td>5</td>
    <td>Martin</td>
    <td>Midge</td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td>6</td>
    <td>Martin</td>
    <td>Little Fox</td>
    <td><code>P</code></td>
  </tr>
  <tr>
    <td>7</td>
    <td>Scottie</td>
    <td>Queen of Checkers</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>8</td>
    <td>Scottie</td>
    <td>Snowflake</td>
    <td><code>A</code></td>
  </tr>
  <tr>
    <td>9</td>
    <td>Scottie</td>
    <td>Snow Leopard</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>10</td>
    <td>Scottie</td>
    <td>Little Arrow</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>11</td>
    <td>Scottie</td>
    <td>Coal</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>12</td>
    <td>Scottie</td>
    <td>Small Bee</td>
    <td><code>X</code></td>
  </tr>
</table>

<p>Within each audio file there is a period of blank space (another play on &ldquo;space sounds&rdquo;) found somewhere in the middle of the file. Each file has a different number of seconds of consecutive blank space, starting from 1 second to 12 seconds. Ordering by audio spacing gives the clue <code>PARTNER INDEX</code>.</p>

<table class="solution-table condensed-table">
  <tr>
    <th>Audio Spacing</th>
    <th>Picture Name</th>
    <th>Corner Letter</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Little Fox</td>
    <td><code>P</code></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Snowflake</td>
    <td><code>A</code></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Coal</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>4</td>
    <td>Little Arrow</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>5</td>
    <td>Squirrel</td>
    <td><code>N</code></td>
  </tr>
  <tr>
    <td>6</td>
    <td>Snow Leopard</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>7</td>
    <td>Little Beauty</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>8</td>
    <td>Midge</td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td>9</td>
    <td>Brave One</td>
    <td><code>N</code></td>
  </tr>
  <tr>
    <td>10</td>
    <td>Light Breeze</td>
    <td><code>D</code></td>
  </tr>
  <tr>
    <td>11</td>
    <td>Queen of Checkers</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>12</td>
    <td>Small Bee</td>
    <td><code>X</code></td>
  </tr>
</table>

<p>Based on all the clues provided, (space theme, SSTV, decoded words, <code>PARTNER INDEX</code>, spoken Russian at the beginning of each file), the solver will need to discover that this puzzle is based on the <a href="https://en.wikipedia.org/wiki/Soviet_space_dogs">dogs sent into space</a> during Russia&rsquo;s participation in the Space Race.</p>

<p>The dogs were sent into space in pairs. The next step is to group each of the names based on the partners that flew in space together using the picture names, which are literal translations of the Russian names given to the dogs. As confirmation, each pair has one image decoded via Martin mode and one via Scottie mode.</p>

<table class="solution-table condensed-table">
  <tr>
    <th>Martin Dog</th>
    <th>Scottie Dog</th>
  </tr>
  <tr>
    <td>Squirrel</td>
    <td>Little Arrow</td>
  </tr>
  <tr>
    <td>Light Breeze</td>
    <td>Coal</td>
  </tr>
  <tr>
    <td>Little Beauty</td>
    <td>Queen of Checkers</td>
  </tr>
  <tr>
    <td>Brave One</td>
    <td>Snowflake</td>
  </tr>
  <tr>
    <td>Midge</td>
    <td>Small Bee</td>
  </tr>
  <tr>
    <td>Little Fox</td>
    <td>Snow Leopard</td>
  </tr>
</table>

<p>At the beginning of each file, there is a short clip of Russian being spoken. This Russian can be translated to a number. Recalling the earlier cluephrase <code>PARTNER INDEX</code>, each dog can use the translated Russian number spoken in the file corresponding to its partner as an index into its name. When sorted by the spacing in the audio files, this spells the answer <strong><code>INLAID EMBLEM</code></strong>.</p>

<table class="solution-table condensed-table">
  <tr>
    <th>Audio Spacing</th>
    <th>Picture Name</th>
    <th>Index</th>
    <th>Partner Dog</th>
    <th>Partner Index</th>
    <th class="wrap">Partner Index Into Picture Name</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Little Fox</td>
    <td>11</td>
    <td>Snow Leopard</td>
    <td>2</td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Snowflake</td>
    <td>1</td>
    <td>Brave One</td>
    <td>2</td>
    <td><code>N</code></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Coal</td>
    <td>1</td>
    <td>Light Breeze</td>
    <td>4</td>
    <td><code>L</code></td>
  </tr>
  <tr>
    <td>4</td>
    <td>Little Arrow</td>
    <td>4</td>
    <td>Squirrel</td>
    <td>7</td>
    <td><code>A</code></td>
  </tr>
  <tr>
    <td>5</td>
    <td>Squirrel</td>
    <td>7</td>
    <td>Little Arrow</td>
    <td>4</td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td>6</td>
    <td>Snow Leopard</td>
    <td>2</td>
    <td>Little Fox</td>
    <td>11</td>
    <td><code>D</code></td>
  </tr>
  <tr>
    <td>7</td>
    <td>Little Beauty</td>
    <td>3</td>
    <td>Queen of Checkers</td>
    <td>8</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>8</td>
    <td>Midge</td>
    <td>2</td>
    <td>Small Bee</td>
    <td>1</td>
    <td><code>M</code></td>
  </tr>
  <tr>
    <td>9</td>
    <td>Brave One</td>
    <td>2</td>
    <td>Snowflake</td>
    <td>1</td>
    <td><code>B</code></td>
  </tr>
  <tr>
    <td>10</td>
    <td>Light Breeze</td>
    <td>4</td>
    <td>Coal</td>
    <td>1</td>
    <td><code>L</code></td>
  </tr>
  <tr>
    <td>11</td>
    <td>Queen of Checkers</td>
    <td>8</td>
    <td>Little Beauty</td>
    <td>3</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>12</td>
    <td>Small Bee</td>
    <td>1</td>
    <td>Midge</td>
    <td>2</td>
    <td><code>M</code></td>
  </tr>
</table>
{% endblock %}
