{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Steven Vanderveer{% endblock %}
{% block solution %}{{ puzzle.puzzleProperties.AnswersProperty.answers.0.canonicalAnswer }}{% endblock %}

{% block solution_content_block %}
  <p>Each of the audio files in this puzzle is a mashup representing
    an official drink used by the International Bartenders Association
    (as suggested by Ismene, Becca, and Akira in the flavor text) in
    the World Cocktail Competition. Each of the songs used in the mashups 
    has lyrics or a title that reference an ingredient used in cocktails.</p>

  <p>Here is the set of songs (in alphabetical order), and the
    ingredients that they reference:</p>

  <table class="solution-table condensed-table">
    <thead>
      <tr>
        <th>Ingredient</th>
        <th>Song</th>
        <th>Artist</th>
      </tr>
    </thead>
    <tr>
      <td>Absinthe</td>
      <td>&ldquo;S.E.X.&rdquo;</td>
      <td>Madonna</td>
    </tr>
    <tr>
      <td>Agave</td>
      <td>&ldquo;Lazy Eye&rdquo;</td>
      <td>Aesop Rock</td>
    </tr>
    <tr>
      <td>Angostura (bitters)</td>
      <td>&ldquo;9th &amp; Hennepin&rdquo;</td>
      <td>Tom Waits</td>
    </tr>
    <tr>
      <td>Apricot brandy</td>
      <td>&ldquo;Apricot Brandy&rdquo;</td>
      <td>Rhinoceros</td>
    </tr>
    <tr>
      <td>Bourbon</td>
      <td>&ldquo;Leave the Bourbon on the Shelf&rdquo;</td>
      <td>The Killers</td>
    </tr>
    <tr>
      <td>Brown sugar</td>
      <td>&ldquo;Brown Sugar&rdquo;</td>
      <td>Rolling Stones</td>
    </tr>
    <tr>
      <td>Calvados</td>
      <td>&ldquo;Snot Love in Spain&rdquo;</td>
      <td>Golden Earring</td>
    </tr>
    <tr>
      <td>Campari</td>
      <td>&ldquo;Dirty Drowning Man&rdquo;</td>
      <td>Primus</td>
    </tr>
    <tr>
      <td>Coffee</td>
      <td>&ldquo;Coffee &amp; TV&rdquo;</td>
      <td>Blur</td>
    </tr>
    <tr>
      <td>Cognac</td>
      <td>&ldquo;Buster&rdquo;</td>
      <td>moe.</td>
    </tr>
    <tr>
      <td>Cola</td>
      <td>&ldquo;I&rsquo;d Like to Buy the World a Coke&rdquo;</td>
      <td>Coca-Cola</td>
    </tr>
    <tr>
      <td>Cream</td>
      <td>&ldquo;Cream&rdquo;</td>
      <td>Prince and the New Power Generation</td>
    </tr>
    <tr>
      <td>Creme de cacao (chocolate liqueur)</td>
      <td>&ldquo;Candy Cane Guy&rdquo;</td>
      <td>XSARA</td>
    </tr>
    <tr>
      <td>Espresso</td>
      <td>&ldquo;Word Crimes&rdquo;</td>
      <td>Weird Al</td>
    </tr>
    <tr>
      <td>Gin</td>
      <td>&ldquo;Gin House Blues&rdquo;</td>
      <td>Nina Simone</td>
    </tr>
    <tr>
      <td>Grenadine</td>
      <td>&ldquo;Bel Air&rdquo;</td>
      <td>Lana Del Rey</td>
    </tr>
    <tr>
      <td>Irish whiskey</td>
      <td>&ldquo;Irish Whiskey Pretty Girls&rdquo;</td>
      <td>Old 97s</td>
    </tr>
    <tr>
      <td>Kahlua</td>
      <td>&ldquo;E=Mc2&rdquo;</td>
      <td>J. Dilla, Common</td>
    </tr>
    <tr>
      <td>Lemon juice</td>
      <td>&ldquo;Little Secrets&rdquo;</td>
      <td>Passion Pit</td>
    </tr>
    <tr>
      <td>Lime juice</td>
      <td>&ldquo;Lee Majors Come Again&rdquo;</td>
      <td>Beastie Boys</td>
    </tr>
    <tr>
      <td>Orange juice</td>
      <td>&ldquo;It Never Entered My Mind&rdquo;</td>
      <td>Frank Sinatra</td>
    </tr>
    <tr>
      <td>Simple syrup</td>
      <td>&ldquo;Cups and Punches&rdquo;</td>
      <td>Fiery Furnaces</td>
    </tr>
    <tr>
      <td>Soda water</td>
      <td>&ldquo;Soda Water&rdquo;</td>
      <td>Jess Klein</td>
    </tr>
    <tr>
      <td>Sugar cube</td>
      <td>&ldquo;Sugarcube&rdquo;</td>
      <td>Yo La Tengo</td>
    </tr>
    <tr>
      <td>Tequila</td>
      <td>&ldquo;Tequila&rdquo;</td>
      <td>The Champs</td>
    </tr>
    <tr>
      <td>Triple sec</td>
      <td>&ldquo;Black and Brown Blues&rdquo;</td>
      <td>Silver Jews</td>
    </tr>
    <tr>
      <td>Vermouth (red)</td>
      <td>&ldquo;The Gospel Truth I&rdquo;</td>
      <td>from Hercules</td>
    </tr>
    <tr>
      <td>Vodka</td>
      <td>&ldquo;Are You Red..Y&rdquo;</td>
      <td>The Clash</td>
    </tr>
    <tr>
      <td>Water</td>
      <td>&ldquo;Cold Water&rdquo;</td>
      <td>Damien Rice</td>
    </tr>
    <tr>
      <td>White rum</td>
      <td>&ldquo;Soldering&rdquo;</td>
      <td>Hall & Oates</td>
    </tr>
  </table>

  <p>Each audio clip is a combination of several ingredients
    (approximately) in proportion according to the IBA guidelines,
    creating a &ldquo;sonic cocktail.&rdquo; For example, 9 parts
    &ldquo;Tequila&rdquo; by The Clash, 18 parts &ldquo;It Never
    Crossed My Mind&rdquo; by Frank Sinatra, and 3 parts &ldquo;Bel
    Air&rdquo; by Lana Del Ray represents a
    <a href="http://iba-world.com/cocktails/tequila-sunrise/">Tequila
      Sunrise</a></p>

  <p>Here are the sonic cocktails, in the order of appearance:</p>

  <table class="solution-table condensed-table">
    <thead>
      <tr>
        <th>Songs/Ingredients</th>
        <th>Cocktail</th>
      </tr>
    </thead>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Gin House Blues&rdquo; (Gin)</li>
          <li>&ldquo;Black and Brown Blues&rdquo; (Triple sec)</li>
          <li>&ldquo;Little Secrets&rdquo; (Lemon juice)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/iba-official-cocktails/white-lady/">White Lady</a></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Are You Red..Y&rdquo; (Vodka)</li>
          <li>&ldquo;E=mc2&rdquo; (Kahlua)</li>
          <li>&ldquo;Cups and Punches&rdquo; (Simple syrup)</li>
          <li>&ldquo;Word Crimes&rdquo; (Espresso)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/new-era-drinks/espresso-martini/">Espresso Martini</a></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Leave the Bourbon on the Shelf&rdquo; (Bourbon)</li>
          <li>&ldquo;Cups and Punches&rdquo; (Simple syrup)</li>
          <li>&ldquo;Little Secrets&rdquo; (Lemon juice)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/iba-official-cocktails/whiskey-sour/">Whiskey Sour</a></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Dirty Drowning Man&rdquo; (Campari)</li>
          <li>&ldquo;The Gospel Truth I&rdquo; (Vermouth)</li>
          <li>&ldquo;Soda Water&rdquo; (Soda water)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/iba-official-cocktails/americano/">Americano</a></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Gin House Blues&rdquo; (Gin)</li>
          <li>&ldquo;Dirty Drowning Man&rdquo; (Campari)</li>
          <li>&ldquo;The Gospel Truth I&rdquo; (Vermouth)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/iba-official-cocktails/negroni/">Negroni</a></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Tequila&rdquo; (Tequila)</li>
          <li>&ldquo;It Never Entered My Mind&rdquo; (Orange juice)</li>
          <li>&ldquo;Bel Air&rdquo; (Grenadine)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/iba-official-cocktails/tequila-sunrise/">Tequila Sunrise</a></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Buster&rdquo; (Cognac)</li>
          <li>&ldquo;Candy Cane Guy&rdquo; (Creme de cacao)</li>
          <li>&ldquo;Cream&rdquo; (Cream)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/iba-official-cocktails/alexander/">Alexander</a></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Gin House Blues&rdquo; (Gin)</li>
          <li>&ldquo;It Never Entered My Mind&rdquo; (Orange juice)</li>
          <li>&ldquo;S.E.X.&rdquo; (Absinthe)</li>
          <li>&ldquo;Bel Air&rdquo; (Grenadine)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/iba-official-cocktails/monkey-gland/">Monkey Gland</a></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Leave the Bourbon on the Shelf&rdquo; (Bourbon)</li>
          <li>&ldquo;9th &amp; Hennepin&rdquo; (Angostura)</li>
          <li>&ldquo;Sugarcube&rdquo; (Sugar cube)</li>
          <li>&ldquo;Cold Water&rdquo; (Water)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/iba-official-cocktails/old-fashioned/">Old Fashioned</a></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Soldering&rdquo; (White rum)</li>
          <li>&ldquo;I&rsquo;d Like to Buy the World a Coke&rdquo; (Cola)</li>
          <li>&ldquo;Lee Majors Come Again&rdquo; (Lime juice)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/iba-official-cocktails/cuba-libre/">Cuba Libre</a></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Are You Red..Y&rdquo; (Vodka)</li>
          <li>&ldquo;Black and Brown Blues&rdquo; (Triple sec)</li>
          <li>&ldquo;Lee Majors Come Again&rdquo; (Lime juice)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/new-era-drinks/kamikaze-2/">Kamikaze</a></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Tequila&rdquo; (Tequila)</li>
          <li>&ldquo;Lee Majors Come Again&rdquo; (Lime juice)</li>
          <li>&ldquo;Lazy Eye&rdquo; (Agave)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/new-era-drinks/tommys-margarita/">Tommy&rsquo;s Margarita</a></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Snot Love in Spain&rdquo; (Calvados)</li>
          <li>&ldquo;Gin House Blues&rdquo; (Gin)</li>
          <li>&ldquo;Apricot Brandy&rdquo; (Apricot brandy)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/iba-official-cocktails/angel-face/">Angel Face</a></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Irish Whiskey Pretty Girls&rdquo; (Irish whiskey)</li>
          <li>&ldquo;Coffee &amp; TV&rdquo; (Coffee)</li>
          <li>&ldquo;Cream&rdquo; (Cream)</li>
          <li>&ldquo;Brown Sugar&rdquo; (Brown sugar)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/new-era-drinks/irish-coffee/">Irish Coffee</a></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>&ldquo;Are You Red..Y&rdquo; (Vodka)</li>
          <li>&ldquo;Black and Brown Blues&rdquo; (Triple sec)</li>
          <li>&ldquo;Little Secrets&rdquo; (Lemon juice)</li>
        </ul>
      </td>
      <td><a href="http://iba-world.com/new-era-drinks/lemon-drop-martini/">Lemon Drop Martini</a></td>
    </tr>
  </table>

  <p>Reading the first letters of the cocktails in order yields the
    cluephrase <code>WE WANT A MOCKTAIL</code>. After creating a
    mocktail and delivering it to Headquarters, teams would be given
    the puzzle answer:
    <strong><code>{{ puzzle.puzzleProperties.AnswersProperty.answers.0.canonicalAnswer }}</code></strong>
  </p>
{% endblock %}
