{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}
By Charles Steinhardt, Julian West, and Michele Pratusevich<br />
Audio clips by Jasmine Florentine, Nate Zuk, Anisa Schardl, Laura Nicholson, Sid Creutz, Sue Broder, Eric Broder, James Douberley, Hubert Hwang, Kevin Hwang, Anna Brunner, Michele Pratusevich, Robin Deits, Nathan Fung, Ariel Schwartz, Max Wolf, and Erin Price
{% endblock %}
{% block solution %}ULTIMATE FRISBEE{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content .recording {
    margin: 0% 2em;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>Solvers open the puzzle page to see a QR code (with a radio tower and radio icon above it) that points to a web page hosting an audio clip.</p>

<p>The audio clip says:</p>

<div class="recording">
  &ldquo;This is Cecil and Ida Green coming to you from channel 1210. Ida Green is our sports reporter, and Ida, I understand there was a bit of history being made last night?&rdquo; / &ldquo;That&rsquo;s right, Cecil. Well, in six months its famous pier will be teeming with holiday makers, but it was a different leisure activity which brought people to Rhyl last Friday. The elegant resort played host to the first ever international match as an all-Wales team took on visiting Ireland at Rhyl’s club pitch.&rdquo; / &ldquo;And, Ida, some of our partisan listeners will be wondering about the result?&rdquo; / &ldquo;Yes, it was the Irish who carried home the honours, with their man A. Carrol the first player ever to score a goal at International level.&rdquo;
</div>

<p>The sport that is being described here is the first game of <code>FIELD HOCKEY</code>.</p>

<p>The &ldquo;Cecil and Ida Green&rdquo; hosts clue the solver to go to the Green Building, to room 1210 (i.e. the station number). There they will see another QR code next to the specified room number, and opening the QR code will play another audio dialog. And so it goes for 13 codes in a campus crawl. To get the next audio clip, you must use the broadcaster&rsquo;s name to clue the building name, and the station number to clue the room number next to which there is a QR code. Each audio clip identifies a sport. Here are all 13:</p>

<table class="solution-table">
  <tr>
    <th>Full Dialog</th>
    <th>Broadcaster(s)</th>
    <th>Building</th>
    <th>Frequency</th>
    <th>Station</th>
    <th>Sport</th>
  </tr>
  <tr>
    <td>&ldquo;This is Cecil and Ida Green coming to you from channel 1210. Ida Green is our sports reporter, and Ida, I understand there was a bit of history being made last night?&rdquo; / &ldquo;That&rsquo;s right, Cecil. Well, in six months its famous pier will be teeming with holiday makers, but it was a different leisure activity which brought people to Rhyl last Friday. The elegant resort played host to the first ever international match as an all-Wales team took on visiting Ireland at Rhyl&rsquo;s club pitch.&rdquo; / &ldquo;And, Ida, some of our partisan listeners will be wondering about the result?&rdquo; / &ldquo;Yes, it was the Irish who carried home the honours, with their man A. Carrol the first player ever to score a goal at International level.&rdquo;</td>
    <td>Cecil and Ida Green</td>
    <td>54</td>
    <td>1210</td>
    <td></td>
    <td><code>FIELD HOCKEY</code></td>
  </tr>
  <tr>
    <td>This is Ronald McNair coming to you from station WPAS on channel 371, rebroadcast from Boston. Some said it couldn&rsquo;t be done, and others said it shouldn&rsquo;t be done, but in the end it worked: they moved an outdoor game indoors. What&rsquo;s usually played by a group of friends on a sunny Sunday afternoon was played on a Wednesday evening in the center of Montreal, by gaslight. Now, before the game, there were a lot of concerns about the small venue, and whether a crowd sitting so close didn&rsquo;t risk being hit by the ball, which you know is quite hard and can travel very quickly. But what they&rsquo;ve done for these matches is they&rsquo;ve replaced the ball with a flat piece of wood; it stays low and it&rsquo;s much safer. The hosts won it two-one, but the real winners are the spectators: this looks set to provide Montrealers with great entertainment for many evenings to come.</td>
    <td>Ronald McNair</td>
    <td>37</td>
    <td>371</td>
    <td><code>WPAS</code></td>
    <td><code>ICE HOCKEY</code></td>
  </tr>
  <tr>
    <td>This is Gordon Brown coming to you from channel 324, rebroadcast from Boston. That&rsquo;s right, the search for a national champion was briefly put on hold yesterday so that a combined team representing Australia could take to the court for a match with a visiting delegation from New Zealand. There was some doubt about whether an international encounter could even be organised, because they do use quite different rules on the other side of the Tasman Sea; for one thing, they actually have nine players on the court. But this team has been touring around and playing various state and local teams around Australia, so they&rsquo;ve gotten used to playing by our rules and they gave quite a creditable account of themselves. They are proving to be popular ambassadors for the sport. But the final result wasn&rsquo;t close, it was Australia forty, New Zealand eleven.</td>
    <td>Gordon Brown</td>
    <td>39</td>
    <td>324</td>
    <td></td>
    <td><code>NETBALL</code></td>
  </tr>
  <tr>
    <td>This is Jerome Weisner coming to you from station WSWO on channel 001, rebroadcast from Boston. A great academic rivalry between Rutgers College and the College of New Jersey stretches back over one hundred years, and now there&rsquo;s a sporting rivalry as well. It was a high-spirited match with plenty of pushing and shoving as each side attempted to kick the ball into their rivals&rsquo; goal. It was good end-to-end stuff, but eventually it was Rutgers who were first to reach the set target of six goals. If anyone feels moved to support his alma mater, they&rsquo;ll be playing a return engagement at the College of New Jersey next Sunday afternoon.</td>
    <td>Jerome Weisner</td>
    <td>E15</td>
    <td>001</td>
    <td><code>WSWO</code></td>
    <td><code>AMERICAN FOOTBALL</code></td>
  </tr>
  <tr>
    <td>&ldquo;This is Morris and Sophie Chang coming to you from channel 335, rebroadcast from Boston. Sophie is reporting on a story from Toronto.&rdquo; / &ldquo;It&rsquo;s now officially the Province of Ontario, but for many people it&rsquo;s still Upper Canada, and the old met the new as what&rsquo;s now a national craze reached the venerable playing fields of Upper Canada College. The visiting side from the Toronto Cricket Club prevailed by three goals to one.&rdquo; / &ldquo;Sophie, this new sport seems to be taking the country by storm.&rdquo; / &ldquo;Absolutely, Morris. It seems like every town suddenly has its own club, and with two national institutions like UCC and the TCC jumping on board, has this made-in-Canada phenomenon now become unstoppable?&rdquo;</td>
    <td>Morris and Sophie Chang</td>
    <td>E52</td>
    <td>335</td>
    <td></td>
    <td><code>LACROSSE</code></td>
  </tr>
  <tr>
    <td>This is Grover Hermann coming to you from station WRDV on channel 336, rebroadcast from Boston. Two sports collided in dramatic fashion yesterday as a ball-game rapidly growing in popularity was wedded to an age-old blood sport. A senior official attending at pitch-side released a captive animal onto the field of play, and the players dropped their balls, frantically trying to catch it <i>as it looped through the air</i>. In the end it was one of the spectators who made off with the prize, allowing some semblance of normal play to resume. No score was recorded.</td>
    <td>Grover Hermann</td>
    <td>E53</td>
    <td>336</td>
    <td><code>WRDV</code></td>
    <td><code>QUIDDITCH</cide></td>
  </tr>
  <tr>
    <td>This is Dwight S. Muckley coming to you from channel 103, rebroadcast from Boston. Johnson&mdash;Sherborne&mdash;Jagger&mdash;Kilner&mdash;Godfrey&mdash;Powell. Six Cambridge men whose names will live in history as the winners of the first varsity match against Oxford, by a combined score of 392 to 103. The Cambridge men utterly dominated their opponents, winning every single set in both the singles and doubles matchups. JL Hill of St. Edmund Hall came closest to restoring a bit of pride for Oxford, pushing his opponent, WH Powell of Caius, earning 22 points as he lost their two sets 17-14 and 15-8.</td>
    <td>Dwight S. Muckley</td>
    <td>E40</td>
    <td>103</td>
    <td></td>
    <td><code>RUGBY FIVES</code></td>
  </tr>
  <tr>
    <td>This is William Rogers coming to you from station WICT on channel 238, rebroadcast from Boston. Saint Andrew&rsquo;s Day, and what better day for a genuinely international match between England and Scotland? And what better venue than Hamilton Crescent in Partick, the home ground of the West of Scotland Cricket Club? The match was due to get under way at two o&rsquo;clock, but it was delayed by twenty minutes to allow all of the four thousand spectators to make their way into the ground. The Scots, all of whom had played together for Queen&rsquo;s Park, had the run of play in the first half, but the second half was closer fought. In the end it was a stalemate, but it was the home side who had the better chances, with one attempt in each half passing narrowly over.</td>
    <td>William Rogers</td>
    <td>7</td>
    <td>238</td>
    <td><code>WICT</code></td>
    <td><code>ASSOCIATION FOOTBALL</code></td>
  </tr>
  <tr>
    <td>This is Vannevar Bush coming to you from channel 3119, rebroadcast from Boston. The Sussex captain won the toss and set Hampshire to bat in sweltering conditions. The home side were quick off the mark, racking up sixty-six runs off forty-two balls before losing opening batsman James Hablin. Hampshire continued to lose wickets steadily, but reached the 150 mark before heading into the pavilion two balls early. Sussex started poorly, losing three wickets for twenty-seven runs, before Zuiderent and Martin-Jenkins steadied the ship, and Tim Ambrose reached his half century from thirty-six balls, leaving Sussex in need of ten runs from the final over. With a sellout crowd on the edge of their seats, Ambrose&rsquo;s heroics fell just short, leaving Hampshire with a narrow five-run victory.</td>
    <td>Vannevar Bush</td>
    <td>13</td>
    <td>3119</td>
    <td></td>
    <td><code>TWENTY20 CRICKET</code></td>
  </tr>
  <tr>
    <td>&ldquo;This is James and Marilyn Simons coming to you from channel 235, rebroadcast from Boston. We have a sports report now from our correspondent Marilyn Simons.&rdquo; / &ldquo;James, Scotland and England were fitting adversaries for the first international match-up, in a sport which was first played by the banks of the River Dee in Aberdeen, but which has developed and matured in London.&rdquo; / &ldquo;Marilyn, I understand there is a recognised league in London now?&rdquo; / &ldquo;Yes, James, there&rsquo;s league play and also they host an English Championships, and now at last a full international match. The Scots have not given up their mastery of this frenzied but attractive sport; they won the inaugural match by four goals to nil.&rdquo;</td>
    <td>James and Marilyn Simons</td>
    <td>2</td>
    <td>235</td>
    <td></td>
    <td><code>WATER POLO</code></td>
  </tr>
  <tr>
    <td>This is Ralph Landau coming to you from station WORY on channel 546, rebroadcast from Boston. Four men broke the old Olympic record in an eventful race through the streets of London. Royalty were present to start the race in Windsor, and again nearly three hours later at the finish line in The Great Stadium at White City. Local hopes were raised as Scotsman Thomas Jack took an early lead, but he eventually tired and failed to finish. Italian Dorando Pietri was first to enter the stadium, ahead of American Johnny Hayes and Charles Hefferon of South Africa. But Pietri collapsed near the finish line and required medical attention, for which he was disqualified following an appeal brought by Hayes.</td>
    <td>Ralph Landau</td>
    <td>66</td>
    <td>546</td>
    <td><code>WORY</code></td>
    <td><code>MARATHON</code></td>
  </tr>
  <tr>
    <td>This is John Dorrance coming to you from channel 284, rebroadcast from Boston. Yes, there was quite a crowd at the Christian workers&rsquo; gymnasium, over 200 spectators peering over the gallery railing to watch the teachers take on the students. The teachers were the bigger and stronger team, but the students had really done their homework and showed better skill with the ball, winning the game handily by a score of five to one. The only goal for the teachers was scored by Mr. Stagg, a former star footballer from Yale who, unfortunately, relied too much on his football training and was repeatedly called for fouling his opponents. But the star player was Ruggles, who scored four times for the students.</td>
    <td>John Dorrance</td>
    <td>16</td>
    <td>284</td>
    <td></td>
    <td><code>BASKETBALL</code></td>
  </tr>
  <tr>
    <td>We are coming to you live with a last bit of sports news. Melrose in the Scottish Borders played host to an original sporting competition as a number of neighbouring clubs sent their best and quickest players to try a fast-paced and fun new variety of the game. The brainchild of two local butchers, the new format uses a full-size pitch but with just seven players on each side. Scoring is fast and furious, with scores often running into double digits in just fourteen minutes of play.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><code>RUGBY SEVENS</code></td>
  </tr>
</table>

<p>The 13th QR code (the one you got outside 16-284) leads you to a website with the last recording and a set of enumerations in lexicographic order:</p>

<ul>
  <li>(3 6)</li>
  <li>(5 4)</li>
  <li>(5 5)</li>
  <li>(5 6)</li>
  <li>(5 6)</li>
  <li>(7)</li>
  <li>(8)</li>
  <li>(8)</li>
  <li>(8 7)</li>
  <li>(8 8)</li>
  <li>(9)</li>
  <li>(10)</li>
  <li>(11 8)</li>
</ul>

<p>That should serve as a checksum for identifying all the sports from the previous recordings:</p>

<table class="solution-table">
  <tr>
    <th>Enumeration</th>
    <th>Sport</th>
  </tr>
  <tr>
    <td>(3 6)</td>
    <td>Ice hockey</td>
  </tr>
  <tr>
    <td>(5 4)</td>
    <td>Water polo</td>
  </tr>
  <tr>
    <td>(5 5)</td>
    <td>Rugby fives</td>
  </tr>
  <tr>
    <td>(5 6)</td>
    <td>Rugby sevens</td>
  </tr>
  <tr>
    <td>(5 6)</td>
    <td>Field hockey</td>
  </tr>
  <tr>
    <td>(7)</td>
    <td>Netball</td>
  </tr>
  <tr>
    <td>(8)</td>
    <td>Lacrosse</td>
  </tr>
  <tr>
    <td>(8)</td>
    <td>Marathon</td>
  </tr>
  <tr>
    <td>(8 7)</td>
    <td>Twenty20 cricket</td>
  </tr>
  <tr>
    <td>(8 8)</td>
    <td>American football</td>
  </tr>
  <tr>
    <td>(9)</td>
    <td>Quidditch</td>
  </tr>
  <tr>
    <td>(10)</td>
    <td>Basketball</td>
  </tr>
  <tr>
    <td>(11 8)</td>
    <td>Association football</td>
  </tr>
</table>

<p>Reading down the first letters of the identified sports in the order you visited the locations gives the cluephrase <code>FINAL QR AT WMBR</code>. The last QR code can be found on the door of the WMBR sports room in 50-030 in Walker Memorial. That QR code leads you to a password-protected website.</p>

<p>Reading the station names in the order given gives you <code>PASSWORD VICTORY</code>, which you dutifully enter to get one final piece of dialog. (Of course, you ignore the W at the start of the station names, since that is what all Boston-rebroadcast stations have their names as.)</p>

<p>The final recording is:</p>
<div class="recording">
  Another sporting milestone for New Jersey as a group of college freshmen attempt to carry their high school athletic prowess on to the intercollegiate level. In a corner of the Rutgers campus stands an unassuming strip of tarmac. Parking lot by day, field of sporting dreams by night, this unlikely venue played host to history for a second time as Rutgers lined up on Monday evening against visiting Princeton. The game was played in the most sportsmanlike manner and was a very even-handed affair, with the hosts eventually prevailing by twenty-nine to twenty-seven.
</div>

<p>This dialog is describing the first game of <strong><code>ULTIMATE FRISBEE</code></strong>, which is the answer to the puzzle.</p>
{% endblock %}
