{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Brandon Avila{% endblock %}
{% block solution %}BOTNET{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content .flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .puzzle-content .flexbox .color {
    margin-bottom: 1em;
  }

  .puzzle-content img {
    width: 250px;
    height: 250px;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>As clued by the flavor text, this puzzle has to do with factoring primes in the complex plane. The image is a 250x250 section of the first quadrant in the complex plane beginning at (0, 0) in the bottom left corner. Each black dot represents a <a href="http://mathworld.wolfram.com/GaussianPrime.html">Gaussian prime</a> (a prime number in the ring of Gaussian integers), and each colored dot represents a composite number with exactly two factors.</p>

<p>For each color (red through purple), the composite numbers are factored, and their factors are connected pairwise in the plane by a line as follows:</p>

<div class="flexbox">
  <div class="color">
    <p><code>B</code>: Red</p>

    <img {{ img_src_for('solutions/studies_in_two_factor_authentication/01.png') }} >

    <div>43 + 80<i>i</i> = (8 + 3<i>i</i>)(8 + 7<i>i</i>)</div>
    <div>76 + 65<i>i</i> = (8 + 3<i>i</i>)(11 + 4<i>i</i>)</div>
    <div>68 + 87<i>i</i> = (8 + 5<i>i</i>)(11 + 4<i>i</i>)</div>
    <div>58 + 103<i>i</i> = (8 + 5<i>i</i>)(11 + 6<i>i</i>)</div>
    <div>46 + 125<i>i</i> = (8 + 7<i>i</i>)(11 + 6<i>i</i>)</div>
  </div>
  <div class="color">
    <p><code>O</code>: Orange</p>

    <img {{ img_src_for('solutions/studies_in_two_factor_authentication/02.png') }} >

    <div>6 + 3<i>i</i> = (2 + <i>i</i>)(3)</div>
    <div>12 + 3<i>i</i> = (4 + <i>i</i>)(3)</div>
    <div>10 + 11<i>i</i> = (4 + <i>i</i>)(3 + 2<i>i</i>)</div>
    <div>4 + 7<i>i</i> = (2 + <i>i</i>)(3 + 2<i>i</i>)</div>
  </div>
  <div class="color">
    <p><code>T</code>: Yellow</p>

    <img {{ img_src_for('solutions/studies_in_two_factor_authentication/03.png') }} >

    <div>47 + 140<i>i</i> = (8 + 7<i>i</i>)(12 + 7<i>i</i>)</div>
    <div>79 + 100<i>i</i> = (10 + 7<i>i</i>)(10 + 3<i>i</i>)</div>
  </div>
  <div class="color">
    <p><code>N</code>: Green</p>

    <img {{ img_src_for('solutions/studies_in_two_factor_authentication/04.png') }} >

    <div>11 + 24<i>i</i> = (4 + <i>i</i>)(4 + 5<i>i</i>)</div>
    <div>19 + 34<i>i</i> = (6 + <i>i</i>)(4 + 5<i>i</i>)</div>
    <div>31 + 36<i>i</i> = (6 + <i>i</i>)(6 + 5<i>i</i>)</div>
  </div>
  <div class="color">
    <p><code>E</code>: Blue</p>

    <img {{ img_src_for('solutions/studies_in_two_factor_authentication/05.png') }} >

    <div>15 + 104<i>i</i> = (6 + 5<i>i</i>)(10 + 9<i>i</i>)</div>
    <div>33 + 58<i>i</i> = (6 + 5<i>i</i>)(8 + 3<i>i</i>)</div>
    <div>57 + 178<i>i</i> = (10 + 9<i>i</i>)(12 + 7<i>i</i>)</div>
    <div>60 + 109<i>i</i> = (11 + 4<i>i</i>)(8 + 7<i>i</i>)</div>
  </div>
  <div class="color">
    <p><code>T</code>: Purple</p>

    <img {{ img_src_for('solutions/studies_in_two_factor_authentication/06.png') }} >

    <div>1 + 12<i>i</i> = (1 + 2<i>i</i>)(5 + 2<i>i</i>)</div>
    <div>9 + 6<i>i</i> = (3 + 2<i>i</i>)(3)</div>
  </div>
</div>

<p>Taken in order, these letters spell out the solution, <strong><code>BOTNET</code></strong>.</p>
{% endblock %}
