{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By James Douberley and Ryan Veeder{% endblock %}
{% block solution %}BONE GRAFT{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content .solution-table th {
    text-align: left;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>
  The outlines are bones, and the images clue nouns from the first half of titles of episodes of TV&rsquo;s <i>Bones</i>, which are all of the form “The X in the Y.”
</p>

<table class="solution-table">
<tr>
  <th>Diagram<br>Location</th>
  <th>Bone</th>
  <th>Image Reference</th>
  <th><i>Bones</i> Episode</th>
  <th>Shared Letter</th>
</tr>
<tr>
  <td>9</td>
  <td><code>PATELLA</code></td>
  <td>Homestar Runner’s The Cheat</td>
  <td>The <code>CHEAT</code> in the <code>RETREAT</code></td>
  <td><code>T</code></td>
</tr>
<tr>
  <td>7</td>
  <td><code>MANDIBLE</code></td>
  <td>TV&rsquo;s <i>The Critic</i></td>
  <td>The <code>CRITIC</code> in the <code>CABERNET</code></td>
  <td><code>A</code></td>
</tr>
<tr>
  <td>3</td>
  <td><code>STERNUM</code></td>
  <td><i>Sandman</i>’s Death</td>
  <td>The <code>DEATH</code> in the <code>DEFENSE</code></td>
  <td><code>N</code></td>
</tr>
<tr>
  <td>6</td>
  <td><code>SACRUM</code></td>
  <td>Iconic Barack Obama “HOPE” posters</td>
  <td>The <code>HOPE</code> in the <code>HORROR</code></td>
  <td><code>R</code></td>
</tr>
<tr>
  <td>8</td>
  <td><code>FEMUR</code></td>
  <td>TV&rsquo;s <i>LOST</i></td>
  <td>The <code>LOST</code> in the <code>FOUND</code></td>
  <td><code>F</code></td>
</tr>
<tr>
  <td>5</td>
  <td><code>ZYGOMATIC</code></td>
  <td>Nightmare, a D&amp;D monster</td>
  <td>The <code>NIGHTMARE</code> in the <code>NIGHTMARE</code></td>
  <td><code>G</code></td>
</tr>
<tr>
  <td>2</td>
  <td><code>COCCYX</code></td>
  <td>Overturned salt shaker</td>
  <td>The <code>SALT</code> in the <code>WOUNDS</code></td>
  <td><code>O</code></td>
</tr>
<tr>
  <td>4</td>
  <td><code>HUMERUS</code></td>
  <td>Diagrams of American Sign Language</td>
  <td>The <code>SIGNS</code> in the <code>SILENCE</code></td>
  <td><code>E</code></td>
</tr>
<tr>
  <td>1</td>
  <td><code>RIB</code></td>
  <td>Two headless Lego minifigures</td>
  <td>The <code>TWO BODIES</code> in the <code>LAB</code></td>
  <td><code>B</code></td>
</tr>
</table>

<p>
  The length of the name of each bone is the same as the second noun from the episode title, and shares one letter in the same position. When ordered by the numbers from the diagram, these spell <strong><code>BONE GRAFT</code></strong>.
</p>
{% endblock %}
