{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Elizabeth French and Justin Melvin{% endblock %}
{% block solution %}EXTEND{% endblock %}

{% block solution_head_block %}
  <script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.3.0"></script>
  <script>
    $(document).ready(function() {
      twemoji.folder = '2/svg';
      twemoji.parse(document.body);
    });
  </script>
  <style>
    .puzzle-content img.emoji {
      width: 1em;
      height: 1em;
      margin-left: 0.25em;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <p>This puzzle is a cryptogram with some additional elements. There
    are 26 distinct emoji, which suggests a simple letter
    substitution. Using frequency analysis or online cryptogram
    solvers, it&rsquo;s possible to assign letters for most of the
    emoji:</p>

  <blockquote>
    <p>HELLO! T🌌VIIIIS IS YOU🎸I MOM. I&rsquo;M HAVING A GR👩RAT TIME
      OUT HE🎮BPE AT BAR T👩EIVIA W👩VTH 🎸PAREN AND ROXIE 👩SROM 🌌XXHE
      PTA, BUT 🎸GHEY 🇱🇾XPECT ME TO 🌌XINOW A LOT O🌌VI A🌌XIVSWERS THA👩G
      🎮TO 👩WUST 🎸WON&rsquo;T REM🇱🇾MBER! LOL! CAN 🇱🇾U 👩UELP US ON
      T🎮VLESE?  THAT WOU🌌XIID BE &ldquo;LIT&rdquo;! THAN🎮IBS! XO🎸COXO
      &mdash; M👩BM</p>

    <p>ON WHA👩G WOULD YOU LEAVE A W🎮BGSH DUR🌌IXNG THE 👩WAPAN🇱🇾SE STAR 
      CELEBRATION, WHICH 🌌IIIOMMEMORATES THE MEETING O🎸U CE👩YESTIAL LOVERS
      WHO 🎮GCOURN🇱🇾ID ACRO🎮UXS THE MIL👩XY WAY?</p>

    <p>ACCORDI🎮GGG TO SINGER/SON🌌VIIWRITER AND GUIT👩NR-PLA🎸BER 🌌XAMES
      TAYLO👩E IN 🌌I NINE🇱🇾TN SEV🇱🇾NTY-S🎮MRVEN HIT SIN🎸TLE, &ldquo;N🎮GH
      ONE CAN TELL M👩R THAT I&rsquo;🌌XIII DOING WRONG TODAY WH🎸VNEVER
      I 🇱🇾C 🇱🇾UR&rdquo; W👩UAT?</p>

    <p>M👩NY THE 🌌IIEST WOMAN WIN! IN RU👩CAUL&rsquo;S DRAG R🎮YBCE, WHAT
      🎸WOES SHEA COULEE WEAR ON HE🌌XVIII HEAD TO REPRE🎸HENT HER HOME
      T👩BWN?</p>

    <p>WH🌌IT PUBLICATION OUTLINED THE POLITICAL PH🎸RLOSOPHY O🎮MS
      M🌌XXIAMMAR GADDA🎮AEI, WHO GOVERNED 🎸OIBYA UNTI🎮EG HE WAS
      CAPTURED A👩AD EXE🎸XUTED BY NTC MILITA🎸MTS?</p>

    <p>IN THE BESTS🇱🇾LING VIDEO 👩TAME SERI🇱🇾S O👩S ALL TIME, WHO D🎸LES
      M🎮MNRIO USUA👩YLY RESCUE (TWO WORDS)?</p>
  </blockquote>

  <p>However, some emoji are not used as letters, but rather as
    &ldquo;commands&rdquo; (as suggested by the flavortext), which
    change the translation of one or more subsequent letters:</p>

  <ul>
    <li>🌌 (Milky Way Emoji): The following letters are Roman numerals,
      which index into the alphabet. e.g., 🌌VIIII is 8, or H.</li>
    <li>👩 (Woman Emoji): The following letter must be decoded with
      <a href="https://en.wikipedia.org/wiki/ROT13">ROT13</a>. e.g., 👩R
      is E.</li>
    <li>🎸 (Guitar Emoji): The following letter must be decoded using
      the <a href="https://en.wikipedia.org/wiki/Atbash">Atbash cipher</a>.
      e.g., 🎸I is R.</li>
    <li>🇱🇾 (Flag for Libya Emoji): The following letter must be
      replaced with its name of the letter. e.g., 🇱🇾X should be read
      as EX.</li>
    <li>🎮 (Video Game Emoji): The following two letters should be
      added together, mod-26. e.g., 🎮AB is C, and 🎮YD is B.</li>
  </ul>

  <p>Using these rules, the full text of the message can be decoded,
    and the questions answered:</p>

  <blockquote>
    <p>hello! this is your mom. i&rsquo;m having a great time out here at bar trivia with karen and roxie from the pta, but they expect me to know a lot of answers that I just don&rsquo;t remember! lol! can you help us on these? that would be &ldquo;lit&rdquo;! thanks! xoxoxo &mdash; mom</p>
  </blockquote>

  <table class="solution-table">
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tr>
      <td>on what would you leave a wish during the japanese star celebration, which commemorates the meeting of celestial lovers who journeyed across the milky way?</td>
      <td>tanabata tree</td>
    </tr>
    <tr>
      <td>according to singer/songwriter and guitar-player james
        taylor in a nineteen seventy-seven hit single, &ldquo;no one
        can tell me that i’m doing wrong today whenever i see
        your&rdquo; what?</td>
      <td>smiling face</td>
    </tr>
    <tr>
      <td>may the best woman win! in rupaul&rsquo;s drag race, what
        does shea coulee wear on her head to represent her home town?</td>
      <td>hot dog</td>
    </tr>
    <tr>
      <td>what publication outlined the political philosophy of
        muammar gaddafi, who governed libya until he was captured and
        executed by ntc militants?</td>
      <td>Green Book</td>
    </tr>
    <tr>
      <td>in the bestselling video game series of all time, who does
        mario usually rescue (two words)?</td>
      <td>Princess Peach</td>
    </tr>
  </table>

  <p>Each of these answers corresponds to one (or two) emoji, which
    are used in the original cryptogram code. Additionally, each of
    the questions refers to one of the command emoji. Each of these
    commands can be applied to the answers:</p>

  <table class="solution-table condensed-table">
    <thead>
      <tr>
        <th>Command emoji</th>
        <th>Answer emoji</th>
        <th>Answer decoded</th>
        <th>Command result</th>
      </tr>
    </thead>
    <tr>
      <td>🌌</td>
      <td>🎋</td>
      <td>V</td>
      <td><code>E</code></td>
    </tr>
    <tr>
      <td>🎸</td>
      <td>☺</td>
      <td>C</td>
      <td><code>X</code></td>
    </tr>
    <tr>
      <td>👩</td>
      <td>🌭</td>
      <td>G</td>
      <td><code>T</code></td>
    </tr>
    <tr>
      <td>🇱🇾</td>
      <td>📗</td>
      <td>N</td>
      <td><code>EN</code></td>
    </tr>
    <tr>
      <td>🎮</td>
      <td>👸🍑</td>
      <td>IU</td>
      <td><code>D</code></td>
    </tr>
  </table>

  <p>Reading the results of the commands in order yields the answer to
    the puzzle, <strong><code>EXTEND</code></strong>.
{% endblock %}
