{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Colin Liotta{% endblock %}
{% block solution %}VIRTUALIZED ENVIRONMENT{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content table.automata tr {
    height: 20px;
  }

  .puzzle-content table.automata td {
    width: 20px;
    border: 1px black solid;
    text-align: center;
  }

  .puzzle-content table td.no-frame {
    border: none;
  }

  /* Go go gadget specificity wars! */
  .puzzle-content table.automata td.spacer, table.automata td.arrow {
    border: none;
  }

  .puzzle-content .white {
    background-color: white;
  }

  .puzzle-content .black {
    background-color: black;
  }

  .puzzle-content .green {
    background-color: #ccffcc;
  }

  .puzzle-content .smallblack {
    height: 12px;
    width: 14px;
    margin: auto;
    background-color: black;
  }

  .puzzle-content .largeblack {
    height: 20px;
    width: 20px;
    margin: auto;
    background-color: black;
  }

  @media print {
    .puzzle-content .black, .puzzle-content .smallblack, .puzzle-content .largeblack {
      box-shadow: inset 0 0 0 1000px black;
    }

    .puzzle-content .green {
      box-shadow: inset 0 0 0 1000px #ccffcc;
    }
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>The flavor text clues “rules”, “wolf”, and “automata”. And if you look at the pattern of squares on the left, you can see that each row of squares is changing and “evolving” to form the next row. This clues you to Stephen Wolfram’s exploration of <a href="http://mathworld.wolfram.com/CellularAutomaton.html">1-dimensional cellular automata.</a></p>

<p>In a 1-dimensional cellular automaton, each row is an evolution of the previous row, and there are 256 different possible rules for how a row of squares can evolve. Normally, there is a seed row at the top and then the same rule is applied over and over to create a full grid of squares that show the evolution of that rule over time. In this puzzle, however, the rule changes with each row.</p>

<p>There is an established way for determining which rule is being used to evolve each row, based off of Stephen Wolfram’s taxonomy. To determine what rule is being used for any particular row, first scan the top row for every possible 3 square combination (e.g. “BBB”, “BBW”, up to “WWW”) and then determine what color square is produced in the bottom row for the center of that particular 3 square combination (e.g. with rule 30, “BBB” produces “W”, “BBW” produces “W”, “BWW” produces “B”). Combine those colored squares together in order from “BBB” to “WWW” to form an 8-bit number giving the specific rule number.</p>

<p>Using this technique, you can either write a program or solve by hand to determine each of the rules that are used to evolve the set of squares on the left. Once you have the list of rules, the second part of the puzzles is to then re-apply those same rules in the same order to the set of squares on the right, using the provided seed row as the starting point.</p>

<p>After you fill in the entire set of rows, then you can use the green squares to extract an intermediary message. Take the 5 values for the green squares in each row, combine them together to form a 5-bit binary number, convert to decimal, and index into the alphabet. Reading down from the top, you get <code>RULE NUMBER HIGH FIVE BITS</code>.</p>

<p>You can then go back to the list of rules and take the high five bits from each rule number. Convert those five bits to a number and then to a letter in the same way as before and you spell out the final answer: <strong><code>VIRTUALIZED ENVIRONMENT</code></strong>.</p>

<p>Solved rows and rules follow:</p>
<table class="automata">
  <tbody>
    <tr>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"><div class="smallblack"></div></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="green"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="green"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="green"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="green"></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"><div class="smallblack"></div></td>
    </tr>

    <tr>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
      <td colspan="2" class="spacer"></td>
      <td colspan="16" class="arrow"><img src="{{ asset_url_for('puzzles/the_next_generation/arrow.png') }}"></td>
    </tr>

    <tr>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="black"></td>
      <td class="white"></td>

      <td class="no-frame"></td>
      <td class="no-frame"></td>

      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="white"><div class="smallblack"></div></td>
      <td class="white"></td>
      <td class="green"><div class="smallblack"></div></td>
      <td class="white"></td>
    </tr>
  </tbody>
</table>

<table class="solution-table">
  <tbody>
    <tr>
      <th>Rule #</th>
      <th>Highlighted Bits</th>
      <th>Green Bits</th>
      <th>Letter</th>
      <th>1st 5 Bits</th>
      <th>New Letter</th>
    </tr>
    <tr>
      <td>180</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
          </tr>
      </table>
      </td>
      <td>18</td>
      <td><code>R</code></td>
      <td>22</td>
      <td><strong><code>V</code></strong></td>
    </tr>
    <tr>
      <td>78</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
          </tr>
        </table>
      </td>
      <td>21</td>
      <td><code>U</code></td>
      <td>9</td>
      <td><strong><code>I</code></strong></td>
    </tr>
    <tr>
      <td>145</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"></td>
          </tr>
        </table>
      </td>
      <td>12</td>
      <td><code>L</code></td>
      <td>18</td>
      <td><strong><code>R</code></strong></td>
    </tr>
    <tr>
      <td>166</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
          </tr>
        </table>
      </td>
      <td>5</td>
      <td><code>E</code></td>
      <td>20</td>
      <td><strong><code>T</code></strong></td>
    </tr>
    <tr>
      <td>170</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
          </tr>
        </table>
      </td>
      <td>14</td>
      <td><code>N</code></td>
      <td>21</td>
      <td><strong><code>U</code></strong></td>
    </tr>
    <tr>
      <td>15</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
          </tr>
        </table>
      </td>
      <td>21</td>
      <td><code>U</code></td>
      <td>1</td>
      <td><strong><code>A</code></strong></td>
    </tr>
    <tr>
      <td>102</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
          </tr>
        </table>
      </td>
      <td>13</td>
      <td><code>M</code></td>
      <td>12</td>
      <td><strong><code>L</code></strong></td>
    </tr>
    <tr>
      <td>75</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
          </tr>
        </table>
      </td>
      <td>2</td>
      <td><code>B</code></td>
      <td>9</td>
      <td><strong><code>I</code></strong></td>
    </tr>
    <tr>
      <td>211</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
          </tr>
        </table>
      </td>
      <td>5</td>
      <td><code>E</code></td>
      <td>26</td>
      <td><strong><code>Z</code></strong></td>
    </tr>
    <tr>
      <td>43</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
          </tr>
        </table>
      </td>
      <td>18</td>
      <td><code>R</code></td>
      <td>5</td>
      <td><strong><code>E</code></strong></td>
    </tr>
    <tr>
      <td>39</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"></td>
          </tr>
        </table>
      </td>
      <td>8</td>
      <td><code>H</code></td>
      <td>4</td>
      <td><strong><code>D</code></strong></td>
    </tr>
    <tr>
      <td>41</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
          </tr>
        </table>
      </td>
      <td>9</td>
      <td><code>I</code></td>
      <td>5</td>
      <td><strong><code>E</code></strong></td>
    </tr>
    <tr>
      <td>113</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"><div class="largeblack"></div></td>
          </tr>
        </table>
      </td>
      <td>7</td>
      <td><code>G</code></td>
      <td>14</td>
      <td><strong><code>N</code></strong></td>
    </tr>
    <tr>
      <td>180</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"></td>
          </tr>
        </table>
      </td>
      <td>8</td>
      <td><code>H</code></td>
      <td>22</td>
      <td><strong><code>V</code></strong></td>
    </tr>
    <tr>
      <td>75</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
          </tr>
        </table>
      </td>
      <td>6</td>
      <td><code>F</code></td>
      <td>9</td>
      <td><strong><code>I</code></strong></td>
    </tr>
    <tr>
      <td>145</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
          </tr>
        </table>
      </td>
      <td>9</td>
      <td><code>I</code></td>
      <td>18</td>
      <td><strong><code>R</code></strong></td>
    </tr>
    <tr>
      <td>124</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
          </tr>
        </table>
      </td>
      <td>22</td>
      <td><code>V</code></td>
      <td>15</td>
      <td><strong><code>O</code></strong></td>
    </tr>
    <tr>
      <td>118</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
          </tr>
        </table>
      </td>
      <td>5</td>
      <td><code>E</code></td>
      <td>14</td>
      <td><strong><code>N</code></strong></td>
    </tr>
    <tr>
      <td>104</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
          </tr>
        </table>
      </td>
      <td>2</td>
      <td><code>B</code></td>
      <td>13</td>
      <td><strong><code>M</code></strong></td>
    </tr>
    <tr>
      <td>45</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
          </tr>
        </table>
      </td>
      <td>9</td>
      <td><code>I</code></td>
      <td>5</td>
      <td><strong><code>E</code></strong></td>
    </tr>
    <tr>
      <td>118</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"></td>
          </tr>
        </table>
      </td>
      <td>20</td>
      <td><code>T</code></td>
      <td>14</td>
      <td><strong><code>N</code></strong></td>
    </tr>
    <tr>
      <td>167</td>
      <td>
        <table class="automata">
          <tr>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"></td>
            <td class="green"></td>
            <td class="green"><div class="largeblack"></div></td>
            <td class="green"><div class="largeblack"></div></td>
          </tr>
        </table>
      </td>
      <td>19</td>
      <td><code>S</code></td>
      <td>20</td>
      <td><strong><code>T</code></strong></td>
    </tr>
  </tbody>
</table>
{% endblock %}
