{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Kevin Hwang and Hubert Hwang{% endblock %}
{% block solution %}BE MEAN{% endblock %}

{% block solution_head_block %}
<style>
</style>
{% endblock %}

{% block solution_content_block %}
<p>These are the puzzle answers from this section (given here in alphabetical order):</p>

<ul>
  <li><code>BUSH</code></li>
  <li><code>CEILING</code></li>
  <li><code>JADE</code></li>
  <li><code>LENT</code></li>
  <li><code>RIM</code></li>
  <li><code>YARDARM</code></li>
</ul>

<p>The mention of badges and the youngsters&rsquo; names (Tim and Kim) should point solvers towards the direction of gym badges, which are earned in the Pok&eacute;mon game for defeating gym leaders.</p>

<p>The puzzles in this round have titles that rhyme with badges from the original series (Red/Blue/Yellow).</p>

<table class="solution-table">
  <tr>
    <th><b>Puzzle Title</b></th><th><b>Rhyming Badge</b></th><th><b>Badge Order</b></th><th><b>Puzzle Answer</b></th>
  </tr>
  <tr>
    <td><b>Older</b> and Wiser</td><td><b>Boulder</b> Badge</td><td>1</td><td><code><b>B</b>USH</code></td>
  </tr>
  <tr>
    <td><b>Mass Aid</b></td><td><b>Cascade</b> Badge</td><td>2</td><td><code>L<b>E</b>NT</code></td>
  </tr>
  <tr>
    <td><b>Under</b> Control</td><td><b>Thunder</b> Badge</td><td>3</td><td><code>RI<b>M</b></code></td>
  </tr>
  <tr>
    <td><b>Vain Snow</b>ball</td><td><b>Rainbow</b> Badge</td><td>4</td><td><code>JAD<b>E</b></code></td>
  </tr>
  <tr>
    <td><b>Shoal</b> Patrol</td><td><b>Soul</b> Badge</td><td>5</td><td><code>YARD<b>A</b>RM</code></td>
  </tr>
  <tr>
    <td><b>Harsh</b> Financial Scrutiny</td><td><b>Marsh</b> Badge</td><td>6</td><td><code>CEILI<b>N</b>G</code></td>
  </tr>
</table>

<p>Sorting the six puzzles by gym order and diagonalizing produces the answer, <strong><code>BE MEAN</code></strong>.</p>


{% endblock %}
