{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Kevin Hwang, Leland Aldridge, Emilie Josephs, Simone Agha, and Ryan Veeder{% endblock %}
{% block solution %}TASTEFUL HEARTFELT PASSIONATE CAUTIOUS DELIGHTFUL{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content img {
    max-width: 80%;
  }

  .puzzle-content .img-div {
    margin: auto;
    text-align: center;
  }

  @media screen {
    .puzzle-container.red.blue.green.yellow.purple {
      background-image:
        url( {{ asset_url_for('rounds/memories/images/puzzle-page/backgrounds/all.svg') }} );
    }
  }
</style>
{% endblock %}

{% block solution_content_block %}
{% set puzzle_target = 'full_puzzle' if session.usertype == 'writingteam' else 'puzzle' %}

<p>Solvers are tasked with entering the Brainstorm and locating 5 idea fragments scattered around. They are provided with The Mind Worker’s Handbook for Idea Generation, which provides instructions on how to do this.</p>

<p>This is a runaround. Portions of instructions of the runaround route have been broken up into several sections, each of which ends with an indication to look at a particular object in the area and then asking how the reader feels (in multiple choice format). The method for interpreting this is color-based: the objects in question will be one or a combination of colors from the set [RED, YELLOW, GREEN, BLUE, PURPLE], which canonically fit with corresponding emotions [ANGER, JOY, DISGUST, SADNESS, FEAR].</p>

<p>Upon completing the runaround, teams were sent to meet Buzzy outside the Control Room for a very <a href="{{ url_for(puzzle_target, puzzle_id='emotional_finale') }}">Emotional Finale</a>.</p> 

<p>The full route is presented below, with annotations bolded.</p>

<div>Section A:</div>
<ul>
  <li>
    <div>Enter building 6C basement from the outside.</div>
    <div><b>There is only one place to do this, in the hallway near the elevator. This uniquely identifies a start location in 6C-0 and initial direction, north.</b></div>
  </li>
  <li>Head up the ramp, and immediately turn left. Go through a set of double doors.</li>
  <li>Walk forward and go down two stairs.</li>
  <li>Turn left, pass through another set of double doors, and turn right.</li>
  <li>
    <div>Walk forward until a 3-way intersection. One of the two options appears to go for a longer distance before terminating. Go the other way.</div>
    <div><b>The 3 way intersection is the infinite corridor basement. Route turns right.</b></div>
  <li>Go forward as far as possible.</li>
  <li>
    <div>Turn right and walk forward until you can see LASER on your right.</div>
    <div><b>The MIT Laser Biomedical Research Center, across from room 6-007.</b></div>
  </li>
  <li>You should be standing on a section of carpet.</li>
  <li>
    <div>Look down and check. Also look at the nearby walls. How do you feel?</div>
    <div><b>They’re red, so ANGER is the correct emotion</b></div>
  </li>
</ul>
<p>
  <div>If you feel SAD, go to Section I.</div>
  <div><b>If you feel ANGRY, go to Section B.</b></div>
  <div>If you feel AFRAID, go to Section E.</div>
</p>

<div>Section B:</div>
<ul>
  <li>Turn around. Walk forward through double doors, until you see a long hallway on the left.</li>
  <li>
    <div>Go forward until you see an elf and a member of the Beatles on your left.</div>
    <div><b>This is “Prof. Dobby” and a sign for the George R. Harrison Spectroscopy lab, at the stairs in the building 8 basement.</b></div>
  </li>
  <li>
    <div>Turn right, and go forward approximately 19 steps until you find yourself with a black door on your right.</div>
    <div><b>“approximately 19 steps” is the 19 steps up the stairs from 8-0 to 8-1.</b></div>
  </li>
  <li>
    <div>Go through the door and turn right.</div>
    <div>You are now on 8-1, as if having entered from the east end of the infinite.</div>
  </li>
  <li>Go forward to a 4-way intersection. Go right, and go up the nearby stairs 1 floor.</li>
  <li>
    <div>Exit the stairs and turn right, going through double doors, until you find something deformed on your left. Look at the picture there.</div>
    <div><b>There is a display case here (8-2) with a diagram on the Mechanics of Cell Deformation. The cell drawing in the background has a nuclear stain in BLUE and a cytoskeletal marker in RED, so SADNESS and ANGER.</b></div>
  </li>
  <li>How do you feel?</li>
</ul>
<p>
  <div>If you feel DISGUSTED, but also SCARED, go to Section G.</div>
  <div><b>If you feel DEJECTED, but also ENRAGED, go to Section M.</b></div>
  <div>If you feel HAPPY, go to Section P.</div>
</p>

<div>Section M:</div>
<ul>
  <li>Face south and travel forward to the nearest staircase.</li>
  <li>Go up 1 floor and go forward until you find an emergency electrical room on your left (not just a regular electrical room, a special one)</li>
  <li>
    <div>Face away from that room. There are two rooms directly across the hall from you; enter the one with a larger room number. (<i>During Hunt 2018 the combination for this room was also given here, but for posterity the combo is redacted</i>). Within the room, locate Disgust’s idea fragment.</div>
    <div><b>The room you are looking for is 8-316. In a previous visit from Disgust, you had been given a small thin rope with a series of green markings on it. When you enter the room, you see a green board with nails sticking out, and letters written next to each nail.

    <div class="img-div">
    <img {{ img_src_for('solutions/the_brainstorm/disgust_board.jpg') }}>
    </div>

    You wrap the loop at the end of the rope around the nail at the center of the board. Moving the rope around the nailboard you see that there is only one nail at the green marking on the rope; wrap the rope around the nail so the green is completely covered, and continue. The nails you wrapped the rope around in order spell <code>TASTERFUL</code>, so that is the answer to Disgust's idea fragment.

    </b></div>
  </li>
  <li>Exit the room, closing the door behind you, and turn right.</li>
  <li>Walk forward past three benches and a set of double doors.</li>
  <li>
    <div>At the next intersection, turn left. On your left in front of you will be something that might make you sick and angry.</div>
    <div><b>It’s a red sign for the Cecil and Ida Green Center, so red + green = sick + angry</b></div>
  </li>
  <li>Go to the end of the hallway.</li>
  <li>
    <div>Turn left and follow the path until you can see a ramp leading to a rear entrance.</div>
    <div><b>Rear entrance to 4-370 is labeled.</b></div>
  </li>
  <li>
    <div>The closest door to you has a circular sticker on it. Look at that sticker.</div>
    <div><b>Warning sticker about automatic opening door&mdash;it is yellow (JOY) and black.</b></div>
  </li>
  <li>How do you feel?</li>
</ul>
<p>
  <div><b>If you feel JUBILANT, go to Section G.</b></div>
  <div>If you feel ALARMED and UNHAPPY, go to Section R.</div>
  <div>If you feel IRATE, go to Section L.</div>
</p>

<div>Section G:</div>
<ul>
  <li>
    <div>Walk to the nearest staircase and go down 2 floors.</div>
    <div><b>This is the 1st floor intersection between building 2 and 4, outside the Math undergraduate lounge.</b></div>
  </li>
  <li>
    <div>To your left and right are two signs with very similar names on them. Identify the sign with the longer middle name, and go to the double doors adjacent to that sign.</div>
    <div><b>There’s a bronze plaque labeled “Ellen Henrietta Richards” to the north, and a sign overhead to the south labeling this as the Ellen Swallow Richards Lobby. There’s another display sort of to the southeast about ESR’s life. They’re all the same person.</b></div>
  </li>
  <li>Pass through the double doors and walk forward underneath 15 overhead rectangular lights.</li>
  <li>
    <div>On your left, behind a table, is a map. Find France.</div>
    <div>There is a world map in a display case, behind a periodic table. France is purple on this map. (FEAR)</div>
  </li>
  <li>How do you feel?</li>
</ul>
<p>
  <div><b>If you feel FRIGHTENED, go to Section F.</b></div>
  <div>If you feel LIVID, go to Section O.</div>
  <div>If you feel ECSTATIC, go to Section J.</div>
</p>

<div>Section F:</div>
<ul>
  <li>
    <div>Facing away from iron, you should be able to see steel. Walk in the opposite direction down the hallway.</div>
    <div><b>Iron is on the periodic table. Steel is from a display about Damascus steel just south of this display case (on the opposite side of the hallway). Go north.</b>
  </div>
  <li>
    <div>Walk until you reach two benches. Nearby, locate Sadness’s idea fragment.</div>
    <div><b>Uses the Radiation Laboratory plaque located here outside 4-133, near the infinite corridor. The plaque looks like this:

    <div class="img-div">
    <img {{ img_src_for('solutions/the_brainstorm/radiation_plaque.jpg') }}>
    </div>

    And previously, Sadness in a visit to your team's HQ had given you a blueprint, which happens to be exactly the size of the plaque (11 x 17 inches):

    <div class="img-div">
    <img {{ img_src_for('solutions/the_brainstorm/sadness_blueprint.png') }}>
    </div>

    When you overlay the blueprint over the plaque and read the letters under the blue squares, you get the answer <code>HEARTFELT</code>.</b></div>
  </li>
  <li>Afterwards, walk north to the nearest intersection.</li>
  <li>
    <div>Turn left and walk forward until you find a room with inscriptions.</div>
    <div><b>Lobby 10.</b></div>
  </li>
  <li>
    <div>Turn right and go forward a few steps. Directly in front of you, there are three sets of doors that are all the same color.</div>
    <div><b>Three sets of green doors (two elevators, and the double doors to 13-1) = DISGUST.</b></div>
  </li>
  <li>Look at those doors. How do you feel?</li>
</ul>
<p>
  <div>If you feel ANNOYED, go to Section D:</div>
  <div>If you feel JOVIAL, go to Section N.</div>
  <div><b>If you feel REPULSED, go to Section I.</b></div>
</p>

<div>Section I:</div>
<ul>
  <li>Go through the double doors and walk forward to a 3-way intersection.</li>
  <li>
    <div>Take the left path and follow it as it winds to the right. When you reach stairs, take the first set of stairs down, but not the second. Instead, turn left. Prepare yourselves and go forward through the door, then down those stairs instead.</div>
    <div><b>Head outside from lobby 13’s side door, on the west side.</b></div>
  </li>
  <li>
    <div>Turn left as soon as possible after the stairs and enter the closest door (on your left).</div>
    <div><b>Reenter 10-0 from President’s Courtyard.</b></div>
  </li>
  <li>
    <div>Walk down the stairs and turn left.</div>
    <div><b>Enter 13 basement.</b></div>
  </li>
  <li>Walk down a short ramp. After the ramp, take another left.</li>
  <li>
    <div>Walk forward as the path rises and falls. Continue until you find an elevator on your right.</div>
    <div><b>This is the elevator in the basement between building 13 and building 9.</b></div>
  </li>
  <li>
    <div>Across the hallway from the elevator, two cylindrical poles are bolted to the floor. Look at them. How do you feel?</div>
    <div><b>They are yellow poles, so JOY.</b></div>
</ul>
<p>
  <div>If you feel MAD, go to Section B.</div>
  <div>If you feel SAD, go to Section C.</div>
  <div><b>If you feel GLAD, go to Section R.</b></div>
</p>

<div>Section R:</div>
<ul>
  <li>Facing away from the metal doors, turn right.</li>
  <li>
    <div>Walk forward until you reach double doors, but don’t pass through them. Instead turn left, and go through a single door.</div>
    <div><b>Stairs to sub-9 from the basement.</b></div>
  </li>
  <li>Go in the only available direction.</li>
  <li>Exit through a white door and turn left.</li>
  <li>
    <div>Walk forward until you reach a gate with two doors, which should be open.</div>
    <div><b>Outer fence of the sub-9 area.</b></div>
  </li>
  <li>
    <div>Go through the doors and look to your left – high in the next room (whose room number ends with “a”) you can see two characters written twice, in two colors.</div>
    <div><b>KAPPA SIIIIIG (in red and green)</b></div>
  </li>
  <li>How do you feel?</li>
</ul>
<p>
  <div>If you feel DESPONDENT but a little bit HOPEFUL, go to Section K.</div>
  <div><b>If you feel INCENSED and DISGUSTED, go to Section D.</b></div>
  <div>If you feel ALARMED and INFURIATED, go to Section Q.</div>
</p>

<div>Section D:</div>
<ul>
  <li>Turn around and pass back through the doors you just came through, then turn left immediately.</li>
  <li>Walk forward as far as you can. Turn left, then right immediately.</li>
  <li>Walk to the end of the hallway.</li>
  <li>
    <div>Enter the elevator. Go three floors up.</div>
    <div><b>Going 3 floors up from the subbasement = 9-2.</b></div>
  </li>
  <li>Go left out of the elevator.</li>
  <li>
    <div>Walk forward and up a short ramp, towards space.</div>
    <div><b>Large poster of spacewalking astronaut in 33-2.</b></div>
  </li>
  <li>When you reach it, turn left, then right again immediately.</li>
  <li>
    <div>Walk forward until you find some nice chairs.</div>
    <div><b>There are three blue chairs here (between 33-2 and 35-2). They’re not amazingly comfortable, which might make one a bit SAD.</b></div>
  </li>
  <li>Sit and take a load off. How do you feel?</li>
</ul>
<p>
  <div><b>If you feel MOURNFUL, go to Section J.</b></div>
  <div>If you feel CHEERFUL, go to Section O.</div>
  <div>If you feel FEARFUL and RAGEFUL, go to Section A.</div>
</p>

<div>Section J:</div>
<ul>
  <li>
    <div>Get up, and locate the nearest ramp. Travel up the ramp as far as possible, and go through the first set of double doors that you find after the ramp.</div>
    <div><b>Enter 35-2</b></div>
  </li>
  <li>
    <div>Walk forward to the intersection. On the wall in front of you is a direction; turn and go the other way.</div>
    <div><b>Arrow pointing to 35-225 (to the left). Go right instead.</b></div>
  </li>
  <li>Walk forward until the path zig-zags. Stop at the zag and get a drink of water.</li>
  <li>Continue following the hallway until it ends, then pass through a black double door on your right.</li>
  <li>
    <div>Go through a single black door on your left.</div>
    <div><b>Enter 37-2.</b></div>
  </li>
  <li>Walk forward down stairs and through another black door, then turn left.</li>
  <li>Walk to the vending machine, then turn right.</li>
  <li>Walk forward until you see a column on your right.</li>
  <li>
    <div>Across the hallway from an emergency device, there is a poster about something occult.</div>
    <div><b>“MagIC” is the Magellan Instant Camera. There’s a poster about it with a deep purple background. The corresponding emotion is FEAR.</b></div>
  </li>
  <li>Look at that poster. How do you feel?</li>
</ul>
<p>
  <div><b>If you feel FRIGHTENED (mostly), go to Section C.</b></div>
  <div>If you feel FURIOUS (completely), go to Section H.</div>
  <div>If you feel FRIGGIN’ HAPPY, go to Section N.</div>
</p>

<div>Section C:</div>
<ul>
  <li>
    <div>From where you are standing, you should be able to see Mars and Venus in the same direction. They’re a lot closer than you might have thought. Go in that direction as far as you can.</div>
    <div><b>The Mars Global survey poster is directly adjacent to the MagIC poster. On the other end of the hallway, just to the east, is an image of Sapas Mons on Venus (as taken by Magellan). Go east.</b></div>
  </li>
  <li>Turn left, then right. Keep walking forward.</li>
  <li>Turn right, then left. Keep walking forward.</li>
  <li>
    <div>Nearby, you should locate Anger’s idea fragment.</div>
    <div><b>In a previous visit to your team's HQ, Anger had given you a large rusty key. Mounted on a bulletin board at the east end of 37-2, near 37-287, you see an 8.5 x 11 poster:

    <div class="img-div">
    <img {{ img_src_for('solutions/the_brainstorm/anger_poster.jpg') }}>
    </div>

    When you put the key on the appropriate slot on the poster, Anger's idea fragment lights up.

    <div class="img-div">
    <img {{ img_src_for('solutions/the_brainstorm/anger_poster_solution.jpg') }}>
    </div>

    The answer is <code>PASSIONATE</code>.</b></div>
  </li>
  <li>At the end of the hallway, turn right. Continue forward and enter the stairs.</li>
  <li>Go to floor 1. Prepare yourself, and head outside.</li>
  <li>Turn left and go forward, but do not cross the street.</li>
  <li>
    <div>Turn right and continue forward until you see a ramp, stairs, and a lot of triangles (indoors) to your right.</div>
    <div><b>Enter lobby 34 from the triangle-y lobby.</b></div>
  </li>
  <li>
    <div>Go inside, then turn left and go through a set of double doors (staying indoors).</div>
    <div><b>Lobby 36.</b></div>
  </li>
  <li>
    <div>In the corner of this room, closest to the stairs, there is a large piece of machinery.</div>
    <div><b>Edison DC generator. It’s bright yellow => JOY.</b></div>
  </li>
  <li>How does it make you feel?</li>
</ul>
<p>
  <div><b>If you feel GLEEFUL, go to Section O.</b></div>
  <div>If you feel NAUSEATED, go to Section Q.</div>
  <div>If you feel DESPONDENT and VEXED, go to Section E.</div>
</p>

<div>Section O:</div>
<ul>
  <li>Go through the door with a pushbar.</li>
  <li>Go down 1 flight of stairs.</li>
  <li>Go through the door.</li>
  <li>
    <div>Walk forward until there is a railing on your left.</div>
    <div><b>36-0 mezzanine.</b></div>
  </li>
  <li>
    <div>Nearby, locate Fear’s idea fragment. Please don’t do anything Fear wouldn’t approve of.</div>
    <div><b>Fear had previously made a visit to your team's HQ and had given you an artifact: an 8-ft-long furring strip. On the opposite wall from where you are standing, you see a push button mounted on the wall above the men's bathroom. When you use your 8-ft stick to push the button:

    <div class="img-div">
    <img {{ img_src_for('solutions/the_brainstorm/fear_button.jpg') }}>
    <div><i>Thanks to team Frumious Bandersnatch for letting us use this photo.</i></div>
    </div>

    The speaker at the back of the button says the answer, which is <code>CAUTIOUS</code>.</b></div>
  </li>
  <li>
    <div>Go to the nearby elevator, and call it going up. As you enter the elevator note the triangle on the inside door frame.</div>
    <div><b>Green triangle, you’re going up. => DISGUST.</b></div>
  </li>
  <li>How do you feel?</li>
</ul>
<p>
  <div><b>If you feel NAUSEATED, go to Section Q.</b></div>
  <div>If you feel FURIOUS, go to Section I.</div>
  <div>If you feel ELATED, go to Section D.</div>
</p>

<div>Section Q:</div>
<ul>
  <li>
    <div>Go to floor 5. Exit and turn right, going as far as possible, then turn right again and proceed down the hallway.</div>
    <div><b>Go to 36-5.</b></div>
  </li>
  <li>
    <div>At a three-way intersection, turn right.</div>
    <div><b>Head towards 26-5.</b></div>
  </li>
  <li>Continue straight until you reach a ramp.</li>
  <li>Continue down the ramp and through double doors.</li>
  <li>
    <div>Go forward until you find a clock on the wall above you on the right wall.</div>
    <div><b>Located about halfway through 26’s main hallway.</b></div>
  </li>
  <li>
    <div>Continue going forward in the hallway until you find a red door on your right.</div>
    <div><b>Stairwell door.</b></div>
  </li>
  <li>Go through the red door and go up 1 flight of stairs.</li>
  <li>Go through the red door and turn left.</li>
  <li>
    <div>Proceed forward and locate JOY’s idea fragment.</div>
    <div><b>Previously on a visit to your team's HQ, Joy had given you a small laser pointer. On the wall above a pile of junk, you see this 8.5 x 11 poster:

    <div class="img-div">
    <img {{ img_src_for('solutions/the_brainstorm/joy_poster.jpg') }}>
    </div>

    When you point the laser pointer at the eye, the answer lights up:

    <div class="img-div">
    <img {{ img_src_for('solutions/the_brainstorm/joy_poster_solution.jpg') }}>
    </div>

    The answer is <code>DELIGHTFUL</code>.</b></div>
  </li>
  <li>Turn around.</li>
  <li>Go forward until you find an elevator on your right.</li>
  <li>
    <div>Facing away from the elevator, you should see a cabinet.</div>
    <div><b>It’s a bright red emergency something cabinet.</b></div>
  </li>
  <li>Look at the cabinet. How do you feel?</li>
</ul>
<p>
  <div><b>If you feel TICKED OFF, go to Section P.</b></div>
  <div>If you feel THRILLED, go to Section R.</div>
  <div>If you feel TERRIFIED, go to Section G.</div>
</p>

<div>Section P:</div>
<ul>
  <li>Turn around and call the nearby elevator.</li>
  <li>
    <div>Go down one floor and turn right.</div>
    <div><b>Elevator from 26-6 to 26-5.</b></div>
  </li>
  <li>Proceed forward to the next set of double doors.</li>
  <li>
    <div>Go through the doors and stop when you find three letters on the floor.</div>
    <div><b>The letters are LNS, from the Laboratory for Nuclear Science.</b></div>
  </li>
  <li>
    <div>Look up. How do you feel?</div>
    <div><b>This is located at the Cosmic Ray Chandeliers, which are flashy and contain all five emotional colors (and others too!).</b></div>
  </li>
</ul>
<p>
  <div>If you feel WRATHFUL, go to Section A.</div>
  <div>If you feel OFFENDED, go to Section M.</div>
  <div>If you feel PANICKY, go to Section H.</div>
  <div><b>If you feel THOROUGHLY CONFUSED, contact Cranium Command.</b></div>
</p>
<p>Putting together the five idea fragments (<code>TASTEFUL</code>, <code>HEARTFELT</code>, <code>PASSIONATE</code>, <code>CAUTIOUS</code>, <code>DELIGHTFUL</code>) and delivering that to Buzzy completes the Emotion round finale.</p>

<p>On the topic of extra runaround segments:</p>

<p>There are five extra sections available among the actual route sections, that have been included to slightly obscure the actual length of the runaround. Putting these five sections together in the correct order and following the same method as before provide a method for getting from the author&rsquo;s former lab in building 18 to a vending machine in the basement of Stata. They are provided below without comment.</p>

<div>Section H:</div>
<ul>
  <li>Go through the wooden door.</li>
  <li>Walk to the end of the hallway and turn right.</li>
  <li>Walk forward until two elevators are on your right.</li>
  <li>Enter the elevator and descend 4 floors.</li>
  <li>Turn left and walk forward as far as possible.</li>
  <li>Above the hallway ahead of you are saucer-shaped light fixtures. Walk forward past the first one, but stop underneath the second.</li>
  <li>Just before you the tile floor and wall match. Look at them. How do you feel?</li>
</ul>
<p>
  <div><b>If you feel RAPTUROUS, go to Section K.</b></div>
  <div>If you feel SCANDALIZED and TERRIFIED, go to Section B.</div>
  <div>If you are RAGE-FILLED, go to Section D.</div>
</p>

<div>Section K:</div>
<ul>
  <li>Walk forward until the end of the hallway. On your left, you’ll pass a pretty cool group along the way.</li>
  <li>Turn left and walk forward to the end of the hallway.</li>
  <li>Turn right and pass through 2 sets of double doors.</li>
  <li>Continue forward until you reach a 4-way intersection.</li>
  <li>Before you on the right, above a sign labeled “Q,” is a light.</li>
  <li>Look at that light. How do you feel?</li>
</ul>
<p>
  <div><b>If you feel SADDENED, go to Section N.</b></div>
  <div>If you feel INCENSED, go to Section Q.</div>
  <div>If you feel JOLLY, go to Section F.</div>
</p>

<div>Section N:</div>
<ul>
  <li>Face west.</li>
  <li>Walk through a doorframe containing no doors, and continue forward until you reach a double door in front of you displaying a logo a lot like Cranium Command’s.</li>
  <li>Don’t go through that door, but instead turn right.</li>
  <li>Walk forward until you get to a 3-way intersection. Take the left path.</li>
  <li>Walk forward until you reach a 3-way intersection. Take the right path.</li>
  <li>Walk forward until you reach a water fountain on your left. Stop here and take a drink.</li>
  <li>Examine the designs on the wall behind the fountain and on the closest section of wall. How do you feel?</li>
</ul>
<p>
  <div><b>If you feel DEJECTED and REVULSED, go to Section E.</b></div>
  <div>If you feel LIVID and JOCUND, go to Section R.</div>
  <div>If you feel AFRAID, go to Section F.</div>
</p>

<div>Section E:</div>
<ul>
  <li>Check both ways in the hallway you are currently in. Both directions have visible EXIT signs, but one direction’s is closer than the other. Go in the direction of the closer EXIT sign.</li>
  <li>Walk forward until you reach a 3-way intersection.</li>
  <li>Turn right.</li>
  <li>Walk forward and down a slight ramp. Then walk forward and down another slight ramp. You should reach a 3-way intersection.</li>
  <li>Walk straight, passing a short set of stairs, until you reach a 3-way intersection. One of the two options has a bench along that path; go in that direction.</li>
  <li>Proceed down that path until you find yourself between two benches.</li>
  <li>The path makes a sharp left turn here. There is also a stairwell. Follow the path to the left; you will come across several sets of lockers.</li>
  <li>Look at the leftmost column of lockers. How do you feel?</li>
</ul>
<p>
  <div>If you feel QUEASY, go to Section C.</div>
  <div><b>If you feel MERRY, but a little bit MOROSE, go to Section L.</b></div>
  <div>If you feel ANGRY, go to Section G.</div>
</p>

<div>Section L:</div>
<ul>
  <li>From where you are standing, there is a single visible sign with lit red letters. Face that direction.</li>
  <li>Walk forward as far as you can.</li>
  <li>You should be adjacent to a set of double doors – go through and continue straight to the end of the hallway.</li>
  <li>Turn left and go forward. You’ll pass two sets of double doors on your left (one of which is a mail room), before coming across a set of double doors in front of you.</li>
  <li>Pass through the double doors and continue forward until you reach a four-way intersection. Turn left.</li>
  <li>Walk forward until you can see Shops on your right. Turn left.</li>
  <li>There are several machines in front of you – look at the leftmost one. How do you feel?</li>
</ul>
<p>
  <div><b>If you feel GLOOMY, but maybe a tiny bit IRRITATED, go to Section A.</b></div>
  <div>If you feel BLISSFUL, go to Section K.</div>
  <div>If you feel APPALLED, go to Section H.</div>
</p>
{% endblock %}
