{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Will Day, Ben Haytack, Chris Pringle, Julian West, and Ian Gallagher{% endblock %}
{% block solution %}INTERCOASTAL EMPIRE{% endblock %}

{% block solution_content_block %}
<p>As teams solve puzzles in this round, they reveal hexagons on the main meta image, which, similar to the game <i>Settlers of Catan</i>, contain a number and a resource. When they solve enough puzzles to reach the central hexagon, the desert tile, they can submit answers to the meta for this island.</p>

<p>Using the numbers to index into the answer of the corresponding puzzle and reading those letters left to right, top to bottom spells out <strong><code>INTERCOASTAL EMPIRE</code></strong>, which is the first answer for this meta.</p>

<table class="solution-table condensed-table">
  <tr>
    <th>Answer</th>
    <th>Index</th>
    <th>Extraction</th>
  </tr>
  <tr>
    <td><code>HACIENDA</code></td>
    <td>4</td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td><code>MEDIAN</code></td>
    <td>6</td>
    <td><code>N</code></td>
  </tr>
  <tr>
    <td><code>ULTIMATE FRISBEE</code></td>
    <td>7</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td><code>JONATHAN EDWARDS</code></td>
    <td>9</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td><code>MEMORIAL</code></td>
    <td>5</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td><code>CODEX RUNICUS</code></td>
    <td>10</td>
    <td><code>C</code></td>
  </tr>
  <tr>
    <td><code>VALIDATOR</code></td>
    <td>8</td>
    <td><code>O</code></td>
  </tr>
  <tr>
    <td><code>PORTMANTEAU</code></td>
    <td>10</td>
    <td><code>A</code></td>
  </tr>
  <tr>
    <td><code>MASTER AT ARMS</code></td>
    <td>3</td>
    <td><code>S</code></td>
  </tr>
  <tr>
    <td><code>SPOT THE BALL</code></td>
    <td>5</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td><code>PANDORA</code></td>
    <td>2</td>
    <td><code>A</code></td>
  </tr>
  <tr>
    <td><code>SLEEPER AGENT</code></td>
    <td>2</td>
    <td><code>L</code></td>
  </tr>
  <tr>
    <td><code>PINNACLES</code></td>
    <td>8</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td><code>POCKET MONEY</code></td>
    <td>7</td>
    <td><code>M</code></td>
  </tr>
  <tr>
    <td><code>KEYBOARD PLAYER</code></td>
    <td>9</td>
    <td><code>P</code></td>
  </tr>
  <tr>
    <td><code>ONSIGHT</code></td>
    <td>4</td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td><code>DIRTY MARTINI</code></td>
    <td>3</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td><code>WHOOPEE</code></td>
    <td>6</td>
    <td><code>E</code></td>
  </tr>
</table>
{% endblock %}
