{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Scott Harvey-Arnold{% endblock %}
{% block solution %}SPOT THE BALL{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content .grey {
    background-color: grey;
  }

  .puzzle-content .flexbox, .puzzle-content .flexcell {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .puzzle-content .flexbox {
    margin-bottom: 20px;
  }

  .puzzle-content table {
    border-collapse: collapse;
    margin: auto;
  }

  .puzzle-content td {
    border: 1px solid black;
  }

  .puzzle-content th, .puzzle-content td {
    width: 5em;
  }

  .puzzle-content > img {
    width: 20%;
    display: block;
    margin: auto;
  }

  .puzzle-content .flexbox div.image-container {
    width: 20%;
  }

  .puzzle-content .flexbox img {
    width: 100%;
    flex: 0 0 auto;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>First, reading the first letter of each team&rsquo;s name gives the cluephrase <code>FOR EACH TEAM CALCULATE THE TOTAL NUMBER OF GOALS IN THEIR HIGHEST SCORING GAME</code>. Using the given information for each tournament, it is possible to reconstruct the results of each match already played and which matches have not yet been played. For example, the first solution is:</p>

<table>
  <tr>
    <th></th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
  </tr>
  <tr>
    <th>1</th>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
  </tr>
  <tr>
    <th>2</th>
    <td>
      <div class="flexcell">
        <span>X</span>
        <span>X</span>
      </div>
    </td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
  </tr>
  <tr>
    <th>3</th>
    <td>
      <div class="flexcell">
        <span>2</span>
        <span>3</span>
      </div>
    </td>
    <td>
      <div class="flexcell">
        <span>1</span>
        <span>0</span>
      </div>
    </td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
  </tr>
  <tr>
    <th>4</th>
    <td>
      <div class="flexcell">
        <span>2</span>
        <span>3</span>
      </div>
    </td>
    <td>
      <div class="flexcell">
        <span>0</span>
        <span>1</span>
      </div>
    </td>
    <td>
      <div class="flexcell">
        <span>X</span>
        <span>X</span>
      </div>
    </td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
  </tr>
  <tr>
    <th>5</th>
    <td>
      <div class="flexcell">
        <span>1</span>
        <span>3</span>
      </div>
    </td>
    <td>
      <div class="flexcell">
        <span>0</span>
        <span>1</span>
      </div>
    </td>
    <td>
      <div class="flexcell">
        <span>0</span>
        <span>1</span>
      </div>
    </td>
    <td>
      <div class="flexcell">
        <span>X</span>
        <span>X</span>
      </div>
    </td>
    <td class="grey"></td>
    <td class="grey"></td>
  </tr>
  <tr>
    <th>6</th>
    <td>
      <div class="flexcell">
        <span>X</span>
        <span>X</span>
      </div>
    </td>
    <td>
      <div class="flexcell">
        <span>0</span>
        <span>2</span>
      </div>
    </td>
    <td>
      <div class="flexcell">
        <span>X</span>
        <span>X</span>
      </div>
    </td>
    <td>
      <div class="flexcell">
        <span>0</span>
        <span>2</span>
      </div>
    </td>
    <td>
      <div class="flexcell">
        <span>0</span>
        <span>1</span>
      </div>
    </td>
    <td class="grey"></td>
  </tr>
</table>

<p>The first score corresponds to the row and the second to the column, and Xs are for matches that haven&rsquo;t yet been played.</p>

<p>Taking the goals scored in the highest scoring game for each team and indexing into their name as instructed gives the phrase <code>SITE TEAMS ON CLOCK FACE FIRST TEAM USES THE START TIME NOW DRAW REMAINING GAMES</code>. This suggests a way to represent the round robin tournaments geometrically: place the number 1 team at 12 or 1 o&rsquo;clock on a circle and proceed clockwise, putting team number 6 at 10 or 11 o&rsquo;clock.</p>

<p>Finally, as suggested by the second part of the flavor text, look at the matches that haven&rsquo;t been played yet. Drawing edges connecting teams which still need to play spells out a letter for each tournament. For example, the first tournament gives an <code>S</code>:</p>

<img {{ img_src_for('solutions/tournament_organization/01.png') }} >

<p>Doing this for all the tournaments spells out the final answer, <strong><code>SPOT THE BALL</code></strong>.</p>

<div class="flexbox">
  <table>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
    <tr>
      <th>1</th>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>2</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>3</th>
      <td>
        <div class="flexcell">
          <span>2</span>
          <span>3</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>0</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>4</th>
      <td>
        <div class="flexcell">
          <span>2</span>
          <span>3</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>5</th>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>3</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>6</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td class="grey"></td>
    </tr>
  </table>
  <div class="image-container"><img {{ img_src_for('solutions/tournament_organization/01.png') }} ></div>
</div>

<div class="flexbox">
  <table>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
    <tr>
      <th>1</th>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>2</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>3</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>4</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>0</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>5</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>6</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>2</span>
        </div>
      </td>
      <td class="grey"></td>
    </tr>
  </table>
  <div class="image-container"><img {{ img_src_for('solutions/tournament_organization/02.png') }} ></div>
</div>

<div class="flexbox">
  <table>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
    <tr>
      <th>1</th>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>2</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>3</th>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>4</th>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>5</th>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>6</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
    </tr>
  </table>
  <div class="image-container"><img {{ img_src_for('solutions/tournament_organization/03.png') }} ></div>
</div>

<div class="flexbox">
  <table>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
    <tr>
      <th>1</th>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>2</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>3</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>4</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>5</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>0</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>6</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td class="grey"></td>
    </tr>
  </table>
  <div class="image-container"><img {{ img_src_for('solutions/tournament_organization/04.png') }} ></div>
</div>

<div class="flexbox">
  <table>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
    <tr>
      <th>1</th>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>2</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>3</th>
      <td>
        <div class="flexcell">
          <span>2</span>
          <span>3</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>0</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>4</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>3</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>0</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>5</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>3</span>
          <span>0</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>6</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td class="grey"></td>
    </tr>
  </table>
  <div class="image-container"><img {{ img_src_for('solutions/tournament_organization/05.png') }} ></div>
</div>

<div class="flexbox">
  <table>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
    <tr>
      <th>1</th>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>2</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>3</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>4</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>5</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>6</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
    </tr>
  </table>
  <div class="image-container"><img {{ img_src_for('solutions/tournament_organization/06.png') }} ></div>
</div>

<div class="flexbox">
  <table>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
    <tr>
      <th>1</th>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>2</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>3</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>3</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>4</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>5</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>4</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>6</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td class="grey"></td>
    </tr>
  </table>
  <div class="image-container"><img {{ img_src_for('solutions/tournament_organization/07.png') }} ></div>
</div>

<div class="flexbox">
  <table>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
    <tr>
      <th>1</th>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>2</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>3</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>2</span>
          <span>0</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>4</th>
      <td>
        <div class="flexcell">
          <span>3</span>
          <span>0</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>5</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>2</span>
          <span>0</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>6</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
    </tr>
  </table>
  <div class="image-container"><img {{ img_src_for('solutions/tournament_organization/08.png') }} ></div>
</div>

<div class="flexbox">
  <table>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
    <tr>
      <th>1</th>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>2</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>3</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>4</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>3</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>0</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>5</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>3</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>2</span>
          <span>0</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>6</th>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
    </tr>
  </table>
  <div class="image-container"><img {{ img_src_for('solutions/tournament_organization/09.png') }} ></div>
</div>

<div class="flexbox">
  <table>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
    <tr>
      <th>1</th>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>2</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>3</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>3</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>4</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>3</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>5</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>6</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td class="grey"></td>
    </tr>
  </table>
  <div class="image-container"><img {{ img_src_for('solutions/tournament_organization/10.png') }} ></div>
</div>

<div class="flexbox">
  <table>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
    <tr>
      <th>1</th>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>2</th>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>0</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>3</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>1</span>
          <span>0</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>4</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>5</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td class="grey"></td>
      <td class="grey"></td>
    </tr>
    <tr>
      <th>6</th>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>2</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>X</span>
          <span>X</span>
        </div>
      </td>
      <td>
        <div class="flexcell">
          <span>0</span>
          <span>1</span>
        </div>
      </td>
      <td class="grey"></td>
    </tr>
  </table>
  <div class="image-container"><img {{ img_src_for('solutions/tournament_organization/11.png') }} ></div>
</div>
{% endblock %}
