{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Hubert Hwang, Ben Weissman, Xavid, and Ryan Veeder{% endblock %}
{% block solution %}RIGHTMOST{% endblock %}

{% block solution_content_block %}
<p>In the tradition of <i>Twitch Plays Pok&eacute;mon</i>, this is a fairly simple video game, controlled by a large group of players working in concert to direct the actions of a single character.</p>

<p>A given player may only submit a command (a direction like n, ne, e, se, etc.) once every few seconds, and there&rsquo;s a short delay before a command is executed, so solvers need to cooperate and coordinate in order for any progress to be made.</p>

<p>The player character is a ninja who traverses three levels to collect three legendary pieces of ninja equipment. Every level features pits of lava, as well as guards who look back and forth for the ninja. The directions they face encode semaphore signals. Each level also has a unique type of obstacle that challenges teams&rsquo; teamwork in a new and exciting way: Platforms that rise and sink to allow temporary passage over lava, pressure plates that activate dart traps, and finally sleeping ogres that wake up and start running after you if you stay too close for too long.</p>

<p>In the first level, the guards face west and east, encoding <code>R</code>; the level map is in the shape of an <code>I</code>; and the equipment claimed at the end is the Great Gi, encoding <code>G</code>.</p>

<p>In the second level, the guards face west and southwest, encoding <code>H</code>; the level map is in the shape of a <code>T</code>; and the equipment claimed at the end is the Majestic Mask, encoding <code>M</code>.</p>

<p>In the third level, the guards face west and northwest, encoding <code>O</code>; the level map is in the shape of a <code>S</code>, and the equipment claimed at the end is the Terrific Tabi, encoding <code>T</code>.</p>

<p>These letters taken in this order spell the answer, <strong><code>RIGHTMOST</code></strong>.</p>

<p>When all three pieces of equipment have been collected, the mocking voice of the Ninja Master appears, informing solvers that their quest for the Scroll of Ninja Mastery will continue in this puzzle&rsquo;s evolution. The game then activates a &ldquo;god mode&rdquo; so that teams can explore the levels at their leisure.</p>
{% endblock %}
