{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Hubert Hwang, Ben Weissmann, Ryan Veeder, and Quentin Smith{% endblock %}
{% block solution %}RIM{% endblock %}

{% block solution_content_block %}
<p>This puzzle is <i>Twitch Plays Pokemon</i> meets <i>Nick Arcade</i>. Teams send a brave person (the &ldquo;away team&rdquo;) to a location with a green screen. The rest of the team (the &ldquo;home team&rdquo;) gets a link to a live YouTube stream where the solver standing in front of the green screen has been composited into a ninja dojo to challenge the Ninja Master.</p>

<p>Comments from the people watching the stream are delivered to the away team via speech synthesis. Giving the away team instructions like this is the only way for the away team to know what the heck they're supposed to do.</p>

<p>The Ninja Master appears and initiates a battle, but the away team is doomed, because they don&rsquo;t know what the rules of ninja battle are. The Ninja Master sends them to Remedial Ninja Training, where the away team learns six poses (hearing them described by the home team via speech synthesis), each of which beats another pose, rock-paper-scissors style.</p>

<p>Another round of training follows, testing the home team&rsquo;s grasp of what pose beats what and the away team&rsquo;s ability to strike poses on a time limit. When the Ninja Master is satisfied that the challengers know what they&rsquo;re doing, he lets them battle him for real.</p>

<p>The Ninja Master strikes a series of six poses, but each pose is preceded by a different dirty trick&mdash;the Master turns out the lights, or throws a smoke bomb, or builds a brick wall, so that the home team can&rsquo;t see what pose he&rsquo;s striking. The home team must direct the away team to handle those obstacles (pull the light switch, wave the smoke away, punch down the wall) to reveal the Master and the pose that they need to beat.</p>

<p>When the Master&rsquo;s sixth pose has been beaten, he finally yields, handing over the Scroll of Ninja Mastery, which the away team brings back to the home team. The scroll bears the official names of the six poses the teams learned. These are, in the order they were used in the final battle:</p>

<table class="solution-table">
  <tr>
    <th>Pictogram</th>
    <th>Name</th>
  </tr>
  <tr>
    <td><img {{ img_src_for('solutions/under_control/1.png') }} ></td>
    <td><i>Outside Are Manifold Distractions</i></td>
  </tr>
  <tr>
    <td><img {{ img_src_for('solutions/under_control/2.png') }} ></td>
    <td><i>Knife Edge Stance</i></td>
  </tr>
  <tr>
    <td><img {{ img_src_for('solutions/under_control/3.png') }} ></td>
    <td><i>Ultimate Style Of The Rising Dragon</i></td>
  </tr>
  <tr>
    <td><img {{ img_src_for('solutions/under_control/4.png') }} ></td>
    <td><i>One Moment Spans A Thousand Years</i></td>
  </tr>
  <tr>
    <td><img {{ img_src_for('solutions/under_control/5.png') }} ></td>
    <td><i>White Lotus And Red Circle Dance</i></td>
  </tr>
  <tr>
    <td><img {{ img_src_for('solutions/under_control/6.png') }} ></td>
    <td><i>I Looked Up To See Three Moons</i></td>
  </tr>
</table>

<p>Diagonalizing on a per-word basis yields <code>OUTSIDE EDGE OF A CIRCLE (THREE)</code>, cluing the answer <strong><code>RIM</code></strong>.</p>
{% endblock %}
