{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Justin Melvin{% endblock %}
{% block solution %}INCREDIBLY STUPID{% endblock %}

{% block solution_content_block %}
<p>As suggested by &ldquo;shift&rdquo; in the flavortext, each
  statement has been Caesar shifted. First, solvers find the amount by
  which each phrase has been shifted, and use those amounts as an
  index into the alphabet, resulting in the following phrases, shifts,
  and letters:</p>

<table class="solution-table">
  <thead>
    <tr>
      <th>Phrase</th>
      <th>Shift</th>
      <th>Letter</th>
    </tr>
  </thead>
  <tr>
    <td>The head thief is similar to a corpulent pig who never
      produces adequate basswoods, deceased like.</td>
    <td>23</td>
    <td><code>W</code></td>
  </tr>
  <tr>
    <td>The impoverished safe place, (the one for small mendicants),
      gives too much wealth to the wealthy.</td>
    <td>8</td>
    <td><code>H</code></td>
  </tr>
  <tr>
    <td>Several family home frighten, exhausted in the
      acquisition. Trigonometric function ladies for.</td>
    <td>1</td>
    <td><code>A</code></td>
  </tr>
  <tr>
    <td>The one who multiplies the number of languages by two goes on
      an alternative search engine to.</td>
    <td>20</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>Amazing popularity in lupine cannibalism.</td>
    <td>16</td>
    <td><code>P</code></td>
  </tr>
  <tr>
    <td>Continuously moistening your piehole, attempt to eat.</td>
    <td>15</td>
    <td><code>O</code></td>
  </tr>
  <tr>
    <td>Be like groin region or ghost world goofy, black-and-white
      hard-boiled detective clever, but.</td>
    <td>15</td>
    <td><code>O</code></td>
  </tr>
  <tr>
    <td>An educated person whose head could be opened with a key is a
      greater idiot than an uneducated.</td>
    <td>18</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>A habitual drunkard&rsquo;s four inches quiet: having to do with
      this area idiot&rsquo;s good qualities.</td>
    <td>18</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>A trio makes a casual acknowledgement a mystery, if a pair of
      them are pushing up daisies.</td>
    <td>9</td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td>Repudiate your personhood, for Santa&rsquo;s helper&rsquo;s rice wines.</td>
    <td>3</td>
    <td><code>C</code></td>
  </tr>
  <tr>
    <td>The guy who lives on wishful thinking changes his eating
      habits, coping.</td>
    <td>8</td>
    <td><code>H</code></td>
  </tr>
  <tr>
    <td>Appeal to divine sources, a fried torus set fire to my tube to
      cook your hens&rsquo; products.</td>
    <td>19</td>
    <td><code>S</code></td>
  </tr>
  <tr>
    <td>When logic stretches to get something, if you don&rsquo;t listen,
      she will put your Boscs in a crate.</td>
    <td>1</td>
    <td><code>A</code></td>
  </tr>
  <tr>
    <td>A kind of beer, a trophy&rsquo;s better than a decision made by
      decree.</td>
    <td>25</td>
    <td><code>Y</code></td>
  </tr>
  <tr>
    <td>Idiots require a sin more, but only wise guys risk the better
      for it.</td>
    <td>19</td>
    <td><code>S</code></td>
  </tr>
</table>

<p>Reading the amounts shifted as letters yields the clue phrase
  <code>WHAT POOR RICH SAYS</code>. Combined with the title
  (Unfortunate, suggesting Poor; and Al, an abbreviation for
  Almanack), the flavor text (hundreds of dollars, suggesting Benjamin
  Franklin, who appears on the $100 bill), this suggests <i>Poor
  Richard&rsquo;s Almanack</i>, by Benjamin Franklin.</p>

<p>Each phrase <em>almost</em> describes a quote from <i>Poor
  Richard&rsquo;s Almanack</i>, but there&rsquo;s been a
  &ldquo;second shift&rdquo; performed on the original
  quote&mdash;namely, that one letter has been moved in the aphorism,
  potentially changing spacing and punctuation. The numbers from the
  puzzle provide a guide for how many letters are in each word of the
  modified aphorism.</p>

<p>Here are the modified, and original, aphorisms, along with the
  letter that was &ldquo;shifted&rdquo; (in the order they appear):</p>

<table class="solution-table">
  <thead>
    <tr>
      <th>Modified</th>
      <th>Original</th>
      <th>Letter</th>
    </tr>
  </thead>
  <tr>
    <td>Arch rogue, is like a fat hog, who never does good til<strong>i</strong>as dead as a log.</td>
    <td>A r<strong>i</strong>ch rogue, is like a fat hog, who never does good til as dead as a log.</td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td>The poor have<strong>n</strong> little, beggars one, the rich too much, enough not one.</td>
    <td>The poor have little, beggars <strong>n</strong>one, the rich too much, enough not one.</td>
    <td><code>N</code></td>
  </tr>
  <tr>
    <td>Many estate s<strong>c</strong>are spent in the getting, sine women for tea forsook spinning &amp; knitting.</td>
    <td>Many estates are spent in the getting, sin<strong>c</strong>e women for tea forsook spinning &amp; knitting.</td>
    <td><code>C</code></td>
  </tr>
  <tr>
    <td>Tongue double<strong>r</strong> Bings trouble.</td>
    <td>Tongue double, b<strong>r</strong>ings trouble.</td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td>Great fam<strong>e</strong> in when wolves eat wolves.</td>
    <td>Great famin<strong>e</strong> when wolves eat wolves.</td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td>Keep your mouth wet, fee<strong>d</strong> try.</td>
    <td>Keep your mouth wet, feet <strong>d</strong>ry.</td>
    <td><code>D</code></td>
  </tr>
  <tr>
    <td>Be nether silly, no<strong>i</strong>r cunning, but wise.</td>
    <td>Be ne<strong>i</strong>ther silly, nor cunning, but wise.</td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td>A learned lockhead is a greater blockhead than an ignorant <strong>b</strong>one.</td>
    <td>A learned <strong>b</strong>lockhead is a greater blockhead than an ignorant one.</td>
    <td><code>B</code></td>
  </tr>
  <tr>
    <td>Sot hand Silence: area<strong>l</strong> Fool&rsquo;s Virtues.</td>
    <td>S<storng>l</storng>oth and Silence are a Fool&rsquo;s Virtues.</td>
    <td><code>L</code></td>
  </tr>
  <tr>
    <td>Three make &ldquo;<strong>y</strong>ep&rdquo; a Secret, if two of them are dead.</td>
    <td>Three ma<strong>y</strong> keep a Secret, if two of them are dead.</td>
    <td><code>Y</code></td>
  </tr>
  <tr>
    <td>Deny Self for elf&rsquo;s sake<strong>s</strong>.</td>
    <td>Deny Self for <strong>S</strong>elf&rsquo;s sake.</td>
    <td><code>S</code></td>
  </tr>
  <tr>
    <td>He that lives upon Hope, die<strong>t</strong>s faring.</td>
    <td>He that lives upon Hope, dies far<strong>t</strong>ing.</td>
    <td><code>T</code></td>
  </tr>
  <tr>
    <td>Pray don<strong>u</strong>t burn my Hose to roast your Eggs.</td>
    <td>Pray don&rsquo;t burn my Ho<strong>u</strong>se to roast your Eggs.</td>
    <td><code>U</code></td>
  </tr>
  <tr>
    <td>When reason reaches, if you won&rsquo;t hear her she&rsquo;ll box your <strong>p</strong>ears.</td>
    <td>When Reason <strong>p</strong>reaches, if you won&rsquo;t hear her she&rsquo;ll box your Ears.</td>
    <td><code>P</code></td>
  </tr>
  <tr>
    <td>Ale, an Award, &rsquo;s better than a f<strong>i</strong>at Judgment.</td>
    <td>A lean Award <strong>i</strong>s better than a fat Judgment.</td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td>Fools need A vice most, but wise Men only <strong>d</strong>are the better for it.</td>
    <td>Fools need A<strong>d</strong>vice most, but wise Men only are the better for it.</td>
    <td><code>D</code></td>
  </tr>
</table>

<p>Reading the shifted letters in order yields the answer,
  <strong><code>INCREDIBLY STUPID</code></strong>.</p>
{% endblock %}
