{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Leland Aldridge{% endblock %}
{% block solution %}EVOLUTION{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content img {
    display: block;
    margin: auto;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>The four answers that comprise this meta are:</p>

<ul>
  <li><code>FEDERAL RESOURCES</code></li>
  <li><code>GERI HALLIWELL</code></li>
  <li><code>INLAID EMBLEM</code></li>
  <li><code>PAIRWISE EXPANSION</code></li>
</ul>

<p>The puzzle answers that feed into this metapuzzle have lengths of 12, 13, 16, and 17 letters. These lengths are all represented in the numbers of squares per row in the pyramid. If the answers are slotted into the pyramid base in the appropriate-length rows, we get:</p>

<img {{ img_src_for('solutions/voltaik_bio_electric_cell/1.png') }} >

<p>Within these two pairs of rows, some additional words can be found in the continuous paths between adjacent bricks. For instance, EXE is in the center-bottom, which answers the clue &ldquo;<a href="https://en.wikipedia.org/wiki/River_Exe">English flower</a>&rdquo; from the list below the pyramid. Words corresponding to five of the clues can be found within the puzzle answers. The shapes and paths of these words match up with some of the tiles at the bottom of the puzzle, so we can slot these in.</p>

<img {{ img_src_for('solutions/voltaik_bio_electric_cell/2.png') }} >

<p>The rest of the tiles can be used to completely fill the pyramid, and the missing letters can be deduced such that all of the answers to the clues are represented. For instance, most of REWIRE is present in the lower left, and the shape of the six-piece tile tells us where the final E must be placed. The full clue list is:</p>

<table class="solution-table condensed-table">
  <tr>
    <th>Clue</th>
    <th>Answer</th>
  </tr>
  <tr>
    <td>Grudge</td>
    <td>BEEF</td>
  </tr>
  <tr>
    <td>Puffed</td>
    <td>BLEW</td>
  </tr>
  <tr>
    <td>Dutch farmer</td>
    <td>BOER</td>
  </tr>
  <tr>
    <td>Practice</td>
    <td>DRILL</td>
  </tr>
  <tr>
    <td>Dash length</td>
    <td>EM</td>
  </tr>
  <tr>
    <td>English flower</td>
    <td>EXE</td>
  </tr>
  <tr>
    <td>Unfaithful</td>
    <td>FALSE</td>
  </tr>
  <tr>
    <td>Mound</td>
    <td>HILL</td>
  </tr>
  <tr>
    <td>Sick</td>
    <td>ILL</td>
  </tr>
  <tr>
    <td>Charged particles</td>
    <td>IONS</td>
  </tr>
  <tr>
    <td>Wrath</td>
    <td>IRE</td>
  </tr>
  <tr>
    <td>Records</td>
    <td>LOGS</td>
  </tr>
  <tr>
    <td>Chow follower</td>
    <td>MEIN</td>
  </tr>
  <tr>
    <td>Things</td>
    <td>NOUNS</td>
  </tr>
  <tr>
    <td>Compensated</td>
    <td>PAID</td>
  </tr>
  <tr>
    <td>Bottle</td>
    <td>PHIAL</td>
  </tr>
  <tr>
    <td>Begged</td>
    <td>PLED</td>
  </tr>
  <tr>
    <td>Connect up again</td>
    <td>REWIRE</td>
  </tr>
  <tr>
    <td>Denomination</td>
    <td>SECT</td>
  </tr>
  <tr>
    <td>Health club</td>
    <td>SPA</td>
  </tr>
  <tr>
    <td>Gossip</td>
    <td>TEA</td>
  </tr>
  <tr>
    <td>Shorter dog breed</td>
    <td>WEIM</td>
  </tr>
</table>

<p>The completed pyramid, with all the tiles placed and rows of text filled in, then looks like:</p>

<img {{ img_src_for('solutions/voltaik_bio_electric_cell/3.png') }} >

<p>The two new rows of text read &ldquo;some people will be left behind, it&rsquo;s&rdquo;, which is the beginning of a line of dialog from Deus Ex: Human Revolution (as searchable on, e.g., WikiQuotes). The conclusion of the quotation, <strong><code>EVOLUTION</code></strong>, is the answer to this puzzle.</p>
{% endblock %}
