{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Colin Liotta and Wes Carroll{% endblock %}
{% block solution %}KEYBOARD PLAYER{% endblock %}

{% block solution_head_block %}
  <style>
    .puzzle-content #keysequence dd {
      word-wrap: break-word;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <p>This puzzle involves playing through a rogue-like game in the
    browser. Your character is represented by an “<code>@</code>” symbol
    and the only controls are the 4 arrow keys (no diagonal
    movement). The goal on each level is to make it to the down
    staircase (represented by a “<code>&gt;</code>”).</p>

  <p>There are 22 levels. After solving a level you are taken to a new
    unique URL for the next level. These URLs can be shared with
    teammates so that they can immediately jump to the same point of
    progress.</p>

  <p>Along the way you will encounter several different monsters and obstacles.</p>

  <dl>
    <dt><code>@</code></dt>
    <dd>You, the player, can move in cardinal directions, monsters move after the player moves (and only if the player moves)</dd>
    <dt><code>.</code></dt>
    <dd>Empty dungeon</dd>
    <dt><code>|</code></dt>
    <dd>Dungeon wall</dd>
    <dt><code>-</code></dt>
    <dd>Dungeon wall</dd>
    <dt><code>G</code></dt>
    <dd>Gnome, Monster, moves at half the speed of the player, moves horizontally or vertically towards player (dumb)</dd>
    <dt><code>C</code></dt>
    <dd>Centaur, Monster, moves at the same speed as the player, moves horizontally or vertically towards player (dumb)</dd>
    <dt><code>H</code></dt>
    <dd>Minotaur, Monster, moves at twice the speed of the player, moves horizontally or vertically towards player (dumb)</dd>
    <dt><code>D</code></dt>
    <dd>Dragon, Monster, moves at the same speed as the player, moves using the shortest path towards the player (smart)</dd>
    <dt><code>E</code></dt>
    <dd>Elemental, Monster, moves at twice the speed of the player, moves using the shortest path towards the player (smart)</dd>
    <dt><code>W</code></dt>
    <dd>Watcher, Monster, does not move, if it sees the player (horizontally or vertically) then it changes to behave like an H</dd>
    <dt><code>M</code></dt>
    <dd>Mummy, Monster, moves at the same speed as the player, moves on a path, if it sees the player in front of it then it changes to behave like an H</dd>
    <dt><code>Z</code></dt>
    <dd>Zombie, Monster, moves in a straight line</dd>
    <dt><code>O</code></dt>
    <dd>Turret, shoots arrows (</dd>
    <dt><code>)</code></dt>
    <dd>Arrow, moves at the same speed as the player, moves in a straight line</dd>
    <dt><code>}</code></dt>
    <dd>Lava, deadly to player</dd>
    <dt><code>^</code></dt>
    <dd>Pit, deadly to player</dd>
    <dt><code>*</code></dt>
    <dd>Boulder, pushable by player</dd>
    <dt><code>(</code></dt>
    <dd>Key, colored based on which group it belongs to, can be picked up by a player and will then open a door of the same group</dd>
    <dt><code>~</code></dt>
    <dd>Switch, colored based on which group it belongs to, can be triggered by monsters, player, or boulders, when all switches of a group are triggered at the same time, it will open a door of the same group</dd>
    <dt><code>+</code></dt>
    <dd>Door, colored based on which group it belongs to, opened when all switches of the same group are triggered at the same time, or when a player holding a key of the appropriate group touches it</dd>
    <dt><code>/</code></dt>
    <dd>Portal, colored based on which group it belongs to, when any object moves onto the same square as a portal it is teleported to another portal of the same group and then moved one more square forward in the same direction</dd>
  </dl>

  <p>At roughly the halfway point through the levels, a new mechanic
    is introduced where there is a second character “<code>@</code>”. The
    movement keys move both <code>@</code> characters at the same
    time. The goal is to keep both <code>@</code> characters alive and
    take them both to the 2 down staircases (they must both be on the
    staircases at the same time).</p>

  <p>Here are the direct URLs for each level:</p>

  {%- set puzzle_link_action = 'full_puzzle' if session.usertype == 'writingteam' else 'puzzle' -%}
  <ul>
    {% for level in [
            "7f761e178f05",
            "8acb643a8a96",
            "062af92ff1f7",
            "f0990bf12f2e",
            "612d568cdbaf",
            "35d71e1d3f7e",
            "98c0c2d25623",
            "4ff22aef2686",
            "8420a2841c65",
            "0c38829624e1",
            "f532994185c7",
            "a95ed5fdbb65",
            "f012f0d11166",
            "5f659b8e67dc",
            "99d529b5ff17",
            "5847c26b24ef",
            "d0e0a8d1349d",
            "b802f9a6b1e9",
            "d7813f21a046",
            "57f84c1d2dd1",
            "f1c2e7db1ab3",
            "db1f4d887c73",
    ] %}
      <li><a href="{{ url_for(puzzle_link_action, puzzle_id='walk_across_some_dungeons_2', level=level) }}">Level {{ loop.index }}</a></li>
    {% endfor %}
  </ul>

  <p>In the final level there is no down staircase. Instead there is
    an <code>&quot;</code> symbol which represents the amulet, and a
    collection of monsters represented by lower case letters. After
    making your way to the amulet the monster letters will spell out
    the final answer, <strong><code>KEYBOARD PLAYER</code></strong>.</p>

  <p>If you enjoyed this puzzle then you can play many more puzzles like it at <a href="http://roguepuzzles.com/">RoguePuzzles.com</a>.</p>

  <p>Here is a video walkthrough of the entire solution:</p>

  <video width="436" height="426" controls>
    <source src="{{ asset_url_for('solutions/walk_across_some_dungeons_2/walkthrough.mp4') }}" type="video/mp4">
  </video>

  <p>And here are the key sequences that can be used to solve each level:</p>

  <dl id="keysequence">
    <dt>Level 1</dt>
    <dd>ssdswasssss</dd>

    <dt>Level 2</dt>
    <dd>dwawddddaaaawswswwdddddssswaassawawdddaaaawswswwdddddsswsaaaadaawswswswwdddww</dd>

    <dt>Level 3</dt>
    <dd>aaaadddsaawaasdwaaaassddwsaawwddwdsasawaasdddddwddssawdwaawasdsass</dd>

    <dt>Level 4</dt>
    <dd>ddddsssdwaaasdaassdsddwawwsssdddwasaawwwawdssssddwwwawwwwwwwawddwdssssasddaaassssdsssaawwwawdsdwwwwawdddaasssssdssasawwwawdsdwwwawddassssassswwwaassdsdwwwawdsdwwwawdadssssdssddwwawadsdssaaaawwdwwwwwssdwasssddsdssaawwdwasawwwdwasawwwawwwddddddsssswsassdddd</dd>

    <dt>Level 5</dt>
    <dd>wsdwswdadadaddsddwaaaaaaawwwwwwwddddwww</dd>

    <dt>Level 6</dt>
    <dd>wwwwddasddaasdddaaasddddaaaasdddddaaaaasddddddaaaaaasdddddddaaaaaaasddddddddaaaaaaaasdddddddddwaawadadssddawwawawawawawdsdsdsdsdsdwawawawawswswdsdsdsdwawawdsddwwddw</dd>

    <dt>Level 7</dt>
    <dd>awdawssaaawwwwasdwwaassdsssadddwwddwwwwaaddswsasdwwaassssssswdaaaawwwwwwdddadddssasssassswwaawawwwwdddwdddsssssasaasssss</dd>

    <dt>Level 8</dt>
    <dd>wdasddaasdddawawswswdasswswswswswddsdawswswswswswswswswswdasswswswswswddwssdwawswdasswswswswswddswswswswsddddddd</dd>

    <dt>Level 9</dt>
    <dd>dwdaswwddsdawdddwddsdsdssaaadddwaaddssaawsdddwwawadsdsssaawww</dd>

    <dt>Level 10</dt>
    <dd>wwwwwwwwwwwwwwwwwddddddddddddddddadawswaaaaaswsaaaaaaaaaaasssssssssssssssssddddddddddddsaadwsaaaaaaawaaawwwwwwwwwwwwwwwwwddddddddddddddddaaaaaaaaaaaadddddddddddddswaaaaaaaaaaaaaaaaasssssssssssssssssddddddddddswswsaaaaaaaadwswsdddddddddwdddddwwwwwwwwwwwwwwwwwaaaaaaaaaaaddaaaaaaaasssssssssadadadadadadawwdadadssssssssssdddddddddddddddddwwwwwwwwdadadadadadsssssssssaaaaaaaaaaaaaaaaaawwwwwwwadadassssssddaawwwwwwwwwwssssssssssddddddddddddddddddwwwwwwwwwwwwwwwwwaaaaaaaddaaaddddddddsssssssssssssssssaaaaaaaaaaaaaaaaawwwwwwwwwwwwwwwwwddddddddddddddawswswswswswaaaaaaasaaaaaasssssssssssssssssdddddddddddaaaaaaaaaaaawwwwwwwwwwwwwwdwddddddd</dd>

    <dt>Level 11</dt>
    <dd>wwwwwwdddsddwaaaaddsawaassssssdddwaddaawwwsssddwwwssassaaawddaawwddasassddddddwwwsawaaaddddsssaaaaaaddddddwwwwssssaaaaaawwwwwwdddddsswwaasswwaaassdddwwaswdddsawdddsasssssaaasss</dd>

    <dt>Level 12</dt>
    <dd>sawsdawdssdssasss</dd>

    <dt>Level 13</dt>
    <dd>ssssssddddddwwddssddwwwwddwwddssssaassdddd</dd>

    <dt>Level 14</dt>
    <dd>waaassdsawaddsawasdddwaasawdddd</dd>

    <dt>Level 15</dt>
    <dd>awawdddsasdwdssawasdsaawdwasawwddsddddddd</dd>

    <dt>Level 16</dt>
    <dd>aadwwawdwdsasssddwadsaaawddawwssddaaddaawwdsasdsdddwasaaddwasaawawdssdwdwwawasddsaaaa</dd>

    <dt>Level 17</dt>
    <dd>wwwaasssaawsdadawwwaasssawwwaasssdawasawasdawwwdaasdssdawwwaasssawasdawdadsawwwwawswwdwdsdwdsdwdsdwdsdwdasaaaaaaadwdsdwdsdwdsdwdsdwdasaaaaaaaadwdsdwdsdwdsdawdsdwdsdwdasaaaaaaaaadwdsdwdsdwdsdwdsdwdsdwadsaaaaaaaaaadwdsdwdsdwdsdwdsdwdsdd</dd>

    <dt>Level 18</dt>
    <dd>ddsassdwwdddwdssdddaasssdssasssddaawwwdwasassssssswwddddddd</dd>

    <dt>Level 19</dt>
    <dd>aaawawdsawaddsaasawdwdwdwwwasaassddadadadadwdaaswawwddwddwaaasasddwawawddssawwdwswswsawasaawwddsaaawwdsdwawddwssdswaasdwwdwadadssdadadddawasswawaasaa</dd>

    <dt>Level 20</dt>
    <dd>sssddwwddsdawdwddddssaassddddsssddwwddwwaawwddswaaaasssssssddwwddsdawaassaawwwaaadddsssddwwddwwaawwaassssaaaawwddwwaaaasaawaaddsddwddddssaassddddwwwwddssddsssddw</dd>

    <dt>Level 21</dt>
    <dd>wdsdaswddsaaawdddssddwdwddsdsadwddwwwaaassaawaaaadddsdddwwdddsdddwasssaawwwaaddssssaasssdddsswadsssasdssaaaaawsdddddwsaaawddawdwdsasawaswddasaaaaaawaassdawwssdawwdsswddddasswwaaadddasaasadwwasdwwwwwwwwddwwwwaaaaaasaaasaaawsddddwddsddwwddddssssssdddssssaaaasaassdddwdddddaaaasaaaaaaa</dd>

    <dt>Level 22</dt>
    <dd>sddssaassssddddddddssddddddssddsssaaaaaaaaaaaawwwwwwwwwwwwwwwwwaas</dd>
  </dl>
{% endblock %}
