{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Justin Melvin{% endblock %}
{% block solution %}MEDICAL EMERGENCY{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content .phonetic-answer, .puzzle-content .condition-answer {
    white-space: nowrap;
  }

  .puzzle-content .solution-table code {
  }

  .puzzle-content .box {
    border: 1px black solid;
    padding: 2px;
    margin: 2px;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>Each of the provided clues is a phonetic reinterpretation of the
  name of a medical condition that may require urgent care.</p>

<table class="solution-table">
  <thead>
    <tr>
      <th>Clue</th>
      <th>Phonetic interpretation</th>
      <th>Medical condition</th>
    </tr>
  </thead>
  <tr>
    <td>Butt repair for the singer of 1000 Forms of Fear</td>
    <td class="phonetic-answer"><code>ASS FIX SIA</code></td>
    <td class="condition-answer"><code>AS<span class="box">P</span>HYXIA</code></td>
  </tr>
  <tr>
    <td>A cylinder for Poirot, oh daughter of my parent</td>
    <td class="phonetic-answer"><code>TUBE HERCULE OH SIS</code></td>
    <td class="condition-answer"><code>TUBERCU<span class="box">L</span>OSIS</code></td>
  </tr>
  <tr>
    <td>Woman on Goats Head Soup must pay Murphy, Mom</td>
    <td class="phonetic-answer"><code>ANGIE OWE EDDIE, MA</code></td>
    <td class="condition-answer"><code>ANGIO<span class="box">E</span>DEMA</code></td>
  </tr>
  <tr>
    <td>The Kid&rsquo;s home for birds on a cliff to contact on the phone - yuck!</td>
    <td class="phonetic-answer"><code>BILLY AERIE CALL ICK</code></td>
    <td class="condition-answer"><code>BILI<span class="box">A</span>RY COLIC</code></td>
  </tr>
  <tr>
    <td>Probe clock sound? You will tempt a ripped front of a leg</td>
    <td class="phonetic-answer"><code>TEST TICK YOU&rsquo;LL LURE TORE SHIN</code></td>
    <td class="condition-answer"><code>TE<span class="box">S</span>TICULAR TORSION</code></td>
  </tr>
  <tr>
    <td>A bunch of press about a solemn promise for an ancient city (Farrow)</td>
    <td class="phonetic-answer"><code>HYPE OATH UR MIA</code></td>
    <td class="condition-answer"><code>HYPOTH<span class="box">E</span>RMIA</code></td>
  </tr>
  <tr>
    <td>Palin&rsquo;s note in a place for iniquity, running or racing</td>
    <td class="phonetic-answer"><code>SARAH TONE IN SIN DROME</code></td>
    <td class="condition-answer"><code><span class="box">S</span>EROTONIN SYNDROME</code></td>
  </tr>
  <tr>
    <td>Overturn a place for a building, Sierra</td>
    <td class="phonetic-answer"><code>UPEND A SITE ESS</code></td>
    <td class="condition-answer"><code>APPENDICI<span class="box">T</span>IS</code></td>
  </tr>
  <tr>
    <td>Going the direction opposite kata, saturate the directional line</td>
    <td class="phonetic-answer"><code>ANA FILL AXIS</code></td>
    <td class="condition-answer"><code><span class="box">A</span>NAPHYLAXIS</code></td>
  </tr>
  <tr>
    <td>A dorsal cup of chai for non-fake guys: The Little Ninja (the Aphex Twin alias)</td>
    <td class="phonetic-answer"><code>BACK TEA REAL MEN NINJAI TUSS</code></td>
    <td class="condition-answer"><code>BAC<span class="box">T</span>ERIAL MENINGITIS</code></td>
  </tr>
  <tr>
    <td>Regarding zero, it does not count as success</td>
    <td class="phonetic-answer"><code>RE: NULL FAILURE</code></td>
    <td class="condition-answer"><code>R<span class="box">E</span>NAL FAILURE</code></td>
  </tr>
  <tr>
    <td>An old, male red deer, a stud </td>
    <td class="phonetic-answer"><code>HART A TACK</code></td>
    <td class="condition-answer"><code>HEAR<span class="box">T</span> ATTACK</code></td>
  </tr>
  <tr>
    <td>Butler in the old South, dissolve a separate squadron</td>
    <td class="phonetic-answer"><code>RHETT ANNUL DETACHMENT</code></td>
    <td class="condition-answer"><code>RETINAL DETAC<span class="box">H</span>MENT</code></td>
  </tr>
  <tr>
    <td>From the Spanish, creepy, err&hellip;</td>
    <td class="phonetic-answer"><code>DEL EERIE UM</code></td>
    <td class="condition-answer"><code>D<span class="box">E</span>LIRIUM</code></td>
  </tr>
  <tr>
    <td>An Azadirachta indica for Rosemary&rsquo;s portrayer</td>
    <td class="phonetic-answer"><code>AN NEEM MIA</code></td>
    <td class="condition-answer"><code>A<span class="box">N</span>EMIA</code></td>
  </tr>
  <tr>
    <td>Dwell location</td>
    <td class="phonetic-answer"><code>MULL AREA</code></td>
    <td class="condition-answer"><code>M<span class="box">A</span>LARIA</code></td>
  </tr>
  <tr>
    <td>A pirate&rsquo;s bird, a chevalier: you and me together</td>
    <td class="phonetic-answer"><code>PARROT A KNIGHT US</code></td>
    <td class="condition-answer"><code>PERI<span class="box">T</span>ONITIS</code></td>
  </tr>
  <tr>
    <td>Wildebeest groan about Long from Fresh Prince</td>
    <td class="phonetic-answer"><code>GNU MOAN NIA</code></td>
    <td class="condition-answer"><code>PNE<span class="box">U</span>MONIA</code></td>
  </tr>
  <tr>
    <td>The tendency to ask invasive questions about the skyward direction</td>
    <td class="phonetic-answer"><code>PRY UP -ISM</code></td>
    <td class="condition-answer"><code>P<span class="box">R</span>IAPISM</code></td>
  </tr>
  <tr>
    <td>Jeff Smith comic injects liquid in the ground to get oil and deodorant brand</td>
    <td class="phonetic-answer"><code>BONE FRACK SURE</code></td>
    <td class="condition-answer"><code>BON<span class="box">E</span> FRACTURE</code></td>
  </tr>
  <tr>
    <td>Colorant to encourage criminal activity in a city south of Seattle</td>
    <td class="phonetic-answer"><code>DYE ABET TACOMA</code></td>
    <td class="condition-answer"><code>DIABETIC C<span class="box">O</span>MA</code></td>
  </tr>
  <tr>
    <td>The top part of a grain plant in Father Ted&rsquo;s curse? Eschew!</td>
    <td class="phonetic-answer"><code>EAR IN FECK SHUN</code></td>
    <td class="condition-answer"><code>EAR IN<span class="box">F</span>ECTION</code></td>
  </tr>
  <tr>
    <td>The Quercus that belongs to me makes an automobile end a Hardy girl</td>
    <td class="phonetic-answer"><code>MY OAK CAR DIE TESS</code></td>
    <td class="condition-answer"><code>MYOCARDI<span class="box">T</span>IS</code></td>
  </tr>
  <tr>
    <td>Vampire hunter and Jekyll&rsquo;s worse half meet a beam to climb up quickly by gripping with arms and legs</td>
    <td class="phonetic-answer"><code>D HYDE RAY SHIN</code></td>
    <td class="condition-answer"><code>DE<span class="box">H</span>YDRATION</code></td>
  </tr>
  <tr>
    <td>A musician like the Ramones agrees casually to a 1991 compilation album by Autopsia</td>
    <td class="phonetic-answer"><code>PUNK SURE WOUND</code></td>
    <td class="condition-answer"><code>PUNCTUR<span class="box">E</span> WOUND</code></td>
  </tr>
</table>

<p>Reading the boxed letters in order gives the clue phrase <code>PLEASE
  STATE THE NATURE OF THE</code>. Some searching reveals that this is a
  <a href="https://www.youtube.com/watch?v=0AFy_82wiRI">frequent catchphrase</a> of
  the Emergency Medical Hologram from Star Trek: Voyager. The answer
  is the completion of the quote, <code>PLEASE STATE THE NATURE OF THE <strong>MEDICAL
  EMERGENCY</strong></code>.</p>
{% endblock %}
