{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Jesse Moeller{% endblock %}
{% block solution %}ELIZABETH{% endblock %}

{% block solution_content_block %}
<p>Each picture clues the name of a specific monarch or ruler whose name has a number associated with it, e.g. RICHARD I. The numbers underneath the pictures give the centuries of these rulers’ reigns. Indexing into the regnal name with the regnal number gives <code>GLORIANA OR LILIBET</code>, which are nicknames for <code>ELIZABETH</code>s I and II respectively, leading to the answer, <strong><code>ELIZABETH</code></strong>.</p>

<p>Rulers in order:</p>

<table class="solution-table">
  <tr>
    <th>
      Ruler name
    </th>
    <th>
      Extracted letter
    </th>
  </tr>
  <tr>
    <td><code>MAGNUS III BARNLOCK</code></td>
    <td><code>G</code></td>
  </tr>
  <tr>
    <td><code>MICHAEL VII MINUS A QUARTER</code></td>
    <td><code>L</code></td>
  </tr>
  <tr>
    <td><code>DONALD II THE MADMAN</code></td>
    <td><code>O</code></td>
  </tr>
  <tr>
    <td><code>ROBERT I THE BRUCE</code></td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td><code>DAVID IV THE BUILDER</code></td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td><code>MICHAEL V THE CAULKER</code></td>
    <td><code>A</code></td>
  </tr>
  <tr>
    <td><code>NAPOLEON I THE LITTLE CORPORAL</code></td>
    <td><code>N</code></td>
  </tr>
  <tr>
    <td><code>BASIL II THE BULGAR-SLAYER</code></td>
    <td><code>A</code></td>
  </tr>
  <tr>
    <td><code>OLAF I HUNGER</code></td>
    <td><code>O</code></td>
  </tr>
  <tr>
    <td><code>RICHARD I THE LIONHEART</code></td>
    <td><code>R</code></td>
  </tr>
  <tr>
    <td><code>BOLESLAW III THE WRYMOUTH</code></td>
    <td><code>L</code></td>
  </tr>
  <tr>
    <td><code>ERIC III THE LAMB</code></td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td><code>VLAD II THE DRAGON</code></td>
    <td><code>L</code></td>
  </tr>
  <tr>
    <td><code>NICHOLAS II THE BLOODY</code></td>
    <td><code>I</code></td>
  </tr>
  <tr>
    <td><code>ABDULLAH II THE WARRIOR KING</code></td>
    <td><code>B</code></td>
  </tr>
  <tr>
    <td><code>EDWARD I THE HAMMER OF THE SCOTS</code></td>
    <td><code>E</code></td>
  </tr>
  <tr>
    <td><code>OTTO II THE RED</code></td>
    <td><code>T</code></td>
  </tr>
</table>
{% endblock %}
