{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Tanya Khovanova{% endblock %}
{% block solution %}NECESSARY{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content table.grid {
    margin: 0 auto 3em;
  }
  .puzzle-content table.grid td {
    width: 1.2em;
    font-size: 1.875em;
    text-align: center;
  }
  .puzzle-content .highlight {
    background-color: yellow;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>
  <i>This puzzle was inspired by by Derek Kisman&rsquo;s fractal word search, <a href="http://web.mit.edu/puzzle/www/2013/coinheist.com/get_smart/in_the_details/index.html">In the Details</a>, which contains a crypto word search as one of the steps.</i>
</p>

<p>
  First we solve clues, noticing that the answers are in alphabetical order:
</p>

<table class='solution-table'>
<tr>
  <td>It ends your sleep (5)</td>
  <td><code>ALARM</code></td>
</tr>
<tr>
  <td>A feeling of unease (7)</td>
  <td><code>ANXIETY</code></td>
</tr>
<tr>
  <td>The end of the world, as brought about by horsemen (10)</td>
  <td><code>APOCALYPSE</code></td>
</tr>
<tr>
  <td>Fear of water (10)</td>
  <td><code>AQUAPHOBIA</code></td>
</tr>
<tr>
  <td>Insects in the stomach when scared (11)</td>
  <td><code>BUTTERFLIES</code></td>
</tr>
<tr>
  <td>It conquered fear and crossed the road (7)</td>
  <td><code>CHICKEN</code></td>
</tr>
<tr>
  <td>This word describes Sunday in a Hungarian song (6)</td>
  <td><code>GLOOMY</code></td>
</tr>
<tr>
  <td>Shuddering fear (6)</td>
  <td><code>HORROR</code></td>
</tr>
<tr>
  <td>A deviation in signal pulses (6)</td>
  <td><code>JITTER</code></td>
</tr>
<tr>
  <td>Sad feeling of singles (10)</td>
  <td><code>LONELINESS</code></td>
</tr>
<tr>
  <td>A moaning ghost living in a bathroom (6)</td>
  <td><code>MYRTLE</code></td>
</tr>
<tr>
  <td>Adjective describing a fallacy attributing human emotion to nature (8)</td>
  <td><code>PATHETIC</code></td>
</tr>
<tr>
  <td>His glass is half empty (9)</td>
  <td><code>PESSIMIST</code></td>
</tr>
<tr>
  <td>Overachiever’s concern (6)</td>
  <td><code>STRESS</code></td>
</tr>
<tr>
  <td>Type of denial of service attack (8)</td>
  <td><code>TEARDROP</code></td>
</tr>
<tr>
  <td>Hamlet or Macbeth (7)</td>
  <td><code>TRAGEDY</code></td>
</tr>
<tr>
  <td>Earthquake harbinger (6)</td>
  <td><code>TREMOR</code></td>
</tr>
<tr>
  <td>Calming root (8)</td>
  <td><code>VALERIAN</code></td>
</tr>
<tr>
  <td>Word to describe a baby or siren (7)</td>
  <td><code>WAILING</code></td>
</tr>
<tr>
  <td>Shed tears (4)</td>
  <td><code>WEEP</code></td>
</tr>
<tr>
  <td>Producer of wrinkles (5)</td>
  <td><code>WORRY</code></td>
</tr>
<tr>
  <td>Scary undead (6)</td>
  <td><code>ZOMBIE</code></td>
</tr>
</table>

<p>
  Looking at the word search table, one might notice that the letter frequencies are off, and overall it looks encrypted. We try a substitution cypher. A good place to start is the word <code>PESSIMIST</code>, as the string <code>XXY?YX</code> can be found only in one place. After we place <code>PESSIMIST</code>, it is easy to place <code>STRESS</code>, <code>LONELINESS</code>, and <code>APOCALYPSE</code>. After that the table can be deciphered.
</p>

<table class="grid">
    <td class="highlight">A</td>
    <td class="highlight">V</td>
    <td>M</td>
    <td>Y</td>
    <td>R</td>
    <td>T</td>
    <td>L</td>
    <td>E</td>
    <td>W</td>
    <td>E</td>
    <td>E</td>
    <td>P</td>
    <td>E</td>
  </tr>
  <tr>
    <td>C</td>
    <td class="highlight">E</td>
    <td class="highlight">N</td>
    <td class="highlight">E</td>
    <td>R</td>
    <td class="highlight">R</td>
    <td class="highlight">E</td>
    <td class="highlight">A</td>
    <td class="highlight">L</td>
    <td class="highlight">I</td>
    <td>Y</td>
    <td>E</td>
    <td>S</td>
  </tr>
  <tr>
    <td>I</td>
    <td>C</td>
    <td>T</td>
    <td>E</td>
    <td>A</td>
    <td>R</td>
    <td>D</td>
    <td>R</td>
    <td>O</td>
    <td>P</td>
    <td>D</td>
    <td>S</td>
    <td>P</td>
  </tr>
  <tr>
    <td>T</td>
    <td class="highlight">N</td>
    <td>H</td>
    <td>A</td>
    <td class="highlight">F</td>
    <td>Z</td>
    <td>O</td>
    <td>M</td>
    <td>B</td>
    <td>I</td>
    <td>E</td>
    <td>S</td>
    <td>Y</td>
  </tr>
  <tr>
    <td>E</td>
    <td>Y</td>
    <td>S</td>
    <td>I</td>
    <td>Q</td>
    <td class="highlight">E</td>
    <td class="highlight">C</td>
    <td>W</td>
    <td class="highlight">T</td>
    <td>N</td>
    <td>G</td>
    <td>I</td>
    <td>L</td>
  </tr>
  <tr>
    <td>H</td>
    <td>M</td>
    <td>S</td>
    <td class="highlight">I</td>
    <td>C</td>
    <td>U</td>
    <td>A</td>
    <td>V</td>
    <td>I</td>
    <td class="highlight">O</td>
    <td>A</td>
    <td>M</td>
    <td>A</td>
  </tr>
  <tr>
    <td>T</td>
    <td>O</td>
    <td>E</td>
    <td class="highlight">N</td>
    <td class="highlight">C</td>
    <td>K</td>
    <td>A</td>
    <td>L</td>
    <td class="highlight">A</td>
    <td class="highlight">L</td>
    <td>R</td>
    <td>I</td>
    <td>C</td>
  </tr>
  <tr>
    <td>A</td>
    <td>O</td>
    <td>R</td>
    <td class="highlight">L</td>
    <td class="highlight">E</td>
    <td>L</td>
    <td>E</td>
    <td>P</td>
    <td>A</td>
    <td class="highlight">D</td>
    <td>T</td>
    <td>S</td>
    <td>O</td>
  </tr>
  <tr>
    <td>P</td>
    <td>L</td>
    <td>T</td>
    <td>R</td>
    <td>E</td>
    <td>N</td>
    <td class="highlight">T</td>
    <td>N</td>
    <td>H</td>
    <td>R</td>
    <td class="highlight">H</td>
    <td>T</td>
    <td>P</td>
  </tr>
  <tr>
    <td class="highlight">E</td>
    <td>G</td>
    <td>S</td>
    <td>R</td>
    <td>O</td>
    <td>M</td>
    <td>E</td>
    <td>R</td>
    <td>T</td>
    <td>O</td>
    <td>M</td>
    <td class="highlight">C</td>
    <td>A</td>
  </tr>
  <tr>
    <td>S</td>
    <td>E</td>
    <td>I</td>
    <td>L</td>
    <td>F</td>
    <td>R</td>
    <td>E</td>
    <td>T</td>
    <td>T</td>
    <td>U</td>
    <td>B</td>
    <td class="highlight">L</td>
    <td class="highlight">A</td>
  </tr>
  <tr>
    <td>W</td>
    <td>A</td>
    <td>I</td>
    <td>L</td>
    <td>I</td>
    <td>N</td>
    <td>G</td>
    <td>R</td>
    <td>E</td>
    <td>T</td>
    <td>T</td>
    <td>I</td>
    <td>J</td>
  </tr>
  <tr>
    <td>N</td>
    <td class="highlight">P</td>
    <td class="highlight">N</td>
    <td class="highlight">I</td>
    <td class="highlight">N</td>
    <td class="highlight">E</td>
    <td>Y</td>
    <td>T</td>
    <td>E</td>
    <td>I</td>
    <td>X</td>
    <td>N</td>
    <td>A</td>
  </tr>
</table>

<p>
  Extra letters (in yellow) spell <code>A VENEREAL INFECTION CALLED THE CLAP NINE</code>. This clues <code>GONORRHEA</code>. The last step is to encrypt <code>GONORRHEA</code> using the same substitution cipher. The answer is <strong><code>NECESSARY</code></strong>.
</p>
{% endblock %}
