{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Zachary Chroman{% endblock %}
{% block solution %}RED CHINA{% endblock %}

{% block solution_head_block %}
  <style>
    .puzzle-content #triangles img {
      width: 220px;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <p>Solvers are presented with a series of geometrical pictures,
    arrayed in mathematical equations. Each picture starts with the
    base image of a triangle, and somehow constructs a point inside
    the triangle, which is marked with an “X.”</p>

  <p>The use of the letter X in the title and on the points suggests
    the <a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html">Encyclopedia
    of Triangle Centers</a>, which uses X(n) to assign a canonical
    ordering to triangle centers. For example, X(1) is the incenter,
    X(2) is the centroid, etc.</p>

  <p>Here is the full set of triangles used in the puzzle (we call the
    triangle ABC throughout, despite it not being labeled in the
    puzzle):</p>

  <table id="triangles" class="solution-table">
    <thead>
      <tr>
        <th>Picture</th>
        <th>Center</th>
        <th>Explanation</th>
      </tr>
    </thead>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-01.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X10">X(10)</a></td>
      <td>Shown in the diagram is the incenter of the triangle
        determined by the midpoints of the sides. The Spieker Center,
        X(10), is by definition the incenter of the medial triangle</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-02.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X21">X(21)</a></td>
      <td>There’s a lot going on in this picture, so let’s break it
        down. Constructed first is the incenter I, the intersection
        of the angle bisectors. The dotted lines give all three
        medians in triangles AIB, BIC, CIA, which concur at the
        respective centroids. The other important piece of
        information is the geometric fact that the circumcenter of
        the triangle BIC is exactly the intersection of AI with the
        circumcircle of ABC (this can be proven using angles). Then,
        the lines that concur at X are the Euler lines of triangles
        AIB, AIC, BIC, which meet at the Schiffler point X(21)</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-03.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X13">X(13)</a></td>
      <td>X(13) is the Fermat point, or Fermat-Torricelli point. From
        the construction shown, it follows that
        ∠AXB=∠AXC=∠BXC=120. X(13) is the unique point with this
        property (for an acute triangle).</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-04.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X2">X(2)</a></td>
      <td>The centroid X(2) is the intersection of the lines joining
        each vertex with the midpoint of the opposite side.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-05.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X6">X(6)</a></td>
      <td>The symmedian point X(6) is the perspector of ABC and its
        tangential triangle. The tangential triangle is formed by the
        tangents to the circumcircle at the three points, and the
        perspector of two triangles is the intersection of lines
        through the corresponding vertices, if they concur. This fact
        is a somewhat deep geometric theorem that is not found on ETC,
        but does show up on the Wolfram Mathworld pages for both the
        tangential triangle and symmedian point.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-06.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X8">X(8)</a></td>
      <td>The Nagel point X(8) is the intersection of the lines
        connecting each vertex to the touchpoint of the opposite
        excircle.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-07.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X5">X(5)</a></td>
      <td>X(5) is the nine-point center, the center of the famous
        nine-point circle. The nine points the nine-point circle goes
        through are the following: The midpoints of AB, BC, CA The
        feet of the altitudes from A to BC, etc.  The midpoints of the
        segments joining each vertex to the orthocenter.  Furthermore,
        the blue dotted lines are in fact diameters of the nine-point
        circle, so they meet at its center.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-08.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X1">X(1)</a></td>
      <td>This diagram constructs the lines joining A with the
        midpoint of arc BC, B with the midpoint of arc AC, and C with
        the midpoint of arc AB. These lines are angle bisectors, which
        meet at the incenter.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-09.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X3">X(3)</a></td>
      <td>The circumcenter X(3) is the intersection of perpendicular
        bisectors of each side.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-10.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X6">X(6)</a></td>
      <td>This is the first diagram that isn’t actually a
        construction: it starts with the center and shows the property
        that X is the centroid of its pedal triangle. (The pedal
        triangle is the triangle constructed by dropping altitudes to
        each side). The unique triangle center with this property is
        X(6), the symmedian point.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-11.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X1">X(1)</a></td>
      <td>X(1) is the incenter, the center of the circle
        inscribed in ABC.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-12.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X19">X(19)</a></td>
      <td>The Clawson point X(19) is the homothetic center of the
        extangents triangle, formed by the “other” mutual tangents of
        the excircles, and the orthic triangle, formed by the feet of
        the altitudes in a triangle.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-13.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X12">X(12)</a></td>
      <td>From ETC: “Let A′B′C′ be the touch points of the nine-point
        circle with the A-, B-, C- excircles, respectively. The lines
        AA′, BB′, CC′ concur in X(12).”</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-14.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X4">X(4)</a></td>
      <td>The orthocenter X(4) is the isogonal conjugate of the
        circumcenter, meaning it satisfies the angle conditions shown
        in the diagram.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-15.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X1">X(1)</a></td>
      <td>The depicted points on the sides of the triangle are the
        touchpoints of the incircle (this is because the length of the
        tangents from A to the incircle are equal, similarly B, C). The
        incenter X(1) is the intersection of the perpendiculars from
        those points to the sides.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-16.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X6">X(6)</a></td>
      <td>The symmedian point X(6) is the isogonal conjugate of the
        centroid, which is the other interior point in the
        picture. This means that it is the unique point satisfying the
        angle conditions shown.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-17.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X11">X(11)</a></td>
      <td>The Feuerbach point X(11) is the intersection of the
        incircle and nine-point circle, which are tangent (this is
        known as Feuerbach’s theorem). The nine-point circle is the
        circumcircle of the medial triangle (since those are three of
        the nine points).</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-18.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X7">X(7)</a></td>
      <td>The Gergonne point X(7) is the intersections of the lines
        joining each vertex with the opposite touchpoint of the
        incircle.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-19.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X4">X(4)</a></td>
      <td>In the diagram, X is the incenter of the triangle formed by
        intersecting AX, BX, and CX with the circumcircle. The unique
        point that satisfies this is X(4). The simplest way to show
        this is to use the fact that the intersections of AX, BX, CX
        with the circle are exactly the reflections of H over the
        sides of the triangle, and that (from ETC) H is the incenter
        of the orthic triangle.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-20.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X8">X(8)</a></td>
      <td>The Nagel point, X(8), lies on the Nagel line, which goes
        through the incenter and centroid. If we call those points I
        and G, respectively, than the Nagel point X satisfies XG=2IG,
        which is the length relation depicted.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-21.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X17">X(17)</a></td>
      <td>From ETC: “Let X,Y,Z be the centers of the equilateral
        triangles in the construction of X(13). The lines AX, BY, CZ
        concur in X(17).” X(17) is known as the first Napoleon point.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-22.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X9">X(9)</a></td>
      <td>X(9) is known as the mittenpunkt. This is easily the hardest
        center to identify: the solver is forced to look in terms of
        the red triangle formed by the extouch points, and know that
        the vertices of the original triangle are the feet of the
        altitudes in that triangle.  The
        <a href="http://mathworld.wolfram.com/OrthicInconic.html">orthic
        inconic</a> is the conic tangent to the sides of a triangle at
        the feet of the altitudes. Its center is the symmedian point,
        and finally the symmedian point of the excentral triangle is
        X(9).</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-23.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X6">X(6)</a></td>
      <td>X(6) is the circumcenter of the triangle formed by the
        reflections of the centroid over the sides of the triangle. In
        ETC notation: “X(6) = X(3)-of-reflection-triangle-of-X(2).”</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-24.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X4">X(4)</a></td>
      <td>Let X be the point in the picture, and let D, E, and F be
        the intersections of AX, BX, and CX with the opposite
        sides. The picture shows the condition that quadrilaterals
        BFEC, AEDB, and CDFA are all cyclic. The unique point with
        this property is X(4), where the circles in question are the
        circles of diameter BC, AB, and AC, by
        <a href="https://en.wikipedia.org/wiki/Thales%27_theorem">Thales’
          Theorem</a>.</td>
    </tr>
    <tr>
      <td><img {{ img_src_for('solutions/x_marks_the_spot/triangle-25.png') }}></td>
      <td><a href="http://faculty.evansville.edu/ck6/encyclopedia/ETC.html#X2">X(2)</a></td>
      <td>The picture describes the condition that triangles AXB, BXC,
        and AXC each have equal area. From ETC: “The triangles BXC,
        CXA, AXB have equal areas if and only if X = X(2).”</td>
    </tr>
  </table>

  <p>Having identified all of the triangle centers, it’s possible to
    compute the equations in each line, using the result to index into
    the alphabet:</p>

  <table class="solution-table condensed-table">
    <thead>
      <tr>
        <th>Equation</th>
        <th>Result</th>
        <th>Letter</th>
      </tr>
    </thead>
    <tr>
      <td>(10+21−13)÷2</td>
      <td>9</td>
      <td><code>I</code></td>
    </tr>
    <tr>
      <td>6(8−5)+1</td>
      <td>19</td>
      <td><code>S</code></td>
    </tr>
    <tr>
      <td>3(6−1)</td>
      <td>15</td>
      <td><code>O</code></td>
    </tr>
    <tr>
      <td>19−12</td>
      <td>7</td>
      <td><code>G</code></td>
    </tr>
    <tr>
      <td>4²−1</td>
      <td>15</td>
      <td><code>O</code></td>
    </tr>
    <tr>
      <td>6+11−7+4</td>
      <td>14</td>
      <td><code>N</code></td>
    </tr>
    <tr>
      <td>8÷(17−9)</td>
      <td>1</td>
      <td><code>A</code></td>
    </tr>
    <tr>
      <td>6·4÷2</td>
      <td>12</td>
      <td><code>L</code></td>
    </tr>
  </table>

  <p>Reading the letters spells out <code>ISOGONAL</code>, which clues
    to take the isogonal conjugate (an operation of triangle centers,
    easily looked up on the ETC) of each point in the
    pictures. Translating each center to its isogonal conjugate and
    plugging into the same equations yields:</p>

  <table class="solution-table condensed-table">
    <thead>
      <tr>
        <th>Equation</th>
        <th>Result</th>
        <th>Letter</th>
      </tr>
    </thead>
    <tr>
      <td>(58+65−15)÷6</td>
      <td>18</td>
      <td><code>R</code></td>
    </tr>
    <tr>
      <td>2(56−54)+1</td>
      <td>5</td>
      <td><code>E</code></td>
    </tr>
    <tr>
      <td>4(2−1)</td>
      <td>4</td>
      <td><code>D</code></td>
    </tr>
    <tr>
      <td>63−60</td>
      <td>3</td>
      <td><code>C</code></td>
    </tr>
    <tr>
      <td>3²−1</td>
      <td>8</td>
      <td><code>H</code></td>
    </tr>
    <tr>
      <td>2+59−55+3</td>
      <td>9</td>
      <td><code>I</code></td>
    </tr>
    <tr>
      <td>56÷(61−57)</td>
      <td>14</td>
      <td><code>N</code></td>
    </tr>
    <tr>
      <td>2·3÷6</td>
      <td>1</td>
      <td><code>A</code></td>
    </tr>
  </table>

  <p>The letters in order spell the answer, <strong><code>RED CHINA</code></strong>.</p>
{% endblock %}
