{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By James Douberley, Kevin Hwang, and Hubert Hwang{% endblock %}
{% block solution %}DISGUISED AS VOLTORB{% endblock %}

{% block solution_head_block %}
<style>
</style>
{% endblock %}

{% block solution_content_block %}

<p>
In this round, there are eighteen puzzles, each associated with a
Pok&eacute;mon.  It turns out that there are three Pok&eacute;mon each of six
different types, as follows:
</p>

<p>
<table class="solution-table">
  <tr>
    <th>Type</th>
    <th>Pok&eacute;mon A1 / Answer</th>
    <th>Pok&eacute;mon A2 / Answer</th>
    <th>Pok&eacute;mon B1 / Answer</th>
  </tr>
  <tr>
    <td>Normal</td>
    <td>Rattata / <code>YARDARM</code></td>
    <td>Raticate / <code>MAST</code></td>
    <td>Meowth / <code>CEILING</code></td>
  </tr>
  <tr>
    <td>Fire</td>
    <td>Charmander / <code>WOODSTOCK</code></td>
    <td>Charmeleon / <code>PUNK ROCK</code></td>
    <td>Ponyta / <code>RED CHINA</code></td>
  </tr>
  <tr>
    <td>Ghost</td>
    <td>Yamask / <code>RIGHTMOST</code></td>
    <td>Cofagrigus / <code>RIM</code></td>
    <td>Duskull / <code>PASTOR</code></td>
  </tr>
  <tr>
    <td>Water</td>
    <td>Squirtle / <code>STUMBLE</code></td>
    <td>Wartortle / <code>THUMBHOLES</code></td>
    <td>Krabby / <code>REPTILES</code></td>
  </tr>
  <tr>
    <td>Rock</td>
    <td>Cranidos / <code>GOLDEN STATE</code></td>
    <td>Rampardos / <code>BUSH</code></td>
    <td>Rockruff / <code>ABSOLUTION</code></td>
  </tr>
  <tr>
    <td>Dragon</td>
    <td>Dratini / <code>PEARL</code></td>
    <td>Dragonair / <code>LENT</code></td>
    <td>Bagon / <code>JADE</code></td>
  </tr>
</table>
</div>

<h2>Step One: Evolution</h2>

<p>
Two of the three Pok&eacute;mon of each type form an evolution chain&mdash;one
evolves into the other.  The third is unpaired, but in the
games <b>can</b> evolve into another Pok&eacute;mon.  Each of those six
Pok&eacute;mon are represented as the left-side combatants on the puzzle
page: Persian, Rapidash, Dusclops, Kingler, Lycanroc, and Shelgon.
This suggests that you need to somehow evolve your Meowth / Ponyta /
etc.
</p>

<p>
In order to do so, you need to figure out the hidden evolution
mechanic for each type, clued by the A1 / A2 pair of answers.  These
are:

<ul>
  <li>Normal: Rotate A1 by 90 degrees to get A2</li>
  <li>Fire: To get A2, take the entry two after A1 in <i>We Didn't Start the Fire</i> by Billy Joel</li>
  <li>Ghost: To get A2, remove all occurrences of the letters G,H,O,S, or T from A1</li>
  <li>Water: Add the letters HHO to A1 and anagram to get A2</li>
  <li>Rock: Interpret A1 as an album.  A2 is the artist who made A1.</li>
  <li>Dragon: A1 is the drag name of a competitor from <i>RuPaul's Drag Race</i>.  A2 is their birth last name.</li>
</ul>
</p>

<p>
This gives the following six evolved answers:
<ul>
  <li>Normal (Persian): <code>WALL</code></li>
  <li>Fire (Rapidash): <code>SOUTH PACIFIC</code></li>
  <li>Ghost (Dusclops): <code>PAR</code></li>
  <li>Water (Kingler): <code>LITHOSPHERE</code></li>
  <li>Rock (Lycanroc): <code>MUSE</code></li>
  <li>Dragon (Shelgon): <code>SOTOMAYOR</code></li>
</ul>
</p>

<h2>Step Two: Fighting</h2>

<p>
In the right hand column of the puzzle page are six Pok&eacute;mon owned by
your rival.  Each is given a name and its type matches up with one of
your Pok&eacute;mon.
</p>

<p>
In order to successfully fight one of your rival&rsquo;s Pok&eacute;mon, you need
to take your Pok&eacute;mon&rsquo;s answer and the rival Pok&eacute;mon&rsquo;s name, and
combine them using one of the three sub-meta answers&mdash;the &ldquo;battle
mechanics&rdquo;.  Each battle mechanic is used twice.
</p>

<p>
The battle mechanics used are:
<ul>
<li><code>TAKE OUT</code> - given two answers,
&lsquo;subtract&rsquo; one from the other.</li>
<li><code>BLACK MAGIC</code> - the enemy name indicates
a Magic: the Gathering set, and the evolved answer names a cycle of cards
within that set (a thematically-linked group of cards in all five colors).
The result is the black card of that cycle.</li>
<li><code>BE MEAN</code> - take the
&lsquo;average&rsquo; of the two answers.</li>
</ul>
</p>

<p>
The six pairings are as follows:
<table class="solution-table">
  <tr>
    <th>Your Pok&eacute;mon</th>
    <th>Rival Pok&eacute;mon</th>
    <th>Fight Mechanic</th>
    <th>Result</th>
  </tr>
  <tr>
    <td>Persian / <code>WALL</code></td>
    <td>Snorlax / <code>STRONGHOLD</code></td>
    <td><code>BLACK MAGIC</code></td>
    <td><code>SOULS</code></td>
  </tr>
  <tr>
    <td>Shelgon / <code>SOTOMAYOR</code></td>
    <td>Goodra / <code>VINSON</code></td>
    <td><code>BE MEAN</code></td>
    <td><code>BLACKMUN</code></td>
  </tr>
  <tr>
    <td>Lycanroc / <code>MUSE</code></td>
    <td>Sudowoodo / <code>LEGIONS</code></td>
    <td><code>BLACK MAGIC</code></td>
    <td><code>GRAVEBORN</code></td>
  </tr>
  <tr>
    <td>Krabby / <code>LITHOSPHERE</code></td>
    <td>Golduck / <code>MANTLE</code></td>
    <td><code>TAKE OUT</code></td>
    <td><code>CRUST</code></td>
  </tr>
  <tr>
    <td>Rapidash / <code>SOUTH PACIFIC</code></td>
    <td>Flareon / <code>RAISIN</code></td>
    <td><code>BE MEAN</code></td>
    <td><code>HOW TO SUCCEED IN BUSINESS WITHOUT REALLY TRYING</code></td>
  </tr>
  <tr>
    <td>Dusclops / <code>PAR</code></td>
    <td>Mismagius / <code>ONE</code></td>
    <td><code>TAKE OUT</code></td>
    <td><code>BIRDIE</code></td>
  </tr>
</table>
</p>

<h2>Step Three: Extraction</h2>

<p>
Upon confirming a fight result, you will be given a series of blanks
and numbers.  The numbers range from 1 to 18.
</p>

<p>
<table class="solution-table">
  <tr><th>Answer</th><th>Pattern</th></tr>
  <tr><td><code>SOULS</code></td>
      <td class="blanks">__ (13) __ (14) (3)</td></tr>
  <tr><td><code>BLACKMUN</code></td>
      <td class="blanks">(18) __ (10) __ __ __ (5) __</td></tr>
  <tr><td><code>GRAVEBORN</code></td>
      <td class="blanks">(4) __ __ (12) __ __ (16) __ __</td></tr>
  <tr><td><code>CRUST</code></td>
      <td class="blanks">__ (17) __ (7) (15)</td></tr>
  <tr><td><code>HOW TO SUCCEED IN BUSINESS WITHOUT REALLY TRYING</code></td>
      <td class="blanks">__ __ __ // __ __ // 
  __ __ __ __ __ __ (9) // (2) __ //
  __ __ (11) __ __ __ __ __ //
  __ __ __ __ __ __ __  //
  __ __ __ __ __ __ //
  __ __ __ __ __ __</td></tr>
  <tr><td><code>BIRDIE</code></td>
      <td class="blanks">__ (6) __ (1) __ (8)</td></tr>
</table>
</p>

<p>
Writing down the appropriate letters gives the Memory Orb
&ldquo;location&rdquo;: <strong><code>DISGUISED AS VOLTORB</code></strong>.
</p>

{% endblock %}
