{% extends "solutions/solution_layout.html" %}

{% set puzzle_title = puzzle.puzzleProperties.DisplayNameProperty.displayName %}
{% block title_block %}{{ puzzle_title }}: Solution{% endblock %}
{% block puzzle_name_block %}{{ puzzle_title }}: Solution{% endblock %}

{% block byline %}By Erin Price{% endblock %}
{% block solution %}HIKE UP{% endblock %}

{% block solution_head_block %}
<style>
  .puzzle-content table {
    margin-bottom: 20px;
  }

  .puzzle-content table.criss-cross {
    width: 100%;
  }

  .puzzle-content table.criss-cross {
    border-collapse: collapse;
    margin: auto;
  }

  .puzzle-content table.criss-cross td {
    border: 1px solid black;
    border-collapse: collapse;

    width: 1em;
    height: 1em;

    text-align: center;
  }

  .puzzle-content table.criss-cross td.white {
    border-width: 0px;
  }

  .puzzle-content .red {
    background-color: lightpink;
  }

  .puzzle-content .orange {
    background-color: orange;
  }

  .puzzle-content  .yellow {
    background-color: yellow;
  }

  .puzzle-content .green {
    background-color: lightgreen;
  }

  .puzzle-content .blue {
    background-color: lightblue;
  }

  .puzzle-content .purple {
    background-color: plum;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<p>Each pair of images identifies a named intersection in Cambridge. The names fit into the grid at the bottom and the marked cells can be ordered by the area of the city where each landmark is located, spelling <strong><code>HIKE UP</code></strong>.</p>

<table class="solution-table condensed-table">
  <tr>
    <th>First image</th>
    <th>Primary street rebus</th>
    <th>Second image</th>
    <th>Cross street rebus</th>
    <th>Square namesake</th>
    <th>Area</th>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/02.png') }}" target="blank">Paperclip</a></td>
    <td>BENT</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/03.png') }}" target="blank">Clock</a></td>
    <td>SECOND</td>
    <td>Edward F. Kelly Esq.</td>
    <td>1</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/04.png') }}" target="blank">Blue ribbon</a></td>
    <td>FIRST</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/06.png') }}" target="blank">Roses</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/05.png') }}" target="blank">levee</a></td>
    <td>THORNDIKE</td>
    <td>Frank L. DiLeo</td>
    <td>1</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/07.png') }}" target="blank">King Charles II of England</a></td>
    <td>CHARLES</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/08.png') }}" target="blank">Trivial Pursuit piece missing a wedge</a></td>
    <td>SIXTH</td>
    <td>Joseph L. Roberts</td>
    <td>1</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/09.png') }}" target="blank">Aerial shot of MIT</a></td>
    <td>CAMBRIDGE</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/08.png') }}" target="blank">Trivial Pursuit piece missing a wedge</a></td>
    <td>SIXTH</td>
    <td>Joseph P. Dilworth</td>
    <td>1</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/09.png') }}" target="blank">Aerial shot of MIT</a></td>
    <td>CAMBRIDGE</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/10.png') }}" target="blank">Chord consisting of C and E</a></td>
    <td>THIRD</td>
    <td>Louis J. Ferracane Sr.</td>
    <td>1</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/10.png') }}" target="blank">Chord consisting of C and E</a></td>
    <td>THIRD</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/11.png') }}" target="blank">Otis Redding</a></td>
    <td>OTIS</td>
    <td>Luigi Totino</td>
    <td>1</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/11.png') }}" target="blank">Otis Redding</a></td>
    <td>OTIS</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/10.png') }}" target="blank">Chord consisting of C and E</a></td>
    <td>THIRD</td>
    <td>Ralph W. Ferracane</td>
    <td>1</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/10.png') }}" target="blank">Chord consisting of C and E</a></td>
    <td>THIRD</td>
    <td>William Vera</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/07.png') }}" target="blank">King Charles II of England</a></td>
    <td>CHARLES</td>
    <td>1</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/12.png') }}" target="blank">Broadway, Manhattan</a></td>
    <td>BROADWAY</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/13.png') }}" target="blank">Child drawing a bow</a></td>
    <td>AMES (&lsquo;aims&rsquo;)</td>
    <td>Ann Marie Sarchioni</td>
    <td>2</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/14.png') }}" target="blank">Photo of Vassar campus</a></td>
    <td>VASSAR</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/15.png') }}" target="blank">Seal of Massachusetts</a></td>
    <td>MASSACHUSETTS</td>
    <td>Mayor Brooks</td>
    <td>2</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/16.png') }}" target="blank">Noah Webster</a></td>
    <td>WEBSTER</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/18.png') }}" target="blank">Toasting with wine</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/17.png') }}" target="blank">smile</a></td>
    <td>PORTSMOUTH</td>
    <td>Edward Roderick</td>
    <td>3</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/19.png') }}" target="blank">Rabbit outside a rabbithole</a></td>
    <td>WARREN</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/20.png') }}" target="blank">Daveed Diggs</a></td>
    <td>JEFFERSON</td>
    <td>Jack T. Pritchard</td>
    <td>3</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/09.png') }}" target="blank">Aerial shot of MIT</a></td>
    <td>CAMBRIDGE</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/19.png') }}" target="blank">Rabbit outside a rabbithole</a></td>
    <td>WARREN</td>
    <td>James &ldquo;Jimmy&rdquo; Sauer</td>
    <td>3</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/21.png') }}" target="_blank">Tree</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/22.png') }}" target="blank">hobbit-hole</a></td>
    <td>BERKSHIRE</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/23.png') }}" target="blank">Toilet paper</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/17.png') }}" target="blank">smile</a></td>
    <td>PLYMOUTH</td>
    <td>Joseph &ldquo;Buddy&rdquo; Camara</td>
    <td>3</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/09.png') }}" target="blank">Aerial shot of MIT</a></td>
    <td>CAMBRIDGE</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/24.png') }}" target="blank">Windsor Castle</a></td>
    <td>WINDSOR</td>
    <td>Joseph Versackas Sr.</td>
    <td>3</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/16.png') }}" target="blank">Noah Webster</a></td>
    <td>WEBSTER</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/25.png') }}" target="blank">Superman</a></td>
    <td>CLARK</td>
    <td>William F. Furtado Sr.</td>
    <td>3</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/26.png') }}" target="blank">Open-air market</a></td>
    <td>MARKET</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/27.png') }}" target="blank">Handfasting</a></td>
    <td>UNION</td>
    <td>Andrew J. Dobrisky</td>
    <td>4</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/28.png') }}" target="blank">Column</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/29.png') }}" target="blank">honeybee</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/30.png') }}" target="blank">letter block with an A</a></td>
    <td>COLUMBIA</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/31.png') }}" target="blank">County map of Massachusetts with Suffolk county highlighted</a></td>
    <td>SUFFOLK</td>
    <td>Charles J. Fanning</td>
    <td>4</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/32.png') }}" target="blank">Cherry</a></td>
    <td>CHERRY</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/33.png') }}" target="blank">Statue of John Harvard</a></td>
    <td>HARVARD</td>
    <td>Edith Brown Elder</td>
    <td>4</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/34.png') }}" target="blank">Storm</a> - <a href="{{ asset_url_for('puzzles/zelma_frank/35.png') }}" target="blank">moai</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/36.png') }}" target="blank">gas gauge</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/37.png') }}" target="blank">egg</a></td>
    <td>NORFOLK (NOR&rsquo;EASTER - EASTER + F + YOLK)</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/33.png') }}" target="blank">Statue of John Harvard</a></td>
    <td>HARVARD</td>
    <td>Frederick Kilfoyle</td>
    <td>4</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/38.png') }}" target="blank">Loose plank</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/39.png') }}" target="blank">person absorbed in smartphone</a></td>
    <td>BOARDMAN</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/12.png') }}" target="blank">Broadway, Manhattan</a></td>
    <td>BROADWAY</td>
    <td>James &ldquo;Bumpy&rdquo; Garro</td>
    <td>4</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/12.png') }}" target="blank">Broadway, Manhattan</a></td>
    <td>BROADWAY</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/40.png') }}" target="blank">Tree</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/41.png') }}" target="blank">mountain over the flag of France</a></td>
    <td>TREMONT</td>
    <td>John M. Gibson</td>
    <td>4</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/42.png') }}" target="blank">Cross</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/43.png') }}" target="blank">landscape</a></td>
    <td>CROSSLAND</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/44.png') }}" target="blank">Pad of paper</a></td>
    <td>BRISTOL</td>
    <td>Robert R. Sutherland</td>
    <td>4</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/45.png') }}" target="blank">Pipes</a></td>
    <td>MAIN</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/28.png') }}" target="blank">Column</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/29.png') }}" target="blank">honeybee</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/30.png') }}" target="blank">letter block with an A</a></td>
    <td>COLUMBIA</td>
    <td>Thomas E. Cogwell</td>
    <td>4</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/46.png') }}" target="blank">Child relaxing in hammock</a></td>
    <td>PLEASANT</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/47.png') }}" target="blank">The artist formerly known as Prince</a></td>
    <td>PRINCE</td>
    <td>Clifford A. Bonvie Sr.</td>
    <td>5</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/48.png') }}" target="blank">Pearl</a></td>
    <td>PEARL</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/49.png') }}" target="blank">Checklist</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/50.png') }}" target="blank">taser</a></td>
    <td>ALLSTON (ALL + STUN)</td>
    <td>Henry W. Hank Vera</td>
    <td>5</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/51.png') }}" target="blank">Nurse in sanatorium</a></td>
    <td>FLORENCE</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/52.png') }}" target="blank">Gary Oldman in <i>Batman Begins</i></a></td>
    <td>GORDON</td>
    <td>Joseph C. Whitney</td>
    <td>5</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/15.png') }}" target="blank">Seal of Massachusetts</a></td>
    <td>MASSACHUSETTS</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/53.png') }}" target="blank">Stream</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/54.png') }}" target="blank">airport queue</a></td>
    <td>BROOKLINE</td>
    <td>Mark Sandman</td>
    <td>5</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/55.png') }}" target="_blank">Large collection of serial publications</a></td>
    <td>MAGAZINE</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/56.png') }}" target="_blank">Katy Perry</a></td>
    <td>PERRY</td>
    <td>Robert C. Quinton</td>
    <td>5</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/57.png') }}" target="_blank">Shaggy cow</a></td>
    <td>HIGHLAND</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/58.png') }}" target="_blank">Golf course</a> + <a href="{{ asset_url_for('puzzles/zelma_frank/59.png') }}" target="_blank">refusing beer</a></td>
    <td>GREENOUGH (GREEN + ENOUGH / NO)</td>
    <td>Charles F. Sprague</td>
    <td>6</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/13.png') }}" target="blank">Child drawing a bow</a> / <a href="{{ asset_url_for('puzzles/zelma_frank/60.png') }}" target="_blank">gas gauge</a></td>
    <td>AMORY (&lsquo;aim or e&rsquo;)</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/12.png') }}" target="blank">Broadway, Manhattan</a></td>
    <td>BROADWAY</td>
    <td>John Philip Sousa</td>
    <td>6</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/15.png') }}" target="blank">Seal of Massachusetts</a></td>
    <td>MASSACHUSETTS</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/61.png') }}" target="_blank">Hancock tower</a></td>
    <td>HANCOCK</td>
    <td>Joseph A. Brusch Jr.</td>
    <td>6</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/62.png') }}" target="_blank">Irving Berlin</a></td>
    <td>IRVING</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/63.png') }}" target="_blank">Ashton Kutcher</a></td>
    <td>ASHTON</td>
    <td>Olivia I. Abelson</td>
    <td>6</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/12.png') }}" target="blank">Broadway, Manhattan</a></td>
    <td>BROADWAY</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/64.png') }}" target="_blank">Bruce Lee</a></td>
    <td>LEE</td>
    <td>Peter M. Moran</td>
    <td>6</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/15.png') }}" target="blank">Seal of Massachusetts</a></td>
    <td>MASSACHUSETTS</td>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/65.png') }}" target="_blank">Person absorbed in smartphone with an arrow pointing at their torso</a></td>
    <td>INMAN</td>
    <td>Reverend Larry Love</td>
    <td>6</td>
  </tr>
</table>

<p>The landmarks are as follows:</p>

<table class="solution-table condensed-table">
  <tr>
    <th>Landmark</th>
    <th>Group</th>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/66-large.png') }}" target="_blank">CambridgeSide Galleria</a></td>
    <td>1</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/71-large.png') }}" target="_blank">Great Dome</a></td>
    <td>2</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/70-large.png') }}" target="_blank">Alley Cats</a></td>
    <td>3</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/67-large.png') }}" target="_blank">Novartis Building</a></td>
    <td>4</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/69-large.png') }}" target="_blank">Levitated Stone</a></td>
    <td>5</td>
  </tr>
  <tr>
    <td><a href="{{ asset_url_for('puzzles/zelma_frank/68-large.png') }}" target="_blank">Cambridge Public Library</a></td>
    <td>6</td>
  </tr>
</table>

<a href="https://www.google.com/maps/d/edit?mid=10iD-fZJGOwF1cjnbDPWot48VVP7SPJc9&ll=42.367135515836715%2C-71.09471704999999&z=15">Google map of all squares and landmarks</a>

<p>The solved criss-cross is as follows, with extraction squares highlighted in order from red to purple:</p>

<table class="criss-cross">
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      C
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      J
    </td>
    <td>
      A
    </td>
    <td>
      M
    </td>
    <td>
      E
    </td>
    <td>
      S
    </td>
    <td>
      B
    </td>
    <td>
      U
    </td>
    <td>
      M
    </td>
    <td>
      P
    </td>
    <td>
      Y
    </td>
    <td>
      G
    </td>
    <td>
      A
    </td>
    <td>
      R
    </td>
    <td>
      R
    </td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      H
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      L
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      J
    </td>
    <td>
      A
    </td>
    <td>
      C
    </td>
    <td>
      K
    </td>
    <td>
      T
    </td>
    <td>
      P
    </td>
    <td>
      R
    </td>
    <td>
      I
    </td>
    <td>
      T
    </td>
    <td>
      C
    </td>
    <td>
      H
    </td>
    <td>
      A
    </td>
    <td>
      R
    </td>
    <td>
      D
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      L
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      H
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      E
    </td>
    <td>
      D
    </td>
    <td>
      I
    </td>
    <td>
      T
    </td>
    <td>
      H
    </td>
    <td>
      B
    </td>
    <td>
      R
    </td>
    <td>
      O
    </td>
    <td>
      W
    </td>
    <td>
      N
    </td>
    <td class="green">
      E
    </td>
    <td>
      L
    </td>
    <td>
      D
    </td>
    <td>
      E
    </td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      H
    </td>
    <td>
      E
    </td>
    <td>
      N
    </td>
    <td>
      R
    </td>
    <td>
      Y
    </td>
    <td>
      W
    </td>
    <td>
      H
    </td>
    <td>
      A
    </td>
    <td>
      N
    </td>
    <td>
      K
    </td>
    <td>
      V
    </td>
    <td>
      E
    </td>
    <td>
      R
    </td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td>
      M
    </td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      S
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      F
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      J
    </td>
    <td>
      A
    </td>
    <td>
      M
    </td>
    <td>
      E
    </td>
    <td>
      S
    </td>
    <td>
      J
    </td>
    <td>
      I
    </td>
    <td>
      M
    </td>
    <td>
      M
    </td>
    <td>
      Y
    </td>
    <td>
      S
    </td>
    <td>
      A
    </td>
    <td>
      U
    </td>
    <td>
      E
    </td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      J
    </td>
    <td>
      O
    </td>
    <td>
      S
    </td>
    <td>
      E
    </td>
    <td>
      P
    </td>
    <td>
      H
    </td>
    <td>
      C
    </td>
    <td>
      W
    </td>
    <td>
      H
    </td>
    <td>
      I
    </td>
    <td>
      T
    </td>
    <td>
      N
    </td>
    <td>
      E
    </td>
    <td>
      Y
    </td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      F
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      L
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      P
    </td>
    <td>
      E
    </td>
    <td>
      T
    </td>
    <td>
      E
    </td>
    <td>
      R
    </td>
    <td>
      M
    </td>
    <td>
      M
    </td>
    <td>
      O
    </td>
    <td>
      R
    </td>
    <td>
      A
    </td>
    <td>
      N
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      N
    </td>
    <td class="white"></td>
    <td>
      J
    </td>
    <td>
      O
    </td>
    <td>
      S
    </td>
    <td>
      E
    </td>
    <td>
      P
    </td>
    <td class="red">
      H
    </td>
    <td>
      P
    </td>
    <td>
      D
    </td>
    <td>
      I
    </td>
    <td>
      L
    </td>
    <td>
      W
    </td>
    <td>
      O
    </td>
    <td>
      R
    </td>
    <td>
      T
    </td>
    <td>
      H
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      B
    </td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      N
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      U
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      C
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      C
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      J
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      W
    </td>
    <td>
      I
    </td>
    <td>
      L
    </td>
    <td>
      L
    </td>
    <td>
      I
    </td>
    <td>
      A
    </td>
    <td>
      M
    </td>
    <td>
      F
    </td>
    <td>
      F
    </td>
    <td>
      U
    </td>
    <td>
      R
    </td>
    <td>
      T
    </td>
    <td>
      A
    </td>
    <td>
      D
    </td>
    <td>
      O
    </td>
    <td>
      S
    </td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      H
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      N
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      S
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      N
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      N
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      S
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      G
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      J
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td>
      J
    </td>
    <td class="white"></td>
    <td>
      D
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      E
    </td>
    <td>
      D
    </td>
    <td>
      W
    </td>
    <td>
      A
    </td>
    <td>
      R
    </td>
    <td>
      D
    </td>
    <td>
      F
    </td>
    <td>
      K
    </td>
    <td>
      E
    </td>
    <td>
      L
    </td>
    <td>
      L
    </td>
    <td>
      Y
    </td>
    <td>
      E
    </td>
    <td>
      S
    </td>
    <td>
      Q
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      K
    </td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      F
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      N
    </td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      L
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="purple">
      P
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      S
    </td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      K
    </td>
    <td class="white"></td>
    <td>
      S
    </td>
    <td class="white"></td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      H
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      J
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      L
    </td>
    <td class="white"></td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td>
      W
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      M
    </td>
    <td>
      A
    </td>
    <td>
      R
    </td>
    <td>
      K
    </td>
    <td>
      S
    </td>
    <td>
      A
    </td>
    <td>
      N
    </td>
    <td>
      D
    </td>
    <td>
      M
    </td>
    <td>
      A
    </td>
    <td>
      N
    </td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td>
      C
    </td>
    <td class="white"></td>
    <td>
      D
    </td>
    <td class="white"></td>
    <td>
      P
    </td>
    <td class="white"></td>
    <td>
      J
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      F
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      B
    </td>
    <td class="white"></td>
    <td>
      D
    </td>
    <td class="white"></td>
    <td>
      H
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      T
    </td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td>
      L
    </td>
    <td class="white"></td>
    <td>
      I
    </td>
    <td class="white"></td>
    <td>
      H
    </td>
    <td class="white"></td>
    <td>
      D
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      S
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td>
      W
    </td>
    <td class="white"></td>
    <td>
      N
    </td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td>
      H
    </td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      V
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      C
    </td>
    <td class="white"></td>
    <td>
      I
    </td>
    <td class="white"></td>
    <td>
      L
    </td>
    <td class="white"></td>
    <td>
      B
    </td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      J
    </td>
    <td>
      O
    </td>
    <td>
      H
    </td>
    <td>
      N
    </td>
    <td>
      P
    </td>
    <td>
      H
    </td>
    <td>
      I
    </td>
    <td>
      L
    </td>
    <td>
      I
    </td>
    <td>
      P
    </td>
    <td>
      S
    </td>
    <td>
      O
    </td>
    <td>
      U
    </td>
    <td>
      S
    </td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td>
      M
    </td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td>
      O
    </td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td>
      F
    </td>
    <td class="white"></td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td>
      U
    </td>
    <td class="white"></td>
    <td>
      B
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      S
    </td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td>
      G
    </td>
    <td class="white"></td>
    <td>
      B
    </td>
    <td class="white"></td>
    <td>
      M
    </td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      N
    </td>
    <td class="white"></td>
    <td>
      F
    </td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td>
      D
    </td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      C
    </td>
    <td class="white"></td>
    <td>
      D
    </td>
    <td class="white"></td>
    <td>
      I
    </td>
    <td class="white"></td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td>
      A
    </td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      D
    </td>
    <td class="white"></td>
    <td>
      I
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      G
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      J
    </td>
    <td>
      O
    </td>
    <td>
      S
    </td>
    <td>
      E
    </td>
    <td>
      P
    </td>
    <td>
      H
    </td>
    <td>
      L
    </td>
    <td>
      R
    </td>
    <td>
      O
    </td>
    <td>
      B
    </td>
    <td>
      E
    </td>
    <td>
      R
    </td>
    <td>
      T
    </td>
    <td>
      S
    </td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      N
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      S
    </td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      Y
    </td>
    <td class="white"></td>
    <td>
      S
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      U
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      L
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      J
    </td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td>
      S
    </td>
    <td class="white"></td>
    <td>
      T
    </td>
    <td class="white"></td>
    <td>
      E
    </td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      D
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      F
    </td>
    <td>
      R
    </td>
    <td>
      E
    </td>
    <td>
      D
    </td>
    <td>
      E
    </td>
    <td>
      R
    </td>
    <td>
      I
    </td>
    <td>
      C
    </td>
    <td>
      K
    </td>
    <td>
      K
    </td>
    <td>
      I
    </td>
    <td>
      L
    </td>
    <td>
      F
    </td>
    <td>
      O
    </td>
    <td>
      Y
    </td>
    <td>
      L
    </td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      I
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td>
      D
    </td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td>
      C
    </td>
    <td class="white"></td>
    <td>
      C
    </td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      L
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td>
      Y
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      V
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td>
      N
    </td>
    <td class="white"></td>
    <td>
      Q
    </td>
    <td class="white"></td>
    <td>
      O
    </td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      B
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      M
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      I
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="blue">
      U
    </td>
    <td class="white"></td>
    <td>
      G
    </td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      I
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      I
    </td>
    <td class="white"></td>
    <td>
      W
    </td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td>
      N
    </td>
    <td>
      N
    </td>
    <td>
      M
    </td>
    <td>
      A
    </td>
    <td>
      R
    </td>
    <td>
      I
    </td>
    <td>
      E
    </td>
    <td>
      S
    </td>
    <td>
      A
    </td>
    <td>
      R
    </td>
    <td>
      C
    </td>
    <td>
      H
    </td>
    <td class="orange">
      I
    </td>
    <td>
      O
    </td>
    <td>
      N
    </td>
    <td>
      I
    </td>
    <td class="white"></td>
    <td>
      I
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      C
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      N
    </td>
    <td class="white"></td>
    <td>
      E
    </td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      Y
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      V
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="yellow">
      K
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      T
    </td>
    <td class="white"></td>
    <td>
      L
    </td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      L
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      I
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      B
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td>
      L
    </td>
  </tr>
  <tr>
    <td>
      J
    </td>
    <td>
      O
    </td>
    <td>
      S
    </td>
    <td>
      E
    </td>
    <td>
      P
    </td>
    <td>
      H
    </td>
    <td>
      V
    </td>
    <td>
      E
    </td>
    <td>
      R
    </td>
    <td>
      S
    </td>
    <td>
      A
    </td>
    <td>
      C
    </td>
    <td>
      K
    </td>
    <td>
      A
    </td>
    <td>
      S
    </td>
    <td>
      S
    </td>
    <td>
      R
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      N
    </td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      V
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      S
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      W
    </td>
    <td>
      I
    </td>
    <td>
      L
    </td>
    <td>
      L
    </td>
    <td>
      I
    </td>
    <td>
      A
    </td>
    <td>
      M
    </td>
    <td>
      V
    </td>
    <td>
      E
    </td>
    <td>
      R
    </td>
    <td>
      A
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td>
      E
    </td>
    <td class="white"></td>
    <td>
      R
    </td>
    <td>
      O
    </td>
    <td>
      B
    </td>
    <td>
      E
    </td>
    <td>
      R
    </td>
    <td>
      T
    </td>
    <td>
      R
    </td>
    <td>
      S
    </td>
    <td>
      U
    </td>
    <td>
      T
    </td>
    <td>
      H
    </td>
    <td>
      E
    </td>
    <td>
      R
    </td>
    <td>
      L
    </td>
    <td>
      A
    </td>
    <td>
      N
    </td>
    <td>
      D
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      S
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td>
      L
    </td>
    <td>
      U
    </td>
    <td>
      I
    </td>
    <td>
      G
    </td>
    <td>
      I
    </td>
    <td>
      T
    </td>
    <td>
      O
    </td>
    <td>
      T
    </td>
    <td>
      I
    </td>
    <td>
      N
    </td>
    <td>
      O
    </td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
    <td class="white"></td>
  </tr>
</table>
{% endblock %}
